[2021-03-11 17:19] Bobgy commented on #2536
Sounds reasonable to me!

@joeliedtke what do you think about it?

[2021-03-11 17:29] andreyvelich commented on #2536
Just to make a point that `Frameworks for Training` is the core Kubeflow component we should include this in `Components/Core Components`
Besides that, I agree with the Proposal.

cc @kubeflow/wg-training-leads

[2021-03-11 18:49] terrytangyuan commented on #2536
"confused about what is actually part of Kubeflow" - I guess I am more confused after this is splitted into two parts. Is there a definition for being "part" of Kubeflow? Is there a process in place to "graduate" a project to be "part" of Kubeflow? Aren't Kubeflow WGs formed by the community too and the word "Community Components" is confusing?

Should Metadata be removed or moved to the second pa

[2021-03-11 23:00] jbottum commented on #2536
suggestion - if we are going to classify a components as a "core component", then it probably needs to have higher level of support i.e. owned by an active working group, have a roadmap, supporting a stable version (or driving to a stable version per the KF stable definition), and active users.

[2021-03-12 00:48] thesuperzapper commented on #2536
@terrytangyuan as proposed above, "Core Components" are anything owned by a working group, whereas "Community Components" are anything which is related to Kubeflow, but not owned by the project WGs.

NOTE: we could call then "Contrib Components", to make this more clear.

NOTE: you can see what each WG owns by checking "subprojects" under [wgs.yaml](https://github.com/kubeflow/community/blob/maste

[2021-03-12 08:27] llhuii commented on #1611
ksonnect can't support k8s with version >= v1.16.0:
1. v1.16.0/v1.7.0 with a lot memory consuming and 100%cpu, can't exit within a minute.
2. `>=v1.18.0` reports the error ` 'No Major.Minor.Patch elements found'` due to this ks8 [commit](https://github.com/kubernetes/kubernetes/pull/84654) set version to `unversioned` in [k8s.io/api/openapi-spec/swagger.json](k8s.io/api/openapi-spec/swagger.json).

[2021-03-12 14:28] RFMVasconcelos commented on #2537
That is a good point @Bobgy, I had this in mind not exactly for this current refactor, where the changes are `mv`, which (point taken) need root approval anyway.

I was thinking that with this we would have one more layer of OWNERs to review and approve changes long-term, off-loading root, but I'm ok with having these changes run by root and have OWNERs for every individual component - there are a

[2021-03-15 10:50] RFMVasconcelos commented on #2522
One potential path to get this done is:
1. Create a generic gmail address e.g. `kubeflow-docs-tracking@gmail.com`
2. Provide credentials of this account to a few leads in the community
3. Generate a tracking code from the new GA account
4. Make a PR that adds this code to the website
5. Provide view access to community members upon request

I'm happy to proceed if the community feels this is the w

[2021-03-16 10:15] RFMVasconcelos commented on #2535
The PR for this has been merged! 🎉

/close

[2021-03-16 10:15] #2535 closed

[2021-03-16 12:17] sjaek opened #2541 "On-premise documentation for Multi-user Isolation for Pipelines"
Please document how to connect top authenticated pipeline api without google cloud in on-premise full kubeflow install.
[code]

[2021-03-16 15:18] andreyvelich commented on #2516
@terrytangyuan @gaocegege @johnugeorge @ChanYiLin @Jeffwan What should we do with the docs for the Kubeflow 1.3 release ?
Does anyone have enough time to update them on this week ?

[2021-03-16 21:30] ulrikpl opened #2545 "Little error in guide"
"Setting up a management cluster" step #2

`cd "${MGMT_DIR}"`

In order to work it has to be:

`cd "${MGMT_DIR}"/management`

Since the previous step downloads ${MGMT_DIR}"/management:
`kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management@v1.2.0 "${MGMT_DIR}"`

[2021-03-16 21:55] 8bitmp3 commented on #2545
Hi @ulrikpl Thanks for flagging this. Is the guide you're referring to this one: [Management cluster setup](https://www.kubeflow.org/docs/gke/deploy/management-setup/#setting-up-a-management-cluster)? (source: https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/management-setup.md)

/assign  @Bobgy joeliedtke rmgogogo
(team GCP)

[2021-03-16 23:41] ulrikpl commented on #2545
Yes that's the one. The same error repeats in the Deploy using kubectl and
kpt <https://www.kubeflow.org/docs/gke/deploy/deploy-cli/> section, under

"Fetch packages using kpt" :
    2) Change to the Kubeflow directory:
        cd "${KF_DIR}"

Since the previous step downloads to "${KF_DIR}"/kubeflow
kpt pkg get ***@***.***
"${KF_DIR}"

On Tue, Mar 16, 2021 at 10:56 PM 8bitmp3 ***@***.***> wrote:

[2021-03-17 06:48] Bobgy opened #2546 "Kubeflow 1.3 release doc updates"
Creating an issue to track updates preparing for Kubeflow 1.3 doc release.

[2021-03-17 06:49] Bobgy commented on #2546
I'm following https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#lifecycle.

I just forked current master branch as `v1.2-branch`, and pinned www.kubeflow.org to `v1.2-branch`.
It's OK to move forward with large changes preparing for the next release now.

[2021-03-17 06:49] Bobgy commented on #2546
/cc @joeliedtke @RFMVasconcelos

[2021-03-17 07:02] Bobgy commented on #2545
@ulrikpl thanks, it does need some improvement.

For clarification, when you specify `MGMT_DIR=~/xxxx/management`, (the last folder is exactly `management`).

then there won't be an extra `management` folder created in `${MGMT_DIR}/management`

[2021-03-17 12:15] RFMVasconcelos commented on #2546
Thank you for taking on this work @Bobgy !

[2021-03-17 18:06] RFMVasconcelos commented on #2546
I have just created #2547 #2548 #2549 #2550 #2551 to move all `platforms` under `distributions`

cc @Bobgy @joeliedtke @animeshsingh @8bitmp3 @yanniszark

[2021-03-18 01:37] strangemonad opened #2553 "Comment on the Tools for Serving overview"
I understand that the Kubeflow project aims to be somewhat agnostic about the different solutions. It would be useful to have some guidance around KFServing roadmap or goals and how it relates to in more detail to Seldon Core

[2021-03-18 15:12] ulrikpl opened #2554 "Depricated GCE Flag warning / KF 1.2 install on GCP"
Can this cause issues with the install? Haven't succeeded yet in installing KF1.2 on GCP due to istio-system containers not running.

Also the output "reconcile iam.cnrm.cloud.google.com/IAMPolicyMember cnrm-system-MANAGED_PROJECT-owner" makes me doubt if the ${MANAGED_PROJECT} environment variable has been correctly expanded.

`$gcloud beta anthos apply ./instance/managed-project/iam.yaml`

`Star

[2021-03-18 21:40] ulrikpl opened #2555 "Kustomize version in link doesn't work"
The link to download kustomize will download the latest version. That is now v4 and didn't work for me.

v3.2.1 still works, so that is what I used:

`sudo wget https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv3.2.1/kustomize_kustomize.v3.2.1_linux_amd64 -O /usr/local/bin/kustomize`

[2021-03-21 09:54] thesuperzapper commented on #2489
@RFMVasconcelos hey, it seems like only some distributions (AWS, Operator) were moved with PR https://github.com/kubeflow/website/pull/2492, what are the plans to move the others under "Distributions" (Azure, GCP, IBM Cloud)?

[2021-03-21 10:51] RFMVasconcelos commented on #2489
@thesuperzapper there is one PR per distribution - #2547 #2548 #2549 #2550. I've left some time for these to be viewed by all the leads. I believe we'll be able to merge them all tomorrow.

[2021-03-22 11:48] sasi-patha opened #2559 "Best Practices for Designing Components"
https://www.kubeflow.org/docs/components/pipelines/sdk/best-practices/

Its not clear if container using PVC violates - Components must be pure.
Does mounting a PVC using VolumeOp qualify as container accessing data locally.
Please clarify.

[2021-03-23 07:49] sohailanjum97 opened #2561 "Overview of Deployment on an Existing Kubernetes Cluster"
https://www.kubeflow.org/docs/started/k8s/overview/

as per the documentation the kubernetes 1.20 is not compatible with all the versions of kubeflow. Does anyone tested already if yes  suggest me something.
Do I need to reinstall the kubernetes cluster and go to kubernetes version 1.14.? or is there any other solution like anyone tested any version of kubeflow with kubernetes 1.20.

[2021-03-23 13:40] #2520 closed

[2021-03-24 01:55] thesuperzapper opened #2564 "Make v1.2 selectable on the version drop-down"
Currently, you cannot select the v.1.2 docs branch on https://www.kubeflow.org/
![Screen Shot 2021-03-24 at 12 48 49](https://user-images.githubusercontent.com/5735406/112242388-e08da500-8c9f-11eb-9462-9d811133b130.png)

Additionally, think we should make the default branch `master` as soon as possible (and leave `master` as default until 1.4 is about to be released). This will mean that the "dist

[2021-03-24 01:55] thesuperzapper commented on #2564
/cc @RFMVasconcelos @Bobgy

[2021-03-24 01:56] thesuperzapper commented on #2564
What are your thoughts @RFMVasconcelos @Bobgy?

[2021-03-24 02:27] thesuperzapper commented on #2536
@RFMVasconcelos I think we should try do this before the 1.3 distributions are finalised (6th April 2021)

## My final structure proposal
(NOTE: I think "External Components" is more clear than "Community Components")

[code]
[code]

[2021-03-24 02:43] thesuperzapper opened #2565 "Move "Workstation Installation" under "Distributions""
Currently, there is a confusing "Workstation Installation" page under "Getting Started" containing docs for the `MiniKF` and `MicroK8S Add-on` distributions.

Clearly they cannot be treated as special, and should be moved to "Distributions".

### Proposed structure (to split them up):

[code]

[2021-03-24 02:43] thesuperzapper commented on #2565
@RFMVasconcelos @Bobgy what do you think about moving "Workstation Installation" under "Distributions"?

[2021-03-24 02:51] thesuperzapper opened #2566 "Move "Minimum system requirements" into "Installing Kubeflow""
Currently there are two pages under `Getting Started` which provide general information about installing kubeflow, `Getting Started / Installing Kubeflow` and `Getting Started / Kubernetes Installation`.

I propose we move `Minimum system requirements` (a heading in `Installing Kubeflow / Kubernetes Installation`) to the `Getting Started / Installing Kubeflow` file.

Otherwise we have information

[2021-03-24 03:06] thesuperzapper opened #2567 "Move "Kubernetes Installation" under "Distributions""
Currently there is a confusingly named `Kubernetes Installation` section under `Getting Started`, which contains ​information about the "Vanilla Istio-Dex" distribution.

In the interest of not treaing it any differnt to the other distributions, it should be moved under "Distributions / kfctl".

## propsoed structure is
[code]

[2021-03-24 03:06] thesuperzapper commented on #2566
This is not the right approach, please see https://github.com/kubeflow/website/issues/2567 for a better proposal.

[2021-03-24 03:06] #2566 closed

[2021-03-24 03:07] thesuperzapper commented on #2567
What are your thoughts @RFMVasconcelos @Bobgy?

[2021-03-24 03:09] thesuperzapper commented on #2567
/project 2

[2021-03-24 03:13] thesuperzapper commented on #2489
I created some issues about moving a few stragglers to the new "Distributions" folder:
- https://github.com/kubeflow/website/issues/2565
- https://github.com/kubeflow/website/issues/2567

[2021-03-24 03:13] thesuperzapper commented on #2489
@RFMVasconcelos I created some issues about moving a few stragglers to the new "Distributions" folder:

#2565
#2567

[2021-03-24 04:12] thesuperzapper commented on #2546
@RFMVasconcelos before we close this, I think we should make https://www.kubeflow.org/ default to master branch, as there is nothing 1.3 specific in master, (and it is much better structured).

Also we should resolve the issue about not having `v1.2` in the dropdown (https://github.com/kubeflow/website/issues/2564)

[2021-03-24 04:59] thesuperzapper opened #2568 "Version dropdown not visible on Mobile Chrome"
Currently the version dropdown is not visible on Mobile Chrome (even in desktop mode)

![Screenshot_20210324-154130](https://user-images.githubusercontent.com/5735406/112258036-ea240680-8cb9-11eb-8234-0a81e31533ae.png)

[2021-03-24 09:43] RFMVasconcelos commented on #2565
@thesuperzapper I agree that both `MiniKF` and `MicroK8s` docs should live under distributions (this was part of my initial [proposal](https://github.com/kubeflow/community/pull/440/files)).

In my view `Getting Started` should be a guide that maps to distributions. Today,

   - Kubeflow on Linux
   - Kubeflow on macOS
   - Kubeflow on Windows

map to a few distributions `MicroK8s`, `MiniKF`, `Min

[2021-03-24 09:44] RFMVasconcelos commented on #2565
I am happy to move both `MicroK8s` and `MiniKF` to distributions :)

We then can think of what to do with those lists of `Kubeflow on X`

[2021-03-24 09:57] RFMVasconcelos commented on #2564
@thesuperzapper this is part of the [docs release process](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website). I will follow these steps to have Kubeflow.org point to `master` and there will be `v1.2` in the selector.

This is a state in transition. When we point it to Master (by EOW latest) this will be resolved.

[2021-03-24 10:14] RFMVasconcelos commented on #2546
@thesuperzapper this is part of the [docs release process](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website). I will follow these steps to have Kubeflow.org point to master and there will be v1.2 in the selector.

This is a state in transition. When we point it to `master` (by EOW latest) this will be resolved.

[2021-03-24 10:15] RFMVasconcelos commented on #2565
WDYT?

[2021-03-24 16:41] RFMVasconcelos commented on #2567
@thesuperzapper I fully agree with this, it is an overview of `kfctl`.

It includes a compatibility table which we might want to move to a more central place.

[2021-03-24 17:02] RFMVasconcelos commented on #2546
In fact, trying to do this now I realize this is [done on Netlify](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#changing-the-version-wwwkubefloworg-points-to) which I have not played with yet, I am not sure this is googlers only. I think @Bobgy did this for us in the previous release.

I think the best thing to do is for me to get the `master branch` ready to be pointed t

[2021-03-24 17:03] RFMVasconcelos commented on #2546
Sounds good @Bobgy ?

[2021-03-24 23:47] thesuperzapper commented on #2565
@RFMVasconcelos if your willing to make the PR, I am willing to review!

[2021-03-24 23:52] thesuperzapper commented on #2546
I think we can try and resolve https://github.com/kubeflow/website/issues/2536 before doing the master switch.

If your willing to make a PR @RFMVasconcelos?

[2021-03-24 23:54] thesuperzapper commented on #2522
@RFMVasconcelos can you add this issue to the 1.3 project https://github.com/kubeflow/website/projects/2

If you think it makes sense? Having analytics will definitely help us prioritise the docs, which I imagine will get more traffic after 1.3.

[2021-03-24 23:54] thesuperzapper commented on #2522
Wait, its already there, lol.

[2021-03-25 10:18] RFMVasconcelos commented on #2567
Solved in #2569

[2021-03-25 10:18] #2567 closed

[2021-03-25 10:57] RFMVasconcelos commented on #2511
This has been embedded into every single PR instead of being done as a group.

[2021-03-25 10:57] #2511 closed

[2021-03-25 11:04] RFMVasconcelos commented on #2565
@thesuperzapper definitely willing to do this :) I can only commit to early next week though, a bit oversubscribed until EOW. I suggest we don't block the pointing to master based on this. Does this sound reasonable?

[2021-03-25 11:05] RFMVasconcelos commented on #2565
I will try to get it done before!

[2021-03-25 13:04] drPytho opened #2570 "Deploy using kubectl and kpt"
https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#install-the-required-tools

Says that

Since the [13th of Feb Kubeflow 4.0.0  was released](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.0.0) and does not seem to be working.

Would suggest updating the doc to represent this.

[2021-03-25 13:11] SaschaHeyer commented on #2570
agree with @drPytho
https://github.com/kubeflow/kubeflow/issues/5755

[2021-03-25 14:12] RFMVasconcelos commented on #2522
Yes, I made this suggestion 10 days ago, and put it on the project, but did not act on it yet. @castrojo was having discussions with Google on this regard I believe. Any news?

[2021-03-25 14:56] cvenets commented on #2565
This sounds good to me as well for MiniKF. I would propose the following wording on the titles to be accurate and easily consumable by end users:

[code]

[2021-03-25 15:25] RFMVasconcelos commented on #2565
@cvenets I like it, my only concern is:
`(via the Marketplace)` adds clarity but will wrap. Maybe we can add it in the subtitle?

I will ask our `MicroK8s` lead regarding the second one :)

[2021-03-25 17:45] cvenets commented on #2565
Maybe the following then?

[code]

[2021-03-27 00:07] Bobgy commented on #2565
Totally agree with you!

[2021-03-27 00:17] Bobgy commented on #2564
@RFMVasconcelos is right on this. Let's track on the main issue https://github.com/kubeflow/website/issues/2546

[2021-03-27 00:17] #2564 closed

[2021-03-27 00:19] Bobgy commented on #2546
Sure, for any netlify related steps. You can ping @joeliedtke or me about them.

[2021-03-29 09:06] RFMVasconcelos commented on #2546
Given the ETA for [release process](https://github.com/kubeflow/manifests/issues/1777) » Step 6: Tuesday, EOD 2021-04-06 [Pacific Time]

Should we aim at pointing the docs to `master` at that same time? And push to have as many improvements as possible by then?

@joeliedtke would you be able to make the necessary netlify changes by then?

thoughts? @Bobgy @thesuperzapper @yanniszark @8bitmp3 @anim

[2021-03-29 09:11] RFMVasconcelos commented on #2486
This is very well addressed by #2536. Closing this proposal.

/close

[2021-03-29 09:11] #2486 closed

[2021-03-29 09:13] Bobgy commented on #2546
IIUC, I think we need to wait for at least most distributions are ready with their docs, so it will very likely be a later time than that date

[2021-03-29 09:15] Bobgy commented on #2536
Another naming proposal

What do you think about "components" vs "contrib"? I think shorten to one word and not reuse the term component makes it clearer

[2021-03-29 09:21] RFMVasconcelos commented on #2536
I very much like your last proposal @thesuperzapper and I'm happy to make a PR on it.

A few possible changes:
[code]
External add-ons
- Istio
   - ... same as before ...
- Tools for Serving
   - ... same as before ...
- Feature Store
   - ... same as before ...
[code]

[2021-03-29 09:28] RFMVasconcelos commented on #2546
That is a good point @Bobgy!

It does raise some concerns - what if distribution X does not have the resources to update docs within the next months? In the past we added the "Outdated" banners to guide users to what docs are outdated, while not freezing improvements.

I think that the current `v1.2-branch` is now at a worse state than `master`, so pointing docs to `master` would IMO add value to

[2021-03-29 09:29] thesuperzapper commented on #2536
@RFMVasconcelos looks good to me

[2021-03-29 09:30] Bobgy commented on #2536
Multi-Tenancy [moved]
I'd suggest keeping it as a component, because pipelines, notebooks and central dashboard are all implementing the same convention for multi tenancy

[2021-03-29 09:36] RFMVasconcelos commented on #2536
If everyone agrees, I can make a PR with these changes then:

[code]
[code]

[2021-03-29 09:36] RFMVasconcelos commented on #2536
Any ideas on what to do with `Fairing`?

[2021-03-29 18:29] Jeffwan commented on #2536
+1 agree.

[2021-03-29 23:28] thesuperzapper commented on #2536
@RFMVasconcelos just leave it under "core" for now, there is no reason to presume a decision on fairing.

[2021-03-29 23:30] thesuperzapper commented on #2536
@RFMVasconcelos while fairing would not meet the definition of being owed by a working group, I think it's probably inevitable that one will be formed. Therefore, it makes sense to leave it under core for now.

[2021-03-29 23:42] thesuperzapper commented on #2546
@Bobgy We should aim to point the docs at `master` on or before "Step 6" `EOD 2021-04-06 [Pacific Time]`

Note that "Step 6" is the offical release for Kubeflow 1.3 (From the OSS community perspective), as after that date a distribution could release Kubeflow 1.3 to their users. (There is no reason to penalise the faster distributions if the slow ones aren't ready)

Also, there is a case to point

[2021-03-29 23:49] terrytangyuan commented on #2536
Looks great!

[2021-03-29 23:53] thesuperzapper commented on #2536
@terrytangyuan can you clarify if you were refering to the (`Core Components` and `External Components`) names, or (`Components` and `External add-ons`)

[2021-03-29 23:55] thesuperzapper commented on #2536
@RFMVasconcelos also, I think `Notebook Servers` should be called `Kubeflow Notebooks` for the same reasons as `Kubeflow Pipelines` is called that. (Given the name Notebook Servers is ambiguous)

[2021-03-30 12:56] terrytangyuan commented on #2536
I meant `Training Operators [rename from "Frameworks for Training"]` and (`Components` and `External add-ons`).

[2021-03-30 14:18] RFMVasconcelos commented on #2565
@cvenets, just made a PR with the naming you suggested for MiniKF » #2576, please review so it is aligned with your messaging :)

[2021-03-30 16:59] RFMVasconcelos commented on #2489
Given that only #2565 is missing, let's track it there.

/close

[2021-03-31 08:00] thesuperzapper commented on #2536
@Bobgy I strongly believe multi-tenancy should live under "Central Dashboard" as it's clearly not a "Component" but a "feature", and that feature is clearly related to the "Central Dashboard".

[2021-03-31 08:07] Bobgy commented on #2546
I don't understand the benefit, at that date, no distribution is ready to release and there can be issues found that require a rc1. Why would that be a date to switch to master branch?

I love the improvements in master branch, but as they are mostly information restructuring, I don't feel the urgency to release them. Can we wait until most of the next release is ready?

I think it's reasonable to

[2021-03-31 08:23] thesuperzapper commented on #2546
@Bobgy I think it's just semantics, as some of the smaller distributions will be ready in the first few days.

This is the same as how Kuberntes does not delay their release if GKE is not ready (just as an example, not picking on GKE).

Furthermore we would have to open the debate of what a "distribution" even means, as we have no validation process right now, which is not really a discussion we n

[2021-03-31 08:45] Bobgy commented on #2546
Can I confirm if we align on this?
Doc switch to master should happen after manifests cut 1.3.0 tag.

[2021-03-31 09:39] RFMVasconcelos commented on #2546
@Bobgy I agree that docs should only be released once people can use them in the equivalent release.

I think this problem arrives from the fact that we're synchronizing a docs release with a docs restructuring, and so by holding off both, we keep users in a non-optimal information structure when we have a better alternative.

I don't see urgency in pointing to master from the docs release, but I

[2021-03-31 15:03] kimwnasptd commented on #2536
I would also agree with @RFMVasconcelos and prefer to stick with `Noteook servers` for now, since this sections describe how people can run Notebook servers on Kubeflow. I think that adding a Kubeflow prefix in-front will promote the notion that some Notebooks are Kubeflow while others are not.

Also regarding `Tensorboard` and `Volume Management`, I also believe that these should not be placed in

[2021-04-05 17:38] terrytangyuan commented on #2516
I can help update some of the pages for operators this week too if needed.

[2021-04-06 09:45] thesuperzapper commented on #2565
@RFMVasconcelos while we have merged https://github.com/kubeflow/website/pull/2577, what are we going to do with the remaining sections under "Getting Started"/"Workstation Installation":
`Kubeflow on Linux`, `Kubeflow on macOS`, `Kubeflow on Windows`

[2021-04-06 09:47] thesuperzapper commented on #2546
@RFMVasconcelos @Bobgy I think its probably OK to move to point at `master` now, mostly as there is very little `1.3` specific docs, but the structure is MUCH better.

[2021-04-06 09:49] thesuperzapper commented on #2536
@RFMVasconcelos sounds like your proposal is a GO then, as stated in your comment https://github.com/kubeflow/website/issues/2536#issuecomment-809232345

[2021-04-06 11:58] RFMVasconcelos commented on #2565
@thesuperzapper thank you for pointing this out!

In my opinion, the next step is to refactor the [getting started page](https://www.kubeflow.org/docs/started/getting-started/). There has been some initial work on this [here](https://github.com/kubeflow/website/issues/2293), but we kind of left it for later.

Having now a good list of distributions, we can create the right map for them as "Getting

[2021-04-06 12:00] RFMVasconcelos commented on #2516
This has been tackled in #2584

/close

[2021-04-06 12:00] #2516 closed

[2021-04-06 12:07] RFMVasconcelos commented on #2546
+1 ! :)

[2021-04-06 12:15] RFMVasconcelos commented on #2536
I am OOO this week, but I will be back next Monday and will make a PR, if that's ok.

[2021-04-06 12:24] thesuperzapper commented on #2536
@RFMVasconcelos As always, contributing is a volunteer thing, and I appreciate your effort, it has massively improved the docs for the community!

[2021-04-06 15:47] Bobgy commented on #2546
What do you think about merging master to v1.2 branch? If the restructuring is what you care about

[2021-04-06 23:07] thesuperzapper commented on #2546
@Bobgy this is a good idea, we should probably just take `master`'s commits and put them into `v.1.2`

[2021-04-07 12:50] Dimiftb opened #2587 "Edit dex-auth parameters in the KfDef File"
Hi everyone,

I'm new to Kubernetes and Kubeflow. I've got a question regarding installing Kubeflow from this guide: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

In particular this bit:

<img width="847" alt="image" src="https://user-images.githubusercontent.com/26279721/113868519-a8aa5580-97a7-11eb-806a-467cfda3829e.png">

It says if default credentials need to be changed to edit t

[2021-04-07 12:57] yanniszark commented on #2587
Hi @Dimiftb! This particular installation (`kfctl_istio_dex`) is not supported by any party in 1.2.
I would recommend trying out the instructions for Kubeflow 1.3 Release Candidate here: https://github.com/kubeflow/manifests/tree/v1.3.0-rc.0#readme

[2021-04-07 14:18] Dimiftb commented on #2587
Hi @yanniszark,

Thank you very much. This new way to install components seems so much easier. One thing that's unclear to me, though is when I try to install the Kubeflow components here:

<img width="860" alt="image" src="https://user-images.githubusercontent.com/26279721/113881343-40ae3c00-97b4-11eb-96e5-9fcdffd6212f.png">

I get:

<img width="286" alt="image" src="https://user-images.githubuse

[2021-04-08 15:01] imrehg opened #2588 "Lot of linkrot on the model serving overview page"
Most of the KFServing sample links are not at the given location anymore and need updating.
https://www.kubeflow.org/docs/components/serving/overview/

[2021-04-08 15:46] Dimiftb commented on #2587
For anyone else wondering until they update the docs.

You can simply clone repository, then

since kustomize v4.0 flags are different:

`--load_restrictor` becomes `--load-restrictor` and `none` becomes `LoadRestrictionsNone`

E.G. `kustomize build --load-restrictor=LoadRestrictionsNone common/kubeflow-roles/base | kubectl apply -f -`

I'm closing this now, appreciate your help @yanniszark.

[2021-04-08 15:46] #2587 closed

[2021-04-08 21:10] ulrikpl opened #2589 "KFServing docs are impossible to follow"
I am walking through the README.md as it appears to me with all the inconsistencies, confusion and dead ends that meets me as a KFServing newbie failing to set it up for even a demo project. Forgive me for playing devils advocat, I know it is open source and people do it for free, but these are frustrations and confusions that I think many users meet when failing to get this to work. So if nothing

[2021-04-08 23:20] cvenets commented on #2565
@RFMVasconcelos I agree completely with you. Now that we moved everything under distributions the `Workspace Installation` section should just be removed. It is completely redundant, independently of what we do with the "Getting Started" page.

Also, now that we've fixed the distributions section and we also have instructions from the Manifests WG, IMHO the "Getting Started" page (https://master.k

[2021-04-09 00:51] thesuperzapper opened #2590 "Refactor the "Getting Started" "Installing Kubeflow" page"
As we have been moving all distribution-specific docs out of "Getting Started" with PRs like #2576, #2577, #2569, #2492, we should now clean up the first place people look when trying to install Kubeflow.

As proposed by @cvenets [here](https://github.com/kubeflow/website/issues/2565#issuecomment-816296338) we should clearly indicate the two "paths" for installing Kubeflow:
1. __Roll your own__ --

[2021-04-09 00:52] thesuperzapper commented on #2565
@RFMVasconcelos @cvenets I have raised a new proposal for the "Getting Started"/"Installing Kubeflow" structure.

https://github.com/kubeflow/website/issues/2590

[2021-04-09 03:32] thesuperzapper commented on #2590
@RFMVasconcelos there are quite a lot of renames here, but I think it will make the user experience easier.

I have used `Kubeflow on XXX` for cases were the "distribution" is a guide for using Kubeflow on a platform, and `Kubeflow with XXX` when the "distribution" is a tool for deploying/using kubeflow arbitrarily.

[2021-04-09 10:18] Arhell opened #2592 "white stripe after footer"
![2](https://user-images.githubusercontent.com/26163841/114166107-fc4aa980-9935-11eb-8ce9-74e7b391d65e.jpg)
/assign

[2021-04-09 12:55] thesuperzapper commented on #2589
@kubeflow/wg-serving-leads sounds like you might need to look at your docs!

[2021-04-10 01:41] yuzisun commented on #2589
@ulrikpl Thanks for the feedbacks! The main KFServing doc is more focusing on the standalone KFServing and does not assume you have Kubeflow. If you are using KFServing from Kubeflow install by default you shouldn't  need to install anything extra yourself, but the KFServing/Knative version in Kubeflow is generally a few versions behind and if you are looking to use the latest versions you would n

[2021-04-10 18:35] andrew-veriga opened #2594 "It would be great if the pictures in the documentation could be enlarged"

[2021-04-11 23:32] Dimiftb opened #2596 "Multi-user Isolation automatic profile creation dex authentication"
Hi,

I've got a question regarding the automatic profile creation for Kubeflow dashboard whenever a user logs in for the first time mentioned here: https://v0-7.kubeflow.org/docs/other-guides/multi-user-overview/#automatic-creation-of-profiles

I've installed Kubeflow following the v1.3 release: https://github.com/kubeflow/manifests#installation

If I create the user namespace manually, then every

[2021-04-12 08:59] RFMVasconcelos commented on #2590
Thank you for getting this process started @thesuperzapper! This is going to make things much more clear to users :rocket:

I like the majority of the proposal! Leaving a few comments:

I guess we will keep the title and subtitle (or slightly tweak it) and so `Overview` would fall under this:

![Screenshot from 2021-04-12 10-30-43](https://user-images.githubusercontent.com/27001378/114364918-33a99

[2021-04-12 10:01] RFMVasconcelos commented on #2546
+1. That is a good idea!

[2021-04-12 14:24] RFMVasconcelos commented on #2565
Thank you for your proposals @cvenets and @thesuperzapper ! I have followed-up on #2590.

As per the `Workstation Installation` list, I am happy to remove it, I think we should include some type of guidance of local installation in the new getting started section. I will add this in #2590.

[2021-04-12 15:49] Arhell opened #2597 ""jumping" menu on close"
https://www.kubeflow.org/docs/
![1](https://user-images.githubusercontent.com/26163841/114423428-d9332a80-9bbf-11eb-8f8c-c59ecc5dd188.jpg)
/assign

[2021-04-12 16:11] RFMVasconcelos commented on #2546
Are there any v1.3 specific commits we should cherry-pick out of this move?

If not, I can simply make a PR to merge all the commits currently in `master` to `v1.2-branch`.

[2021-04-12 16:12] RFMVasconcelos commented on #2546
@Bobgy @thesuperzapper WDYT?

[2021-04-12 17:11] Bobgy commented on #2546
I am not aware of anything, +1 to merge branches.

[2021-04-12 20:41] cvenets commented on #2590
@RFMVasconcelos I agree with all your comments above.

I would rename `Kubeflow with MiniKF` to `Kubeflow with Arrikto MiniKF` to denote explicitly who is the vendor supporting the distro, so it is easy for new users. You may want to do the same for Charmed Operators (e.g., Canonical Charmed Operators). For the Platform-specific distros it is evident, so no need to do anything there.

Also, it may

[2021-04-12 22:32] cvenets commented on #2565
Thank you @RFMVasconcelos. Yes, let's remove it to close this issue, and we can discuss the Getting Started page in #2590 then. I've commented as well.

[2021-04-13 14:31] RFMVasconcelos commented on #2590
Looking at my previous proposal + @cvenets comments one option would be:
[code]
@cvenets maybe `Arrikto MiniKF` is shorter and better than `Kubeflow with Arrikto MiniKF`, WDYT?

**// note 1:** I moved MicroK8s from platform-specific to multi-platform, because being a small K8s, it can be run on multiple platforms.
**// note 2:** I think that with the separation of `platform-specific` and `multi-pl

[2021-04-13 14:55] RFMVasconcelos opened #2601 "Blog Posts"
https://www.kubeflow.org/docs/examples/blog-posts/

It seems that we are not pointing to the latest blogs from here. I would suggest a simple link to [Kubeflow blog](https://blog.kubeflow.org/).

[2021-04-13 15:20] akhimji opened #2602 "Broken link on install page"
https://www.kubeflow.org/docs/other-guides/kustomize/#specifying-a-configuration-file-when-initializing-your-deployment

When you install Kubeflow, the deployment process uses one of a few possible YAML configuration files to bootstrap the configuration.  ---> You can see all the configuration files on GitHub. <---

points to  (https://github.com/kubeflow/manifests/tree/master/kfdef)

[2021-04-13 15:57] #2596 closed

[2021-04-13 17:15] Arhell commented on #2602
/assign @Arhell

[2021-04-13 18:49] cvenets commented on #2590
@RFMVasconcelos I agree with all your comments and notes.

Wrt to the issue, I agree as well. The only two ways I can think of are:

1. Add a parenthesis next to the multi-platform items, which will include all the currently supported platforms, e.g.,:
  * `Arrikto MiniKF` (AWS, GCP, laptop/desktop)
  * `MicroK8s Kubeflow add-on (..., ..., ...)
  ...
2. Change "Multi-platform distributions" to "Pl

[2021-04-13 18:49] cvenets commented on #2590
@RFMVasconcelos I agree with all your comments and notes.

Wrt to the issue, I agree as well. The only two ways I can think of are:

1. Add a parenthesis next to the multi-platform items, which will include all the currently supported platforms, e.g.,:
  * `Arrikto MiniKF` (AWS, GCP, laptop/desktop)
  * `MicroK8s Kubeflow add-on (..., ..., ...)
  ...
2. Change "Multi-platform distributions" to "Pl

[2021-04-13 18:54] cvenets commented on #2590
@RFMVasconcelos note that we need to remove the kfctl entry from this page:

* `Kubeflow with kfctl` (Rename from "kfctl" page)

Take a look at https://github.com/kubeflow/website/pull/2604, which @castrojo just provided after today's update on https://github.com/kubeflow/manifests/issues/1798 from vendors, where both Cisco and Arrikto dropped support for kfctl, and thus all corresponding docs bec

[2021-04-14 00:18] thesuperzapper commented on #2590
@RFMVasconcelos
* I agree with splitting on single/multi platform
* I think MiniKF is a Platform-specific one, as its a single VM image on vagrant
* Re letting AWS/GCP users know there are other options, we will just say under "Multi-platform distributions" that these distributions support any existing + compliant K8S cluster

__I think we should call the two paths:__
* Path 1: Roll Your Own
   *

[2021-04-14 01:13] thesuperzapper commented on #2546
@Bobgy +1 definitely lets do this ASAP as it will help users a lot with the better structure

I think you can go ahead and do this @Bobgy

While there are a few more changes pending, we can do them after taking all the current `master` commits into `v1.2-branch`:
* Remove "Workstation Installation": https://github.com/kubeflow/website/issues/2565
* Refactor "Components": https://github.com/kubeflo

[2021-04-14 01:41] thesuperzapper commented on #2565
@RFMVasconcelos @cvenets I have created https://github.com/kubeflow/website/pull/2605, to resolve this (not sure if I should also remove other references to the deleted pages?)

[2021-04-14 05:06] cvenets commented on #2590
@thesuperzapper please note the following:

This isn't really the case, since MiniKF is already available as a VM image on AWS Marketplace, GCP Marketplace, Vagrant Cloud, and will be coming on Microsoft platforms as well. The fact that it is packaged in an image doesn't really change its multi-platform nature.

This doesn't hold. The Manifests WG maintain and guarantee that these instructions sho

[2021-04-14 05:19] cvenets commented on #2565
Yes, we should definitely delete all references to these pages, but I'm not sure how many of these exist. I'll let @RFMVasconcelos comment on this.

[2021-04-14 05:47] thesuperzapper commented on #2590
@cvenets

Re MiniKF: I think its probably better to remove the distinction, and add a column to clarify, for example:

Name | Maintained By | Deployment Target
-- | -- | --
Kubeflow on AWS | AWS | EKS Clusters
Kubeflow on Azure | Azure | AKS Clusters
Kubeflow on GCP | GCP | GKE Clusters
Kubeflow on IBM Cloud | IBM Cloud | IKS Clusters
Kubeflow on Openshift | Red Hat | Openshift Clusters
Kubeflow o

[2021-04-14 08:47] RFMVasconcelos commented on #2546
@Bobgy @thesuperzapper for reference I brought this up in the last community meeting and there were no objections.

Also, nobody pointed out a v1.3 specific commit that should be left out. So I think we are good to go. I will make a PR today 🚀

[2021-04-14 10:26] RFMVasconcelos commented on #2602
Fix merged.

/close

[2021-04-14 10:26] #2602 closed

[2021-04-14 10:32] RFMVasconcelos opened #2606 "Apply Docs Restructure to v1.2-branch"
Following discussions in #2546 and the latest community meeting, we need to move the latest commits in `master` branch to `v1.2-branch`.

/assign @RFMVasconcelos

[2021-04-14 11:51] difince opened #2610 "Broken Links in 'Build Components and Pipelines'"
On this page [https://www.kubeflow.org/docs/components/pipelines/sdk/build-component/](https://www.kubeflow.org/docs/components/pipelines/sdk/build-component/)
Under section "Create a container image for each component"
There are a two broken links pointing out to deprecated files that does not exists anymore

- `See the Docker file for the example XGBoost model training program mentioned above.`

[2021-04-14 12:11] difince commented on #2610
/assign difince

[2021-04-14 13:36] castrojo commented on #2522
Nothing new to report, I don't think we should block 1.3 on this though unless we hear something really soon.

[2021-04-14 14:13] ulrikpl commented on #2589
@yuzisun Thanks for the reply. I think you should at least include a disclaimer or clear warning in the top of the KFS readme, so that the next user who comes along doesn’t waste precious time trying to get these things to work on their newly installed GKE kubeflow cluster.

It might seem glaringly obvious to the developers of Kubeflow but I would guess that most users simply wish to install and u

[2021-04-14 14:21] thesuperzapper commented on #2590
@RFMVasconcelos and @cvenets I have raised a WIP PR for this refactor https://github.com/kubeflow/website/pull/2611

I will finish up the text-copy some time other than midnight my time!

[2021-04-14 16:41] RFMVasconcelos commented on #2590
Thank you @cvenets and @thesuperzapper for the comments on this front and for creating the WIP PR!

A few comments on your proposing table @thesuperzapper:

1. **No separation, only 1 table:** I think that `deployment target` or `target platforms` make things clear for users.
2. **A proper map:** I think we should not forget that this page is a gateway and that it should be clear to users where to

[2021-04-14 16:51] cvenets commented on #2590
I agree, a single table is fine with the addition of the last column.

I agree with @RFMVasconcelos on 2. We don't want people to go off the website or confuse them. A single link to the corresponding docs should suffice.

I will comment on the PR as well.

@thesuperzapper OK, this makes sense then, but I think this is pretty clear by the "on your own" part of the title of the section.

[2021-04-14 18:28] DavidSpek commented on #2590
@thesuperzapper For ArgoFlow I think the target should be `Any K8S Clusters` (or something similar), as the Argo CD installation is part of the deployment, and Argo CD does not technically need to run on the same cluster as Kubeflow. Otherwise user might think they need to figure out how to deploy Argo CD on their own before going through the documentation.

[2021-04-15 00:28] subramaniankarthik opened #2613 "EKS/Kubeflow AWS best practices"
I have the following questions:

1. While spinning up an EKS cluster for using kubeflow, what is the recommended EC2 instance type to use for CPU type workloads for spinning notebooks?

2. Also in the scaling config of EKS, when I try increasing the desired state to a high number, my pods have a docker pull issue.

3.  Also when I install kubeflow 1.3.0, does it have the ability to autoscale yet?

[2021-04-15 13:52] RFMVasconcelos commented on #2590
@thesuperzapper (and @DavidSpek) I love the energy behind ArgoFlow, but I feel a bit wary of adding it directly here as per your [proposal](https://github.com/kubeflow/website/issues/2590#issuecomment-819246265).

According to #2611, the way you propose this table is to link the ArgoFlow documentation to its own [repo](https://github.com/argoflow/argoflow). I am not sure what is the right way to p

[2021-04-15 14:40] ptitzler opened #2615 "Install Kubeflow on IKS: "expose the Kubeflow endpoint as a LoadBalancer" link -> 404"
In https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow-on-iks/ the [`expose the Kubeflow endpoint as a LoadBalancer`](https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow-on-iks/#expose-the-kubeflow-endpoint-as-loadbalancer) link in this section is broken.

[code]

[2021-04-15 15:40] RFMVasconcelos opened #2616 "Clean up `Troubleshooting` section"
Following the latest community discussions and the Kubeflow docs restructure [proposal](https://github.com/kubeflow/community/pull/440/files), we should add the concept of "Troubleshooting", with the following structure:

- **Troubleshooting** (created with files from current section "Further Setup and Troubleshooting")
  - Frequently Asked Questions
  - Troubleshooting
  - Usage Reporting
  - Sup

[2021-04-15 15:43] RFMVasconcelos opened #2617 "Refactor `About` and `Getting Started` sections to `Getting started` and `Community`"
In order to finish the effort started in [Docs Restruture Proposal](https://github.com/kubeflow/community/pull/440), we should make the required changes to get to the following structure:

- **Getting started**
  - Introduction (current About/Kubeflow)
  - Getting started (current `Getting started/Installing Kubeflow` updated to guide users to platforms & methods)
  - Concepts (current Kubeflow Ov

[2021-04-15 17:34] cvenets commented on #2590
I agree with @RFMVasconcelos. All links in this page should redirect to Kubeflow docs, not external sites.

[2021-04-16 01:14] shannonbradshaw opened #2618 "Google search results show "An error occurred" as the title for about/kubeflow"
See this screenshot:
![Screen Shot 2021-04-15 at 9 10 04 PM](https://user-images.githubusercontent.com/1447785/114957649-7647ca80-9e2f-11eb-823c-7e1909586496.png)

Potentially relevant:
https://stackoverflow.com/questions/38943067/snippet-in-google-search-contains-an-error-occurred-try-watching-this-video-on

[2021-04-16 03:59] thesuperzapper commented on #2590
@RFMVasconcelos @cvenets  specifically regarding comment that we should only link to kubeflow.org...

I actually think we should do the opposite (over time) just as kubernetes.io doesn't host EKS docs, we shouldn't host vendor specific docs, but rather link to parter websites.

This will do a few things:
1. Make it easier for distributions to update thier docs
2. Prevents it looking like the commu

[2021-04-16 09:03] halvgaard opened #2619 "Outdated "Tutorial: End-to-end Kubeflow on GCP""
The end-to-end KubeFlow GCP tutorial https://www.kubeflow.org/docs/gke/gcp-e2e/
contains an out of date warning:
"Out of date: This guide contains outdated information pertaining to Kubeflow 1.0. This guide needs to be updated for Kubeflow 1.1."

Does the tutorial work or is this simply a warning because the version changed? I plan to run this tutorial soon and could provide feedback.

Also the "t

[2021-04-16 09:38] RFMVasconcelos commented on #2618
Nice catch @shannonbradshaw! This is odd. The link points to the [About Kubeflow page](https://www.kubeflow.org/docs/about/kubeflow/).

@Bobgy @joeliedtke would you have an insight on how to fix this?

[2021-04-16 17:43] Arhell opened #2620 "broken link"
https://www.kubeflow.org/docs/reference/version-policy/#kubeflow-application-matrix
manifest
/assign

[2021-04-17 18:06] #2620 closed

[2021-04-18 20:25] Arhell opened #2623 "broken link"
https://www.kubeflow.org/docs/reference/notebook/v1/#kubeflow.org/v1.Notebook
metadata

[2021-04-19 13:10] RFMVasconcelos commented on #2546
@Bobgy, at what point do you think we should move the docs to point to `master` again?

[2021-04-19 13:11] RFMVasconcelos commented on #2546
There are a bunch of ongoing fixes being done in `master` - e.g. #2593 - which would be great to make effective

[2021-04-19 13:12] RFMVasconcelos commented on #2546
And unfortunately this is taking a bit longer as well #2612

[2021-04-19 13:18] #2623 closed

[2021-04-19 13:18] #2592 closed

[2021-04-20 01:17] shannonbradshaw commented on #2536
@RFMVasconcelos PR #2626 should fix this issue. I believe we're done making changes now. #2626 is ready for review.

[2021-04-20 16:45] Bobgy commented on #2546
@thesuperzapper I personally think as long as master branch is not confusing in obvious ways, it's okay to switch.

In previous releases, we wait until most distributions are ready, but I don't think that is necessary, as long as each distribution can release their docs on their own, it's fine.

[2021-04-20 19:44] Arhell opened #2628 "broken link"
https://www.kubeflow.org/docs/reference/tfjob/v1beta2/tensorflow/#github.com/kubeflow/tf-operator/pkg/apis/tensorflow/v1beta2.TFJob
/assign

[2021-04-21 01:05] #2384 closed

[2021-04-21 01:54] thesuperzapper opened #2629 "remove distribution docs from kubeflow.org"
Currently, we host distribution-specific docs on the kubeflow.org website, and they are very rarely updated.

I believe we can improve kubeflow by only linking to external docs for distributions under the `Getting Started/Installing Kubeflow` page, as will be done in PR https://github.com/kubeflow/website/pull/2611.

This has some significant benefits:
* We wont implicitly be endorsing any specifi

[2021-04-21 01:56] thesuperzapper commented on #2629
@RFMVasconcelos @Bobgy @cvenets @joeliedtke @animeshsingh, what are your thoughts?

[2021-04-21 08:37] RFMVasconcelos commented on #2546
@Bobgy I agree!

#2612 has been merged, so we already have a good structure of the docs. :tada: But in any case, small fixes and updates are being done in master now that are relevant for v1.3 users - e.g. #2595. I propose we move to `master` branch as most [distributions appear now ready](https://github.com/kubeflow/manifests/issues/1798#issuecomment-823663721) for this release :)

[2021-04-21 08:39] RFMVasconcelos commented on #2546
I just realized that `GCP` and `Azure` appear not ready according to the list, we may want to wait for it to be the case as these are obviously big distributions :)

[2021-04-21 12:49] difince commented on #2610
As I see the files in `dataproc` have been deleted by PR https://github.com/kubeflow/pipelines/pull/5045

@chensun, could you give me an advice how to deal with this issue in the best way

[2021-04-21 13:32] RFMVasconcelos commented on #2606
This is done! :tada:

/close

[2021-04-21 13:32] #2606 closed

[2021-04-21 13:42] RFMVasconcelos commented on #2546
One great change we are working on is #2611 which would be amazing to have already as part of user journey today, as we release v1.3 with the new blog.

@Bobgy do you think this is possible?

[2021-04-21 13:48] #2536 closed

[2021-04-21 13:49] RFMVasconcelos commented on #2536
Thanks for this @shannonbradshaw :rocket:

[2021-04-21 13:51] RFMVasconcelos commented on #2537
Given @Bobgy's point, happy to close this.

/close

[2021-04-21 13:51] #2537 closed

[2021-04-21 17:35] shannonbradshaw commented on #2618
@Bobgy or @joeliedtke any thoughts on this. It's pretty ugly when someone does a Google search for Kubeflow.

[2021-04-21 17:47] shannonbradshaw opened #2631 "Remove unsupported Metadata component from the docs"
kubeflow/metadata appears to be dropped from KF:
- UI: https://github.com/kubeflow/manifests/pull/1619
- Backend: https://github.com/kubeflow/manifests/pull/1638
- Centraldashboard entries: https://github.com/kubeflow/kubeflow/pull/5404
Do we agree that it should be dropped from the docs as well?

[2021-04-21 17:48] shannonbradshaw commented on #2631
cc: @RFMVasconcelos @Cventes

[2021-04-21 18:47] D1o0g9s opened #2632 "Broken Links on KF Operator -> Installing Kubeflow docs"
https://www.kubeflow.org/docs/distributions/operator/install-kubeflow/

First 3 links on the documentation are broken:
1. Operator -> introduction <-
2. -> Install the Kubeflow Operator <-
3. Kubeflow -> manifests <-

[2021-04-21 23:23] Bobgy commented on #2631
+1, we should remove it.

Pipelines WG will start adding new metadata doc as part of Pipelines.

/Cc @kubeflow/wg-pipeline-leads

[2021-04-22 01:46] thesuperzapper opened #2633 "change target branch to master"
As discussed in https://github.com/kubeflow/website/issues/2546#issuecomment-823431454, and as part of the [Kubeflow release process](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website), we should move the default `kubeflow.org` branch target back to `master`.

This will allow users to actually see the 1.3 specific docs when they browse to https://kubeflow.o

[2021-04-22 01:46] thesuperzapper commented on #2633
@Bobgy I think you are the only one who can do this!

[2021-04-22 01:47] thesuperzapper commented on #2633
/cc @castrojo

[2021-04-22 01:48] thesuperzapper commented on #2633
/priority p1

[2021-04-22 01:48] thesuperzapper commented on #2629
/priority p2

[2021-04-22 08:44] Bobgy commented on #2633
Did we discuss this in the community meeting and agree on a timeline?
/cc @joeliedtke

I can do this upon a agreed date.

[2021-04-22 08:46] Bobgy commented on #2618
This is strange, could it be a temporary failure when a google bot was scanning the website?
I'll try to debug this

[2021-04-22 08:50] RFMVasconcelos commented on #2633
+1 to the priority of this step.

[2021-04-22 08:55] #2565 closed

[2021-04-22 09:02] RFMVasconcelos opened #2634 "Key link broken!"
Master branch getting started broken link:
https://master.kubeflow.org/docs/started/getting-started/

cc @thesuperzapper

[2021-04-22 09:09] Bobgy commented on #2590
/reopen
After the PR is merged, some things should be fixed right now:

* [blocker] I think we are missing a redirect rule from the old page to the new page
* [blocker] https://deploy-preview-2611--competent-brattain-de2d6d.netlify.app/docs/started/getting-started/ is broken, we should update the "getting started" button url

[2021-04-22 09:09] Bobgy commented on #2590
and some ideas for further improvement:
* the link to manifest README should better pin to 1.3.0 release once we pin the final release
* I think we should add a column "Issue Tracker" where people can report distribution specific issues.

[2021-04-22 09:18] #2634 closed

[2021-04-22 09:37] Bobgy commented on #2590
the immediate problems are fixed by https://github.com/kubeflow/website/pull/2635

Where do you plan to create a new issue tracking future improvements? Or shall we keep the discussion here?

[2021-04-22 09:49] RFMVasconcelos commented on #2546
@Bobgy @joeliedtke @animeshsingh @thesuperzapper @castrojo @jbottum @cvenets @yanniszark @theadactyl

We just merged the last PRs that IMO were critical for a successful v1.3 release, we now just need to point the website to `master` » #2633 for these changes to be effective :tada: @Bobgy @joeliedtke do you think you can review the master branch, verify if all is in order to proceed, and if so act

[2021-04-22 11:17] thesuperzapper commented on #2633
@Bobgy we plan to publish the 1.3 blog in a few hours, if possible can you do this change ASAP?

cc @castrojo

[2021-04-22 12:26] #2590 closed

[2021-04-22 12:30] thesuperzapper opened #2637 "update the "notebooks" component docs for 1.3"
With the significant number of changes made in Kubeflow 1.3 to the "Kubeflow Notebooks" component, we should probably effectively rewrite the docs for it, or at least update them.

[2021-04-22 12:31] thesuperzapper commented on #2637
@kubeflow/wg-notebooks-leads whats our plan for this?

[2021-04-22 12:31] thesuperzapper commented on #2637
@DavidSpek is probably interested too.

[2021-04-22 12:31] thesuperzapper commented on #2637
/priority p2

[2021-04-22 12:32] thesuperzapper commented on #2568
/priority p1

[2021-04-22 12:33] thesuperzapper commented on #2522
/priority p2

[2021-04-22 12:35] DavidSpek commented on #2637
Explaining how to set logos/icons for the UI and the new way notebook resource requests and limits work (with the new limitFactor options) should definitely be added. The section about creating notebook images also needs an overhaul so it matches with the new Dockerfiles/images.

[2021-04-22 12:38] thesuperzapper commented on #2617
/priority p1

[2021-04-22 12:39] thesuperzapper commented on #2616
/priority p1

[2021-04-22 12:42] thesuperzapper commented on #2546
@Bobgy I think we are all good to make the switch to master tonight/ASAP, as we are about to release the 1.3 blog.

[2021-04-22 12:45] thesuperzapper commented on #2491
/priority p1

[2021-04-22 12:53] shannonbradshaw opened #2639 "Add Arrikto EKF distribution"
Would like to add Arrikto's Enterprise Kubeflow distribution under "docs/Distributions" and in the table of distros on the getting-started/installation page.

[2021-04-22 13:10] #2631 closed

[2021-04-22 13:12] RFMVasconcelos commented on #2637
+1! Thanks for starting this @thesuperzapper

[2021-04-22 13:24] RFMVasconcelos commented on #2639
While Arrikto's effort to push Kubeflow v1.3 out the door deserves a lot of merit, I would like to have a community decision on the topic as it adds a proprietary distribution with no way for a user to try aside from asking for a commercial demo/quote.

@animeshsingh @aronchick @thesuperzapper @Bobgy any thoughts on this?

[2021-04-22 13:32] thesuperzapper commented on #2639
There are two points here:

First, I dont really want to add more distribution docs to `kubeflow.org`, as I want to see them move to vendor websites, see issue https://github.com/kubeflow/website/issues/2629.

Second, I dont see any reason not to link them under the "Installing Kubeflow" section for now. But clearly, once we setup a verification process they would be required to undertake the same

[2021-04-22 14:21] Bobgy commented on #2546
Discussed over the release meeting, I'm going to change website to master branch right now.
I'm going to sleep, so bear in mind someone still needs to change the version menu to 1.3.

[2021-04-22 15:40] thesuperzapper commented on #2637
I think we start by agreeing on the page structure, e.g. what pages will we have, and what will their headings be.

[2021-04-22 17:57] cvenets opened #2644 "Installation page: Roll your own option should be first, distributions should follow"
@RFMVasconcelos from your comment in the corresponding PR:
https://github.com/kubeflow/website/pull/2611#issuecomment-824698167

I understand that you needed to merge to unblock and move forward, but I don't think that we had community consensus for changing the ordering of options, from my initial suggestion here:
https://github.com/kubeflow/website/issues/2590
which triggered the whole refactori

[2021-04-22 19:16] cvenets commented on #2639
@RFMVasconcelos I don't see a reason to exclude specifically this distribution, under the generic distributions table.

My understanding is that this was the reason we included the table in the first place, to differentiate from what is official Kubeflow and what isn't. We've put all the relevant warnings, so that users can redirect to distribution owners, if they choose to go with a distribution.

[2021-04-22 22:06] thesuperzapper commented on #2644
I strongly believe we should encourage users to  make use of supported distributions, if only so that environment-specific issues do not spam our issue trackers.

Additionally, installing using the manifests is the more advanced option, and so it makes very little sense to include it first.

[2021-04-23 06:36] Bobgy commented on #2633
Done

[2021-04-23 06:36] #2633 closed

[2021-04-23 09:37] RFMVasconcelos commented on #2644
I am open to either option. I do believe that users will find it harder to install directly from the manifests than from packaged distributions and that advanced options normally come later. But I am open to acting on any community decision.

[2021-04-23 10:38] #2628 closed

[2021-04-23 13:33] shannonbradshaw commented on #2644
So @thesuperzapper and @Bobgy are both speaking in favor of encouraging users to make use of supported distributions on this thread. Can we please get Arrikto Enterprise Kubeflow listed among distributions in the docs? It is a VERY well supported distribution. There is a well-funded company built entirely around supporting this distribution. How about it?

[2021-04-23 18:11] #2639 closed

[2021-04-24 15:19] akhimji commented on #1735
+1 with regards

`This example uses the configmaps "mnist-v1-config" and "s3-config" in the example YAML scripts. However, the resource definitions for the config maps are not included and no explanation is provided for what they should look like.`

Not defined in example
`      - configMap:
          name: mnist-v1-config
`

[2021-04-24 18:04] Arhell opened #2648 "broken link"
https://www.kubeflow.org/docs/reference/tfjob/v1/tensorflow/#github.com/kubeflow/tf-operator/pkg/apis/tensorflow/v1.TFJob
/assign

[2021-04-24 20:12] shannonbradshaw opened #2649 "Redirects for MiniKF are missing minikf subdir under distributions"
Redirects created in this PR don't match where we put the files.
https://github.com/kubeflow/website/pull/2576/files/b3bfaf398491a3ae476031e84f8c74f304fd7a8c

Links in Google search results are throwing 404s.

@RFMVasconcelos @cvenets

[2021-04-24 22:09] #2649 closed

[2021-04-25 06:16] nikhilbandi opened #2651 "The installation page does not mention anything about installing Kubeflow on local / standalone kubernetes cluster"

[2021-04-26 09:10] RFMVasconcelos commented on #2651
Thank you for this feedback @nikhilbandi. I have created a PR that improves readability.

For reference you have 2 options - [manifests](https://github.com/kubeflow/manifests#installation), or a distribution from the list. Each distribution has their own docs. You have platform specific distributions, such as `Kubeflow on GCP` and multi-platform distributions, e.g. `Charmed Kubeflow Operators`

[2021-04-26 09:26] #2648 closed

[2021-04-26 12:12] #2651 closed

[2021-04-26 14:10] shannonbradshaw commented on #2619
@halvgaard did you run this tutorial to see whether it still works?

[2021-04-26 14:53] shannonbradshaw commented on #2618
@RFMVasconcelos @Bobgy I submitted PR #2655 as an attempt to fix this. See my comments there about my hypotheses. Happy to take other suggestions.

[2021-04-26 21:49] Arhell opened #2656 "broken link"
https://www.kubeflow.org/docs/reference/pytorchjob/v1/pytorch/#github.com/kubeflow/pytorch-operator/pkg/apis/pytorch/v1.PyTorchJob
/assign

[2021-04-27 01:33] thesuperzapper commented on #2395
This has effectively been done with the "Argoflow" distribution: https://github.com/argoflow/argoflow

[2021-04-27 01:33] #2395 closed

[2021-04-27 01:45] thesuperzapper commented on #1940
@Evanto is your SAKK project active? If not, you might want to consider contributing to the new [argoflow](https://github.com/argoflow/argoflow) distribution.

[2021-04-27 01:52] thesuperzapper opened #2657 "update doc version dropdown with v1.3"
We have set the target branch of https://kubeflow.org to `master` (see https://github.com/kubeflow/website/issues/2633).

However, the dropdown box on the top right has `v1.2`, we should update this to name `master` as `v1.3`.

[2021-04-27 01:52] thesuperzapper commented on #2657
@RFMVasconcelos are you able to do this?

[2021-04-27 02:03] thesuperzapper opened #2658 "update component docs for Kubeflow 1.3"
Currently, we have released Kubeflow 1.3, but have not updated the [component docs](https://www.kubeflow.org/docs/components/).

__This issue is to track the progress of each components docs:__
- [ ] central dashboard
   - Docs Link: https://www.kubeflow.org/docs/components/central-dash/
   - Tracking Issue: #2664
- [x] notebook servers
   - Docs Link: https://www.kubeflow.org/docs/components/note

[2021-04-27 02:05] thesuperzapper commented on #2658
Can the WG leads please create an issue for their component and link it here?

@kubeflow/wg-notebooks-leads (Central Dashboard, Notebooks)
@kubeflow/wg-pipeline-leads (Pipelines)
@kubeflow/wg-serving-leads (KFServing)
@kubeflow/wg-automl-leads (Katib)
@kubeflow/wg-training-leads (Training Operators)

[2021-04-27 02:06] thesuperzapper commented on #2658
/priority p1

[2021-04-27 02:29] thesuperzapper opened #2659 "Refactor `About` / `Getting Started` + create `Concepts` section"
I believe we should refactor the `About` / `Getting Started` sections, and create a new `Concepts` section.

__For example, the structure could be:__
[code]

[2021-04-27 02:30] thesuperzapper commented on #2617
I think this isn't quite the best structure approach, I think we can leave the community and project wide stuff under the "About" section.

I have raised an alternate issue to discuss this option: https://github.com/kubeflow/website/issues/2659

[2021-04-27 02:30] thesuperzapper commented on #2617
@RFMVasconcelos I think this isn't quite the best structure approach, I think we can leave the community and project wide stuff under the `About` section.

I have raised an alternate issue to discuss this option: https://github.com/kubeflow/website/issues/2659

[2021-04-27 02:31] thesuperzapper commented on #2659
/priority p1

[2021-04-27 02:33] thesuperzapper commented on #2546
To close out this issue, we just need to fix issue: https://github.com/kubeflow/website/issues/2657

I believe we can track other doc issues separately, for example:
1. "remove distribution docs from kubeflow.org" (issue: https://github.com/kubeflow/website/issues/2629)
2. "update component docs for Kubeflow 1.3" (issue: https://github.com/kubeflow/website/issues/2658)
3. "refactor About / Getting

[2021-04-27 06:55] yuzisun commented on #2658
@thesuperzapper serving WG has already finished up the doc update for 1.3!
https://github.com/kubeflow/website/pull/2595

[2021-04-27 13:25] terrytangyuan commented on #2658
I believe the docs for training operators have been done previous, e.g. https://github.com/kubeflow/website/pull/2586.

[2021-04-27 13:37] shannonbradshaw commented on #2659
I think we should deal with Multi-Tenancy in a separate issue. It's not really related to the about/intro material in the same way the rest of the sections we're discussing here are.

[2021-04-27 13:45] shannonbradshaw commented on #2659
@thesuperzapper in addition to leaving multi-tenancy out of scope for this issue, I suggest at least the following two changes to what you've proposed above:
1. Integrate the content in started/kubeflow-overview and about/kubeflow into a single page called "Introduction to Kubeflow" under "About". Also, I think the content in these pages (at least in about/kubeflow) should be edited to remove outd

[2021-04-27 14:41] halvgaard commented on #2619
@shannonbradshaw I have been playing around with AI platform Pipelines on GCP instead to avoid all the cumbersome KubeFlow setup steps. Unless Pipelines is thrown out of GCP when AI platform Unified takes over, then I might just stick with that. Would still like to know if someone managed to run through this without problems due to the flagged updates mentioned.

[2021-04-27 15:13] andreyvelich commented on #2658
The Training and AutoML WG docs have been updated already.
cc @kubeflow/wg-automl-leads @kubeflow/wg-training-leads

[2021-04-27 15:15] RFMVasconcelos opened #2664 "Update Kubeflow dashboard docs for v1.3"
With the Kubeflow v1.3 release, the central dashboard has changed with new tabs and functionalities.

There should be an update in documentation with screenshots to guide navigation.

cc @kubeflow/wg-notebooks-leads

__This issue is to track the progress of each page:__
- [ ] central dashboard overview
   - Docs Link: https://www.kubeflow.org/docs/components/central-dash/overview/
   - Tracking Is

[2021-04-27 15:51] RFMVasconcelos opened #2665 "[Update Docs] - Central Dashboard » Registration Flow"
Registration flow still "Out of Date"

https://www.kubeflow.org/docs/components/central-dash/registration-flow/

[2021-04-27 15:54] RFMVasconcelos commented on #2658
@thesuperzapper thank you for this! I have created an issue to track central dashboard (#2664) - I think that we should have 1 docs page per tab in the central dashboard, WDYT?

[2021-04-27 16:08] RFMVasconcelos commented on #2659
Thank you for working on this proposal @thesuperzapper!

I like @shannonbradshaw 's additions. If we were to keep "Getting Started", I would suggest moving "Contributing to Kubeflow" under it, as it is also an onboarding. But I +1 moving install to top navigation.

[2021-04-27 16:09] RFMVasconcelos commented on #2617
@thesuperzapper I agree that there is room to improve. Let's discuss on #2659

/close

[2021-04-27 16:09] #2617 closed

[2021-04-27 16:25] RFMVasconcelos commented on #2657
Thanks for bringing this up @thesuperzapper!

I have just created 2 PRs that should fix this.

cc @Bobgy

[2021-04-27 17:07] RFMVasconcelos opened #2668 "IAP config files outdated!"
IAP config files are outdated, are they still relevant?

According to the [website release guide](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch) this should be updated in every release. However there are some that still are in version v0.7

@Bobgy @joeliedtke any ideas of how to update / remove this

[2021-04-27 17:29] RFMVasconcelos commented on #2546
I've made a couple of PRs to solve #2657

[2021-04-27 17:34] RFMVasconcelos commented on #2546
@thesuperzapper @Bobgy could you please review and LGTM #2666 and #2667 ? :)

Thank you @thesuperzapper for listing what's left! Let's try to use the `Kubeflow Docs Restructure` project still for kanban.

[2021-04-27 17:47] berndverst commented on #2657
@RFMVasconcelos I reviewed both PRs. Looks good - thanks for doing this.

[2021-04-27 17:48] RFMVasconcelos commented on #2657
Awesome! Both have been merged! Thank you @berndverst.

/close

[2021-04-27 17:48] #2657 closed

[2021-04-27 17:49] RFMVasconcelos commented on #2657
It is officially working! :)

[2021-04-27 17:49] RFMVasconcelos commented on #2657
cc @thesuperzapper @Bobgy

[2021-04-28 04:54] Bobgy commented on #2618
/reopen
Let's keep it open until we verify the fix.
I will ask from Google side if I can access google search site management for kubeflow.org to request a reindex

[2021-04-28 06:37] Bobgy commented on #2668
/cc @zijianjoy

[2021-04-28 07:56] thesuperzapper opened #2671 "Split `Getting Started` into `Installing Kubeflow` and `Concepts`"
The `Getting Started` section has become very small.

__I think there is significant benefit if we do the following:__
1. Move the `Installing Kubeflow` page to the root of the docs
    * this will let users immediately see where they can learn how to install Kubeflow
2. Create a new `Concepts` section at the root
    * this section will cover core principals/features which span across all compone

[2021-04-28 07:59] thesuperzapper commented on #2659
@RFMVasconcelos and @shannonbradshaw I have made a new issue for moving the `Installing Kubeflow` section to the root, as I think it's a pretty non-controversial change on its own.

We can discuss splitting/changing/etc the `About` section after we move `Installing Kubeflow`

[2021-04-28 07:59] thesuperzapper commented on #2671
/priority p1

[2021-04-28 07:59] thesuperzapper commented on #2671
@RFMVasconcelos if you agree do you have capacity to make this change?

[2021-04-28 08:43] kimwnasptd commented on #2664
Hey @RFMVasconcelos, I can take a stab at updating the images for the Central Dashboard, and the Registration Flow, as well as updating the list of items that belong to the dashboard https://www.kubeflow.org/docs/components/central-dash/overview/#overview-of-kubeflow-uis.

Also note that the 1.3 dashboard will not have an entry for `Models`. We will add it soon, but it's not part of the 1.3 releas

[2021-04-28 08:44] kimwnasptd commented on #2664
Assigning myself to work for the first two items, but I can work on the other two once we discuss where we want to add the extra apps for Volume Management and Tensorboard.

cc @shannonbradshaw @cvenets
/assign @kimwnasptd

[2021-04-28 08:59] kimwnasptd commented on #2637
Yeap, this is a good first step, especially now that we've extended both the Notebooks controller and spawner web app for allowing users to launch RStudio and VSCode instances as well.

I was thinking of keeping the Jupyter Notebooks as the prominent Notebooks component, so we keep titles like `Overview of Jupyter Notebooks in Kubeflow`, but also add a section there like `Other Notebooks and IDEs`

[2021-04-28 17:37] zijianjoy commented on #2668
Thank you @RFMVasconcelos ! I am going to update GCP related documentations. At that time I can validate and update the IAP config and other GKE items too.

[2021-04-29 00:52] thesuperzapper commented on #2659
@RFMVasconcelos and @shannonbradshaw Oops, I forgot to link the issue: https://github.com/kubeflow/website/issues/2671

[2021-04-29 01:05] thesuperzapper commented on #2671
@shannonbradshaw thoughts?

[2021-04-29 08:07] johnchenghk01 opened #2673 "Configure External Database Using Amazon RDS"
https://www.kubeflow.org/docs/distributions/aws/rds/

should be `MYSQL_PASSWORD `,  not `MYSQ_PASSWORD`

[2021-04-29 10:30] difince opened #2675 "Broken link in Building Components (Build Pipelines with SDK)"
Building Pipelines with SDK -> Building Components
https://www.kubeflow.org/docs/components/pipelines/sdk/component-development/

In the next steps:

`adding metadata for an output viewer` Points to https://www.kubeflow.org/docs/components/pipelines/metrics/output-viewer/ that does not exists (404)

[2021-04-29 12:13] evilnick opened #2677 "Rendering style for <code> inside a note is barely legible"
The style for `<code>` elements of docs inside a note renders as a very light grey which is barely legible. For example:

[code]

Renders as:

![Screenshot from 2021-04-29 13-04-19](https://user-images.githubusercontent.com/115290/116548550-4d720b80-a8ec-11eb-9111-62cf42ab6dc8.png)

[2021-04-29 16:47] shannonbradshaw commented on #2618
This is fixed.

![Screen Shot 2021-04-29 at 12 43 34 PM](https://user-images.githubusercontent.com/1447785/116587992-033b5b00-a8e9-11eb-965c-39bed5821f61.png)

[2021-04-29 16:50] #2618 closed

[2021-04-29 17:38] ptitzler opened #2679 "(IBM) Kubeflow Deployment Process - markdown issues"
In https://www.kubeflow.org/docs/distributions/ibm/deploy/deployment-process/ the `tar -xvf kfctl_{{% kf-latest-version %}}_<platform>.tar.gz` code snippet appears to cause rendering issues:

![image](https://user-images.githubusercontent.com/13068832/116594132-be0e2d80-a8d6-11eb-9ec7-57f0f23fd384.png)

[2021-04-30 00:54] thesuperzapper commented on #2671
@shannonbradshaw I think you might have misunderstood what I was proposing.

My proposal would result in the following structure:
[code]

__NOTE:__ This is an iterative step, we should re-factor/split-up the `About` section __next__

Also, I strongly disagree with putting `Multi-Tenancy` at the root, and believe we need to create a `Concepts` section, as there will certainly be more high-level des

[2021-04-30 00:55] thesuperzapper commented on #2671
As a side note, I think we should rename "Installing Kubeflow" to "Deploying Kubeflow" as this better covers managed services, (which aren't "Installed")

[2021-04-30 02:18] thesuperzapper opened #2682 "add links to external `KFServing` docs"
KFServing has good documentation, but it lives on GitHub.

We should expose these docs directly on `kubeflow.org`, by linking to specific pages under the `Components / KFServing` section:
* Link to [Architecture Overview](https://github.com/kubeflow/kfserving/blob/master/docs/README.md)
* Link to [Developer Guide](https://github.com/kubeflow/kfserving/blob/master/docs/DEVELOPER_GUIDE.md)
* Link to

[2021-04-30 02:18] thesuperzapper commented on #2682
/priority p2

[2021-04-30 02:19] thesuperzapper commented on #2682
@kubeflow/wg-serving-leads what are your thoughts?

cc @yuzisun

[2021-04-30 02:45] thesuperzapper opened #2683 "improve the `Kubeflow Pipelines`docs"
Currently, the `Components / Kubeflow Pipelines` section is very hard to navigate:
https://www.kubeflow.org/docs/components/pipelines/

__Some ideas:__
1. Create an `Overview` "landing" page:
    * users should go here first, to start their "Pipelines" docs journey
    * explain what pipelines does, and point to "next steps" of what the user should read
    * NOTE: there is the `Pipelines Quicksta

[2021-04-30 02:45] thesuperzapper commented on #2683
/priority p2

[2021-04-30 02:46] thesuperzapper commented on #2683
@kubeflow/wg-pipeline-leads what are your thoughts on these suggestions?

[2021-04-30 02:55] thesuperzapper opened #2684 "create visual separation for the expanded docs sections"
Currently, its not clear which sub-sections are under the currently expanded heading, what can we do to visually distinguish, the currently expanded headings?

__Kubeflow Pipelines Example (Current State):__
![Screen Shot 2021-04-30 at 12 49 04 pm](https://user-images.githubusercontent.com/5735406/116642540-7e1c7880-a9b2-11eb-863d-ce476e6e1577.png)

__Kubeflow Pipelines Example (With vertical bars

[2021-04-30 02:56] thesuperzapper commented on #2684
/priority p3

[2021-04-30 02:56] thesuperzapper commented on #2684
@RFMVasconcelos @shannonbradshaw what are your thoughts?

[2021-04-30 03:47] Bobgy commented on #2683
/cc @joeliedtke
already has some plans to improve, can you take a look?

[2021-04-30 03:57] Bobgy commented on #2618
Ohhh great, thank you so much @shannonbradshaw!

Didn't have time to check how to force a re index, looks like it just happened automatically

[2021-04-30 10:55] RFMVasconcelos commented on #2682
@thesuperzapper This is a great point! +1

[2021-04-30 11:28] RFMVasconcelos commented on #2668
Great @zijianjoy, thank you!

@Bobgy @andreyvelich @animeshsingh @Tomcli for things like istio, istio-dex, openshift, ibm. Could you take a look into updating or deprecating these files? What action makes sense here? :)

![image](https://user-images.githubusercontent.com/27001378/116688882-3f38f380-a9af-11eb-97be-8d1a0ff0c17c.png)

[2021-04-30 11:34] RFMVasconcelos commented on #2664
Thank you for your help and clarifications @kimwnasptd !! 🚀

For clarity, what do you mean? where the docs will sit?

[2021-04-30 11:53] RFMVasconcelos commented on #2618
Awesome job @shannonbradshaw 🎉

[2021-04-30 12:04] RFMVasconcelos commented on #2684
Sure, I think this adds clarity. Maybe a simpler to implement method is to make every expanded section `active`:

![image](https://user-images.githubusercontent.com/27001378/116692582-7c53b480-a9b4-11eb-86b3-35ec88c94c9d.png)

[2021-04-30 12:29] #2656 closed

[2021-04-30 13:23] RFMVasconcelos commented on #2671
Do feel free to ping me on any priority thread that you need my eyes on :)

[2021-04-30 14:08] shannonbradshaw commented on #2671
@thesuperzapper I did not misunderstand. I simply disagree and provided a rationale as to why. It sounds like you disagree with what I'm proposing, but I have not seen you state a rationale as to why you oppose placing multi-tenancy at the top level. Also, I'm not sure I've seen a rationale as to why you believe started/kubeflow-overview should be placed in the same section. Why would we place a c

[2021-04-30 16:36] Tomcli commented on #2668
We can take care the IBM files
cc @nakfour @vpavlin for the openshift documentation

[2021-05-01 10:42] Arhell opened #2687 "Kubeflow Versioning Policies"
https://www.kubeflow.org/docs/reference/version-policy/
broken links
example **Chainer operator**
/assign

[2021-05-04 00:46] thesuperzapper commented on #2671
@shannonbradshaw my assumptions/logic is:
1. We want to provide a "feature" view of Kubeflow in the docs, rather than only a component view like right now
   * Therefore, we should create a new top-level section of the docs called `Features` (or `Concepts`)
1. The `Features` section should have an "overview" page
   * Therefore, we can use `started/kubeflow-overview` as a stating point for this "o

[2021-05-04 04:43] thesuperzapper commented on #2546
@RFMVasconcelos can you add me as an editor on that project? I cant add cards right now

https://github.com/kubeflow/website/projects/2

[2021-05-04 09:39] RFMVasconcelos commented on #2546
For sure! I thought this was open to the community, let me check how to open permissions

[2021-05-04 09:49] RFMVasconcelos commented on #2546
This is very strange, there is no `settings` where I can tweak projects permissions. Can others move cards in the [project](https://github.com/kubeflow/website/projects/2)?

[2021-05-04 23:23] thesuperzapper commented on #2546
@RFMVasconcelos I personally use [projects which are on the kubeflow organisation](https://github.com/orgs/kubeflow/projects), but if you are the owner of the docs refactor project, you should be able to:
1. Open the project
2. Click the Hamburger menu on the top right
3. Click the 3 dot menu
4. Click settings
5. Add Collaborators

[2021-05-04 23:40] thesuperzapper commented on #2164
We are unlikely to continue updating the docs for 1.1 at this stage (with 1.3 out).

/close

[2021-05-04 23:40] #2164 closed

[2021-05-04 23:43] thesuperzapper commented on #2166
This has been resolved by the new manifests refactor https://github.com/kubeflow/manifests/issues/1777

But google does need to update their distribution docs on the website.

/close

[2021-05-04 23:43] #2166 closed

[2021-05-04 23:49] thesuperzapper commented on #2631
@Bobgy did you make a tracking issue to add metadata docs under the pipelines section?

I am a bit worried that users will never see it, given how many docs are in the pipelines section.

[2021-05-04 23:58] thesuperzapper opened #2694 "add catch-all redirect to root docs"
Currently if you go to https://www.kubeflow.org/docs/test you get a 404 page.

We should add a catch-all redirect which targets: https://www.kubeflow.org/docs/

[2021-05-04 23:58] thesuperzapper commented on #2694
@RFMVasconcelos @shannonbradshaw do you want to pick this up?

[2021-05-05 00:04] thesuperzapper commented on #2177
@RFMVasconcelos do we have an updated list of which are still marked "out of date", as this looks bad

[2021-05-05 00:14] thesuperzapper commented on #2644
Given the discussion, I will close this.
/close

[2021-05-05 00:14] #2644 closed

[2021-05-05 00:17] thesuperzapper commented on #2694
/priority p1

[2021-05-05 00:21] thesuperzapper opened #2695 "create `priority/p3` tag"
Currently we cant ask the bot to `/priority p3` as this tag is missing from the repo.

We should add it, just like it exists on `kubeflow/kubeflow`:
https://github.com/kubeflow/kubeflow/issues?q=is%3Aopen+is%3Aissue+label%3Apriority%2Fp3

[2021-05-05 00:21] thesuperzapper commented on #2695
@Bobgy since you are one of the only "writers" on the repo, can you do this?

[2021-05-05 00:23] thesuperzapper commented on #2682
@yuzisun do you want to take this up, or do you need some help?

[2021-05-05 00:52] yuzisun commented on #2682
@thesuperzapper help would be greatly appreciated!

[2021-05-05 12:55] RFMVasconcelos commented on #2546
@thesuperzapper thank you for the guidance!

I don't see settings, maybe I am not an owner? I did create the project and am able to use it...
![Screenshot from 2021-05-05 13-52-38](https://user-images.githubusercontent.com/27001378/117143934-44c87c00-ada9-11eb-90cd-15cffb2afce7.png)

@Bobgy do you see settings?

[2021-05-05 12:56] halvgaard commented on #2619
I am trying to run the notebook but fails with "module 'kubeflow.fairing' has no attribute 'cloud'. I also had to install a missing package "msrestazure". So stuck here right now.

[2021-05-05 13:21] RFMVasconcelos commented on #2177
@thesuperzapper we are now at 38 files! The list now is:

[code]

[2021-05-05 13:24] RFMVasconcelos commented on #2177
@thesuperzapper you can track this list with the command:
` grep -lr 'This guide contains outdated information pertaining to Kubeflow 1.0.' content/en/docs | wc -l `

[2021-05-06 00:08] thesuperzapper commented on #2546
@RFMVasconcelos I created [a project on the kubeflow org](https://github.com/orgs/kubeflow/projects/45) for the docs and made you `admin` on it, everyone else is only a `reader` unless we explicitly add them).

It's probably easier to just move over to that one, where we have actual admin access, feel free to change the structure, etc.

[2021-05-06 10:41] RFMVasconcelos commented on #2546
@thesuperzapper thanks for this!
LGTM

We can classify the current `Docs Restructure` project as finished, and track continuous improvements there. Lets start porting items to that board, and next week I will take some time to organize them if you don't get to it before me :)

[2021-05-07 07:07] #2687 closed

[2021-05-07 19:43] ptitzler opened #2701 "Install Kubeflow on OpenShift contains broken markdown and invalid kfDef link"
Section "Installing Kubeflow" in https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/ has a markdown issue and the referenced YAML file does not exist.

![image](https://user-images.githubusercontent.com/13068832/117500494-926ff080-af31-11eb-8a1e-1ea118aeb084.png)

[2021-05-08 00:19] Arhell opened #2702 "feature: update site to last version hugo & docsy"
/assign

[2021-05-08 10:59] Bobgy commented on #2695
Sure, just configured that

[2021-05-08 10:59] #2695 closed

[2021-05-08 16:37] arunnalpet opened #2704 "Set Up Your Notebooks. Broken reference links"
https://www.kubeflow.org/docs/components/notebooks/setup/

Under 'Next Steps' --> 'Building Docker Images' Link is broken.
Currently its pointing to: https://www.kubeflow.org/docs/components/notebooks/submit-docker-image/

[2021-05-11 15:05] Arhell commented on #2704
/assign

[2021-05-12 08:53] Arhell commented on #2704
@arunnalpet done

[2021-05-12 12:55] RFMVasconcelos opened #2708 "Usage Reporting - Is this Out of Date?"
https://www.kubeflow.org/docs/other-guides/usage-reporting/

@animeshsingh @joeliedtke @Bobgy should we remove the Out of date banner here? Would you know who could review that this document is up to date?

[2021-05-12 12:56] RFMVasconcelos commented on #2708
I arrived to this page from the `Usage Reporting` link in the Kubeflow Dashboard

[2021-05-12 12:57] Bobgy commented on #2708
I can confirm we removed usage tracking, so the whole page can be deleted

[2021-05-12 14:19] RFMVasconcelos commented on #2708
Thank you for the quick reply @Bobgy ! I will make a PR to remove the page then ;)

[2021-05-12 14:37] #2704 closed

[2021-05-12 14:56] #2708 closed

[2021-05-12 18:10] cloudbow opened #2710 "Link broken"
Last link in this page is broken

https://www.kubeflow.org/docs/components/pipelines/sdk/parameters/

[2021-05-12 19:34] zijianjoy opened #2711 "Kubeflow icon was not showing up"
<img width="478" alt="Screen Shot 2021-05-12 at 12 33 41 PM" src="https://user-images.githubusercontent.com/37026441/118034011-5a482380-b31e-11eb-97dc-dced2fa2519e.png">

When opening kubeflow.org, the browser tab should show kubeflow icon, but it is not showing up in my case. Does it apply to others as well?

[2021-05-13 00:36] himanshu9345 commented on #2711
I checked it works for me, I think is a browser/internet issue.
![Screenshot from 2021-05-12 20-34-37](https://user-images.githubusercontent.com/8727605/118060837-b1bbb300-b361-11eb-94ef-0db5f2983b53.png)

[2021-05-13 09:33] Arhell opened #2712 "Kubeflow On-prem in a Multi-node Kubernetes Cluster"
https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/#vanilla-on-prem-kubeflow-installation
**installing Kubeflow on existing clusters** broken link
/assign

[2021-05-13 10:26] RFMVasconcelos commented on #2711
Good on my side as well

[2021-05-13 23:08] zijianjoy commented on #2711
I see, then it is probably just my machine. It is not blocking me for any development. Thank you both for confirming!

[2021-05-13 23:08] #2711 closed

[2021-05-15 15:29] DavidSpek commented on #2637
Here too there is a problem with mentioning VS Code and RStudio by name, which will make the docs surrounding this a bit more difficult to write as things need to be kept general but still be easy to follow.

The `Create a Custom Jupyter Image` would become more general (`Creating a Custom Notebook Image`) and need to be updated for the new notebook images.

`Set Up Your Notebooks` is a pretty bad

[2021-05-15 16:02] rickysage opened #2718 "Many links on Kubeflow External Add-ons page are broken"
Website URL : https://www.kubeflow.org/docs/external-add-ons/feature-store/getting-started/

Example Section links :

https://docs.feast.dev/user-guide/getting-training-features
https://www.kubeflow.org/docs/components/pipelines/pipelines-overview
https://docs.feast.dev/user-guide/getting-online-features
https://www.kubeflow.org/docs/components/pipelines/pipelines-overview
https://github.com/feast

[2021-05-16 01:49] thesuperzapper commented on #2718
@rickysage do you want to have a crack at fixing it with a PR?

[2021-05-16 02:59] rickysage commented on #2718
Sure @thesuperzapper , please assign this to me! Will take it up :+1:

[2021-05-16 22:10] thesuperzapper commented on #2568
@Arhell said he would take a look at this https://github.com/kubeflow/website/pull/2705#issuecomment-841853647

[2021-05-16 22:13] Arhell commented on #2568
/assign

[2021-05-16 22:27] thesuperzapper commented on #2568
@Arhell if you didn't know, you can also see this behaviour with chrome developer tools.

![Screen Shot 2021-05-17 at 10 27 05 am](https://user-images.githubusercontent.com/5735406/118414739-753ddd80-b6fa-11eb-805d-bd1852514700.png)

[2021-05-17 10:29] #2712 closed

[2021-05-17 18:32] Arhell commented on #2710
@cloudbow  done

[2021-05-18 08:21] anthonydillon opened #2720 "Monitoring docs page missing"
We link to this [logging and monitoring docs](https://www.kubeflow.org/docs/distributions/gke/monitoring/) page from this page https://ubuntu.com/ai/what-is-kubeflow. This page is now 404ing without a redirect. Has this page been removed for good?

[2021-05-18 09:32] RFMVasconcelos commented on #2710
/close

[2021-05-18 09:32] #2710 closed

[2021-05-18 10:25] RFMVasconcelos commented on #2720
Thank you for bringing this up @anthonydillon!

It appears that this documentation was deprecated and was GKE specific. I suggest removing the link from  https://ubuntu.com/ai/what-is-kubeflow until there is further documentation on this regard.

[2021-05-18 10:27] RFMVasconcelos commented on #2720
/close

[2021-05-18 10:27] #2720 closed

[2021-05-18 19:08] halvgaard commented on #2619
The tutorial link is broken now. Assume it has been moved here: https://www.kubeflow.org/docs/examples/kubeflow-samples. But without the original text and links. So guess we can close this one.

[2021-05-18 19:08] #2619 closed

[2021-05-19 17:06] #2702 closed

[2021-05-20 03:59] thesuperzapper commented on #2718
/assign @rickysage

[2021-05-20 04:03] thesuperzapper commented on #2671
@RFMVasconcelos did you get a chance to look at this split, as described in: https://github.com/kubeflow/website/issues/2671#issuecomment-829723462

[2021-05-21 14:39] Arhell opened #2731 "TFJob Common"
https://www.kubeflow.org/docs/reference/tfjob/v1beta2/common/
broken links

[2021-05-21 23:21] busycalibrating opened #2732 "Several issues in the "build pipelines" notebook"
I've been playing around with the [build pipelines notebook](https://colab.research.google.com/github/kubeflow/website/blob/master/content/en/docs/components/pipelines/sdk/v2/build-pipeline.ipynb#scrollTo=-pxRW-6f_uNq) (also [here](https://www.kubeflow.org/docs/components/pipelines/sdk/v2/build-pipeline/)) and I've run into a few issues and inconsistent usages of various components.

My environmen

[2021-05-23 00:51] Arhell commented on #2731
/assign

[2021-05-23 00:51] Arhell opened #2734 "Reference documentation for TFJob"
https://www.kubeflow.org/docs/reference/tfjob/v1/common/
broken links
/assign

[2021-05-24 06:01] RFMVasconcelos commented on #2732
Thank you for this issue @busycalibrating !

@zijianjoy @Bobgy could you PTAL?

[2021-05-24 06:40] muhammadtehseenSystemsltd opened #2735 "Data Management"
The documentation doesn't guide on integrating Arrikto's Rok into existing Kubeflow installation

https://www.kubeflow.org/docs/other-guides/integrations/data-management/

[2021-05-24 06:45] RFMVasconcelos opened #2736 "Where to locate `multi-tenancy` docs?"
Broken down from #2671

[2021-05-24 06:47] RFMVasconcelos commented on #2671
It looks like we are tackling 3 problems here:

1. Installing Kubeflow to top level. > everyone seems to agree with the move
2. What to do with `multi-tenancy`? > no consensus yet > Started issue #2736
3. Where to move `Getting started/Kubeflow overview` to remove `Getting Started`

I would suggest actioning move (1), discuss (2) in #2736 and move (3) under about so we can remove `Getting Started`

[2021-05-25 16:42] busycalibrating commented on #2732
I'll add that this is only an issue with the SDK v2 tutorials; I ran through some of the original SDK tutorials and they worked fine.

[2021-05-25 19:11] ulrikpl opened #2738 "ignore this post please"

[2021-05-26 08:39] RFMVasconcelos commented on #2738
/close

[2021-05-26 08:39] #2738 closed

[2021-05-26 12:10] difince opened #2739 "Broken Link in KFServing -> Canary Rollout"
On this page https://www.kubeflow.org/docs/components/kfserving/kfserving/
(this source file https://github.com/kubeflow/website/blob/master/content/en/docs/components/kfserving/kfserving.md)

`Canary Rollout` points out to https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/rollouts that returns 404

[2021-05-26 12:32] difince opened #2740 "Broken Link in Samples -> Kafka"
https://github.com/kubeflow/kfserving/blob/master/docs/samples/kafka/README.md
contains broken link:
**5. Install [Kafka Event Source](https://github.com/knative/eventing-contrib/tree/main/kafka/source)**

https://github.com/knative/eventing-contrib/tree/main/kafka/source return 404

[2021-05-26 12:38] difince commented on #2739
I guess this link (`Canary Rollout`) should still point to samples in `v1beta1` directory - > https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1beta1/rollout

If yes, I could create a PR

[2021-05-26 15:26] Bobgy commented on #2732
@busycalibrating thank you for flagging these issues, sorry for not fully working initial documentation.

I think I've fixed most of these in PR https://github.com/kubeflow/website/pull/2729. Can you confirm?

[2021-05-26 16:47] busycalibrating commented on #2732
No problem, thanks for getting on it so fast!

[2021-05-26 21:03] chensun commented on #2732
JSON is for v2 only. You can submit it to Vertex AI, or later to KFP OSS once v2 engine is ready.
For KFP v2 compatible mode, which is essentially "running v2 style pipeline on KFP OSS v1", the expected compilation result is still YAML.

[2021-05-27 05:01] #2732 closed

[2021-05-27 10:49] RFMVasconcelos commented on #2546
I believe we can now close this tracking issue!

Thank you all for the amazing work :)

[2021-05-27 10:49] #2546 closed

[2021-05-27 14:51] amygdala opened #2742 "Kubeflow Pipelines Standalone Deployment: cluster version"
Here: https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/

Perhaps we should note that currently, the k8s cluster needs to be version 1.18.

[2021-05-27 15:43] Arhell commented on #2568
@thesuperzapper can be closed

[2021-05-27 19:43] #2731 closed

[2021-05-28 06:20] #2734 closed

[2021-05-28 06:51] m3at opened #2744 "Broken link on "Run Trigger" page"
For the [Run Trigger page](https://www.kubeflow.org/docs/components/pipelines/overview/concepts/run-trigger/) the link for `overview of Kubeflow Pipelines` is `https://www.kubeflow.org/docs/components/pipelines/pipelines-overview/` but this is a broken link

[2021-05-28 10:00] thesuperzapper commented on #2568
resolved by https://github.com/kubeflow/website/pull/2728

/close

[2021-05-28 10:00] #2568 closed

[2021-05-29 08:08] #2744 closed

[2021-05-29 21:54] Arhell opened #2746 "Notebook CRD V1 Reference"
https://www.kubeflow.org/docs/reference/notebook/v1/
broken link
/assign

[2021-05-31 03:17] thesuperzapper commented on #2671
@RFMVasconcelos sounds good if you want to make PR's, I will review.

[2021-05-31 03:19] thesuperzapper commented on #2637
We should make sure to point users to the "[Example Notebook Servers](https://github.com/kubeflow/kubeflow/tree/master/components/example-notebook-servers)" docs about making custom notebook  images, as some users don't seem to be finding that README.

[2021-06-02 17:07] Tomcli commented on #2371
/close

this link is already fixed

[2021-06-02 17:07] #2371 closed

[2021-06-03 11:08] Tomer23 commented on #2658
The component doc for [multi-tenancy](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contributors-manually) also needs updating:

In 1.3 kf uses istio 1.9 which depreciated rbac.istio.io/v1alpha1/ServiceRoleBinding and replaced it with AuthorizationPolicy. The doc for manual profile creation does not reflect that.

[2021-06-03 23:28] #2746 closed

[2021-06-05 13:16] susan-shu-c commented on #2502
It actually seems to be working now - the link I screenshotted as being blank in the issue. Maybe I caught it at a bad time.

[2021-06-05 13:16] #2502 closed

[2021-06-06 06:35] rickysage commented on #2718
@thesuperzapper the PR is raised, please let me know if anything else is required here. Just to share, I do not have the merge permissions.

[2021-06-07 05:25] thesuperzapper commented on #2718
@richardsliu I have asked @woop to do the approval [here](https://github.com/kubeflow/website/pull/2753#issuecomment-855587919), as he is in `OWNERS` for feast docs on kubeflow.org

[2021-06-07 05:26] woop commented on #2718
Thanks for pointing this out @rickysage!

[2021-06-07 05:39] rickysage commented on #2718
@thesuperzapper and @woop thanks for merging the PR. Just checked on live website, the urls seems to be working now. Can I close this issue now? :-)

[2021-06-07 09:07] thesuperzapper commented on #2718
Resolved by #2753
/close

[2021-06-07 09:07] #2718 closed

[2021-06-07 22:38] Arhell opened #2756 "Kubeflow Versioning Policies"
https://www.kubeflow.org/docs/reference/version-policy/
/assign
some links a broken

[2021-06-10 04:14] thesuperzapper commented on #2684
@RFMVasconcelos The behaviour of the menu has changed after the docsy update from https://github.com/kubeflow/website/pull/2705.

Now only the "expanded" sections are visible, this is more clean, but I am not sure if its better for users, as they might not realise there are more sections to view:
![image](https://user-images.githubusercontent.com/5735406/121463845-e4aba200-ca06-11eb-9b9c-be550693c

[2021-06-10 04:27] thesuperzapper commented on #2736
@RFMVasconcelos I think there are two options:

1. Move `Multi Tenancy` into `Components / Central Dashboard`:
    * Pros:
       * Central Dashboard is closely related to the istio configs which actually do the security for multi-tenancy (that is, mapping web sessions to namespaces/profiles)
    * Cons:
       * Multi Tenancy is really a "feature" of every component, and putting it under a single

[2021-06-10 04:51] thesuperzapper opened #2759 "Remove the `Tutorials, Samples, and Shared Resources` section"
I believe most of the content of `Tutorials, Samples, and Shared Resources` can be split into other sections (or outright removed), allowing us to remove this top-level section and further declutter the website.

I will list out each page and propose a new home, (or explain why it should be removed):
* `Kubeflow Samples`:
   *  __MOVE__ to `Getting Started / Examples`
   * links to examples on htt

[2021-06-10 04:52] thesuperzapper commented on #2759
/priority p1

[2021-06-10 04:52] thesuperzapper commented on #2759
@RFMVasconcelos what do you think of this proposal?

[2021-06-10 04:54] thesuperzapper commented on #2671
@RFMVasconcelos  I actually think we can keep `Installing Kubeflow` under `Getting Started`, allowing us to add other pages to `Getting Started` as well.

For example, we could add an `Getting Started / Examples` page, like I proposed in https://github.com/kubeflow/website/issues/2759

[2021-06-10 05:34] thesuperzapper opened #2760 "Remove the `Further Setup and Troubleshooting` section"
I believe most of the content of `Further Setup and Troubleshooting` can be split into other sections (or outright removed), allowing us to remove this top-level section and further declutter the website.

__I will list out each page and propose a new home, (or explain why it should be removed):__

* `Deploying Kubeflow behind a proxy server`:
   * __REMOVE__
   * discusses `kfctl`, which is no lo

[2021-06-10 05:34] thesuperzapper commented on #2760
/priority p1

[2021-06-10 05:34] thesuperzapper commented on #2760
@RFMVasconcelos what do you think of this proposal?

[2021-06-11 12:12] bcebere opened #2762 "Google Cloud tutorial: broken link"
The link for the end-to-end MNIST tutorial is not working

https://www.kubeflow.org/docs/distributions/gke/gcp-e2e/

[2021-06-11 15:29] #2756 closed

[2021-06-12 02:38] DnPlas opened #2764 "Getting Started with Katib: pv.yaml no longer exists"
In the Katib setup section, subsection [setting up persistent volumes](https://www.kubeflow.org/docs/components/katib/hyperparameter/#setting-up-persistent-volumes), it is mentioned a PV is needed to complete the step, but the link to pv.yaml file is broken (404 not found). It was actually removed by [#1527](https://github.com/kubeflow/katib/pull/1527), the documentation should reflect the change

[2021-06-12 17:55] JODIN1727 opened #2765 "The Kubeflow is very interesting and knowledgeable"

[2021-06-12 22:18] andreyvelich commented on #2764
Thank you for noticing this @DnPlas!

We have an issue to track this: https://github.com/kubeflow/katib/issues/1528.
We will try to fix this soon.

[2021-06-12 22:19] andreyvelich commented on #2764
cc @kubeflow/wg-automl-leads

[2021-06-12 23:58] DnPlas commented on #2764
Ah! @andreyvelich didn't noticed it was already tracked, then shall I close this bug?

[2021-06-13 08:07] johnugeorge commented on #2764
Yes. it can be tracked in #1528.

[2021-06-13 16:42] Arhell opened #2766 "Troubleshooting"
https://www.kubeflow.org/docs/other-guides/troubleshooting/#avx2
/assign

[2021-06-14 07:28] #2765 closed

[2021-06-14 11:21] Arhell commented on #2762
@bcebere done

[2021-06-14 11:24] #2762 closed

[2021-06-14 14:02] Freezaa9 commented on #1444
Hi,

I don't know if it is possible to reopen this issue, but it would be appreciate to have a notebook to show the possibilities of visualyzing a HTML webb app in Kubeflow. Especialy the one shown by the image in the documentation. The example in the docs look really nice and interactive.

Thanks a lot for the great work !

![image](https://user-images.githubusercontent.com/14346331/121904622-a3c

[2021-06-14 16:28] DnPlas commented on #2764
Closing this issue as it is already tracked in [#1528](https://github.com/kubeflow/katib/issues/1528)

[2021-06-14 16:28] #2764 closed

[2021-06-15 03:11] karanveersingh5623 commented on #1507
I am still facing the issue to run the sample code , no module named 'tensorflow.examples'
How and where I should copy examples folder to tensorflow python3 site-pacakages ?

[2021-06-15 22:13] stewartadam opened #2770 "Markdown code blocks broken after substituted text tokens"
The docs appear to be pre-processed with a tokenizer for items like `{{% kf-latest-version %}}` - however, this substitution appears to be ending code blocks prematurely, causing broken markdown.

Example: [Authentication using OIDC in Azure](https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/)

Note how the original markdown shows:
[code]

but the resulting page has the version

[2021-06-15 22:15] stewartadam opened #2771 "Azure OIDC docs point to kfctl 1.3.0 which does not exist"
On [Authentication using OIDC in Azure](https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/), users are prompted to download kfctl 1.3.0 which does not exist. 1.2.0 appears to be the latest version.

[2021-06-16 11:54] RFMVasconcelos commented on #2759
Nice job picking up on this @thesuperzapper !

I fully agree, this was part of my initial [proposal](https://github.com/kubeflow/community/pull/440/files), but ended up not having the time to action it yet.

I agree with all points. Would you be able to start a PR? :)

[2021-06-16 13:47] RFMVasconcelos commented on #2760
I am in favour of this proposal

[2021-06-16 13:48] RFMVasconcelos commented on #2760
We need to re-write the Support page before moving it to Getting Started

[2021-06-16 16:11] FlempTW commented on #2739
yes, your  guess is right you can create a PR to fix the link

[2021-06-16 18:27] Arhell opened #2775 "broken markdown links"
https://www.kubeflow.org/docs/examples/blog-posts/
/assign

[2021-06-17 02:57] himanshu9345 commented on #2701
We need to just remove ")" from the link at the end, will update here. You can assign it to me

[2021-06-17 03:10] himanshu9345 commented on #2701
![Screenshot from 2021-06-16 23-06-21](https://user-images.githubusercontent.com/8727605/122325100-f35af300-cef7-11eb-8987-0055d2182377.png)
I have updated the link, I can create a merge request for this change.

[2021-06-17 03:35] thesuperzapper commented on #2701
/assign @himanshu9345

[2021-06-17 16:28] kimwnasptd opened #2778 "Add docs for the Models web app"
Follow up issue from https://github.com/kubeflow/kfserving/issues/1664

I want to add docs to the KFServing component for the new Models web app that is available in the KFServing 0.6 release. I'll also make it explicit that this will not be part of 1.3, since 1.3 contains KFServing 0.5, but I'll also add some steps on how someone could launch it with Kubeflow as well.

I was thinking of following

[2021-06-17 17:10] shannonbradshaw commented on #2778
@kimwnasptd I like this idea. I also think we should consider changing the title of the nested page so that we're doubling up with "KFServing". Maybe:

[2021-06-17 18:36] dmerz75 opened #2780 "Install the Kubeflow Pipelines SDK"
https://www.kubeflow.org/docs/components/pipelines/sdk/install-sdk/

The "build a component and a pipeline" link is broken.

[2021-06-18 03:47] himanshu9345 commented on #2780
@RFMVasconcelos Can I work on this?

[2021-06-18 13:25] RFMVasconcelos commented on #2780
That would be great @himanshu9345 !

[2021-06-18 15:15] himanshu9345 commented on #2780
@RFMVasconcelos Can you please assign it to me?

[2021-06-18 23:10] #2529 closed

[2021-06-18 23:10] #2330 closed

[2021-06-18 23:10] #2298 closed

[2021-06-18 23:10] #2005 closed

[2021-06-18 23:10] #2340 closed

[2021-06-18 23:10] #1956 closed

[2021-06-18 23:10] #2349 closed

[2021-06-18 23:10] #1924 closed

[2021-06-18 23:10] #1929 closed

[2021-06-18 23:10] #2367 closed

[2021-06-18 23:10] #2353 closed

[2021-06-18 23:10] #2366 closed

[2021-06-18 23:10] #2380 closed

[2021-06-18 23:10] #2387 closed

[2021-06-18 23:10] #2293 closed

[2021-06-18 23:10] #2399 closed

[2021-06-18 23:10] #2400 closed

[2021-06-18 23:10] #2403 closed

[2021-06-18 23:10] #2406 closed

[2021-06-18 23:10] #2382 closed

[2021-06-18 23:10] #2415 closed

[2021-06-18 23:11] #2172 closed

[2021-06-18 23:11] #2331 closed

[2021-06-18 23:11] #2427 closed

[2021-06-18 23:11] #2434 closed

[2021-06-18 23:11] #2435 closed

[2021-06-18 23:11] #2437 closed

[2021-06-18 23:11] #2048 closed

[2021-06-18 23:11] #2206 closed

[2021-06-18 23:56] #2775 closed

[2021-06-19 08:56] Bobgy commented on #2381
/reopen

[2021-06-20 05:54] himanshu9345 commented on #2740
@RFMVasconcelos can I work on this?

[2021-06-20 06:15] himanshu9345 commented on #2771
@RFMVasconcelos I guess we need to change kfctl version in the doc, as the latest available version is 1.2.0. Do you know the team/people to which I can talk to confirm/rectify the issue?

[2021-06-20 06:28] himanshu9345 commented on #2632
@RFMVasconcelos , Can you please assign this to me?

[2021-06-20 13:29] #2446 closed

[2021-06-20 13:29] #2452 closed

[2021-06-20 13:29] #2456 closed

[2021-06-20 13:29] #2463 closed

[2021-06-20 13:29] #2478 closed

[2021-06-20 13:29] #2497 closed

[2021-06-20 13:29] #2436 closed

[2021-06-20 13:29] #2500 closed

[2021-06-20 13:29] #2507 closed

[2021-06-20 13:29] #2519 closed

[2021-06-20 13:29] #2503 closed

[2021-06-21 02:01] NoahRoseLedesma opened #2783 "Broken link on Output Artifact page"
https://www.kubeflow.org/docs/components/pipelines/overview/concepts/output-artifact/

The link at the end of the page for "Output Viewers" leads to a non-existent page. Should the link point to https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#available-output-viewers ?

[2021-06-21 02:10] NoahRoseLedesma opened #2784 "Broken link in "Visualize Results in the Pipelines UI""
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

The link to the "tfma component" component example links to a nonexistent file on github.

[2021-06-21 10:11] RFMVasconcelos commented on #2740
That would be great @himanshu9345! Thank you

[2021-06-21 10:12] RFMVasconcelos commented on #2780
/assign @himanshu9345

[2021-06-21 10:12] RFMVasconcelos commented on #2780
/close

[2021-06-21 10:12] #2780 closed

[2021-06-21 12:13] RFMVasconcelos commented on #2632
@himanshu9345 I can :)

/assign @himanshu9345

For future reference, you are able to assign issues to yourself by commenting `/assign`

[2021-06-21 12:15] RFMVasconcelos commented on #2771
I believe @brettkoonce or @aronchick might be good people to ask about Azure :)

[2021-06-22 03:07] himanshu9345 commented on #2740
I am closing this issue as this issue should belong in Kubeflow/kfserving repo/project
/assign
/close

[2021-06-22 03:08] himanshu9345 commented on #2740
@RFMVasconcelos can you please close this issue, reason mentioned above.

[2021-06-22 11:48] himanshu9345 commented on #2783
/assign

[2021-06-22 19:24] DavidSpek commented on #2637
/area docs

[2021-06-25 18:58] vemqar opened #2792 "How to export pipeline metrics in v2"
In kfp v1, metrics could be exported by dumping metrics dictionary into `/mlpipeline-metrics.json`. In kfp v2, that has changed and metrics are logged (e.g. `smetrics.log_metric("score", float(score))` ). While this is straightforward to do in a python function-based component, how is it done in a separate component code? Thank you in advance.

[2021-06-26 02:02] #2541 closed

[2021-06-26 02:02] #2553 closed

[2021-06-26 02:02] #2554 closed

[2021-06-26 02:02] #2555 closed

[2021-06-26 09:20] Arhell opened #2793 "update hugo to last version"
https://github.com/gohugoio/hugo/releases/tag/v0.84.1
/assign

[2021-06-28 10:54] #2793 closed

[2021-06-28 16:52] kimwnasptd opened #2795 "Add support for tabs"
While working on https://github.com/kubeflow/website/issues/2778 I realized that I needed a tabs functionality, to group different yamls.

I think we should also include a `tab` and `tabs` shortcodes, just like they do for the K8s website
https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs
https://github.com/kubernetes/website/blob/main/layouts/shortcodes/tab.html
https://github.com/

[2021-06-28 18:08] ptitzler opened #2796 "Kubeflow Pipelines SDK for Tekton"
The first paragraph in https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-with-tekton/

references https://github.com/kubeflow/kfp-tekton/tree/master/tekton_kfp_guide.md, which yields a 404.

[2021-06-28 23:06] Arhell opened #2797 "update hugo version"
/assign

[2021-06-30 23:17] thesuperzapper commented on #2760
Sorry, haven't had time to work on this lately, I will eventually get to it, but if someone else wants to pick it up and make a PR, I am happy to review.

[2021-06-30 23:17] thesuperzapper commented on #2759
@RFMVasconcelos Sorry, haven't had time to work on this lately, I will eventually get to it, but if someone else wants to pick it up and make a PR, I am happy to review.

[2021-07-01 04:25] thesuperzapper opened #2803 "Create `Concepts` section under `Getting Started`"
I propose that we add a new sub-section under `Getting Started`,  called `Concepts` which can house general architectural principals which we want all new users of Kubeflow to understand.

__A possible initial structure is as follows:__
[code]

_NOTE: I have discussed this before in other issues, but in those I was proposing a new top-level section, whereas I now think its better to keep under `Ge

[2021-07-01 04:25] thesuperzapper commented on #2803
@RFMVasconcelos what are your thoughts?

[2021-07-01 04:25] thesuperzapper commented on #2671
I am going to close this in preference of leaving the "Getting Started" section, so https://github.com/kubeflow/website/issues/2760 and https://github.com/kubeflow/website/issues/2759 can add things to the Getting Started section.

Regarding "Concepts" I think we can place them under "Getting Started" also, as proposed in: https://github.com/kubeflow/website/issues/2803

[2021-07-01 04:25] #2671 closed

[2021-07-01 04:26] thesuperzapper commented on #2803
/priority p2

[2021-07-01 04:31] thesuperzapper opened #2804 "Kanban for Website & Docs"
I want to leave a link to the GitHub project board we are using to track work on the website.
https://github.com/orgs/kubeflow/projects/45

[2021-07-01 04:33] #2804 closed

[2021-07-01 04:35] thesuperzapper opened #2805 "Kanban Board (LINK INSIDE)"
## Here is a [link to the Kanban](https://github.com/orgs/kubeflow/projects/45) for the Website & Docs.

[2021-07-01 04:35] thesuperzapper commented on #2805
/lifecycle frozen

[2021-07-01 04:36] thesuperzapper commented on #2805
@Bobgy can you pin this to the `kubeflow/website` repo so people can see this board more easily?

This is necessary because the Kanban lives on the `kubeflow` organisation, rather than in this repo.

[2021-07-01 04:38] thesuperzapper commented on #2616
I am closing this in preference of https://github.com/kubeflow/website/issues/2760, feel free to reopen if we want to make a troubleshooting section again in the future.
/close

[2021-07-01 04:38] #2616 closed

[2021-07-01 04:40] thesuperzapper commented on #2491
I am closing in preference of https://github.com/kubeflow/website/issues/2759, feel free to reopen if we want to add a resources again in future.
/close

[2021-07-01 04:40] #2491 closed

[2021-07-01 04:43] thesuperzapper commented on #2766
@Arhell there is a proposal to remove the "Troubleshooting" page: https://github.com/kubeflow/website/issues/2760

[2021-07-01 04:45] thesuperzapper commented on #2736
I am closing this in favour of discussion on the specific proposal of creating a `Concepts` section under `Getting Started`:
https://github.com/kubeflow/website/issues/2803

/close

[2021-07-01 04:45] #2736 closed

[2021-07-01 04:46] thesuperzapper commented on #2797
@Arhell can you explain what you mean?

[2021-07-01 04:49] thesuperzapper opened #2806 "close the "kubeflow docs restructure" kanban"
There is still a l[egacy project from the 1.3 release](https://github.com/kubeflow/website/projects/2
) on this repo.

We should close this in preference of [the new one](https://github.com/orgs/kubeflow/projects/45) (on the kubeflow organisation, rather than this repo).

I have also create an issue https://github.com/kubeflow/website/issues/2805 (which should be pinned) to help users find the new

[2021-07-01 05:15] thesuperzapper opened #2807 "Restructure the `About` section"
The `about` section of the website hasn't been touched/updated in a very long time, it is now very outdated, I propose we keep it but make the following changes.

__I propose we make the following changes to the `about` section:__
- `Introduction to Kubeflow`
    - __MOVE__ to `Getting Started / Introduction to Kubeflow`
    - this page will be more visible under `Getting Started`
- `Use Cases`

[2021-07-01 05:16] thesuperzapper commented on #2807
/priority p1

[2021-07-01 05:16] thesuperzapper commented on #2659
I am closing this in favour of a more specific proposal for only the `about` section: https://github.com/kubeflow/website/issues/2807

/close

[2021-07-01 05:16] #2659 closed

[2021-07-01 05:17] thesuperzapper commented on #2807
@RFMVasconcelos what are your thoughts?

[2021-07-01 05:18] thesuperzapper commented on #2806
/priority p3

[2021-07-01 05:18] thesuperzapper commented on #2806
@RFMVasconcelos are you OK if we close the old Kanban?

[2021-07-01 05:19] thesuperzapper commented on #2664
/priority p2

[2021-07-01 05:19] thesuperzapper commented on #2665
This is related to https://github.com/kubeflow/website/issues/2664

[2021-07-01 05:20] thesuperzapper commented on #2601
This is part of the https://github.com/kubeflow/website/issues/2807 proposal, I will close this for now so we can discuss there.

/close

[2021-07-01 05:20] #2601 closed

[2021-07-01 05:22] thesuperzapper commented on #2665
/priority p2

[2021-07-01 05:24] thesuperzapper commented on #2561
Please refer to the new [Installing Kubeflow](https://www.kubeflow.org/docs/started/installing-kubeflow/) page for options relating to installing Kubeflow on existing clusters, the page you linked to has since been removed.

/close

[2021-07-01 05:24] #2561 closed

[2021-07-01 05:29] thesuperzapper commented on #2597
I believe this was fixed by https://github.com/kubeflow/website/pull/2705

/close

[2021-07-01 05:29] #2597 closed

[2021-07-01 07:27] Arhell commented on #2797
@thesuperzapper now out website using 0.84.1 latest version v0.84.3 I will update a little later

[2021-07-01 07:29] Arhell commented on #2766
@thesuperzapper Ok, I will

[2021-07-01 22:50] Arhell commented on #2766
/assign @Arhell

[2021-07-03 14:03] Arhell commented on #2770
/assign @Arhell

[2021-07-04 04:12] pushkarv commented on #2456
The -i option works:
yq w -i ${KFDEF} 'metadata.name' ${KUBEFLOW_DEPLOYMENT_NAME} > ${KFDEF}.tmp && mv ${KFDEF}.tmp ${KFDEF}

[2021-07-04 13:09] Arhell opened #2810 "Support - update blog link"
https://www.kubeflow.org/docs/other-guides/support/#following-the-news
current https://medium.com/kubeflow
expected https://blog.kubeflow.org/
/assign

[2021-07-05 06:27] thesuperzapper commented on #2766
closed by https://github.com/kubeflow/website/pull/2768
/close

[2021-07-05 06:27] #2766 closed

[2021-07-05 06:28] thesuperzapper commented on #2760
@Arhell do want to take a crack at the rest of the removals since you did https://github.com/kubeflow/website/pull/2768?

[2021-07-05 08:10] RFMVasconcelos commented on #2806
@thesuperzapper thank you for organizing the new kanban! 🚀

I have just confirmed that there are no lost items, and hence closed the previous kanban.

[2021-07-05 08:10] #2806 closed

[2021-07-05 08:39] RFMVasconcelos commented on #2807
Thank you for this @thesuperzapper! All the changes sound reasonable to me. If you are able to create a PR, I am more than happy to review :)

[2021-07-05 23:43] #2797 closed

[2021-07-06 00:27] thesuperzapper commented on #2810
@Arhell As proposed in https://github.com/kubeflow/website/issues/2760, we are planning to move the "Support" section to `Getting Started / Support`.

[2021-07-06 10:12] beltelml opened #2812 "Kubeflow (version> 1.0.2) does not deploy correctly on Azure kubernetes"
I am new to kubernetes. I can not to deploy kubeflow following this instruction (as of 06 july 2021 ) for Azure kubernetes. I downgraded kubeflow to version 1.0.2 to successfully run the command:

kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80

All version above 1.0.2 give errors or do not load dashbord at http://localhost:8080/

I think the instruction of deploying kubeflow

[2021-07-06 15:21] navinger opened #2813 "Deploy Management cluster"
https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/

The anthoscli has been deprecated. This step fails: `gcloud components install kubectl kpt anthoscli beta`
And any subsequent step using the anthoscli fails. You will need to find another way to configure this.

[2021-07-07 07:45] StefanFreshLand opened #2814 "broken link"
end to end kubeflow gcp link is broken

[2021-07-08 02:10] #2570 closed

[2021-07-08 02:10] #2559 closed

[2021-07-08 03:26] a-vinod opened #2819 "Broken Link @ "Introduction to the Pipelines Interfaces" Page"
The link for "build a pipeline" is broken. Leads to https://www.kubeflow.org/docs/components/pipelines/sdk/build-component/#compile-the-pipeline when I think it should be https://www.kubeflow.org/docs/components/pipelines/sdk/build-pipeline/.

Source of Error: https://www.kubeflow.org/docs/components/pipelines/overview/interfaces/

[2021-07-08 10:07] aleb opened #2821 "Getting Started with Multi-user Isolation"
https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/

`kustomize/centraldashboard/base/parama.env` should be `common/config-kubeflow/params.env`

[2021-07-10 18:32] JODIN1727 opened #2824 "To be confirmed"
__Originally posted by @JODIN1727 in https://github.com/JODIN1727/hello-world/issues/2__

[2021-07-12 08:42] #2824 closed

[2021-07-12 10:48] Arhell commented on #2760
/assign

[2021-07-13 08:33] #2594 closed

[2021-07-15 10:56] #2810 closed

[2021-07-16 10:43] Arhell commented on #2759
@thesuperzapper  done

[2021-07-16 12:35] thesuperzapper commented on #2759
@Arhell I am pretty sure you are referring to the other issue (https://github.com/kubeflow/website/issues/2760), as I don't see any PRs related to this issue?

[2021-07-16 12:37] Arhell commented on #2759
Here
https://github.com/kubeflow/website/pull/2825

[2021-07-16 12:39] Arhell commented on #2760
@thesuperzapper  done

[2021-07-16 12:39] Arhell commented on #2759
@thesuperzapper Wrong, sorry

[2021-07-16 12:40] Arhell commented on #2759
/assign

[2021-07-16 13:01] thesuperzapper commented on #2760
@Arhell there are still two outstanding things:
1. The `/docs/other-guides` (Further Setup and Troubleshooting) section should be deleted (it's just an empty section now)
2. We should clean up the `Support` page (which was moved under `Getting Started`)
     - _NOTE: I am not sure what we should do with the content, but its clearly way to verbose, and not really helpful for directing users towards

[2021-07-16 13:05] Arhell commented on #2760
Got it, I'll fix it, but I won't touch the content on the `Support` page. Not sure what to remove or add.

[2021-07-21 05:20] #2433 closed

[2021-07-21 05:20] #2588 closed

[2021-07-21 22:42] akdigitalself opened #2832 "Amazon EKS and Kubeflow 1.3 Compatibility"
The https://www.kubeflow.org/docs/distributions/aws/deploy/eks-compatibility/ page shows the compatibility of KF 1.2. Can you please add the compatibility matrix for KF 1.3 as well? Thanks!

[2021-07-22 02:34] edwardfung123 opened #2833 "The kpt install from `gcloud components install` is not compatible with the instruction"
As of 2021-07-21, the `kpt` installed from `gcloud components install kpt` is version `1.0.0-beta.1`. The instructions [here](https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/#configure-kpt-setter-values) is for 0.39 only. We either update the instruction to use kpt 1.0 or ask people to download the binary from [here](https://googlecontainertools.github.io/kpt/installation/b

[2021-07-23 12:47] jeanbaptiste-brasselet opened #2837 "Deploy Management cluster kpt issue"
https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/

If you follow the documentation and use `gcloud components install kubectl kpt` to install kpt. The version 1.0.0-beta will be installed and then the commande like

[code]

won't work at all.

[2021-07-24 10:20] Arhell opened #2838 "update hugo to last version"
/assign

[2021-07-27 14:07] evilnick opened #2841 "Charmed Kubeflow instructions missing istio role"
Charmed Kubeflow requires a role to be added for  RBAC to be able to access resources. This should be added to the install guide.

[2021-07-27 15:22] #2841 closed

[2021-07-27 22:26] thesuperzapper commented on #2629
Bumping for bot, we still need to remove distribution docs from `kubeflow.org`.

[2021-07-27 22:27] thesuperzapper commented on #2589
@yuzisun @ulrikpl did anything come from this, or can it be closed?

[2021-07-28 08:02] thesuperzapper opened #2845 "update content of cards on "kubeflow.org" landing page"
Currently, the content inside the cards on the main "kubeflow.org" landing page is extremely out of date.

We should update them to reflect the new features of Kubeflow, and to highlight what people actually use Kubeflow for these days.

----

__For reference, here are the current cards:__
![Kubeflow](https://user-images.githubusercontent.com/5735406/142980816-4fb40c0c-9096-41af-ba7d-9594e30caae5.

[2021-07-28 08:02] thesuperzapper commented on #2845
/priority p2

[2021-07-28 08:02] thesuperzapper commented on #2845
@RFMVasconcelos what are your thoughts?

[2021-07-28 08:55] ulrikpl commented on #2589
Nothing came of it but since V1.3 is out it is no longer relevant. That said V1.3 install is much easier but KFServing docs are still not very useful as it is near impossible to get a simple model server to work on GKE.

[2021-07-28 09:15] RFMVasconcelos commented on #2845
Thanks for starting this Mathew. I do believe there is room to improve here!

+1 to both suggestions: reduce height and update cards

[2021-07-28 12:55] #2838 closed

[2021-07-28 22:09] Arhell commented on #2760
@thesuperzapper ready, it remains to fix the `Support` section

[2021-07-30 03:32] #2613 closed

[2021-07-30 03:32] #2615 closed

[2021-07-30 03:32] #2610 closed

[2021-07-30 10:58] RFMVasconcelos commented on #2522
I believe this would still be super valuable for the community!

@Bobgy any chance we can make this happen?

[2021-07-30 11:01] #2778 closed

[2021-07-30 15:37] RFMVasconcelos commented on #2668
unstale

[2021-08-01 14:25] satheeshbc opened #2848 "Not in detail, very high and not clear steps"
Not in detail, very high and not clear steps. Explain in sections and in detailed manner.

I looks like a high level data which doesn't give any help in real time working

[2021-08-02 11:13] RFMVasconcelos commented on #2848
This issue is not very actionable, but feedback taken on the lack of clarity on the documentation overall.

/close

[2021-08-02 11:13] #2848 closed

[2021-08-02 11:17] RFMVasconcelos commented on #2677
I believe this has been fixed.

/close

[2021-08-02 11:17] #2677 closed

[2021-08-02 14:48] Arhell commented on #2845
/assign

[2021-08-02 22:29] thesuperzapper commented on #2683
@Bobgy I still think points 2/3/4/5 are important (and can be easily done with a very small PR).

Point 1 is a bit more work so can be discussed later.

Do you want us to make the PR (for you to approve), or does someone on pipelines want to do it?

[2021-08-02 22:30] thesuperzapper commented on #2522
@RFMVasconcelos as discussed above, I think it's on us (maintainers of the website) to set up a new Google Analytics and manage our own auth.

[2021-08-03 03:41] thesuperzapper commented on #2694
@Arhell do you want to pick this up?
/priority p1

[2021-08-05 04:27] thesuperzapper commented on #2682
Bumping for bot, @Arhell this might be an easy one, as its just creating links (not writing docs).

[2021-08-06 07:14] thesuperzapper opened #2855 "update `Getting Started / Support`"
After issue https://github.com/kubeflow/website/issues/2760, we moved `Support` from `Further Setup and Troubleshooting`. We need to refactor/rewrite the `Support` page (as it is now highly visible).

This issue is a __PLACEHOLDER__ to discuss proposals for that page.

[2021-08-06 07:15] thesuperzapper commented on #2760
I am closing this issue, we can discuss updating the `Support` page in:
- https://github.com/kubeflow/website/issues/2855

[2021-08-06 07:15] #2760 closed

[2021-08-06 07:19] thesuperzapper opened #2856 "update `Getting Started / Examples`"
After issue https://github.com/kubeflow/website/issues/2759, we moved `Kubeflow Samples` from `Tutorials, Samples, and Shared Resources`, renaming it to `Examples`. We need to refactor/rewrite the `Examples` page (as it is now highly visible).

__Here are some ideas:__
-  Link to the actively maintained examples in [kubeflow/examples](https://github.com/kubeflow/examples)

[2021-08-06 07:19] thesuperzapper commented on #2759
Closing, as this has been done, we can discuss updating the `Examples` page in:
- https://github.com/kubeflow/website/issues/2856

[2021-08-06 07:19] #2759 closed

[2021-08-06 07:19] thesuperzapper commented on #2856
/priority p1

[2021-08-06 07:20] thesuperzapper commented on #2855
/priority p1

[2021-08-07 14:01] jdumm opened #2860 "Deploy Management cluster"
Hello!  I'm trying to step through the instructions and found a problem with yq.  yq version 3 can no longer be installed on macOS with brew:

It looks like it was formally disabled just now in August.

I tried installing yq from source and hit a bug in the Makefile that was only fixed in v4.

I tried downloading the old tagged binaries and macOS won't let me execute them since they are unverified

[2021-08-08 09:01] Arhell commented on #2694
/assign

[2021-08-09 08:14] jdumm commented on #2860
Alright, I found the workaround to override the security warning on macOS for the downloaded yq_darwin_amd binary.  I'll close this, though updating yq would still be a good idea.

[2021-08-09 08:14] #2860 closed

[2021-08-10 02:31] ChenhanXmu opened #2863 "Upgrading and Reinstalling"
I have two question：
1.I see that k8s v1.12 only supports the installation of kubeflow v0.5（https://v0-7.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements）. If I want to deploy Kubeflow Pipelines standalone, what Kubeflow Pipelines version can k8s v1.12 support?
2.If k8s v1.12 only supports the installation of kubeflow pipeline v0.5, how to deploy Kubeflow Pipelines standalone?

[2021-08-10 22:52] ivanmkc opened #2866 ""output viewers" link is broken"
https://www.kubeflow.org/docs/components/pipelines/overview/concepts/output-artifact/

[2021-08-11 18:35] lindhe opened #2868 "Instructions for uninstalling Kubeflow in Azure use undefined variable"
The article on uninstalling Kubeflow says to:

[code]

The issue with this is that while `CONFIG_FILE` is mentioned in the [installation instructions](https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/), the user is never instructed to set it (e.g. `export CONFIG_FILE="${KF_DIR}/kfctl_k8s_istio.v1.2.0.yaml"`) so one has to play the guessing game instead of just running the

[2021-08-12 23:08] thesuperzapper opened #2873 "reference distributions by their names"
Right now, most distributions are referenced by things other than their "actual names".

This is confusing for users who aren't actively involved in the community, as they believe the `Kubeflow on XXXX` pages describe the ONLY WAY to deploy Kubeflow on that platform.

Furthermore, as `Kubeflow on AWS` and `Kubeflow on Azure` describe installing `Kubeflow 1.2`, many users mistakenly believe that `K

[2021-08-12 23:08] thesuperzapper commented on #2873
/priority p2

[2021-08-12 23:09] thesuperzapper commented on #2873
@RFMVasconcelos @Bobgy what do you think?

[2021-08-12 23:25] thesuperzapper commented on #2694
This has been fulfilled by https://github.com/kubeflow/website/pull/2861
/close

[2021-08-12 23:25] #2694 closed

[2021-08-12 23:26] thesuperzapper commented on #2629
/priority p3

[2021-08-12 23:27] thesuperzapper commented on #2629
/remove-priority p2

[2021-08-13 00:01] thesuperzapper opened #2874 "typo in .gitmodules url"
Currently the [.gitmodules](https://github.com/kubeflow/website/blob/f422f12067ff602fa7de89f4f2cd34ac12263320/.gitmodules#L3) file has a typo in the `themes/docsy` URL.

The file references `https://github.com/google/docsy.gi` which should be `https://github.com/google/docsy.git`.

[2021-08-13 00:01] thesuperzapper commented on #2874
/priority p1

[2021-08-13 00:01] thesuperzapper commented on #2874
@Arhell do you want to make a PR for this?

[2021-08-13 00:03] Arhell commented on #2874
/assign

[2021-08-13 02:13] asok-mirror commented on #2589
I have a doubt here,

looks like the deployment service doest have the node port assigned to access the app outside the cluster in local env.

Is the only way to test the service through port forwarding?

I tried with the manifest supplied in sklearn-iris sample v2.

Is there a way to have the node port assigned to the pod service?

Beginner here, pls apologize for any

@ulrikpl please let me know

[2021-08-13 04:50] johnugeorge commented on #2873
My thoughts

Packaged distribution is owned by distribution owner. It doesn't mean that there is only one way to deploy.
 As given in https://www.kubeflow.org/docs/started/installing-kubeflow/#packaged-distributions,

    There are two pathways to get up and running with Kubeflow, you may either:

     Use a packaged distribution
     Use the manifests (advanced)

 There is always a fallback mecha

[2021-08-13 05:33] thesuperzapper commented on #2873
@johnugeorge I think you might be misunderstanding the proposal, the proposal is to __ensure all distributions are referred to by an "actual" name__, rather than something like `Kubeflow on XXX`.

Right now I would argue that `Kubeflow on AWS` is not a valid name for distribution, as it's likely to be confused for an "official" method of deploying Kubeflow on AWS. (Note, the Kubeflow community doe

[2021-08-13 09:15] thesuperzapper commented on #2873
@johnugeorge I think you misunderstand a couple of things:
1. There has never actually been a "distribution" called `Kubeflow on AWS/Azure` that was maintained "officially" by those vendors, they have always lived in the `kubeflow/manifests` repository as [`kfdef` YAML files](https://github.com/kubeflow/manifests/tree/master/distributions/kfdef).  In reality, these "distributions" don't really exi

[2021-08-13 13:12] ulrikpl commented on #2589
I am sorry asok-mirror but my company eventually gave up on KFServing due to the lack of documentation and the spaghetti factory of technologies like Istio and Knative that without proper documentation made it too too time consuming/expensive to debug. The demos given are rudimentary (nothing on transformers for example) and simply didn't work in our GCP environment. IPs of model services came and

[2021-08-16 13:28] carlos-vaz opened #2878 "Unclickable link in documentation"
https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/

Step 1 in section titled "Installing Kubeflow" contains a link, but the link address accidentally includes a parenthesis at the end which makes produces a 404 page not found error. The unclickable link (with parenthesis included) is https://raw.githubusercontent.com/kubeflow/manifests/master/distributions/kfdef/kfctl_openshif

[2021-08-16 16:47] RFMVasconcelos opened #2879 "Tracking Issue - Kubeflow v1.4 docs"
As we prepare to release Kubeflow v1.4 is it important to make sure documentation is updated accordingly. See [Release Kanban](https://github.com/orgs/kubeflow/projects/46).

As discussed in the Release team meeting just now, we would ask Working Group leads to use this thread to track updates.

CC:
@kubeflow/wg-automl-leads
@kubeflow/wg-manifests-leads
@kubeflow/wg-notebooks-leads
@kubeflow/wg-pi

[2021-08-16 23:27] Arhell opened #2881 "update hugo version"
/assign

[2021-08-21 11:12] Arhell opened #2888 "Introduction to the Pipelines Interfaces"
https://www.kubeflow.org/docs/components/pipelines/overview/interfaces/
Kubeflow Pipelines UI no image

[2021-08-22 18:42] #2673 closed

[2021-08-22 18:42] #1940 closed

[2021-08-22 18:42] #2675 closed

[2021-08-22 18:42] #2679 closed

[2021-08-23 00:59] thesuperzapper commented on #2177
There are still many pages under "components" which have "outdated" headers, we should clean these up.

[2021-08-23 11:04] #2881 closed

[2021-08-23 11:32] sasi-patha opened #2889 "Using the Kubeflow Pipelines SDK"
https://www.kubeflow.org/docs/components/pipelines/tutorials/sdk-examples/

Hello Team,

its not clear on "path to pipeline file" and "path to pipeline version file"
Is it target path or source path. What is the nature of the files, how were they created.
What is the nature of the "local file", how was that created.

[2021-08-25 08:50] kimwnasptd commented on #2879
Thanks for starting this @RFMVasconcelos!

From my side I'll be working this week on updating the Katib docs to use the new Katib UI https://github.com/kubeflow/katib/issues/1595

cc @kubeflow/wg-automl-leads

[2021-08-25 09:54] kimwnasptd opened #2892 "Update CentralDashboard docs for KF 1.4"
We will need to update the pages of the CentralDashboard for 1.4.

We've included a new entry for KFServing https://github.com/kubeflow/kubeflow/pull/6085, so the docs will need to reflect this change.

/assign @kimwnasptd
cc @kubeflow/wg-notebooks-leads

[2021-08-25 09:57] kimwnasptd commented on #2879
For Notebooks WG I'll be working on updating the CentralDashboard docs https://github.com/kubeflow/website/issues/2892.

@thesuperzapper @DavidSpek will you work on updating the docs about the Notebook servers for 1.4, since you are the main developers of that component?

[2021-08-26 08:02] sreecharanmanne2000 opened #2894 "Azure kubeflow Configure OIDC Auth service settings"
Hello all, while setting up oidc in azure in documentation there is for a loadbalancer ip but my istio-ingressgateway is nodeport service so no external ip any help how to proceed from here?You can see the service in below attached screenshot
[code]

![122](https://user-images.githubusercontent.com/78043435/130924925-bd2e7803-5209-4bad-9038-98592b2fed2e.PNG)

[2021-08-26 10:30] Arhell opened #2897 "broken link"
https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-with-tekton/
kfp_tekton.TektonClient.create_experiment creates a pipeline **experiment** and returns an experiment object.

[2021-08-26 10:53] #2894 closed, assigned to nobody

[2021-08-29 19:02] Arhell opened #2901 "Deploying Kubeflow Pipelines on a local cluster"
https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/#deploying-kubeflow-pipelines
Broken link **Argo Executors**
/assign

[2021-08-29 20:22] HP-Nunes opened #2902 "Update link"
404 at "Download the kfctl v1.3.0 release from the **Kubeflow releases page**."

https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/

[2021-09-01 06:15] jai opened #2907 "404: Installing Kubeflow"
The link in the first paragraph of https://www.kubeflow.org/docs/distributions/operator/install-kubeflow/ is broken. It's supposed to link to the 'Operator introduction' but it goes to https://www.kubeflow.org/docs/methods/operator/introduction.md which returns a 404

The correct URL seems to be https://www.kubeflow.org/docs/distributions/operator/introduction/

[2021-09-02 15:40] Qasim-Aziz opened #2910 "Set Up Your Notebooks"
https://www.kubeflow.org/docs/components/notebooks/setup/

why kubeflow  ui didn't show notebook server ?

[2021-09-02 16:10] bobuel opened #2911 "Output Viewers Link from Output Artifact Page is Broken"
https://www.kubeflow.org/docs/components/pipelines/overview/concepts/output-artifact/ has a link which is broken should point to https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

[2021-09-03 02:40] #2735 closed

[2021-09-04 09:57] Arhell opened #2913 "Style Guide for the Kubeflow Docs"
https://www.kubeflow.org/docs/about/style-guide/#use-capital-letters-sparingly
update  below link
/assign

[2021-09-06 02:30] Jeffwan opened #2915 "Update Training docs for KF 1.4"
We will need to update the pages to use latest training operator.

cc @kubeflow/wg-training-leads

[2021-09-06 02:45] thesuperzapper opened #2916 "python code to access Kubeflow Pipelines API from outside the cluster (when using dex)"
Currently, we don't explain how to connect to the Pipelines API from outside the cluster (when using dex for multi-user, as is the default in [kubeflow/manifests](https://github.com/kubeflow/manifests)).

I think we can add this information to one of these pages:
- [components/pipelines/multi-user.md](https://github.com/kubeflow/website/blob/master/content/en/docs/components/pipelines/multi-user.m

[2021-09-06 02:50] thesuperzapper commented on #2916
What are your thoughts @Bobgy or @kubeflow/wg-pipeline-leads?

I think explaining this to users will massively reduce the pain of using the Pipelines SDK outside the cluster (when using Dex).

_NOTE: the default configs from [kubeflow/manifests](https://github.com/kubeflow/manifests) uses dex with  `staticPasswords`_
_(user: `user@example.com`, pass: `12341234`)_

[2021-09-06 10:01] Bobgy commented on #2916
@thesuperzapper I think it's good to add this documentation. Ideally it should be in distribution documentation, why do you want it in KFP documentation?
For example, the corresponding connect to KFP on GCP documentation belong to KF on GCP documentation.

[2021-09-06 10:16] #2901 closed

[2021-09-06 17:47] Jeffwan commented on #2915
@shinytang6 Do you get a chance to take a look at if gang-scheduling part is up to date? https://www.kubeflow.org/docs/components/training/job-scheduling/

[2021-09-06 18:19] Jeffwan commented on #2915
Seems xgboost page is missing. If anyone has time, please help add a new page.

/good-first-issue
/help

[2021-09-06 21:31] HP-Nunes opened #2921 "Suggested workaround for configuring kpt setter values?"
I'm running into an issue with how to configure kpt setter values for the name, project, and location of a management cluster on the [Deploy Management cluster](https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/) page, which I posted on [ktp's issues page](https://github.com/GoogleContainerTools/kpt/issues/2481).

I also tried running `bash kpt-set.sh` but to the same effect

[2021-09-06 22:33] #2913 closed

[2021-09-07 00:14] thesuperzapper commented on #2916
@Bobgy I agree that this is somewhat distribution-specific, but we still might want to include it under the "pipelines" docs, as pretty much every distribution uses dex (except GCP), so these docs would have to be duplicated under each one otherwise.

Possibly we could add it to the [`components/pipelines/sdk/connect-api.md`](https://github.com/kubeflow/website/blob/master/content/en/docs/componen

[2021-09-07 01:38] dandawg opened #2923 "The described method for disabling caching doesn't work on the VolumeOp operation"
I need to disable caching on a VolumeOp task. However using
```volop.execution_options.caching_strategy.max_cache_staleness = "P0D"```
doesn't work. The documentation doesn't cover this use case.

[2021-09-07 02:10] jbottum commented on #2902
@aronchick fyi, this might be an easy fix.

[2021-09-07 12:33] Bobgy commented on #2916
Yep, that seems like a good reason to add to pipelines doc.  Send a PR?

[2021-09-08 19:33] ckadner opened #2928 "Install Kubeflow on IKS, single-user, missing Python libraries"
https://www.kubeflow.org/docs/distributions/ibm/deploy/install-kubeflow-on-iks/

[Single user](https://www.kubeflow.org/docs/distributions/ibm/deploy/install-kubeflow-on-iks/#single-user), step 3, causes error:

[code]

[code]

**Proposed Fix:**

- Add comment about required Python libraries

[2021-09-08 22:42] ckadner commented on #2928
FYI @Tomcli @yhwang

[2021-09-08 22:50] ckadner commented on #2928
Oh, I missed a step in the prereqs:

I only noticed Python when going over that section. Maybe the two required libraries can be hyperlinked to make them stick out more
- [passlib](https://pypi.org/project/passlib/)
- [bcrypt](https://pypi.org/project/bcrypt/)

[2021-09-08 22:51] #2928 closed

[2021-09-09 06:50] Bobgy commented on #2873
I discussed with PSG yesterday, we agree that the problem you are trying to solve is important -- properly guide users on different platforms to choose a **supported** distribution for that platform.

I don't specifically like the new names "Kfctl for AWS", because they expose too much details for users that they cannot understand from the start.

Can we try to solve/mitigate the problem in a few

[2021-09-09 16:57] yhwang commented on #2873
I guess one of the arguing point is `distribution`. And based on the [wiki](https://en.wikipedia.org/wiki/Software_distribution), it's the process of delivering software to the end user and a collection of components that could be used by end users. For the documents under current `Distributions`, they do serve the purpose of distributions: they point users to a collection of components (the manif

[2021-09-10 16:07] ramdootp commented on #2916
Is there any other approach for external SDK use cases other than using authservice session tokens - https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex#run-a-prediction
The current approach is a security risk for us
/cc @andreyvelich

[2021-09-10 16:13] andreyvelich commented on #2916
@Bobgy @zijianjoy @yanniszark @thesuperzapper @elikatsis do we have any solution that @ramdootp mentioned above ?

[2021-09-12 08:42] Arhell opened #2933 "broken link"
https://www.kubeflow.org/docs/about/style-guide/#style-your-images
/assign

[2021-09-13 00:55] thesuperzapper commented on #2916
@ramdootp can you explain what security risk you are talking about?

__NOTE:__ the above code __only works__ with logins defined as dex `staticPasswords`.
(I like to think of dex `staticPasswords` as "service accounts", and dex SAML/OAUTH/LDAP as "user accounts")

Also, the above code will work for any API of Kubeflow sitting behind the `istio-ingressgateway` (as it authorizes with Istio, not kube

[2021-09-13 00:57] thesuperzapper commented on #2658
Bumping, as there are still component docs which have not been updated for Kubeflow 1.3.

[2021-09-13 14:35] soffieprincess06 opened #2936 "Kubeflow Pipelines Standalone Deployment"
https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/

[2021-09-13 20:23] HP-Nunes commented on #2921
The issue is likely due to the deprecation of setters commands in the latest binary. Refer to https://github.com/GoogleContainerTools/kpt/issues/2481 for a working solution.

[2021-09-13 20:23] #2921 closed

[2021-09-13 21:44] kimwnasptd opened #2937 "Cut 1.3 branch for website"
We need to cut a new branch for the website, in order to be able to merge PRs for the 1.4 release https://github.com/kubeflow/website/issues/2879. You can see the process we follow here https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website.

@RFMVasconcelos @knkski what is the state of this? Is there something I can help with?

cc @kubeflow/release-team

[2021-09-14 05:26] huixa opened #2940 "typo in KUBERNERTES_VERSION"
In this section:  Create or access an IBM Cloud Kubernetes cluster  (https://www.kubeflow.org/docs/distributions/ibm/create-cluster/ ), for below contents:
[code]

The KUBERNERTES_VERSION is wrong spell, the right spell should be: `KUBERNETES_VERSION`

[2021-09-14 10:45] bartgras commented on #2916
@thesuperzapper I don't remember where I found this code snippet but it works for me with Dex + `staticPasswords` and seems to be much simpler:

[code]

@ramdootp Maybe you will find that helpful as well:
Similarly to @thesuperzapper example, because it returns `session_cookie`, then it can be used for e.g. KFServing endpoint as well.

[2021-09-14 14:10] nakfour commented on #2879
We have two documentation PR, not specifically for 1.4
https://github.com/kubeflow/website/pull/2942
https://github.com/kubeflow/website/pull/2802

[2021-09-14 16:00] RFMVasconcelos opened #2944 "Design for Multi-user Isolation - Is it up to date? Is it relevant?"
https://www.kubeflow.org/docs/components/multi-tenancy/design/

[2021-09-14 16:03] RFMVasconcelos opened #2945 "Registration Flow - Is this up to date? Still relevant?"
https://www.kubeflow.org/docs/components/central-dash/registration-flow/

cc @kimwnasptd

[2021-09-14 16:11] RFMVasconcelos commented on #2937
As I mentioned I haven't been able to do this - @kimwnasptd would you be able to cut the branch?

@Bobgy could you please tackle or find another Googler to tackle the release steps of docs pointing to the new `v1.3-branch` once it is there?

[2021-09-14 16:12] yhwang commented on #2879
one PR here: https://github.com/kubeflow/website/pull/2946 to update `Kubeflow on IBM Cloud` distribution doc for kubeflow 1.4

[2021-09-14 16:36] ramdootp commented on #2916
@thesuperzapper is there any example client code which authenticates through tokens (for example - ID_TOKEN) rather than session cookie.

[2021-09-14 18:34] kimwnasptd commented on #2937
Definitely! Since I'm in the release team I have permissions to create branches in the `website` repo.

Before cutting the branch I want to ensure that the `v1.3-branch` will not have commits that correspond to future versions of Kubeflow. Specifically:
* @Bobgy @zijianjoy I see commits in the current `master` that are for Pipelines 1.7.0. I guess these should not be included in the 1.3 version of

[2021-09-14 18:37] andreyvelich commented on #2937
Yes, that commits should be part of Kubeflow 1.4

[2021-09-14 20:07] jbottum commented on #2944
@RFMVasconcelos @cvenets @kimwnasptd I think this doc has some good info but it refers to KFAM is depreciated.   Additionally, it uses namespaces, but then refers to workspaces in the next paragraph.   Those might be different constructs but it seems confusing to me.   It also uses identified and validated instead of authN and authZ.   For these reasons, I think it should be removed.

[2021-09-14 22:20] zijianjoy commented on #2937
@kimwnasptd I am tempting to say that users can upgrade KFP independently in Kubeflow 1.3, therefore KFP 1.7.0 is possible to be included as part of `kubeflow doc` 1.3 branch, and we have called out the version requirement for KFP in those KFP 1.7.0 related documents. But defer to @Bobgy to make the decision.

Reference: [KFP website doc history](https://github.com/kubeflow/website/commits/master?

[2021-09-15 00:03] yankunsam commented on #1507
the same for me, which images should I select?
![image](https://user-images.githubusercontent.com/16130147/133349504-215a10de-3928-4623-8b64-ce2d96be7967.png)

[2021-09-15 00:22] yhwang commented on #2701
PR: https://github.com/kubeflow/website/pull/2942 should related to this

[2021-09-15 00:30] yhwang opened #2947 "Need more information in `Install Kubeflow on OpenShift` doc"
When finishing the installation steps in https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/ and replace the kfdef with `https://raw.githubusercontent.com/opendatahub-io/manifests/v1.3-branch/distributions/kfdef/kfctl_openshift_v1.3.0.yaml` . I can have a HTTP only kubeflow deployment up and running. But my questions are:
- Any instruction to enable HTTPS
- Any instruction to e

[2021-09-15 00:30] yhwang commented on #2947
/cc @nakfour

[2021-09-15 04:55] thesuperzapper commented on #2916
@bartgras the code you posted will only work for the default dex settings found in `kubeflow/manifests`:
- it won't handle the case when `staticPasswords` AND `OAUTH` / `SAML` / `LDAP` is enabled (it wont know how to direct itself to the `/auth/local` subpath)
- it wont handle if the auth cookie is named something other than `authservice_session`

[2021-09-15 04:59] thesuperzapper commented on #2916
@ramdootp currently, when using Kubeflow pipelines in multi-user mode, auth is handled by istio (not pipelines itself), so I'm not sure where you are seeing `ID_TOKEN`.

Can you clarify where you are seeing `ID_TOKEN`? ​

_PS: while its not quite a token dex `staticPasswords` could be viewed as a "service account"_

[2021-09-15 06:13] Bobgy commented on #2937
Agree with @zijianjoy.
For configuring the website, I work with @zijianjoy to do it. Let us know once you cut 1.3 branch.

[2021-09-15 06:38] bartgras commented on #2916
@thesuperzapper Thanks for explaining that. I wasn't aware. Then it definitely should be explained in documentation.

[2021-09-15 07:03] Taehun opened #2948 "Multilingual support"
Do you have plans to support multilingual language?

[2021-09-15 13:54] js-ts opened #2951 "Suggestions for Books, Resources, Tutorials To be added into https://www.kubeflow.org/docs/started/"
Feel free to add your presentation links, books, tutorials, seminars  links  that you know I'll later compiling them and making a PR to add them into the docs.

[2021-09-15 14:07] nakfour commented on #2951
@RFMVasconcelos @jbottum I think this is a good idea, is this a good spot for these resources or do we have another official spot?

[2021-09-15 16:22] #2940 closed

[2021-09-15 16:30] kimwnasptd commented on #2937
@zijianjoy @Bobgy ACK! This will actually make the process of cutting the 1.3 branch easier.

Could you only update [`Full Kubeflow deployment`](https://www.kubeflow.org/docs/components/pipelines/installation/overview/#full-kubeflow-deployment) section of the Pipelines docs to note the version used in the 1.3 Kubeflow installation? This way it will be clear to users what KFP version comes with the

[2021-09-17 07:46] zijianjoy commented on #2937
Hello,

I have cut the `v1.3-branch` and redirect kubeflow.org to point to this git branch. Would you like to follow up with the step in https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch? Thank you! @kimwnasptd @RFMVasconcelos

[2021-09-18 09:54] #2933 closed

[2021-09-20 00:33] Arhell opened #2959 "update hugo version"
/assign

[2021-09-20 00:54] thesuperzapper commented on #2916
For those watching, I have updated the script to be more clear and robust:
- It now correctly handles multiple cookies being created
- It now returns information in an `auth_sesison` dictionary
- It now handles cases when your Kubeflow endpoint is unsecured (by checking if it doesn't get redirected)

[2021-09-20 05:03] ajinkya933 opened #2960 "Incorrect documentation of "Authentication using OIDC in Azure""
As per documentation (https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/), we have to download the kfctl v1.3.0 release from the Kubeflow releases page (https://github.com/kubeflow/kfctl/releases/tag/v1.3.0). But,  kfctl v1.3.0  does not exist on the provided link

I took the latest version of kfctl available as of today ( kfctl v1.2.0-0-gbc038f9 )

But still I am unable to aut

[2021-09-20 05:06] thesuperzapper commented on #2916
Another quick update, the script was previously assuming `HTTP 200` (success) after POST of credentials meant the login succeeded, but this is WRONG. Dex actually gives you `HTTP 200` if you have INCORRECT credentials (it prompts you to enter them again), in reality `HTTP 302` (redirect) indicates success.

I have updated the script in the original comment to fix this issue.

[2021-09-20 10:26] motilalmeher opened #2961 "endpoint for onprem upload copiled file"
Hello, I have used k3s to deploy kubeflow on-premise. Using the IP address I can see the UI of kubflow. I can upload the YAML file through UI too. I want to upload the compiled file through Gitlab runner. What should be the endpoint in kpf upload command? I have tried with IP address .. not working

[2021-09-20 17:53] kimwnasptd commented on #2937
Thank you very much for all your help @zijianjoy!

Sure, we can take it from here. @shannonbradshaw @bobuel could you take care of this one? The changes will happen as expected in the master branch.

[2021-09-20 17:56] kimwnasptd commented on #2937
Also, @kubeflow/wg-training-leads @kubeflow/wg-automl-leads since we've cut the 1.3 branch from the current master there is some of your work, intended for 1.4, that ended up in the 1.3 branch.

Could you create a small PR to bring the docs for your components in the state that you want them for 1.3? You can copy paste the contents from a specific commit and PR them, it doesn't have to be a surgic

[2021-09-20 18:11] Jeffwan commented on #2937
@kimwnasptd That means we need to revert 1.4 changes in v1.3-branch, is that correct?

[2021-09-20 18:28] kimwnasptd commented on #2937
@Jeffwan correct!

[2021-09-20 22:35] thesuperzapper commented on #2916
Final update (hopefully): my fix from https://github.com/kubeflow/website/issues/2916#issuecomment-922640173 broke the script, causing no cookies to be returned in `auth_session["session_cookie"]`, this is because I disabled `allow_redirects` in the `s.post()`, but to get the auth cookies you must follow the redirects.

I have now made the script follow the redirects again, and I now check for red

[2021-09-22 04:22] thesuperzapper opened #2967 "create `Guides` section (and move non-distributions out of `Distributions`)"
There has been significant discussion in community meetings and https://github.com/kubeflow/website/issues/2873, about confusion on some of the distributions in the "distributions" section.

It has been suggested that some of the "Distributions" are actually just "Guides" for using the `kubeflow/manifests` repo with a specific cloud platform. That is, they simply describe deploying the generic man

[2021-09-22 04:26] thesuperzapper commented on #2873
As discussed in the community meeting today, we can solve the naming issue/confusion by moving "Distributions" that are actually "Guides" to a new section on the website.

That is, we move the distributions which only deploy the `kubeflow/manifests` repo into a new "Guides" section.

Please see the new proposal in issue: https://github.com/kubeflow/website/issues/2967

[2021-09-22 04:26] #2873 closed

[2021-09-22 04:27] thesuperzapper commented on #2967
@RFMVasconcelos @Bobgy what are your thoughts?

[2021-09-22 04:28] thesuperzapper commented on #2967
/prority p1

[2021-09-22 04:28] thesuperzapper commented on #2967
/priority p1

[2021-09-22 04:37] thesuperzapper opened #2968 "add `Frequently Asked Questions` page to `Getting Started`"
We can help new users understand Kubeflow by adding a `"Frequently Asked Questions"` page under `"Getting Started"`.

Initially, we can cover some very common searches and expand the list in the future:
1. What is Kubeflow?
2. Who owns Kubeflow?
3. How can I contribute to Kubeflow?
4. How do I deploy Kubeflow?

_PS: this will probably help with Google Search result traffic as well_

[2021-09-22 04:38] thesuperzapper commented on #2968
/priority p2

[2021-09-22 04:38] thesuperzapper commented on #2968
@RFMVasconcelos @Bobgy what are your thoughts?

[2021-09-22 05:10] thesuperzapper opened #2969 "create "Releases" section (for Kubeflow 1.X releases)"
It would be helpful for users to have a "Releases" section that provides information & links about each minor `Kubeflow 1.X` release on the website. The pages don't need to be super detailed to be useful, they just need to collate critical information and links related to each minor release.

__The initial structure of this section would look something like this:__
[code]

__We can include the fol

[2021-09-22 05:10] thesuperzapper commented on #2969
/priority p1

[2021-09-22 05:11] thesuperzapper commented on #2969
@RFMVasconcelos @Bobgy what are your thoughts?

[2021-09-22 06:00] thesuperzapper opened #2970 "remove `Reference` section"
The top-level `Reference` section is largely redundant as its content is really out-of-date, and better placed under the component-specific docs.

__Therefore I propose REMOVING the `Reference` section, and doing the following to each page:__
- `Reference Overview`
   - __REMOVE__
   - page is very out of date
   - this information should be under `Component` docs
- `Kubeflow Versioning Policies`

[2021-09-22 06:01] thesuperzapper commented on #2970
/priority p1

[2021-09-22 06:02] thesuperzapper commented on #2970
@RFMVasconcelos what are your thoughts?

[2021-09-22 08:59] Bobgy commented on #2967
The high level ideas make perfect sense to me.

Kubeflow Operator -- is this also a guide? It sounds like the operator is different enough.

/cc @zijianjoy @james-jwu

[2021-09-22 16:08] Talador12 commented on #2915
@Jeffwan it looks like the XGboost doc was created by @johnugeorge and merged.

Looks like this is just pending response from @shinytang6

Is there anything else that needs to be included before this is considered lgtm?

[2021-09-22 16:17] Talador12 commented on #2879
Could we add an issue for updating the readme sections?
For instane, Manifests readme has the single line install needs to be confirmed in 1.4 and any edge cases can be noted there. Some of the language is still showing as 1.3.

[2021-09-22 20:20] zoltan-fedor opened #2972 "Configure Kubeflow with Amazon RDS"
https://www.kubeflow.org/docs/distributions/aws/customizing-aws/rds/

The referenced changes in the ${CONFIG_FILE} are no longer valid, as the ${CONFIG_FILE} has changed.

[2021-09-22 21:50] thesuperzapper commented on #2967
@Bobgy regarding the `Kubeflow Operator` there are a couple of issues that make me hesitant to leave it as a "distribution":
1. While there is some "custom code" in the form of a controller for `KFDef`, there is no YAML customization beyond what is found in the `kubeflow/manifests` repo.
   - _(NOTE: If we leave it as a "distribution" it will be the only one that installs straight YAML from `kubef

[2021-09-25 11:47] opensrn opened #2974 "Kubeflow artifact store"
We know TFX architecture for metadata storage. Didn't see immediate reference to Kubeflow's representation.

[2021-09-26 12:15] Arhell opened #2976 "update favicons"
https://realfavicongenerator.net/favicon_checker?protocol=https&site=www.kubeflow.org%2F#.YVBkKrgzaMo
/assign

[2021-09-26 22:01] thesuperzapper commented on #2879
@jbottum as stated in https://github.com/kubeflow/website/pull/2934#issuecomment-927379095, PR https://github.com/kubeflow/website/pull/2934 needs to be reverted.

[2021-09-27 09:52] Bobgy commented on #2969
This sounds useful to me!
/cc @zijianjoy

[2021-09-27 15:41] zijianjoy commented on #2969
The proposal sounds great, thank you for making the request!

Question: I think this section needs to be regularly maintained and updated for the latest information of release. Who will be responsible for keeping this section up-to-date?

Suggestion: Keep the initial version of `Releases` section simple, and grow gradually for what information to include in `Releases`, because backfilling the past

[2021-09-27 17:25] #2959 closed

[2021-09-27 21:37] thesuperzapper commented on #2969
@zijianjoy I am happy to help maintain it, it's really not that much work (we only release once a quarter).

[2021-09-28 19:10] yhwang commented on #2879
Add one more PR: https://github.com/kubeflow/website/pull/2979 for IBM IKS.

[2021-09-30 00:10] ckchow opened #2982 "Building Python Function-based Components"
https://www.kubeflow.org/docs/components/pipelines/sdk/v2/python-function-components/

I tried to `open()` an object of type `Output[Artifact]` and it errored with `expected str, bytes or os.PathLike object, not Artifact`. I think the intent is to use `open(artifact.path, 'w')`, right?

[2021-09-30 00:44] zijianjoy commented on #2969
Sounds good to me! Thanks for taking the work. @thesuperzapper

[2021-09-30 10:33] Roman-Ka opened #2983 "Links to Kubeflow release page is broken - Authentication using OIDC in Azure"
On both of these pages:
1. https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/
2. https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/

The links to 'Kubeflow release page' don't work. I believe the correct link is
https://github.com/kubeflow/kubeflow/releases

[2021-09-30 19:57] shannonbradshaw opened #2987 "Instructions for updating the website for a new version need to be updated."
The instructions for updating the website for a new release need to be updated:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch

Steps 1-3 are correct and easy to follow.

Step 4 references files that no longer exist and the files that do still exist seem not to have been updated following these instr

[2021-09-30 20:01] shannonbradshaw opened #2988 "Instructions for updating the website for a new release are not in the website repo"
The instructions for updating the Kubeflow website for a new release are in the Kubeflow repo rather than the website repo. For maintenance of both the instructions and the website going forward I suggest we move the instructions to the website repo.

https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website

[2021-10-01 10:18] sav116 opened #2990 "Installing Kubeflow"
after

I get errors:
_2021/10/01 09:47:07 absolute path error in '/tmp/kubeflow/metadata/.cache/manifests/manifests-master/stacks/ibm/application/istio-stack' : evalsymlink failure on '/tmp/kubeflow/metadata/.cache/manifests/manifests-master/stacks/ibm/application/istio-stack' : lstat /tmp/kubeflow/metadata/.cache/manifests/manifests-master/stacks: no such file or directory
time="2021-10-01T09:47:

[2021-10-01 15:30] shannonbradshaw opened #2991 "Update the installation page to update the distributions table for Kubeflow 1.4"
https://www.kubeflow.org/docs/started/installing-kubeflow/

Update the distributions table on the installation page to reflect those distributions that have been upgraded for Kubeflow 1.4.

[2021-10-01 16:05] jbottum commented on #2991
priority /p1

[2021-10-04 12:29] Arhell opened #2993 "Private Access"
https://www.kubeflow.org/docs/distributions/aws/customizing-aws/private-access/
https://www.kubeflow.org/docs/distributions/aws/customizing-aws/private-access/#working-with-fully-private-clusters-in-amazon-eks

update link
/assign

[2021-10-04 18:00] yhwang commented on #2879
I guess it's time to update the kfp version for IKS on `Installing Kubeflow` page: https://github.com/kubeflow/website/pull/2994

[2021-10-05 03:11] thesuperzapper commented on #2879
I think it's worth getting https://github.com/kubeflow/website/issues/2967 resolved. That is, creating a new `"guides"` docs section, and moving the `"distributions"` that are install guides for `kubeflow/manifets` into it.

It shouldn't be a lot of work, and it seems to have broad support in the community as it significantly clarifies how to install kubeflow.

@yhwang this is relevant to your IKS

[2021-10-05 15:24] zijianjoy commented on #2879
Google Cloud distribution doc update: https://github.com/kubeflow/website/pull/2957

[2021-10-05 16:16] yhwang commented on #2879
@thesuperzapper

if you were talking about my comment here: https://github.com/kubeflow/website/issues/2879#issuecomment-933721757
it just updates the version on the `Installing Kubeflow` [page](https://www.kubeflow.org/docs/started/installing-kubeflow/), note related to the guides/distributions.

[2021-10-05 21:52] shannonbradshaw opened #2998 "Update the Upgrade Kubeflow page (Google Cloud) for 1.4"
This page explicitly mentions v1.3.

https://www.kubeflow.org/docs/distributions/gke/deploy/upgrade/

[2021-10-05 21:53] shannonbradshaw opened #2999 "Update Distributions page for 1.4"
https://www.kubeflow.org/docs/distributions/

The Distributions landing page explicitly mentions Kubeflow 1.3 for OpenShift. Is that necessary? Should we simply remove that mention?

[2021-10-05 21:55] shannonbradshaw opened #3000 "Update Kubeflow versioning policies for 1.4"
https://www.kubeflow.org/docs/reference/version-policy/#kubeflow-application-matrix

The table on the versioning policies page needs to be updated to match the table here:
https://github.com/kubeflow/manifests

[2021-10-06 00:59] zijianjoy commented on #2998
Yes this is expected. We have refactored significantly at v1.3. So this page is just to say that we do not support any upgrade from pre-v1.3 to v1.3.

I have walked through this page and this is up-to-date.

[2021-10-06 02:00] thesuperzapper commented on #2879
I have made a PR to update the Kubeflow Notebooks docs: https://github.com/kubeflow/website/pull/3003

___NOTE:__ there is still a bit of work for future updates, but its a first step_

[2021-10-06 05:12] thesuperzapper commented on #2967
@Bobgy I have raised PR https://github.com/kubeflow/website/pull/3004 which addresses this issue.

[2021-10-06 05:19] thesuperzapper commented on #2637
I have raised a PR which partially addresses this: https://github.com/kubeflow/website/pull/3003

[2021-10-06 05:30] thesuperzapper commented on #2874
this was resolved by https://github.com/kubeflow/website/pull/2877

/close

[2021-10-06 05:30] #2874 closed

[2021-10-06 12:45] shannonbradshaw commented on #2879
Once we cut the 1.4 docs branch, we'll need to update a few pages. I'll track them in this comment:

[2021-10-06 12:48] kimwnasptd commented on #2879
@yhwang @zijianjoy thanks for updating your corresponding distribution docs and the updates!

At this point I'd also like to give a last ping to all WGs to ensure they have merged their docs PRs, or raise any concerns, since we are planning to cut the `v1.4-branch` tomorrow. Of course we can cherry-pick commits later on in the 1.4 branch if something comes up. cc @kubeflow/wg-automl-leads @kubeflo

[2021-10-06 16:54] yhwang opened #3010 "1.4 change should be removed from `v1.3-branch`"
I found my 1.4 change: https://github.com/kubeflow/website/commit/8f005585f9edd99d5de501fe505df4c977048693 is in v1.3-branch. Please help to remove it from `v1.3-branch` or let me know how to do it. Thanks!

[2021-10-06 18:12] johnugeorge commented on #2879
@zijianjoy Can you merge PRs  #2978 #3008  before cutting the new branch?

[2021-10-06 18:58] kimwnasptd commented on #3010
@yhwang apologies for this, this happened because we cut the 1.3 branch too late and some PRs that were meant for 1.4 ended up in 1.3 https://github.com/kubeflow/website/issues/2937. To avoid this in the future we will be cutting the docs branch right at the same time we also release, so that everything that gets to master will be going directly for the next release.

Regarding this issue, could y

[2021-10-06 21:40] shannonbradshaw commented on #2991
PRs submitted so far:
https://github.com/kubeflow/website/pull/3009 (Nutanix)
https://github.com/kubeflow/website/pull/3011 (Arrikto EKF)

[2021-10-06 21:50] zijianjoy commented on #2879
@johnugeorge Sounds good, I have approved the two Nutanix PRs. Thanks for making the change!

[2021-10-06 22:08] shannonbradshaw opened #3013 "Add an entry for the 1.4 branch to the versions dropdown in the website nav"
See this PR for an example of what needs to be done.
https://github.com/kubeflow/website/pull/2997/files

[2021-10-07 02:55] thesuperzapper commented on #2879
@james-jwu we also need to merge: https://github.com/kubeflow/website/pull/2980

(This reverts a PR which made the docs provide invalid YAML in `Components / Multi Tenancy`.)

[2021-10-07 08:00] yhwang commented on #3010
@kimwnasptd no worries. I created a PR: https://github.com/kubeflow/website/pull/3016 to revert my change based on your suggestion.

[2021-10-07 19:54] jbottum commented on #3013
/lgtm

[2021-10-08 00:52] thesuperzapper commented on #2916
Another update to the script, I have added support for cases when the Dex `LDAP` connector is used.

___NOTE:__ if both `LDAP` and `staticPasswords` are enabled, the script defaults to using `staticPasswords`._

[2021-10-10 21:23] thesuperzapper commented on #2916
I have updated it one more time, this time fixing a bug introduced by https://github.com/kubeflow/website/issues/2916#issuecomment-938255344.

The issue was that I assumed if `/auth/local/login` was not present in the URL that `/auth/local` wasn't either, (but in older dex versions this is not true), so the old code would rewrite to `/auth/local/local` (which is invalid).

This should be fixed now

[2021-10-12 01:30] thesuperzapper commented on #2916
I have raised a PR which will add the dex example to the Kubeflow.org website: https://github.com/kubeflow/website/pull/3021

[2021-10-14 00:56] shannonbradshaw opened #3025 "Kubeflow with Istio does not rely on JWTs"
Kubeflow with Istio does not rely at all on JWTs for the user identity. Everything happens via HTTP headers. The web apps in KF check for headers and even the Istio AuthorizationPolicies are using headers.

Need to update this page accordingly:
https://www.kubeflow.org/docs/external-add-ons/istio/istio-in-kubeflow/

@kimwnasptd can you add additional detail here if necessary?

[2021-10-14 04:31] kramachandran commented on #2855
It seems like a lot of this material is duplicative of the material in the About section.

- The 'Levels of support' seems to be a re-iteration of the Versioning policy.
- And the remained of the doc seems to be pointers to issue trackers, slack channels, and the mailing lists.

I'm wondering if this page is still necessary after refactoring of the About section you proposed in PR #3007

[2021-10-14 04:31] thesuperzapper commented on #2948
@Taehun Are you referring to the documentation, or Kubeflow itself?

Because some components (like Central Dashboard and Notebooks already have multi-language support).

[2021-10-14 04:32] kramachandran commented on #2970
+1 on this

[2021-10-14 04:36] thesuperzapper commented on #2855
@kramachandran I agree that the page should be cleaned up (and probably renamed to "Get Support"), but I think it's useful to have a nexus page to help people ask questions in an appropriate place (and to the right people).

I don't think it currently duplicates much of the "about" pages, but when we rewrite it, we should try to link to the new "about" pages rather than duplicating their informati

[2021-10-14 04:45] kramachandran commented on #2855
That makes sense.

[2021-10-15 14:44] michaelgobz opened #3030 "kfctl v1.3.0 misleading on the website"
I was not able  to get this version to try out some examples
turns out this is not there
reference link

https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/

[2021-10-18 18:31] #3013 closed, assigned to nobody

[2021-10-20 21:35] #3000 closed

[2021-10-22 00:17] #2976 closed

[2021-10-23 20:41] papagala opened #3040 "RDS troubleshooting link broken"
I was going through AWS RDS for managed MySQL section, but came across a dead link

[2021-10-26 15:43] zijianjoy opened #3043 "Unchecked runtime.lastError: The message port closed before a response was received."
When opening kubeflow.org, then open the developer tool on browser. I can see this error:
<img width="581" alt="errorconsole" src="https://user-images.githubusercontent.com/37026441/138913880-e9455dad-92a0-4545-b756-f5678cac7518.png">

[2021-10-26 15:58] #3043 closed, assigned to nobody

[2021-10-26 23:10] thesuperzapper opened #3044 "add "application support level" to component versions table in `Releases`"
Previously we were storing the ["application support level"](https://www.kubeflow.org/docs/started/support/#levels-of-support) (e.g. "alpha", "beta", "stable") in a master table inside the `References` section, but this was removed by PR [#3014](https://github.com/kubeflow/website/pull/3014).

Because we now have a `Releases` section (added by PR [#3015](https://github.com/kubeflow/website/pull/30

[2021-10-26 23:40] Arhell opened #3045 "Docs update versioning img"
https://www.kubeflow.org/docs/about/docs/#versioning
/assign

[2021-10-28 13:08] skuchipu opened #3047 "Kale page"
It would be great if the page contains steps to install & configure kale and how can we dot hat in jupyter notebook and build an image with kale as inbuilt also dependent packages for kale installation

[2021-10-29 20:43] iassenegal221 opened #3051 "Notebook Servers"
https://www.kubeflow.org/docs/components/notebooks/

[2021-11-01 07:02] ozert opened #3053 "Deploying Kubeflow Pipelines on a local cluster"
https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/

In the given link, word repetition exist.

Change:
You can find ~**the**~ the official K3s installation script to install it as a service on systemd- or openrc-based systems on the official K3s website.

[2021-11-02 11:09] #3045 closed

[2021-11-02 11:16] #2970 closed

[2021-11-04 10:35] Arhell opened #3055 "update hugo"
/assign

[2021-11-04 18:34] umka1332 opened #3056 "Kubeflow application matrix contains outdated versions"
Page: https://v1-4-branch.kubeflow.org/docs/reference/version-policy/
The table contains outdated versions. Correct versions should be taken from https://github.com/kubeflow/manifests/tree/v1.4.0#kubeflow-components-versions

[2021-11-08 09:35] leeadh opened #3059 "Arrikto MiniKF"
I tried running using vagrant and got the error below. What am I supposed to do? NOt clear.

==> default: Clearing any previously set network interfaces...
The IP address configured for the host-only network is not within the
allowed ranges. Please update the address used to be within the allowed
ranges and run the command again.

  Address: 10.10.10.10
  Ranges: 192.168.56.0/21

Valid ranges can

[2021-11-08 16:13] Arhell opened #3060 "update bootstrap version"
https://www.kubeflow.org/docs/about/style-guide/#style-your-images
/assign

[2021-11-10 21:48] Arhell opened #3062 "broken link"
https://www.kubeflow.org/docs/started/kubeflow-overview/#example-of-a-specific-ml-workflow
 end-to-end tutorial for Kubeflow on GCP

[2021-11-12 16:09] sam-h-bean opened #3064 "Install Kubeflow results in mpi-operator error"
https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/

I am following the directions to install Kubeflow on a new AKS cluster with the following specs
[code]

I end up with the mpi-operator pod in a CrashLoopBackoff

`mpi-operator-d5bfb8489-847m9                             0/1     CrashLoopBackOff   4          115s`

When checking the logs of the pod I am seeing the following

[2021-11-12 20:35] Arhell opened #3065 "broken Further setup and troubleshooting link"
https://www.kubeflow.org/docs/started/support/#support-from-the-kubeflow-community
Further setup and troubleshooting

[2021-11-13 21:03] Arhell opened #3066 "the link does not work"
https://www.kubeflow.org/docs/external-add-ons/fairing/gcp/tutorials/gcp-local-notebook/#set-up-kubeflow
Kubeflow deployment user interface

[2021-11-14 20:33] Arhell opened #3067 "404 kustomize link"
https://www.kubeflow.org/docs/distributions/azure/deploy/install-kubeflow/#additional-information
configuring Kubeflow with kfctl and kustomize

[2021-11-17 09:51] #3055 closed

[2021-11-18 11:50] #3060 closed

[2021-11-19 21:46] Arhell opened #3070 "update hugo"
/assign

[2021-11-22 07:09] jenoOvchi opened #3073 "The process of publishing artifacts is not described"
The current version of Kubeflow has a page with published artifacts. By default, files that are created as part of pipeline launches are not published there. On the official site, in the current version, there is no description of how artifacts can be published.

[2021-11-23 00:00] thesuperzapper opened #3074 "TRACKING - remove distribution owned docs from website"
_This issue was spawned from the discussions raised in [PR #3004](https://github.com/kubeflow/website/pull/3004)._

---

Some time ago, the community agreed that distributions would ["be owned and maintained outside of Kubeflow"](https://github.com/kubeflow/community/blob/master/proposals/kubeflow-distributions.md#ownership--development).

We have already [removed distribution-owned YAML](https://

[2021-11-23 00:01] thesuperzapper commented on #2629
I am closing this issue in preference of: https://github.com/kubeflow/website/issues/3074

[2021-11-23 00:01] #2629 closed

[2021-11-23 00:01] thesuperzapper commented on #3074
/priority p1

[2021-11-23 05:52] thesuperzapper commented on #2967
Given https://github.com/kubeflow/website/pull/3004 has proven too controversial to merge and is now just wasting time, I have closed it.

In reality, we were always planning to remove distribution docs from `kubeflow.org`, so it's easier to just move forwards with that to address the issue of non-distributions.

# I have created issue https://github.com/kubeflow/website/issues/3074 to discuss thi

[2021-11-23 05:52] #2967 closed

[2021-11-23 06:24] thesuperzapper commented on #2856
Once https://github.com/kubeflow/examples/issues/898 is resolved, we should update the `Examples` page to highlight "up to date examples" for the latest Kubeflow version.

[2021-11-23 06:29] thesuperzapper commented on #2856
@js-ts has put information about his plans to cleanup `kubeflow/examples` in this [kubeflow-discuss thread](https://groups.google.com/g/kubeflow-discuss/c/oh-0RRvpCr4).

Here is the [google sheet that is tracking](https://docs.google.com/spreadsheets/d/1cNL-YtTpvBIfLffvPfn9Fz-737pkJNj7uUGHU5DQvu0/edit#gid=0) out-of-date examples on `kubeflow/examples`.

[2021-11-23 06:36] thesuperzapper commented on #2856
PR https://github.com/kubeflow/website/pull/3069 added an "out-of-date" warning to the `Examples` page, but we should still update which examples we highlight on the page.

[2021-11-23 06:40] thesuperzapper commented on #2684
Closing because as stated in https://github.com/kubeflow/website/issues/2684#issuecomment-858285392, the behavior has changed, reducing the need for a seperator.

[2021-11-23 06:40] #2684 closed

[2021-11-23 06:47] thesuperzapper commented on #2658
Closing because 1.3 came out a long time ago.

[2021-11-23 06:47] #2658 closed

[2021-11-23 06:48] thesuperzapper commented on #2637
This issue was addressed by: https://github.com/kubeflow/website/pull/3003

[2021-11-23 06:48] #2637 closed

[2021-11-23 06:49] thesuperzapper commented on #2683
This issue will be resolved by https://github.com/kubeflow/website/pull/3063

[2021-11-23 06:49] #2683 closed

[2021-11-23 19:34] goswamig commented on #3074
@thesuperzapper  you should also highlight here how a user will reach to these distro specific documentation.

I believe most of the KubeFlow users uses one of these distro (or cloud provider).  We need to take care of those user well.

[2021-11-23 21:59] thesuperzapper commented on #3074
@goswamig you are correct, but the decision of what "external link" will be listed in the `Getting Started / Installing Kubeflow` table, will be up to the maintainers of that distribution.

For example, they might choose to link directly to their GitHub repo, or to their documentation website.

[2021-11-23 22:07] Tomcli commented on #3074
@thesuperzapper Are there any restrictions on the pictures and wordings we can use in our documentation website? Since the distribution websites are going to be outside of Kubeflow.

[2021-11-23 22:37] thesuperzapper commented on #3074
DISCLAIMER: This is not legal advice.

@Tomcli I would argue that most of these distributions already meet the definition of "outside Kubeflow", it's just that we are hosting their docs on `kubeflow.org` for some reason.

You may want to review Google's [brand guidelines for Kubeflow](https://github.com/kubeflow/community/blob/master/KUBEFLOW_BRAND_GUIDELINES.pdf), but any questions about those sh

[2021-11-26 08:34] yczheng0 commented on #3067
I think this link could be removed? Since kfctl pages were removed. #2604
Maybe link to [manifests](https://github.com/kubeflow/manifests#installation)

[2021-11-29 02:47] #2807 closed

[2021-11-29 19:03] surajkota commented on #3074
@thesuperzapper can you change the following wording related to Kubeflow on AWS

It might mislead AWS users, Kubeflow on AWS is not abandoned. Documentation is not updated to the latest version 1.4 and we are working on it. Here are the tracking issues:

https://github.com/awslabs/kubeflow-manifests/issues/27
https://github.com/awslabs/kubeflow-manifests/issues/26

[2021-11-29 22:41] Hamidmsa opened #3083 "Introduction"
https://www.kubeflow.org/docs/started/introduction/

[2021-11-29 23:18] shannonbradshaw commented on #3083
@Hamidmsa what is the issue with the introduction that you'd like to call out?

[2021-12-01 11:36] #3070 closed

[2021-12-02 05:07] thesuperzapper commented on #3083
Incomplete issue.
/close

[2021-12-02 05:07] #3083 closed

[2021-12-10 06:41] sav116 opened #3092 "enough information"
Lack of examples

[2021-12-10 13:52] shannonbradshaw commented on #3092
@sav116 what pages were you looking at that led you to file this? We are collecting user experience data and want to better understand specific problems users are experiencing.

[2021-12-10 16:08] shannonbradshaw opened #3093 "Create a troubleshooting guide for Notebooks"
Some relevant issues:
- https://github.com/kubeflow/website/issues/2910
- https://github.com/kubeflow/website/issues/3051
- https://github.com/kubeflow/kubeflow/issues/6200

@kimwnasptd can you link relevant issues here?

[2021-12-10 16:09] shannonbradshaw commented on #3051
@iassenegal221 what problem did you experience with this page?

[2021-12-10 16:21] kimwnasptd commented on #3093
Thanks for creating this @shannonbradshaw!

This is one of the first things I'd like to include https://github.com/kubeflow/kubeflow/issues/6200. I'll have this in mind and keep linking issues that I find.

[2021-12-10 16:23] shannonbradshaw commented on #3093
Thanks, @kimwnasptd

[2021-12-12 22:24] Arhell opened #3094 "nav menu on hover bug"
https://www.kubeflow.org/docs/
/assign

[2021-12-14 04:05] #3051 closed

[2021-12-14 04:06] thesuperzapper commented on #2910
@Qasim-Aziz can you explain the issue you are having?

[2021-12-14 15:10] kilmarnock opened #3097 "Install Kubeflow on OpenShift"
The Link
(https://raw.githubusercontent.com/opendatahub-io/manifests/v1.3-branch/distributions/kfdef/kfctl_openshift_v1.3.0.yaml).
on page
https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/
is dead. 404. Seemls like the closing bracket got included in the link somehow.

[2021-12-14 15:33] jbottum commented on #3097
@nakfour have you seen this issue on the OpenShift Docs ?

/platform Openshift
/priority p2
/kind bug

[2021-12-14 15:36] shannonbradshaw commented on #3097
@kilmarnock thanks for filing this. We'll get it fixed.

@nakfour I'll fix the broken link, but I wanted to check in to see whether we should go ahead and update this page for Kubeflow 1.4.

[2021-12-14 16:12] thms-ngn opened #3099 "Building Components: no example on how to use Artifacts with standard components"
Hi,

According to the [v2 component doc](https://www.kubeflow.org/docs/components/pipelines/sdk-v2/component-development/):

But there is no example at all on how to properly manipulate Artifacts with standard components (in opposition to the Python Lightweight ones).

It is said on the same page:

But what should be placeholder type in the component YAML file in that case?
And how to reconstruct

[2021-12-14 19:55] imamika opened #3100 "Update EKS and Kubeflow compatibility matrix"
---
name: area/docs
about: The EKS & Kubeflow compatibility matrix is outdated.

---

/area/docs

**What steps did you take and what happened:**
Documentation on EKS and Kubeflow compatibility is outdated.

**What did you expect to happen:**
Expected to see updated matrix for Kubeflow 1.3/1.4

**Environment:**
here is the link to the doc
https://www.kubeflow.org/docs/distributions/aws/deploy/eks-c

[2021-12-14 21:13] jbottum commented on #3099
/kind question
/priority p2
/area pipelines
@kubeflow/pipelines

[2021-12-15 12:34] kimwnasptd opened #3101 "Document the start/stop functionality of Notebooks and best practices"
Since start/stopping a notebook could lead to data loss, in case the data in the Pod is not backed by a PVC or are not part of the image. We've also seen users bumping into this https://github.com/kubeflow/kubeflow/issues/6244.

Adding a section for starting/stopping notebooks as well as concerns around user data could be helpful to avoid data loss.

cc @kubeflow/wg-notebooks-leads @shannonbradsha

[2021-12-16 00:24] thesuperzapper commented on #3094
@Arhell can you please be more specific, this is not a valid issue in its current form.

[2021-12-17 07:52] skuchipu opened #3103 "Run Trigger details"
I would like to understand more on how this can be setup and validated if there are already some run triggers existing . how can we check if there are pipeline scheduled for re-occurring run schedule already ?

[2021-12-19 23:11] Arhell opened #3104 "update hugo to last version"
/assign

[2021-12-27 23:20] harmeet-singh-discovery opened #3106 "Example on how to use Model UI"
Can you provide an example on how to create a Model serve (from Model UI) and then use it for prediction ?

[2021-12-28 18:30] FellowNico opened #3107 "Docs: broken link in Architecture"
Page: https://www.kubeflow.org/docs/started/architecture/
Broken link: https://www.kubeflow.org/docs/distributions/gke/gcp-e2e/
Error: 404 Page not found

Referenced in: https://www.kubeflow.org/docs/started/architecture/#example-of-a-specific-ml-workflow
"For details of the workflow and to run the system yourself, see the [end-to-end tutorial for Kubeflow on GCP](https://www.kubeflow.org/docs/dis

[2022-01-05 07:36] summerisc commented on #1435
I am facing the same thing @Can-Sahin saw for 401 error. Any updates on this issue? Appreciate the help.

[2022-01-05 22:58] zijianjoy opened #3109 "Broken presubmit when syncing submodule"
When creating a PR, the presubmit for Netlify preview failed with following messages:

[code]

Line of execution: https://github.com/kubeflow/website/blob/master/netlify.toml#L3

Log: https://app.netlify.com/sites/competent-brattain-de2d6d/deploys/61d61ad91cc55f000878efde

cc @thesuperzapper

[2022-01-07 09:16] summerisc opened #3110 "Trouble customizing the k8s resource on EKS installation"
I am installing kubeflow on EKS and there is one sentence mentioning:
`You can customize the Kubernetes resources (modify the manifests and run kfctl apply again).`
I tried to fix some issues mentioned [here](https://github.com/kubeflow/manifests/issues/2009) and I edited the deployment file located:
`./.cache/manifests/manifests-1.2.0/mpi-job/mpi-operator/base/deployment.yaml`
In the kfctl file I

[2022-01-09 14:13] thesuperzapper commented on #3109
@zijianjoy thanks for rasing this, I have made PR https://github.com/kubeflow/website/pull/3114 to fix this.

[2022-01-10 10:47] #3104 closed

[2022-01-12 02:57] thesuperzapper commented on #3074
@zijianjoy @james-jwu mentioned today that google will need more time to move their docs, so this is just a ping to ask them to comment here on the timeline they need.

[2022-01-13 19:02] speaknowpotato opened #3116 ""istio in kubeflow" is out-dated in kubeflow website"
https://www.kubeflow.org/docs/external-add-ons/istio/istio-in-kubeflow/

[2022-01-18 08:12] #3094 closed

[2022-01-18 08:13] Arhell opened #3117 "update hugo to last version"
/assign

[2022-01-20 14:48] droctothorpe opened #3119 "Docker Desktop Kubernetes documentation"
There's no documentation for Docker Desktop Kubernetes [here](https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/). I got KFP working pretty easily on DDK and would be happy to contribute documentation upstream for it if ya'll would welcome it.

[2022-01-20 21:27] #3117 closed

[2022-01-25 13:15] gordogato81 opened #3122 "Installation guide for Kubeflow Deployment with kfctl_k8s_istio outdated."
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

The link to the kfctl releases page goes to https://github.com/kubeflow/kubeflow/releases/ instead of https://github.com/kubeflow/kfctl/releases.

This installation guide still relies on the now deprecated and removed function `kfctl init`.

[2022-01-25 14:03] #3122 closed, assigned to nobody

[2022-01-25 18:36] Arhell opened #3124 "fix favicon"
https://realfavicongenerator.net/favicon_checker?protocol=https&site=www.kubeflow.org%2F#.YfBDJerP1PY
/assign

[2022-01-26 16:12] kimwnasptd commented on #2879
closing this, since KF 1.4 has been released

/close

[2022-01-26 16:12] #2879 closed

[2022-01-27 14:19] DanieleBaranzini commented on #3101
a kind question:

contex:
I am on miniKF configuired ok, Window8, configuration is working...

desired action:
try to install a couple of dependencies (scikit-learn and pandas) -> used pip install pandas as shown
![image](https://user-images.githubusercontent.com/42250123/151376815-f7948d67-d459-4939-91b4-a3201540728c.png)

the error log is quite clear but not sure how to solve correctly this issu

[2022-01-27 20:10] jbottum commented on #3101
@kimwnasptd should the install command use this format ?  !pip install --user <package_name>

[2022-01-28 03:39] kenlmf opened #3129 "Kubeflow "About" section comment"
you need to add some content describing what Kubeflow is, what problems it solves, who might use it, etc.

[2022-01-28 09:47] kimwnasptd commented on #3101
hi @DanieleBaranzini, could you create this issue in the kubeflow/kubeflow repo instead were we track issues and questions around Notebooks?

I want to use this issue to keep the discussion around the Notebook culling docs. But, if there's context from your issue we can document here then we can add a comment after we have debugged your issue.

[2022-01-28 11:59] DanieleBaranzini commented on #3101
Hi @kimwnasptd , thanks I solved the issue about authentication today.  So I would close this directly and feel free to drop out my thread in case.
Daniele

[2022-01-28 15:39] shannonbradshaw opened #3130 "Tracking issue - Kubeflow v1.5 Docs"
We'll use this issue to track docs updates for the 1.5 release. WG leads, please create issues and add them here for docs changes required for your components in this release.

For the website itself, this section outlines the versioning process:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website

- [x] https://github.com/kubeflow/website/issues/3131
- [x] h

[2022-01-28 15:44] shannonbradshaw opened #3131 "Updated the installation page distributions table for 1.5"
Update the distributions table on the installation page to reflect those distributions that have been upgraded for Kubeflow 1.5.
https://www.kubeflow.org/docs/started/installing-kubeflow/

[2022-01-28 15:48] shannonbradshaw opened #3132 "Add release page for 1.5 to docs"
Add a 1.5 page similar to this one:
https://www.kubeflow.org/docs/releases/kubeflow-1.4/

[2022-01-28 17:24] shannonbradshaw opened #3133 "Add an entry for the 1.5 release to the docs version dropdown"
See this PR for an example of what needs to happen:
https://github.com/kubeflow/website/pull/3027

[2022-01-28 17:29] shannonbradshaw opened #3134 "Cut a website branch for the Kubeflow 1.5 release"

[2022-01-28 17:37] jbottum commented on #3130
/area docs
/priority p0
/kind feature

[2022-01-28 17:42] shannonbradshaw commented on #3130
@zijianjoy do we need a 1.5 deployment guide (e.g., https://github.com/kubeflow/website/pull/2957)

[2022-01-28 17:43] js-ts opened #3135 "New KServe Docs in Kubeflow website for KServe v0.7"
I described this issue in previous release team and kubeflow meetings
KServe has its own website: https://kserve.github.io/website/0.7/
Kubeflow has its own website: https://www.kubeflow.org/
In order for users to navigate  from the kubeflow website to KServe website, Links or Cards should be added in kubeflow documentation
cc @animeshsingh @yuzisun @shannonbradshaw

[2022-01-28 17:47] js-ts commented on #3130
@shannonbradshaw please add this https://github.com/kubeflow/website/issues/3130

[2022-01-28 18:13] shannonbradshaw opened #3136 "Update latest version to 1.5"
See this PR for reference:
https://github.com/kubeflow/website/pull/3036

[2022-01-28 18:22] zijianjoy commented on #3130
Thank you @shannonbradshaw , this is the GKE deployment guide tracking bug: https://github.com/kubeflow/gcp-blueprints/issues/341

[2022-01-30 16:03] Arhell opened #3137 "update hugo"
/assign

[2022-02-01 14:53] shannonbradshaw commented on #3130
We've now heard from several working groups regarding docs needs for the 1.5 release. I'm pinging leads again in an effort to get the full picture on docs updates we need to be tracking for the 1.5 release. If you've not already created issues, please at least create stub issues for docs changes required. Please reply here with links to docs issues so that we have the full picture.

@kubeflow/wg-a

[2022-02-03 21:06] Arhell opened #3142 "Accessibility add link name"
/assign
![Screenshot_2](https://user-images.githubusercontent.com/26163841/152428414-e0fc2174-a7ec-4f09-8db2-aa10e9c17993.png)

[2022-02-04 07:26] Anosh21 commented on #3129
Hey @kenlmf , Can I work on this issue? I am good at technical writing.

[2022-02-04 13:48] shannonbradshaw commented on #3129
@Anosh21 thanks for volunteering. Please go ahead and draft some updates to the about page.

[2022-02-07 01:26] Ark-kun commented on #1968
What was the main reason for removing this functionality? Was it still working at the point of deletion?

[2022-02-10 10:59] kimwnasptd opened #3145 "notebooks: Add docs for notebook idleness and culling"
We've reworked the idleness and culling behavior of the Notebook Controller in KF 1.5 https://github.com/kubeflow/kubeflow/blob/master/components/proposals/20220121-jupyter-notebook-idleness.md.

We'll need to also update our docs to inform users about:
1. How to start/stop notebooks
2. How the controller sets idleness in notebook CRs
3. Instructions to enable this, as well as migration instructio

[2022-02-10 11:00] kimwnasptd commented on #3130
Thanks for the issue @shannonbradshaw!

From Notebooks side this is the effort regarding docs that I have in mind https://github.com/kubeflow/website/issues/3145

[2022-02-13 11:04] Anosh21 commented on #3129
Hey, @shannonbradshaw I wanted to know where this section is located on the website?
And do I need to describe it as an official presentation or similar to the blog post?

[2022-02-13 18:00] mohamedniyaz1996 opened #3147 "Local Setup has not been mentioned at Kubeflow site"
I have been going though the official document of installing Kubeflow on minikube, but not able to find the local installation of Kubeflow on minikube. Please let me know if I am missing something on this.

[2022-02-15 06:44] wanvincent opened #3149 "Why can't I create a workspace after logging in with Appleid"
Why can't I create a workspace after logging in with Appleid

[2022-02-15 06:50] wanvincent opened #3150 "Build pipeline1 0.0 failed"
on my linux, i do this, and got error!
# docker build -t api-server:test20220215-1.0 -f backend/Dockerfile .

Loading: 0 packages loaded
Loading: 0 packages loaded
Loading: 0 packages loaded
Analyzing: target //backend/src/apiserver:apiserver (1 packages loaded, 0 targets configured)
Analyzing: target //backend/src/apiserver:apiserver (5 packages loaded, 16 targets configured)
Analyzing: target //

[2022-02-15 17:02] surajkota commented on #3130
Can we add these? https://github.com/kubeflow/website/pull/3146, https://github.com/kubeflow/kubeflow/pull/6339

[2022-02-15 18:25] rsong0606 opened #3151 "Kubeflow Pipelines version 1.0.0 Standardalone set up"
Hey folks, when following the documentation to install Kubeflow Pipelines version 1.0.0 Standalone set up, by entering Deploying Kubeflow Pipelines
Deploy the Kubeflow Pipelines:
[code]

And got the following error from the terminal:
[code]
I am using Apple M1 Max
Thanks!

[2022-02-16 14:05] shannonbradshaw commented on #3130
Thanks, @surajkota. Added!

[2022-02-21 01:27] wanvincent opened #3159 "'@org_golang_x_sys//unix:go_default_library%linux_amd64_msan%cgo_cxx_lib' does not have mandatory providers: 'cc'."
ERROR: /root/.cache/bazel/_bazel_root/47ca83421d4eade77cfa488519355325/external/org_golang_x_sys/unix/BUILD.bazel:3:1: in libs attribute of _cgo_collect_info rule @org_golang_x_sys//unix:go_default_library%linux_amd64_msan%cgo_info: '@org_golang_x_sys//unix:go_default_library%linux_amd64_msan%cgo_cxx_lib' does not have mandatory providers: 'cc'. Since this rule was created by the macro 'go_library

[2022-02-23 09:58] deepakdhiman7 opened #3160 "Simple examples components are good. Documentation is complicated un-related to real tasks."
Simple examples components are good. Documentation is complicated un-related to real tasks. For example:

if this is the task:

#Importing data

data = pd.read_csv('/home/bb00745059/working_directory/Projects_try/Customer_Complaint/Data/FINAL_COMPLAINTS_DATASET(120k Rows).csv', usecols=['complaintid', 'product', 'consumer_complaint_narrative', 'company'])
data.head()

Then how to write it in kubef

[2022-02-23 11:35] boczekbartek opened #3161 "Build a Pipeline - wrong url to web_downloader_op component"
The link to the `web/Download` component doesn't work.

Documentation link: [Build your pipeline](https://www.kubeflow.org/docs/components/pipelines/sdk/build-pipeline/#build-your-pipeline)
Markdown file link: [Github](https://github.com/kubeflow/website/blob/master/content/en/docs/components/pipelines/sdk/build-pipeline.md#build-your-pipeline)

Current version:
[code]

Possible fix:
[code]

[2022-02-25 16:50] connor-mccarthy opened #3163 "Change "AI Platform Pipelines" to "Vertex AI Pipelines""
Users should prefer to run pipelines on Vertex AI Pipelines (Vertex Pipelines for short), rather than AI Platform Pipelines. The website still suggests AI Platform Pipelines.

See comment here: https://github.com/kubeflow/website/pull/3154#discussion_r808565794