[2018-04-20 06:41] jlewi opened #4 "Tide (K8s plugin to handle automatic merges) not enabled"
Doesn't look like Tide plugin is enabled for this repository.

[2018-04-20 06:50] gaocegege commented on #4
/assign @gaocegege

See kubernetes/test-infra#7802

[2018-04-20 23:16] jlewi opened #5 "Plublish the website to GitHub pages"
It looks like we can just publish it using GitHub pages
https://gohugo.io/hosting-and-deployment/hosting-on-github/

Once we do that we could probably setup some redirects for kubeflow.org and or docs.kubeflow.org

[2018-04-20 23:39] willingc commented on #5
Another option would be netlify https://gohugo.io/hosting-and-deployment/hosting-on-netlify/ One of the nice things is you have CD for draft and prod.

[2018-04-21 00:07] ankushagarwal commented on #5
Do netlify/gh pages provide ssl support?

On Fri, Apr 20, 2018 at 4:39 PM Carol Willing <notifications@github.com>
wrote:

--
Ankush Agarwal

Software Engineer, Cloud ML

[2018-04-21 01:25] willingc commented on #5
@ankushagarwal Yep. Let's Encrypt https://www.netlify.com/docs/ssl/#netlify-certificates

[2018-04-21 02:05] gaocegege commented on #5
Personally, I prefer netlify since it supports CI. It could generate a preview for each PR and it could help us to accelerate review process.

[2018-04-22 03:11] gaocegege commented on #4
Closed in kubernetes/test-infra#7802

[2018-04-22 03:11] #4 closed

[2018-04-28 03:54] gaocegege opened #7 "[discussion] Setup Prow"
Maybe we could refer to https://github.com/kubernetes/website for details. I think they do not setup presubmit or postsubmit since it is a website repo.

Should we remove them from test-infra?

/cc @jlewi @ewilderj

[2018-04-28 03:55] gaocegege commented on #5
Hi

Any progress here?

[2018-05-01 22:01] ankushagarwal commented on #5
FWIW github pages now has https support https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-02 03:15] gaocegege commented on #5
We could use GitHub Pages for prod and Netlify for CI if you want. But I prefer to do CI/CD all in Netlify.

BTW, https://github.com/gaocegege/website/pull/1 uses Netlify to CI and we can see the preview for the PR: https://deploy-preview-1--kubeflow-website-dev.netlify.com/

Could you please enable Netlify for the repo and I could help to setup the config to activate CI?

[2018-05-05 05:16] jlewi commented on #5
@gaocegege Can you send a GitHub request to enable Netify on this repository? Or send me instructions on how to enable netify for this repository? I couldn't find a link.

[2018-05-05 05:18] gaocegege commented on #5
@jlewi

https://app.netlify.com/

You could sign up an account on netlify and enable the repository, I can not send a request since I can not access the repository on netlify or on GitHub settings page.

[2018-05-06 17:08] willingc commented on #5
https://gohugo.io/hosting-and-deployment/hosting-on-netlify/ cc@jlewi

[2018-05-06 18:14] jlewi commented on #5
Thanks @willingc

We're waiting on some approvals on our end; as soon as those are taken care of I can look into setting it up.

[2018-05-08 20:09] jlewi commented on #7
/priority p1
/assign jlewi
/unassign @gaocegege
@gaocegege tried but asked me to take over since he's hitting some test failures with empty prow_config.yaml.

[2018-05-08 20:11] jlewi commented on #5
/priority p1

[2018-05-11 00:14] jlewi commented on #7
Fixed by #11
/close

[2018-05-11 00:14] #7 closed

[2018-05-11 00:34] jlewi commented on #5
I've enabled netify and configured continuous deployment. Its supposed to be published to

https://competent-brattain-de2d6d.netlify.com/

But that's serving 404s.

My conjecture is that we need #9 to provide a hugo config.

I still need to setup a custom domain and SSL.

[2018-05-11 03:44] jlewi commented on #5
If Kubernetes is using netify I think that's a good reason to use netify.

[2018-05-14 15:52] willingc commented on #5
@jlewi It looks like all is up and running now on your demo site.

[2018-05-14 19:35] jlewi commented on #5
I will try to get it published to
www.kubeflow.org
and kubeflow.org
this week.

[2018-05-15 04:11] jlewi commented on #5
Created a CNAME record to map www.kubeflow.org to competent-brattain-de2d6d.netlify.com per the netify instructions
https://www.netlify.com/docs/custom-domains/

The instructions recommend designating www.kubeflow.org as the primary domain to redirect kubeflow.org to it but I'm not sure how to do that.

[2018-05-15 04:17] jlewi commented on #5
Netlify docs recommend creating an A record for .kubeflow.org that points as netlify loadbalancers

[code]
As a way of doing the redirection. I created that record but it doesn't look like that address is returned by `nslookup`; maybe it takes time to propogate?

It looks like https should be easy to setup once we have the DNS registration for kubeflow.org properly configured.

[2018-05-15 04:18] jlewi commented on #5
Looks like it propogated.

[2018-05-21 12:45] jlewi opened #12 "Need list of P1 Issues for 0.2.0"
We need a list of P1 issues that need to be completed for our 0.2 release.

What state are we aiming our website to be in by 0.2?

/cc @ewilderj
/cc @willingc
/cc @texasmichelle

[2018-05-23 20:00] ankushagarwal commented on #12
Things which I think are important:

* Remove all "lorem ipsum" boilerplate
* Have a minimum viable set of docs in https://www.kubeflow.org/docs/
* Make it easy to contribute docs by having a doc to contribute to docs

[2018-05-23 20:03] ankushagarwal commented on #12
Also looks like individual doc pages are in html instead of markdown : https://raw.githubusercontent.com/kubeflow/website/master/content/docs/quick-start.md

We should ideally have markdown docs.

[2018-05-24 22:37] abhi-g opened #14 "Get the design/layout approved and pushed to the repo."
Identify any remaining blockers on the landing page design template. If all approvals are there, push it to the website repo.

[2018-05-24 22:50] abhi-g opened #15 "Define and update the top nav elements on the landing page."
Need to identify the top level navigational items and update the page accordingly. Here is a potential suggestion for the list items:
  - Getting Started
  - Deployment
  - Examples
  - Community
  - News/Blog
  - FAQ/Getting Help
Possibly use a document to define the sub-entries for each of those.

[2018-05-24 22:56] abhi-g opened #16 "Idenitfy topics for Blog posts"
Create a list of topics from 0.1 release (such as features from the release) that we'd want to create blog posts for. Note that we'd be creating separate issues for writing out each of those blog posts, and the determining the release schedule.

[2018-05-24 22:58] abhi-g opened #17 "Enable integration with Google Analytics"
To enable tracking usage... and get data on traffic, generate ideas on what other content needs to be added.

[2018-05-25 17:16] abhi-g opened #18 "Support for Chinese translated site"
With a large amount of interest in Kubeflow coming from China, we should figure out how to support a Chinese translated site. Can this be automated translation?

[2018-05-25 20:42] jlewi commented on #12
/assign @abhi-g

[2018-05-31 17:07] abhi-g opened #19 "Create the Minikube deployment and getting started document."
Move over the instructions from the Kubeflow repo and organize the instructions inline as much of the setup as possible. Would be good to actually run through them to ensure they are still valid and up-to-date.

[2018-05-31 17:14] abhi-g opened #20 "Create the GCP/GKE deployment walkthrough document."
- Move the instructions from Kubeflow repo.
 - Update if needed to leverage Deployment Manager based installation.
 - Incorporate bootstrapper based deployment instructions.
 - Cover the case when deploying Kubeflow on an existing GKE cluster.

[2018-05-31 17:22] abhi-g opened #21 "Document instructions on installing Kubeflow on an existing Kubernetes cluster"
If users already have an existing Kubernetes cluster, this set of instructions will allow them to deploy Kubeflow on it.
 - Include instructions using Bootstrapper.
 - Include instructions without Bootstrapper.

[2018-05-31 18:43] abhi-g opened #22 "Tensorflow training and serving workflow"
Step-by-step walkthrough of a Tensorflow training and model serving example.
 - Using public datasets available on GCS
 - Using a local dataset.

[2018-05-31 18:45] abhi-g opened #23 "Serving an existing TF model"
Example of how to go about deploying and serving an existing TF model.

[2018-05-31 18:47] abhi-g opened #24 "Serving non TF models using Seldon"
A walkthrough of training Scikit or XGBoost models and deploy using Seldon.

[2018-05-31 20:48] pdmack commented on #16
Inaugural blog post should be written by the stakeholders IMHO.

[2018-05-31 21:40] abhi-g opened #26 "Getting involved with the community"
Pull the content from the Community repo on how to get involved with Kubeflow community and start contributing.

[2018-06-05 03:55] jlewi commented on #12
@abhi-g Can we close this issue given the above list?

[2018-06-05 04:06] abhi-g commented on #12
Yes. We’ll keep updating the list. But we have a starter set of items on
the list.

On Mon, Jun 4, 2018 at 8:55 PM Jeremy Lewi <notifications@github.com> wrote:

[2018-06-05 22:04] #12 closed

[2018-06-07 06:35] dtaniwaki commented on #18
I'd love to help the Japanese translation of the site.

[2018-06-07 06:50] abhi-g commented on #18
Thanks Daisuke. We are using Hugo to create the static site. I’ll look up
on how can we leverage any internationalization capabilities it might have.
Please see if you could explore as well.

Regards
Abhishek

On Wed, Jun 6, 2018 at 11:35 PM Daisuke Taniwaki <notifications@github.com>
wrote:

[2018-06-07 18:03] abhi-g commented on #18
@dtaniwaki Please join the #website channel on kubflow.slack.com and I can provide further details on how to go about adding Japanese documentation.

[2018-06-07 20:14] abhi-g commented on #19
update content/docs/getting-started-minikube.md

[2018-06-07 20:14] abhi-g commented on #20
update content/docs/getting-started-gke.md

[2018-06-07 20:37] pdmack commented on #26
/assign @pdmack

[2018-06-07 20:41] pdmack commented on #26
/unassign @pdmack

[2018-06-07 20:43] abhi-g commented on #16
/assign @chrisheecho

[2018-06-07 20:44] abhi-g commented on #14
/assign @abhi-g

[2018-06-07 20:44] abhi-g commented on #20
/assign @ankushagarwal

[2018-06-07 20:45] abhi-g commented on #19
/assign @kunmingg

[2018-06-07 20:46] abhi-g commented on #21
/assign @kunmingg

[2018-06-08 02:14] dtaniwaki commented on #18
I joined it!

[2018-06-08 05:32] gaocegege commented on #22
Now TF training has two version: v1alpha1 and v1alpha2, and I think we should provide two version for users.

[2018-06-08 05:36] gaocegege commented on #18
I'd appreciate it if we could maintain a Chinese version.

https://gohugo.io/functions/i18n/ may be helpful for us.

[2018-06-08 06:46] abhi-g commented on #18
I agree.

Thanks for the pointer to the i18n documentation. We discussed today in
website standup to get the config ready for i18n once are deployment docs
are ready. I won’t have bandwidth before that to make the config changes
before that.

Abhishek

On Thu, Jun 7, 2018 at 10:36 PM Ce Gao <notifications@github.com> wrote:

[2018-06-08 06:52] gaocegege commented on #18
SGTM

Thanks :smile:

[2018-06-08 17:54] #20 closed

[2018-06-11 01:12] jlewi opened #32 "Getting started guide for Microsoft Azure"
Related to kubeflow/kubeflow#240

We currently have getting started instructions for GKE & and minikube
https://github.com/kubeflow/website/blob/master/content/docs/getting-started-gke.md
https://github.com/kubeflow/website/blob/master/content/docs/getting-started-minikube.md

Do we want to add a getting started guide for Azure?

/cc @wbuchwalter @lachie83

[2018-06-11 01:14] jlewi opened #33 "Getting started guide for OpenShift"
Do we want/need a special getting started guide for open shift?

Related to kubeflow/kubeflow#240

/cc @willb  @pdmack

[2018-06-11 01:28] pdmack commented on #33
Websites are infinite. I'm sure we could find room to add some info.

[2018-06-11 21:35] jlewi opened #35 "Document how to switch between TFJob's v1alpha1 and v1alpha2"
We should document how to switch the version of the TFJob CRD deployed in a cluster.

The basic commands would be something like the following

[code]

We need to delete the existing CRD because we can't deploy two versions simultaneously.

[2018-06-13 17:36] #14 closed

[2018-06-13 21:24] pdmack opened #41 "Wrong paragraph for Community on FP"
Site looks great! But...

![screen shot 2018-06-13 at 5 22 25 pm](https://user-images.githubusercontent.com/2380545/41378950-ae0364c6-6f2e-11e8-9dec-4796acf7f4f4.png)

[2018-06-13 21:57] abhi-g commented on #41
Thanks Pete for creating the issue. :) I am planning to update the front page soon with actual content.

[2018-06-13 22:43] #15 closed

[2018-06-14 05:01] abhi-g commented on #21
Please review content on [Getting Started with Kubeflow](https://www.kubeflow.org/docs/started/getting-started/). We'll need to update for bootstrapper instructions.

[2018-06-14 05:03] abhi-g commented on #26
Please review the page [Contributing to Kubeflow](https://www.kubeflow.org/docs/contributing/) and suggest if changes are needed.

[2018-06-14 17:00] abhi-g opened #45 "Need front page images for model serving and multi-framework sections."
We'll need to create images that are sized for the front page sections: model serving and multi-framework to replace the placeholders that are there.

[2018-06-14 17:19] #41 closed

[2018-06-14 21:28] abhi-g commented on #26
@ewilderj Please review the page Contributing to Kubeflow and suggest if changes are needed.

[2018-06-15 20:08] abhi-g commented on #19
/unassign @kunmingg
/assign @abhi-g

[2018-06-16 02:00] #19 closed

[2018-06-18 00:28] jlewi opened #48 "Link to create OAuth Client Id is broken"
On https://www.kubeflow.org/docs/started/getting-started-gke/
The text **Create an OAuth Client ID** links to
https://www.kubeflow.org/docs/started/getting-started-gke/getting-started-gke.md#create-oauth-client-credentials

But this doesn't exist

[2018-06-18 15:14] jlewi opened #49 "Docs should pin GKE configs to a particular release"
The GKE getting started guide have several links to scripts/config files to be used
https://github.com/kubeflow/website/blob/master/content/docs/started/getting-started-gke.md

This links currently point at HEAD. But as part of a release we should update the links to point to the revision corresponding to the release.

[2018-06-18 21:53] jlewi commented on #21
/assign @kunmingg
/unassign @jlewi

[2018-06-19 00:36] lluunn opened #51 "Doc on TF serving - document Istio and other features like prometheus"
migrating [this](https://github.com/kubeflow/kubeflow/blob/master/components/k8s-model-server/istio-integration.md) to website

[2018-06-19 00:39] lluunn opened #52 "Add doc on new GKE Stackdriver agents"
- how to enable
- how to view logs, filtered by user labels
- how to view metrics in new UI

[2018-06-19 17:14] #48 closed

[2018-06-19 18:03] #21 closed

[2018-06-20 00:21] jlewi opened #56 "Document how to transition from bootstrapper to running the examples"
We need to document how users transition from deploying Kubeflow to running the samples

I think we could directly point users at
https://github.com/kubeflow/examples/tree/master/github_issue_summarization

Provided we made a couple updates to the latter
- We should link to the official docs for setting up Kubeflow on kubeflow.org rather than repeating them in the example
- We should probably emph

[2018-06-20 01:04] jlewi opened #57 "Document how you upgrade Kubeflow e.g. from 0.1. to 0.2"
We should add some docs on how to upgrade between different versions; even if that means telling people to delete everything and recreate it from scratch since we don't have an upgrade path right now.

[2018-06-21 02:37] amsaha opened #61 "Add an event page on Kubeflow website"
This is based on email by @ewilderj on kubeflow-discuss@

FYI here are the events we know about at Google where we'll be representing Kubeflow. Please feel free to chime in with others where you know you'll be speaking on KF.

    Container Day (June 26)
    OSCON TensorFlow Day  - July 17th
        Barbara Fusinska will be giving a Kubeflow talk
    Google Next (July)
    SciPy (July)
    Jupyter

[2018-06-21 12:49] jlewi commented on #57
Here are some issues to consider

* As with kubeflow/kubeflow#1029 there are certain resources (like CRD definitions) that need to be explicitly deleted before users can deploy the new one.

    * Do we list individual components to delete? Do we suggest users delete the entire namespace?
         * Deleting the entire namespace seems bad because it could disrupt Jupyter work and certain resources

[2018-06-21 13:04] jlewi opened #62 "Broken link to user guide"
Link to user guide at the end of the getting started guide to troubleshooting section is broken
https://www.kubeflow.org/docs/started/getting-started/

[2018-06-21 13:36] pdmack commented on #35
`kubectl -n kubeflow delete deploy tf-job-operator`

Is that actually required?

[2018-06-28 10:07] jlewi commented on #62
Still broken.

[2018-06-28 10:10] jlewi opened #70 "Contents nav section is cutoff and doesn't have a scroll bar"
On user guide
https://www.kubeflow.org/docs/about/user_guide/

The contents nav section doesn't have a scroll bar and some of the items are cutoff. The scroll bar on the right side scrolls the page but not the nav bar.

![navsection](https://user-images.githubusercontent.com/777219/42028318-c91d1b00-7a80-11e8-8bec-466342f94f70.png)

[2018-06-28 20:48] ankushagarwal commented on #62
Ran a broken link checker `docker run --rm ktbartholomew/link-checker https://www.kubeflow.org/`

We have 16 broken links:

[code]

[2018-06-28 22:38] ankushagarwal commented on #70
Talked to the designer. He'll update this.

[2018-06-29 00:06] jlewi opened #72 "Move katib docs to website"
Docs were added in kubeflow/kubeflow#989; we should move them to our webiste.

[2018-06-29 00:49] jlewi opened #73 "Broken Link presubmit test"
A broken link check is described in
https://github.com/kubeflow/website/issues/62#issuecomment-401168561

Can we run that as a presubmit test?

[2018-06-29 03:35] jlewi commented on #62
/assign @jlewi

[2018-06-29 05:03] #57 closed

[2018-06-29 05:03] #62 closed

[2018-06-29 12:48] pdmack opened #75 "Diagram suggestion"
This line `(laptop <-> ML rig <-> training cluster <-> production cluster)` in "The Kubeflow Mission" probably should be converted into a diagram with some pop to show the path through deployment envs.

/cc @ewilderj
/cc @abhi-g

[2018-06-30 02:35] ddysher commented on #61
We (Caicloud) will present at Open Source Summit North America at Vancouver (August 29-31).

/cc @gaocegege @xinzhangcmu

[2018-07-03 11:59] jlewi commented on #35
@pdmack The v1alpha2 and v1alpha1 deployments have different names so if you don't delete it sticks around.

I believe they can coexist ok but probably better to delete it anyway.

[2018-07-03 12:02] jlewi commented on #35
Instructions were added here:
https://www.kubeflow.org/docs/about/user_guide/#upgrading-kubeflow-deployments

[2018-07-03 12:02] #35 closed

[2018-07-03 12:05] jlewi opened #77 "Add mpi-job docs to website"
The mpi-job was added in 0.2. We should add docs to the website to call attention to it.

This can be simple and very similar to the existing README in the ksonnet registry.

https://github.com/kubeflow/website/pull/76
Is a good example.

[2018-07-05 11:02] jlewi opened #78 "Batch prediction docs"
We should have a page that explains how to do batch prediction.

[2018-07-06 02:15] jlewi opened #79 "Blog Post: Using the Kaggle Image with Kubeflow"
In kubeflow/kubeflow#1109 @pdmack  added a Docker image for Kaggle.

I think a short blog post on kubeflow.org explaining how to use it would be a great way to promote this and see how interested/useful people find this feature.

/cc @pdmack

[2018-07-06 02:15] jlewi opened #80 "Blog Post: Announcing 0.2"
We should have a blog post on kubeflow.org announcing the 0.2 release. This would be a great way to kickoff the blog.

[2018-07-06 06:11] amsaha commented on #61
Closed via pull #74

[2018-07-06 06:11] #61 closed

[2018-07-06 06:23] gaocegege opened #81 "[bug or feature] https://ajax.googleapis.com is banned in China"
Hi, I am trying to visit our website in China while I find I can not scroll down the Section Nav in the left side. When I opened the console I found that we use https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js while it cannot be visited in China. Thus the console has an error `ReferenceError: jQuery is not defined[Learn More]`

[2018-07-09 00:54] sarahmaddox opened #82 "The Pytorch doc belongs in the "Getting Started" section rather than the "About" section"
The Pytorch doc is currently in the "About" section of the docs
https://www.kubeflow.org/docs/about/pytorch/

It probably belongs rather in the "Getting Started" section:
https://www.kubeflow.org/docs/started/

[2018-07-09 01:01] sarahmaddox opened #83 "Clarify the section titles in the left-hand nav"
I'm finding the left-hand navigation panel a little confusing:

* The top-level section title is “Section Nav”. That title didn't help me understand what the section contains, which is a list of the docs available.
How about this as a title for the top section: **Docs**

* The second section title is “Contents”. I thought it meant the contents of the doc set, but the section actually lists the hea

[2018-07-09 20:00] jlewi commented on #80
/assign @aronchick

[2018-07-10 17:44] pdmack commented on #81
Maybe BootCDN? I wonder what we would need to support that in the site.

https://www.bootcdn.cn/

[2018-07-11 13:19] jlewi opened #85 "Update docs for 0.2.1"
We should update the docs for 0.2.1 to reflect the new deploy scripts.

All the different starting guides should reference the new deploy.sh scripts

[2018-07-13 14:03] jlewi commented on #85
Some pages have been updated.

Need to update the user Guide
https://www.kubeflow.org/docs/about/user_guide/

[2018-07-13 14:05] jlewi opened #88 "Publish versions of the website corresponding to Kubeflow versions"
How do we publish version of the website that map to versions of Kubeflow?

If you look at Kubernetes website I think they cut a version of the website for every version of K8s and then flip it over when the new version launches.

[2018-07-14 01:11] jlewi opened #89 "[GCP] Need to set authorized domains on consent screen"
As part of setting up OAuth for IAP users need to setup authorized domains.

With a Cloud endpoints domain the authorized domains should include

[code]

[2018-07-16 22:39] jlewi commented on #89
Fixed by #87

[2018-07-16 22:39] #89 closed

[2018-07-16 22:40] jlewi commented on #89
/assign @richardsliu

[2018-07-16 22:41] jlewi opened #93 "Need a community page"
We need a page that provides information about the community.

This would basically be the information currently in our README
https://github.com/kubeflow/kubeflow

Such as

* Google Group
* Slack Channel
* Twitter
* Community Calendar

[2018-07-17 04:18] amsaha commented on #93
Should we name it "Getting Involved" and replace with more or less the content at https://github.com/kubeflow/kubeflow#get-involved, which in turn can simply point back to this new "Getting Involved" place.

[2018-07-17 04:19] amsaha commented on #93
/assign

[2018-07-17 04:19] amsaha commented on #82
/assign

[2018-07-18 04:39] jlewi commented on #93
This looks great. I think we should change the title to Community though as opposed to Getting Involved. I think "Getting Involved" makes it sound like its only for people looking to contribute. But the issue is also relevant for people who are looking for help from the community.

[2018-07-18 04:42] amsaha commented on #93
Fair enough.

[2018-07-18 05:44] amsaha commented on #93
https://github.com/kubeflow/website/pull/95

[2018-07-18 19:11] sarahmaddox commented on #83
I'd be concerned about "Site Contents", in that we may add other content to the site that's not part of the docs, whereas the left-hand nav includes only the docs.

[2018-07-19 00:41] amsaha commented on #83
Good point.

[2018-07-20 05:18] #82 closed

[2018-07-20 13:30] jlewi opened #97 "Split user guide into a section guides"
Right now we have an uber [user_guide](https://www.kubeflow.org/docs/about/user_guide/) with different sections for TFJob, Seldon, Jupyter, etc....

This won't scale.

I think we should create a new section either "Guides" that would be at the same level as the About and Getting Started section. We could then have individual pages for things like

- TFJob
- PyTorch
- Seldon
- JupyterHub

Kubernete

[2018-07-20 15:43] sarahmaddox commented on #97
+1 to the idea of a "Guides" section.

+1 to the idea of splitting the current user guide into smaller guides, each of which tackles a specific component. The content of the user guide is well suited to such a split. As well as the sections jlewi@ has mentioned, the user guide contains info on setting up a persistent disk, upgrading Kubeflow deployments, troubleshooting, ksonnet.

As a goal for th

[2018-07-20 17:33] jlewi commented on #51
See also #97 we should have a new guide page for just TFServing and put all the information about TFServing there.

[2018-07-20 17:34] pdmack opened #98 "kubeflow.org SEO needs some love"
Part of the confusion with new users is that outdated material is showing up first in searches. We need to pump up the SEO to make sure the current getting started/user guide is what they see first.

/assign @abhi-g
/assign @ewilderj

<img width="925" alt="screen shot 2018-07-20 at 1 32 11 pm" src="https://user-images.githubusercontent.com/2380545/43016673-92560f8e-8c21-11e8-94df-47aa03a913bd.png"

[2018-07-20 22:58] pdmack commented on #98
https://keithpblog.org/post/hugo-website-seo/

[2018-07-21 01:32] jlewi opened #99 "Add Argo logo to front page"
Lets add the Argo logo to the front page.

Will ask the Argo folks to attach their logo to this issue.

[2018-07-23 21:21] mukulikak commented on #99
![argo-logo600](https://user-images.githubusercontent.com/25306803/43103633-a5d61dc4-8e83-11e8-9f0e-7ccdbee01eb6.png)

Added Argo logo

[2018-07-24 05:04] amsaha commented on #97
@jlewi  is **priority/1** a typo and was intended to be **priority/p1**?

[2018-07-24 05:11] amsaha commented on #75
Would this diagram be decent (or a slightly modified version of it, at least the arrow on the top row should wrap around to bottom row)?

<img width="809" alt="screen shot 2018-07-24 at 10 39 51 am" src="https://user-images.githubusercontent.com/2220322/43118108-ed8a26e2-8f2d-11e8-8071-41a6741982be.png">

This was taken from https://schd.ws/hosted_files/kccnceu18/d4/Kubeflow_Deep_Dive.pdf (slide n

[2018-07-24 05:12] amsaha commented on #97
/assign

[2018-07-24 07:54] amsaha commented on #97
Does this look okay?

[2018-07-24 15:13] sarahmaddox commented on #97
@amsaha Thanks, that's a great start towards addressing this issue. Your PR creates the "Guides" section and moves the PyTorch guide into the section, which is good.

This issue #97 also proposes that we split the "User Guide" doc (https://www.kubeflow.org/docs/about/user_guide/) into separate docs, and put those separate docs into the "Guides" section. That's a bigger task than is addressed by yo

[2018-07-24 15:53] amsaha commented on #97
@sarahmaddox Yes, I think the separation of user guides is a larger task and has to be taken up via a separate issue. Else the change might will be too big.

[2018-07-24 16:07] amsaha commented on #97
Should we simply move the different sections of the current [user_guide](https://www.kubeflow.org/docs/about/user_guide/)? Maybe that is what was suggested. Sorry for the confusion. Let me do that.

[2018-07-24 21:10] sarahmaddox commented on #97
That sounds good. @amsaha. Here's an idea of the guides we'll end up with:
* ksonnet - also include the section near the end of the user_guide: "Why Kubeflow uses ksonnet"
* Usage reporting
* Jupyter notebooks
* TensorFlow serving
* Seldon serving
* TensorFlow training
* PyTorch training
* Persistent disks
* Upgrading Kubeflow deployments
* Troubleshooting - For now, let's keep this all in one gui

[2018-07-24 21:29] lluunn commented on #97
I will add a TF Serving section under Guildes

[2018-07-24 21:45] sarahmaddox commented on #97
Thanks @lluunn - it's worth coordinating with @amsaha, as he's creating a TF serving section by pulling out the existing content from the user_guide.

[2018-07-24 22:01] lluunn commented on #97
I will add new stuffs; but I can wait after @amsaha creates the section.

[2018-07-24 22:39] jlewi commented on #97
LGTM

[2018-07-25 01:30] sarahmaddox commented on #97
Thanks @amsaha!

[2018-07-25 03:12] #70 closed

[2018-07-25 13:37] amsaha commented on #97
Have done most of the refactoring except the PyTorch part for which I have a doubt.
There are two copies of PyTorch instructions:

- The [PyTorch guide in the Getting Started section](https://www.kubeflow.org/docs/started/pytorch/)
- The other is [Submitting a PyTorch training job](https://www.kubeflow.org/docs/about/user_guide/#submitting-a-pytorch-training-job)

I believe the first one is what w

[2018-07-25 13:49] jlewi commented on #97
The former looks more comprehensive to me.  I think the second one is redundant.

[2018-07-25 14:13] amsaha commented on #97
Thanks @jlewi . Will proceed with that.

[2018-07-25 18:18] amsaha commented on #51
/assign

Will get this done once #97 is closed (currently pr #102 in review).

[2018-07-25 18:25] amsaha commented on #78
@jlewi is this related to https://github.com/kubeflow/kubeflow/issues/1250?

[2018-07-25 20:50] sarahmaddox commented on #83
I think we can close this issue now, since the navigation has been changed to fix issue #70. Now the page contents is on the right of the page, and is labelled "Contents". It's therefore clearer what "Section Nav" means on the left.

[2018-07-25 20:50] #83 closed

[2018-07-26 01:19] amsaha commented on #97
PR has been updated with latest changes.

[2018-07-27 14:09] amsaha opened #105 "Possibly split Guides into further sub directories"
Needs change in Section Nav template as well. This issue is a follow up of issue #97.

See this [comment](https://github.com/kubeflow/website/pull/102#issuecomment-408311455)

[2018-07-27 14:19] amsaha commented on #97
This can be closed. via https://github.com/kubeflow/website/pull/102.

[2018-07-27 20:31] amsaha commented on #97
/close

[2018-07-27 20:31] #97 closed

[2018-07-28 02:10] amsaha commented on #105
/assign

[2018-07-28 14:07] amsaha commented on #72
/assign

[2018-07-28 14:31] amsaha commented on #51
Waiting on #105.

[2018-07-28 14:31] amsaha commented on #72
Waiting on #105.

[2018-07-29 01:42] amsaha commented on #105
/close
Via pull #106

[2018-07-29 01:42] #105 closed

[2018-07-29 19:54] sarahmaddox commented on #72
@amsaha @jlewi My 2c is that the Katib docs should be part of "Guides -> Components". Currently the Katib guide is quite short, but we may expand it later so that it becomes more than just a getting-started guide for Katib.

My thinking is that the "Getting Started" section should focus on getting started with Kubeflow as a whole, rather than on getting started with components of it. So, I think i

[2018-07-29 22:27] jlewi opened #108 "Add a TFX page in Guides->Components"
We should start a page in Guides->Components to discuss TFX integration in Kubeflow.

Some things to include in the page.

1. We should point out that TF Serving is part of TFX and link to the relevant page
1. TF.transform and TFMA are two other TFX components that are currently usable with Kubeflow (e.g. via Jupyter) we should point that out and provide links to the relevant TFX docs to get more

[2018-07-29 23:11] sarahmaddox opened #109 "Add an end-to-end guide for Kubeflow on Kubernetes Engine"
We have a getting-started guide for Kubernetes Engine, which uses the gke deploy script:
https://www.kubeflow.org/docs/started/getting-started-gke/

We need an end-to-end guide as well, to act as a "hello world" for people wanting to try out Kubeflow on Kubernetes Engine.

[2018-07-29 23:13] sarahmaddox commented on #109
/assign

[2018-07-30 01:17] amsaha commented on #72
Thanks @sarahmaddox and @jlewi  for the comments. I will work on this (thats why I assigned it to myself). So I will put it in **Guides->Hyperparameter Tuning**.

Wondering whether Katib should be part of the name (**Guides->Hyperparameter Tuning (Katib)**) so that users who know of Katib (instead of the general area of hyperparameter tuning) can also easily locate the doc.

[2018-07-31 08:48] amsaha commented on #72
/close

[2018-07-31 08:48] #72 closed

[2018-07-31 17:10] abhi-g opened #114 "Update Seldon logo as requested by Alex Housley"
![seldon_logo](https://user-images.githubusercontent.com/11774566/43475240-fc63f4dc-94a9-11e8-8428-9ca57b27cd55.jpg)

[2018-07-31 17:34] abhi-g commented on #99
@mukulikak When I click on the image you added to download, it takes me to (https://user-images.githubusercontent.com/25306803/43103633-a5d61dc4-8e83-11e8-9f0e-7ccdbee01eb6.png) which doesn't have "argo" at the bottom, whereas, if I were to download this image as is, it does have argo at bottom. Would you want me to use that linked image, or this one with the "argo" at the bottom.

[2018-07-31 17:49] abhi-g commented on #99
@mukulikak Additionally, I would like to link to Argo website from the logo that I add. I couldn't find any specific website. I am planning to link to "https://blog.argoproj.io/" unless you suggest otherwise.

[2018-07-31 18:04] lluunn opened #115 "Add doc on avx2"
- how to make sure nodes have it
- possible error in deployment in some region, related to https://github.com/kubeflow/kubeflow/pull/1083

[2018-07-31 18:32] carmine opened #117 "Link to user-guide is broken"
From this page:

https://www.kubeflow.org/docs/started/getting-started/

This sentence:

For more detailed instructions about how to use Kubeflow please refer to the **user guide**.

The user guide hyperlink points to non-existing page:

https://www.kubeflow.org/docs/about/user_guide/

I don't see an obvious user_guide page in the source tree.

[2018-08-01 05:59] #117 closed

[2018-08-01 17:21] amsaha opened #120 "Fix broken links to non-existant "user_guide/""
user_guides is no longer valid as we have restructured our documentation. However, some of the pages have references to "user_guide/". These need to be fixed by replacing references to ```/docs/about/user_guide/``` with ```/docs/guides/```.

[code]

[2018-08-01 17:24] amsaha commented on #120
/priority p1
/release 0.3.0

[2018-08-01 17:25] amsaha commented on #120
/release 0.3.0

[2018-08-01 18:56] jlewi opened #122 "Markdown flavor/customization for the website"
The markdown used by our website is not the same as GitHub.

I've also noticed weird issues with the way lists and indented lists are handled.
See for example:
https://github.com/kubeflow/website/pull/113#pullrequestreview-142500969

It looks like hugo uses BlackFriday to render markdown and this is customizable.  So maybe
we can customize it to create better markdown formats?

I think there might

[2018-08-01 20:35] activatedgeek opened #124 "Add links to source file for easy edit links"
The current structure of the docs is amenable to adding a Github link to the source file. This will be a welcome change to allow easy click and change via the Github PR.

This kind of approach is pretty common across many popular docs and I think should make it easier for all of us to quickly make edits to existing code.

/area docs
/assign @abhi-g

[2018-08-01 21:46] #99 closed

[2018-08-01 21:46] #114 closed

[2018-08-02 18:49] amsaha commented on #51
/close

[2018-08-02 18:49] #51 closed

[2018-08-02 18:54] amsaha commented on #120
/close

[2018-08-02 18:54] #120 closed

[2018-08-03 05:57] #85 closed

[2018-08-06 12:41] jlewi commented on #77
@rongou Do you want to pick this up?

/cc @amsaha

[2018-08-06 13:11] jlewi opened #128 "Katib docs need to explain how to do a hyperparameter search"
The docs for Katib on the website need to explain how to do a hyperparameter search.

For example, in 0.2, metrics for the search are collected from stdout/stderr see
https://github.com/kubeflow/katib/issues/116#issuecomment-410014730

How hyperparameter tuning works will change in 0.3 because we will likely have a CRD
kubeflow/katib#141

So we may want to wait for that PR before adding updated do

[2018-08-08 21:38] jlewi commented on #122
See this comment
https://github.com/kubeflow/website/pull/130#discussion_r208656648

Looks like the indentation issues might be a CSS issue.

[2018-08-08 21:39] #80 closed

[2018-08-08 22:36] jlewi opened #137 "Instructions for mounting NFS pods in Jupyter are outdated."
These instructions are outdated
https://www.kubeflow.org/docs/guides/advanced/

For 0.2.0 instructions should be something like

[code]

For 0.3.0 I think the instructions will be different because jupyterhub will be a separate component from core.

[2018-08-09 04:39] jlewi commented on #137
The following two parameters should be sufficient

[code]

[2018-08-09 08:08] wukong1992 opened #139 "question about designing"
when i create a study，are all trial running  concurrently，and it is too resource intensive，is there any policy to handle this？

[2018-08-10 06:30] sarahmaddox opened #144 "Expand the website README with more how-to info"
To help new contributors to the docs, we need more info about Hugo and how to go about updating the docs.

[2018-08-10 06:31] sarahmaddox commented on #144
/assign

[2018-08-10 06:31] sarahmaddox commented on #144
/area docs

[2018-08-10 12:50] jlewi opened #146 "Document how to use kfctl.sh to setup Kubeflow"
Need to add instructions for how to use kfctl.sh to setup Kubeflow.

[2018-08-10 12:59] jlewi commented on #88
Fixed by #136

[2018-08-10 12:59] #88 closed

[2018-08-10 13:59] jlewi commented on #137
Its also possible to set an environment variable to configure Jupyter pods to mount additional PVS.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/kubeform_spawner.py#L241

Do we expose a ksonnet parameter for that?

[2018-08-10 14:12] jlewi commented on #49
I think this is fixed by a number of changes.

1. #88 automatically links scripts to the branch matching the docs branch
2. In 0.3.0 with kfctl.sh we run the scripts directly from the directory containing the source code so everything should be at the same version.

[2018-08-10 14:12] #49 closed

[2018-08-10 20:38] lluunn opened #148 "Should we have a developer section?"
We can move some information from https://github.com/kubeflow/testing/blob/master/README.md.

E.g. e2e test structure, how to debug and get logs

cc @abhi-g

[2018-08-10 20:40] abhi-g commented on #148
Good idea.

abhishek

On Fri, Aug 10, 2018 at 1:38 PM Lun-Kai Hsu <notifications@github.com>
wrote:

[2018-08-13 04:25] sarahmaddox opened #152 "The ksonnet guide and related links need some fixing up"
* Fix the broken anchor link in the getting-started guide:
https://www.kubeflow.org/docs/started/getting-started/#install-via-ksonnet

* Fix the broken anchor link in the requirements guide:
https://www.kubeflow.org/docs/guides/requirements/#why-kubeflow-uses-ksonnet

* Add more context about ksonnet functionality and installation in the component page:
https://www.kubeflow.org/docs/guides/compone

[2018-08-13 04:25] sarahmaddox commented on #152
/assign

[2018-08-13 17:39] jlewi opened #155 "Docs for how to use Prometheus component"
kubeflow/kubeflow#1160 added a Prometheus component for monitoring.

Need to add docs to explain how to use it.

[2018-08-13 19:27] texasmichelle opened #157 "Add video links to events page"
Add session details and links to public videos of past events on the [Events Calendar](https://master.kubeflow.org/docs/about/events/) page.

[2018-08-13 19:27] texasmichelle commented on #157
/assign

[2018-08-14 05:10] rongou commented on #77
Sure.

[2018-08-15 03:18] sarahmaddox commented on #152
/close

[2018-08-15 03:18] #152 closed

[2018-08-15 12:58] jlewi opened #160 "Update instructions for how to disable usage reporting."
We should update the metrics to disable usage reporting.

The way to do it would be to remove the ks component.  e.g.

[code]

[2018-08-15 22:53] sarahmaddox opened #163 "CSS style for list items - bullet or number appears on last line instead of first line of list item"
In a list, the bullet or number often appears on last line of the list item instead of on the first line of the list item

This happens on the blog as well as in the docs.

Blog post: https://www.kubeflow.org/blog/announcing_kubeflow_0.2/
![screen shot 2018-08-16 at 8 47 46 am](https://user-images.githubusercontent.com/6138251/44177494-90d2be80-a131-11e8-8ce2-f6f39f1981bc.png)

Doc: https://www.ku

[2018-08-16 05:51] #77 closed

[2018-08-16 20:05] #157 closed

[2018-08-17 07:33] sarahmaddox opened #167 "Apply content reuse for oft-used snippets like version numbers"
It'd be nice to be able to refer to minimum versions of various components/frameworks throughout the docs, without causing a maintenance nightmare. In other words, we need some sort of content reuse, so that we can define a snippet of information in one place, and reuse it wherever we need it.

Hugo has the concept of "shortcodes", which are similar to Django variables.
https://gohugo.io/templates

[2018-08-17 07:33] sarahmaddox commented on #167
/assign

[2018-08-17 07:34] sarahmaddox commented on #167
area/docs

[2018-08-17 07:36] sarahmaddox commented on #167
/area docs

[2018-08-17 15:17] texasmichelle opened #169 "Fix 3rd-level indentation on events page"
On the events page, the links for Videos & Slides are not indented properly. It renders as expected on [GitHub](https://github.com/kubeflow/website/blob/master/content/docs/about/events.md), but not on the [website](https://master.kubeflow.org/docs/about/events/).

[2018-08-17 15:18] texasmichelle commented on #169
/good-first-issue
/starter

[2018-08-20 15:54] #169 closed

[2018-08-21 01:58] #167 closed

[2018-08-21 02:02] sarahmaddox opened #171 "Export the NAMESPACE variable before using it"
On the JupyterHub page, we start by telling folks to run this command:
kubectl get svc -n=${NAMESPACE}

But we haven't set the variable. By default, the deployment uses namespace "kubeflow", so we should set the variable to "kubeflow" before using it.

https://www.kubeflow.org/docs/guides/components/jupyter/

This issue was probably caused when we split the user guide into separate pages, and this

[2018-08-21 02:02] sarahmaddox commented on #171
/good-first-issue
/starter
/area docs

[2018-08-21 02:03] sarahmaddox commented on #163
/area docs

[2018-08-22 19:10] jlewi opened #175 "[gcp] Document the service accounts used by Kubeflow"
We should explain the different service accounts that we create for Kubeflow

Right now we create 3

https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L32

[2018-08-22 19:13] jlewi commented on #175
[code]

Admin is used for some admin tasks like configuring the load balancers. The idea here is that its needed to deploy Kubeflow but not needed to actually run jobs.

User is intended to be used by training jobs, models to access GCP resources (GCS, BigQuery, etc...).

VM is used only for the VM service account.

We have 3 different service accounts because we want to follow the principle of le

[2018-08-23 17:53] erkolson opened #177 "getting-started-gke.md discrepancy"
When I am looking at the OAuth consent screen, I do not see an option to enter `Authorized domains`.  Is this a deprecated option?

[2018-08-23 17:55] erkolson opened #178 "getting-started-gke - TPUs"
The introduction states: "GPUs and TPUs can be used to accelerate your work".  It is pretty clear how to utilize GPUs but it is never described how to utilize TPUs.

[2018-08-23 18:02] ankushagarwal commented on #177
Hi @erkolson, what URL are you using?

I do see it on https://console.cloud.google.com/apis/credentials/consent

![image](https://user-images.githubusercontent.com/796949/44543281-f55ac400-a6c3-11e8-936f-012e658f83d7.png)

[2018-08-25 19:59] sarahmaddox commented on #163
Another list-related style that needs improving: The styling doesn't handle 3 levels of indent, for example, the markup below renders as a numbered list item, then a bullet list item, then a list item marked by a large rectangular icon:

[code]

[2018-08-25 20:06] sarahmaddox commented on #163
I've let the designer know about these issues.

[2018-08-27 05:13] sarahmaddox opened #183 "Describe what Kubeflow is, in practical terms"
I've chatted to a couple of developers recently, who've found it difficult to grasp what Kubeflow actually is, even after reading the docs. One of these conversation partners was an engineer who is very well versed in Kaggle.

At the high level of our docs, we tend to describe our mission rather than giving an overview of how we accomplish that mission.

Let's add a practical description of what K

[2018-08-27 05:13] sarahmaddox commented on #183
/assign

[2018-08-27 16:24] ewilderj opened #185 "Hard to find community resources"
I noticed a flattening in the number of people joining the Kubeflow mailing list, so I went to the web site to see how discoverable it was. What I found is that apart from directions to join the Github org, I couldn't easily find directions to either the mailing list, or the Slack channel. Anywhere "community" is mentioned, these resources ought to be reachable, and also they ought to be reachable

[2018-08-27 16:34] tlkh commented on #185
Hi @ewilderj, I’m wondering if the Slack channel should be open to all. Currently, it seems like only emails from a few whitelisted domains (eg google.com) are allowed to register.

[2018-08-27 18:06] Akado2009 commented on #171
Greetigns!

Can I work on it?

[2018-08-27 19:57] ewilderj commented on #185
@tlkh it depends on which link is given, there's a link which enables anyone to get in... but a bare "kubeflow.slack.com" will go to the whitelisted page, for sure.

[2018-08-27 19:57] ewilderj commented on #185
This link will work as an  open invitation: https://join.slack.com/t/kubeflow/shared_invite/enQtMjgyMzMxNDgyMTQ5LWUwMTIxNmZlZTk2NGU0MmFiNDE4YWJiMzFiOGNkZGZjZmRlNTExNmUwMmQ2NzMwYzk5YzQxOWQyODBlZGY2OTg

[2018-08-27 21:30] #171 closed

[2018-08-29 00:15] jlewi opened #191 "Link to blogs about Kubeflow & Oracle and Kubeflow and MapR"
Here are two blog posts about Kubeflow and MapR and Oracle.

https://blogs.oracle.com/cloud-infrastructure/deploy-kubeflow-with-oracle-cloud-infrastructure-container-engine-for-kubernetes

https://mapr.com/blog/kubernetized-machine-learning-and-ai-using-kubeflow/

We should provide links to these pages; maybe from the Getting Started Page? to direct users who might be interested in them.

[2018-08-29 01:31] ewilderj commented on #185
Here's some of the community content that would be good to reflect on the web site:
https://github.com/kubeflow/community/blob/master/README.md

[2018-08-30 22:45] jlewi opened #196 "Blog doesn't show up on the release branch"
master
https://master.kubeflow.org/blog/

We see Kaggle blog post

But not on the v0.2 branch
https://v0-2.kubeflow.org/blog/

[2018-09-01 09:28] gindeleo opened #199 "Wrong or outdated setting (Authorized domains) in GKE guide"
The [GKE getting started guide](https://www.kubeflow.org/docs/started/getting-started-gke/) describes an `Authorized domains` field in the consent screen section (see last point):

Set up your OAuth consent screen:
- Configure the consent screen.
- Under Email address, select the address that you want to display as a public contact. You must use
- either your email address or a Google Group that y

[2018-09-02 14:15] #160 closed

[2018-09-03 00:26] sarahmaddox commented on #163
/assign

[2018-09-03 00:31] sarahmaddox commented on #163
The designer has given us a set of updated CSS styles, which largely fix the first problem - list icons now appear on the first line of a multi-line list in most cases. The fix also fixes the second problem reported on this issue: styling for three levels of indent.

@abhi-g has submitted the designer's fixes in this PR:
https://github.com/kubeflow/website/pull/192

[2018-09-03 00:34] sarahmaddox commented on #163
However, the first problem (list icons appearing on last line of multi-line list) still occurs under certain circumstances.

See the section "Improved getting started experience" on this page:
https://deploy-preview-192--competent-brattain-de2d6d.netlify.com/blog/announcing_kubeflow_0.2/

Also under "Using your own domain" here:
https://deploy-preview-192--competent-brattain-de2d6d.netlify.com/doc

[2018-09-03 01:46] sarahmaddox commented on #177
I've verified that the **Authorized domains** field does not appear by default on the **OAuth Consent** screen of the Cloud Console. To investigate:
* Perhaps the field only appears if the user belongs to an organization.
* Does the end-to-end flow for Kubeflow on GKE work if you don't supply the **Authorized domains** value?

![oauth-consent](https://user-images.githubusercontent.com/6138251/4496

[2018-09-03 01:49] sarahmaddox commented on #199
Thanks @gindeleo you're right - the **Authorized domains** field doesn't appear by default. I've added a comment on issue #177, which reports the same problem. I'll mark this issue as a duplicate of that one, since that one is older and has more comments.

[2018-09-03 01:50] sarahmaddox commented on #199
Duplicate of #177

[2018-09-03 01:51] sarahmaddox commented on #199
/close

[2018-09-03 01:51] #199 closed

[2018-09-03 06:57] gaocegege opened #202 "[request] Add devstats in our website"
We have a devstats deployment for visualizing various metrics for the kubeflow community: http://devstats.kubeflow.org

I think we could add it in the website, maybe together with #185

[2018-09-03 07:00] sarahmaddox commented on #185
/assign

[2018-09-03 07:14] sarahmaddox commented on #185
I'll take this on. Here are some suggestions for discussion:

* On the [front page](https://master.kubeflow.org/), there's a "Community" section right at the bottom. I propose to add a "Contribute" button at the top too, next to the existing "Get Started" button, pointing to the [contributing page in the docs](https://master.kubeflow.org/docs/about/contributing/):
![image](https://user-images.gith

[2018-09-03 22:29] jlewi commented on #146
This is fixed on the master branch of the website
https://master.kubeflow.org/docs/started/getting-started/

[2018-09-03 22:29] #146 closed

[2018-09-03 23:41] jlewi commented on #177
I checked projects two different domains (google.com and kubeflow.org). In google.com I see it and in my kubeflow.org I don't see it.

I suspect the "Authorized Domain" setting depends on how your project is setup; in particular I think you may need to verify your domain in order to get that option
https://support.google.com/cloud/answer/6158849?hl=en#

If the Authorized Domains option doesn't sho

[2018-09-03 23:53] sarahmaddox commented on #177
I'm using an organisation that's neither google.com nor kubeflow.org, and I do see the option. I did set it, which means I can't verify whether I can set up IAP without setting that option.

[2018-09-04 06:54] sarahmaddox opened #204 "Add a page about contributing to the docs"
In the "About" section of the website, we should have a page about the docs.

The page should include at least the following:

- Versioning
- Link to the GitHub repo
- Contributing to the docs

To consider: How much info should we keep in the GitHub README, as opposed to transferring the info to the docs?
https://github.com/kubeflow/website/blob/master/README.md

[2018-09-04 06:55] sarahmaddox commented on #204
/area docs

[2018-09-04 06:56] sarahmaddox commented on #202
/area docs

[2018-09-04 06:56] sarahmaddox commented on #185
/area docs

[2018-09-04 20:59] sarahmaddox opened #205 "Our blog / additional resources page needs restructuring"
Our blog is currently at this location:
https://www.kubeflow.org/blog/

And has the heading "Additional Resources - Blog, Talks & Videos".

We should restructure this section of the site, so that:
1) The current page, "Additional Resources - Blog, Talks & Videos", allows us to distinguish between (a) the blog, which is time-stamped and (b) other resources, which are not time-stamped.

2) The blog

[2018-09-04 21:17] abhi-g commented on #205
I completely agree that we need to redo the Kubeflow blog page to be more like Blog  with time-stamped posts.

[2018-09-04 21:28] #185 closed

[2018-09-04 22:44] jlewi opened #207 "Improve the docs for connecting to JupyterHub"
The docs here provide some information about how to connect to JupyterHub
https://master.kubeflow.org/docs/guides/components/jupyter/

There are a couple options we should clarify

1. On GKE we should point if they setup IAP they can just connect to it via the endpoint created.
1. We might want to explain how to port-forward to Ambassador as well
    * Perhaps we should have a general component pa

[2018-09-04 22:45] jlewi opened #208 "Doc for running TensorBoard"
We should have a component page that explains how to run TensorBoard.

We should explain how to connect to it
  1. Using kubectl port-forward
  1. IAP using GKE.

[2018-09-09 22:19] sarahmaddox opened #210 "[Minikube bootstrap] Fail to update role kubeflow.jupyter-role"
_From @gaocegege on June 25, 2018 8:44_

## What did I do

Run `kubectl create -f ./bootstrap/bootstrapper.yaml`

## log

[code]

_Copied from original issue: kubeflow/kubeflow#1076_

[2018-09-09 22:24] sarahmaddox opened #211 "Add document on Stackdriver agents"
_From @lluunn on June 14, 2018 17:32_

We should add document to GKE get started guide about the new Stackdriver agents. They should be deployed with DM, and what are the features, how to use them.

_Copied from original issue: kubeflow/kubeflow#997_

[2018-09-09 22:27] sarahmaddox opened #212 "Suggest using simple port forwarding instead of LoadBalancer for cloud deploy in User Guide"
_From @dakoner on May 23, 2018 16:49_

The User Guide documents adding a LoadBalancer to expose the tf-hub in a cloud deployment with the stated caveat it opens the port to the internet.  There is an additional document for using IAP, which is more secure but also more complex.

I suggest documenting a simpler port forward, which just makes the tf-hub available to the local machine:

kubectl port-

[2018-09-09 22:27] sarahmaddox commented on #212
_From @jlewi on May 23, 2018 17:8_

This makes sense.

I think the general approach we want to recommend is that users connect to the ambassador reverse proxy so they get access to all the services.

This is blocked though on #817 which will put JupyterHub behind the ambassador.

Once everything is available through ambassador we can provide suitable recipes for connecting to ambassador e.g.

- Po

[2018-09-09 22:28] sarahmaddox commented on #212
/area docs

[2018-09-09 22:32] sarahmaddox opened #213 "Update docs to mention known issues with ksonnet and windows"
_From @jlewi on March 26, 2018 13:43_

On windows there appear to be issues with ksonnet: see
- #481 User error trying to deploy Kubeflow on windows
- ksonnet/ksonnet#382

We should update our docs to point out that on windows there are known issues and users may want to consider alternative solutions.

_Copied from original issue: kubeflow/kubeflow#501_

[2018-09-09 22:33] sarahmaddox commented on #213
A good location for this info:
https://www.kubeflow.org/docs/guides/troubleshooting/

[2018-09-09 22:36] sarahmaddox commented on #213
/area docs
/good-first-issue
/os windows
/priority p1

[2018-09-09 22:47] sarahmaddox opened #214 "Need docs for TFJobs UI"
_From @jlewi on April 3, 2018 18:33_

Need docs for TFJobs UI.

At a minimum need to specify what URL to use (at lest until we have central UI).

Looks like we need to use tfjobs/ui/

/cc @wbuchwalter

_Copied from original issue: kubeflow/kubeflow#573_

[2018-09-09 22:47] sarahmaddox commented on #214
_From @jlewi on May 26, 2018 18:23_

Looks like the port its listening on is 8080

[2018-09-09 22:48] sarahmaddox commented on #214
/area docs
/area training
/priority p1
/release 0.2.0

[2018-09-09 22:49] sarahmaddox opened #215 "Update 0.2 blog with new deployment script"
_From @chrisheecho on August 20, 2018 19:51_

@jlewi should we update the [0.2 blog](https://www.kubeflow.org/blog/announcing_kubeflow_0.2/) with the new script from [1311](https://github.com/kubeflow/kubeflow/pull/1311)

"curl https://raw.githubusercontent.com/kubeflow/kubeflow/v0.2.3-rc.0/scripts/gke/deploy.sh | bash"

_Copied from original issue: kubeflow/kubeflow#1390_

[2018-09-09 22:50] sarahmaddox commented on #215
_From @jlewi on August 21, 2018 4:30_

@chrisheecho Yes but we can use the following now

[code]

[2018-09-09 22:50] sarahmaddox commented on #215
_From @jlewi on August 21, 2018 4:30_

/assign @chrisheecho

[2018-09-09 22:50] sarahmaddox commented on #215
/area docs
/priority p1

[2018-09-09 22:55] sarahmaddox commented on #215
As an alternative to updating the existing blog post, should we consider a new blog post? Our blog posts are not time-stamped (see issue #205) but they should be. Traditionally, a blog post is a point-in-time document. Occasionally people will add an "**Update:**" section to an existing post, to indicate that things have changed, but usually the content of the post remains static, and people publi

[2018-09-10 20:58] sarahmaddox commented on #213
/assign Akado2009

[2018-09-10 22:59] abhi-g opened #217 "Add TOS and Privacy Terms to the website"
Add terms of Service and Privacy Terms to the Kubeflow website.

[2018-09-11 17:38] #213 closed

[2018-09-11 21:04] #217 closed

[2018-09-12 19:40] sarahmaddox commented on #148
Another option is to put the Kubeflow-developer docs into the wiki at kubeflow/kubeflow. (The wiki isn't currently enabled, but we can enable it.)

I'm a little concerned that people may become confused if we add the developer docs to the website. A large part of our audience is developers (though they're not necessarily Kubeflow contributors) and if they see a "developer's guide" they will think

[2018-09-14 05:48] sarahmaddox commented on #204
/assign

[2018-09-14 05:51] sarahmaddox opened #224 "Info about versioning is outdated in the website README"
The website README states:
"www.kubeflow.org always points to the latest stable release"

But that's no longer true - we've recently pointed www.kubeflow.org to master rather than stable.

https://github.com/kubeflow/website/blob/master/README.md

[2018-09-14 17:12] abhi-g commented on #205
+1 to comments. I still need to figure out how to enable comments with Hugo. And, we'd need to setup some spam filtering.

[2018-09-15 05:33] zeb-stephen-downs commented on #224
Submitted a pull request for this issue: https://github.com/kubeflow/website/pull/226

[2018-09-15 19:17] #224 closed

[2018-09-16 02:17] sarahmaddox opened #227 "Refactor the GKE getting-started guide"
The GKE getting-started guide is a little long and contains more information than just getting started. It'd be good to split out the info on customizations and troubleshooting into a new section of the guides. This will also give us a good place to put more guides when they arrive, such as the GKE end-to-end guide that's currently in progress.

https://www.kubeflow.org/docs/started/getting-starte

[2018-09-16 02:17] sarahmaddox commented on #227
/assign

[2018-09-16 02:17] sarahmaddox commented on #227
I'll take this one on.

[2018-09-17 13:17] jlewi commented on #78
There's a PR for this.
kubeflow/website#194

[2018-09-17 17:23] abhi-g opened #229 "Add a quickstart for Minikube deployment"
A quickstart describing how to use setup-minikube.sh.

[2018-09-19 21:39] pdmack commented on #205
https://utteranc.es/ looks interesting. Basically the comments would become GitHub issues in our website repo?

`When Utterances loads, the GitHub issue search API is used to find the issue associated with the page based on url, pathname or title. If we cannot find an issue that matches the page, no problem, utterances-bot will automatically create an issue the first time someone comments.`

[2018-09-20 17:37] jtfogarty opened #230 "On Premise documentation"
When running kubeflow on premise in a multi-cluster environment, it is helpful to have specific instructions
http access into kubeflow is available by setting the Ambassador service spec.type to NodePort

`kubectl edit svc ambassador -n kubeflow`
From
    `type: ClusterIP`
To
   `type: NodePort`

To revert back to ClusterIP the NodePort value must be removed
From
`nodePort: 30679`
to `nodePort: `

[2018-09-20 18:03] abhi-g commented on #205
that sounds nice! I am still concerned about spam posts/comments (regardless of whichever tool we use). Any thoughts?

[2018-09-20 21:31] jlewi opened #231 "minikube docs should not use bootstrapper"
bootstrapper is unreliable see for example
kubeflow/kubeflow#1586
kubeflow/kubeflow#1459
kubeflow/kubeflow#1430

General recommendation is not to use bootstrapper but instead just install minikube and then follow generic instructions.

Or with 0.3 users should be able to use kfctl.sh.

[2018-09-21 16:45] jtfogarty commented on #230
I believe the correct way to do his is to ` ks param set jupyterhub jupyterHubServiceType NodePort` and then do `ks apply default`

[2018-09-21 17:28] jlewi opened #232 "Document how to configure/customize JupyterHub"
We should add docs explaining how users can customize JupyterHub

This comment has some information that could be used as the initial basis
https://github.com/kubeflow/kubeflow/issues/1585#issuecomment-423612976

[2018-09-24 17:50] #79 closed

[2018-09-25 21:33] josepalafox opened #234 "Add slack to Website"
The kubeflow slack didn't appear to be linked in any way to the Kubeflow website. Might be good to add a button or reference to this in the additional resources section or the footer of the page template. Discussed with @texasmichelle

[2018-09-26 20:52] lluunn opened #235 "Deploy prometheus by default on GKE"
cc @kunmingg

[2018-09-26 20:52] #235 closed

[2018-09-28 05:08] sarahmaddox opened #240 "Move info about IAP and TFServing to the docs website"
Move this info to the docs website, and then add a link from the GitHub repo to the docs (so we don't duplicate the info):
https://github.com/kubeflow/kubeflow/blob/430d4f7ae16af389ac570182af519f6571f160cf/docs/gke/tf_serving_iap.md

That will make the info easier to find, and ensure we keep it up to date.

[2018-09-28 12:55] #78 closed

[2018-10-01 02:17] erkolson commented on #177
Sorry, missed the notification from this discussion. I was able to set up IAP despite not having an authorized domains field.

[2018-10-01 02:36] sarahmaddox commented on #177
Thanks @erkolson! In that case, +1 to @jlewi's suggestion that we update the docs to say that you must enter an Authorized Domain if prompted, but otherwise you don't need to set it.
https://www.kubeflow.org/docs/started/getting-started-gke/

/good-first-issue

[2018-10-01 13:21] jlewi commented on #229
We have instructions here:
https://www.kubeflow.org/docs/started/getting-started-minikube/

[2018-10-01 13:22] jlewi commented on #229
Duplicate of #231 (get rid of bootstrapper in docs)

[2018-10-01 13:22] #229 closed

[2018-10-01 13:27] jlewi commented on #155
Fixed by #233

[2018-10-01 13:27] #155 closed

[2018-10-02 19:51] #207 closed

[2018-10-05 05:10] jlewi opened #250 "Katib docs need to be updated to use the StudyJob CRD"
The docs for Katib should be updated to use the StudyJob CRD.

[2018-10-05 08:06] YujiOshima commented on #250
/assign YujiOshima

[2018-10-09 16:38] sijieamoy opened #254 "Deploy to GKE doc: master is hard coded in the command to download kfctl.sh"
https://www.kubeflow.org/docs/started/getting-started-gke/

Deploy Kubeflow on Kubernetes Engine, step 1 Run the following script to download kfctl.sh:

`curl https://raw.githubusercontent.com/kubeflow/kubeflow/master/scripts/download.sh | bash`

Should be:

`curl https://raw.githubusercontent.com/kubeflow/kubeflow/${KUBEFLOW_TAG}/scripts/download.sh | bash`

Ideally also provide a way to help use

[2018-10-12 01:42] sarahmaddox opened #260 "Change UI component of GKE end-to-end guide to not use a separate IP address"
The initial version of the GKE end-to-end guide ([PR #151](https://github.com/kubeflow/website/pull/151)) uses a separate IP address for the web UI.

Since we go to the trouble of setting up a static domain earlier on, we shouldn't use a separate IP address in the web UI step. One approach could be to add a service definition similar to tf-hub-lb or central-dashboard.

[2018-10-12 01:45] sarahmaddox opened #261 "Upgrade the GKE end-to-end guide to latest Kubeflow version"
The initial version of the GKE end-to-end guide ([PR #151](https://github.com/kubeflow/website/pull/151)) uses Kubeflow v0.2.7. We should upgrade to v0.3 with `kfctl` and test the entire procedure end to end.

[2018-10-14 22:17] #231 closed

[2018-10-15 00:40] #227 closed

[2018-10-15 00:41] #204 closed

[2018-10-15 00:49] sarahmaddox opened #262 "Add a note that we use an auth certificate from letsencrypt.org for the Kubeflow UI"
We should add a note in the docs that we use an auth certificate from letsencrypt.org for the Kubeflow UI.

We do have a brief, by-the-by mention on this page:
https://github.com/kubeflow/website/blob/master/content/docs/guides/gke/private-clusters.md

But we need a more authoritative mention so that users are aware they're using the services of Let's Encrypt.

More info:

* Search Kubeflow core f

[2018-10-15 21:31] lluunn opened #264 "content navbar is not readable"
<img width="347" alt="screen shot 2018-10-15 at 14 29 14" src="https://user-images.githubusercontent.com/32310205/46979528-b8d59400-d086-11e8-9b51-51664f6e5bf4.png">

[2018-10-16 10:39] chrisheecho commented on #205
Are we planning to separate out Blog, Talk,Videos or just all in one page?

[2018-10-19 04:50] ashahba opened #266 "Website docs is not clear around deploy using download.sh vs deploy from source code."
The following file can be enhances around lines 52-71:
[getting started](https://github.com/kubeflow/website/blob/master/content/docs/started/getting-started.md)

[2018-10-19 04:50] ashahba commented on #266
/assign @ashahba

[2018-10-23 05:19] jlewi commented on #214
/area 0.4.0

[2018-10-23 05:20] jlewi commented on #212
This is documented here:
https://www.kubeflow.org/docs/guides/accessing-uis/

[2018-10-23 05:20] #212 closed

[2018-10-23 17:33] sarahmaddox opened #268 "The "What is Kubeflow" information should be in master as well as v0.2"
https://v0-2.kubeflow.org/docs/about/kubeflow/

[code]

[2018-10-24 05:57] #266 closed

[2018-10-25 15:36] jlewi opened #272 "OpenMPI jobs should point users at MPIJob"
We want to start deprecating OpenMPI ksonnet component and using MPIJob instead
See
https://github.com/kubeflow/kubeflow/issues/778#issuecomment-432240645

The first step would be updating the docs so we recommend the MPIJob to users.

[2018-10-25 16:41] everpeace commented on #272
I will do this issue.

/assign @everpeace

[2018-10-25 22:10] #250 closed

[2018-10-29 15:56] chrisheecho commented on #214
@sarahmaddox this is something that we would definitely like to have for 0.4 Do you think we will be able to do this for 0.4?

[2018-10-29 15:58] chrisheecho commented on #232
/priority p2

[2018-10-29 16:47] sarahmaddox commented on #214
@chrisheecho I'm sorry, I'm a little out of touch at the moment due to other priorities. Do you have a date for 0.4. Also do you or @jlewi have some idea of the scope of the docs needed, to help us decide on the size of this task?

[2018-10-29 18:20] jlewi commented on #214
@sarahmaddox We will cut 0.4 by mid December.

The scope is what you mentioned in the initial comment of this issue. So fairly narrow.

[2018-10-30 04:57] sarahmaddox commented on #214
Thanks Jeremy. Yes, let's aim to have this doc update done for v0.4.

[2018-10-31 19:10] abhi-g opened #278 "Instructions for Click-to-deploy"
We need instructions for the the click-to-deploy app on the website. Specifically,
 - how to fill in the various fields in the form
 - screenshots where ever needed
 - Troubleshooting:
     - information on quotas etc.

[2018-10-31 23:00] happyhuman opened #279 "Broken link in Getting Started Page"
Hi
There seems to be a broken link in this page:
https://github.com/kubeflow/website/blob/master/content/docs/started/getting-started.md

The broken link is:
https://raw.githubusercontent.com/kubeflow/kubeflow/${KUBEFLOW_TAG}/scripts/download.sh

[2018-11-02 19:00] ewilderj opened #454 "Link from the contributor guide to the inclusivity doc"
Doc here https://github.com/kubeflow/community/blob/master/INCLUSIVITY.md

cc @texasmichelle

[2018-11-03 23:38] jbottum commented on #232
/remove-priority p1

[2018-11-03 23:41] jbottum commented on #232
/area 0.5.0

[2018-11-08 08:13] sarahmaddox commented on #279
I think this issue is now resolved. If I substitute "v0.3.1" for KUBEFLOW_TAG, I get the following link, which works:
https://raw.githubusercontent.com/kubeflow/kubeflow/v0.3.1/scripts/download.sh

[2018-11-08 08:13] sarahmaddox commented on #279
/assign

[2018-11-08 08:14] sarahmaddox commented on #279
I'm closing this issue, but please do re-open it if the problem still occurs.

/close

[2018-11-08 08:14] #279 closed

[2018-11-12 06:09] sarahmaddox commented on #254
Thanks for reporting this error! It seems to have been fixed now:

[code]
I'll close this issue but please do re-open it if the problem recurs.

/close

[2018-11-12 06:10] #254 closed

[2018-11-12 06:16] sarahmaddox commented on #234
The Slack channel is linked on the "Community" page, which contains both a link to the Slack invitation and a link to the channel itself:
https://www.kubeflow.org/docs/about/community/

I think it'd be nice to link to the Slack channel in the header/footer, but I think we need to redesign the site  to fit in Slack and other links. I'm currently investigating a new theme for the site, which would i

[2018-11-12 06:19] sarahmaddox commented on #215
We now have a new deployment process, announced with v0.3:
https://www.kubeflow.org/blog/announcing_kubeflow_0.3/

And our blog posts are now nicely time-stamped too.

I'm therefore closing this issue as obsolete.

/close

[2018-11-12 06:19] #215 closed

[2018-11-12 06:27] sarahmaddox opened #290 "Enable commenting on blog posts"
Copying info from the comment thread on issue [#205](https://github.com/kubeflow/website/issues/205):

Initial suggestion of adding comments to the blog comes from @pdmack

From @abhi-g :

[We] need to figure out how to enable comments with Hugo. And, we'd need to setup some spam filtering.

Since Hugo is a static site generator, there is no out of the box solution for comments. They do suggest [u

[2018-11-12 06:29] sarahmaddox commented on #205
I've copied the suggestion of adding comments to issue [#290](https://github.com/kubeflow/website/issues/290).

The other aspects of this issue (#205) are complete. The "Additional Resources" page is now called just "Blog" and the blogs are time-stamped.

I'm therefore closing this issue.

/close

[2018-11-12 06:29] #205 closed

[2018-11-12 06:33] sarahmaddox commented on #109
/close

[2018-11-12 06:33] #109 closed

[2018-11-12 06:34] sarahmaddox commented on #264
+1. I'm currently investigating a different theme for the Kubeflow website (Docsy) which will help solve this issue.

[2018-11-12 06:36] sarahmaddox commented on #16
I'm closing this issue, as it's a process issue for the blog and for product management, rather than a documentation-related issue.

/close

[2018-11-12 06:36] #16 closed

[2018-11-12 07:33] sarahmaddox opened #291 "Investigate Docsy theme for Kubeflow website"
/assign

[2018-11-13 03:08] #268 closed

[2018-11-14 04:20] texasmichelle opened #293 "Change katib namespace to kubeflow"
Related to [katib-245](https://github.com/kubeflow/katib/issues/245) & [kubeflow-1903](https://github.com/kubeflow/kubeflow/issues/1903).

The [docs](https://github.com/kubeflow/website/blob/master/content/docs/guides/components/hyperparameter.md) specify the creation of the `katib` namespace, which does not match the default core deploy namespace `kubeflow`. Remove the create namespace command so

[2018-11-19 14:37] jlewi opened #297 "Add pipelines to the docs website"
We should create a page on the website with documentation about pipelines.

We can move over the documentation that's currently in the wiki
https://github.com/kubeflow/pipelines/wiki

[2018-11-20 06:04] sarahmaddox commented on #214
/assign

[2018-11-20 21:22] #278 closed

[2018-11-21 04:09] sarahmaddox commented on #214
URL is:
https://<deployment-name>.endpoints.<project>.cloud.goog/tfjobs/ui/

[2018-11-21 05:36] sarahmaddox commented on #297
/assign

[2018-11-21 05:40] #293 closed

[2018-11-21 21:04] #214 closed

[2018-11-22 05:56] sarahmaddox commented on #234
I'm closing this issue, because I think my previous comment answers it. Please do re-open the issue if you think it still needs work.

/close

[2018-11-22 05:56] #234 closed

[2018-11-22 06:01] sarahmaddox commented on #148
My 2c is that the developer docs are better located in the code base rather than on the website. Most people will expect them there, and it may be confusing to have the developer docs on the website along with the docs for users of Kubeflow. I'm closing this issue as answered, but please do re-open it if you think we should work on it.

/close

[2018-11-22 06:01] #148 closed

[2018-11-22 06:04] sarahmaddox commented on #139
/assign @abhi-g

Abhishek, do you know the answer to this question, and is it something we should include in the docs?

[2018-11-22 06:05] sarahmaddox commented on #137
/help

[2018-11-22 06:10] sarahmaddox commented on #122
We have issue [#163](https://github.com/kubeflow/website/issues/163) to address the problem with bullet styling (partly addressed but needs more tweaking).

My 2c is that it'd be confusing to try overriding the Markdown flavour that we use, and may lead to inconsistent results. I'll close this issue, but please do re-open it if you think we need to do more work on it.

/close

[2018-11-22 06:10] #122 closed

[2018-11-22 06:16] sarahmaddox commented on #75
This is the file where the "mission" text occurs:
https://github.com/kubeflow/website/blob/master/content/docs/about/kubeflow.md

[2018-11-22 06:17] sarahmaddox commented on #75
/help

[2018-11-22 06:20] sarahmaddox commented on #17
Note that the Docsy theme has a hook for adding a Google Analytics ID. See issue #291.

[2018-11-23 19:33] sarahmaddox commented on #297
In progress.

[2018-11-24 18:44] sarahmaddox opened #304 "Upgrade to latest version of Hugo (extended)"
Please upgrade the website generator server to the latest version of Hugo *extended*. We need the latest, extended version to build the Docsy theme (see issue #291). The extended version supports SCSS, which the theme requires. (I have "v0.51/extended" running locally, and can successfully build the site using the Docsy theme.)

[2018-11-24 18:44] sarahmaddox commented on #304
/assign @abhi-g

[2018-11-24 18:48] sarahmaddox commented on #304
/area docs
/priority 1

[2018-11-24 18:49] sarahmaddox commented on #297
/area docs

[2018-11-24 18:49] sarahmaddox commented on #291
/area docs

[2018-11-25 02:41] sarahmaddox opened #305 "Left-hand navbar should highlight current page"
For easy browsing, the left-hand navigation panel should highlight the page that's currently open, so readers can gain context from their position in the doc set.

[2018-11-25 02:43] sarahmaddox commented on #305
/area docs
/label doc usability

[2018-11-25 02:48] sarahmaddox commented on #305
Note that the Docsy theme does highlight the current page title in the left-hand nav. See issue #291

[2018-11-26 17:47] jlewi opened #307 "Get rid of the old TFServing docs"
We currently have two different pages for TFServing
https://www.kubeflow.org/docs/guides/components/tfserving/  (old docs)
https://www.kubeflow.org/docs/guides/components/tfserving_new/  (new docs)

By 0.4.0 we should get rid of the old docs and just have the new docs.

@lluunn What is blocking deleting the old docs and just using the new doc? Do the new docs only apply to 0.4? i.e. do we need to

[2018-11-26 18:10] lluunn commented on #307
So old docs are for old prototypes, and new docs are for new ones.
There are still some part of the new prototype/doc not updated (e.g. Grafana).
It should be ready by 0.4, and we can remove old ones.

[2018-11-27 00:02] kkasravi opened #309 "bad markdown link on https://www.kubeflow.org/docs/guides/upgrade/"
It shows
[code]
and should be
[code]
note that the link is missing `]` and instead has `)`

[2018-11-27 18:11] abhi-g opened #310 "Update pipelines setup documentation"
Pipelines setup document needs to be updated to reflect v0.3.4 release which installs pipelines runtime by default along with Kubeflow deployment.

[2018-11-27 18:11] abhi-g commented on #310
/cc @sarahmaddox @kunmingg

[2018-11-27 20:12] sarahmaddox commented on #309
The square and round brackets need to be swapped around too, like this:
[code]

/help
/good-first-issue
/area docs

[2018-11-27 23:10] andreyvelich commented on #309
/assign

[2018-11-27 23:38] #309 closed

[2018-11-28 00:13] kunmingg opened #312 ""Invitation to our Slack channel" link expires"
```This invite link is no longer active.```

Can we automate renew invite link?

[2018-11-28 00:14] kunmingg commented on #312
@texasmichelle

[2018-11-28 01:59] sarahmaddox commented on #297
/close

[2018-11-28 01:59] #297 closed

[2018-11-28 02:55] jlewi commented on #312
Duplicate of: kubeflow/community#15

[2018-11-28 03:00] sarahmaddox commented on #312
I'm closing this issue, as it's been marked a duplicate.
/close

[2018-11-28 03:00] #312 closed

[2018-11-28 21:48] blsaws opened #317 "getting-started.md needs to clarify PV prerequisite"
Prior to "Run the following commands to setup and deploy Kubeflow:", the guide needs to clarify that a prerequisite (of vizier-db) is the presence of at least one PV created with no storage class.
For the Acumos project (https://www.acumos.org/), we have work in progress for our current release to support kubeflow. I am creating kubeflow setup tools and I see that after following the process descr

[2018-11-29 07:13] jlewi commented on #317
I think the issue here is that Katib is by default relying on the existence of a default storage class.
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1

If your cluster defines a default storage class then it will automatically provision a PV for that PVC.

If your cluster doesn't have a default storage class then the options are

1. Create a PV manually (as in the comment)

[2018-11-29 07:14] jlewi commented on #317
@blsaws any interest in providing a PR to update the docs?

[2018-11-29 15:52] inc0 commented on #317
Alternative approach would be to refactor Katib to use external DB rather than deploying it on it's own. It would be better in general as deploying mysql is hard.

[2018-11-29 21:07] rogaha opened #318 "Add Docker for Mac installation process"
-- https://docs.docker.com/docker-for-mac/install/
-- https://download.docker.com/mac/stable/Docker.dmg
<img width="922" alt="screenshot of google chrome 11-29-18 1-12-29 pm" src="https://user-images.githubusercontent.com/4483394/49252277-710d9080-f3d8-11e8-8f7c-42354396cb02.png">

<img width="296" alt="screenshot of google chrome 11-29-18 1-10-21 pm" src="https://user-images.githubusercontent.com

[2018-11-29 21:08] rogaha commented on #318
related to https://github.com/kubeflow/kubeflow/pull/1954 and https://github.com/kubeflow/kubeflow/issues/218#issuecomment-439767431

[2018-11-29 23:46] sarahmaddox commented on #124
+1 - it'd be great to add an "Edit on GitHub" link to every doc page.

I'm currently investigating the Docsy theme, which incorporates such a link. See issue #291

[2018-12-02 01:47] sarahmaddox opened #320 "Include kubectl install command in Github page"
_From @ajayalfred on November 15, 2018 19:25_

I tried installing pipeline using gcloud sdk and followed instructions on this [page](https://github.com/kubeflow/pipelines/wiki/Deploy-the-Kubeflow-Pipelines-Service). However when I tried running the kubectl commands it wouldn't work because it wasn't installed. Would be nice to include the code snippet below on the page for first-time users.

gclou

[2018-12-02 02:10] sarahmaddox commented on #320
The page is now in the Kubeflow docs:
https://www.kubeflow.org/docs/guides/pipelines/deploy-pipelines-service/#deploying-kubeflow-pipelines-on-gke

The page *does* suggest that people should install `kubectl` but as @ajayalfred points out, it'd be good to include the code on the page.

/help

[2018-12-02 02:11] sarahmaddox commented on #320
/good-first-issue

[2018-12-02 02:25] sarahmaddox opened #321 "Improve the (hyperparameter tuning (katib) user guide"
_From @ddysher on April 16, 2018 9:36_

I've walked through the getting started guide, here's my suggestions on a few improvements that we can do to improve the overall user experience (fairly low hanging fruit IMO):

- Use minikube (or local cluster). The getting started guide uses a custom cluster with gpu, which is, in most cases, impractical for new comers to setup and try out katib
- Do not u

[2018-12-02 02:30] sarahmaddox commented on #321
The Hyperparameter Tuning (Katib) doc is now in the Kubeflow docs here:
https://www.kubeflow.org/docs/guides/components/hyperparameter/

It could do with some improvement still, to make things easier for people just starting with Katib.

As @jlewi mentioned in an earlier comment, we can see the changes in PR [kubeflow/kubeflow#989](https://github.com/kubeflow/kubeflow/pull/989) for some basic docu

[2018-12-03 04:15] sarahmaddox commented on #304
Note for posterity: I've been having trouble with the Netlify preview for PR #303 due to a known Netlify issue: Netlify doesn't support *extended* Hugo versions. See [netlify/build-image#182](https://github.com/netlify/build-image/issues/182).

The magic fix for the Netlify problem was that I needed to install PostCSS (`npm install -D --save autoprefixer` then `npm install -D --save postcss-cli`),

[2018-12-03 04:15] #304 closed

[2018-12-03 04:50] sarahmaddox opened #322 "Handle short pages better - nav and footer look weird when there's little content"
When the page has a small amount of content and is thus vertically not long, the left-hand nav bar shows only a proportionate amount of content too. It'd be better if the left-hand nav showed as much content as possible.

See this page for an example:
https://www.kubeflow.org/docs/guides/components/components/

[2018-12-03 04:50] sarahmaddox commented on #322
Note: The Docsy theme fixes this problem. See issue #291

[2018-12-03 05:46] sarahmaddox opened #323 "Broken list on "Requirements" page"
The list markup is broken on this page:
https://www.kubeflow.org/docs/guides/requirements/

In the first paragraph, the asterisks are rendering as asterisks instead of bullet list items:
"it’s useful to have some knowledge of the following systems: * Kubernetes * TensorFlow * ksonnet"

/help
/good-first-issue

[2018-12-03 07:28] IronPan opened #324 "Update Ksonnet minimum version requirement"
Based on this https://github.com/kubeflow/pipelines/issues/414#issuecomment-443607626
the deployment won't work with <ks_v0.13

Should we update the ks version in the doc?
https://www.kubeflow.org/docs/started/getting-started/

[2018-12-03 18:42] jlewi commented on #128
@YujiOshima @gaocegege @sarahmaddox Is anyone interested in picking this up in time for 0.4?

[2018-12-03 21:59] andreyvelich commented on #323
/assign

[2018-12-04 00:21] #323 closed

[2018-12-04 20:35] IMBurbank opened #327 "Add Containerized Dev Environment"
Current [dev instructions](https://github.com/kubeflow/website/blob/master/README.md) for this repo require locally installing following dependencies:
* git
* hugo
* npm
* gulp-cli
* gulp

I suggest creating an optional, simpler dev workflow using a Docker image for portable dependency management. This can simplify development instructions, allow dev environments to be quickly spun up and avoid de

[2018-12-04 20:46] abhi-g commented on #139
/cc @richardsliu

[2018-12-05 23:08] IronPan opened #330 "Short content doesn't look good on Kubeflow site"
![image](https://user-images.githubusercontent.com/2348602/49550133-9a7a6080-f89f-11e8-980e-61570550c378.png)

[2018-12-05 23:50] sarahmaddox commented on #330
Thanks @IronPan ! I'm closing this as a duplicate of issue [#322](https://github.com/kubeflow/website/issues/322)

Note also that the Docsy theme fixes this problem. See issue #291

[2018-12-05 23:50] sarahmaddox commented on #330
/close

[2018-12-05 23:50] #330 closed

[2018-12-07 12:17] gyliu513 opened #333 "Added document for how to run kuebflow on IBM Cloud Private"
[IBM Cloud Private](https://www.ibm.com/cloud/private) is an Enterprise Kubernetes distribution, we will try to add a getting started guide for this.

[2018-12-07 18:18] #307 closed

[2018-12-07 18:46] sarahmaddox commented on #128
@YujiOshima @gaocegege @jlewi sorry, I'm a little flat out at the moment. Happy to review the doc, if someone can put together the first draft?

[2018-12-07 18:58] sarahmaddox opened #335 "Kubeflow website should have a site search"
/area docs-ux

[2018-12-07 18:59] sarahmaddox commented on #335
We're investigating the Docsy theme, which does have a search. See issue [#291](https://github.com/kubeflow/website/issues/291).

[2018-12-07 18:59] sarahmaddox commented on #291
/area docs-ux

[2018-12-07 19:00] sarahmaddox commented on #264
/area docs-ux

[2018-12-07 19:01] sarahmaddox commented on #322
/area docs-ux

[2018-12-07 19:01] sarahmaddox commented on #124
/area docs-ux

[2018-12-07 19:01] sarahmaddox commented on #305
/area docs-ux

[2018-12-07 19:01] sarahmaddox commented on #17
/area docs-ux

[2018-12-08 02:39] sarahmaddox opened #337 "Redirect the Kubeflow blog to medium.com/kubeflow"
This is a request from our community manager, to take advantage of the SEO and large readership offered by Medium.

[2018-12-08 02:39] sarahmaddox commented on #337
/assign

[2018-12-09 00:56] sarahmaddox opened #339 "For discussion: What type of content would data scientists find useful?"
A point came up in discussion recently: Kubeflow.org currently targets devops folks. We should provide specific content for data scientists.

Opening up the discussion: What do you think of the above idea, and what type of content would be useful for data scientists?

/area docs

[2018-12-09 01:27] sarahmaddox opened #340 "Create a Pipelines tutorial"
We need a pipelines tutorial, which should consist of a doc on the website plus corresponding code in the kubeflow/examples repo. We have a few samples and demos floating around - find the best one, adapt it for a tutorial that shows the happy path thru pipelines, put the resulting code in the kubeflow/examples repo, and write the doc.

[2018-12-09 01:32] sarahmaddox opened #341 "Help people who want to use Kubeflow Pipelines alongside other GCP services"
Create a section about using Pipelines in conjunction with GCP services e.g. CMLE, Dataflow, etc. A good starting point is the GKE guide:
https://cloud.google.com/solutions/using-gcp-services-from-gke

[2018-12-09 01:38] sarahmaddox opened #342 "The Pipelines concepts docs could do with some fleshing out"
We should add more concepts and context to this doc:
https://www.kubeflow.org/docs/guides/pipelines/pipelines-concepts/

For example, what is the DSL / SDK; how does Pipelines fit in with the rest of Kubeflow;

[2018-12-09 01:42] sarahmaddox commented on #310
Fixed by PR #336

[2018-12-09 01:42] sarahmaddox commented on #310
/close

[2018-12-09 01:42] #310 closed

[2018-12-09 01:46] sarahmaddox commented on #324
The getting-started guide (and all other places where we refer to ksonnet version) says min version is 0.11.

@jlewi Is there any reason why we shouldn't specify a min version of v0.13? I see your comment in [issue 414](https://github.com/kubeflow/pipelines/issues/414#issuecomment-443607626) and am not sure of its significance with respect to this bug.

[2018-12-09 16:07] sarahmaddox opened #344 "Link from the Kubeflow intro to the getting-started guide"
Today I was recommending the [Kubeflow intro page](https://www.kubeflow.org/docs/about/kubeflow/) as the place to start reading about Kubeflow. Then I realised it doesn't tell people where to go to get started with their Kubeflow setup. We should link from that page to the [getting-started page](https://www.kubeflow.org/docs/started/getting-started/).

[2018-12-09 16:07] sarahmaddox commented on #344
/assign

[2018-12-09 23:51] sarahmaddox opened #345 "Create a reference guide for Kubeflow Pipelines"
We need to create and publish an SDK reference for Kubeflow Pipelines. The API info is too scattered at the moment. For example:
* The [Build your own component](https://www.kubeflow.org/docs/guides/pipelines/build-component/) page mentions `kfp.dsl.ContainerOp`.
* The [Lightweight Python components](https://www.kubeflow.org/docs/guides/pipelines/lightweight-python-components/) page mentions `kfp.

[2018-12-09 23:55] sarahmaddox commented on #345
Some of the work items required before we can generate a reference:
- Clean up the namespaces.
- Get the Pipelines SDK preinstalled in KubeFlow JupyterHub (team is working on this).
- Create a PyPI entry.
- Make sure the code comments are suitable for doc generation.
- Set up a doc generation process.

[2018-12-09 23:57] sarahmaddox commented on #345
/area docs
/area sdk/dsl/compiler

[2018-12-10 00:02] sarahmaddox commented on #345
/cc @abhi-g
/assign @qimingj

[2018-12-10 17:21] hongye-sun opened #347 "Document footer should stay in the bottom of the page"
It looks weird when the content is short: https://screenshot.googleplex.com/481BMqSyaYj

[2018-12-10 17:25] sarahmaddox commented on #345
It'd be good if we can have this by the 0.4 release.

/area 0.4.0
/remove-area 1.0.0

[2018-12-11 13:12] sarahmaddox opened #351 "Emphasize that you need to press Enter then Create when adding authorized redirect URI"
The GCP OAuth credentials UI is confusing - it's too easy to lose the authorized redirect URI after entering it. as you have to press Enter first, then Create. Clarify this in the GKE getting-started guide.

[2018-12-11 13:12] sarahmaddox commented on #351
/assign

[2018-12-11 14:09] giogit opened #353 "Error at the end of "e2e kubeflow on GCP" guide"
At the end of the guide, the command to activate port forwarding contains some errors:
1) the command refers to the variable $ {NAMESPACE} that is not defined
2) the command to select the pod does not work
3) when creating the ksonnet component for the UI, port 5000 is indicated while in port forwarding, port 80 is indicated

Below is a version that works:
[code]

[2018-12-12 01:21] iyera commented on #341
For now, as a placeholder, we can point them to the relevant examples.

Soon, we will have reusable components that will simplify this, and we can update the docs accordingly when we have the reusable components.

[2018-12-12 02:35] sarahmaddox commented on #341
Thanks @iyera - do you have any specific examples in mind?

[2018-12-12 03:09] sarahmaddox commented on #351
/close

[2018-12-12 03:09] #351 closed

[2018-12-12 03:13] sarahmaddox opened #355 "In multi-line list items, the list icons show on the last line of the list item instead of on the first line"
This seems to be a regression, as we fixed it a while ago via CSS.

See this page as an example:
https://www.kubeflow.org/docs/guides/pipelines/build-pipeline/

[2018-12-12 13:34] sarahmaddox commented on #261
Progress update: I've chatted with the engineer who wrote the sample used in the GKE end-to-end guide (@DanSanche). He will upgrade the sample, then we can upgrade the docs. Time estimate for the sample update is January.

[2018-12-12 13:37] sarahmaddox commented on #340
Progress update: We're thinking it'll be good to use the same sample as for the GKE end-to-end guide.
@DanSanche is planning to upgrade the sample to Kubeflow 0.3.4 and include an option to use Pipelines. When that's done, we can write the tutorial. Time estimate for the sample is January.

[2018-12-12 13:38] sarahmaddox commented on #347
+1. The cause is the same as reported in issue [#332}(https://github.com/kubeflow/website/issues/322).

[2018-12-12 13:40] sarahmaddox commented on #347
I'll close this issue, and use 332 as the master issue.

/close

[2018-12-12 13:43] sarahmaddox commented on #355
Hmm some pages are OK, for example:
https://www.kubeflow.org/docs/guides/components/jupyter/

[2018-12-12 22:13] DanSanche commented on #261
If 0.4 is ready by the time I'm able to get to this, should we skip 0.3 and just update the sample to 0.4? Or would it be helpful to have a 0.3 sample either way?

[2018-12-13 01:53] sarahmaddox commented on #261
If 0.4 is ready by the time you start, then yes, let's skip 0.3. Ideally we should keep the sample up to date with the latest release. That said, I don't think the jump from 0.3.4 to 0.4 will be as big as the jump from 0.2 to 0.3.4, in terms of this particular tutorial. So, don't wait for 0.4 if it's not available when you're ready to start.

[2018-12-13 15:04] sarahmaddox commented on #353
/assign

Thanks!

[2018-12-13 16:01] #353 closed

[2018-12-17 00:43] jlewi opened #361 "Docs for build / train / deploy from notebook"
A core CUJ for 0.5. is build train deploy from a notebook.

We will need docs explaining how users can do this.

[2018-12-17 01:00] jlewi commented on #361
The instructions should include how people can push code to git.
This most likely mean generating an ssh key and adding it to their repo (e.g. GitHub) so they can authenticate to their repo.

[2018-12-17 03:55] sarahmaddox opened #363 "Check our copyright statement"
We currently reserve all copyright rights. Should we instead use a cc-by license?

**This is what we currently state in the Kubeflow footer:**
Copyright © 2018 Kubeflow.org. All Rights Reserved.

**For comparison, this is what the Kubernetes site states:**
© 2018 The Kubernetes Authors | Documentation Distributed under CC BY 4.0
Copyright © 2018 The Linux Foundation ®. All rights reserved. The Lin

[2018-12-17 03:58] sarahmaddox commented on #363
@ewilderj @abhi-g Do you have the history behind the copyright statement on the Kubeflow site, and do you think we should move to cc-by?

[2018-12-17 04:44] abhi-g commented on #363
I really didn't put any deep thought into the copyright statement of the
website.

Please feel free to update as necessary and appropriate.

Regards
Abhishek

On Sun, Dec 16, 2018 at 7:58 PM Sarah Maddox <notifications@github.com>
wrote:

[2018-12-17 04:59] jlewi commented on #32
There is a lot of documentation on this page for Azure.
https://github.com/Azure/kubeflow-labs

it would be great to port all or some of that over to kubeflow.org

@ritazh per our conversation at Kubecon we'd love to get docs for Azure up on www.kubeflow.org

If you or someone else is willing to take this on that would be great.

/cc @aronchick

[2018-12-17 06:16] gyliu513 commented on #333
/cc @jinchihe

[2018-12-17 14:50] jlewi commented on #272
@everpeace Any update? We're cutting 0.4 this week so it would be great to get this fixed.

[2018-12-17 15:06] jlewi commented on #128
@YujiOshima @gaocegege any interest in trying to get this done for 0.4?

[2018-12-18 15:43] jlewi opened #366 "Generate API reference docs"
We should generate API reference docs for various aspects of Kubeflow; e.g our custom operators, the Katib API, Pipelines API.

Here are instructions for how Kubernetes generates its reference docs. Looks like its based on OpenAPI specs.
https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/

Related issues:
kubeflow/katib#120 - Document Katib API
kubeflow/tf-operator#731 - Docume

[2018-12-18 20:57] sarahmaddox commented on #363
I've checked with the Open Source Programs Office. We should have the following copyright notice on the Kubeflow docs:

Copyright 2018 The Kubeflow Authors | Documentation Distributed under CC BY 4.0

[2018-12-18 22:05] sarahmaddox opened #369 "Duplicated workflow section in the "About Kubeflow" doc"
We should remove the "Workflow" section of the doc:
https://www.kubeflow.org/docs/about/kubeflow/#workflow

It's duplicated in the "What is Kubeflow" section on the same page:
https://www.kubeflow.org/docs/about/kubeflow/#what-is-kubeflow

[2018-12-18 22:05] sarahmaddox commented on #369
/good-first-issue

[2018-12-18 22:10] sarahmaddox opened #370 "Add Kubeflow notable features to "About Kubeflow" doc"
There's some useful information in the section titled "Kubeflow at version 0.3" in this blog post:
https://opensource.com/article/18/12/introduction-kubeflow

We should add an adapted version of the info to the "About Kubeflow" doc:
https://www.kubeflow.org/docs/about/kubeflow/

[2018-12-20 08:29] giogit opened #371 "Cleaning script of "e2e kubeflow on GCP" guide doesn't work"
The cleaning command at the end of the guide does not work.

I tried to use the command suggested in [issue 1092](https://github.com/kubeflow/kubeflow/issues/1092) but, in this way, IAM roles were not deleted.

[2018-12-21 00:50] #369 closed

[2018-12-21 03:37] jlewi opened #373 "Accessing Ambassador docs should port-forward using service not pod"
Context kubeflow/kubeflow#2155
kubectl can now port-forward to a service.

This simplifies the port-forward command since we don't have to get the ambassador pod first.

We should update the port-forward command in the docs
https://www.kubeflow.org/docs/guides/accessing-uis/

to port-forward based on the service.

[2018-12-21 22:01] andreyvelich commented on #373
Will take it.
/assign

[2018-12-22 02:22] sarahmaddox opened #376 "OAuth client instructions are ambiguous"
_From @vfontama on December 21, 2018 21:21_

The instructions to create credentials is a bit ambiguous.  Specifically, in step 2 where we set the "Authorized redirect URIs" the instructions have this sample: "https://<name>.endpoints.<project>.cloud.goog/_gcp_gatekeeper/authenticate".

The <project> is straightforward.  However, the <name> is confusing. It is not clear which name to use:  In the s

[2018-12-22 03:11] #373 closed

[2018-12-22 19:41] sarahmaddox commented on #366
Here's the existing issue for the Pipelines reference: [#345](https://github.com/kubeflow/website/issues/345) - it includes some discussion.

[2018-12-22 19:49] sarahmaddox commented on #371
Just a note that we're planning to update the e2e tutorial to a later version of Kubeflow. See issue [#261](https://github.com/kubeflow/website/issues/261). This will fix the problem. In the meantime, using the "abandon" policy is the workaround, with manual cleanup of the IAM roles.

[2018-12-22 19:51] sarahmaddox commented on #363
/close

[2018-12-22 19:51] #363 closed

[2018-12-22 20:31] sarahmaddox commented on #345
Info on generating reference docs from Python doc strings, using Pydoc: https://docs.python.org/3.7/library/pydoc.html

We need to think about how we'll include the generated reference docs in our Kubeflow website.
As an example, see Kubernetes:

* Has a “Reference” page within the website framework, listing the various reference docs: https://kubernetes.io/docs/reference/
* Then branches out to a

[2018-12-22 20:32] sarahmaddox commented on #366
We need to think about how we'll include the generated reference docs in our Kubeflow website.
As an example, see Kubernetes:

* Has a “Reference” page within the website framework, listing the various reference docs: https://kubernetes.io/docs/reference/
* Then branches out to a separate look and feel for the generated reference: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13

[2018-12-26 21:45] jlewi commented on #376
Thanks @sarahmaddox is this fixed by #377?

[2018-12-26 21:46] jlewi commented on #261
There is an RC for 0.4 available now.

[2018-12-26 21:47] jlewi commented on #371
Should we mark this a duplicate of #261 (Upgrade GKE end to guide to use a later version of Kubeflow) and close this issue?

[2018-12-26 21:49] sarahmaddox commented on #371
Sounds good!

[2018-12-26 21:51] jlewi opened #379 "Docs for multi-user Kubeflow"
See:
CUJ: http://bit.ly/kubeflow_cuj_multi_user
Design Doc:http://bit.ly/kf_jupyter_design_doc

In 0.5 we want to support multi-user Kubeflow deployments in which each user is isolated in their own namespace.

This is the tracking issue for adding docs to describe these scenario.

I think we should have a new section in our docs page corresponding to critical user journeys. We can then have a page

[2018-12-26 21:51] sarahmaddox commented on #376
Yes it is. I don't know why the "fixed" annotation on the PR didn't work.
/close

[2018-12-26 21:51] #376 closed

[2018-12-27 01:53] sarahmaddox commented on #371
/close

[2018-12-27 01:53] #371 closed

[2018-12-28 01:51] sarahmaddox opened #381 "Describe a pipeline more fully"
Answer the question, "What is a pipeline" - on the current [definition](https://www.kubeflow.org/docs/guides/pipelines/pipelines-concepts/#pipeline).
Give examples of the components, describe how the components chain together to form a workflow, and explain how pipelines support portability.

[2018-12-28 01:52] sarahmaddox commented on #381
/assign
/area docs
/area pipelines
/priority p0

[2018-12-29 03:33] sarahmaddox opened #383 "Refactor the docs information architecture for clarity and findability"
Initial thoughts:
* Organize the **guides** section to make the important guides easier to find.
* Differentiate more clearly between how-to guides and end-to-end tutorials, so people can more easily find the end-to-end guides/tutorials. One often-used pattern is to add a **tutorials** section to the doc structure.
* Reduce the number of items in the site’s top menu bar.

[2018-12-29 03:33] sarahmaddox commented on #383
/assign
/area docs
/area docs-ux

[2018-12-29 03:36] sarahmaddox commented on #379
+1 to ensuring all critical user journeys are included in the docs, but I'm not sure we should actually use the term "critical user journey" in the docs or group docs as CUJs. The term CUJ is quite specific, probably used only by particular groups of UX researchers. I hadn't heard it until recently, and the word "critical" is overloaded in meaning. Also, it'd be hard to define which guides should

[2018-12-29 03:36] sarahmaddox commented on #379
/area docs

[2018-12-29 03:42] sarahmaddox commented on #355
The Docsy theme doesn't seem to have the same issue. See the Docsy preview of the page that's giving trouble in our current theme:
https://deploy-preview-303--competent-brattain-de2d6d.netlify.com/docs/guides/pipelines/build-pipeline/

[2018-12-29 03:47] sarahmaddox commented on #290
Closing this issue, as we've moved the Kubeflow blog to Medium:
https://medium.com/kubeflow

/close

[2018-12-29 03:47] #290 closed

[2018-12-29 03:51] sarahmaddox commented on #163
I'm closing this issue because we've fixed most of the problem, and issue #355 covers the remaining issue with bullet items.

/close

[2018-12-29 03:51] #163 closed

[2018-12-29 04:03] sarahmaddox opened #384 "Improve the getting-started experience on GKE"
https://www.kubeflow.org/docs/started/getting-started-gke/

Some initial thoughts:

* Reorganize the page so the Kubeflow Deployment UI option is up front. After UI setup, tell users what the Kubeflow URL looks like. Also provide a "what's next" immediately after the UI deployment. Users don't need info about the command-line deployment if deploying via UI, so separate out the bits about the kfctl

[2018-12-29 04:03] sarahmaddox commented on #384
/assign

[2018-12-29 19:40] sarahmaddox opened #385 "Improve the pipelines getting-started experience"
Add a quickstart guide that includes the following:

Describe how to run a basic pipeline - first choose one that doesn’t require enabling extra GCP APIs or specifying your own GCP datastore:

* Deploy Kubeflow.
* Open the Pipelines dashboard from the Kubeflow UI.
* Click the name of the “Basic Parallel Join” sample on the UI; see the graph etc.
* Click Start an experiment.
* Follow the prompts to

[2018-12-29 19:40] sarahmaddox commented on #385
/assign

[2018-12-29 21:37] jlewi commented on #261
Can we update the End to End Guide to refer to the getting started instructions rather than duplicating the instructions for setting up Kubeflow?

[2018-12-30 00:11] sarahmaddox commented on #261
I'll look at doing that when the GKE getting-started guide is in better shape, so that we have a good landing for the link from the e2e guide. Ideally, people doing the end-to-end tutorial should be able to do the setup entirely in the UI, but that's not clear in the getting-started guide at the moment. We need to make sure people don't get confused by instructions that don't apply to them. Fixing

[2019-01-01 21:14] sarahmaddox commented on #261
/assign

I'm working with @DanSanche on this issue.

[2019-01-01 22:23] sarahmaddox opened #388 "Style our screenshots better"
Add a “screenshot” style to improve the way screenshots appear on the page. Example of some screenshots that would be more easily understood with better styling:
https://www.kubeflow.org/docs/started/getting-started-gke/

Some styling suggestions to start with:

* Add a border to separate the screenshot from the text. The border should be reasonably unobtrusive.
* Add a margin at top and bottom of

[2019-01-03 00:30] sarahmaddox commented on #361
Also focus on how data scientists can find this content and get started quickly. This can be part of the information architecture updates - see issue [#383](https://github.com/kubeflow/website/issues/383).

[2019-01-03 00:31] sarahmaddox commented on #383
More areas for consideration in our docs information architecture:

* Figure out how to highlight or collect together the docs that describe use cases (as opposed to tasks). This will make it easier for the community to add use-case-focused guides in that section too.

* As a specific example, focus on how data scientists can find the guide to "build / train / deploy from notebook" (issue [#361](h

[2019-01-03 22:08] sarahmaddox commented on #355
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:08] #355 closed

[2019-01-03 22:09] sarahmaddox commented on #124
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:09] #124 closed

[2019-01-03 22:10] sarahmaddox commented on #264
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:10] #264 closed

[2019-01-03 22:10] sarahmaddox commented on #305
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:10] #305 closed

[2019-01-03 22:11] sarahmaddox commented on #322
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:11] #322 closed

[2019-01-03 22:11] sarahmaddox commented on #291
The Docsy theme is now live on the site, and this issue is fixed.
/close

[2019-01-03 22:11] #291 closed

[2019-01-04 00:01] sarahmaddox opened #393 "Styling: Adjusting timing of colour change in top nav bar on front page"
https://www.kubeflow.org/

When you scroll down the front page of the website, past the dark hero area, the colour of the top navigation bar changes from dark blue to light blue. The lighter blue matches the header in the rest of the docs, and the change of colour helps to highlight the nav bar.

However, the change of colour seems to happen at the wrong time. It should actually happen either as s

[2019-01-04 00:02] sarahmaddox commented on #393
/area docs-ux

[2019-01-04 00:06] sarahmaddox opened #394 "Add more info to the section-header pages"
When you click a section header in the left-hand navigation panel, you see a page showing a list of pages in the section.

Examples:

* https://www.kubeflow.org/docs/guides/components/
* https://www.kubeflow.org/docs/guides/

These section header pages are useful (particularly on mobile) as they mean you can immediately get a view of what's in a section without having to navigate the dropdown menu

[2019-01-04 00:06] sarahmaddox commented on #394
/area docs-ux

[2019-01-07 13:43] jlewi commented on #272
Just need to get #2127 submitted.

[2019-01-07 13:55] jlewi commented on #128
@YujiOshima @gaocegege @johnugeorge Can anyone take a stab at updating the Katib docs?

[2019-01-07 23:29] joeliedtke opened #399 "What permissions are required for a user to setup Kubeflow on GKE?"
Recently, I worked through the process of setting up Kubeflow on GKE from the following page:
[https://www.kubeflow.org/docs/started/getting-started-gke/](https://www.kubeflow.org/docs/started/getting-started-gke/)

What permissions are required for a user to set up Kubeflow on GKE through the UI or the command line? In my case, I had to grant myself **Owner** permissions for the installation proc

[2019-01-07 23:34] joeliedtke commented on #399
@jlewi, Would you please clarify which permissions are required for a user to set up Kubeflow on GKE? Does the user need project **Owner** permissions to install Kubeflow through the UI or command line, or could Kubeflow be installed with a narrower set of permissions in GCP?

[2019-01-08 05:08] jlewi commented on #399
I think you pretty much need to be an OWNER.

If you install on GCP we create IAM service accounts, ingress resources, cloud endpoints and enable required services on the project.

[2019-01-08 05:09] jlewi opened #402 "Docsy theme contrast for inlined code is too low"
With the new docsy theme inlined code i.e text in back quotes renders as white text on a grey background.

The contrast ends up being very low and its hard to read.

[2019-01-08 16:34] johnugeorge commented on #128
I will add them

[2019-01-09 03:18] sarahmaddox commented on #385
Still to do: Refactor the pipelines overview page (see issue [#381](https://github.com/kubeflow/website/issues/381)) and add a link from the overview page to the quickstart guide.

[2019-01-11 02:31] sarahmaddox commented on #388
/close

[2019-01-11 02:31] #388 closed

[2019-01-11 02:35] sarahmaddox opened #409 "Kubeflow logo should appear on mobile too"
The Kubeflow logo currently does not appear on mobile devices - we show just the name "Kubeflow". It'd be nice to get the logo working on mobile too.

See this file:
https://github.com/kubeflow/website/blob/master/assets/scss/_nav.scss#L45

[2019-01-11 02:36] sarahmaddox commented on #409
/area docs-ux

[2019-01-11 05:44] sarahmaddox commented on #409
Just a note that we have some volunteers working on this fix. I'm assigning the issue to myself, so people know it's being worked on.
/assign

[2019-01-11 05:44] sarahmaddox commented on #402
Just a note that we have some volunteers working on this fix. I'm assigning the issue to myself, so people know it's being worked on.
/assign

[2019-01-11 05:44] sarahmaddox commented on #393
Just a note that we have some volunteers working on this fix. I'm assigning the issue to myself, so people know it's being worked on.
/assign

[2019-01-11 05:49] sarahmaddox commented on #399
Thanks @joeliedtke and @jlewi

It'd be good to add this requirement to the [prerequisites](https://www.kubeflow.org/docs/started/getting-started-gke/#prerequisites) section of the GKE getting-started guide.

Also, in the section on [using the UI](https://www.kubeflow.org/docs/started/getting-started-gke/#deploy-kubeflow-on-gke-using-the-ui) we talk about "administrator privileges" - it'd be good t

[2019-01-14 00:15] jlewi commented on #32
@aronchick @wbuchwalter @ritazh @sozercan anyone interested in picking this up?

Related to this it would be great to get our mnist example updated to work with Azure. I think this is just a matter of updating the templates in the example to support adding the appropriate environment variables and PVCs necessary to work with data on Azure.

[2019-01-14 07:18] ritazh commented on #32
Hi @jlewi, sorry for the delay on this. I plan to look at this once I'm done with few other priorities first.

[2019-01-14 15:57] dsdinter opened #412 "Pytorch documentation for 0.4.0 should add a note about changing API version to beta"
Same way there is a note about when 1alpha2 was introduced:
"An alpha version of PyTorch support was introduced with Kubeflow 0.2.0. You must be using a version of Kubeflow newer than 0.2.0."

A similar note should be added for reference in master and future 0.4.0:
"A beta version of PyTorch support was introduced with Kubeflow 0.4.0. You must be using a version of Kubeflow newer than 0.4.0. to us

[2019-01-14 16:12] dsdinter commented on #412
/assign @dsdinter

[2019-01-14 16:35] dsdinter commented on #412
[PR](https://github.com/kubeflow/website/pull/413) associated.

[2019-01-15 03:40] pdmack opened #415 "ksonnet rationale"
@jlewi provided some very useful elaboration of the utility of ksonnet for the project here:
https://groups.google.com/d/msg/kubeflow-discuss/aEqGFLnjZCU/j1QSI82FGQAJ

The debates can continue but might be worth augmenting https://www.kubeflow.org/docs/guides/components/ksonnet/#why-kubeflow-uses-ksonnet with those details.

[2019-01-15 06:18] soolaugust opened #416 "Duplicated section of "Using the Samples" and "Using the command line""
The content in [Using the Samples](https://www.kubeflow.org/docs/guides/pipelines/pipelines-samples/#using-the-samples) is duplicated with [Using the command line
](https://www.kubeflow.org/docs/guides/pipelines/build-pipeline/#using-the-command-line). I think maybe we should refer to only one .

[2019-01-15 18:17] andreyvelich commented on #128
Will take it.
/assign

[2019-01-15 20:54] sarahmaddox commented on #415
/good-first-issue

[2019-01-15 20:55] sarahmaddox commented on #412
/close

[2019-01-15 20:55] #412 closed

[2019-01-16 01:52] swiftdiaries opened #418 "Getting started for onprem"
Add docs for getting started onprem.
Documentation should address Setup Kubernetes and Kubeflow quick start.

[2019-01-16 04:44] #409 closed

[2019-01-16 17:35] CraigSterrett commented on #317
I could take on updating the docs, I ran into this over the weekend on a test cluster that had no default storage class.  Looks like there are 3 PVC's that need to be satisfied.  Not sure where to put it in the doc though, add a brief mention under Requirements, be more verbose and add a section before Download, setup and deploy, or just add a section in Troubleshooting for why the PODs get stuck

[2019-01-17 00:38] kunmingg opened #420 "kfctl.sh: explain how to reuse deploy name"
In current version of kfctl.sh, we don't provide way to delete deployment. Most user will just delete from deployment manager and redeploy.
That unfortunately didn't work because IAM bindings from old deployment still holding the position.

We need to add instruction:

If kfctl.sh user want to reuse deploy name, they should clear IAM bindings related to old deployment manually.

[2019-01-17 02:17] sarahmaddox commented on #420
Include info on **how** to clear the IAM bindings.

Add the info to this doc:
https://www.kubeflow.org/docs/guides/gke/troubleshooting-gke/#troubleshooting-cloud-iap

[2019-01-17 04:41] sarahmaddox opened #421 "Explain how to how to disable IAP in the command-line setup"
You don't need IAP when testing in your own cluster.

Add info on how to disable IAP in the command-line setup:
https://www.kubeflow.org/docs/guides/gke/customizing-gke/

For v0.4.1, one way is before `apply`, do:
`ks param set jupyter jupyterHubAuthenticator null`

To remove jupyter auth dependency on IAM

[2019-01-17 18:55] SinaChavoshi opened #422 "Using Cloud Filestore - Instruction assumes ${KFAPP} is complete path"
The instruction seems to assume ${KFAPP} is fully qualified path, however following the instructions on kubeflow setup this ENV variable must be set to app name.

if user is copying the instructions and running them in order as is they will not work.

[2019-01-17 19:52] amygdala commented on #421
This would also be useful for workshop contexts (or any time-constrained contexts), where we want to skip IAP but also can't use the launcher UI due to some customization.

[2019-01-17 21:47] SinaChavoshi opened #424 "Using Cloud Filestore - kfctl.sh apply locks the screen and crashes after 10-15 min"
I manually created a file store, then following the instructions on "Configure Kubeflow to mount the Cloud Filestore volume" . When running

${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s

screen hangs for 5-10 min then crashes with
+ echo environment default already exists
environment default already exists
+ ks apply default -c ambassador
/home/chavoshi/kubeflow_src/scripts/kfctl.sh: line 213:  1284

[2019-01-17 22:30] rileyjbauer opened #425 "Deploy Kubeflow on GKE using the command line"
After instructing users to download the `kfctl.sh` file via curl, the instructions say:
  "Note: You can also just clone the Kubeflow repository using git."
so I tried cloning rather than curling, however, the step `${KUBEFLOW_SRC}/scripts/kfctl.sh generate platform` then failed with `../scripts/kfctl.sh: line 382: env.sh: No such file or directory`

It does not seem that there is a file named `en

[2019-01-17 22:52] rileyjbauer commented on #425
Ah, it seems possible that this issue was caused by using `kubeflow` as the `KFAPP` name. When I used a different name, the `env.sh` showed up as expected.

[2019-01-17 22:52] #425 closed

[2019-01-18 02:19] soolaugust commented on #416
By deep checking,  the whole content of [Pipeline Samples and Notebooks](https://www.kubeflow.org/docs/guides/pipelines/pipelines-samples) is duplicated with [Build a Pipeline](https://www.kubeflow.org/docs/guides/pipelines/build-pipeline/). Is this on purpose or not?

[2019-01-18 19:35] sarahmaddox commented on #383
/close

[2019-01-18 19:35] #383 closed

[2019-01-18 19:35] sarahmaddox commented on #394
/close

[2019-01-18 19:35] #394 closed

[2019-01-20 00:10] Arhell opened #428 "current year"
Hello
On footer --> Copyright © **2018** old date

[2019-01-20 05:15] soolaugust commented on #416
/good-first-issue

[2019-01-20 19:56] #128 closed

[2019-01-21 21:19] sarahmaddox commented on #345
There's a REST API that you can use to, for example, create a new pipeline. Here is the swagger definition for the API:
https://github.com/kubeflow/pipelines/tree/master/backend/api/swagger

The Python SDK supports submitting pipeline runs programmatically:
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py

[2019-01-21 21:19] sarahmaddox commented on #366
There's a REST API that you can use to, for example, create a new pipeline. Here is the swagger definition for the API:
https://github.com/kubeflow/pipelines/tree/master/backend/api/swagger

The Python SDK supports submitting pipeline runs programmatically:
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py

[2019-01-21 21:22] sarahmaddox commented on #424
This issue was moved to kubeflow/kubeflow#2309

[2019-01-22 02:24] jlewi opened #430 "Docs need to be updated to point at 0.4.1 by default"
0.4.1 is now available.

We should update the docs to make 0.4.1 the default.

[2019-01-22 17:30] amygdala opened #432 "for GKE launcher, add more detail on non-IAP process"
in this section of the docs: https://www.kubeflow.org/docs/started/getting-started-gke/#deploy-kubeflow-on-gke-using-the-ui
consider describing how to connect via either setup path (either use IAP, or don't use IAP)

For the non-IAP path, the instructions could look something like what's in step 3 of this codelab:
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/#2
(cli

[2019-01-23 17:44] CraigSterrett commented on #317
/close

[2019-01-23 22:17] elyase opened #434 "Getting Started with Kubeflow page missing instructions for v0.4"
![image](https://user-images.githubusercontent.com/1175888/51640895-11a9a800-1f65-11e9-891b-c90820221eb7.png)

[2019-01-23 22:59] CraigSterrett commented on #434
/assign

[2019-01-23 23:00] CraigSterrett commented on #434
/assign @sarahmaddox

[2019-01-24 00:58] mk-nickyang commented on #393
@sarahmaddox This issue should be fixed if we upgrade the docsy version

[2019-01-24 00:58] mk-nickyang commented on #402
@sarahmaddox This issue should be fixed if we upgrade the docsy version

[2019-01-24 02:16] sarahmaddox commented on #430
/assign @abhi-g

Before we can re-point the docs, we need the 0.4 archive of the docs, as described in our procedures here:
https://github.com/kubeflow/website/blob/master/README.md#versioning-of-the-docs

[2019-01-24 02:31] sarahmaddox opened #436 "Create the 0.4 archive of the docs"
We need to create the 0.4 archive of the docs, as described in our procedures here:
https://github.com/kubeflow/website/blob/master/README.md#versioning-of-the-docs

When we have the archive, we must add it to the version picker on the right of the top menu bar.

[2019-01-24 02:33] sarahmaddox commented on #436
/assign @abhi-g
/area docs
/priority p1

[2019-01-24 02:41] sarahmaddox opened #437 "Get latest version of Docsy theme"
Get latest version of Docsy theme to fix the following issues:

* https://github.com/kubeflow/website/issues/402 (fixed by https://github.com/google/docsy/pull/15)

* https://github.com/kubeflow/website/issues/393 (fixed by https://github.com/google/docsy/pull/14)

[2019-01-24 02:42] sarahmaddox commented on #437
/assign
/area-docs
/area-docs-ux

[2019-01-24 02:42] sarahmaddox commented on #437
/area docs
/area docs-ux

[2019-01-24 02:44] sarahmaddox commented on #402
Thanks @mk-nickyang!

[2019-01-24 02:44] sarahmaddox commented on #393
Thanks @mk-nickyang!

[2019-01-24 04:38] sarahmaddox opened #438 "Formatting of bullet points is incorrect in Katib page"
https://www.kubeflow.org/docs/components/hyperparameter/#example-using-random-algorithm

I also promised to do a tech writer review of the page after @andreyvelich submitted his excellent PR https://github.com/kubeflow/website/pull/427

/assign

[2019-01-24 20:37] #438 closed

[2019-01-24 20:43] sarahmaddox commented on #434
/close

Thanks @CraigSterrett!

[2019-01-24 20:43] #434 closed

[2019-01-24 20:43] sarahmaddox commented on #430
/close

Thanks @CraigSterrett!

[2019-01-24 20:43] #430 closed

[2019-01-24 20:44] #416 closed

[2019-01-25 12:27] mateusz-ciesielski opened #443 "TensorFlow Training (TFJob) - exitCode behaviour"
Description of ExitCode restartPolicy should be updated to reflect changes made in the following PR: github.com/kubeflow/tf-operator/pull/518

Current description is misleading: only specific exit codes are identified as retryable, not the whole 128-255 range.

[2019-01-25 17:50] sarahmaddox commented on #437
/close

[2019-01-25 17:50] #437 closed

[2019-01-25 17:50] sarahmaddox commented on #402
/close

[2019-01-25 17:50] #402 closed

[2019-01-25 17:51] sarahmaddox commented on #393
/close

[2019-01-25 17:51] #393 closed

[2019-01-25 19:30] abhi-g opened #444 "Add a section on how to terminate a GKE Kubeflow Deployment"
We need to add some instructions on how to delete/terminate a GKE Kubeflow cluster, so that someone who was experiment is able to cleanly terminate all resources associated with the deployment.

[2019-01-25 19:37] sarahmaddox commented on #443
This is the page that needs updating:
https://github.com/kubeflow/website/blob/master/content/docs/components/tftraining.md

/good-first-issue

[2019-01-25 19:39] sarahmaddox commented on #421
Related: https://github.com/kubeflow/website/issues/432

[2019-01-25 19:41] sarahmaddox commented on #422
This is the page:
https://github.com/kubeflow/website/blob/master/content/docs/gke/cloud-filestore.md

[2019-01-25 19:42] sarahmaddox commented on #444
Related: https://github.com/kubeflow/website/issues/420

[2019-01-25 19:43] sarahmaddox commented on #385
/close

[2019-01-25 19:43] #385 closed

[2019-01-25 23:54] #444 closed

[2019-01-26 03:16] sarahmaddox commented on #384
/close

[2019-01-26 03:16] #384 closed

[2019-01-26 03:16] sarahmaddox commented on #381
/close

[2019-01-26 03:16] #381 closed

[2019-01-26 03:18] sarahmaddox commented on #333
Hallo @gyliu513 and @jinchihe Have you made any progress on this guide yet? I'm happy to review any PRs!

[2019-01-26 18:08] sarahmaddox opened #446 "Change name of our logo SVG files at content root to avoid Docsy error"
In a recent update, the Docsy theme allows for a logo to be included in the cover block. To enable this change, Docsy now gives special treatment to any image files at the root of the `content` directory that have the string "logo" in their names.

We have two SVG files: `logo-jupyter.svg` and `logo-tensorflow.svg`. To compound matters, these are SVG files which cause an error because Docsy attemp

[2019-01-26 18:08] sarahmaddox commented on #446
/assign

[2019-01-26 22:06] #446 closed

[2019-01-27 04:32] sarahmaddox opened #448 "Create a place for the community to link external resources"
Create a place in our docs where the community can link to bog posts, workshops, codelabs, videos, and other resources that are hosted outside the Kubeflow repositories and docs.

[2019-01-27 04:32] sarahmaddox commented on #448
/assign

[2019-01-27 10:32] gyliu513 commented on #333
Thanks @sarahmaddox We are working on the draft and will try to create PR when ready.

[2019-01-28 15:46] jlewi opened #450 "FAQ: Does Kubeflow Support Helm"
We should start an FAQ for Kubeflow.

One of the questions we get most often is do we support helm.

The answer to this should be something along the lines of:

You don't need to use ksonnet to use TFServing, TFJob, etc... You can define those resources using whatever K8s tooling you want; raw YAML, helm, kustomize, ksonnet.

We provide ksonnet mostly as convenient syntax sugar. The arena CLI migh

[2019-01-28 15:46] jlewi commented on #450
@sarahmaddox Any idea where we should put an FAQ?

[2019-01-28 20:58] sarahmaddox commented on #450
I think we should put it under "Other Guides":
https://www.kubeflow.org/docs/other-guides/

and change the description and title of the index file so they don't restrict the section to guides/instructions only:
https://github.com/kubeflow/website/blob/master/content/docs/other-guides/_index.md

[2019-01-29 01:59] carmine commented on #32
@ritazh - can we assign this to you for now? 👍

[2019-01-29 16:20] ritazh commented on #32
@carmine sure!

[2019-01-30 21:57] sarahmaddox commented on #448
/close

[2019-01-30 21:57] #448 closed

[2019-01-30 21:59] sarahmaddox commented on #339
I'm going to close this issue as it hasn't raised much discussion. Also, our notebooks development streams will help to address the needs of data scientists.

[2019-01-30 21:59] sarahmaddox commented on #339
/assign
/close

[2019-01-30 21:59] #339 closed

[2019-02-01 02:24] jbottum opened #455 "Kubeflow Day LA - March 7, 2019 in Pasadena"
The Kubeflow Community is sponsoring a Kubeflow Day LA on March 7, 2019 in Pasadena with sessions planned by Google, Microsoft, Cisco, Redhat, Canonical, MavenCodes, Arrikto, and local ML specialists.    This url provides the current info on the event.    could we please add it to the list of Kubeflow events.   Thanks.   Josh

https://www.socallinuxexpo.org/scale/17x/kubeflow-day-la

[2019-02-01 03:15] sarahmaddox commented on #261
Starting the doc upgrade now.

[2019-02-03 16:33] amygdala opened #459 "remove obsolete deployment info from ksonnet page"
On the ksonnet page, https://www.kubeflow.org/docs/components/ksonnet/ , the instructions to deploy via:
`curl https://raw.githubusercontent.com/kubeflow/kubeflow/v${KUBEFLOW_VERSION}/scripts/deploy.sh | bash`
are obsolete.  Probably we should just remove that section and direct them to the 'getting started' pages instead.

[2019-02-04 18:50] amygdala opened #462 "tf-job yaml spec appears to be incorrect"
I believe that this example:
https://github.com/kubeflow/website/blob/master/content/docs/components/tftraining.md#what-is-tfjob
is incorrect in 2 respects:
 - it needs a 'Master' or 'Chief' spec added
 - the status stuff at the end should be removed, as this is meant to be an example of the yaml file that is submitted to create the job.

[2019-02-04 18:56] amygdala commented on #462
More detail: As is (but removing the 'status' stuff), I get this error:
[code]
I fixed it by adding a 'Master' spec, like so:
https://github.com/amygdala/code-snippets/blob/master/ml/kubeflow-pipelines/components/kubeflow/launcher/train.template.yaml
(**Note**: we don't want to swap in this example as is, since it also includes mounting the user-gcp-sa secret, which is GKE specific. But it gives t

[2019-02-05 16:47] sarahmaddox commented on #455
/assign @theadactyl

[2019-02-05 16:48] sarahmaddox commented on #454
/assign @theadactyl

[2019-02-06 18:52] sarahmaddox commented on #261
/close

[2019-02-06 18:52] #261 closed

[2019-02-07 15:22] gprashanthkumar opened #466 "Microk8s for Kubeflow installation Scripts fails"
Steps:
In Install Kubeflow using Microk8s section on page [here](https://www.kubeflow.org/docs/started/getting-started-multipass/)

throws error : unable to resolve host address ‘github-production-release-asset-2e65be.s3.amazonaws.com

$kubeflow-tools/install-kubeflow.sh
--2019-02-07 20:46:12--  https://github.com/ksonnet/ksonnet/releases/download/v0.13.1/ks_0.13.1_linux_amd64.tar.gz
Resolving git

[2019-02-07 21:22] sarahmaddox opened #469 "Add a style guide for the Kubeflow docs"
A style guide will help people contribute good documentation. Some things the style guide should contain:

* Target audience
* Doc types
* Where to put your content, and whether to create a new doc or add it to an existing doc
* Link to an English language style guide
* ...

[2019-02-07 21:23] sarahmaddox commented on #469
/cc @theadactyl FYI

[2019-02-08 05:41] gprashanthkumar commented on #466
Ok, I got it to  working  by running the script from inside the folder as defined in ReadMe.md

cd kubeflow-tools
./install-kubeflow.sh

[2019-02-08 05:41] #466 closed

[2019-02-08 23:16] ritazh commented on #32
@carmine signed. sorry for the delay.

[2019-02-09 18:47] jbottum opened #470 "kubeflow day la"

[2019-02-09 18:48] #470 closed

[2019-02-09 18:49] jbottum commented on #455
how is this coming along? will it be posted on the events page ?

[2019-02-09 23:43] sarahmaddox commented on #335
/assign

[2019-02-09 23:50] sarahmaddox commented on #335
The Docsy theme includes the option to add a site search:
https://testydocsy.netlify.com/docs/getting-started/#configure-search

The search uses Google Custom Search Engine:
https://cse.google.com/cse/

This means we'll have ads appearing in the search box. I chatted to one of the Kubeflow product managers within Google. We both think it's important to have a search on the site, even with the ads.

[2019-02-11 02:26] sarahmaddox commented on #462
/assign @amygdala

[2019-02-11 02:28] sarahmaddox commented on #436
/close

Thanks @abhi-g !

[2019-02-11 02:28] #436 closed

[2019-02-11 02:29] sarahmaddox commented on #459
/assign

[2019-02-11 13:29] sarahmaddox commented on #324
/assign

[2019-02-11 13:29] sarahmaddox commented on #324
The min ksonnet version is now set to 0.13.1.

/close

[2019-02-11 13:29] #324 closed

[2019-02-11 16:28] sarahmaddox commented on #98
/unassign @ewilderj
/unassign @abhi-g
/assign

[2019-02-11 16:29] sarahmaddox commented on #98
https://support.google.com/webmasters/answer/9128669?hl=en

[2019-02-11 17:12] sarahmaddox commented on #98
https://developers.google.com/search/docs/guides/

[2019-02-11 17:14] sarahmaddox commented on #98
Most fitting Schema.org category seems to be: WebSite
https://schema.org/WebSite

[2019-02-11 17:20] sarahmaddox commented on #98
https://developers.google.com/search/docs/guides/intro-structured-data

[2019-02-11 18:06] sarahmaddox commented on #98
I'm going to try building our site with the env variable set to production, to index the site. Evidently we've never done that. Could help our SEO as well as fix the search box.

[2019-02-11 19:34] alecglassford opened #474 "Broken link"
The URL in `layouts/shortcodes/kubernetes-min-version.html`(https://kubernetes.io/docs/imported/release/notes/) is broken.

Some alternatives:
* https://kubernetes.io/docs/setup/release/notes/ (release notes for latest version, which may not always match the min version supported for Kubeflow - e.g. right now it's 1.13 vs. 1.8)
* https://kubernetes.io/docs/setup/ (Kubernetes setup guide)
* https:/

[2019-02-11 22:16] #459 closed

[2019-02-12 14:21] sarahmaddox opened #477 "Remove custom sidebar partial when Docsy offers option to disable search box in left nav"
When Docsy offers the option to disable the search box in the left nav (see issue https://github.com/google/docsy/issues/29) then we should remove our custom sidebar partial at `layouts/partials/sidebar-tree.html`. (First check that we haven't added extra customizations since the original PR https://github.com/kubeflow/website/pull/471.)

[2019-02-13 04:42] carmine commented on #32
@ritazh - Thx

[2019-02-13 14:42] syvlabs opened #479 "URL still links to pantheon"
### Problem

In the [Kubernetes Engine for Kubeflow](https://www.kubeflow.org/docs/started/getting-started-gke/#deleting-your-kubeflow-deployment) page, the cloud console link still links to this internal [pantheon url](https://pantheon.corp.google.com/dm/deployments).

### Solution

I think it was meant to link to [this GCP url](https://console.cloud.google.com/dm/deployments) instead.

[2019-02-13 17:07] sarahmaddox opened #480 "Merge the guide to the pipelines UI with the concepts docs"
The guide to the pipelines UI contains some useful conceptual information, but isn't super useful as a guide to the UI. Instead of having a guide for the UI, the UI itself should be self explanatory.

We have the new quickstart, which fulfills the function of explaining the initial UI to new users:
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

Proposal:
Remove the guide to the UI.

[2019-02-13 17:11] sarahmaddox commented on #479
/assign

Thank you for reporting this issue!

[2019-02-13 17:33] sarahmaddox commented on #98
We should target specific words on the relevant docs. Examples:

tutorial
install/installation/deploy/deployment

[2019-02-13 19:02] #479 closed

[2019-02-13 20:50] sarahmaddox commented on #98
Our SEO is already better, 2 days after setting the Hugo environment to "production". Here are some "before" and "after" screenshots, all taken from an incognito window.

Search for "kubeflow" **before** - the website does not appear:
![screenshot-search-kubeflow-2019-02-12 04-59-36](https://user-images.githubusercontent.com/6138251/52742753-508fb400-2f8d-11e9-9dc3-ff6c5e66494d.png)

Search for "k

[2019-02-13 20:52] abhi-g commented on #98
Awesome job. Thank you Sarah!

Abhishek

On Wed, Feb 13, 2019 at 12:50 PM Sarah Maddox <notifications@github.com>
wrote:

[2019-02-13 21:56] #98 closed

[2019-02-13 21:56] avdaredevil opened #482 "Make all external links on the Docs website open in a new tab"
## Existing Behavior
Most external links already have `target="_blank"` on the anchor tags. For the iframe approach being used to render the docs portal within the landing page, it would be ideal to have all external links present this behavior

## Concern
Some pages, when opened, like Github or Medium, block rendering inside a frame. This causes a broken behavior on the page like:

![image](https

[2019-02-13 23:59] sarahmaddox commented on #335
/close

[2019-02-13 23:59] #335 closed

[2019-02-14 00:47] pdmack commented on #98
Great work Sarah!

[2019-02-14 00:48] sarahmaddox commented on #98
Thanks folks :)

[2019-02-14 00:49] sarahmaddox commented on #474
/good-first-issue

[2019-02-14 13:30] jlewi commented on #32
@ritazh You need to join the kubeflow org before we can assign issues to you.
More info here:
https://www.kubeflow.org/docs/about/contributing/#joining-the-kubeflow-github-org

[2019-02-16 00:20] sachin-ac opened #487 "Microk8s for Kubeflow"
When following the quick start, I am having issues with the following step
**kubeflow-tools/install-kubeflow.sh**

Seeing below error:

INFO Applying customresourcedefinitions applications.app.k8s.io
INFO Creating non-existent customresourcedefinitions applications.app.k8s.io
ERROR handle object: patching object from cluster: merging object with existing state: unable to recognize "/tmp/ksonnet-me

[2019-02-19 19:17] amygdala opened #489 "for troubleshooting: document how a backend services quota issue manifests"
Creating this so I don't forget, can add more detail later. Could be added to some troubleshooting section.
See this issue for context: https://github.com/kubeflow/kubeflow/issues/2310

Essentially, if the user does a GKE deploy and is seeing the envoy pods crash-looping, and needs to use IAP (the error is ignorable in the non-IAP case), the root cause may be that they have exceeded their backend

[2019-02-20 21:49] sarahmaddox commented on #340
Started work on this.

[2019-02-21 02:43] jlewi opened #491 "Provide links to download ksonnet binaries"
It looks like as part of ksonnet archival they are no longer showing links to the binaries either on the website or on the github releases page.

(I've reached out to ask about this).

In the meantime it looks like the data is still there.
https://github.com/ksonnet/ksonnet/releases/download/v0.13.1/ks_0.13.1_linux_amd64.tar.gz

We should probably add explicit links on our docs to where people can

[2019-02-21 03:01] jlewi commented on #491
It actually looks like the project hasn't been archived in GitHub yet. It looks like there might be a rendering issue. If you scroll down there are links later on the page after all the other releases.

Here are all the releases

https://github.com/ksonnet/ksonnet/releases/download/v0.13.1/ks_0.13.1_darwin_amd64.tar.gz
https://github.com/ksonnet/ksonnet/releases/download/v0.13.1/ks_0.13.1_linux_am

[2019-02-21 03:30] jinchihe commented on #340
@sarahmaddox @jlewi That's good to create a Pipeline for GKE end-to-end, but I believe some of users would like a example for on-prem cluster.  What do you think? I have implemented one mnist pipeline basic on [mnist example](https://github.com/kubeflow/examples/tree/master/mnist),  I can create a PR to commit that after kubeflow/examples#492 merged.

[2019-02-21 03:35] sarahmaddox commented on #340
@jinchihe That sounds great! When you're ready, I'll be happy to review your PR. :)

[2019-02-21 03:41] sarahmaddox commented on #491
/assign @jlewi

[2019-02-21 03:43] sarahmaddox opened #492 "Figure out a better way of telling people how to set up Python for compiling pipelines"
We need to re-use these steps in more than one page:
http://localhost:1313/docs/pipelines/build-pipeline/#set-up-python

Figure out how.
Especially after creating the end-to-end Pipelines tutorial which will have the same stuff.

[2019-02-21 03:44] sarahmaddox opened #493 "Clarify pipelines command-line instructions"
https://kubeflow.org/docs/pipelines/build-pipeline/#install-the-kubeflow-pipelines-sdk

What does this even mean?
"Instead of using a notebook, you can choose to set up things yourself using the command line. But currently you can’t use the Python SDK to submit pipelines to a cluster, and you can’t build container images using the SDK. The DSL compiler works as usual."

[2019-02-21 03:50] sarahmaddox opened #494 "Fix confusing use of passive voice in pipelines guide"
https://kubeflow.org/docs/pipelines/build-pipeline/#install-the-kubeflow-pipelines-sdk

It says:

"After successful installation the command dsl-compile should be added to your PATH."

Does the above mean I must add the thing to my path or that it's automatically added? I have no idea.

Find out what it actually means then fix the doc.

[2019-02-21 04:09] DanSanche commented on #340
@jinchihe  Please ping me before you merge the PR. It sounds like we may have made very similar examples, we may need to figure out how to integrate them

[2019-02-21 08:42] jinchihe commented on #340
@DanSanche OK, got that. Thanks.

[2019-02-23 23:04] sarahmaddox commented on #480
/assign

[2019-02-24 00:25] sarahmaddox commented on #462
Friendly ping @amygdala How are you doing with this update?

[2019-02-24 00:27] sarahmaddox commented on #491
/assign

[2019-02-24 00:27] sarahmaddox commented on #491
/unassign @jlewi

[2019-02-24 01:05] sarahmaddox commented on #415
I'm going to close this issue as obsolete, given the pending [archiving of ksonnet](https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware/) by
HeptIO/VMWare.

[2019-02-24 01:05] sarahmaddox commented on #415
/assign

[2019-02-24 01:05] sarahmaddox commented on #415
/close

[2019-02-24 01:05] #415 closed

[2019-02-24 01:15] sarahmaddox commented on #489
Thanks @amygdala What does the user need to do to fix the problem? If you summarise the fix here, I'll add this to the troubleshooting guide.

[2019-02-24 01:19] sarahmaddox commented on #487
This issue was moved to kubeflow/kubeflow#2545

[2019-02-24 01:19] sarahmaddox commented on #487
/close

[2019-02-24 01:19] #487 closed

[2019-02-24 02:29] sarahmaddox commented on #482
On iframing the docs into the Kubeflow UI, please see issue https://github.com/kubeflow/kubeflow/issues/2546

[2019-02-24 02:41] sarahmaddox commented on #482
Investigation shows that all links within the doc pages do already open in a new tab. This is configured by the following setting in our `config.toml` file:

[code]

After spending some time investigating this issue report, the only links that I can find that do not follow this rule are the following links in the top nav and footer:

* Footer: Privacy Policy
* Top nav: Blog, GitHub

[2019-02-24 08:09] #482 closed

[2019-02-25 09:46] qiujian16 opened #501 "Running tfcnn example does not work"
The link is here https://github.com/kubeflow/website/blob/master/content/docs/components/tftraining.md#running-the-tfcnn-example.

It mentions to run
[code]

however it does not work since the API of tfjob has switched from v1alpha2 to v1beta1. So it should be updated to
[code]

Also should ask user to run
[code]
at the beginning of the example, otherwise it will fail to run other `ks` commands.

[2019-02-25 10:21] irabinovitch commented on #455
@theadactyl Anything we can help with to get this online ahead of the event?

[2019-02-26 01:00] sarahmaddox commented on #501
Thanks @qiujian16 Yes, please do submit a PR and assign it to me for review.

[2019-02-26 04:46] #491 closed

[2019-02-26 05:46] #501 closed

[2019-02-26 18:16] #480 closed

[2019-02-27 15:19] jinchihe commented on #340
The PR is just created. Thanks. https://github.com/kubeflow/examples/pull/519

[2019-02-27 21:52] sarahmaddox opened #504 "Document the upgrade/reinstall feature of Kubeflow Pipelines"
An upcoming release of Kubeflow Pipelines will persist the pipeline data, so that you can upgrade your Kubeflow Pipelines deployment to a later version, without deleting and recreating the cluster. You'll also be able to delete a cluster and create a new cluster specifying the storage to retrieve the original data in the new cluster.

[2019-02-27 21:52] sarahmaddox commented on #504
/assign

[2019-02-28 00:02] sarahmaddox opened #505 "Update the docs for the new Kubeflow UI"
The main effort as far as docs are concerned will be to re-do the screenshots.
Also check the surrounding wording about UI text and behavior.

See design doc: https://bit.ly/kf-landing-page-cuj

[2019-02-28 00:56] amygdala commented on #462
I'm sorry, I'm having trouble digging out of N*xt work.  I will try to come back to this on the weekend. One issue: as mentioned above, I'm confused as to how the existing example in the docs worked for the person who provided it, so I'm wondering if there's something I'm missing. It would be good to find the original author -- do you have any idea who that might be?

[2019-02-28 01:09] sarahmaddox commented on #462
I don't know who the original author is. Perhaps @jlewi knows?

[2019-02-28 01:10] amygdala commented on #489
This is of course GKE-specifc.  They'll need to change their 'backend services' quota under the Compute Engine API.
They can search for it...
![screenshot 2019-02-27 17 00 28](https://user-images.githubusercontent.com/115093/53534012-f543e280-3ab1-11e9-99d6-733bed26bde9.png)

then select it and apply for a quota bump using the 'edit quotas' button.
![screenshot 2019-02-27 17 01 10](https://user-im

[2019-02-28 01:36] sarahmaddox opened #506 "Refactor the guides to building a pipeline and a component"
Refactor the guides to building a pipeline and a component
https://www.kubeflow.org/docs/pipelines/build-pipeline/
https://www.kubeflow.org/docs/pipelines/build-component/

* Flesh out and refresh the sections on authoring a pipeline. Some of the info on these pages is out of date.
* Clarify and restructure. First describe what it is to author a pipeline - high-level workflow definition; concepts

[2019-02-28 02:03] sarahmaddox opened #507 "Kubeflow website SEO - fix and submit our sitemap to Google Search Console"
We now have a sitemap:
https://www.kubeflow.org/sitemap.xml

Submit the sitemap to Google Search Console, for improved SEO.

[2019-02-28 02:04] sarahmaddox commented on #507
/assign

[2019-02-28 02:06] sarahmaddox commented on #507
Sitemap submitted, but Google Search Console does not recognise the format of the URLs. Error given:

[code]

[2019-02-28 02:28] sarahmaddox commented on #507
I added the sitemap in PR https://github.com/kubeflow/website/pull/473
* Adds a `sitemap.xml` because Hugo hasn't created one for us, as described here:
  https://gohugo.io/templates/sitemap-template/

[2019-02-28 02:41] sarahmaddox commented on #507
Some potential help, but it's complicated:

* https://discourse.gohugo.io/t/google-search-console-reports-sitemap-xml-as-invalid/10474/13
* https://github.com/indigotree/atlas/issues/38
* https://github.com/gohugoio/hugo/issues/4383
* https://gohugo.io/content-management/urls/

* I'm going to try this one first: Add the URL to the loc tag (https://github.com/netlify-templates/victor-hugo/issues/14

[2019-02-28 04:00] sarahmaddox commented on #17
/assign

[2019-02-28 11:22] gidutz opened #510 "Multi-user Juptterhub"
When deploying Kubeflow on GKE, each user is authenticated using IAP.
When other Users would like to access the JupyterHub cluster (in order to work on the same notebooks) they get forbidden warning.

The same issue can be applied on other deployments. the user that created the cluster should be given Admin privilege and should be an easy way to add and remove users from the cluster

![screen shot

[2019-02-28 11:23] #510 closed

[2019-02-28 22:32] sarahmaddox commented on #507
Google Search Console is now happy with our sitemap
https://www.kubeflow.org/sitemap.xml

[2019-02-28 22:33] sarahmaddox commented on #507
/close

[2019-02-28 22:33] #507 closed

[2019-03-03 20:40] sarahmaddox commented on #366
Useful discussion happening over here: https://github.com/kubeflow/tf-operator/issues/731

[2019-03-04 17:31] amygdala opened #515 "building lightweight components: doc how to use py3 vs py2?"
Are the functions that the user builds for this process:
https://www.kubeflow.org/docs/pipelines/lightweight-python-components/
required to be py3 (including imports)?  I believe that is so, in which case we should probably indicate that.
E.g. that precludes import of many of the TFX libs IIRC.

[2019-03-05 14:38] amygdala commented on #515
Update: It looks like support for py2 was added last week (https://github.com/kubeflow/pipelines/pull/730).
Looks like it does require building with a separate image (as shown in this notebook: https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/KubeFlow%20Pipeline%20Using%20TFX%20OSS%20Components.ipynb) ... is that something it makes sense to mention on this page?)

[2019-03-05 19:30] hongye-sun opened #518 "Pipeline DSL and SDK documentations"
We need to build or generate SDK documentation from current python code. The documentation should cover:
* The public surface of DSL SDK [code](https://github.com/kubeflow/pipelines/tree/master/sdk/python/kfp)
* The public surface of pipeline client SDK [code](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py)
* The public surface of component sdk which user can use insid

[2019-03-05 21:00] sarahmaddox opened #519 "Create a framework for reference docs on the Kubeflow website"
We need an index page and a framework that the engineering team can use to publish reference docs.

[2019-03-05 21:00] sarahmaddox commented on #519
/assign

[2019-03-05 21:04] sarahmaddox commented on #345
From @hongye-sun in issue https://github.com/kubeflow/website/issues/518 (marked as duplicate of this issue).

We need to build or generate SDK documentation from current python code. The documentation should cover:

* The public surface of DSL SDK code
* The public surface of pipeline client SDK code
* The public surface of component sdk which user can use inside their container. code

The best t

[2019-03-05 21:05] sarahmaddox commented on #518
Thanks @hongye-sun! I've transferred your comment to the existing issue:
https://github.com/kubeflow/website/issues/345

I'll close this issue as a duplicate.

/close

[2019-03-05 21:05] #518 closed

[2019-03-05 21:15] sarahmaddox commented on #345
To integrate the generated reference docs with the Kubeflow website structure:

* Generate the doc files as Markdown pages. It's fine to have the content as HTML, but use the file extension `.md` mot `.html`.

* Use the following file path in the kubeflow/website repo: `content/docs/references/API-NAME/VERSION/RESOURCE-NAME/...`

* Add metadata to the top of each file, similar to the example below

[2019-03-06 02:41] sarahmaddox commented on #519
/close

[2019-03-06 02:41] #519 closed

[2019-03-06 02:43] sarahmaddox commented on #455
@irabinovitch Would you like to send a PR? Here's the guide to updating the docs:
https://github.com/kubeflow/website/blob/master/README.md

/cc @theadactyl

[2019-03-06 02:46] sarahmaddox commented on #515
@amygdala Please assign the issue to someone for an answer, or send someone a PR for review, otherwise the issue will just sit here. People can't write docs an issue that's just a question. :)

I'll assign the issue now to @vicaire as he knows about Pipelines.

/assign @vicaire

[2019-03-06 02:53] amygdala commented on #515
The question was more on whether we wanted to go into that level of detail in the docs vs just pointing them to the notebook.  I can add the info as well if we think it's a good idea -- let me see if I have assign permissions for this repo:
/assign @amygdala

(btw, I've had people tell me it's inappropriate to assign bugs myself -- they prefer to ID who should tackle it -- so I was holding off. So

[2019-03-06 02:54] sarahmaddox opened #520 "Clarify the GKE getting-started instructions for the command line"
* Prerequisite: Must have `pyyaml` installed.
* The value of KUBEFLOW_SRC must contain the full path to the directory, else you get errors when you try to run `kfctl.sh`.
* The value of KFAPP cannot be > 25 characters. It must contain just the directory name, not the full path to the directory.
* The value of KFAPP becomes the name of your deployment.

[2019-03-06 02:54] sarahmaddox commented on #520
/assign

[2019-03-06 03:15] sarahmaddox commented on #515
Oh no, docs are different. Please do grab any issue you like. :D

[2019-03-07 20:31] sarahmaddox commented on #504
/close

[2019-03-07 20:31] #504 closed

[2019-03-08 03:08] sarahmaddox commented on #506
My current thinking is along these lines (though this will change as I get deeper into the design):

Section: **Pipelines**

+   Page: **Build your components into a pipeline**

    +   What is a pipeline
    +   What is a component
    +   Build a component
    +   Build your pipeline by stitching components together
    +   More

        +   Pre-existing components
        +   Sample pipelines

[2019-03-08 03:08] sarahmaddox commented on #506
/assign

[2019-03-08 03:09] sarahmaddox commented on #520
/close

[2019-03-08 03:09] #520 closed

[2019-03-08 03:11] sarahmaddox opened #524 "Introduce the Pipelines DSL"
Create a doc introducing the Kubeflow Pipelines DSL and pointing to any useful reference we have. Later, when we have a generated reference, we can link to it.

[2019-03-08 03:17] sarahmaddox opened #525 "Create an index page of pre-existing pipelines components"
Add index page that lists existing pipelines components:
https://github.com/kubeflow/pipelines/tree/master/components

The index page should list all the *endorsed components*. By endorsed, I mean the components that the Kubeflow community judges as complete and ready for use.

We should also strongly encourage contributors to provide a README for every component, of the quality of [the ML Engine

[2019-03-08 03:17] sarahmaddox commented on #525
/assign

[2019-03-08 18:44] sarahmaddox commented on #474
/assign

[2019-03-10 03:20] sarahmaddox commented on #474
/close

[2019-03-10 03:20] #474 closed

[2019-03-10 03:24] sarahmaddox commented on #506
I've put my thoughts into a design doc:
https://docs.google.com/document/d/10Jn2Bt-U8YLdCkDKDZgILKNMqPpTw1-ZIPalKn1mwzI/edit?usp=sharing

[2019-03-10 23:24] jlewi commented on #366
Docs for TFJob are now generated; kubeflow/tf-operator#731 is closed.

@sarahmaddox Is there more work to be done here or can we close this issue?

[2019-03-10 23:32] sarahmaddox commented on #366
I'm not sure - are there any other APIs / CRDs we should generate references for? If so, perhaps we should create individual issues for those, and close this generic issue.

* We now have a framework in place to hold generated references.
* We've the created TFJob reference.
* We have a separate issue for the Pipelines reference: https://github.com/kubeflow/website/issues/345

[2019-03-10 23:35] jlewi opened #529 "Update getting started guide to use new kfctl binary"
We will need to update the getting started guides to use the new kfctl go binary.

[2019-03-10 23:49] sarahmaddox opened #530 "Restructure the Pipelines docs"
I've put my thoughts into a design doc:
https://docs.google.com/document/d/10Jn2Bt-U8YLdCkDKDZgILKNMqPpTw1-ZIPalKn1mwzI/edit?usp=sharing

Related to issue https://github.com/kubeflow/website/issues/506

[2019-03-10 23:49] sarahmaddox commented on #530
/assign

[2019-03-11 00:30] sarahmaddox commented on #492
/assign

[2019-03-11 00:32] sarahmaddox commented on #529
@jlewi Please would you assign an engineer to create a PR for this task (preferable), or supply more detail so that someone else can take it on (less efficient).

[2019-03-11 00:50] sarahmaddox commented on #494
/assign

[2019-03-11 11:00] hzxuzhonghu opened #532 "Need an architecture graph"
I want to learn about kubeflow, and read through the documents, and it is so abstract for me to understand, how kubeflow works.

If there are more general graphs, users like me can easily learn.

[2019-03-12 23:35] lluunn opened #533 "Getting started on GCP error: DM failed because not enough quota"
Someone at the summit reported that it's really hard to get started using Kubeflow on GCP.
- they got a quota error on DM. New project probably doesn't have enough cpu quota?
- didn't know how to spend the 300 gcp credit
- so many [steps](https://www.kubeflow.org/docs/started/getting-started-gke/) to get started. Do we have doc for basic auth @kunmingg ?

[2019-03-14 03:50] sarahmaddox opened #537 "Guide to building pipeline components uses inconsistent examples"
The guide to building pipeline components pulls its code from various samples. This makes it hard to follow:
https://www.kubeflow.org/docs/pipelines/build-component/

Instead, the guide should pull all its code from one sample, and should link to that sample so people can see the entire thing.

[2019-03-14 03:50] sarahmaddox commented on #537
/assign

[2019-03-14 19:54] ultrons opened #538 "NVIDIA TensorRT Inference Server: libcaffe2.so Error"
I see the following error when NVIDIA container is started following the instruction in the article:

"E  trtserver: error while loading shared libraries: libcaffe2.so: cannot open shared object file: No such file or directory"

I am using nvcr.io/nvidia/inferenceserver:18.08.1-py3

[2019-03-14 21:11] jlewi commented on #538
@ultrons Can you explain what you are doing? E.g. if you are deploying some server can you provide the YAML spec for your resource?

This seems like it would be an issue with your docker image since its missing a linked file.

[2019-03-14 21:23] jlewi commented on #538
My suggestion for debugging would be to use kubectl to start an interactive shell

[code]

Then use a tool like `ldd` to look at linking of whatever binary you are running.

[2019-03-14 21:43] sarahmaddox commented on #525
/close

[2019-03-14 21:43] #525 closed

[2019-03-15 12:54] gundeti opened #539 "could not find component: extracting module and component names from jupyterhub: "jupyterhub" is not a component or a module"
we are trying to follow this documentation https://www.kubeflow.org/docs/gke/cloud-filestore/ and use gcfs for jupyterhub. However, ks param set jupyterhub disks "our-disk-name" is throwing this error

we cannot see prototype jupyterhub and these are the generated components:

[code]

[2019-03-19 04:17] yuzisun opened #544 "Istio Integration (for TF Serving) has broken link to TF Serving README"
In `After installing Istio, we can deploy the TF Serving component as in README with additional params:`, the README link is broken.

[2019-03-19 23:40] sarahmaddox opened #546 "Change anaconda environment setup in Pipelines guides?"
From a review comment in PR https://github.com/kubeflow/website/pull/490:

Answer to the above comment:

https://www.kubeflow.org/docs/pipelines/build-pipeline/
For this tutorial, I'll keep it as it is, since it worked for me and since it follows the above pattern.

There are a couple of doc changes in the works that affect the above pipelines page, including a PR that breaks out the pipeline inst

[2019-03-21 04:20] sarahmaddox commented on #340
/close

[2019-03-21 04:20] #340 closed

[2019-03-21 04:21] sarahmaddox commented on #492
/close

[2019-03-21 04:21] #492 closed

[2019-03-21 04:21] sarahmaddox commented on #493
/close

[2019-03-21 04:21] #493 closed

[2019-03-21 04:21] sarahmaddox commented on #494
/close

[2019-03-21 04:21] #494 closed

[2019-03-21 04:21] sarahmaddox commented on #506
/close

[2019-03-21 04:21] #506 closed

[2019-03-21 04:21] sarahmaddox commented on #537
/close

[2019-03-21 04:21] #537 closed

[2019-03-21 04:24] sarahmaddox commented on #530
Starting work on this now. We've added a few new docs, plus we have feedback in the design doc linked in the first comment on this issue. I'll add a new outline to the design doc then put together a PR for the initial restructuring. We'll tackle this on an iterative basis, updating the structure as we go along to incorporate new content.

[2019-03-22 01:31] sarahmaddox commented on #544
/good-first-issue

[2019-03-22 01:31] sarahmaddox commented on #546
/good-first-issue

[2019-03-22 15:22] cspavlou opened #548 "Amend the "Getting Started with Kubeflow" page"
The current "[Getting Started with Kubeflow](https://www.kubeflow.org/docs/started/getting-started/)" page includes instructions for installing Kubeflow with Kubernetes as a prerequisite. Moreover, there is a section for installing Kubernetes. However, the "Set up Kubernetes" section is not actually a guide for installing K8s, but for installing Kubeflow on top of Minikube or Microk8s, which looks

[2019-03-22 18:50] sarahmaddox commented on #530
/close

[2019-03-22 18:50] #530 closed

[2019-03-22 18:54] sarahmaddox commented on #548
This structure LGTM.

@abhi-g do you have any feedback?

[2019-03-22 19:01] abhi-g commented on #548
It looks great! On the section about installing on existing K8s, it would be great if it also clarified that it's the path to take for on-prem.

[2019-03-22 19:04] sarahmaddox commented on #529
See all docs that refer to kfctl:
https://github.com/kubeflow/website/search?q=kfctl&unscoped_q=kfctl

[2019-03-22 19:09] sarahmaddox commented on #529
/assign @gabrielwen

[2019-03-22 19:11] sarahmaddox commented on #505
/assign

[2019-03-22 19:17] sarahmaddox commented on #533
This isn't a doc issue:

* If there's a quota problem, the engineering team should make sure new projects have more quota.
* GCP credits are outside of Kubeflow.
* Basic auth is AFAIK not yet released. Once it is released, we should add a separate issue to update the docs with basic auth instructions.

I'm going to close this issue, as it's not reproducible and therefore not addressable. If necess

[2019-03-22 19:18] sarahmaddox commented on #538
Thanks jlewi

I'm going to close this issue as answered. If there's a need for a doc update, please raise an issue specifying the doc update required.

/close

[2019-03-22 19:18] #538 closed

[2019-03-22 19:19] sarahmaddox commented on #524
/assign

[2019-03-22 19:31] lluunn opened #549 "update doc for basic auth"
/cc @kunmingg

[2019-03-22 19:32] lluunn commented on #533
I think if a user following our guide and can't get it work, the doc needs some update.

We should explain how to check quota or raise quota.

We should link to gcp guide on how to use credit.

I think basic auth is working. filed #549

[2019-03-22 20:21] cspavlou commented on #548
@abhi-g thanks for the comment. I will add a sentence to clarify this

[2019-03-24 18:51] sarahmaddox commented on #548
/close

[2019-03-24 18:51] #548 closed

[2019-03-24 19:06] sarahmaddox commented on #361
/assign

[2019-03-24 20:55] sarahmaddox opened #553 "Code-formatted text is too light when in list"
The styling of text in code format (that is, surrounded by tick marks like `this`) when included in a list makes the text hard to read.

See for example the text in the bulleted list in the section "Creating a custom Jupyter image" on this page:
https://www.kubeflow.org/docs/components/jupyter/#creating-a-custom-jupyter-image

I've seen the same issue with code-formatted text in a definition list.

[2019-03-24 20:55] sarahmaddox commented on #553
/area docs-ux

[2019-03-24 21:10] sarahmaddox commented on #553
Related issue: https://github.com/kubeflow/website/issues/402

@mk-nickyang Is this something you could take a look at?

[2019-03-25 00:12] mk-nickyang commented on #553
@sarahmaddox Fix PR(https://github.com/google/docsy/pull/59) is submitted in google/docsy

[2019-03-25 02:45] sarahmaddox commented on #553
Thanks @mk-nickyang!

[2019-03-25 03:08] sarahmaddox commented on #544
/assign

[2019-03-25 03:25] sarahmaddox commented on #489
/assign

[2019-03-25 15:08] sarahmaddox commented on #533
/assign

[2019-03-26 00:28] elviraux opened #557 "Add section to describe all default packages included when install kubeflow"
"As a person who would like to install and touch Kubeflow I'd like to know what modules are packaged in KF by default"

[2019-03-26 03:47] jlewi commented on #366
SGTM. Lets close this issue and open up additional specific issues as needed.

[2019-03-26 03:47] #366 closed

[2019-03-26 16:19] #489 closed

[2019-03-26 16:37] #544 closed

[2019-03-26 17:03] #553 closed

[2019-03-27 01:04] mvartakAtVerta opened #560 "Update ModelDB documentation to V2"

[2019-03-27 14:32] sarahmaddox commented on #560
Thanks for raising this issue @mvartakAtVerta - will you be working on the docs to resolve this issue?

[2019-03-27 14:34] sarahmaddox commented on #549
/assign @kunmingg

@kunmingg Will you be able to work on this doc issue?

[2019-03-27 14:38] sarahmaddox opened #561 "Document the new Jupyter web app as a component of Kubeflow"
Kubeflow v0.5 introduces a new web UI for Jupyter notebooks (replacing the integration with JupyterHub used in 0.4 and earlier) to natively spawn Jupyter notebooks in a Kubeflow environment.

Update this existing page:
https://www.kubeflow.org/docs/components/jupyter/

See Kubeflow doc issue:
https://github.com/kubeflow/kubeflow/issues/2232

And initial Kubeflow PR:
https://github.com/kubeflow/kub

[2019-03-27 15:30] mvartakAtVerta commented on #560
Yes, I'll be working on these docs.
ᐧ

On Wed, Mar 27, 2019 at 7:32 AM Sarah Maddox <notifications@github.com>
wrote:

[2019-03-27 17:13] sarahmaddox commented on #379
Updating the current thinking for docs for multi-user Kubeflow:

* Hold off on documenting this for now.
* When we're ready, we'll start with a script for the release demo, followed by a blog post. Then can base the docs on those.
* For docs, we'll need to decide whether to create a tutorial or focus on reference docs.

[2019-03-28 04:48] #533 closed

[2019-03-28 15:30] zabbasi opened #564 "notebook default namespace should change based on what user selected in the website"
In the website, user has the option to select a namespace. However the user's selection is not currently reflected in notebook spawnner page.

@avdaredevil

[2019-03-28 15:41] zabbasi commented on #564
duplicate of #2845

[2019-03-28 15:42] zabbasi commented on #564
https://github.com/kubeflow/kubeflow/issues/2845
duplicate

[2019-03-28 15:43] #564 closed

[2019-04-01 19:08] gabrielwen commented on #529
/unassign @gabrielwen

[2019-04-01 19:35] karthikv2k opened #566 "Add documentation for fairing using KF notebooks"

[2019-04-01 19:36] karthikv2k commented on #566
/priority p0

[2019-04-03 07:24] sarahmaddox opened #569 "Add guidelines for developing re-usable components"

[2019-04-03 07:26] sarahmaddox commented on #569
/priority p0
/assign

[2019-04-03 07:28] sarahmaddox opened #570 "Document the component definition format"
Describe the container component data model which can be serialized YAML format file for sharing:

* Metadata: Name, description, input/output descriptions and other metadata
* Interface: Inputs/Outputs: Name, type, default value
* Implementation: Describes how to actually run the component given the arguments

[2019-04-03 07:29] sarahmaddox commented on #570
/assign

[2019-04-03 07:29] sarahmaddox commented on #570
/priority p1

[2019-04-03 15:09] sarahmaddox opened #572 "Refactor the "Components" section of the Kubeflow docs for better UX"
Restructure the “Components” section of the Kubeflow docs - categorize the components by phase in ML workflow: training, serving, parameter tuning, etc.

https://www.kubeflow.org/docs/components/

[2019-04-03 15:12] sarahmaddox opened #573 "Build a better conceptual overview of Kubeflow including architectural diagram(s)"
To better answer the question "what is Kubeflow".

Work with UX and engineering teams to build a better conceptual overview of Kubeflow including architectural diagram(s).

* Note: “Architecture” means different things for contributor vs user.
* Consider adding a diagram of the standard ML workflow and showing the bits that Kubeflow covers.
* As a starting point, see this [diagram](https://docs.go

[2019-04-03 15:13] sarahmaddox commented on #573
Related issue: https://github.com/kubeflow/website/issues/532

[2019-04-03 15:22] sarahmaddox opened #574 "Document the Pipelines interfaces (UI, DSL/SDK, API, CLI)."
Create a page introducing the fact that there are various Pipelines interfaces. Introduce the DSL, API, and CLI. Give an overview of their capabilities and when you would use each one. Link to the generated reference docs and specific guides where available.

[2019-04-03 15:24] sarahmaddox opened #575 "Highlight the Kubeflow Pipelines UI for data and metrics visualization"
Give an overview of the Kubeflow Pipelines UI - see our existing “Kubeflow Pipelines quickstart” doc, and then explain additional capabilities of the UI. See also the existing doc about the Kubeflow UIs in general.

[2019-04-03 15:24] sarahmaddox opened #576 "Create auto-generated reference docs for the Pipelines DSL"

[2019-04-03 15:25] sarahmaddox commented on #576
/assign @vicaire

[2019-04-03 15:26] sarahmaddox opened #577 "Create auto-generated reference docs for the Pipelines API"

[2019-04-03 15:26] sarahmaddox commented on #577
/assign @vicaire

[2019-04-03 15:27] sarahmaddox opened #578 "Create auto-generated reference docs for the Kubeflow/Pipelines CLI"

[2019-04-03 15:28] sarahmaddox commented on #578
/assign @vicaire

[2019-04-03 15:31] sarahmaddox opened #579 "Extend the documentation for lightweight Python components"

[2019-04-03 15:43] sarahmaddox opened #580 "Create auto-generated reference docs for the Metadata API"
Kubeflow v0.6 introduced metadata tracking for ML artifacts. We have an overview in the docs: https://www.kubeflow.org/docs/components/misc/metadata/.

We should create auto-generated reference docs for the API.

Describe this API as alpha

[2019-04-04 04:06] #529 closed

[2019-04-04 07:21] sarahmaddox opened #583 "Fix up some links resulting from the move of the GCP setup guides"
In PR https://github.com/kubeflow/website/pull/568 we moved some files around. We need to fix up internal links to the GCP deployment guide, and add one redirect for the moved monitoring guide.

There are also a couple of textual fixes needed to clarify the guides.

[2019-04-04 07:21] sarahmaddox commented on #583
/assign

[2019-04-04 10:01] sarahmaddox opened #584 "The new Kubeflow CLI setup guide is missing some information and has some errors"
I'm running a CLI deployment using this guide:
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

* The guide assumes an environment variable `KUBEFLOW_SRC` is present, but doesn't tell us what to put in that variable.

* The guide tells us to create environment variables for username and password if using basic auth, but those variables aren't used in the guide.

* There's a formatting problem

[2019-04-04 10:02] sarahmaddox commented on #584
/assign

[2019-04-04 12:26] sarahmaddox opened #586 "Upgrade the Pipelines end-to-end tutorial to Kubeflow 0.5 including screenshots"
Specific issue for the Pipelines end-to-end tutorial, as we need to test the tutorial using Kubeflow 0.5 and at the same time update the screenshots to use the new UI.

https://github.com/kubeflow/website/blob/master/content/docs/pipelines/tutorials/pipelines-tutorial.md

(Part of issue https://github.com/kubeflow/website/issues/505.)

[2019-04-04 12:41] sarahmaddox opened #587 "Update screenshots and text in the Pipelines quickstart for Kubeflow 0.5"
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

(Part of issue https://github.com/kubeflow/website/issues/505)

[2019-04-04 12:41] sarahmaddox commented on #587
/assign

[2019-04-04 12:43] sarahmaddox commented on #505
This issue is an umbrella issue. I've created sub-issues for each part of the docs that need updating, as some of the updates require running through a tutorial from start to finish.

[2019-04-04 12:44] sarahmaddox opened #588 "Update screenshot in the Metrics doc for Kubeflow 0.5 UI"
https://github.com/kubeflow/website/blob/master/content/docs/pipelines/metrics/pipelines-metrics.md

(Part of issue https://github.com/kubeflow/website/issues/505.)

[2019-04-04 12:45] sarahmaddox commented on #505
I've created separate issues for each doc or section that needs updating. I'll close this umbrella issue now, as I've finished the search and analysis part of the task.

/close

[2019-04-04 12:45] #505 closed

[2019-04-04 17:01] sarahmaddox commented on #587
/close

[2019-04-04 17:01] #587 closed

[2019-04-04 17:02] sarahmaddox commented on #583
/close

[2019-04-04 17:02] #583 closed

[2019-04-04 18:37] abhi-g opened #590 "Create a Kubeflow Fairing section"
Create a section for Kubeflow Fairing parallel to Pipelines and Kubeflow on GCP

[2019-04-04 18:39] abhi-g opened #591 "Creating a new notebook to use Fairing"
Step by step process for creating a new notebook from the Spawner UI in order to leverage Fairing capabilities

[2019-04-04 18:41] abhi-g opened #592 "An explanation of Fairing configurations"
Provide a brief explanation of what Fairing configurations are, and also a list of configurations available by default.

[2019-04-04 18:44] abhi-g opened #593 "Provide a walkthrough of the xgboost Housing Serve example using high level fairing APIs"
A walkthrough of the https://github.com/kubeflow/fairing/blob/master/examples/prediction/xgboost-high-level-apis.ipynb

[2019-04-04 18:47] abhi-g opened #594 "Launching jobs on Kubeflow from a local Jupyter notebook"
Document the steps needed to enable launching jobs on Kubeflow deployment from a local Jupyter notebook.
 - How to provide access to secrets/credentials to the local notebook
 - what Fairing configuration is recommended

[2019-04-04 18:55] abhi-g opened #595 "Launching jobs on GCP using Fairing"
Document the steps needed to enable launching training jobs or prediction deployments on GCP.
  - What secrets/credentials the user needs available in the notebook
  - if running Kubeflow on GKE, which ones of these will be automatically set
  - what configuration of Fariing is recommended

[2019-04-04 18:57] abhi-g opened #596 "Extending Fairing configurations"
What is required to extend Fairing configurations for supporting different on-premise K8s setup or other cloud providers

[2019-04-04 19:01] abhi-g opened #597 "Update Getting Started kfctl.sh references"
Update [Getting Started](https://www.kubeflow.org/docs/started/getting-started/)
  - [Installing on Existing Kubernetes section](https://www.kubeflow.org/docs/started/getting-started/#installation-on-existing-kubernetes)
       - install & delete instructions

[2019-04-04 19:04] abhi-g opened #598 "Create a document page for downloading kfctl binary"
A document page or reference pointing a user to the github page hosting kfctl binaries for different platforms.

Will be good to also suggest contributions on kfctl binary builds for other platforms.

[2019-04-05 04:50] sarahmaddox commented on #598
The GCP deployment page points to the kfctl binary:
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

If we add a separate doc page pointing to the download page, the doc page should be in the [Reference](https://www.kubeflow.org/docs/reference/) section of the website.

Please would you provide the link to the GitHub page hosting kfctl binaries for various platforms - do you mean the [Release

[2019-04-05 04:54] sarahmaddox commented on #597
Do we have a `kfctl` binary that supports platforms other than GCP? We've updated the docs for GCP but held off on the other platforms until the binary supports other platforms.

[2019-04-05 04:58] abhi-g commented on #598
Yes, the releases page has the links to downloadable binaries.

Abhishek

On Thu, Apr 4, 2019 at 9:50 PM Sarah Maddox <notifications@github.com>
wrote:

[2019-04-05 04:59] abhi-g commented on #597
/cc @gabrielwen

[2019-04-05 07:49] sarahmaddox commented on #342
/assign

[2019-04-05 07:52] sarahmaddox commented on #342
I'm adding more information to the *pipeline* and *component* concepts. Those sections are getting quite long, so I'm going to split the concepts onto separate pages and create a concepts section. That will make it easier to refer to each concept. I'll also de-dupe the conceptual info in the existing tutorials.

This is part of the work on issue https://github.com/kubeflow/website/issues/569 (guid

[2019-04-05 07:53] sarahmaddox commented on #342
/remove-good-first-issue
/remove-help

[2019-04-05 16:18] sarahmaddox commented on #566
/assign @joeliedtke

[2019-04-05 16:23] sarahmaddox commented on #595
@joeliedtke is creating a doc which handles **part** of this issue - specifically, the GCP config.

[2019-04-05 16:25] sarahmaddox commented on #593
@joeliedtke is working with the Fairing engineering team on this tutorial. It may end up that we put all the info in the notebook rather than create a separate website doc.

[2019-04-05 16:27] abhi-g commented on #593
I think a notebook with Markup is definitely a better document. We might
still need a website doc just as a pointer and an introduction to the
notebook.

On Fri, Apr 5, 2019 at 9:25 AM Sarah Maddox <notifications@github.com>
wrote:

[2019-04-05 17:14] gabrielwen commented on #597
for 0.5 release we only shoot for GCP.

/cc @kunmingg

[2019-04-06 03:53] sarahmaddox commented on #342
/close

[2019-04-06 03:53] #342 closed

[2019-04-06 05:56] sarahmaddox commented on #597
/priority p2

Downgrading the priority because we've already updated the docs for GCP and the new binary isn't yet available for the other platforms, so we can't update the other docs yet.

[2019-04-06 05:57] sarahmaddox commented on #597
/remove-priority p1

[2019-04-06 08:14] sarahmaddox opened #605 "Page for Kubeflow deletion using UI points to a Netlify preview URL"
On this page:
https://www.kubeflow.org/docs/gke/deploy/delete-ui/

There's a link pointing to a preview page:
https://deploy-preview-568--competent-brattain-de2d6d.netlify.com/docs/gke/deploy/deploy-cli/#deleting-kubeflow

[2019-04-06 08:14] sarahmaddox commented on #605
/assign

[2019-04-06 08:41] sarahmaddox commented on #598
/assign

[2019-04-06 09:14] sarahmaddox commented on #588
/assign

[2019-04-06 09:57] sarahmaddox commented on #586
/assign

[2019-04-06 10:09] sarahmaddox commented on #586
I've read through the tutorial. The screenshot of the Kubeflow UI is a shared screenshot and thus is already updated, and we've also updated the single mention of `kfctl` to refer to the binary instead of the script. So we're good to go.

/close

[2019-04-06 10:09] #586 closed

[2019-04-06 16:13] sarahmaddox opened #609 "Link to new definitions of pipeline/component from various docs"
A number of the Pipelines docs include either a wordy definition of a pipeline/component, or a link to some page or other in an attempt to get around defining a pipeline/component yet again.

We now have handy definitions of [pipeline](https://www.kubeflow.org/docs/pipelines/concepts/pipeline/) and [component](https://www.kubeflow.org/docs/pipelines/concepts/component/) in our new concepts docs.

[2019-04-07 07:37] sarahmaddox commented on #524
Started work on this today.

[2019-04-07 07:47] sarahmaddox commented on #573
The [Pipelines design doc](https://docs.google.com/document/d/1O5n02SzMYmLH0cMkykxHWWWe7eMzaP1vk7Y3fBbLoD8/edit#) has useful info too, including an architectural diagram.

[2019-04-08 04:07] sarahmaddox commented on #361
/close

[2019-04-08 04:07] #361 closed

[2019-04-08 04:07] sarahmaddox commented on #566
/close

[2019-04-08 04:10] sarahmaddox commented on #593
/close

[2019-04-08 04:10] #593 closed

[2019-04-08 04:10] #590 closed

[2019-04-08 04:13] sarahmaddox opened #611 "Add a short overview of Fairing"
Add a short introduction to Fairing to this section of the docs:
https://www.kubeflow.org/docs/fairing/

Describe what Fairing is, where to get it, and include "Next steps" which links to the tutorial that's already in this section of the docs.

[2019-04-08 05:29] sarahmaddox opened #612 "Typo "anys" in pipelines upgrade page"
Change "anys" to "any" on this page:
https://www.kubeflow.org/docs/pipelines/upgrade/#reinstalling-kubeflow-in-other-environments-non-gcp

[2019-04-08 05:29] sarahmaddox commented on #612
/good-first-issue

[2019-04-08 21:32] karthikv2k opened #615 "Update doc for KF notebooks"
https://www.kubeflow.org/docs/components/jupyter/ seems outdated.

[2019-04-09 04:09] sarahmaddox commented on #605
/close

[2019-04-09 04:09] #605 closed

[2019-04-09 04:09] sarahmaddox commented on #584
/close

[2019-04-09 04:09] #584 closed

[2019-04-09 05:31] #524 closed

[2019-04-09 13:05] sarahmaddox commented on #615
Thanks for raising this issue! I'm closing it as a duplicate of this existing issue:
https://github.com/kubeflow/website/issues/561

/close

[2019-04-09 13:05] #615 closed

[2019-04-09 17:38] JavaDerek opened #616 "Couple of additional Kubeflow events to add"
Could these be added to the events list, please?  Both will be primarily dedicated to Kubeflow...

"Accelerating Machine Learning DevOps with Kubeflow" -- https://gotochgo.com/2019/sessions/837

"Architecting and Deploying Machine Learning in the Private Cloud" -- https://conferences.oreilly.com/software-architecture/sa-ca/public/schedule/speaker/337165

[2019-04-09 21:57] zabbasi opened #617 "Add documentation on how to create Jupyter notebooks in user-defined namespaces."
As described [here](https://github.com/kubeflow/kubeflow/issues/2980) currently in order for a user to spawn a notebook in a given namespace, the namespace should have some service accounts. We should document how this works.

[2019-04-09 21:58] zabbasi commented on #617
/priority p0

[2019-04-09 22:12] #570 closed

[2019-04-09 22:20] #569 closed

[2019-04-10 06:21] sarahmaddox commented on #561
Related: https://github.com/kubeflow/website/issues/617

[2019-04-10 06:24] #588 closed

[2019-04-10 12:52] #598 closed

[2019-04-10 17:18] David-Bess opened #619 "What is ${KF_ENV}"
${KF_ENV} is mentioned several time in the kubeflow documetnation, but I can not find any description of what it is.  In GCP cloudshell  I am getting this error:

ERROR environment is not set; use `env list` to see available environments

I even did a search of all kubeflow docs, and I can not find any reference to how this gets set.  Not good to use a env var which was never set.  I deployed usin

[2019-04-10 19:33] joeliedtke commented on #566
/reopen

If I understand correctly, this issue relates to using Fairing from within the notebook environment hosted in Kubeflow.

[2019-04-10 20:18] alecglassford commented on #609
You've also added a [component specification reference page](https://www.kubeflow.org/docs/pipelines/reference/component-spec/) in #604, and in many of the places where it's relevant to link to the concept docs, it may be useful to link to the specification as well (or instead). In addition, perhaps the component concept page and the component specification page should link to one another.

(Feel

[2019-04-10 23:24] sarahmaddox commented on #619
+1
[Here's a search](https://github.com/kubeflow/website/search?q=KF_ENV&unscoped_q=KF_ENV) showing the usage of this environment variable.

The env variable is used to hold an *environment* as defined by ksonnet. We give some explanation of the environment concept on [our ksonnet page](https://www.kubeflow.org/docs/components/ksonnet/#more-about-ksonnet). The docs should set the variable to `defa

[2019-04-10 23:25] sarahmaddox commented on #616
Thanks @JavaDerek - please would you send a PR?

[2019-04-10 23:40] sarahmaddox commented on #616
The [docs README](https://github.com/kubeflow/website/blob/master/README.md) has useful info about updating the docs. :)

[2019-04-11 15:19] jlewi opened #621 "Getting Started Guide For AWS"
We should add a getting started guide for AWS.

There are some docs [here](https://github.com/aws-samples/machine-learning-using-k8s) that might be a good starting point.

Related: kubeflow/kubeflow#2998
/cc @Jeffwan @arun-gupta

[2019-04-11 15:46] chrisheecho opened #622 "Hyperparameter Tuning (Katib) - link broken"
Example using random algorithm
You can create a StudyJob for Katib by defining a StudyJob config file. See the **random algorithm example.** link is broken

https://www.kubeflow.org/docs/components/hyperparameter/

link should include the version like
https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/random-example.yaml

Currently it is set at
https://github.com/kubeflow/katib/blob/m

[2019-04-11 17:03] Jeffwan commented on #621
Thanks! We prepare a doc and it's pending in internal review now. I will submit a PR by early next week.

[2019-04-11 17:03] Jeffwan commented on #621
/assign

[2019-04-11 18:38] sarahmaddox commented on #622
/good-first-issue

[2019-04-11 18:42] sarahmaddox opened #623 "Decide the future of the Kubeflow "events" page"
https://www.kubeflow.org/docs/about/events/

To consider:

* Is the docs website the right place for this page?
* How to keep it up to date? For example, should we assign all incoming issues to the Kubeflow community manager, or should we request that people send us PRs rather than issues?
* When should we remove past events, and who will do that?

[2019-04-11 18:44] sarahmaddox commented on #623
I've love your comments on this, @theadactyl and @texasmichelle

/cc @theadactyl
/cc @texasmichelle

See issues:

* https://github.com/kubeflow/website/issues/616
* https://github.com/kubeflow/website/issues/455

[2019-04-11 23:23] sarahmaddox commented on #17
/close

[2019-04-11 23:23] #17 closed

[2019-04-11 23:29] sarahmaddox commented on #32
I've added this issue as a potential one to tackle during the upcoming Kubeflow Doc Sprint. Stay tuned for info about the doc sprint!

[2019-04-11 23:31] sarahmaddox commented on #33
I've added this issue as a potential one to tackle during the upcoming Kubeflow Doc Sprint. Stay tuned for info about the doc sprint!

[2019-04-11 23:32] sarahmaddox commented on #549
/close

[2019-04-11 23:32] #549 closed

[2019-04-11 23:38] sarahmaddox commented on #317
/close

[2019-04-11 23:38] #317 closed

[2019-04-11 23:41] sarahmaddox commented on #418
@swiftdiaries How are you getting on with this issue?

[2019-04-12 04:12] sarahmaddox commented on #609
/assign

[2019-04-12 04:26] sarahmaddox commented on #619
/assign

[2019-04-12 16:36] #609 closed

[2019-04-12 16:40] #619 closed

[2019-04-14 02:34] sarahmaddox commented on #622
/remove-good-first-issue
/assign

[2019-04-14 02:44] sarahmaddox commented on #612
/remove-good-first-issue
/assign

[2019-04-14 02:55] sarahmaddox commented on #566
@joeliedtke We have a number of [Kubeflow issues related to Fairing](https://github.com/kubeflow/website/issues?utf8=%E2%9C%93&q=is%3Aissue+fairing). Please would you take a look at them and provide more explanation for each, to differentiate them from each other?

[2019-04-14 22:45] sarahmaddox commented on #561
/assign

[2019-04-14 22:46] sarahmaddox commented on #561
Starting this now

[2019-04-14 23:59] sarahmaddox commented on #561
/cc @karthikv2k

[2019-04-15 00:02] jlewi commented on #561
@sarahmaddox Thank you so much for picking this up!.

/cc @zabbasi @vkoukis @kimwnasptd

[2019-04-15 00:03] jlewi commented on #32
/cc @aronchick

[2019-04-15 00:07] sarahmaddox commented on #561
Given that notebooks are an important part of the Kubeflow story, in particular for data scientists, I'm planning to create a doc section specifically about notebooks. It'll include roughly the following pages:

* Get started with Kubeflow notebooks - a link to the Kubeflow installation guide, plus info on how to access a notebook in your Kubeflow installation. Includes a link to the **Fairing sec

[2019-04-15 00:35] sarahmaddox opened #630 "Out-of-date section "Who should consider using Kubeflow?""
The information is outdated in the section "Who should consider using Kubeflow?" on this page:
https://www.kubeflow.org/docs/started/getting-started/#who-should-consider-using-kubeflow

Recommendation: Either remove the section entirely, or point people to the [components](https://www.kubeflow.org/docs/components/) section so that they can examine the current Kubeflow components themselves.

[2019-04-15 00:46] sarahmaddox opened #631 "Getting-started guide for Kubeflow on prem should include info on accessing Kubeflow UI"
This section of the Kubeflow getting-started guide doesn't tell people where to find the UI:
https://www.kubeflow.org/docs/started/getting-started/#install-kubeflow

[2019-04-15 00:53] jlewi commented on #137
Looks like this page no longer exists. With the new UI in 0.5 attaching volumes is well supported in the UI.

[2019-04-15 00:53] #137 closed

[2019-04-15 00:55] sarahmaddox opened #632 "Our docs should not use "k8s" or "K8s" as a name for Kubernetes"
The Kubeflow getting-started guide and probably other pages use "k8s" or "K8s" as a name for Kubernetes. We should change all such references to the proper Kubernetes brand name. This will avoid confusion for readers who are new to Kubernetes, and will ensure proper i18n when we translate our docs.

[2019-04-15 07:45] marrrcin opened #635 "PyTorch Training 404 link"
https://www.kubeflow.org/docs/components/pytorch/

The link in the paragraph with:

(https://github.com/kubeflow/pytorch-operator/blob/master/examples/tcp-dist/mnist/v1beta1/pytorch_job_mnist.yaml)

leads to 404.

[2019-04-15 17:11] joeliedtke commented on #566
Sure, I'll work with the Fairing team to add additional details.

[2019-04-15 17:11] joeliedtke commented on #566
/assign

[2019-04-15 17:19] joeliedtke commented on #591
This appears to be a duplicate of issue #561.

[2019-04-15 17:28] joeliedtke commented on #591
/close

[2019-04-15 17:28] #591 closed

[2019-04-15 22:08] sarahmaddox commented on #566
Thanks Joe! Following up on my earlier comment about the various Fairing issues, I think it'd be good to create a design doc with proposed fairing docs structure, so people can see what the new section may look like and can give input if they like.

Here's [an example of such a design doc](https://docs.google.com/document/d/10Jn2Bt-U8YLdCkDKDZgILKNMqPpTw1-ZIPalKn1mwzI/edit#heading=h.76g367a6n4wf).

[2019-04-15 22:11] #612 closed

[2019-04-15 22:24] joeliedtke commented on #566
Sounds good. I've started to discuss the doc plan with karthickv2k. After I get his feedback, I'll write up a design doc on the Kubeflow community team drive.

[2019-04-16 01:04] grehce opened #636 "Outdated docs: iOS doesn't show client secret"
Unsure how to proceed with creating a Kubeflow deployment; entered IAP OAuth client ID but for iOS applications, GCP does not provide a "client secret" but rather an "iOS URL scheme."

[2019-04-16 22:22] sarahmaddox commented on #622
/close

[2019-04-16 22:22] #622 closed

[2019-04-16 22:33] munro opened #638 "Seldon Deployment Graphs readme link broken"
On this page:

https://www.kubeflow.org/docs/components/seldon/

this link https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/readme.md is broken

[2019-04-16 22:50] joeliedtke commented on #566
/close

[2019-04-16 22:50] #566 closed

[2019-04-16 23:24] sarahmaddox opened #639 "Pipelines: Create a tutorial that uses pre-built component(s) for a common ML workflow"
For data scientists getting started with Kubeflow Pipelines, our docs should focus first on re-using standard pipeline architectures with pre-built containers, where the code within the containers is configurable (like CMLE training).

We already provide an [index of reusable components](https://www.kubeflow.org/docs/pipelines/reusable-components/) - we can build on that by creating specific tutor

[2019-04-16 23:29] sarahmaddox commented on #639
Further analysis required: split this issue into separate tutorials.

[2019-04-16 23:30] sarahmaddox commented on #639
This issue provides a good set of tasks for our upcoming [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint). I've added it to the [tutorial wish list](https://docs.google.com/spreadsheets/d/1dIUt1PTyDLfU9zya98nxm7UZtlel6dNVq5jy2_1OeZo/edit#gid=0).

[2019-04-17 04:12] sarahmaddox commented on #539
/assign

[2019-04-18 19:17] jlewi commented on #636
@grehce When you create the OAuth credential you should set the type to "Web Application"
https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

The type of operating system you are using is irrelevant.

[2019-04-18 21:19] #630 closed

[2019-04-19 00:47] joeliedtke commented on #596
This issue is to add documentation for users that want to add a custom back-end (similarly to KubernetesBackendConfig and KubeflowGKEBackend).

[2019-04-19 00:54] joeliedtke opened #643 "Add documentation for installing Fairing"
Add documentation for installing Fairing for local development, or development in a hosted notebook.

[2019-04-19 01:05] amygdala commented on #462
okay, I'm finally returning to this.  amazing, I know :).  Hope to tackle it tomorrow.

[2019-04-19 04:46] sarahmaddox opened #644 "Clarify the config of the Kubeflow notebooks in the Fairing guide"
In the Fairing guide to training/deploying from a Kubeflow notebook, we should make it clear that the Kubeflow notebook already includes Fairing as well as other ML libraries. Also, now that we have a guide to setting up notebooks, the Fairing guide can make use of it.

https://www.kubeflow.org/docs/fairing/gcp-kubeflow-notebook/

[2019-04-19 04:46] sarahmaddox commented on #644
/assign

[2019-04-19 06:21] grehce commented on #636
@jlewi thanks, created the new OAuth 2.0 client IDs and get the following error when I create Kubeflow deployment:

`Deployment Error
Error trying to get the project number: Error: Error trying to get the project number: {"result":{"error":{"code":400,"message":"Request contains an invalid argument.","status":"INVALID_ARGUMENT"}},"body":"{\n \"error\": {\n \"code\": 400,\n \"message\": \"Request c

[2019-04-19 06:26] #636 closed

[2019-04-19 19:11] bsingarayan opened #647 "Deploy using CLI"
Deploying using CLI also requires `gcloud auth login`, else installation fails with below error

[code]

[2019-04-19 20:05] sarahmaddox opened #648 "Add more info at top of pipelines quickstart about contents of guide"
Add more context at the top of the pipelines quickstart to clarify what it does and doesn't do. In particular, differentiate it from the GCP e2e guide:
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

The quickstart shows you how to use one of the samples that are already uploaded to pipelines and are listed on the pipelines UI. It starts with a simple pipeline (not even an ML pipeli

[2019-04-19 20:08] joeliedtke commented on #611
/assign

[2019-04-19 20:21] joeliedtke opened #649 "Add documentation for fairing using AI Platform notebooks"
Add documentation explaining how to set up the an AI Platform Notebooks environment for the XGBoost notebook example.

[2019-04-19 20:21] joeliedtke commented on #649
/assign

[2019-04-19 23:58] joeliedtke commented on #595
This document will describe the configuration steps required to enable Fairing to authenticate with Kubeflow on GKE, GKE, and AI Platform. A good example of these steps can be found in https://www.kubeflow.org/docs/fairing/gcp-local-notebook/.

[2019-04-20 00:01] joeliedtke commented on #594
This document will describe how to configure a kubeconfig file to enable Fairing to authenticate with Kubeflow. For Kubeflow on cloud providers, additional steps may be required. These steps will be covered in other documents.

[2019-04-20 00:02] joeliedtke commented on #592
After talking to karthikv2k, it sounds like the initial goal is to document the configuration for the high-level API.

[2019-04-20 04:23] sarahmaddox commented on #462
/close

[2019-04-20 04:23] #462 closed

[2019-04-22 11:17] JavaDerek commented on #616
Just awaiting legal approval on the Google agreement in order to commit.

[2019-04-22 16:55] jlewi opened #650 "Update Cloud Filestore instructions to 0.5 and kfctl"
The instructions for adding a Cloud Filestore instance to Kubeflow need to be updated for 0.5.
https://www.kubeflow.org/docs/gke/cloud-filestore/

We need to update instructions for how users get the DM configs they need to copy; I think it will come from .cache

[2019-04-22 21:53] joeliedtke commented on #643
/assign

[2019-04-23 00:27] swiftdiaries commented on #418
I'm currently working on a PR related to this: https://github.com/kubeflow/kubeflow/pull/3026

So, once I have the platform specific customization in and the PR is merged, I can contribute the related changes to the docs as well

[2019-04-23 20:39] subramankala opened #653 "The box 'arrikto/minikf' could not be found or could not be accessed in the remote catalog"

[2019-04-23 22:32] #644 closed

[2019-04-23 23:29] sarahmaddox commented on #648
/cc @iyera

[2019-04-24 03:01] sarahmaddox opened #655 "Clarify that pipelines work outside GCP except for specific functionality"
In various places in the docs (e.g. the [pipelines overview](https://www.kubeflow.org/docs/pipelines/pipelines-overview/) we state the following:

"*Due to kubeflow/pipelines#345 and kubeflow/pipelines#337, Kubeflow Pipelines depends on Google Cloud Platform (GCP) services and some of the functionality is currently not supported by non-GKE clusters.*"

The documentation as it is worded today makes

[2019-04-24 03:03] sarahmaddox commented on #655
/cc iyera

[2019-04-24 11:58] enricomarchesin opened #656 "Improve "Minikube for Kubeflow" install instructions"
I believe that the section "Where to go next" of the Minikube install page, at address:

is missing a paragraph.

Before saying the user just needs to connect to localhost URL, I had to run the following commands:

[code]
_(from https://www.kubeflow.org/docs/other-guides/accessing-uis/#using-kubectl-and-port-forwarding)_

I'd be happy to put together a PR for this change if you want... 😋

[2019-04-24 18:59] ucdmkt opened #658 "[Documentation] GCP Project prerequisites"
The first step of "Kubeflow on GCP" > "Deploying Kubeflow" >  "[Set up a GCP Project]( https://www.kubeflow.org/docs/gke/deploy/project-setup/) documentation Deploying Kubeflow)" does not prescribe prerequisite to the required privileges.

In order to follow the guide to enable billing, enable APIs, and deploy Kubeflow from UI/CLI which involves creating a service account, it appears that admin pr

[2019-04-24 22:18] abhi-g commented on #658
/cc @sarahmaddox

[2019-04-25 20:26] joeliedtke commented on #594
/assign

[2019-04-25 20:26] joeliedtke commented on #595
/assign

[2019-04-25 20:27] joeliedtke commented on #592
I checked in with karthikv2k, and he recommended revisiting this doc in May.

[2019-04-26 06:19] sarahmaddox commented on #658
I'm closing this issue, as a duplicate of https://github.com/kubeflow/website/issues/399

[2019-04-26 06:19] #658 closed

[2019-04-26 18:48] animeshsingh commented on #655
Did a quick PR on this https://github.com/kubeflow/website/pull/662

[2019-04-26 23:24] animeshsingh commented on #638
Fixed
https://github.com/kubeflow/website/pull/664

[2019-04-28 03:36] sarahmaddox commented on #621
/close

[2019-04-28 03:36] #621 closed

[2019-04-28 21:35] sarahmaddox commented on #655
/close

[2019-04-28 21:35] #655 closed

[2019-04-28 21:37] sarahmaddox commented on #638
/close

[2019-04-28 21:37] #638 closed

[2019-04-28 21:42] sarahmaddox commented on #561
/close

[2019-04-28 21:42] #561 closed

[2019-04-30 01:07] sarahmaddox opened #669 "Add docs for preemptible VMs/GPUs"
The draft content is available in a Google Doc written by the engineering team.

[2019-04-30 02:42] sarahmaddox opened #670 "The Kubeflow getting-started guide needs some tech writing love"
https://www.kubeflow.org/docs/started/getting-started/

The guide has been reworked and updated a few times recently, and needs a bit of attention from a tech writer

[2019-04-30 02:42] sarahmaddox opened #671 "Add AWS to the Kubeflow getting-started guide"
This guide should link to our new AWS docs:
https://www.kubeflow.org/docs/started/getting-started/

[2019-04-30 02:42] sarahmaddox commented on #671
/assign

[2019-04-30 02:43] sarahmaddox commented on #670
/assign

[2019-04-30 03:24] sarahmaddox commented on #597
This doc now references the `kfctl` binary rather than the shell command.
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-04-30 03:24] sarahmaddox commented on #597
/close

[2019-04-30 03:24] #597 closed

[2019-04-30 03:28] sarahmaddox commented on #333
Thanks @gyliu513 - I've added this issue as a candidate for our upcoming doc sprint, in case you can't complete it before then. Maybe you can join us in the sprint. :)