[2020-06-20 01:25] jlewi commented on #1984
I triggered a redeploy of master by pushing a commit and now
https://master.kubeflow.org/docs/components/serving/kfserving/#install-with-kubeflow
includes #1998

[2020-06-21 06:53] woop commented on #1981
Hey @jlewi, I've submitted #2009. Is that what you had in mind?

[2020-06-22 04:35] Bobgy commented on #2003
Yes, I agree. Probably the section itself is too little for a standalone page right now, but maybe we can find more content sitting together over time and we may retitle that article.

Suggestions:
1. We have a standalone page for introducing adding users to kubeflow
2. Put a link in next steps sections of both https://www.kubeflow.org/docs/gke/deploy/deploy-ui/#next-steps and https://www.kubeflow

[2020-06-22 17:24] 8bitmp3 commented on #1984
Will share a list of proposals soon hopefully (ref: https://github.com/kubeflow/website/issues/1984#issuecomment-644907943) Got Hugo and the doc site working locally.)

[2020-06-22 20:25] jlewi commented on #1984
@8bitmp3 You shouldn't really need to run Hugo locally; If you open up a PR a preview will be automatically generated.

[2020-06-23 01:21] jlewi commented on #1984
@RFMVasconcelos @8bitmp3 Do you want to take on making some of the changes on master needed to prepare the docs for the 1.1 release?

See for example
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch

[2020-06-23 01:25] 8bitmp3 commented on #1984
@jlewi Has the date for v1.1  been set in stone yet? Cheers

[2020-06-23 01:59] jlewi commented on #1984
@8bitmp3 We finalize the RC once its ready. Lets aim for 2 weeks from now.

[2020-06-23 02:05] shawnzhu opened #2011 "Updates TFJob and PytorchJob document to disable istio sidecar inject"
## Problem

YAML resource description from this article doesn't work: https://www.kubeflow.org/docs/components/training/tftraining/#what-is-tfjob

So as that from https://www.kubeflow.org/docs/components/training/pytorch/#monitoring-a-pytorch-job

It leads to several issue reports including:

* https://github.com/kubeflow/pytorch-operator/issues/258
* https://github.com/kubeflow/katib/issues/1042

[2020-06-23 02:22] shawnzhu commented on #2011
Given `tfjob` example, the pods will be in `Error` status when following the doc because of this problem:

[code]

This is an effect of ISTIO sidecar auto-injection. With https://github.com/kubeflow/kubeflow/issues/4935#issuecomment-615256808, I suggest disabling istio sidecar inject to get the examples to work while documenting impacts like missing security feature on tfjob when side car inject i

[2020-06-23 02:24] jlewi commented on #1981
@woop yes.

[2020-06-23 02:25] #1981 closed

[2020-06-23 15:42] PatrickXYS opened #2014 "[AWS] Add Dex as Basic Authentication for AWS Kubeflow Deployment"
We used a public application load balancer in the past. With some security concerns, we remove public one and ask user to use `port-forward` way to check dashboard.

Recently we get a few asks from users on basic authentication, multi-user for non-cognito manifest.

Since community already has dex solution, I think we should consider to reuse this for AWS Kubeflow deployment.

Benifites:

* AWS fo

[2020-06-23 15:43] PatrickXYS commented on #2014
/cc @Jeffwan
/assign

[2020-06-23 20:53] amygdala opened #2016 "document `@func_to_container_op` decorator"
https://www.kubeflow.org/docs/pipelines/sdk/lightweight-python-components/

AFAICT there is nowhere in the documentation (or the [notebook referenced](https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/lightweight_component.ipynb) from the docs) that actually mentions the `@func_to_container_op` decorator.  Apologies if I missed it.

Would be good to add some info

[2020-06-23 20:54] amygdala commented on #2016
/kind bug

[2020-06-24 00:22] jinchihe commented on #2011
@shawnzhu Make sense, or is that better to add this in Troubleshooting for this?

[2020-06-24 00:42] shawnzhu commented on #2011
Yes only the design is TFJob/PyTorchJob works with Istio sidecar inject enabled namespace/profile (required by kubeflow). Then we can troubleshoot by disabling sidecar inject.

[2020-06-24 19:27] #1821 closed

[2020-06-24 22:37] #1800 closed

[2020-06-24 22:37] #1808 closed

[2020-06-24 22:37] #1809 closed

[2020-06-25 19:10] shawnzhu commented on #2011
Close since it has been fixed on latest doc: https://master.kubeflow.org/docs/components/training/tftraining/ and the code example: https://github.com/kubeflow/pytorch-operator/blob/eba73411bc03d70b72dcab623aa7a01c14f811d4/examples/mnist/v1/pytorch_job_mnist_gloo.yaml

[2020-06-25 19:10] #2011 closed

[2020-06-25 23:04] #1412 closed

[2020-06-26 07:50] GraphtyLove opened #2021 "Pipeline Metrics file_output not explained"
https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/

I just passed a whole day to understand why the metrics were not shown in the UI after my pipeline.
In fast (using ContainerOps) you need to define a `file_outputs`. That is not said in the documentation and the information is quite hard to find.

You should declare your step as follow:

[code]

I really think it should be explained i

[2020-06-27 01:20] 8bitmp3 opened #2022 "GitHub Project boards for PRs, Issues to keep stale[bot] happy"
Suggestion/idea: more active use of project management tools such as Github Project boards (as mentioned in Issue https://github.com/kubeflow/community/issues/345).

There are a bunch of stale issues and PRs across `/website` and elsewhere, and you may have noticed **the stale[bot] ** has been busy sending notifications recently.

GitHub Project boards can help see the big picture for managers lik

[2020-06-28 17:27] gstoner opened #2024 "Really need a Kubeflow Ecosystem Section to the Website, (Note list is attached I found who are in the Ecosystem)"
I was looking at Kubeflow to understand who working with it yesterday.  I thought it might be helpful for others as well who want to look at what solutions are available in the market.   Realy it would be good to have a section on the website which looks at the Kuebflow ecosystem.     It also helps show momentum

I did not add it bellow but also track  VAR, System integrator Consutlanting Firms as

[2020-06-29 14:03] jlewi commented on #2024
This a great list; any interest in opening up a PR to add it to the website?

/cc @8bitmp3

[2020-06-29 14:06] jlewi commented on #2022
@8bitmp3 I think the problem we run into with project boards is permissions. See: kubeflow/community#314. I think write permission is needed in order to add issues to project boards.

[2020-06-29 15:28] PatrickXYS opened #2026 "[AWS] AWS provide ECR Kubeflow Notebook Container Image for AWS users"
Since the PR (https://github.com/kubeflow/manifests/pull/1155) has been merged, AWS now support ECR Kubeflow Notebook Container image, which pre-installs dependencies:

* AWS CLI / SDK
* AWS Kubeflow Workshop Repo
* Default Kubeflow Notebook Container Image dependencies

Note: more dependencies will be added later.

This needs to be documented after Kubeflow 1.1 release.

[2020-06-29 15:29] PatrickXYS commented on #2026
/assign
/cc @Jeffwan

[2020-06-29 18:56] monil536 opened #2027 "MINI-KF Behind the Proxy"
The give documentation doesn't cover the minkube flow installation using vargant on corporate network / behind the proxy.

[2020-06-29 23:29] jlewi commented on #1984
@8bitmp3 and @RFMVasconcelos any update on this?

One idea would be to go through and add banners like this one indicating the page is outdated
https://master.kubeflow.org/docs/gke/deploy/delete-ui/

If we could script that and add it to every page; that might not be a bad way to force every page owner to review their docs and update them for 1.1

[2020-06-30 01:50] g-angstrom commented on #2024
What is the website developed in markdown?  You also want to have a section  I do not mind doing set of edit.

Update List  I found a few more new items

# External Tool and Framework which integrate with Kubeflow

### FeatureStore
- Hopsworks Feature store https://www.logicalclocks.com/event/hopsworks-feature-store-for-kubeflow-and-on-premises-clusters-hadoop
- Feast - in development

### Editor

[2020-06-30 14:44] 8bitmp3 commented on #2024
@gstoner @g-angstrom @jlewi I am with you. I suggest we make this explicit, so it's easily identifiable on the site. The less steps someone has to take by browsing through "nested folders" the better, IMHO. Some of the best open source projects I've been using have relatively simple websites/docs with intuitive navigation.

Because the word "Ecosystem" may be too broad (it's a good word though), I

[2020-06-30 15:04] 8bitmp3 opened #2029 "Add common Kubeflow Common Gotchas section"
Add a section listing common issues and workarounds, such as:

Deploying Kubeflow to an existing GKE cluster on to a specific node-pool (see this Google Group [post](https://groups.google.com/forum/#!topic/kubeflow-discuss/faq9kEBOJzE)):

https://github.com/kubeflow/gcp-blueprints/issues/53

@jlewi

(This is similar to "Common Gotchas" in another OS project.)

[2020-06-30 15:55] g-angstrom commented on #2024
That sound good to me, I edit with my gstoner github profile,  g-angstrom is for my job.   I will say  I really like the project,

Here some recent new on Kubeflow as well
Some recent market activities
    AWS
•	AWS SageMaker recently announced it integration into Kubeflow  https://aws.amazon.com/blogs/machine-learning/introducing-amazon-sagemaker-components-for-kubeflow-pipelines/
     D2IQ ( For

[2020-07-01 18:38] 8bitmp3 commented on #1984
@jlewi regarding streamlining Kubeflow's [Getting Started](https://www.kubeflow.org/docs/started/getting-started/) section

I think it's about reducing cognitive overhead.

Although Kubeflow and Kubernetes are not simple, but maybe we can merge a few paragraphs/pages and rework the order of things to decrease UX "friction". I can start a draft PR while @jlewi can review changes as they are impleme

[2020-07-01 23:35] jlewi commented on #1984
@8bitmp3 That sounds great. My ask is that we create separate issues to discuss specific refactorings. Lets use this issue to track getting the docs ready for 1.1. Streamlining Kubeflow's Getting Started section isn't really blocking that so lets discuss in a separate issue.

[2020-07-02 14:25] RFMVasconcelos commented on #1984
Hi @8bitmp3, nice overview! There seems to be space to improve there.

@jlewi I can add the "outdated" banners to every page on the v1.1 branch and submit a PR. What do you think?

[2020-07-03 17:02] jbottum commented on #2024
@g-angstrom thanks for collecting and organizing this material, very impressive.  I think you are moving in the right direction and that we should organize some folks to help.  Maybe we can ask for support at the Kubeflow Community meeting ?  In addition, we have a Kubeflow Product Management meeting on Tuesdays at 10am PST, which might be a good place to discuss (in length).   A few things that w

[2020-07-03 17:27] g-angstrom commented on #2024
yes,  that was raw data list and aware of it,   It was a bit of work finding it all as you can imagine.

Yes it now needs descriptor, data, metadata, and tags

On Categories  here is starting list you can work with

- AI Data Science Platform
- Feature Extraction and Database
- Model/Data/Metadata Management & Versioning
- Model Registry
- Model Serving
- Model Prep/Prototyping
- Experiment Tracki

[2020-07-04 02:49] jlewi commented on #1984
@8bitmp3 responding to your [question](https://github.com/kubeflow/kubeflow/issues/5022#issuecomment-653690915) we could definitely use your help driving the docs for 1.1.

Could you take a look at https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md and see what steps remain?

[2020-07-06 04:20] #1789 closed

[2020-07-06 15:58] amygdala commented on #1653
let's keep open

[2020-07-06 15:59] amygdala commented on #1567
keep open

[2020-07-06 15:59] amygdala commented on #1788
keep open

[2020-07-07 16:23] #959 closed

[2020-07-09 08:01] wardVD opened #2033 "Deploying Kubeflow: how to without OAuth?"
There are multiple mentions of not having to use OAuth for setting up Kubeflow, but step 7 on [this page](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) does not give you an alternative if you haven't done this...

![image](https://user-images.githubusercontent.com/2136274/87013504-0a16a700-c1cb-11ea-914e-fd3827d91bf9.png)

[2020-07-09 12:21] tomalbrecht opened #2035 "Deploying microk8s v1.18 kubeflow for remote connections"
It took some time for me to find a solution. Maybe you would like to extend the documentation? I'd do it myself, but I am not up to date with web-development.

Let's say I have a machine with GPU I want to install microk8s (v1.18) with kubeflow enabled on. This machine should work as a "server" and accept incoming traffic on kubeflow dashboard. Microk8s now has a way to configure this - even it's

[2020-07-09 21:38] jbottum commented on #2024
@g-angstrom Hey Gregory - I propose that we set-up some time to discuss.   Are you open tomorrow (Friday) for a call ?  Josh, josh.bottum@arrikto.com

[2020-07-10 12:10] g-angstrom commented on #2024
@jbottum set you an email on this

[2020-07-13 04:39] #1840 closed

[2020-07-13 04:39] #1825 closed

[2020-07-13 04:39] #1758 closed

[2020-07-13 04:39] #1687 closed

[2020-07-13 04:39] #1626 closed

[2020-07-13 04:39] #1625 closed

[2020-07-13 04:39] #1598 closed

[2020-07-13 04:39] #1616 closed

[2020-07-13 13:39] #1805 closed

[2020-07-14 13:31] Bobgy opened #2036 "Visualize Results in the Pipelines UI outdated"
https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

The sample no longer exists. We need to update the description.

/cc @jingzhang36

[2020-07-14 13:31] Bobgy commented on #2036
also
/cc @rmgogogo

[2020-07-14 13:31] Bobgy commented on #2036
/assign @Bobgy

[2020-07-14 13:33] Bobgy commented on #2036
Also

The tfma component link is outdated too

[2020-07-15 03:33] tks-ai opened #2037 "Add Notice to Code Ready Containers (CRC) Cluster"
https://www.kubeflow.org/docs/openshift/install-kubeflow/

When install to a Code Ready Containers Cluster
there is an extra overlay in kfctl_openshift.yaml line 123

`# - crc # If you're running on Code Ready Containers (CRC), you will need this overlay to work around issue https://github.com/code-ready/crc/issues/814`

which is commented out by default.
After some research i realize this should

[2020-07-15 04:25] PatrickXYS commented on #836
/lifecycle-frozen

[2020-07-15 20:14] ricoms opened #2038 "Install Kubeflow"
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_aws_cognito.v1.0.2.yaml, does not exist, gives `404: Not Found`

[2020-07-15 20:17] ricoms commented on #2038
sorry, very simple mistake. The comma "," is included in the link. I'll create a PR

[2020-07-16 03:09] anupash147 opened #2040 "How to enable caching is missing"
In the section : https://www.kubeflow.org/docs/pipelines/caching/#enabling-caching. It is assumed that we check caching is enable but no way technique is given what to do if caching is not enabled!!  Bummer right

[2020-07-17 09:08] linkvt opened #2042 "Contradiction in supported k8s versions"
Hi,

there documentation of the supported k8s versions is contradictory: https://www.kubeflow.org/docs/started/k8s/overview/

It says

But shows kubeflow being usable up to 1.18 in the table below.

Thanks

[2020-07-17 14:46] #1623 closed

[2020-07-17 14:46] #1878 closed

[2020-07-17 15:39] RFMVasconcelos commented on #1984
Hi @8bitmp3 how is progress on this? Would you like some help on my side?

[2020-07-19 19:39] jlewi opened #2044 "Document how to spin up a web application on a Kubeflow cluster"
One of the things that's really useful about Kubeflow is that the Kubeflow deployments will take care of setting up secured ingress behind which you can easily setup and deploy web applications like TensorBoard, Tektkon, a custom flask app, etc...

We should document this process.

The process basically consists of 3 steps

1. Create a K8s resource (Deployment, Statefulset, etc...) to deploy your

[2020-07-21 13:05] jlewi commented on #1984
@8bitmp3 @RFMVasconcelos Any update on this?

[2020-07-21 14:51] shawnzhu opened #2046 "[IBM Cloud] Provides guide on how to use ibm container registry in Kubeflow"
I've got several questions on how to work with [ICR](https://www.ibm.com/cloud/container-registry) in a Kubeflow deployment in IBM cloud. The use cases are:

1. Pull container images from ICR in kfdef kustomize configuration when deploying Kubeflow in IBM cloud
1. Allows application containers to run with container images from ICR - both pull from and push to ICR

[2020-07-21 14:52] shawnzhu commented on #2046
/cc @adrian555

[2020-07-21 14:53] shawnzhu commented on #2046
This could be part of https://github.com/kubeflow/website/issues/2000 where it includes guides on securing kubeflow on IBM Cloud

[2020-07-21 15:11] shawnzhu commented on #2000
Things in my mind:

1. [ ] expose kubeflow dashboard via HTTPS by ingress gateway
1. [ ] authenticate kubeflow user via [IBM Cloud AppID](https://cloud.ibm.com/catalog/services/appid) (which will simplify the installation process with more flexibility) instead of dex (documented path)
1. [ ] uses ICR - #2046

@adrian555 @animeshsingh any comments?

[2020-07-21 15:20] RFMVasconcelos commented on #1984
Hi @jlewi, so far I've added the "outdated" banners.

It seems like this still needs to happen, correct? I am happy to take on parts of this task, though I'd only be able to focus on it from Friday onwards. Would that work?

@8bitmp3
- did you start the release process in any way?
- did you create a new issue for this -> https://github.com/kubeflow/website/issues/1984#issuecomment-652582964.

[2020-07-21 16:29] 8bitmp3 commented on #1984
@RFMVasconcelos yes, definitely. Where do we start on the docs site here https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md? I can't see what has been done and what needs to be done, since it's new to me. Also, later on we should probably update the release process overview - it may appear overwhelming or heavy on the cognitive load for new people like me.

It's in the works!

[2020-07-21 23:38] #2038 closed

[2020-07-22 22:06] michaelwsherman opened #2048 "TensorFlow Serving Istio Example Doesn't Inject Sidecar"
https://www.kubeflow.org/docs/components/serving/tfserving_new/

Sorry if this sounds dumb, still learning Kubeflow/Kubernetes/Istio.

I'm working through this example and having some problems. Generally, the instructions (I'm using GCP) are a bit hard to follow when it comes to the necessary manifest changes. But the bigger issue is that, at least with Kubeflow on GCP, sidecar injection doesn't w

[2020-07-23 05:35] #1534 closed

[2020-07-24 13:57] rajivsam opened #2053 "Metadata"
https://www.kubeflow.org/docs/components/metadata/

Step 2 for installing the metadata component is incomplete. Please update and provide the complete commands. Right now it is:
cd manifests/metadata
kustomize build overlays/db | kubectl apply -n kubeflow -f -

Not sure what follows after "... kubeflow-f -"

[2020-07-24 15:46] RFMVasconcelos commented on #1984
I believe @jlewi is counting on the 2 of us to drive this. I'm also new to the system though.

- What would be the best way for us to sync efforts?

[2020-07-24 17:26] 8bitmp3 commented on #1984
Ah, cool @RFMVasconcelos Check your inbox 🙌 cc @jlewi

[2020-07-25 03:11] #1593 closed

[2020-07-25 03:11] #1903 closed

[2020-07-25 03:11] #1643 closed

[2020-07-25 03:11] #1669 closed

[2020-07-25 03:11] #1670 closed

[2020-07-25 03:11] #1718 closed

[2020-07-25 03:11] #1735 closed

[2020-07-25 11:42] RFMVasconcelos commented on #1984
@8bitmp3 this week's community meeting is at 1:30 am for me, I believe that for you as well.

Next week I'm OOO, which might delay this effort :/

I'd suggest meeting on Monday July 27th -> https://meet.google.com/skg-iebf-kon

I'm available all morning (UK time) or 3pm to 4pm, then only after 6:30pm.

Anyone is welcome to join!

[2020-07-25 11:42] RFMVasconcelos commented on #1984
This way we can organize our efforts to roll this out asap 🚀

[2020-07-25 12:32] 8bitmp3 commented on #1984
3pm sounds good! @RFMVasconcelos @jlewi 🚀🙌

[2020-07-26 03:14] #1113 closed

[2020-07-26 03:14] #208 closed

[2020-07-26 06:14] #1508 closed

[2020-07-26 09:14] #746 closed

[2020-07-26 20:14] #592 closed

[2020-07-26 20:14] #738 closed

[2020-07-27 00:14] #1439 closed

[2020-07-27 06:17] #18 closed

[2020-07-27 12:35] 8bitmp3 opened #2057 "Istio versions in each Kubeflow guide"
**Proposal:**

To ensure users don't get confused which version of Istio to deploy with Kubeflow, we should explicitly mention which version of Istio is supported at Kubeflow. Some YAML files in user guides already provide some info, but it may not be obvious enough
for (most) users, IMO.

Istio versions vary from platform to paltform (see https://github.com/kubeflow/manifests/issues/1169#issuecom

[2020-07-27 15:10] 8bitmp3 commented on #1984
@jlewi So, @RFMVasconcelos and I are happy to help with the docs for the Canonical side and other platforms.

ToDo:

- Let's arrange a quick call with @jlewi to understand what needs to be done right now for v.1.1 (in the context of https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website) with Jeremy and other product folks, if necessary.
- Timing: unlike the KF

[2020-07-28 00:12] jlewi commented on #1984
hi @RFMVasconcelos @8bitmp3

So the first item would be

Is the doc content up to date? If not can we file P0 bugs against the content project owners?

Looking at https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website:

* master.kubeflow.org has been created
*  If you look at master.kubeflow.org the version menu is still missing the 1.1 version
   * So we need t

[2020-07-28 00:29] jlewi commented on #1984
Based on OWNERs: https://github.com/kubeflow/website/blob/162724186116eeeef1cba08d410376baa2debf49/OWNERS#L1
@animeshsingh @rmgogogo @joeliedtke might also be able to help answer questions.

[2020-07-29 05:25] #2046 closed

[2020-07-29 18:58] Jeffwan opened #2061 "Update AWS installation docs for v1.1.0"
We want to roll out some doc changes to adopt latest manifests for v1.1.0 release.

- [x] #2014
- [x] #2026
- [x] #2063
- [x] Updates Installation guidance to use latest v1.1-branch manifests and kfctl

[2020-07-29 19:23] Jeffwan commented on #1984
https://github.com/kubeflow/website/issues/2061 Create one issue for AWS. we will finish doc by eod

[2020-07-29 19:35] PatrickXYS commented on #2061
The issue will be addressed by this PR: https://github.com/kubeflow/website/pull/2015

[2020-07-29 21:18] Jeffwan opened #2063 "[AWS] Document the way to use KFP sdk in notebook server"
In cluster communication is not working in current multi-user pipeline.

It requires sdk talk to ingress gateway which means we need authenticate enabled.

AWS has two manifests

- generic manifest using dex
- cognito  -> there's one PR pending.

We should document everything to let user know this limitation

[2020-07-29 21:46] #2014 closed

[2020-07-30 00:55] adrian555 commented on #1984
Created one PR #2064 to add the operator info

[2020-07-30 10:50] #1888 closed

[2020-07-30 10:50] #866 closed

[2020-07-30 12:11] RFMVasconcelos commented on #1984
hi @jlewi, @8bitmp3,

I have updated the outdated banners with a new PR -> #2066

I have also updated versioning and added v1.0 to the drop-down menu -> #2067

As for steps 5 & 6 in [instructions](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch), I need a bit more guidance on how to update them.
* Wha

[2020-07-31 01:41] PatrickXYS commented on #2026
/close

[2020-07-31 01:41] #2026 closed

[2020-07-31 05:16] jlewi commented on #1984
Thanks @RFMVasconcelos we are testing KF on GKE 1.16 so we can say KF is tested and validated on 1.16. I think I saw some issues saying that 1.18 has issues. For the other versions we can say no known issues.

[2020-07-31 14:45] jlewi commented on #1968
Docs have been updatedd.
https://master.kubeflow.org/docs/gke/deploy/deploy-ui/

[2020-07-31 14:45] #1968 closed

[2020-07-31 17:51] Jeffwan commented on #1984
https://github.com/kubeflow/website/pull/2065 AWS is ready for 1.1 release. We don't have extra works and please help approve the website change.

[2020-07-31 20:13] adrian555 opened #2069 "[IBM] Update the multi-user instructions"
The current multi-user instructions need to be updated.

1) the dex configmap example does not work as is, could be due to the format.
2) the explanation of using `localhost:8080` as the URL.
3) in long run, we should use IBM backed ID to authenticate.

For release 1.1, we should at least finish 1) and 2).

[2020-07-31 20:13] adrian555 commented on #2069
/assign @shawnzhu

[2020-07-31 20:13] adrian555 commented on #2069
cc @animeshsingh

[2020-07-31 23:23] animeshsingh commented on #2069
also make multi-user Pipelines a key focus from docs perspective

[2020-08-01 01:41] shawnzhu commented on #2069
I will document how to enable HTTPS under #2000 so that it can support the KFP multi-user requirement for using a secure public endpoint.

[2020-08-01 04:50] abhishekvermasg opened #2070 "Deploy using MiniKube on Linux"
https://www.kubeflow.org/docs/started/workstation/minikube-linux/

This instruction gives error and yet, no workarounds or anything helpful has been written here regarding this.

kfctl apply -V -f ${CONFIG_URI}

[2020-08-03 14:34] shawnzhu commented on #2069
@adrian555 My plan in order:

1. [ ] cover the HTTPS setup plus dex updates #2071
1. [ ] document requirement brought up by KFP multi-user feature.
1. [ ] prefer IBM Cloud AppID to Dex - involve changes to kubeflow/manifests

[2020-08-03 18:41] jlewi opened #2075 "Jupyter notebooks should be moved under components"
Right now jupyter-notebooks appear as top level item in the left hand navigation.

All the other applications are under the components of Kubeflow section.

Is there a reason to treat notebooks differently?

Can we move them into the components of kubeflow sections.

/assign @kimwnasptd
/assign @StefanoFioravanzo

@kimwnasptd and @StefanoFioravanzo as the owners of notebooks could you please look

[2020-08-03 18:43] jlewi opened #2076 "Why are pipelines docs not under components?"
The pipelines docs appear to be split

There is a top level page for pipelines and then there is a page under components of kubeflow?

Could we move all of the pipelines docs under components of Kubeflow so that it is more consistent with how we handle the other applications in Kubeflow?

/assign @joeliedtke
/cc @Bobgy

[2020-08-03 18:44] jlewi opened #2077 "Move fairing docs into components of kubeflow section"
Right now fairing is a top level directory in the left hand navigation whereas all other applications
appear under the components of Kubeflow section.

Can we move fairing into the components of kubeflow section so its consistent with other applications?

/assign @jinchihe

[2020-08-04 06:30] jinchihe commented on #2077
OK. Will do that. Thanks @jlewi

[2020-08-04 08:30] kimwnasptd commented on #2075
I'll take a look on this one.

@jlewi wrt the OWNERS file, did you mean to create one kubeflow/website or in kubeflow/kubeflow? With a quick glance on kubeflow/website I don't see any other OWNERS files.

[2020-08-04 13:50] #2077 closed

[2020-08-04 13:53] jlewi commented on #2075
I mean in kubeflow/website you should create an OWNERs file to cover the jupyter docs and reflect ownership of those docs.

[2020-08-04 15:12] #2061 closed

[2020-08-04 15:34] jlewi commented on #1984
At the meeting we decided we will flip over the website to the 1.1 docs as soon as the KFP docs are updated to reflect multi-user.

@Bobgy Are the docs already updated for multiuser or can we get them updated.

[2020-08-04 15:54] Jeffwan commented on #2063
This has been address in master docs. Waiting for 1.1 switch.

[2020-08-04 15:54] #2063 closed

[2020-08-04 15:56] Jeffwan commented on #2005
This is reasonable request, we can simplify this part for sure.

[2020-08-04 16:11] ricoms opened #2081 "[Kubeflow Community Meeting] Automate everything, even documentation! docs that are "self-testable" and OWNER files that replicate?"
From Kubeflow Community Call Meeting 2020-08-04

From the participants of the meeting, it raised a couple of "experimental" and possible solutions to documentation issues:

* 1st The goal would be to create self-testable documentation. Basically the document should contain code that complements the raw comments or text, and that code is automatically run (ci/cd) and tested before merging to the do

[2020-08-05 11:33] Bobgy commented on #1984
I have been writing docs full time in recent days.
I have one more item to finish, it will need 1 day for review. So I am targetting end of this week.

[2020-08-05 11:55] Bobgy commented on #2076
I don't think we have bandwidth to handle this within current timeframe.
There are links from other websites that point to documentation here too

[2020-08-05 13:08] vpavlin commented on #1756
Hi, I have just noticed this when the stale bot pinged - we do not plan to provide any guidance on how to install KF on OPenShift 3.11 - the version Kubernetes running there is quite old and all our resources are focused on OpenShift 4.

[2020-08-06 09:52] Bobgy opened #2091 "Remove Kubeflow 0.6 section in Authenticating Kubeflow to GCP?"
https://www.kubeflow.org/docs/gke/authentication/

Shall we remove the section about "Kubeflow v0.6 and before: GCP service account key as secret"?
I think it's been a while, keeping it on the page is only getting confusing. We can just mention workload identity now.

/assign @jlewi
What do you think?

[2020-08-06 16:03] #2069 closed

[2020-08-06 21:05] 8bitmp3 commented on #1984
I understand there're still quite a few moving parts with various stakeholders. I've just reviewed a couple of fairly large PRs (https://github.com/kubeflow/website/pull/2056 and https://github.com/kubeflow/website/pull/2071).

[2020-08-06 21:19] 8bitmp3 commented on #1984
I've also reviewed https://github.com/kubeflow/website/pull/2019 @RFMVasconcelos which is related to another PR of yours.

[2020-08-07 02:19] Bobgy commented on #1253
/reopen

We still want this open.
Also FYI, we have already provided a platform agnostic env: https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/platform-agnostic. It should be good for general installation.

[2020-08-07 04:25] ShaneZhong opened #2095 "Link on this website no longer supported"
https://master.kubeflow.org/docs/gke/deploy/deploy-ui/

[2020-08-07 06:38] matphilippe commented on #2021
This issue is relevant outside of the scope of `ContainerOps`.
In the .yaml files defining `components`, it looks like we need to specify dedicated `outputs` and `fileOutputs`, as shown below:
[code]
I got this from the [confusion matrix example](https://github.com/kubeflow/pipelines/blob/master/components/local/confusion_matrix/).

In this regards, the text about `fileOutputs` in the [kubeflow co

[2020-08-07 13:02] jlewi commented on #2091
@Bobgy  LGTM

[2020-08-07 13:04] jlewi commented on #2076
@Bobgy I believe you can create redirects for the old pages
https://github.com/kubeflow/website/blob/master/content/en/_redirects

I don't think it is blocking

/cc @joeliedtke

[2020-08-08 00:07] Bobgy commented on #1984
KFP multi-user doc all clear
@jlewi

[2020-08-10 07:32] Bobgy commented on #2040
/assign @Ark-kun

[2020-08-10 07:33] Bobgy commented on #1996
Already updated.
Thanks!

[2020-08-10 07:33] Bobgy commented on #1996
/close

[2020-08-10 07:33] #1996 closed

[2020-08-10 07:36] #2036 closed

[2020-08-10 07:53] Bobgy commented on #2040
/area pipelines

[2020-08-10 07:54] Bobgy commented on #2033
"not having to use OAuth for setting up Kubeflow" is no longer supported

[2020-08-10 11:59] anton-wundeman opened #2103 "Deploy using UI"
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/

The link is broken:
https://master.kubeflow.org/docs/gke/deploy/deploy-ui/deploy-cli.md

[2020-08-10 14:06] jlewi commented on #1984
* www.kubeflow.org is now pointing at the 1.1 docs
  * e.g https://www.kubeflow.org/docs/gke/deploy/
* https://v1-0-branch.kubeflow.org/  is pointing to the 1.0 docs

@rui5i @8bitmp3 Now that the 1.0 branch is published we should be able to updown the version selector to include the 1.0 docs. Could one of you please send a PR to do that?

[2020-08-10 14:10] 8bitmp3 commented on #1984
Just reviewed @Bobgy 's PR https://github.com/kubeflow/website/pull/2101 - it's a guide (KF v1.1) on Updating Kubeflow Pipelines deployment on Google Cloud

[2020-08-10 14:14] 8bitmp3 commented on #1984
@jlewi I'm sure @rui5i or I can assist 👍 Can you point us (especially me) to the steps in https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch ? Thank you for all the help

[2020-08-10 14:46] jlewi commented on #1984
@8bitmp3 Its step two updating config.toml

[2020-08-10 15:02] 8bitmp3 commented on #1984
Finished (final) review of KFP installation on kind, k3s and k3s on WSL (Windows) https://github.com/kubeflow/website/pull/2056#pullrequestreview-464291545

[2020-08-11 07:33] jacquev6 commented on #2042
The commit introducing the inconsistency is https://github.com/kubeflow/website/commit/e6af138fab10786a95246b05fea3cd0c62415897. Its message states that "Kubeflow 1.0 is
compatible with Kubernetes 1.16".

[2020-08-11 10:28] terrytangyuan commented on #1924
This should not be closed. We need. solution for this.

[2020-08-11 12:26] jlewi opened #2108 "About pages need OWNERs file"
https://github.com/kubeflow/website/tree/master/content/en/docs/about

This directory needs an OWNERs file.

It also looks like the pages are due for a refresh to get rid of the outdated banner.

/cc @Bobgy @joeliedtke @jbottum @8bitmp3

[2020-08-11 12:30] jlewi opened #2109 "Need OWNERs file in subdirectories of docs"
Most of the subdirectories in docs  lack owners files
https://github.com/kubeflow/website/tree/master/content/en/docs

Each of these directories should probably have an OWNERs file indicating who is responsible for the docs.

@8bitmp3 and @RFMVasconcelos could you help drive this?

[2020-08-11 14:32] 8bitmp3 commented on #2109
@jlewi 💯

Just to be clear: we should create an `OWNERS` file in each sub-directory (without a suffix/extension). This will be similar to what we've got in `/kubeflow/kubeflow/blobl/master/OWNERS`, such as:

[code]

- To implement this, we can have one draft PR that encapsulates all `OWNERS` file additions to [`/kubeflow/website/docs`](https://github.com/kubeflow/website/tree/master/content/en/doc

[2020-08-11 17:01] RFMVasconcelos commented on #2109
Hi @jlewi, @8bitmp3 this looks cool, happy to help drive!

[2020-08-11 17:14] animeshsingh commented on #1984
@shawnzhu @adrian555 @vpavlin this page might need an update from your perspective
https://www.kubeflow.org/docs/started/getting-started/

[2020-08-11 18:29] adrian555 commented on #1984
@jlewi and @animeshsingh, do you know who are maintaining the [istio](https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_k8s_istio.yaml) and [istio-dex](https://github.com/kubeflow/manifests/blob/v1.1-branch/kfdef/kfctl_istio_dex.yaml)? There are not v1.1.0 version for these two. If no plan to maintain a v1.1.0 version, I will have to use a different kfdef for the [kfctl guide](htt

[2020-08-11 20:50] #1911 closed

[2020-08-11 20:50] #1915 closed

[2020-08-11 23:04] jlewi commented on #1984
@adrian555 Primary owners of the istio dex configs should be @krishnadurai and @yanniszark

[2020-08-11 23:07] jlewi commented on #2109
@8bitmp3 However, you want to do it sounds good to me. Breaking it up into many PRs might help so you don't get blocked waiting on the tail end of approvers.

[2020-08-11 23:08] jlewi commented on #1984
@8bitmp3 and @RFMVasconcelos Can we prioritize updating config.toml so the versions drop down shows the link to the 1.0 docs? Right now users can't find the 1.0 docs. Someone is asking about this in slack.

[2020-08-12 01:08] 8bitmp3 commented on #1984
@jlewi 👍 https://github.com/kubeflow/website/pull/2111

[2020-08-12 04:55] jagadeeshi2i opened #2116 "Installing kubeflow without istio"
I've tried installing kubeflow without istio. I used following the link: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ and ran into this error: `TLS match must have at least one SNI host`. Using `kfctl_aws.yaml` from manifests in AWS EKS. My requirement is to run KFserving with Kubeflow.

[2020-08-12 04:56] jagadeeshi2i opened #2117 "service "istiod" not found"
I tried following KF docs to install Istio along with kubeflow and it throws the following error: `Internal error occurred: failed calling webhook "validation.istio.io": Post https://istiod.istio-system.svc:443/validate?timeout=30s: service "istiod" not found`. Link: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

[2020-08-12 13:59] mcantrell opened #2121 "Error running through GCP Project Setup"
https://www.kubeflow.org/docs/gke/deploy/project-setup/

[code]

Executing this step generates the following error:

[code]

I've verified that the project exists and the meshconfig api is enabled for it.

[2020-08-12 14:04] KatyaRuth opened #2122 "Where to host the docker image?"
This help article specifies the RUN cmd you need, but it's very unclear what to do once I have specified a docker image. I have a docker image with all my dependencies and it ends with the needed RUN cmd. But when I click on "Custom Image" on the create new server page, it wants a string to a docker image. Does it want a link to a Dockerfile? Does it want the fully qualified path to an already bui

[2020-08-12 14:17] mcantrell commented on #2121
Creating a temporary cluster seems to make the error go away.

[code]

I'm just dipping my toes into the anthos water here so I'm not entirely sure if this expected 🤷

[2020-08-12 15:18] amygdala opened #2123 "error in management cluster setup instructions"
https://www.kubeflow.org/docs/gke/deploy/management-setup/

Either this page needs to first indicate to run `make set-values` prior to `make-apply`, or `set-values` should be added to the `apply` def in the makefile.

[2020-08-12 15:19] amygdala commented on #2123
(cc @Bobgy )

[2020-08-12 17:35] amygdala commented on #2123
addressed by https://github.com/kubeflow/website/pull/2118 (which subsumes my above-mentioned PR)

[2020-08-12 23:50] #2091 closed

[2020-08-13 04:23] condaatje opened #2129 "Bug in IBM cloud kubeflow installation"
`kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80`

as listed at [https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#verify-installation](https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#verify-installation) returns error:

 `Error from server (NotFound): namespaces "istio-system" not found`

[2020-08-13 08:14] condaatje commented on #2129
Appears to be from missing istio system. Can close if that sounds right.

[2020-08-13 13:50] jlewi commented on #2081
Might be worth looking at fastpages.
https://github.com/fastai/fastpages

Fast pages allow you to turn notebooks into pretty web pages. You can then build CI around the notebooks.

[2020-08-13 14:49] 8bitmp3 commented on #2081
Thanks for sharing @ricoms. We're all in different time zones and this really helps.

- The TensorFlow docs team has a customizable `nblint` linter for Jupyter notebooks (cc @lamberta)
- Linters for Markdown (e.g. Vale and several others) can help authors and reviewers and reduce time spent on a PR - integrating one of them in CI/CD on `kubeflow/website` would be excellent
- Tools from software en

[2020-08-13 15:22] KatyaRuth opened #2130 "Does kubeflow work on 1.16 or not?"
In this doc, you have some conflicting information: https://www.kubeflow.org/docs/started/k8s/overview/

On one line, you say "Kubeflow does not work on Kubernetes 1.16."
However, in the chart below, it states that Kubeflow has no known issues with Kubernetes 1.16. So which is it? Does it not work, or are there no known issues?

It's confusing.

[2020-08-13 15:52] 8bitmp3 commented on #2130
@KatyaRuth Thanks for bringing this up.

It appears to have no known issues, is compatible, but not validated by CI: https://github.com/kubeflow/website/pull/1933#issuecomment-625622178

Perhaps, rephrasing "Kubeflow does not work on Kubernetes 1.16" is due - WDYT @jlewi ?

[2020-08-13 15:53] 8bitmp3 commented on #2130
Also, updating that sentence can help resolve similar issues, such as https://stackoverflow.com/questions/63261483/kubeflow-1-0-on-kubernetes-1-16-compatibility

[2020-08-13 16:30] lamberta commented on #2081
Hi @8bitmp3 and all,

Yes, most technical docs on tensorflow.org are notebooks. These are tested when we generate the site and link off to Colab for users to run the notebook, for example: https://www.tensorflow.org/tutorials/quickstart/beginner [source notebook [in GitHub](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/quickstart/beginner.ipynb)].

We use `nbfmt` and `nblint` fo

[2020-08-13 17:34] Tomcli commented on #2129
@condaatje https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#verify-installation does its job to identify your Kubeflow installation is broken. Do you see any error when you run the `kfctl apply` command?

[2020-08-13 22:07] dwatrous opened #2131 "Deploy using kubectl and kpt"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

During the `make apply` step, I get the following error

[code]

[2020-08-13 22:09] jlewi commented on #2131
@dwatrous What version of kustomize are you running?

Can you try version 3.2.1: https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1

[2020-08-14 00:14] #2123 closed

[2020-08-15 03:06] #2108 closed

[2020-08-15 03:27] #1918 closed

[2020-08-15 03:27] #1828 closed

[2020-08-15 21:23] 8bitmp3 commented on #2109
fyi I'm making a comprehensive list of:

- `docs` directories and subdirectories with `OWNERS` files + corresponding (open/closed) PRs
- `docs` directories and subdirectories that should be updated (and a list of potential approvers based on the commit history)

cc @jlewi

[2020-08-16 19:06] aytuns opened #2134 "difficult"
steps are difficult for beginners to follow

[2020-08-16 19:12] amygdala commented on #1954
let's keep open, still worthwhile...

[2020-08-16 20:29] 8bitmp3 commented on #2134
Hey @aytuns Thanks for raising the Issue here. Can you please provide the links to the docs you used and the general nature of the task(s) you're trying to accomplish with Kubeflow/Kubeflow Pipelines? We'd love to help you and improve the documentation. Cheers!

/assign @8bitmp3

[2020-08-16 20:30] 8bitmp3 commented on #2130
/assign @8bitmp3 @Bobgy

[2020-08-16 20:32] 8bitmp3 commented on #2121
Cheers@mcantrell!Do you think we can improve the steps (maybe add a "Note" pointing to your workaround)?

Btw, @Bobgy is with GCP.

/assign @Bobgy @8bitmp3

[2020-08-16 20:35] 8bitmp3 commented on #2117
Hey @Jeffwan @PatrickXYS @ricoms. Can one of you please take a look at this Issue if you can?

[2020-08-16 20:37] 8bitmp3 commented on #2117
/assign @Jeffwan

[2020-08-16 20:47] 8bitmp3 commented on #2116
Hi @Jeffwan @PatrickXYS can you please help if you can? @jagadeeshi2i used "`kfctl_aws.yaml` from manifests in AWS EKS". Thanks!

/assign @Jeffwan @PatrickXYS
(from the `docs/aws` `OWNERS` file)

[2020-08-16 20:48] 8bitmp3 commented on #2103
Hi @anton-wundeman Thanks for bringing this up, appreciate it!

/assign @Bobgy @8bitmp3 @RFMVasconcelos

[2020-08-16 20:51] 8bitmp3 commented on #2103
@anton-wundeman For Kubeflow 1.0, the link to deploying with UI is: https://v1-0-branch.kubeflow.org/docs/gke/deploy/deploy-ui/ (you can switch branches in the docs to find the guides to older KF versions).

As far as I know, from Kubeflow 1.1:

Similar Issue https://github.com/kubeflow/website/issues/2095.

Does this resolve the Issue?

[2020-08-16 20:52] 8bitmp3 commented on #2095
@anton-wundeman For Kubeflow 1.0, the link to deploying with UI is: https://v1-0-branch.kubeflow.org/docs/gke/deploy/deploy-ui/ (you can switch branches in the docs to find the guides to older KF versions).

As far as I know, from Kubeflow 1.1:

(It should say that in the docs).

Similar Issue https://github.com/kubeflow/website/issues/2103

/assign @Bobgy @8bitmp3 @RFMVasconcelos
cc @jlewi

[2020-08-16 20:57] 8bitmp3 commented on #2042
@linkvt Thanks for bringing this up. Just saw this, I'm relatively new here.

It appears to have no known issues, is compatible, but not validated by CI: https://github.com/kubeflow/website/pull/1933#issuecomment-625622178

Perhaps, rephrasing "Kubeflow does not work on Kubernetes 1.16" is due?

Also, updating that sentence can help resolve similar issues, such as
https://github.com/kubeflow/websi

[2020-08-16 20:58] 8bitmp3 commented on #2000
Hey @shawnzhu, do you know what is still outstanding after we worked on https://github.com/kubeflow/website/pull/2071 (merged)? If nothing, can you please close this Issue? Thanks!

[2020-08-16 20:59] 8bitmp3 commented on #1997
Thanks @mmwebster !

/assign @Bobgy

[2020-08-16 21:04] 8bitmp3 commented on #1940
@Jeffwan @PatrickXYS do you by any chance want to look at this? Cheers

[2020-08-16 21:05] 8bitmp3 commented on #1929
Assigning this to @Jeffwan (the author) to make sure we have Assignees here :)

/assign @Jeffwan

[2020-08-16 21:09] 8bitmp3 commented on #2057
/assign @8bitmp3

[2020-08-16 21:13] 8bitmp3 commented on #2129
(Just assigning this to IBMers from `docs/ibm/OWNERS` for formality so we don't have unassigned Issues - this should help with tracking and stale Issues)

/assign @adrian555 @animeshsingh @shawnzhu

[2020-08-16 21:16] 8bitmp3 commented on #1978
(Just assigning this to committers from `docs/started/workstation`, so we don't have unassigned Issues - this should hopefully help with tracking and stale Issues)

/assign @alfsuse @jlewi @RFMVasconcelos

[2020-08-16 21:18] 8bitmp3 commented on #1987
(Just assigning this to folks from GCP from `docs/gcp/OWNERS` for formality so we don't have unassigned Issues - hope this helps with tracking and stale Issues)

/assign @rmgogogo @Bobgy @joeliedtke

[2020-08-16 21:35] PatrickXYS commented on #2116
1. It would be great to use stable version of manifest, such as [kfctl_aws_v1.1.0](https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_aws.v1.1.0.yaml).

2. If you don't want to use istio, you need to do some customization in the manifest file, because without istio, some features will be disabled, including ingress, kubeflow central dashboard, etc.

[2020-08-16 21:36] PatrickXYS commented on #1940
Thanks @8bitmp3  for heads up.

@radhakrishnang You can follow our [EKS Kubeflow Workshop](https://github.com/aws-samples/eks-kubeflow-workshop)

[2020-08-16 21:39] PatrickXYS commented on #2117
By default, you only need to install the `kfctl_aws_v1.1.0.yaml` file and istio has already been integrated into the manifest.

Any changes did you make on your side?

[2020-08-17 05:34] Bobgy commented on #1997
@8bitmp3 let's address this separately.
/assign @jlewi
Can you take a look at this issue? I'm not familiar with the reported problem.

[2020-08-17 12:10] jagadeeshi2i commented on #2117
I was trying to install v1.0.1.

[2020-08-17 12:58] 8bitmp3 commented on #1956
Hi @knlp, just checking if there's been any progress - did you decide to make a pull request as @berndverst suggested? Thanks!

/assign @berndverst

[2020-08-17 13:01] rmgogogo commented on #1987
"The default GCP configuration needs NVIDIA Tesla K80 Accelerators and zones which provide this accelerator need to be selected. "

I may didn't get the meaning. Would you detail more?
GPU is optional to KFP. If KFP user workload wants GPU, then the cluster can have GPU node pool.
https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/gpu/gpu.ipynb

[2020-08-17 13:26] jagadeeshi2i commented on #2116
Tried installing kfctl_aws_v1.1.0.yaml. The installation did not start throwing the error.

[2020-08-17 13:43] alfsuse commented on #1978
I  wonder if we need a small section around how to use pipeline API common to all the various deployment. Something on the line [this](https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/)  but specifically for API only... I can create a Jupyter notebook and some step-by-step scripts/doc that can be referenced in other pages and used directly by the user into the environment (MiniKF,M

[2020-08-17 13:44] alfsuse commented on #2134
I can help as well @8bitmp3 feel free to assign me too!

[2020-08-17 13:57] anirbanlahiri2017 opened #2136 "Simplificity would be better"
Please provide a single pdf documentation file rather than a quagmire of hyperlinks

[2020-08-17 14:06] 8bitmp3 commented on #2134
/assign @alfsuse

[2020-08-17 14:14] jlewi commented on #1978
The KFP folks would be the best people to talk to about this.

[2020-08-17 14:30] alfsuse commented on #1980
/assign @alfsuse

[2020-08-17 14:31] alfsuse commented on #1980
@somnath1077 are you looking for an example in the doc's like how to create and run a recurring pipeline from KFP?

[2020-08-17 14:33] jlewi commented on #2095
Like the docs says, deploing with the UI is no longer supported.

[2020-08-17 14:33] #2095 closed

[2020-08-17 14:36] jlewi commented on #2103
@8bitmp3 Deploying with the UI is no longer supported even for older versions.

The link to "deploy using kustomize and kpt" appears to link to https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ which is correct; fixed by #2119

[2020-08-17 14:36] #2103 closed

[2020-08-17 15:51] RFMVasconcelos opened #2137 "New docs - Installing Kubeflow on-prem behind proxy"
As discussed in the on-prem WG, we should add docs on how to install Kubeflow behind a corporate proxy.

Jeff Fogarty shared the following steps:

I am looking for the right place in the docs to add this. Was hoping to get some suggestions.

@jlewi @8bitmp3 @Bobgy what do you think?

[2020-08-17 17:17] shawnzhu commented on #2129
Out of the step 1 of https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#verify-installation

What's the output when you run ☝️ command?

[2020-08-17 17:18] shawnzhu commented on #2000
closed by #2071

[2020-08-17 17:18] #2000 closed

[2020-08-17 21:18] Jeffwan commented on #2116
@jagadeeshi2i Did you upgrade your `kfctl` to 1.1.0?  Seems your input type in kfctl_aws.yaml doesn't work with kfctl aws plugin. I would suggest you to do an upgrade

[2020-08-17 21:27] Jeffwan commented on #1940
@radhakrishnang

You are supposed to look at  https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/ but not e2e flow.  Install kubeflow on AWS just need 4-5 command line runs. Feel free to have a try

[2020-08-18 07:16] jcRisch opened #2141 "Page "Kind started guide" not found"
Hi,

The page "Kind started guide" does not exist anymore ([https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-kind/](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-kind/)) .
The link can be found here: [https://www.kubeflow.org/docs/started/workstation/getting-started-linux/](https://www.kubeflow.org/docs/started/workstation/getting-started-linux/),

[2020-08-19 06:42] #1738 closed

[2020-08-19 06:42] #1772 closed

[2020-08-19 06:42] #1833 closed

[2020-08-19 06:42] #1849 closed

[2020-08-19 06:42] #1949 closed

[2020-08-19 06:42] #639 closed

[2020-08-19 06:42] #1947 closed

[2020-08-19 10:18] Bobgy commented on #2042
FYI, at least KFP caching won't work with 1.18 in KF 1.1.
The next KFP release 1.0.1 will fix the issue

[2020-08-19 14:36] RFMVasconcelos commented on #2141
Hi @jcRisch Thank you for pointing this out. I will create a PR to fix this.

[2020-08-20 15:02] RFMVasconcelos opened #2145 "Website metrics for docs prioritization and UX upgrades"
Following the discussion in the last community meeting, wondering if anyone can share metrics on website usage. @joeliedtke would you have/be able to share this data?

This would be quite useful for:
1. Docs prioritization / potential deletion of untapped docs that add clutter.
2. A/B testing + continuous improvement of UX

[2020-08-21 00:26] condaatje commented on #2129
Sorry guys just checking back in on this some days later to close the loop - issue was a missing istio installation. Thank you for the help.

[2020-08-21 00:26] #2129 closed

[2020-08-21 07:15] philipebuka commented on #1065
so what do  i do, I'm having this same issue and I am using the free tier

[2020-08-23 18:58] #1959 closed

[2020-08-24 01:58] #1207 closed

[2020-08-24 02:05] whillas opened #2150 "How to start multiple containers in a single step in a pipeline?"
Hi,
So i raised this question on Slack and 8bitmp3 suggested i raise it here:

I need to start 2 containers at once (or so i think)
1. to server a model
2. to pass data though it for processing

We use Triton for model serving as its fast, and ether Apache Beam job or simple python with a Triton client to push the data though the models. The ratio is not 1:1, more like 20:1 depending on the model.

[2020-08-24 07:27] jcRisch commented on #2141
I wrote [an article](https://medium.com/@jcrsch/end-to-end-kubeflow-installation-on-your-personal-computer-with-kind-baa0d72cf88) on medium describing my KF installation with Kind.

[2020-08-24 11:30] aleksandra-sp opened #2151 "Clarification on purpose of pipeline version"
Hi

It is not clear to me what the pipeline versions are supposed to be used for. I created one pipeline, with seeveral versions, each version has a yaml file in which a different container image is specified (with a different tag). However, if I try to run these pipeline versions, kubeflow consistently pulls the image specified in the yaml file of the first version I created, and not the image sp

[2020-08-24 15:24] jlewi opened #2152 "[GCP] Add to troubleshooting timeout waiting for cluster"
See: https://github.com/kubeflow/kubeflow/issues/5223#issue-681102888

Users are reporting timeouts waiting for the cluster to bee ready; e.g.

[code]

We should add instructions to the [GCP troubleshooting guide](https://www.kubeflow.org/docs/gke/troubleshooting-gke/) for how to handle that error.

The way to troubleshoot the error is to run

[code]

This should provide information on the underly

[2020-08-26 05:10] sakaia opened #2156 "Istio description on Multi-framework serving with KFServing or Seldon Core"
In the following table, istio is listed. but I think it should replace to ingress from istio in Feature and to istio from null in sub-feature for user understanding.

Multi-framework serving with KFServing or Seldon Core
https://www.kubeflow.org/docs/components/serving/overview/#multi-framework-serving-with-kfserving-or-seldon-core

[2020-08-26 10:43] radhakrishnang commented on #1940
@Jeffwan  Thanks I have set up kubeflow following eks workshop,
end to end - i am referring to kubeflow pipeline
can you guys add one more pipeline example for kubeflow to sagemaker using sklearn or tensorflow for binary classification

[2020-08-26 21:05] joeliedtke commented on #1205
/open

[2020-08-26 21:05] joeliedtke commented on #1205
/reopen

[2020-08-27 01:24] #1611 closed

[2020-08-27 05:42] ryo-matsuzaka commented on #2121
Thank you for sharing @mcantrell
I need a little bit modified like this.
[code]
I add zone.

After tun the code, I was able to finish the step 7"Initialize your project to ready it for Anthos Service Mesh installation."

[2020-08-27 06:50] ryo-matsuzaka opened #2159 "make: kustomize: Command not found"
I follow the instruction(https://www.kubeflow.org/docs/gke/deploy/management-setup/).
After running command `make apply` ,

I got the error like this,

[code]

Thus, I installed kustomize according to https://kubernetes-sigs.github.io/kustomize/installation/source/
I used the top of that in this installation guide.
`GOBIN=$(pwd)/ GO111MODULE=on go get sigs.k8s.io/kustomize/kustomize/v3`
But I got

[2020-08-27 07:06] ryo-matsuzaka commented on #2159
I directly run `kustomize build ./instance/cluster -o .build/cluster` and I got no error.
Is it okay?

[2020-08-27 07:33] #2159 closed

[2020-08-27 12:59] kd303 commented on #1034
Whats the closure comment?

[2020-08-27 13:56] Bobgy commented on #2121
I'll try to follow up on the issue

[2020-08-28 08:27] ryo-matsuzaka opened #2162 "kubectl config use-context ${mgmt-ctxt}"
At the [step](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#configure-kubeflow), I don't know what value should be passed in to `mgmt-ctxt`.

Thus, I skipped the step and I tried next steps.

- Set environment variables with OAuth Client ID and Secret for IAP
[code]

- Invoke the make rule to set the kpt setters
`make set-values`

Then, I get the following error.
[code]

Does it relate to n

[2020-08-28 08:52] #2162 closed

[2020-08-28 21:40] #1966 closed

[2020-08-29 14:30] arshashi opened #2164 "Kubeflow installation steps are not updated with kubeflow v1.1"
Kubeflow installation steps are not updated with kubeflow v1.1. URL: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#notes-on-the-configuration-file
1.  With new kubeflow v1.1 yaml file, there is no existence of the istio-crds and istio-install. and also the default password in static file doesnt exist.  Similarly with Log in with LDAP / Active Directory

This page needs modification as

[2020-08-30 12:48] kamalmemon opened #2165 "Component Specification"
https://www.kubeflow.org/docs/pipelines/reference/component-spec/

Under the Implementation header, in the description of `containers`, the link to [Container v1 spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#container-v1-core) is broken.

[2020-08-31 06:39] ryo-matsuzaka opened #2166 "[Makefile:132: hydrate-kubeflow] Error 1"
At [Deploy using kubectl and kpt](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/),
when I run `make apply`, then I got the bellow error.

[code]

How can I solve this error?
Maybe it is related to [this](https://github.com/kubernetes-sigs/kustomize/issues/2279).

[2020-09-01 05:45] Ark-kun commented on #2021
There is no contradiction. The confusion matrix is a really old component and the effort to fix it started back in 2018. https://github.com/kubeflow/pipelines/pull/580/files#diff-a65b15d94e67f77a796e4940651e5c62

Here is how the component.yaml should look like:
[code]

[2020-09-01 07:04] Ark-kun commented on #2021
/cc @Bobgy @rmgogogo

I'm having some issues with metrics reporting. The api-server shows errors in the logs:

[code]

But the artifact exists and can be downloaded from the UX
[code]

[code]

[2020-09-01 10:28] sirkkalap opened #2172 "Add requirement of dynamic volume provisioner?"
Later at https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ it is stated that "This Kubeflow deployment requires a default StorageClass with a dynamic volume provisioner."

I wonder if this should also be stated in the requirements page: https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

Or is this just specific to the Kubeflow Deployment with kfctl_k8s_istio

[2020-09-01 10:37] sirkkalap commented on #2172
I am a little bit confused at the end of the https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ page.

It seems to me that dynamic volume provisioner is after all optional. There seem to be instructions to manually manage PVs instead of dynamic volume provisioner.

Maybe the document could be clarified a bit to make it obvious if DVP is actually a requirement?

[2020-09-02 08:04] Bobgy commented on #2042
Sounds good, we should say 1.16 is supported now

[2020-09-02 08:04] Bobgy commented on #2042
hmmm, hold on the doc is asking about k8s existing deployment, @swiftdiaries @krishnadurai do you have any insights about this?

[2020-09-02 08:24] swiftdiaries commented on #2042
KF is supported on 1.16 with the both the vanilla k8s configs

[2020-09-02 15:17] rui-vas opened #2177 "[DOCS] - "Outdated" files (38/250)"
Below is a list of all the outdated files on the docs today.

There are 120 files with "Out of date" out of the 250 files under /content/en/docs/:
[code]

[2020-09-02 21:35] #1205 closed

[2020-09-03 03:02] jbottum commented on #2172
@sirkkalap Hi Petri - DVP is valuable for several workflows i.e. Do you expect to use Persistent Volumes for your data (in notebooks).   Where are you deploying i.e. GCP, AWS, other ?

[2020-09-03 12:18] 8bitmp3 commented on #2172
/assign @Bobgy

(I think @jlewi has previously committed to the doc)

It probably makes sense to add to the minimum requirements/prerequisites that the KF deployment needs a default StorageClass with a dynamic volume provisioner (DVP) - at least in the beginning of `docs/started/k8s/kfctl-k8s-istio/` (and possibly to `https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements`

[2020-09-03 17:48] jbottum commented on #2164
@krishnadurai Hey Krishna - Have you seen this issue ?

[2020-09-03 18:21] 8bitmp3 commented on #2164
@jbottum I'll set the assign label to you for now to make sure we don't have a blank "Assignees" section

/assign @jbottum

cc @Bobgy

[2020-09-04 17:55] MarcSkovMadsen commented on #2044
I am really interested in knowing how to do this for panel apps (see https://github.com/kubeflow/kubeflow/issues/5194) as well as dash, Streamlit and voila apps.

I believe this is a killer feature if it could be done easily.

[2020-09-05 09:20] RFMVasconcelos commented on #2177
@8bitmp3 @jlewi @Bobgy @joeliedtke @rmgogogo

I compiled this list of outdated docs. I did this 3 days ago, but only thought of pinging you now. Let me know how we can effectively tackle this issue 🚀

[2020-09-06 15:10] jpetazzo opened #2178 "Clarify which versions of Kubernetes are supported"
https://www.kubeflow.org/docs/started/k8s/overview/ states that "Kubeflow does not work on Kubernetes 1.16" but then the table below states otherwise.

Given that Kubernetes 1.16 is not maintained anymore (Kubernetes maintains its three latest minor releases, so as of September 2020, that's 1.17, 1.18, and 1.19) what is the recommended Kubernetes version to use Kubeflow?

Thank you!

[2020-09-06 15:31] 8bitmp3 commented on #2178
Thanks for bringing this up @jpetazzo

/assign @Bobgy @8bitmp3

cc @jlewi

@Bobgy You mentioned in https://github.com/kubeflow/website/issues/2042 v1.16 is supported now - how do we go about v1.17, v1.18, and v1.19? Cheers!

Similar issues: https://github.com/kubeflow/website/issues/2130, https://github.com/kubeflow/website/issues/2042

[2020-09-06 15:48] 8bitmp3 commented on #2042
@Bobgy I can open a PR for https://www.kubeflow.org/docs/started/k8s/overview/ (https://github.com/kubeflow/website/blob/master/content/en/docs/started/k8s/overview.md)

Current docs (note the out of date status):

[code]

1. Do we need a new Hugo shortcode name for 1.16 (https://github.com/kubeflow/website/blob/master/README.md#using-hugo-shortcodes)
- I couldn't find it https://github.com/kubefl

[2020-09-09 07:20] rmgogogo commented on #2177
Thanks Rui. Would you share how to check it's "outdated" here? I may have less knowledge on it.

Do you mean compare it with the website and website doesn't have the latest content in Github?

[2020-09-09 14:19] jlewi commented on #2177
Thanks @RFMVasconcelos

Can we identify the owners for the relevant docs and file issues for them to update the docs? Maybe you can automate the opening of GitHub issues using the GitHub CLI/API?

For locations with outdated or no OWNERs files can we try to track down the appropriate owners or WG?

[2020-09-09 18:47] shawnzhu opened #2182 "Provide options to use IBM Cloud AppID as authentication provider"
This is a follow up of #2069 and #2000

## Today

It uses dex as OIDC auth provider.

## Expected outcome

It provides configuration path to use [IBM Cloud AppID](https://www.ibm.com/cloud/app-id) as OIDC auth provider besides dex.

[2020-09-10 03:57] Bobgy commented on #2042
@8bitmp3 Thanks a PR will be helpful!

Yes, I think we should change 1.16 to compatible.
I don't think we can make a recommendation of k8s version for all platforms (each platform might be different), so probably there isn't a need to create a shortcode.

[2020-09-10 08:58] #1941 closed

[2020-09-13 20:50] 8bitmp3 commented on #1705
@Bobgy

Guide: "How to secure Kubeflow clusters using VPC service controls and private GKE"

- So, this is outdated: https://github.com/kubeflow/website/blob/master/content/en/docs/gke/private-clusters.md (site: https://www.kubeflow.org/docs/gke/private-clusters/)

- And this is @jlewi 's new doc: https://github.com/kubeflow/website/blob/master/content/en/docs/gke/private-clusters.md

If you have

[2020-09-14 13:26] jlewi commented on #2172
I think there are a couple applications that will dynamically provision a volume. For example the jupyter web app will dynamically provision a PD to use as storage for your notebook server.

The jupyter web app supports the case where you don't have a dynamic provisioner.

[2020-09-14 13:27] jlewi commented on #2172
@8bitmp3 I would suggest routing this issue to the OWNERs of kfctl-k8s-istio deployment. Is the OWNERs file up to date?

[2020-09-14 14:24] shawnzhu commented on #2182
## Requirement

In order to bring in IBM Cloud AppID as a replacement of Dex, it will need to work with existing component called _oidc-authservice_ of multi-user Kubeflow from https://github.com/arrikto/oidc-authservice it's technically working now with its previous release, but more work required ONLY if we want to integrate with latest release of [arrikto/oidc-authservice](https://github.com/ar

[2020-09-14 14:36] 8bitmp3 commented on #1705
Thanks @jlewi https://github.com/kubeflow/website/pull/2190

[2020-09-14 14:42] 8bitmp3 commented on #2172
@jlewi The OWNERS should be good for getting started guides (`docs/started/`) - we've recently refreshed it. I don't think the kfctl-k8s-istio guide (`docs/started/k8s/kfctl-k8s-istio/`) contributors - @swiftdiaries, you and @sarahmaddox - are listed there though. Shall we ask @swiftdiaries to look into this issue?

[2020-09-15 15:10] jlewi commented on #2172
https://github.com/kubeflow/website/tree/master/content/en/docs/started/k8s

Is missing an OWNERs file. We should figure out an appropriate OWNERs file and then route this issue to it.
I'm not an OWNER of this deployment platform.

I think OWNERs are @yanniszark @swiftdiaries

[2020-09-15 15:56] 8bitmp3 commented on #2172
@jlewi OWNERS added.

@yanniszark @swiftdiaries can you take a look at this issue please? Much obliged

[2020-09-15 15:57] 8bitmp3 commented on #2172
/assign @yanniszark @swiftdiaries

[2020-09-15 15:57] 8bitmp3 commented on #2172
/unassign @Bobgy

[2020-09-15 19:31] 8bitmp3 commented on #2178
@jpetazzo I think https://github.com/kubeflow/website/pull/2186#event-3769970959 should resolve this issue 👍 If so, can you close it? If there're more questions, don't hesitate to ask/reopen!

[2020-09-15 19:32] 8bitmp3 commented on #2130
Hi @KatyaRuth I think https://github.com/kubeflow/website/pull/2186/files should resolve this issue 👍 If so, can you close it? If there're more questions, don't hesitate to ask/reopen!

[2020-09-15 19:32] 8bitmp3 commented on #2042
Hi @linkvt I think https://github.com/kubeflow/website/pull/2186/files should resolve this issue 👍 If so, can you close it? If there're more questions, don't hesitate to ask/reopen!

[2020-09-15 20:16] linkvt commented on #2042
Thanks, yes this looks better!

There is still one big general thing annoying us a lot and that is the really bad support of officially supported Kubernetes versions. I know that this is a larger topic and ofc don't want this fixed here but just want to say this:

How can it be that such a popular project is not able to give an answer about the compatibility to the current [three officially suppor

[2020-09-15 20:16] #2042 closed

[2020-09-16 16:17] mnmami commented on #1068
I'd still want troubleshooting guidelines related to other DefaultPod usages, for example env var injection, which we find hard time debug and understand why it is not working during notebook creation.

[2020-09-20 17:24] #1128 closed

[2020-09-21 08:38] #2003 closed

[2020-09-22 06:50] #1705 closed

[2020-09-22 11:50] raphaelauv opened #2205 "[DOC] Missing minimum system requirements for 1.1"
https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

The Kubernetes Versions 1.1 is not present in the compatibility matrix

[2020-09-22 11:50] mmlmahesh opened #2206 "Kubeflow instllation issue on kubernetes cluster V1.18.6"
Hi Team,

I'm trying to install kubeflow on my kubernetes cluster and getting the below issue.could you please look into the issue and help.

kfctl version : 1.1(latest version)

ERRO[0712] Permanently failed applying application kubeflow-apps:  (kubeflow.error): Code 500 with message: Apply.Run : [error when creating "/tmp/kout657170533": CustomResourceDefinition.apiextensions.k8s.io "seldondeplo

[2020-09-22 11:59] Bobgy commented on #2036
Duplicate of https://github.com/kubeflow/pipelines/issues/3821

[2020-09-23 07:16] sakaia opened #2207 "[no known issues] seldon-core does not work on k8s 1.18"
This is related to **no known issues**.

Following document says **no known issues**. But Kubeflow 1.0 with k8s 1.18 matrix should be **incompatible**
https://github.com/kubeflow/website/blob/master/content/en/docs/started/k8s/overview.md

But seldon-core has reported issues on k8s 1.18 CRD incompatibility

- [(github)seldon-core-operator CRD's incompatible with K8s v1.18 #1675](https://github.com

[2020-09-23 10:57] Bobgy opened #2208 "Is application matrix outdated?"
I updated KFP status in application matrix in https://github.com/kubeflow/website/pull/2204. Because, I was removing the outdated banner, so I want to confirm if any application still has outdated information on that page: https://www.kubeflow.org/docs/reference/version-policy/.

@8bitmp3 found owners below
I began looking at the OWNERS in reach of the repos that is not KFP. Here's a list of folks

[2020-09-23 10:59] Bobgy commented on #2208
@everpeace @disktnk @davidheryanto @khorshuheng @pyalex @woop @zhilingc @gaocegege @hougangliu @johnugeorge @andreyvelich @animeshsingh @tomcli

Can you confirm whether https://www.kubeflow.org/docs/reference/version-policy/ is up-to-date for your application?

also is there a better way we can do this next time, instead of pinging everyone manually

[2020-09-23 13:27] woop commented on #2208
It's up to date for Feast. I added the documentation and versioning information specifically for 1.1. It didn't exist for 1.0.

@Bobgy do you know why the [documentation](https://www.kubeflow.org/docs/components/feature-store/overview/) says `This guide contains outdated information pertaining to Kubeflow 1.0. This guide needs to be updated for Kubeflow 1.1.` when it was only released for 1.1?

Wh

[2020-09-23 13:29] woop commented on #2208
Feast and the feature store components will now be owned by the [Feature Store SIG](https://github.com/kubeflow/community/blob/master/OWNERS_ALIASES#L2).

I was hoping that no "manual pinging" would be necessary since the docs should be up to date. But otherwise you can ping the three of us.

[2020-09-23 13:49] gtoonstra opened #2209 "Deploying Kubeflow Pipelines Standalone on a local cluster with kind, k3s, and k3s on WSL"
https://www.kubeflow.org/docs/pipelines/installation/localcluster-deployment/

At the very end after deploying kubeflow, it doesn't list the URL with which the UI can be accessed

[2020-09-23 14:42] closerforever commented on #2121
somehow, I successfully created a cluster per your code; I am still not able to finish the step 7; it gave me an error, like this:
<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 404 (Not Found)!!1</title>
  <style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{backg

[2020-09-23 19:07] 8bitmp3 commented on #2209
@gtoonstra Thanks fro raising the issue here. Can you help provide the paragraph/sentence with a missing URL? cc @alfsuse (the author). Thank you!!

[2020-09-23 19:07] 8bitmp3 commented on #2209
/assign @8bitmp3 @alfsuse

[2020-09-23 19:08] 8bitmp3 commented on #2208
To keep track of things:

/assign @8bitmp3 @Bobgy @RFMVasconcelos

[2020-09-23 19:11] 8bitmp3 commented on #2208
@RFMVasconcelos - if it's up-to-date, shall we remove the banner?

Thanks @woop !

[2020-09-23 23:47] bdlb77 commented on #2207
Per https://github.com/SeldonIO/seldon-core/issues/1675 It seems like the fix for Seldon's compatibility with v1.18 is in master and will be shipped in the next release

[2020-09-24 05:05] sakaia commented on #2207
@bdlb77 kubeflow 1.0  is planned to update seldon-core version to 1.3?

[2020-09-24 06:28] Bobgy commented on #2208
Thanks @woop for confirmation!
I've removed the banner in #2204, the banner is just some text in the markdown, you can remove it in PRs.

[2020-09-24 06:48] alfsuse commented on #2209
Hi, @gtoonstra thanks for pointing out I've created a PR to add the method to access the URL at the end of the documentation.
Great catch!

@8bitmp3 I've assigned you to the PR to review it, I've also added an alternative method to access K3s from the host when it runs on WSL2 to make the life of people easier.

[2020-09-24 09:38] DavidSpek commented on #2206
This seems to be a duplicate of https://github.com/kubeflow/manifests/issues/1543, and I was able to fix it and successfully deployed on Charmed Kubernetes 1.19. Here is the pull request for the fix: https://github.com/kubeflow/manifests/pull/1558. If you edit the kfctl_istio_dex_1.1.0.yaml locally and change near the bottom:

[code]

You should be able to deploy.

[2020-09-24 14:43] arshashi opened #2211 "kubeflow versioning page is not updated to latest one"
please share when are you going to update the version compatibility of kubeflow. as we know kubeflow v1.1 is released and we are waiting for the compatible kubernetes details to be updated along with other notes.
https://www.kubeflow.org/docs/started/k8s/overview/

[2020-09-24 16:01] 8bitmp3 commented on #2211
Thanks for bringing this up @arshashi !

@Bobgy we've recently updated the table (https://github.com/kubeflow/website/pull/2186) - let me know if it'd be safe to remove the banner that says:

Cheers

cc @RFMVasconcelos

[2020-09-24 16:38] bdlb77 commented on #2207
@sakaia  Ah correct I overlooked this. I apologize. I imagine currently a workaround would be to pull the Kubeflow manifests locally and updated the Seldon component until Kubeflow cuts a release that incorporates the new Seldon release

[2020-09-25 00:21] sudivate commented on #2207
@cliveseldon @ryandawsonuk

[2020-09-25 07:29] cells2numbers commented on #2206
Thanks @DavidSpek, I was running into the same error, this solved it

[2020-09-26 08:04] MKRNaqeebi opened #2216 "I am not able to install MiniKF from market place on gcp"
https://www.kubeflow.org/docs/started/workstation/minikf-gcp/

I used these instructions and get errors
![Screenshot from 2020-09-26 12-16-11](https://user-images.githubusercontent.com/15781272/94335962-c462c100-fff8-11ea-8537-5e9045ed7fc8.png)

[2020-09-26 11:10] DavidSpek commented on #2211
I am running on Charmed Kubernetes 1.19 and the only 2 issues I have are https://github.com/kubeflow/pipelines/issues/4505 and the issue I have a pull request out for https://github.com/kubeflow/manifests/pull/1558. The pull request fixes the one issue and the issue with the cache deployment doesn't seem to hinder my use of Kubeflow much at the moment.

[2020-09-26 11:13] DavidSpek commented on #2207
This seems to be a duplicate of https://github.com/kubeflow/website/issues/2206. In my comment you can see a pull request I have that works around this issue and a method for you to apply it as well.

[2020-09-26 12:01] DavidSpek commented on #2044
I would be very interested in this as well. I am looking into adding CephFS support to Kale and it would be nice to be able to route the Dashboard with secured ingress through Kubeflow. I am also looking at setting up https://www.metaboanalyst.ca/home.xhtml, which might benefit from this as well.

[2020-09-26 12:04] DavidSpek commented on #2035
This seems to be related to Charmed Kubeflow from Canonical. Maybe you can open up an issue on their GitHub for them to add it to their documentation?
https://github.com/juju-solutions/bundle-kubeflow
https://microk8s.io/docs/addon-kubeflow

[2020-09-26 19:58] jbottum commented on #2216
Hi @MKRNaqeebi, thanks for opening this issue.  Are you using a "free" account with GCP or one that you have to pay for? which region are you trying to deploy into ?   @cspavlou Chris, do you see anything here?

[2020-09-27 10:21] MKRNaqeebi commented on #2216
@jbottum I have fixed this issue by changing SSD type "standard"
thanks

[2020-09-27 10:21] #2216 closed

[2020-09-28 13:58] #2178 closed

[2020-09-28 15:27] gorinars opened #2218 "End-to-end Kubeflow on AWS - cognito ARN typo"
https://www.kubeflow.org/docs/aws/aws-e2e/ has a somewhat confusing description in cognito section:

[code]

then in the KfAwsPlugin config the eu-west-1 certificate is used
[code]

It would potentially be less confusing if "The ARN of the certificate from the Certificate Manager of N.Virginia ()." was  replaced with "The ARN of the certificate from the Certificate Manager for ingress-gateway (eu-

[2020-09-29 09:30] Bobgy commented on #2211
We should ask k8s deployment owners
/assign @swiftdiaries @krishnadurai

[2020-09-29 10:46] dimara commented on #2216
@MKRNaqeebi from the initial comment I see that GCP reported the "strange" error below:
[code]
Can you somehow reproduce this? Can you please also elaborate on:

What `Disk Type` works and what doesn't? Are you referring to the `Boot` disk or the `Data` one? Are you deploying on a specific zone?

[2020-09-29 11:33] Bobgy commented on #2121
/assign @jlewi
Can you take a look at the above comment?
I remember you found some change in the setup process.

[2020-09-29 15:12] MaanavD opened #2220 "Kubeflow homepage - daily / monthly / all-time visitors"
Hi! I was interested in stats for how many people (unique) were accessing Kubeflow's homepage over different time periods (daily, monthly, yearly, all time) and was told this was likely the best place to get that information!

I think the community would love to know as well.

Tagging
@joeliedtke

[2020-10-01 06:25] #1960 closed

[2020-10-01 06:25] #1123 closed

[2020-10-02 07:27] arshashi commented on #2211
Few details are not updated w.r.t installation instructions for kf defv1.1

below details are not valid under Notes on the configuration file. I am not sure other details whether any changes are really required.

Disabling istio installation - If your Kubernetes cluster has an existing Istio installation you may choose to not install Istio by removing the applications istio-crds and istio-install

[2020-10-03 15:05] jbottum commented on #2206
@mmlmahesh is this issue resolved ?

[2020-10-03 15:07] DavidSpek commented on #2206
@jbottum To my knowledge it is only resolved if my repository from above is used to work around the seldon issue.

[2020-10-03 15:52] cliveseldon commented on #2206
Seldon 1.3 is compatible with k8s 1.18. However, we do this in the Helm install on the upstream source by using a new v1 CRD.

If its ok for kubeflow 1.2 to not work on k8s <=1.15 then we can ship just this in kubeflow 1.2 otherwise would need some switch for the v1 and v1beta1 versions.

[2020-10-04 14:58] jbottum commented on #2177
@cspavlou @kimwnasptd @andreyvelich @james-jwu HI All, it appears that the docs are out of date for several components.  Can we please try to get those updated by the end of October ?

[2020-10-04 19:15] #2022 closed

[2020-10-04 21:34] jbottum commented on #2070
Hi @abhishekvermasg did you get this resolved ?  Have you tried MiniKF,  https://www.arrikto.com/s/6c15b060-62f8-4c9b-9364-8e2a6b4ade53/?submissionGuid=fd86e035-2011-4de4-a090-ad2c76c0cf74

[2020-10-05 18:52] jbottum commented on #2053
Hi @rajivsam which environment are deploying Kubeflow into i.e. AWS, GCP, on-prem ?

[2020-10-05 21:17] jbottum commented on #2220
@MaanavD  thanks for your question.  You might bring this up on Tuesday's Community meeting.

[2020-10-05 21:50] jbottum commented on #2117
Hi @jagadeeshi2i did you get this resolved?  can we close this issue?

[2020-10-05 21:54] bsikander opened #2259 "Should provide more documentation on backfilling"
I am not sure but documentation is not enough and it is expecting prior knowledge to some of the concepts like backfilling. People with no prior background will have difficulty in understanding what does "Catch Up" means. e.g. If my `start date` and `end date` are in the past and I have `Catch up` enabled with a `Run every` of `1 week`, what is the behavior going to be?

As soon as first run finis

[2020-10-05 23:34] 8bitmp3 commented on #2177
cc fyi @RFMVasconcelos @alfsuse @Jeffwan @neuromage @numerology  @vpavlin @crobby @pdmack @shawnzhu @adrian555 @Tomcli

[2020-10-06 02:09] jlewi commented on #2177
@jbottum @8bitmp3 @RFMVasconcelos thanks for driving this. If we want this to get fixed I think we need to

1. Create accountability
1. Create urgency

WGs and OWNERs files should solve the first problem.

Any ideas how we can create urgency? Do we need to establish of deleting docs older than X?

[2020-10-06 07:24] alfsuse commented on #2177
How about open a PR and pin it at the top of the PR page with the disclaimer that if the author or anyone else will not update the docs before a certain date (end of October) the pages will be deleted?

how about update the list @RFMVasconcelos put together with the owner's name for each page? This way we will know who is working on what.

One important point I think we should pay attention to the

[2020-10-06 10:29] RFMVasconcelos commented on #2177
### Updated List - 106 out of 250 docs files are "Outdated"

Split by section:

- **Components**: No OWNERS file
[code]
- **Examples:** No OWNERS file
[code]
- **GKE:** [OWNERS](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/OWNERS)
[code]
- **IBM:** [OWNERS](https://github.com/kubeflow/website/blob/master/content/en/docs/ibm/OWNERS)
[code]
- **Notebooks:** No OWNERS file
[cod

[2020-10-06 10:46] RFMVasconcelos commented on #2177
@jlewi @8bitmp3 @jbottum please find above the updated "outdated docs" list, by section of the website.

1. Accountability:

2. Urgency:

WDYT?

[2020-10-06 18:43] 8bitmp3 commented on #2177
A relevant thread about the Upgrading section from https://github.com/kubeflow/website/pull/2257#issuecomment-703977899 by @jlewi

@jlewi If you're OK with removing the whole section, we can do that (cc @RFMVasconcelos ). Then we together with OWNERS of each of the "subprojects" (AWS, IBM Cloud, Azure, Pipelines, etc) can start adding an `upgrading-kubeflow.md` to their directories.  WDYT?

cc @Bo

[2020-10-06 23:26] joeliedtke commented on #2177
I like the idea of regularly reviewing our docs, but I’m concerned that tagging each doc as outdated creates unnecessary toil for docs contributors. Are there any other docs projects that you know of that use this strategy? If so, what was their experience like?

WGs should be updating docs as a part of their work. This leads me to wonder, how much of the docset is expected to go stale with each r

[2020-10-06 23:51] joeliedtke commented on #2259
Is there a specific doc that this issue refers to?

[2020-10-07 05:15] woop commented on #2177
Can somebody explain how docs that were written for Kubeflow 1.1 (feature store) are flagged as outdated? They shouldn't even be visible in 1.0 and yet that is what the pages now show.

[2020-10-07 05:38] alforik opened #2263 "Is kubeflow 1.0 compatible with kubernetes 1.19 ?"
Is kubeflow 1.0 compatible with kubernetes 1.19 ?

Page  https://www.kubeflow.org/docs/started/k8s/overview/  does not show about kubernetes 1.19 version

[2020-10-07 05:39] alforik opened #2264 "Is kubeflow 1.0 compatible with kubernetes 1.19 ?"
Is kubeflow 1.0 compatible with kubernetes 1.19 ?

Page  https://www.kubeflow.org/docs/started/k8s/overview/  does not show about kubernetes 1.19 version

[2020-10-07 05:41] #2263 closed

[2020-10-07 05:41] alforik commented on #2263
duplicate

[2020-10-07 06:55] PatrickXYS commented on #2177
/reopen

[2020-10-07 10:21] bsikander commented on #2259
I created this issue based on the missing informatin that I saw in this page -> https://v0-6.kubeflow.org/docs/pipelines/overview/concepts/run/

[2020-10-07 10:21] bsikander commented on #2259
I am also willing to contribute but would need guidance since I am new to it.

[2020-10-07 11:14] 8bitmp3 commented on #2177
Thank you so much for your awesome feedback @joeliedtke

💯% @joeliedtke 👍 👍 👍

What are your thoughts @PatrickXYS@adrian555 @animeshsingh @Tomcli @IronPan @numerology @neuromage @alfsuse @Jeffwan @aronchik @shawnzhu @rmgogogo @cliveseldon @knkski (and many more 😃 ) ?

---

Hi @woop! I think the docs were flagged as "outdated" during the v1.1 docs transition. Check out @jlewi and @RFMVasconcelos 's

[2020-10-07 11:42] alfsuse commented on #2177
Second, going forward we could surface information to get reactive participation from the WGs.
I agree with @joeliedtke comment above but so I wonder do we have a WG for each section? I'm not aware of a WG for the "local/workstation" sections as an example.. should we create one?

I think we should put in place a process where each WG before any new release takes a review in advance so we know upf

[2020-10-07 17:41] joeliedtke commented on #2177
Regarding adding a documentation lifecycle, that may be a good question to discuss in a community meeting. My initial thought is that we probably don't need full documentation reviews for minor releases. A full review may be more appropriate for a major release, since there is more potential for a breaking change.

[2020-10-07 21:50] 8bitmp3 commented on #2264
@alforik Hi.

@joeliedtke @Bobgy @animeshsingh @jlewi @PatrickXYS @RFMVasconcelos @alfsuse Have you tested KF 1.0 with k8s 1.19 by any chance?

On a similar note:

Which k8s versions is KF 1.1 compatible with? We can then update the table:

<img width="700" alt="image" src="https://user-images.githubusercontent.com/19637339/95391701-6df65c00-08ef-11eb-9690-e35f71aac01d.png">

[2020-10-07 22:41] #2027 closed

[2020-10-07 22:41] #2029 closed

[2020-10-08 02:52] shawnzhu commented on #2182
## Updates

I've got the AppID works in Kubeflow 1.1 deployed on OpenShift. see my code changes here:
* kfdef - https://github.com/shawnzhu/KubeflowDojo/blob/appid/OpenShift/manifests/kfctl_openshift_tekton_kfserving_appid.v1.1.0.yaml
* Manifests - https://github.com/shawnzhu/manifests/tree/appid

Notice that I've used the option 2 from :point_up: with tweaked settings like:

[code]

[2020-10-08 06:31] alfsuse commented on #2264
Thanks for this @8bitmp3! I think 1.18 and 1.17 have been used by the community for at least a couple of months so I would assume both maybe can be move to "compatible"... for 1.19 I'm going to test it and will report here my feedbacks asap.
I was wondering if we have already discussed a better way to test KF with K8's version in a more structured way...

[2020-10-08 12:53] jlewi commented on #2006
Fixed by #2008

[2020-10-08 12:53] #2006 closed

[2020-10-08 13:24] kelvins opened #2269 "Add "Delete notebooks manually" section to "notebooks/troubleshoot""
Recently we needed to manually delete a notebook from Notebook Servers and we didn't know exactly how to do that.

It would be great to add a section like `Delete notebooks manually` to the [`docs/notebooks/troubleshoot.md`](https://github.com/kubeflow/website/blob/master/content/en/docs/notebooks/troubleshoot.md) explaining how to do this with `kubectl`.

[2020-10-08 15:21] kelvins opened #2270 "Make sure the user has cluster-admin role before running apply-kcc (GKE deployment)"
Before running `make apply-kcc` from the [`management-setup.md`](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/management-setup.md) we need to make sure the user has `cluster-admin` role. It is possible to add the role using the following command:

[code]

It would be great to add a documentation note about this step.

[2020-10-08 15:26] kelvins opened #2271 ""MANAGED-PROJECT" not set in "Management cluster setup" documentation"
There is a step in the [`Authorize CNRM for each project`](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/management-setup.md#authorize-cnrm-for-each-project) section, from the [`Management cluster setup`](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/management-setup.md) documentation, to "Set the managed project" as follows:

[code]

As I

[2020-10-08 15:32] kelvins opened #2272 "We need to install both istioctl and asmctl to deploy Kubeflow on GKE"
In the [`Install the required tools`](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/deploy-cli.md#install-the-required-tools) section, from the [`Deploy using kubectl and kpt`](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/deploy/deploy-cli.md) documentation, we need to install both binaries (`istioctl` and `asmctl`) from the [`Preparing to instal

[2020-10-08 15:49] PatrickXYS commented on #2264
In the future, we need to rely on Test-infra do periodical test against different versions of Kubeflow and Kubernetes.

That should be a better maintainable way for compatibility matrix.

We should not rely on user report to establish compatibility matrix

[2020-10-08 16:51] 8bitmp3 commented on #2272
Thank you @kelvins. Yeah, Anthos Service Mesh is a Google Cloud flavor of Istio Mesh (AFAIK) and part of this larger Anthos platform.

And, as you mentioned, the official GCP [instructions](https://cloud.google.com/service-mesh/docs/archive/1.4/docs/gke-install-new-cluster#preparing_to_install_anthos_service_mesh
) state that users have to download `istio-X.X.X-asm...tar.gz` and extract it, which

[2020-10-08 16:59] kelvins commented on #2272
Thanks @8bitmp3. Adding "and `asmctl`" to Step 6 is enough, IMO.

[2020-10-09 07:36] rmgogogo commented on #2272
@Bobgy SG from multi-user case perspective?

[2020-10-09 13:45] Bobgy commented on #2177
With current pace Kubeflow is evolving, a lot of docs become outdated even between minor releases. When looking at pipelines docs, there's really a lot I found, so I think it's a valuable process we can leverage

[2020-10-09 15:05] 8bitmp3 commented on #2177
@Bobgy Any particular KFP ones that stood out and require an urgent refresh?

[2020-10-10 11:16] Soonmok commented on #2206
thanks @DavidSpek .
I solved this issue thanks to your pull request patch.
I hope your patch will be merged into kubeflow repo soon

[2020-10-11 22:15] #1567 closed

[2020-10-11 22:15] #1653 closed

[2020-10-11 23:45] amygdala commented on #1788
lifecycle /frozen

[2020-10-11 23:46] amygdala commented on #1788
/reopen

[2020-10-12 08:46] Bobgy commented on #2177
I'm collecting KFP doc updates and triage in https://github.com/kubeflow/pipelines/issues/4324

[2020-10-12 08:49] Bobgy commented on #2272
From the doc, it seems `asmctl` is used for validation.

Is it necessary?

[2020-10-12 08:56] Bobgy commented on #2264
Also we need to add a Kubeflow 1.1 column

[2020-10-12 13:22] 8bitmp3 commented on #2264
@PatrickXYS I agree that there should be a automated way of doing this. Don't know how to do this, but we'll figure it out.

Let's update the table on the site page to include KF v1.1 using the existing methods.

Would you be OK if we replicate the KF v1.0 column for v1.1? Let us know if there are any issues with K8s v1.17-1.18 @joeliedtke @Bobgy @animeshsingh @jlewi @PatrickXYS @RFMVasconcelos @a

[2020-10-12 13:24] 8bitmp3 commented on #2205
Hey @raphaelauv We're having a similar discussion about this here https://github.com/kubeflow/website/issues/2264 and will update by adding a column for KF v1.1.

If this is the same topic, can you close this Issue and contribute to 2264? Thanks a lot!

[2020-10-12 13:24] alfsuse commented on #2264
No issue I'm aware for 1.17 and 1.18 (for minikube and other local deployment may require some flags when start clusters.. in case of minikube I've already documented it)

[2020-10-12 13:32] raphaelauv commented on #2205
ok , thanks

[2020-10-12 13:32] #2205 closed

[2020-10-12 13:38] 8bitmp3 commented on #2264
Related: https://github.com/kubeflow/website/issues/2206

[2020-10-12 14:25] kelvins commented on #2272
I could not find any reference to `asmctl` in the Makefiles (management and kubeflow clusters). I suppose it is being used internally by `istioctl`. When trying to deploy Kubeflow without `asmctl` installed, we were having a problem related to an unsupported `env` key in one of the manifests (unfortunately I don't remember exactly which one). We spent a few minutes debugging it and found that `asm

[2020-10-12 20:55] angoothachap commented on #2166
/assign @bobgy @joeliedtke @rmgogogo

[2020-10-13 07:03] Bobgy commented on #2264
+1 to replicating the 1.0 column first

[2020-10-13 07:04] Bobgy commented on #2272
I am not sure about

because there were previous reports of missing the env key and that's when people downloaded istioctl from opensource website, not from Google. I successfully deployed with just istioctl downloaded from Google documentation.

[2020-10-13 10:01] kenly-ldk opened #2279 "MiniKF deployment is no longer available on GCP Marketplace?"
I am trying to follow the article (https://www.kubeflow.org/docs/started/workstation/minikf-gcp/) to launch Minikf on GCP Marketplace, however, it seems that the MiniKF Page (https://console.cloud.google.com/marketplace/details/arrikto-public/minikf?q=minikf&id=1f5eac28-1808-4969-b6fa-2cc231a23f45) is no longer available

![image](https://user-images.githubusercontent.com/61054674/95846417-fce6f68

[2020-10-13 12:05] kelvins commented on #2272
I'm not sure, but maybe that's what happened to us. If that is the case, feel free to close this issue, please.

[2020-10-13 15:12] RFMVasconcelos commented on #2177
### Updated List - 106 out of 250 docs files are "Outdated"

Split by section:

- **Components**: No general OWNERS file
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
- **Examples:** No OWNERS file
[code]
- **GKE:** [OWNERS](https://github.com/kubeflow/website/blob/master/content/en/docs/gke/OWNERS)
[code]
- **IBM:** [OWNERS](https://github.com/kubeflow/website/blob/master/content

[2020-10-13 15:17] PatrickXYS commented on #836
/lifecycle-frozen

[2020-10-13 15:23] jbottum commented on #2279
Hi @kenly-ldk, yes MiniKF is available on GCP, but there appears to be an issue accessing in the marketplace.   We are looking into this and will circle back when resolved.

[2020-10-13 15:27] jbottum commented on #2279
@cspavlou Chris, will you please take a look at this ?  Thanks1

[2020-10-13 20:16] cspavlou commented on #2279
Hi @kenly-ldk , thanks for the heads up. Everything should be back to normal now :)

Thanks again!

[2020-10-14 01:45] kenly-ldk commented on #2279
Thanks a lot everyone for looking into this so quickly. I can confirm that it is back to normal as well :)

[2020-10-14 01:45] #2279 closed

[2020-10-14 02:17] Bobgy commented on #2166
@ryo-matsuzaka Did you install kustomize 3.2.1?
It seems the kustomize breaking change after that --- "removal of env field support"

[2020-10-14 02:18] Bobgy commented on #2166
Upstream issue in kubeflow: https://github.com/kubeflow/manifests/issues/538

[2020-10-14 11:56] kelvins commented on #2271
As I understood, this value must be set manually. Wouldn't it be better to set this value in the `make set-values` command, along with the other variables?

[2020-10-14 12:13] #2209 closed

[2020-10-14 12:55] angoothachap commented on #2166
@Bobgy Yes, I did use 3.2.1 as in the [documentation](https://www.kubeflow.org/docs/gke/deploy/management-setup/#install-the-required-tools). Do you suggest using a lower version?

[2020-10-14 14:26] Bobgy commented on #2166
No, that's correct, let me try to reproduce

[2020-10-14 14:42] 8bitmp3 commented on #2264
@eedorenko @sudivate - looping you in to keep you updated

[2020-10-14 14:44] 8bitmp3 commented on #2177
fyi Update to OWNERS

Both @eedorenko and @sudivate are also part of the Azure group 👍

cc @RFMVasconcelos

[2020-10-14 20:41] shawnzhu commented on #2182
## Progress

@adrian555 and I had a quick chat on the initial design:

1. managing AppID configuration in a separate k8s secret object, document the steps on how to create it prior to deploying kubeflow.
1. update the Authservice config to use this secret instead of keeping client_secret in a statefulset resource object.
1. create a new `kfctl_openshift_appid.yaml`
1. if it works, create another n

[2020-10-14 20:50] adrian555 commented on #2182
just one comment, @shawnzhu will provide the install instructions with appid on IBM Cloud native K8S cluster first and document through this issue.

[2020-10-16 11:41] theofpa commented on #2121
@closerforever seems like your `$PROJECT_ID` is empty, the address should be `/v1alpha1/projects/yourproject_12345938593845.svc.id.goog:initialize`, so make sure you have that variable configured using:

[code]

[2020-10-16 20:08] ReggieCarey opened #2289 "Kubeflow Deployment with kfctl_k8s_istio"
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

The section Disabling istio installation, is not compatible with the kfctl_k8s_istio.v1.1.0.yaml file as downloaded via kfctl build.

The instructions appear to refer to an older version of this yaml file.

What if one already has Knative installed?
What if one already has Seldon installed?

None of these cases are spelled out in terms of

[2020-10-17 13:29] 8bitmp3 commented on #2289
Thank you for raising this issue @ReggieCarey 👍

@swiftdiaries I think you were one of the last committers to the docs, can you PTAL?

Link: https://github.com/kubeflow/website/blob/master/content/en/docs/started/k8s/kfctl-k8s-istio.md

cc @Bobgy @jlewi

/assign @swiftdiaries @Bobgy

[2020-10-17 13:37] 8bitmp3 commented on #2264
Going back to the original question, how should we proceed with K8s v1.19?

As @alforik said:

@joeliedtke @Bobgy @animeshsingh @jlewi @PatrickXYS @RFMVasconcelos @alfsuse @adrian555 @Tomcli @IronPan @numerology @neuromage @Jeffwan @aronchick @shawnzhu @rmgogogo @cliveseldon @knkski @eedorenko @sudivate @jlewi

While you and your teams are testing, maybe we can add "no known issues" for k8s 1.19 u

[2020-10-17 15:59] PatrickXYS commented on #2264
Looks like folks are reporting the seldon is not compatible with k8s 1.18, so if the manifest is using seldon, you should expect to see some issue on 1.18

https://github.com/kubeflow/website/issues/2207

[2020-10-17 19:53] #2024 closed

[2020-10-18 10:41] cliveseldon commented on #2207
Yes, we will need to do an update for this. Will try to work on it in next week.

[2020-10-18 23:19] paveldournov commented on #2209
Is the UI URL documentation fixed? I don't see it on https://www.kubeflow.org/docs/pipelines/installation/localcluster-deployment/

[2020-10-19 07:05] alfsuse commented on #2209
Great catch  @paveldournov seems we delete it by mistake in the last re-work I've opened up a PR to fix it here https://github.com/kubeflow/website/pull/2292

[2020-10-19 08:48] Bobgy commented on #2264
KFP is also not fully functional in 1.17+, see https://github.com/kubeflow/pipelines/issues/4627

[2020-10-19 12:52] jlewi commented on #2264
Should we really be making claims about things we aren't testing?

I think we need to rethink how we maintain this compatibility matrix and installation instructions.

[2020-10-19 13:02] jlewi opened #2293 "Restructure Kubeflow Docs: Applications and Bundles"
Our installation instructions have a very complicated flow symbolized by the diagram on this page.
https://www.kubeflow.org/docs/started/getting-started/

Can we simplify this and just have the table listed below that lists the different bundles for Kubeflow?
https://www.kubeflow.org/docs/started/getting-started/#deployment-quick-reference

Going forward I think we should present people two option

[2020-10-19 13:05] jlewi commented on #2264
See: #2293

I think we need to move away from talking about "Kubeflow" as a whole and instead start talking about either

1. individual Kubeflow applications (e.g. KFP, notebooks, etc...)
1. Specific bundles/distributions of Kubeflow  (e.g. GCP, AWS, etc...)

Questions about version compatibility should be the responsibility of the owners of the bundle and application respectively.

[2020-10-19 13:09] jlewi commented on #2293
Right now we have the section "Kubeflow Components" but some applications like "Jupyter" and "Pipelines" are not subsections of those sections.

Should we reorganize all the docs about distributions under a single section? Right now they are split

* Most of the "Kubeflow On ... " are top level sections
* Getting Started has subsections e.g. Kubernetes installation that should probably be moved in

[2020-10-19 13:26] 8bitmp3 commented on #2293
Thanks for bringing this up @jlewi .

Just remembered my post in the KF v1.1 discussion https://github.com/kubeflow/website/issues/1984#issuecomment-652582964, so sharing it here.

cc @RFMVasconcelos @Bobgy

It may be a bit dated since the team has made some good improvements:

...

[2020-10-19 14:44] RFMVasconcelos commented on #2293
Hi @jlewi @8bitmp3, thanks for bringing this topic again!

I think we all agree that there is space to improve there. In PR #2261 we already removed some redundant things and we kind of agreed that this install page should be a gateway mostly with links to actual docs, which would make it version agnostic (always up to date not to drive users away).

I like the full-bundle options + apps install m

[2020-10-19 21:59] jlewi commented on #2293
@joeliedtke thoughts?

[2020-10-20 04:53] Bobgy commented on #1653
Duplicate of https://github.com/kubeflow/website/issues/2021

[2020-10-20 04:55] Bobgy commented on #2021
@Ark-kun sorry I didn't see your comment. Can you give me an example to verify?

[2020-10-20 07:24] bumberboy opened #2297 "link is missing on data management guide"
http://g.co/codelabs/kubeflow-minikf-kale hyperlink on https://www.kubeflow.org/docs/other-guides/integrations/data-management/ does not exist.

[2020-10-20 07:26] dagilgon opened #2298 "How I use the operator?"
How I use the operator?

[2020-10-22 13:17] RFMVasconcelos commented on #2177
## Update - 69 out of 250 files "outdated"

Hey everyone!

Following the last community meeting, here is an update on docs. We are making progress. From 120, we're now at 69 outdated pages. 🚀

We have also cleared the `Getting Started` and `Overview` pages, which, even if not perfect yet, do not appear "outdated" to new-comers anymore.

Tagging OWNERS of respective docs here so we can get that dow

[2020-10-23 03:59] Bobgy commented on #2177
Hi @RFMVasconcelos, thank you for driving this.
I've added OWNERS for multi-tenancy. https://github.com/kubeflow/website/blob/master/content/en/docs/components/multi-tenancy/OWNERS

[2020-10-23 19:52] kzhai commented on #1717
Hi, I am facing the sample problem here, but my microk8s indicates it is 1.19 version.
[code]

[2020-10-23 19:56] 8bitmp3 commented on #1717
/assign @RFMVasconcelos PTAL 🙏

[2020-10-26 09:04] RFMVasconcelos commented on #1717
Hi @8bitmp3, thank you for calling this to my attention!

For a few days, after we defaulted `snap install microk8s` to v1.19 there was an issue with `microk8s enable kubeflow` script on v1.19. We have, in the meantime, fixed the issue and put testing in place to make sure we don't make the same mistake in the future.

@kzhai, could you please confirm that you are now able to run `microk8s enable

[2020-10-26 18:44] kzhai commented on #1717
Hi, @RFMVasconcelos, Thanks very much for your quick response.

I actually tried different microk8s versions, but all seems not working with kubeflow.
Other than the 1.19 version, I also tried `microk8s (1.18/edge) v1.18.9`, `microk8s (1.18/classic) v1.18.9`.
And I am having the same issue here.

I am using jetpack 4.3 on a jetson nano device, if that helps.

[2020-10-26 21:26] RFMVasconcelos commented on #1717
Hi @kzhai, probably you don't have enough RAM to run the full Kubeflow bundle.

We have created smaller bundles for that scenario, but you won't have all the functionality.

Could you try the desktop version (Kubeflow lite):
`KUBEFLOW_BUNDLE=lite microk8s.enable kubeflow`

Or if you care mostly about inference (Kubeflow edge):
`KUBEFLOW_BUNDLE=edge microk8s.enable kubeflow`

Note: You can install

[2020-10-26 22:13] kzhai commented on #1717
Thanks, @RFMVasconcelos , unfortunately, still no luck.

[code]

[2020-10-27 16:36] rcarmstrong commented on #2166
Experiencing the same issue when running `make apply` for a GCP deployment, specifically when it hits `kustomize build --load_restrictor none -o .build/kubeflow-apps ./instance/kustomize/kubeflow-apps`, I get the following error:

```Error: accumulating resources: accumulateFile "accumulating resources from '../../../upstream/manifests/stacks/gcp': read /home/rarmstrong/kubeflow/deployment/upstrea

[2020-10-27 18:23] animeshsingh commented on #2182
+1

[2020-10-28 17:26] jlewi commented on #2293
@RFMVasconcelos I think a doc structure like [the doc](https://docs.google.com/document/d/1jCzkiNZHoVrOClXVDrXd5EaDzWAunFiIkHxCzrYXUUI/edit?usp=sharing) is a good one.

My suggestion would be to turn this into a proposal; i.e. use a PR instead of a doc.
So open a PR here
https://github.com/kubeflow/community/tree/master/proposals

with ideas for the suggested layout using markdown.

[2020-10-28 18:52] RFMVasconcelos commented on #2293
That's a great point ;) Easier to iterate on.

[2020-10-28 23:30] 8bitmp3 commented on #2293
That looks good, thank you @jlewi @RFMVasconcelos

[2020-10-29 08:37] jlewi commented on #2293
Do we also want to consider breaking up the docs into multiple web sites?

Right now the website is monolithic. I think this is becoming problematic from a release perspective. Each WG is free to release their applications on their own release schedule. This will cause problems with the docs because they can only be released monolithically.

If each application has its own site; e.g.

pipelines.ku

[2020-10-29 10:40] Bobgy commented on #2293
+1 to breaking up the website

I think another benefit is that we can move pipeline related documentation to kubeflow/pipelines repo, so a feature can be implemented with its documentation in one PR.

[2020-10-29 14:07] 8bitmp3 commented on #2293
@jlewi @Bobgy @RFMVasconcelos

+1 for making it more modular. Decoupling each component to make deployment easier. I think I read about this [somewhere](https://kubernetes.io/docs/concepts/containers/) 😃

[2020-10-29 14:12] terrytangyuan commented on #2293
+1 as long as each WG won't have to spend too much time setting up skeleton/infrastructure, etc. They should be able to focus on the content of the website instead, e.g. writing markdown files.

[2020-10-29 16:48] RFMVasconcelos commented on #2293
+1, that makes sense if releases will be also app-centric. I'll reflect that in my PR.

[2020-10-29 17:30] andreyvelich commented on #2293
+1 to make this change and move website docs under `/kubeflow/<component>` repo as @Bobgy mentioned before.

Two questions.
1. How we can deal with multi-projects WG ? For example, Training WG includes several repositories for each operator.
2. Who will be responsible to make each WG website in the same style to make navigation and UX very clear/easy for the user?

[2020-10-29 17:35] joeliedtke commented on #2293
I like the idea of letting each working group release on their own schedule. My main concern is that this could make it more difficult for users, especially users who depend on several Kubeflow applications.

From a maintenance standpoint, does this require us to duplicate content? For example, running a Kubeflow application in different environments (cloud providers, local Kubernetes clusters) wi

[2020-10-29 18:46] Jeffwan opened #2322 "Kubeflow 1.2 release doc changes"
I create this issue to track coming 1.2 doc changes.  WG owners and platform owners, it would be great to link your WIG or PRs there to help on tracking.

We will cut a 1.2 branch from masters around Nov 8.

Docs for versioning the website: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#version-the-website

[2020-10-29 19:03] Jeffwan commented on #2322
@8bitmp3 Do you have capacity to drive 1.2 website release?

[2020-10-29 19:06] RFMVasconcelos commented on #2293
As promised I started a proposal, which now contains only the current docs structure. Might then be a good space for comments on how to improve.

cc @jlewi @8bitmp3 @joeliedtke @Bobgy

[2020-10-29 21:31] cvenets commented on #2293
I agree with @joeliedtke on this. I think that when restructuring the website we should be thinking about the users first, even though I understand that fragmenting/segmenting makes it easier for the contributors and for maintenance.

Especially, if someone uses more than one Kubeflow app, it will be very difficult to navigate a segmented website. Even if we want to have specific parts of the webs

[2020-10-29 22:03] joeliedtke commented on #2293
Are there any suggestions for OSS projects that have separate sites for sub-applications that we think work really well? I think that it would be helpful to take a look at those sites to better understand how those projects are solving this problem.

[2020-10-29 23:30] thesuperzapper commented on #2293
I agree with the breaking up the docs, but... it only makes sense to seperate the docs for components which meet two criteria:
1. The sub-app must actually make sense on its own, without the rest of Kubeflow
     * And because most Kubeflow components depend on some cluster-level stuff (e.g. Istio), how will this be dealt with in the new doc structure?
2. The sub-app must actually have a release v

[2020-10-29 23:46] jlewi commented on #2293
Kubeflow is not a closed system. The [AI landscape is growing](https://landscape.lfai.foundation/)  and my expectation is the vast majority of applications that users will consume as part of their AI platform will be developed outside from Kubeflow; e.g pachyderm, feast, Ludwig, nuclio, etc...

From Day 0, Kubeflow has shipped applications outside Kubeflow; e.g. Argo, Seldon etc... We have always

[2020-10-30 00:11] andreyvelich commented on #2322
@Jeffwan From AutoML WG these PRs are related to 1.2:

- https://github.com/kubeflow/website/pull/2312
- https://github.com/kubeflow/website/pull/2315
- https://github.com/kubeflow/website/pull/2316
- https://github.com/kubeflow/website/pull/2320
- https://github.com/kubeflow/website/pull/2321
- https://github.com/kubeflow/website/pull/2324

That is the main issue to track the release: https://git

[2020-10-30 09:54] RFMVasconcelos commented on #2322
Thank you for creating this issue @Jeffwan!

I can help drive this effort. Do you say you'll cut a 1.1 branch on Nov 8th?

[2020-10-31 11:29] RFMVasconcelos commented on #2322
Hi @Jeffwan @andreyvelich !

So the way we do it is that we change `master` to be the latest version, now -> `v1.2`, and we create a new branch for the previous version - `v1.1`.

If you look, today we don't have a `v1.1-branch` on the website repo as `v1.1` is now in `master`

[2020-10-31 14:39] kelvins commented on #2271
Good to know. Thank you @jlewi.
I'm closing this issue. Feel free to reopen if you want to.

[2020-10-31 14:39] #2271 closed

[2020-11-01 17:43] jal06 opened #2329 "Broken links in KFServing documentation"
A few links are broken in [KFserving documentation](https://www.kubeflow.org/docs/components/serving/kfserving/)
(Return code 404)

Here are the broken links :
Sample notebooks
    SDK client https://github.com/kubeflow/kfserving/blob/master/docs/samples/client/kfserving_sdk_sample.ipynb

Monitoring
    [Install Metrics, Logging and Tracing](https://knative.dev/docs/serving/installing-logging-metr

[2020-11-01 19:20] 8bitmp3 commented on #2329
Thank you @jal06 !

/assign @adrian555 @animeshsingh @cliveseldon @ellistarn @ryandawsonuk @Tomcli @yuzisun
(OWNERS for the KFServing docs)

Please take a look 👍

[2020-11-02 09:36] RFMVasconcelos commented on #2322
Happy to drive the cut of `v1.1-branch` this week.

[2020-11-03 20:28] dandawg opened #2330 "More Context"
Where do I run these commands? On my laptop, on a container? This is not obvious to a learner. Also, what are the prerequisites to these steps, or what is being assumed as already in place?

[2020-11-04 05:54] arunnalpet opened #2331 "TensorFlow Training (TFJob)"
https://www.kubeflow.org/docs/components/training/tftraining/

The docker images used for tf-smoke-gpu doesnt seem to exist.

Can it be updated with the right ones?

[2020-11-04 14:45] jal06 commented on #1735
I still have this issue with Kubeflow 1.1 deployed on GCP using GCP blueprints (and IAP)
@karlschriek : did you find how to run this example ? Did you find the description of the configmap ?

[2020-11-04 21:36] moficodes commented on #2298
The operator runs on KFDef. Just like the kfctl tool.

We were keeping track of the operator in [this repo](https://github.com/IBM/KubeflowDojo/blob/master/HandsOn/Deployment/kubeflow-on-minikube.md#2-kubeflow-deployment-through-kubeflow-operator) that we use for teaching kubeflow. But I think we will have to update the website.

[2020-11-04 21:36] moficodes commented on #2330
Any specific place its not clear at? @dandawg

[2020-11-05 04:26] Subhraj07 opened #2335 "Authentication using OIDC in Azure"
https://www.kubeflow.org/docs/azure/authentication-oidc/

I have created a change request on alignment for while trying to edit **kubectl edit -n kubeflow gateways.networking.istio.io kubeflow-gateway** as it is really confusing while someone who doesn't know much about yaml while trying to follow the step.

I have faced the same issue as well.

PFA proposed request.
![Screenshot from 2020-11-05 0

[2020-11-05 11:25] RFMVasconcelos commented on #2322
@jlewi, it seems that I do not have the permissions to create a new branch upstream. How should I proceed?

[2020-11-05 16:10] jlewi commented on #2322
@RFMVasconcelos
https://github.com/kubeflow/community/blob/master/how-to/github_admin.md
https://github.com/kubeflow/internal-acls/blob/4535a60993946dcb57a05cd33552518030410ac5/github-orgs/kubeflow/org.yaml#L1100
https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-11-05 17:08] RFMVasconcelos commented on #2322
Thank you!

[2020-11-06 01:06] 8bitmp3 commented on #2335
/assign @nilspohlmann @vsetty-msft @eedorenko @sudivate @yilun-msft @shbijlan

(fyi the OWNERS file for Azure is still being updated)

[2020-11-06 01:08] 8bitmp3 commented on #2005
@Jeffwan @PatrickXYS is there anything that can be done by your team soon from the AWS side or do you want to put this on hold? Thanks 👍

[2020-11-06 02:57] Jeffwan commented on #2005
/cc @PatrickXYS is working on these stories.

[2020-11-06 04:48] Bobgy commented on #1253
/lifecycle frozen

[2020-11-06 18:37] yilun-msft commented on #2335
@Subhraj07 and @8bitmp3 Thanks for the suggestion, The work is in progress, see https://github.com/kubeflow/website/pull/2323. It's pending approval and should be merged soon.

[2020-11-06 18:38] RFMVasconcelos commented on #2322
@jlewi I created the PR to update permissions. ☝️

[2020-11-06 19:04] Jeffwan commented on #2322
@RFMVasconcelos I get some feedbacks from WG owners. Most WGs owners just finish code and manifest updates this week. They are working on docs changes.  Can we postpone the website branch cut a little bit late? I propose to do it on Nov 11 instead of the end of this week. What do you think?

one example is https://github.com/kubeflow/website/issues/2322#issuecomment-719094241 /cc @andreyvelich

[2020-11-06 19:23] RFMVasconcelos commented on #2322
@Jeffwan that's ok! I can do it early next week ;)

These updates are things we will want to stay in Kubeflow v1.1 docs?

[2020-11-06 20:11] yilun-msft commented on #2335
The PR https://github.com/kubeflow/website/pull/2323 is merged. @8bitmp3 if you could kindly close this issue? Thanks a lot.

[2020-11-06 20:24] #2182 closed

[2020-11-06 22:05] 8bitmp3 commented on #2335
Awesome, thank you @yilun-msft

/close

[2020-11-06 22:05] #2335 closed

[2020-11-06 22:15] Jeffwan commented on #2322
em. See https://github.com/kubeflow/kubeflow/issues/5371#issuecomment-720488097
doc repo is managed in a different way. it lags 1 version. The time we cut v1.1-branch, that means v1.1 is not the latest version and all changes on master will also go online (kubeflow.org points to master).

So I think we don't want those changes coming into v1.1 since they are v1.2 only. Can we accept new changes on

[2020-11-06 22:46] andreyvelich commented on #2322
I think if we want to cut the v1.1 website release, we need to choose one of the past commits and make the release. For example: https://github.com/kubeflow/website/commit/97dc74694ac0b45c05e895892f2676d8c8412328.
I believe the multi-user doc for the Kubeflow Pipelines was ready at this time.

If we can't find the commit for the v1.1 website, we should skip this version and directly cut v1.2 for t

[2020-11-07 01:42] Jeffwan commented on #2322
@andreyvelich  It's by design. see https://github.com/kubeflow/kubeflow/issues/5371#issuecomment-720488097

 it's a little bit different from other projects. I think both solution work. website normally is changed frequently when user notice there's issue for latest branch. If we follow kubeflow/kubeflow way, then

1. There will be lots of cherry-picks or user directly submit PR against v1.1-branc

[2020-11-07 20:44] jlewi commented on #2322
@Jeffwan is correct

* We wait to cut the v1.1 docs branch because docs lag behind
* We cut the v1.1 branch only when we are ready to start updating the docs for 1.2
   * We are probably at a point where people want to start committing 1.2 changes so cutting the 1.1 branch is a good idea
   * As @andreyvelich mentions we can cut the branch on a past commit if there have already been changes that a

[2020-11-07 20:45] jlewi commented on #2075
Still relevant.
Related #2293

[2020-11-08 08:26] Subhraj07 commented on #2335
@8bitmp3

Thank you...

[2020-11-08 20:09] tcnt commented on #2329
In knative docs several documents are removed as described in https://github.com/knative/docs/pull/2954. (for knative v016)

The links are available in knative v015 like https://knative.dev/v0.15-docs/serving/installing-logging-metrics-traces/
I can change the docs if needed to the v015 version as v015 is also used in https://github.com/kubeflow/kfserving/blob/master/hack/quick_install.sh

The SDK

[2020-11-08 22:53] Rustastra opened #2340 "no healthy upstream when trying to create a notebook with GPU"
I'm getting "no healthy upstream" message when trying to connect to a new notebook server with GPU. It's via GCP.

More info:
- I am able to create a non-GPU notebook and run it
- When creating the GPU notebook server, I select "tensorflow-1.15.2-notebook-gpu:1.0.0" and then also add below in the drop-down "1" for GPU and NVIDIA (as I only have 1 GPU for my google project.) It has been assigned to

[2020-11-09 00:37] Rustastra commented on #2340
What is the best way to enable GPUs?

I have been following the instructions [here](https://www.kubeflow.org/docs/gke/customizing-gke/#add-gpu-nodes-to-your-cluster) , but this probably was the cause of the problem (obsolete documentation referencing `kfctl` and paths that are not created by the latest deployments).

1. I don't have access to NVIDIA Tesla K80, that is why I created T4s using this

[2020-11-09 12:20] terrytangyuan commented on #1924
/remove-lifecycle

[2020-11-09 16:45] tcnt commented on #2329
@yuzisun
Looking a bit further I see there is a reference to https://github.com/knative/docs/pull/2946 where the following is mentioned
_Removed all logging, metrics, tracing docs that refer to or depend on the old monitoring stack, since this was deprecated in 0.14 and is removed in 0.19._
Should we not delete the whole monitoring section in the documentation(website and readme on github kfservin

[2020-11-09 17:16] yuzisun commented on #2329
@tcnt there is already a PR in KFS https://github.com/kubeflow/kfserving/pull/1162 to update the deprecated knative monitoring, how about remove those references from Kubeflow website and direct to  [KFS monitoring section](https://github.com/kubeflow/kfserving#setup-monitoring) ?

[2020-11-09 17:33] tcnt commented on #2329
@yuzisun I like that idea. Then we still have a reference to monitoring on the website, while maintaining the links in one place at [KFS monitoring section](https://github.com/kubeflow/kfserving#setup-monitoring).

I will look into it tomorrow and make changes for both the monitoring section and sample notebook reference on the website.

[2020-11-09 17:59] yuzisun commented on #2329
Thanks @tcnt !

[2020-11-09 20:38] RFMVasconcelos commented on #2322
Sounds good @jlewi!

I am happy to make the `v1.1-branch` cut + redirect when we're ready.

@andreyvelich are there any merged docs that are v1.2 specific hence forcing a cut from a past commit? If not I'd rather do the cut at the current state.

The commit you mention is 1 month old, which means some relevant commits might be lost, including some of our recent efforts to remove "outdated" banners

[2020-11-09 20:53] andreyvelich commented on #2322
@RFMVasconcelos From AutoML WG only this commit is related to 1.2: https://github.com/kubeflow/website/commit/1df2cb955df7213ce30e997b4801fd15741dc4a9.

[2020-11-09 21:44] Rustastra commented on #2340
** update **

I redeployed KF using a region that supports K80 GPUs.

I ran these commands:

[code]
When I tried creating a notebook, it got stuck here, after creating two pools named "nap-n1-standard-1-gpu1-***"

[code]

I recreated a GPU cluster with 1 node only, and the error became

[code]

[2020-11-10 05:48] kim-sardine opened #2344 "Issue with using ALB Domain with kfctl_aws_cognito.v1.1.0"
https://www.kubeflow.org/docs/aws/authentication/#enable-tls-and-authentication

It says
[code]

so I thought I could deploy `kfctl_aws_cognito.v1.1.0` on AWS without custom domain.
but It seems impossible because I can't get `certArn` with my ALB's auth-generated dns name. (ex. `xxxxxxxx-istiosystem-istio-xxxxx-111111111.us-east-1.elb.amazonaws.com`)

It is not my domain and AWS Certificate manag

[2020-11-10 11:14] #1984 closed

[2020-11-10 17:05] Jeffwan commented on #2322
@RFMVasconcelos
![image](https://user-images.githubusercontent.com/4739316/98706479-bd3b0c80-2333-11eb-9bf6-6c5fd044538c.png)
I think this should be good?

I am not sure about #2327 that manifest change is not in 1.1-branch but master

[2020-11-10 18:48] RFMVasconcelos commented on #2322
Ok @Jeffwan!

From the meeting, it seemed like nobody had big objections. I will use that commit and then ask the leads to review if there is any inconsistency on the `v1.1-branch`

[2020-11-11 03:11] berndverst commented on #1956
I'll update the docs and will close this out.

[2020-11-11 06:36] Jeffwan commented on #2322
Great! @RFMVasconcelos

[2020-11-11 10:44] RFMVasconcelos commented on #2322
Branch created -> https://github.com/kubeflow/website/tree/v1.1-branch

[2020-11-11 10:54] RFMVasconcelos commented on #2322
Netlify deployed v1.1 version:
https://v1-1-branch--competent-brattain-de2d6d.netlify.app/

[2020-11-11 11:03] RFMVasconcelos commented on #2322
Hey @jlewi @Bobgy, I've done steps 1 & 2 of the ["Creating and publishing a website branch for vX.Y" guide](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#creating-and-publishing-a-website-branch-for-vxy). ☝️

I'm stuck on step 3, as I don't have access to the [Cloud DNS of Kubeflow.org](https://console.cloud.google.com/net-services/dns/api/enable?nextPath=%2Fzones&project=

[2020-11-11 18:53] Talador12 opened #2349 "Deploy - GKE CLI feedback"
The following section needs to be at the top of the page
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#understanding-the-deployment-process

There used to be a "one click deploy kubeflow" on the UI. This button has since been removed. This would be fine, but the CLI comes up short in comparison - it needs a simple and common way to deploy kubeflow. The section mentioned above clarifies a fe

[2020-11-12 17:25] tcnt commented on #2329
@yuzisun the pull request is merged. What is the next step to close the issue?
Is this something to be done by the requestor @jal06 ?

[2020-11-12 17:51] kbhawkey commented on #1924
Hi @terrytangyuan .
You may be interested in this new tool, https://github.com/tengqm/genref.
I have not read through the changes, but thought it may help to generate a controller API.

[2020-11-12 19:42] shawnzhu opened #2353 "Add troubleshooting section for the article "Secure the Kubeflow authentication with HTTPS" on IBM Cloud"
I've got several cases that the guide [Secure the Kubeflow authentication with HTTPS](https://www.kubeflow.org/docs/ibm/deploy/authentication/) is really hard to follow and caused trouble that's hard to debug.

@animeshsingh suggested adding a troubleshooting section and it sounds good idea.

[2020-11-12 20:55] jal06 commented on #2329
@tcnt
That's great. Thanks a lot.
I think I can close this issue now.

[2020-11-12 20:56] #2329 closed

[2020-11-14 04:30] #1756 closed

[2020-11-14 16:23] jlewi commented on #2322
One of @kubeflow/google-admins will have to do the DNS steps.

[2020-11-15 01:39] Bobgy commented on #2166
This looks exactly like https://github.com/kubeflow/metadata/issues/202

Can you confirm kustomize version by
[code]
Or edit the file in the error message to replace the env field with envs as suggested in above issue

[2020-11-15 18:07] Jeffwan commented on #1929
/cc @PatrickXYS

[2020-11-15 20:45] PatrickXYS commented on #1929
/assign

[2020-11-16 11:17] RFMVasconcelos commented on #2322
Thank you for clarifying @jlewi. Could any of the @kubeflow/google-admins provide a timeline for this?

Many thanks!

[2020-11-16 13:30] Bobgy commented on #2322
I'll take a look tomorrow

[2020-11-16 19:42] amygdala commented on #1954
/lifecycle frozen

[2020-11-17 06:01] Bobgy commented on #2322
I've updated DNS record, https://v1-1-branch.kubeflow.org/ shows up correctly. It hasn't updated SSL certificate yet, I'm contacting netlify to set it up.

[2020-11-17 06:17] Bobgy commented on #2322
After SSL ready, I'll do "Changing the version www.kubeflow.org points to" step

[2020-11-17 14:27] RFMVasconcelos commented on #2322
Awesome! Let me know if you want me to do any of the next steps

[2020-11-18 13:04] Bobgy commented on #2322
OK, SSL is now ready. I've also switched netlify to build v1.1-branch as kubeflow.org content.
@RFMVasconcelos can you continue to update master branch's label so it shows as v1.2

[2020-11-18 17:41] RFMVasconcelos commented on #2322
Hi @Bobgy!

Thank you for the help! I can take care of that until EOW

[2020-11-20 20:32] Jeffwan commented on #2322
@RFMVasconcelos We cut code release. do you want to update the docs?

[2020-11-22 16:34] theofpa commented on #1940
@radhakrishnang , Arrikto launched [MiniKF in AWS marketplace](https://aws.amazon.com/marketplace/pp/B08MBGH311?qid=1606062605249&sr=0-1&ref_=srh_res_product_title#pdp-overview) earlier this month, which simplifies further the setup for a data scientist.

[2020-11-22 23:55] #2021 closed

[2020-11-23 10:20] RFMVasconcelos opened #2366 "Kubeflow v1.2 docs - updating shortcodes for config files and KFDefs"
Hi all!

The docs release [guide](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#create-website-branch) suggests updating **all** the config and URI [shortcodes](https://github.com/kubeflow/website/tree/master/layouts/shortcodes) for the new versioning:

![image](https://user-images.githubusercontent.com/27001378/99950720-e10b4300-2d74-11eb-9dc2-b4ecc3982ceb.png)

I recall

[2020-11-23 10:22] RFMVasconcelos opened #2367 "Update Kubernetes vs Kubeflow versions matrix"
Hi all!

With v1.2 release, we need to once more update the [version matrix](https://www.kubeflow.org/docs/started/k8s/overview/).

Starting an issue so we can track progress on this front.

[2020-11-23 10:27] RFMVasconcelos commented on #2322
Hey @Jeffwan!

I have updated the website versioning -> #2365

Also opened issues for the following steps that are in the [versioning guide](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#create-website-branch):
* #2366 for updating shortcodes for config files and KFDefs
* #2367 for K8s version matrix

[2020-11-24 01:57] OmriShiv commented on #2044
@jlewi, I'm interested in potentially taking this on. What exactly are you looking to deploy? Just an arbitrary webapp? Is there a reason we would want to encourage deploying arbitrary apps into a kubeflow environment?

It seems that this issue may be more describing how to use a Kubernetes/istio environment; from the issue description, I'm not sure how it relates specifically to Kubeflow.

[2020-11-24 02:18] OmriShiv commented on #2331
It seems to be available on dockerhub: https://hub.docker.com/layers/kubeflow/tf-benchmarks-cpu/v20171202-bdab599-dirty-284af3/images/sha256-966c3a60b83fc7601613aef7ed74a24dbd24d7815c4c7738ad60379de7fd0c97?context=explore

It might need to be moved to gcr or the documentation needs to be updated

[2020-11-24 03:23] #1978 closed

[2020-11-24 07:38] soumochak83 commented on #2353
Hi! Sharing my experience to secure Kubeflow 1.1 on IBM Cloud IKS using AppID.

I followed the documentation as available on Kubeflow page - https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#multi-user-auth-enabled ...but after configuring every step as expected, I couldn't connect to Kubeflow using AppID. Whenever I tried hitting the Kubeflow URL as configured in the steps, the browser r

[2020-11-25 13:08] jlewi commented on #2293
I think we should aim to have separate websites for each application in Kubeflow 1.3.

@yanniszark since you will be driving the 1.3 release WDYT?

[2020-11-25 13:09] jlewi commented on #2044
I'm closing this issue because while I think this is very useful information I no longer think it belongs in Kubeflow because

* The information is probably dependent on how you've configured your distribution/Kubernetes
* We are moving in the direction of making Kubeflow more focused on the applications owned by the specific work groups

Per #2293 we are moving in the direction of having separate

[2020-11-25 13:09] #2044 closed

[2020-11-25 23:34] Bobgy commented on #2366
You can skip the gcp-iap config, because it shouldn't be used anywhere. We need to clean up

[2020-11-26 00:13] 8bitmp3 commented on #2353
Just for formality 😺

/assign @animeshsingh @shawnzhu @Tomcli

[2020-11-26 02:05] Simon-Harris-IBM opened #2371 "Install Kubeflow on IBM Cloud, deploy step points to wrong location"
https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/

Step 7 of the install instructions for IBM Cloud says:
[code]

The apply command should point to the local yaml config file created in the previous step and not the CONFIG_URI env var. Instructions to install on other platforms have the following step before the apply command:
[code]

Then the apply step uses the CONFIG_FILE env var:
[cod

[2020-11-26 09:44] RFMVasconcelos commented on #2366
Thank you for the clarification @Bobgy. I should perhaps ping other platform owners in this issue.

[2020-11-26 09:47] RFMVasconcelos commented on #2366
@Jeffwan could you please verify this on the AWS front?
@animeshsingh could you please verify this on the IBM front?
@Bobgy for the pipelines folder, how should we proceed?

[2020-11-26 16:45] PatrickXYS commented on #2366
From AWS side, we're ready for 1.1 changes. Will send PR for 1.2 doc changes

[2020-11-27 04:20] Bobgy commented on #2366
We don't need to change pipeline folder, it has its own release schedule

[2020-11-30 12:53] karlschriek opened #2378 "End-to-end Kubeflow on AWS: Authenticating to KFServing via Cookie"
I am following this guide and am attempting to authenticate KFServing using the `AWSELBAuthSessionCookie-0` cookie. This is on a KF 1.0.2 rollout using KFServing 0.3.0.

https://www.kubeflow.org/docs/aws/aws-e2e/

I am rolling out the example iris model in the karl-schriek namespace, resulting in:

[code]

I then proceed to use python's requests package to perform the POST as describe in the docum

[2020-11-30 14:13] theofpa commented on #2378
You also need to add `https://sklearn-iris.karl-schriek.dev-kubeflow-102.learn-mlops.com/oauth2/idpresponse` in the callback URLs of the app client settings in cognito.

[2020-11-30 16:14] karlschriek commented on #2378
I have now set all of the following callback URLs:

[code]

No change in the error message. Also, if this is needed, was it simply an oversight it was not noted in the guide?

[2020-11-30 17:15] seizadi commented on #2378
I opened an issue for updating the documentation for AWS Cognito use case, here: https://github.com/kubeflow/kfserving/issues/1233

[2020-11-30 18:07] Jodo-skywalker opened #2379 "Fuck off the localhost IP"
![image](https://user-images.githubusercontent.com/64779519/100646904-fb2dbe00-333e-11eb-8ba0-49f72f132c73.jpg)
![image](https://user-images.githubusercontent.com/64779519/100646951-0d0f6100-333f-11eb-8c3a-c20b7d1eedea.jpg)
![image](https://user-images.githubusercontent.com/64779519/100646986-20bac780-333f-11eb-881d-5b9d2fb194c9.jpg)
Fucking localhost ip. Internet is full of shits

[2020-11-30 21:19] ReggieCarey opened #2380 "Kubeflow Deployment with kfctl_k8s_istio"
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Note, the following (quoted docs below)  is completely useless in getting access to Kubeflow after a deployment:

What is the default dns name inside the cluster?
What is the dns name for access outside this cluster?
How do we check if the dns name for the service has been deployed?

You need to consider your audience.  It's not K8S opera

[2020-12-01 07:35] Bobgy opened #2381 "[Testing] Standardize markdown linting rules"
In general, I did some quick research, it seems the extra rules like "always adding empty lines before and after code blocks" are not implemented by markdown formatters. However, they can be enforced by linters like https://github.com/DavidAnson/vscode-markdownlint#configure. Install that plugin on your vscode and it automatically highlights problems. Additionally, we could set up the same process

[2020-12-01 07:36] Bobgy commented on #2381
/cc @joeliedtke @8bitmp3
I feel like this is the best way to align on best practices with minimum ongoing cost.
What do you think?

[2020-12-01 09:53] RFMVasconcelos opened #2382 "KFServing broken links"
There seems to be a lot of broken links in the [KFServing docs page](https://master.kubeflow.org/docs/components/serving/kfserving/).

@animeshsingh could I gently ask you or someone from the Serving WG to take a look?

Many thanks!

[2020-12-01 11:40] tholor opened #2384 "Broken Link on "Tools for serving > Overview""
Page: https://www.kubeflow.org/docs/components/serving/overview/
Link: Pytorch "Sample"
Error: 404

![image](https://user-images.githubusercontent.com/1563902/100735820-20b7d780-33d2-11eb-9a84-dec78371b8f6.png)
![image](https://user-images.githubusercontent.com/1563902/100735930-5230a300-33d2-11eb-8eea-ab079acc998f.png)

[2020-12-01 14:19] devil-cyber opened #2387 "Broken Link for Multi-framework serving with KFServing or Seldon Core"
## Sample for the framework  having sub-feature TensorFlow, Xgboost, PyTorch, etc all links are broken
https://www.kubeflow.org/docs/components/serving/overview/
![Table](https://user-images.githubusercontent.com/1563902/100735930-5230a300-33d2-11eb-8eea-ab079acc998f.png)

[2020-12-01 14:33] 8bitmp3 commented on #2387
@adrian555 @animeshsingh @cliveseldon @ellistarn @ryandawsonuk @Tomcli @yuzisun PTAL (`/serving` OWNERS)

[2020-12-01 14:36] 8bitmp3 commented on #2387
Related issue https://github.com/kubeflow/website/issues/2382

cc @RFMVasconcelos

[2020-12-01 14:39] 8bitmp3 commented on #2380
cc @swiftdiaries @yanniszark @Bobgy @joeliedtke @jlewi @RFMVasconcelos

[2020-12-01 14:39] 8bitmp3 commented on #2387
Related issue https://github.com/kubeflow/website/issues/2384

[2020-12-01 18:53] 8bitmp3 commented on #2384
@yuzisun

Did KFServing framework samples (TensorFlow, PyTorch, etc) get moved from `/samples` to `samples/v1beta1` and `samples/v1alpha2`?

Commit: https://github.com/kubeflow/kfserving/commit/2f4f28a2c94086229d9d1e436c04d6f14d0b21c0#diff-859ee7723d23e50a9e8402e9393307865a30f00aab8b7180bb494815db927d3e

https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2
https://github.com/kub

[2020-12-01 18:53] 8bitmp3 commented on #2387
@yuzisun

Did KFServing framework samples (TensorFlow, PyTorch, etc) get moved from `/samples` to `samples/v1beta1` and `samples/v1alpha2`?

Commit: https://github.com/kubeflow/kfserving/commit/2f4f28a2c94086229d9d1e436c04d6f14d0b21c0#diff-859ee7723d23e50a9e8402e9393307865a30f00aab8b7180bb494815db927d3e

https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2
https://github.com/kub

[2020-12-01 18:53] 8bitmp3 commented on #2382
@yuzisun

Did KFServing framework samples (TensorFlow, PyTorch, etc) get moved from `/samples` to `samples/v1beta1` and `samples/v1alpha2`?

Commit: https://github.com/kubeflow/kfserving/commit/2f4f28a2c94086229d9d1e436c04d6f14d0b21c0#diff-859ee7723d23e50a9e8402e9393307865a30f00aab8b7180bb494815db927d3e

https://github.com/kubeflow/kfserving/tree/master/docs/samples/v1alpha2
https://github.com/kub

[2020-12-01 19:41] 8bitmp3 commented on #2381
Thanks @Bobgy that's a good idea IMO 👍

Perhaps to make things easy we can also explore adding a linter to CI that test `.md` files and highlights things to PR authors. For example, there's https://github.com/markdownlint/markdownlint and https://github.com/marketplace/actions/markdownlint-cli

VS Code has some good extensions - I'm not 100% sure all contributors would be using it 🤔.

I'd also hig

[2020-12-01 19:51] 8bitmp3 commented on #2381
From https://github.com/kubeflow/website/pull/2372#issuecomment-735987955

@joeliedtke I think that's a great idea 👍

At TensorFlow, @lamberta and team built the `nblint` tool for notebooks that you may be aware of (https://github.com/tensorflow/docs/tree/master/tools/tensorflow_docs/tools). Here's a Google `style` guide example: https://github.com/tensorflow/docs/blob/master/tools/tensorflow_docs

[2020-12-01 20:23] yanniszark commented on #2293
@jlewi I think that the docs definitely need re-factoring. I understand the arguments of being able to update independently, but even if we want to have documentation that is component-specific and updated independently, we still need to have an overarching structure to help users navigate the docs.

Thus, I think that the ideal is somewhere in the middle. We should have at least a few pages under

[2020-12-02 00:20] yuzisun commented on #2387
@8bitmp3 yes they are moved to v1ahpha2 directory, need to fix the links then

[2020-12-02 02:07] thesuperzapper commented on #2322
@RFMVasconcelos are you going to cut a 1.2 branch, rather than just pointing to master?

[2020-12-02 04:37] devil-cyber commented on #2387
Can I fix that Link then ?

On Wed, Dec 2, 2020, 5:50 AM Dan Sun <notifications@github.com> wrote:

[2020-12-02 05:25] Bobgy commented on #2381
Totally agree, https://github.com/DavidAnson/markdownlint is a nodejs tool that powers the vscode plugin I mentioned in the issue. I believe adding it to CI will be very beneficial for guarding new changes.

Although, to achieve the best contribution experience, I'd suggest any contributors to install the plugin, so that they can get instant feedback right in the editor, when they write the docume

[2020-12-02 05:33] Bobgy commented on #2381
Is there any existing tools that can do this? That will be very beneficial

[2020-12-02 06:01] Bobgy commented on #2322
Shall we resolve the urgent issue first? We need to decide on a date when master will be shown as default for www.kubeflow.org instead of v1.1-branch.kubeflow.org.

Doc updates on GCP side is almost done, I have one last PR waiting to be merged.

[2020-12-02 06:02] Bobgy commented on #2322
/cc @Jeffwan
maybe you should make the call for "when we show 1.2 docs by default".

[2020-12-02 13:26] karlschriek opened #2388 "Configure Kubeflow Pipelines on AWS: guide appears to be incorrect"
The steps described in this guide (https://www.kubeflow.org/docs/aws/pipeline/) do not lead to a successful authentication. As describe here  https://github.com/kubeflow/pipelines/issues/4825, it appears to be necessary to include both cookies.

[2020-12-02 14:14] 8bitmp3 commented on #2388
/assign @Jeffwan @PatrickXYS

PTAL 👍

cc @RFMVasconcelos

[2020-12-02 14:37] 8bitmp3 commented on #2381
@Bobgy I found five Markdown-specific link checkers on GH Actions: https://github.com/marketplace?type=actions&query=markdown+link
including this one: https://github.com/marketplace/actions/markdown-link-check

---

I agree but I'm not 100% sure everyone wants to use VS Code as an IDE. Some folks may be editing Markdown using PyCharm, Atom, or the GitHub app/web UI.

Maybe we can point users to th

[2020-12-02 16:59] 8bitmp3 commented on #2378
/assign @Jeffwan @PatrickXYS

(AWS)

[2020-12-02 19:25] PatrickXYS commented on #2388
@karlschriek  Thanks for reporting!

Will send a PR for documentation

[2020-12-02 19:57] joeliedtke commented on #2381
I'm curious to see if these link checkers work well with our content. It would be great if they could help us prevent the publication of broken links.

To prevent file deletions from breaking links, would it make sense to consider adding a check like the following: "If a file was deleted by this PR, does this PR also include a change to the redirects file?" The thought being that if a file is dele

[2020-12-03 02:41] Bobgy commented on #2381
I think each of these editors should have similar plugins -- maybe even powered by the same tool -- except GitHub app/web UI. A commandline tool that tells what is wrong will be the fallback if a contributor do not have access to any of those.

[2020-12-03 04:49] snowneji commented on #2137
Hello, I tried the approach shared, but still got the following error and it keeps retrying. I saw a similar error is another issue but it was related to Istio version (1.7.x doesn't work):

[code]
Then I try to inspect the pods under namespace `cert-manager`, looks the image pulling process was problematic since it tries to pull image from  `Pulling image "quay.io/jetstack/cert-manager-cainjector

[2020-12-03 13:28] karlschriek commented on #2378
Ok, so after going through various steps to finally upgrade to KF 1.2 (and to KFServing 0.4.1 with Istio 1.3.1) I am finally at the point where I make further progress here.

Aside from upgrading to KF 1.2 / KFServing 0.4.1/ Istio 1.3.1, I am no also include both cookies in the request. I am not sure if that is what is mainly responsible for the change, but it could be. That was also the case for

[2020-12-03 13:28] #2378 closed

[2020-12-03 16:16] RFMVasconcelos commented on #2322
@thesuperzapper we're going to point to master.

It seems that we're only missing [this step](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#changing-the-version-wwwkubefloworg-points-to) to update to v1.2.

I think we're ready to do this @Bobgy. I do not have access to Netlify, perhaps this needs to be done by a Googler?

[2020-12-04 02:09] thesuperzapper commented on #2293
There is currently a proposed structure change for the website in PR: https://github.com/kubeflow/community/pull/440

What are peoples thoughts about this, should we?
1. make the changes from https://github.com/kubeflow/community/pull/440 first, and then to start the process of separating out the component docs
1. start the process of splitting up the docs, and not worry about https://github.com/k

[2020-12-04 13:39] Bobgy commented on #2322
GCP side is ready.

/cc @kubeflow/aws @kubeflow/arrikto @kubeflow/azure @Jeffwan @animeshsingh

Did I miss any stakeholders?

If no one raises an objection, I will switch doc to master next Tuesday.

[2020-12-04 19:54] 8bitmp3 commented on #2322
@Bobgy Double check with Seldon @cliveseldon and KFServing @andreyvelich

@animeshsingh Does IBM have a `@kubeflow/ibm` team handle? @Tomcli

[2020-12-04 19:55] 8bitmp3 commented on #2322
cc @kubeflow/wg-automl-leads @kubeflow/wg-notebook-leads @kubeflow/wg-pipeline-leads @kubeflow/wg-training-leads @kubeflow/wg-serving-leads just to keep everyone in the loop

[2020-12-04 21:07] andreyvelich commented on #2322
From AutoML WG all required docs were updated on November 14th.
That is the latest commit: https://github.com/kubeflow/website/commit/b2ad541ebc0e03e7c1e8c78f969d4d33fff7800b.

[2020-12-04 21:40] #2379 closed

[2020-12-04 21:59] #2152 closed

[2020-12-04 22:08] RFMVasconcelos commented on #2293
Hi @yanniszark, thank you for the offer to help out in docs!

- I have started [this PR](https://github.com/kubeflow/community/pull/440) really as an open proposal and a few people in the community have already proposed changes in this PR. It would be great if we could get community consensus there, not having 2 versions.
- If you could help on this front, where I am struggling the most atm is scr

[2020-12-04 22:09] 8bitmp3 commented on #2164
gently pinging @jbottum

@Bobgy @RFMVasconcelos we're getting ready for v1.2 - can you recommend someone who can revisit this asap pls? Guide: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#notes-on-the-configuration-file

[2020-12-04 22:25] RFMVasconcelos commented on #2381
Love the thought process in this discussion! Standard linting and CI for links both sound fantastic

[2020-12-05 06:19] jizg opened #2393 "kubeflow-gateway.yaml indent is wrong"
I found that the indent of  `metadata` and `sepc` fields on `kubeflow-gateway.yaml` on [Securing the Kubeflow authentication with HTTPS](https://www.kubeflow.org/docs/ibm/deploy/authentication/#exposing-the-kubeflow-dashboard-with-dns-and-tls-termination) is wrong. The correct one should be like this:
[code]

[2020-12-07 02:45] thesuperzapper opened #2395 "add docs for deploying kubeflow with argo-cd"
A while ago I posted a guide for using argo-cd with `kfctl` to manage kubeflow deployments https://github.com/kubeflow/manifests/issues/1549#issuecomment-690822049, there seems to be quite a bit of interest in this deployment method.

Would people be ok if I add a page to the docs documenting this pattern?

[2020-12-07 20:23] #2269 closed

[2020-12-08 09:04] Bobgy commented on #2322
Updated default branch to master, once the next commit lands in master, the website will switch over to master as default.

[2020-12-08 16:52] PatrickXYS commented on #2322
Update from AWS Side, we have updated our doc to v1.2

[2020-12-08 18:24] snowneji commented on #2137
Okay, it was caused by our corporate environment blocked most of the public docker registries which were defined in the manifest. I had to write a script to replace all the public registries with internal proxies, which fixed the issue.

[2020-12-09 10:12] RFMVasconcelos commented on #2322
It seems that v1.2 docs are live!! 🚀

Thank you for the help @Bobgy!

/close

[2020-12-09 10:12] #2322 closed

[2020-12-09 11:41] RFMVasconcelos commented on #2137
Thank you for sharing your solution @snowneji and sorry for the lack of reply. Since this thread was for updating docs, which has been done I will close it and expect people to create issues if they face one.

/close

[2020-12-09 11:41] #2137 closed

[2020-12-09 12:18] Subhraj07 opened #2398 "path of yaml files are not correct"
in steps 4 and 5 Path of the .yaml file is not correct.

The expected path should be
.cache/manifests/stacks/azure/application/oidc-authservice/kustomization.yaml and
.cache/manifests/istio/oidc-authservice/base/statefulset.yaml

It creates a lot of confusion while searching for the file.

[2020-12-09 16:11] ronytesler commented on #2164
any update?

[2020-12-09 17:20] Bobgy commented on #2164
/cc @kubeflow/arrikto

Probably one of you might want to take this?

[2020-12-09 18:09] davidyuyuan opened #2399 "End-to-end story to use components cohesively since we position Kubeflow as a comprehensive platform"
This issue is stemmed from https://github.com/kubeflow/community/pull/440, Restructuring Kubeflow docs proposal.

We have many excellent components. It requires some coordination and cooperation to make components working together smoothly, expecially for users without extensive experiences. It might be a bit more than documentation.

In particular, what do we do to guide users to use all componen

[2020-12-09 19:39] RFMVasconcelos commented on #2399
Thank you for starting this @davidyuyuan !

I hope we can create such a guide in the near future

[2020-12-09 23:17] JoshZastrow opened #2400 "Parameterize Component.yaml image"
Hi, it looks like the image (with commit tag) hardcoded in the yaml file. Would be great to have instructions on how this might be parameterized, I don't see a way to do that using the `kfp` SDK or anywhere in the docs.

The problem is as soon as a new image is pushed, it seems like I'd need to manually change the yaml files to reference the new image.

Another problem is that `gcr` has the `proje

[2020-12-11 00:13] isaacyuenhk01 opened #2402 "Request Docs for Kube2iam and connection with external database and nvidia support"
I would like to request updated documentation on how to create Kubeflow with the Kube2iam role. Not sure if the current Kubeflow support kube2iam in the AWS EKS cluster. Because of that, we have to create Kubeflow with kfctl_k8s_istio.v1.1.0.yaml instead of kfctl_aws.v1.1.0.yaml.

Besides, could you update the description on how to connect to an external database (eg. AWS RDS MySQL). I find that d

[2020-12-11 00:13] #2402 closed

[2020-12-11 00:14] Isaacwhyuenac opened #2403 "Request Docs for Kube2iam and connection with external database and nvidia support"
I would like to request updated documentation on how to create Kubeflow with the Kube2iam role. Not sure if the current Kubeflow support kube2iam in the AWS EKS cluster. Because of that, we have to create Kubeflow with kfctl_k8s_istio.v1.1.0.yaml instead of kfctl_aws.v1.1.0.yaml.

Besides, could you update the description on how to connect to an external database (eg. AWS RDS MySQL). I find that d

[2020-12-13 12:05] habmat opened #2406 "Create or access an IBM Cloud Kubernetes cluster"
https://www.kubeflow.org/docs/ibm/create-cluster/

[2020-12-13 18:04] PatrickXYS commented on #2406
@habmat What's the issue here?

[2020-12-14 14:12] bdoohan-goog commented on #1922
Visiting https://deploy.kubeflow.cloud/#/deploy I am received an error saying that site cannot be reached. Has this site been deprecated?

[2020-12-14 15:36] 8bitmp3 commented on #1922
https://deploy.kubeflow.cloud is indeed offline

/assign @Bobgy

[2020-12-15 00:47] 8bitmp3 commented on #2398
/assign @berndverst @dtzar @eedorenko @sudivate

PTAL (for `manifests/stacks/azure/`)

/assign @krishnadurai @lluunn

PTAL (for `manifests/istio/`)

(@Bobgy @RFMVasconcelos @jlewi - Issue templates that helps with auto-labeling and auto-assigning - a bit like in https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository - shou

[2020-12-15 00:49] 8bitmp3 commented on #2371
/assign @animeshsingh @shawnzhu @Tomcli

PTAL 🙏

[2020-12-15 00:51] 8bitmp3 commented on #2382
@yuzisun Hi, can you PTAL. Thank you!

cc @RFMVasconcelos

[2020-12-15 00:54] Tomcli commented on #2371
I think we fixed a while back, but the default instructions still pointing to v1.1 two weeks ago so it created some confusion. The new v1.2 instructions should addressed this issue.

[2020-12-15 02:14] yuzisun commented on #2382
@8bitmp3 Yes that's correct, since we are releasing 0.5 with v1beta1 API, examples are classified into v1alpha2 and v1beta1

[2020-12-15 05:05] Bobgy commented on #2398
That's a good idea! Does anyone want to submit a PR for setting it up?

[2020-12-15 06:04] PatrickXYS commented on #836
For now, we have IRSA enabled for the permission model, we don't need to have explicitly IAM permission

/close

[2020-12-15 06:04] #836 closed

[2020-12-15 09:49] berndverst commented on #2398
@Subhraj07 That was indeed confusing, as was this GitHub issue.

I made a PR to update the docs. Also thanks for flagging this -- I didn't realize we currently needed to modify files in `.cache`. Not ideal. I'll work with @sudivate to refactor and validate the instructions such that we can add all necessary configuration to the kfctl_azure_aad.v1.2.0.yaml.

By the way, due to some template variabl

[2020-12-15 09:51] berndverst commented on #2398
/close

[2020-12-15 09:51] #2398 closed

[2020-12-15 17:00] Bobgy commented on #1922
No, it's no longer supported

[2020-12-15 17:11] bdoohan-goog commented on #1922
Thank you both

[2020-12-15 18:14] #2393 closed

[2020-12-17 11:06] Evanto commented on #1940
Hi @radhakrishnang, we're building [SAKK](https://github.com/provectus/sak-kubeflow) - a Terraform-based tool that allows configuring EKSs cluster with Kubeflow declaratively using IaC approach, deploy them with a couple of commands, quickly replicate and augment your clusters with any new resources, and automate them with GitOps.  The [Quickstart](https://github.com/provectus/sak-kubeflow/blob/in

[2020-12-17 22:56] Evanto opened #2415 "Kubeflow Docs: Updating Diagrams"
I was going through pages of Kubeflow documentation and thought that many of the diagrams look dated at least in the terms of graphic style (maybe also in readability and essence). It seems that there is a lot of room for improvement in the quality of graphic content.

Maybe we could work out a single modern style to create graphics for Kubeflow docs. Can we discuss it and see what can be done? Wh

[2020-12-17 23:00] elizgarcia5 commented on #2415
good on my

[2020-12-18 06:29] #2109 closed

[2020-12-18 06:29] #1980 closed

[2020-12-18 06:29] #2016 closed

[2020-12-18 06:29] #2040 closed

[2020-12-18 06:29] #2151 closed

[2020-12-18 06:29] #2165 closed

[2020-12-18 11:13] MarcinHawryluk opened #2417 "Overview of Deployment on an Existing Kubernetes Cluster"
https://www.kubeflow.org/docs/started/k8s/overview/
There is no Kubeflow 1.2 and no Kubernetes Versions 1.19 in the table.
Also the oldest versions may be marked as deprecated.

[2020-12-18 11:19] #2417 closed

[2020-12-18 11:19] MarcinHawryluk commented on #2417
Duplicated.

[2020-12-18 13:20] 8bitmp3 commented on #2172
@Bobgy How do you think we should proceed here? The issue is getting stale. Cheers

[2020-12-19 20:41] kevinleewy commented on #2206
Has this been incorporated into v1.2? Otherwise, is there a workaround similar to the one for v1.1 by @DavidSpek?

[2020-12-19 20:43] DavidSpek commented on #2206
@kevinleewy This has been solved in Kubeflow 1.2 as the seldon version has been updated.

[2020-12-20 05:26] brentchang opened #2419 "yq 4.0.0 not supported yet while Setting up a management cluster on Google Cloud"
Hi kubeflow team,

I'm trying to set up a management cluster on Google Cloud follow the [website document](https://www.kubeflow.org/docs/gke/deploy/management-setup/).

I found that once I installed version 4.0.0 of yq, the `make get-pkg` command in the [Setting up a management cluster](https://www.kubeflow.org/docs/gke/deploy/management-setup/#setting-up-a-management-cluster) Section will fail wi

[2020-12-20 14:28] futurexskill opened #2422 "Simplify kubeflow"
Simplify KubeFlow for data scientists. All we need is is a pip install kubeflow

[2020-12-24 08:58] Bobgy commented on #2172
/assign @yanniszark @swiftdiaries
Friendly ping again.

@8bitmp3 don't worry, you don't need to make sure everything is fixed. The owners should follow up with these issues at their own schedule

[2020-12-29 09:50] bonacciog opened #2427 "Scheduling Notebook Pods"
Can I add a nodeSelector/affinity to a Jupiter notebook pod? How?
I'd like to schedule a Jupiter notebook with my personal image in a specific node of the cluster

[2020-12-31 22:25] ssiegel95 opened #2429 "Need an upgrade guide"
Current update guide is empty.

[2021-01-02 09:10] Aut0R3V commented on #2422
I think this PR is a bit incomplete. Can you specify where exactly this instruction is missing?

[2021-01-02 09:13] Aut0R3V commented on #2429
Isn't that document related to this one : https://v0-5.kubeflow.org/docs/pipelines/upgrade/

[2021-01-04 16:22] NourhanKhaled opened #2432 "Azure Machine Learning Components"
I've been working with kubeflow and kubeflow pipelines a few months shy of a year and the documentation has never failed me, so I'm writing this issue because I believe this page is missing a lot of vital information:
https://www.kubeflow.org/docs/azure/machinelearningcomponent/

I'm not quite experienced with Azure's components so the links provided for Azure ML were useful, however I think what'

[2021-01-04 16:23] #2432 closed

[2021-01-04 16:53] NourhanKhaled opened #2433 "Azure Machine Learning Components"
I've been working with kubeflow and kubeflow pipelines a few months shy of a year and the documentation has never failed me, so I'm writing this issue because I believe this page has room for improvement:
https://www.kubeflow.org/docs/azure/machinelearningcomponent/

I have kubeflow deployed on azure, but I'm not quite familiar with Azure's components so the links provided for Azure ML were very u

[2021-01-04 16:54] NourhanKhaled commented on #2432
The updated issue #2433

[2021-01-04 19:43] ssiegel95 commented on #2429
Thanks for the reply @Aut0R3V. I should have been more explicit, sorry. The issue I was reporting was for [the main page](https://www.kubeflow.org/docs). When you click on [Upgrading Kubeflow](https://www.kubeflow.org/docs/upgrading) in the lower left pane, you are taken to what is effectively a blank page:

![image](https://user-images.githubusercontent.com/12914116/103572843-3c177600-4e9b-11eb-9

[2021-01-04 20:08] Aut0R3V commented on #2429
Can any of the members comment on this? If this is a replica of any previous issues it can be closed. Or else I'd like to send in a PR for this. @Bobgy @marcusturewicz

[2021-01-04 20:09] Aut0R3V commented on #2433
I kinda agree with @NourhanKhaled. I'd like to work on this.

[2021-01-04 20:14] Aut0R3V commented on #2331
It's outdated. I'd like to work on this.

[2021-01-04 23:27] 8bitmp3 commented on #2433
Assigning Azure `OWNERS`, PTAL 👍

/assign @aronchick @berndverst @eedorenko @sudivate

and HNY 🎉

[2021-01-05 01:10] berndverst commented on #2433
Happy New Year!

@yilun-msft is the original author and works on the Azure Machine Learning team. Agreed the article needs some information on how and why one uses Kubeflow Pipelines with AML [Azure Machine Learning (the service)]

To my knowledge, today the only integration between AML and Kubeflow Pipelines is the convenience operations linked in this article, which really appear to be wrappers

[2021-01-05 01:11] berndverst commented on #2433
/assign yilun-msft

[2021-01-05 01:15] berndverst commented on #2433
In short AML may be more convenient for storing and versioning models and deploying these quickly. There are definitely other options for doing so.

It all depends on where you want to train, store / version and serve your models.

AML also has a pipelines component itself - which is different from Kubeflow Pipelines. https://docs.microsoft.com/en-us/azure/machine-learning/concept-ml-pipelines

[2021-01-05 01:19] berndverst commented on #2433
/unassign eedorenko, sudivate

[2021-01-05 01:21] berndverst commented on #2433
/help

[2021-01-05 08:46] chinmay22897 opened #2434 "Deploying Kubeflow behind a proxy server"
https://www.kubeflow.org/docs/other-guides/kubeflow-behind-proxy/

It do tells us how to install kubeflow behind proxy but nothing on how to configure further more things, for instance I am not able to download anything from inside my pipeline components and the error I get is "no route to host" which is indirectly related to proxy related only, I have searched everywhere but found no fix for this

[2021-01-05 16:07] HelenCousins opened #2435 "multi-user"
I want to deploy a multi-user kubeflow on an existing k8s cluster in a private cloud.  I have deployed a single user version with no authentication beyond "am I on the company network" which is nice, but not a service!  We have LDAP, and it would be nice to use it.  I have no idea where to start.

[2021-01-06 03:56] yilun-msft commented on #2433
Thanks @NourhanKhaled for bringing it up and thanks @berndverst for the answer. AML offers a variety of capabilities that could be used in the machine learning workflow. The "AML components" are the wrapped individual operations that could be injected in Kubeflow pipeline. It would allow us to use AML functionalities within Kubeflow pipeline, and yes, it is similar to what a step operation using A

[2021-01-06 12:15] RFMVasconcelos opened #2436 "Need OWNERS for shortcodes"
Given the lack of individual OWNERS for shortcodes, it has been unclear which can be updated right at the outset of a new release, and which can not.

Platform and WG leads should be the OWNERs of the shortcodes, so they can tell us when these can be updated and approve such change, not requiring root approvers for it.

See [issue](https://github.com/kubeflow/website/pull/2423)

cc @Bobgy @8bitmp3

[2021-01-06 13:05] #2218 closed

[2021-01-06 13:05] #2076 closed

[2021-01-06 13:05] #2081 closed

[2021-01-06 13:05] #2150 closed

[2021-01-06 23:18] sidpalas opened #2437 "Management cluster setup kpt version incompatibility"
https://www.kubeflow.org/docs/gke/deploy/management-setup/

The latest version of kpt (`v0.37.1`) is not compatible with this step:
[code]
(https://www.kubeflow.org/docs/gke/deploy/management-setup/#setting-up-a-management-cluster)

By installing kpt `v0.35.0` I was able to get it to work.

[2021-01-07 04:19] Bobgy commented on #2437
As explained in https://github.com/kubeflow/gcp-blueprints/issues/183#issuecomment-755873147, I think the error message can be ignored for now. All the following steps should succeed without even downgrading kpt.

[2021-01-07 12:14] Bobgy commented on #2429
Looks like the last clean up PR was not complete: https://github.com/kubeflow/website/pull/2275.
We should also delete the upgrade folder.

Regarding request to upgrade guide, each distribution will need to own its own upgrade guide. E.g. for GCP, the upgrade guide lives in https://www.kubeflow.org/docs/gke/deploy/upgrade/

[2021-01-07 13:21] sidpalas commented on #2437
Thanks @Bobgy -- Do you think it makes sense to call this out in the deployment steps on the website so that people who encounter it in the future know that they can proceed?

[2021-01-07 13:30] Bobgy commented on #2437
@sidpalas yes, that would be great

[2021-01-07 13:38] sidpalas commented on #2437
Great -- I can create a PR calling this out

[2021-01-07 13:58] jhattingh commented on #2137
@snowneji Do you mind expanding on the script you created to setup the proxy? I'm currently stuck here as well.

Thanks in advance. :)

[2021-01-07 14:09] Bobgy commented on #1987
already added this information: https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

[2021-01-07 14:09] #1987 closed

[2021-01-07 16:38] snowneji commented on #2137
Sure, so basically I'm following the above approach except I need to:

1. Fork the repo and work on the branch corresponding to this archive: `https://github.com/kubeflow/manifests/archive/v1.1-branch.tar.gz`
2. use the following script to replace the public repos by the proxies of your corporate:
[code]

3.  push the changes to your own Github repo and tag the new version, then download the `tar.

[2021-01-07 20:06] #2429 closed

[2021-01-08 06:42] Bobgy opened #2444 "Training documentation lacks OWNERS"
why OWNERS is missing for training documentation?
/cc @kubeflow/wg-training-leads

_Originally posted by @Bobgy in https://github.com/kubeflow/website/issues/2441#issuecomment-756580966_

[2021-01-08 09:10] aliasmee commented on #2206
+1

[2021-01-08 14:42] terrytangyuan commented on #2444
Thanks. Added in https://github.com/kubeflow/website/pull/2445.

[2021-01-09 02:43] michaelwsherman commented on #2048
maybe not stale?

[2021-01-09 23:20] #2156 closed

[2021-01-10 02:14] #2444 closed

[2021-01-10 13:08] benlaor38 opened #2446 "KFServing"
https://www.kubeflow.org/docs/components/serving/kfserving/
dead links galore
everything is 404

[2021-01-10 14:05] #2130 closed

[2021-01-10 14:05] #2116 closed

[2021-01-10 14:05] #2057 closed

[2021-01-10 14:05] #2070 closed

[2021-01-10 15:16] amygdala commented on #1788
/lifecycle frozen

[2021-01-11 23:26] berndverst commented on #2436
For Azure there is a separate folder with our short codes. Please add an OWNER file there and add myself @berndverst and @aronchick to it as approvers.

[2021-01-12 07:14] tomalbrecht commented on #2035
See the solution here: https://github.com/ubuntu/microk8s/issues/1366#issuecomment-654411307

[2021-01-12 07:14] #2035 closed

[2021-01-14 13:05] sunilfernandes opened #2452 "Management cluster setup : MANAGED_PROJECT variable not set and explained"
https://www.kubeflow.org/docs/gke/deploy/management-setup/

The documentation asks to set the below :
kpt cfg set ./instance managed-project "${MANAGED_PROJECT}"

But MANAGED_PROJECT variable has not been set anywhere on this page nor its meaning explained. Please can this be explained and added for clarity.

[2021-01-15 18:43] SaschaHeyer commented on #2121
Will this be solved at some point? Having errors basically in the first setup step should be avoided.

[2021-01-16 11:22] #2053 closed

[2021-01-16 11:22] #2220 closed

[2021-01-16 11:22] #2208 closed

[2021-01-16 11:22] #2117 closed

[2021-01-16 11:22] #2211 closed

[2021-01-16 11:22] #2122 closed

[2021-01-16 11:22] #2037 closed

[2021-01-16 11:22] #2033 closed

[2021-01-16 11:22] #1997 closed

[2021-01-16 11:22] #2134 closed

[2021-01-16 11:22] #2136 closed

[2021-01-16 11:22] #2141 closed

[2021-01-16 11:22] #2145 closed

[2021-01-16 11:22] #2259 closed

[2021-01-17 00:40] #2272 closed

[2021-01-17 01:12] Bobgy commented on #2121
Agree, let's keep this open

[2021-01-17 01:17] Bobgy commented on #2121
Let's track fixing the problem in code repo, not documentation repo: https://github.com/kubeflow/gcp-blueprints/issues/189

[2021-01-17 01:17] #2121 closed

[2021-01-20 02:42] javajon opened #2456 "Typo on doc page for "Installing Kubeflow Instructions for Kubeflow deployment with Kubeflow Operator""
On the page [Installing Kubeflow: Instructions for Kubeflow deployment with Kubeflow Operator](https://www.kubeflow.org/docs/operator/install-kubeflow/) there instructions say:

`yq w ${KFDEF} 'metadata.name' ${KUBEFLOW_DEPLOYMENT_NAME} > ${KFDEF}.tmp && mv ${KFDEF}.tmp ${KFDEF}`

**The parameter `w` should instead be an `e`**, however because this is a documentation page, it should be 'eval' to s

[2021-01-23 17:14] #2289 closed

[2021-01-23 17:14] #2207 closed

[2021-01-25 06:02] #2264 closed

[2021-01-25 06:02] #2270 closed

[2021-01-27 06:49] 15162162323 opened #2463 "kfctl_k8s_istio.v1.2.0 remove istio configuration ?"
in this website: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

**Disabling istio installation - If your Kubernetes cluster has an existing Istio installation you may choose to not install Istio by removing the applications istio-crds and istio-install in the configuration file kfctl_k8s_istio.v1.2.0.yaml**
this context say removing istio-crds istio-install in kfctl_k8s_istio.v1.2.0.y

[2021-01-27 08:10] oluies commented on #2024
Is this online somewhere now?

[2021-01-28 02:14] joeliedtke opened #2465 "Restructure Components section"
@RFMVasconcelos , one suggestion that came out of the last community meeting was to see if we can start work on some of the uncontroversial parts of the restructuring plan ([Kubeflow/Community PR #440](https://github.com/kubeflow/community/pull/440)) that you proposed. From this meeting, the community seems to agree that we can move forward with the proposed changes to the Components section.

If

[2021-01-28 02:15] joeliedtke commented on #2465
/assign @RFMVasconcelos
/assign

[2021-01-28 02:21] joeliedtke commented on #2465
I propose that we update the Components section within the docs folder (keeping `/docs/components` instead of moving to `/components`). This reduces the effort required to implement these changes, and reduces the number of redirects that are necessary. My understanding is that the weight that search engines give a link is shared when a page is redirected (and shared several ways if a page redirect

[2021-01-29 03:09] thesuperzapper commented on #2465
Sounds good @joeliedtke, do you think its realistic to aim to _**implement these changes within the next week**_?

This will give time for WGs to update their component docs ahead of Kubeflow 1.3's release in 1 month.

[2021-01-29 03:12] thesuperzapper commented on #2465
@animeshsingh @Bobgy @joeliedtke what are your comments?
(Specifically, related to how we implement these changes, not the changes themselves, which have already been agreed to in: https://github.com/kubeflow/community/pull/440)

Also cc @castrojo who is wanting to get involved in this kind of stuff.

[2021-01-29 17:51] RFMVasconcelos commented on #2465
@joeliedtke, I think this is a great start!

I've started this [project](https://github.com/kubeflow/website/projects/2), so we can add smaller chunks as issues and track the progress of the overall initiative.

We might want to split this initiative into several sub-tasks - e.g. 1. rename Components section; 2. Rename and move Notebooks section under Components; etc.

So, let me create a bunch of

[2021-01-29 18:11] RFMVasconcelos opened #2468 "Moving `Notebook Servers` section under `Components`"
As part of #2465, we need to move the `Notebook Servers` section to under `Components`.

Would moving the `/notebooks` folder under `/components/` automatically do the trick?

I am not too familiar with `Netlify` and `Hugo` yet. It seems that `/notebooks` has a similar folder structure to things like `/components/katib`.

If so, this should be easy. We just need to at the end of this process manag

[2021-01-29 18:19] RFMVasconcelos commented on #2468
cc @kubeflow/wg-notebooks-leads

[2021-01-29 18:21] RFMVasconcelos opened #2470 "Moving `Kubeflow Pipelines` section under `Components`"
As part of #2465, we need to move the `Kubeflow Pipelines` section to under `Components`.

(same as in #2468)

Would moving the `/pipelines` folder under `/components/` automatically do the trick?

I am not too familiar with `Netlify` and `Hugo` yet. It seems that `/pipelines` has a similar folder structure to things like `/components/katib`.

If so, this should be easy. We just need to at the end

[2021-01-29 18:32] RFMVasconcelos opened #2471 "Move istio usage under `Components`"
See #2465.

[Istio usage in Kubeflow](https://www.kubeflow.org/docs/other-guides/istio-in-kubeflow/) is now in `Further setup & troubleshooting` in the docs, and in the folder it is under `/other-guides/istio-in-kubeflow.md`

We should move it under `Components/Istio`.

It still has an out of date banner, which we should look to verify & remove.

[2021-01-29 18:40] RFMVasconcelos opened #2472 "Gang-scheduling under `Components` OR kill"
See #2465.

Today's [Job Scheduling guide](https://www.kubeflow.org/docs/other-guides/job-scheduling/) under `Further setup & troubleshooting`, should according to community agreement be under `Components`.

This project seems to be in `alpha` stage and `out of date`.

I am not sure of what is the policy for project sunsetting, but this seems to be one that is sunsetting. We should add OWNERS to i

[2021-01-29 18:49] RFMVasconcelos opened #2473 "Remove "Miscellaneous" layer & keep "Nuclio Functions" OR kill"
See #2465.

[Page under review](https://www.kubeflow.org/docs/components/misc/nuclio/).

Today's `Misc` section under `Components`only has `Nuclio functions` which is out of date. If this is a used component, then it should have OWNERS and it's place under components. If not, we should kill it.

Up for discussion :)

[2021-02-01 10:14] RFMVasconcelos commented on #2471
@Bobgy @joeliedtke @animeshsingh What is your take on this?

If we're to create a `Components/Istio` section, who do you think are good OWNERS for it?

[2021-02-01 10:15] RFMVasconcelos commented on #2470
@kubeflow/wg-pipeline-leads would you be able to take on this effort?

[2021-02-01 10:18] RFMVasconcelos commented on #2472
cc @Bobgy @joeliedtke @animeshsingh do you know if this project has continuity and OWNERS to maintain docs or if we should remove it?

[2021-02-01 10:21] RFMVasconcelos commented on #2468
@thesuperzapper could you please bring this topic to the notebooks discussion? :)

[2021-02-01 10:24] RFMVasconcelos commented on #2473
@aronchick @Bobgy @joeliedtke @animeshsingh Do you know if `Nuclio functions` has any potential OWNERS who can maintain docs, or if we should discontinue it?

[2021-02-01 23:45] thesuperzapper commented on #2468
sure @RFMVasconcelos

[2021-02-02 16:58] #2297 closed

[2021-02-02 17:48] aychang95 opened #2478 "Doc updates to kfctl_istio_dex"
I have successfully deployed Kubeflow 1.0-1.2 with Kops using the `kfctl_istio_dex` configuration.
The deployments have worked on k8s version 1.15-1.18 for me.

I wanted to reflect a couple of my notes and edits in the documentation at: https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

# Running Istio Secret Discovery Service (SDS) in Kops managed cluster

https://www.kubeflow.org/docs/s

[2021-02-03 17:36] RFMVasconcelos commented on #2177
Reopening as it is still relevant, we should finalize the cleaning :)

[2021-02-03 18:25] robertmujica commented on #2264
is there any update on compatibility issues of kubeflow v1.02 and kubernetes 1.19.6 ?

[2021-02-04 05:52] brentchang commented on #2419
Already fixed in #2440

[2021-02-04 05:52] #2419 closed

[2021-02-04 07:37] alfsuse commented on #2264
Following the last comment from @jlewi I was wondering what if we re-shape the main table and use reference something like

|  K8s version	| KF pipelines  	| KF Katib  	| KF metdata	| KF Public Cloud (i.e. GCP)  	|
|-	|-	|-	|-	|-	|
|  1.16	|  v	| v  	|v  	|  	|
| 1.17 	|  v	|  v	|  v	|  	|
| 1.18 	|  v	|  v	|  v	|  	|
| 1.19       | v     |v     | v    |

Where we do use the single components for

[2021-02-04 08:07] thesuperzapper commented on #2468
@RFMVasconcelos wg-notebooks discussed this at our latest meeting, and are more than happy for the move.

Since you have moved lots of the other components, you might be the best person to make this change quickly?

[2021-02-04 18:03] RFMVasconcelos commented on #2468
Done!

[2021-02-05 11:03] RFMVasconcelos commented on #2472
It seems hard to trace at this point who created this doc. Nothing in the [commit history](https://github.com/kubeflow/website/commits/master/content/en/docs/other-guides/job-scheduling.md).

[2021-02-05 11:15] RFMVasconcelos commented on #2473
From [commit history](https://github.com/kubeflow/website/commits/master/content/en/docs/components/misc/nuclio.md), it's not traceable who created this doc, and who might be a good owner.

[2021-02-05 11:25] RFMVasconcelos opened #2486 "Create `Add-ons` section under `Components` ?"
There are a few components with no clear OWNERS - see #2472 and #2473 - and [Rok](https://www.kubeflow.org/docs/other-guides/integrations/data-management/) which today is on `other-guides/integrations/data-management/`, which in my opinion could make it as `/Components/More`.

This way we would centralize these unmaintained pages and get OWNERS for this group.

@jbottum @cvenets what do you think

[2021-02-05 12:16] RFMVasconcelos opened #2487 "Removing "Cloud Installation" Redirects"
Today, the `Getting Started` section includes a `Cloud installation` sub-section which is comprised of redirects, some of which are outdated still:

![image](https://user-images.githubusercontent.com/27001378/107032401-a62d7e80-67ab-11eb-94f8-ee891efc8e6d.png)

I propose that we remove this section given its redundancy.

[2021-02-05 17:39] RFMVasconcelos opened #2489 "Adding "Methods and Distributions" to aggregate"

[2021-02-05 17:46] RFMVasconcelos opened #2490 "Add "Platforms""
Following the latest community discussions and the Kubeflow docs restructure [proposal](https://github.com/kubeflow/community/pull/440/files), we should add the concept of "Platforms" as a folder to host installation alternatives such as `Workstation`, `AWS`, `Azure`, etc.

The structure for platforms being the following:

- **Platforms**
  - Workstation (remove "Installation")
    - Linux (remove

[2021-02-05 17:55] RFMVasconcelos opened #2491 "Add "Resources" and organize content under it"
Following the latest community discussions and the Kubeflow docs restructure [proposal](https://github.com/kubeflow/community/pull/440/files), we should add the concept of "Resources", with the following structure:

- **Resources** (remove "Tutorials, Samples, and Shared")
  - Kubeflow Samples
  - Codelabs, Workshops, and Tutorials
  - Blog Posts
  - Videos
  - Shared Resources and Components

[2021-02-08 14:25] RFMVasconcelos commented on #2470
@kubeflow/wg-pipeline-leads would any of the lead be able to take on this change?

[2021-02-09 05:55] Bobgy commented on #2470
/assign

I'm on vacation, will work on this when I am back.

[2021-02-09 05:59] Bobgy commented on #2472
I think it's very related to training WG.
/assign @kubeflow/wg-training-leads

[2021-02-09 06:01] Bobgy commented on #2473
I don't have a good idea too, +1 to kill

We can always add it back from history if someone come to it later.

[2021-02-09 06:07] gaocegege commented on #2472
/cc @k82cn

[2021-02-09 07:36] k82cn commented on #2472
We'd like to help on keeping it up-to-date :)

[2021-02-09 07:52] Bobgy commented on #2472
So I think it'll be a good fit to move to a section under probably `components/training/gang-scheduling`

[2021-02-09 07:54] gaocegege commented on #2472
I think so. It will be better.

[2021-02-09 07:55] Bobgy commented on #2472
/assign @k82cn

@gaocegege
Thanks for confirmation!

[2021-02-09 16:43] RFMVasconcelos commented on #2470
@Bobgy, thanks for the heads-up! Enjoy your vacation :)

[2021-02-09 16:46] RFMVasconcelos commented on #2473
One alternative would be to aggregate these under `/components/more`, as there are other optional components - see #2486.

[2021-02-09 17:07] RFMVasconcelos commented on #2472
There are other components that fit into an `extra` or `more` category. Please see #2486 and #2488.

Should we add gang-scheduling there, or under training would be the best?

[2021-02-09 23:55] Bobgy commented on #2473
I'd prefer keeping docs that have active maintainers. If it doesn't, right now it's only negative impact to the entire website

[2021-02-09 23:56] Bobgy commented on #2473
So if we cannot find one, delete is better.

[2021-02-10 01:40] william-wang commented on #2472
@RFMVasconcelos Thanks for your information. gang-scheduling under training directory would be the best from my view.  Whenever user go through the traing guide , they can see the gang-scheduling and configure them together at once. It might be more convinient for user.

[2021-02-10 09:41] RFMVasconcelos commented on #2473
Sounds good! Let's delete for now then!

[2021-02-10 14:24] mgwismer opened #2494 "when creating the management cluster"
Ref page https://www.kubeflow.org/docs/gke/deploy/management-setup/

On step make apply-cluster
getting pop up
"anthoscli" cannot be opened because the developer cannot be verified.

How do I verify the developer

I did gcloud auth login
gcloud auth application-default login

[2021-02-10 15:00] mgwismer commented on #2494
Resolved. Open security and privacy settings and click on "allow anthoscli anyway"

[2021-02-10 15:00] #2494 closed

[2021-02-11 08:57] Bobgy commented on #2486
We've got resolution for nuclio and gang. What should we do with Rok?

I don't have a good idea right now. Should it be a standalone section in components?

[2021-02-11 10:10] RFMVasconcelos commented on #2468
/close

[2021-02-11 10:10] #2468 closed

[2021-02-11 10:21] RFMVasconcelos commented on #2486
Looking at the notes from the last meeting I am unsure if Rok falls into this classification since it's proprietary.
![Screenshot from 2021-02-11 10-19-47](https://user-images.githubusercontent.com/27001378/107624420-be414a00-6c52-11eb-97e9-6340667ace7f.png)

Happy to act in whatever the community feels is good practice.

[2021-02-11 13:08] Bobgy commented on #2465
Agree with the overall structure, some individual items were discussed in their issues.

[2021-02-11 13:09] Bobgy commented on #2471
I can be one of the owners, open to add more people responsible for istio Integration

/Cc @PatrickXYS
Do you want to be part of this?

[2021-02-11 13:10] Bobgy commented on #2471
I guess also @yanniszark ?

[2021-02-11 15:54] PatrickXYS commented on #2471
Yeah would be happy to contribute as well

[2021-02-11 18:54] ReggieCarey opened #2497 "Overview of Deployment on an Existing Kubernetes Cluster"
https://www.kubeflow.org/docs/started/k8s/overview/

Kubeflow version 1.2

Note that on version 1.18.9 of Kubernetes, pipelines do NOT install properly.

See: https://github.com/kubeflow/pipelines/issues/4138

Likely all versions subsequent to K8s 1.13 are faulty based on the contents of the above issue.

[2021-02-11 23:49] thesuperzapper commented on #2177
@RFMVasconcelos can you add this to the Docs Kanban: https://github.com/kubeflow/website/projects/2

[2021-02-11 23:53] thesuperzapper commented on #2486
@RFMVasconcelos I think if you have the time, you can just raise separate PR's and let the community decide on each one.

To be specific, I think we should have a new section of the docs for 'proprietary stuff'.

[2021-02-12 00:38] cvenets commented on #2486
@RFMVasconcelos @Bobgy we can take responsibility of the Rok part and even provide more documentation as needed, noting exactly how it integrates with Kubeflow and that it is proprietary software, so that it is 100% clear to the community.

We are fine with both solutions of either putting it as an item in "Components" or under a new "Proprietary Components" section. We will make sure to note clea

[2021-02-12 01:18] mingyyy opened #2500 "Error message after "kfctl apply -V -f ${CONFIG_URI}""
I have followed the instruction (https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/) but received the following message:

Encountered error applying application istio:  (kubeflow.error): Code 500 with message: Apply.Run : unable to recognize "/tmp/kout482075707": no matches for kind "ClusterRbacConfig" in version "rbac.istio.io/v1alpha1"  filename="kustomize/kustomize.go:284

[2021-02-12 10:54] RFMVasconcelos commented on #2177
Hey @thesuperzapper, sure. To be honest I think we're tackling a lot of the 69 remaining outdated files in the current changes. I'll include this so we can verify how many we have left and then close this Issue.

[2021-02-12 13:55] #2473 closed

[2021-02-12 17:03] susan-shu-c opened #2502 "ParallelFor links to blank page on documentation"
From the website
https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/

Searching for `kfp.dsl.ParallelFor` links to https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.ParallelFor
which is blank.

![Screen Shot 2021-02-12 at 12 04 59 PM](https://user-images.githubusercontent.com/23287722/107798734-8ad1ee80-6d2a-11eb-9d3b-ca935bbda4d6.png)

Can't seem to find much o

[2021-02-16 05:09] benjamintanweihao opened #2503 "Upgrading Kubeflow Pipelines: Do instructions only apply for Google Cloud?"
The "Upgrading Kubeflow Pipelines" simply provides a link to Google Cloud for information about upgrading. This is confusing:

* Does this mean that the instructions only apply to Google Cloud deployments?
* What does this mean for on-prem deployments?

It is not clear if the provided [matrix](https://www.kubeflow.org/docs/gke/pipelines/upgrade/#upgrade-related-feature-matrix) refers to _only_ Goo

[2021-02-16 11:15] RFMVasconcelos commented on #2472
@k82cn Please let me know when you create a PR to move Gang to under training, so we can close this PR. :)

[2021-02-16 17:18] RFMVasconcelos commented on #2487
PR open and ready for review -» #2498

[2021-02-16 17:18] #2487 closed

[2021-02-16 17:19] RFMVasconcelos commented on #2470
@Bobgy I went ahead and created a PR  :) -» #2505

[2021-02-16 17:33] RFMVasconcelos commented on #2486
@cvenets @thesuperzapper I think that adding yet another section "Proprietary Components" may make things more confusing for users, we're generally reducing the options so it's more clear what to do. Also, I think Rok is the only exception for the moment, so it would sit alone there.

One option I see is to have a `More` or `Add-ons` section under `Components`, where we would list things that are

[2021-02-16 23:19] thesuperzapper commented on #2486
@RFMVasconcelos I am still not sure we have the right solution

After some more thought, I think this should be the plan:
1. We are planning to move each component's docs to their own websites soon (so they can be versioned independently from Kubeflow itself)
2. The component docs should only reference features in the open-source version of the component
3. We should **not host** distribution docs

[2021-02-16 23:25] mameshini commented on #2486
I think it makes sense to have Add-Ons Section for Kubeflow add-ons that are not deployed with upstream Kubeflow by default, but can be used in addition with upstream Kubeflow to enhance certain capabilities.  For example Arrikto Rok data management.  Prometheus and Grafana for monitoring of Kubeflow components or monitoring of models.  Apache Kafka for data streaming.  This section can start with

[2021-02-17 01:22] derenrich opened #2507 "Overview page has multiple dead links"
https://www.kubeflow.org/docs/components/serving/overview/

Dead links include

- https://github.com/kubeflow/kfserving/blob/master/docs/samples/transformer/image_transformer/kfserving_sdk_transformer.ipynb
- https://docs.seldon.io/projects/seldon-core/en/latest/examples/transformer_spam_model.html
- https://github.com/kubeflow/kfserving/tree/master/docs/samples/custom
- http://github.com/kubeflow

[2021-02-17 15:15] castrojo commented on #2486
I think "Add-Ons" or "Ecosystem" is best for now, we should just land those there so we can concentrate on the more urgent pages.

The K8s solution is a top-level "Partners" page that can hold all of these, and then we have all this information there and it's cleanly separated from the pure upstream docs, however that's extra work, maybe we land it this way now and then split it up post 1.3?

[2021-02-18 02:22] 8bitmp3 commented on #2503
/assign @Bobgy

[2021-02-18 02:37] 8bitmp3 commented on #2436
@RFMVasconcelos ping me if you need assistance and if you've created a PR already, let's link this Issue in it `https://github.com/kubeflow/website/issues/2436`

[2021-02-18 10:20] william-wang commented on #2472
@RFMVasconcelos The PR has been created. Here is the link: https://github.com/kubeflow/website/pull/2508

[2021-02-18 15:28] RFMVasconcelos commented on #2472
Hey @william-wang, the PR does not achieve the desired goal, please see my comment in it :)

[2021-02-19 12:47] RFMVasconcelos opened #2511 "Create redirects for every page moved during restructure"
As mentioned by @Bobgy in #2492 we need to create redirects for every page moved during the restructure.

/assign @RFMVasconcelos

[2021-02-22 11:16] RFMVasconcelos commented on #2472
This is being resolved in #2508, so I think we can close this issue.

/close

[2021-02-22 11:16] #2472 closed

[2021-02-23 15:53] RFMVasconcelos opened #2514 "Outdated 'Notebook Servers' pages"
All the pages under [Notebook Servers](https://www.kubeflow.org/docs/components/notebooks/) appear still as 'Outdated', let's aim at having them up to date for the v1.3 release.

Could one of the @kubeflow/wg-notebooks-leads verify if this documentation is up to date, in which case we can remove the banner, or if it needs refreshing?

Many thanks!

[2021-02-23 18:46] RFMVasconcelos commented on #2486
I'm ok with doing `Add-ons`, however, looking now at the pages we have to populate this section:

* Gang scheduling -» Moving under training - see #2472
* Nuclio functions -» Decided to archive - see #2473
* Rok -» The page seems outdated, and not to provide much value in it's [current state](https://www.kubeflow.org/docs/other-guides/integrations/data-management/) - Does Arrikto want to update th

[2021-02-23 18:57] RFMVasconcelos opened #2516 "Outdated `Frameworks for training` pages"
[example](https://www.kubeflow.org/docs/components/training/chainer/)

cc @kubeflow/wg-training-leads

[2021-02-25 05:21] AtulKhomane opened #2519 "should be given info about errors while installing it."
nothing given about kfctl_k8s_istio.v1.2.0

[2021-02-25 13:27] sathishvj opened #2520 "Broken Link - other-guides/job-scheduling/"
https://www.kubeflow.org/docs/other-guides/job-scheduling/

[2021-02-25 21:43] 8bitmp3 commented on #2520
Thanks @sathishvj The link doesn't appear under `docs/other-guides`. Can you let us know how you came across the page so we can fix the broken links in other docs? Thanks cc @RFMVasconcelos

[2021-02-26 03:55] sathishvj commented on #2520
If you do this google search, it shows up: https://www.google.com/search?q=kubeflow+pipelines+built-in+scheduler

So, where exactly is the documentation for job scheduling?

[2021-02-26 10:35] RFMVasconcelos commented on #2520
Hey! This page was moved to under training -» https://www.kubeflow.org/docs/components/training/job-scheduling/

[2021-02-26 10:36] RFMVasconcelos commented on #2520
I will add this to automated redirects!

[2021-02-26 10:39] #2471 closed

[2021-02-27 00:07] Bobgy commented on #2503
Hi @benjamintanweihao The standalone upgrade guide applies to on prem.

The other guides only apply for GCP.

[2021-03-02 16:15] DavidSpek commented on #2514
@RFMVasconcelos From quickly going through the quickly everything looks up to date. However, there is a lot of information that should be added and the sections of specific for GCP should probably be removed. I'll go through the docs more thoroughly tomorrow and create a PR with some changes.

[2021-03-02 16:19] castrojo opened #2522 "Adding a community-managed GA code to the website"
In the Community Meeting on 23 Feb we asked Google for some access to the Google Analytics so that we can have the data to make better decisions when restructuring docs.

Google told us that corporate policy would make this unfeasible. David Aronchick proposed just adding a 2nd GA code to the website/docs so that there can be a clear separation between a corporate account and one run by the commun

[2021-03-02 16:53] RFMVasconcelos commented on #2514
Thank you for tackling this @DavidSpek!

[2021-03-03 06:21] thesuperzapper commented on #2422
Kubeflow is not possible to install with pip, it is a Kubernetes platform.

/close

[2021-03-03 06:21] #2422 closed

[2021-03-03 07:13] thesuperzapper commented on #2522
@castrojo do you want to raise a proposal on `kubeflow/community` with a solution for how to assign access to this new Google analytics account? (I am not sure how GA works with assigning other people as 'viewers')

Currently most ACL is assigned in https://github.com/kubeflow/internal-acls. However, we still need a super-admin account to bootstrap the Google Analytics account, the password for wh

[2021-03-03 07:21] thesuperzapper commented on #2075
/close
This move has happened with the work related to https://github.com/kubeflow/website/issues/2465

[2021-03-03 07:21] #2075 closed

[2021-03-03 07:29] thesuperzapper commented on #2465
@RFMVasconcelos just wondering how far along the implementation of this is?

I still see some strangeness on https://www.kubeflow.org/docs/components/
* "Kubeflow Pipelines" is not under "components"
* There are a bunch of things which are not components under "components"

[2021-03-03 14:53] jlewi commented on #2522
Wouldn't a 2nd GA code run into the same problem with Google corporate policies?

Did anyone from Google actually say a 2nd GA code would be ok?

[2021-03-03 15:22] castrojo commented on #2522
There were googlers at the meeting but none that could speak to this, which is why I filed this in github as an item.

[2021-03-03 16:51] RFMVasconcelos commented on #2422
+1

We're doing a lot of work to make it just `juju deploy Kubeflow` or `microk8s enable kubeflow` but it's a lot of underlying K8s things going on.

[2021-03-03 17:54] RFMVasconcelos commented on #2465
@thesuperzapper, for Pipelines I've just made final commits on #2505 to address some concerns with redirects. I'll bring it to the Kubeflow pipelines meeting in 5 minutes so we can get that merged.

As per other non components things under components what do you think should definitely be repositioned?

[2021-03-03 17:56] RFMVasconcelos commented on #2516
@kubeflow/wg-training-leads any chance someone could take a look at these pages?

[2021-03-03 17:57] RFMVasconcelos commented on #2516
An OK of whether they are up to date would go a long way.

[2021-03-03 17:58] RFMVasconcelos commented on #2516
Example:
https://www.kubeflow.org/docs/components/training/tftraining/

[2021-03-03 19:02] terrytangyuan commented on #2516
I think some of them are outdated. It's hard to keep these pages up-to-date. It would be better to provide a script to automatically update them based on README from each project.

[2021-03-04 02:28] #2514 closed

[2021-03-04 09:16] RFMVasconcelos commented on #2470
/close

[2021-03-04 09:16] #2470 closed

[2021-03-04 09:24] Subhraj07 commented on #2398
Thank you

[2021-03-04 10:36] RFMVasconcelos commented on #2465
FYI @thesuperzapper Pipelines under Components just got merged

[2021-03-04 10:38] RFMVasconcelos commented on #2465
We are now at the state proposed in this issue, let's close this one and if there are other proposed changes to the components section we can create separate issues/PRs.

Thank you for the help @joeliedtke @Bobgy @thesuperzapper !

[2021-03-04 10:38] #2465 closed

[2021-03-04 10:55] RFMVasconcelos commented on #2177
Is seems we're now at 50 outdated pages - list below:
[code]

[2021-03-04 20:38] tbaums opened #2529 "Manipulate Kubernetes Resources as Part of a Pipeline"
https://www.kubeflow.org/docs/components/pipelines/sdk/manipulate-resources/

Link in this bullet at the bottom of the page returns a 404.

[2021-03-05 10:39] RFMVasconcelos commented on #2177
cc @kubeflow/wg-training-leads
cc @kubeflow/wg-serving-leads
cc @google-admin

[2021-03-08 19:51] summerisc commented on #2117
I am seeing the same error using v1.2.0 for installation for on-prem servers, any chance this issue was looked into and had a solution already?

[2021-03-09 11:57] RFMVasconcelos commented on #2489
Given the community decision in #2492, changing this issue to `Distributions`

[2021-03-09 12:00] RFMVasconcelos commented on #2490
Given discussion in #2492 `Platforms` are to be merged with `Distributions`

[2021-03-09 12:00] #2490 closed

[2021-03-11 00:02] thesuperzapper opened #2535 "Move "KFServing" to "Components""
We should ensure all core Kubeflow components live directly under the `Components` section.

Currently, "KFServing" lives under`Components / Tools for Serving` (along with many other docs for serving tools which are not part of Kubeflow).

I think we should move it directly under `Components`, otherwise it sends some mixed messages about what is officially part of Kubeflow.

[2021-03-11 00:02] thesuperzapper commented on #2535
@RFMVasconcelos what are your thoughts?

[2021-03-11 00:17] thesuperzapper opened #2536 "Split "Components" section into "Core Components" and "External Components""
While it's awesome we now have all components living under one section, this has caused users to become confused about what is actually part of Kubeflow, and what is external.

### My proposal is to split "Components" into:
* `Core Components` (all components owned by a Kubeflow WG)
* `External Components` (all other components we want to highlight)

### Proposed Structure:
[code]
[code]

[2021-03-11 00:20] thesuperzapper commented on #2536
I think the docs OWNERS can make a call on this one as its a pretty simple change.

So, @animeshsingh @Bobgy @joeliedtke @RFMVasconcelos, whats your thoughts?

[2021-03-11 00:26] thesuperzapper commented on #2535
/cc @kubeflow/wg-serving-leads

[2021-03-11 10:53] RFMVasconcelos commented on #2535
Thank you @thesuperzapper for starting this. I fully agree! KFServing is a great tool by the community and should have more emphasis!

Happy to make a PR

[2021-03-11 10:59] thesuperzapper commented on #2535
I highly doubt there would be any conflict from others if you made a PR.

Also, I think we should split up the components, as proposed in https://github.com/kubeflow/website/issues/2536

[2021-03-11 11:20] RFMVasconcelos commented on #2536
I like this proposal! There is still space to improve in the structure.

My only concern is lots of navigation given more nesting. We could alternatively create only the `Comunity components` section and have the `Core components` right under `Components`.

I think we're better than now with either solution.

[2021-03-11 11:27] RFMVasconcelos commented on #2535
Sounds good! I'll give it a go

[2021-03-11 11:42] RFMVasconcelos opened #2537 "Proposal: Add OWNERS to Components section"
I propose adding an OWNERS file to oversee the `Components` section of the website and off-load root OWNERS, accelerating PR review and merging.

@Bobgy @joeliedtke @animeshsingh @8bitmp3 @thesuperzapper WDYT?

[2021-03-11 13:49] thesuperzapper commented on #2536
@RFMVasconcelos I think minimising the depth of the page tree is important (so no further nesting, please).

But if you only want to rename one section you could also have:
- Components (same definition as "Core Components" above)
- Community Components (same as above)

But I like the idea of "Core Components" as it highlights which ones are owned by the Kubeflow community.

[2021-03-11 14:23] RFMVasconcelos commented on #2536
Oh! Sorry, I misread your proposal as:
* `Components/Core Components`
* `Components/Community Components`

+1 to your proposal

[2021-03-11 16:44] 8bitmp3 commented on #2537
👍  @RFMVasconcelos

[2021-03-11 17:16] Bobgy commented on #2537
I don't see why that's necessary

If you move sth, you need to update redirect rules => requires root OWNERS.

If you create/update, each component's OWNERS should take the responsibility.