[2019-09-12 02:00] jinchihe opened #1146 "Updated Fairing doc to kubeflow.fairing"
Fairing will be a subpackage in kubeflow in kubeflow/fairing#234, need to update fairing doc to kubeflow.fairing once the PR merged kubeflow/fairing#359

/assign @jinchihe
/cc @jlewi

[2019-09-12 03:55] elviraux commented on #418
Issue for reference:
#3972

[2019-09-12 22:03] butuzov opened #1147 "Broken Link to azure portal"
Links at https://www.kubeflow.org/docs/azure/azureendtoend/ are broken.

See links with text - "the Azure portal"

[2019-09-13 04:05] #1147 closed, assigned to nobody

[2019-09-13 06:46] butuzov opened #1149 "Internal brocken link"
URL - https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

Where:
"Next steps -> Run..."

[2019-09-13 13:01] sarahmaddox commented on #1149
/close

[2019-09-13 13:01] #1149 closed

[2019-09-14 06:53] sarahmaddox commented on #1138
/assign

[2019-09-14 06:55] sarahmaddox commented on #1138
The only v0.6 issue still outstanding is the conversion of the NVIDIA doc from ksonnet to kustomize (issue https://github.com/kubeflow/website/issues/959).

Let's go ahead with the creation of the v0.6 archive, which will free us up to start creating docs for v0.7 on master.

[2019-09-15 03:27] sarahmaddox commented on #1138
Netlify URL for v0.6 site is https://confident-wescoff-57e975.netlify.com

[2019-09-15 04:10] sarahmaddox opened #1153 "Merge info about releasing website version"
We currently have two places that contain information about how to release a new version of the website: the README in `kubeflow/website` and the Kubeflow release guide. We should keep all the info in one place.

[2019-09-15 06:06] #1153 closed

[2019-09-15 06:10] #1138 closed

[2019-09-16 15:19] backyes commented on #1091
@sarahmaddox

Why we choose to stop  supporting the tfjob dashboard？ Thanks.

[2019-09-17 00:34] #1146 closed

[2019-09-17 03:07] sarahmaddox commented on #1091
Hallo @backyes There's some information in the [kubeflow-discuss](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubeflow-discuss/1leTpMhSiD4/Qq87AihpAgAJ) group. Here's an extract from the conversation:

              https://github.com/kubeflow/tf-operator/issues/1019

[2019-09-18 04:33] sarahmaddox commented on #1128
At the Write the Docs conference, I attended a talk on open source localization. The speaker gave some good insights and tips, which I've summarized in this blog post:
https://ffeathers.wordpress.com/2019/09/18/wtd-prague-localisation-of-open-source-docs/

This will be useful material when we start thinking in more detail about localizing the Kubeflow docs.

[2019-09-18 04:33] sarahmaddox commented on #1127
At the Write the Docs conference, I attended a talk on open source localization. The speaker gave some good insights and tips, which I've summarized in this blog post:
https://ffeathers.wordpress.com/2019/09/18/wtd-prague-localisation-of-open-source-docs/

This will be useful material when we start thinking in more detail about localizing the Kubeflow docs.

[2019-09-18 04:34] sarahmaddox commented on #18
Related issue: https://github.com/kubeflow/website/issues/1128

[2019-09-19 14:22] yanniszark opened #1159 "Website should default to latest release instead of Master"
At the moment, the website defaults to the documentation for the latest commit (Master).
This makes for a frustrating user experience, as many users are bumping into various different issues that come up in kubeflow master, which moves very fast.
We should point the users to a released version by default, because it's tested and verified to work.

/cc @sarahmaddox @jlewi

[2019-09-19 14:22] yanniszark opened #1160 "Label `master (v0.7)` is misleading as `v0.7` is not released yet."
The Kubeflow Docs use the label `master (v0.7)` to describe the latest commit available.
However, since `v0.7` is not a released version yet, this is confusing to the users (eg https://kubeflow.slack.com/archives/CE10KS9M4/p1568884138011100).

Instead, we could label it just `master` or `master (will be v0.7)`.

/cc @sarahmaddox @jlewi

[2019-09-20 07:32] ycheng opened #1163 "Microk8s for Kubeflow"
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/

the way to install kubeflow on microk8s has change so it work with kubeflow 0.6.

Check web page: https://ubuntu.com/kubeflow/install

[2019-09-23 13:38] jdumm opened #1165 "Install Kubeflow Fairing"
https://www.kubeflow.org/docs/fairing/install-fairing/

I'm following the steps under the heading "Set up Kubeflow Fairing in a hosted Jupyter notebook".  Running `docker ps` gives me the error "docker: command not found".  The instructions imply that for the case of a GCP hosted notebook from one of the default images, docker should be already be available.  I don't have sudo access and can't fol

[2019-09-23 19:02] apshoemaker opened #1166 "Out of date docs: Using Your Own Domain"
https://www.kubeflow.org/docs/gke/custom-domain/

This page is very out of date.  I have not spent enough constructive time to figure this out on my own, but this does not seem consistent with the current project setup in 0.6 or 0.7.

[2019-09-23 21:33] apshoemaker commented on #1166
It appears from some output in coordinator.go that the customization is done in app.yaml prior to `kfctl generate`.  Does that sound right?

[2019-09-24 14:20] SachinVarghese commented on #1159
I totally agree with @yanniszark that the kubeflow master moves pretty fast and we lack proper documentation for both users and contributors for development versions. As mentioned, the kubeflow website should have a dev documentation section that points to the master branch and should default to the latest release tag for other users. This would definitely help in keeping track of latest updates a

[2019-09-24 17:44] gehring opened #1167 "Can't reach docs: "ERR_TOO_MANY_REDIRECTS""
I can't seem to access most of kubeflow's pages. The [front page](https://www.kubeflow.org/) works fine but the [docs](https://www.kubeflow.org/docs/) fail to load with a "too many redirects" error message.

[2019-09-24 22:06] gehring commented on #1167
Seems fixed

[2019-09-24 22:06] #1167 closed

[2019-09-25 09:26] jinchihe opened #1171 "Update metadate doc once rename finished."
Update https://www.kubeflow.org/docs/components/misc/metadata/ once the PR https://github.com/kubeflow/metadata/pull/131 merged.

/assign @jinchihe

[2019-09-25 16:32] Naveenkhasyap commented on #1159
I have asked about the same in slack but none responded , Yes this must be addressed first.

[2019-09-26 10:01] discordianfish commented on #746
Yes, it's unclear to me as well how this is suppose to work and I can't find an example in https://github.com/kubeflow/examples either.

[2019-09-26 10:42] discordianfish commented on #746
Related: ScheduledWorkflow isn't documented in general. I assume the run-trigger is part of that: https://github.com/kubeflow/pipelines/blob/578e8231d01074b9dbe40ace1db8cc444a6a1bd8/backend/src/crd/pkg/apis/scheduledworkflow/v1beta1/types.go

[2019-09-26 13:51] #1159 closed

[2019-09-26 13:51] #1160 closed

[2019-09-26 17:23] #1171 closed

[2019-09-26 20:07] kbhawkey commented on #1139
Good. This should make things easier. Let me know if you need a hand.

[2019-09-26 23:49] jlewi commented on #1165
/assign @karthikv2k

[2019-09-26 23:50] jlewi opened #1175 "[GCP] 0.7 docs for workload identity management"
In 0.7 we will be switching to workload identity with GCP.

We will need docs on how this works.

[2019-09-29 14:04] agolomoodysaada opened #1181 "Troubleshooting guide for GKE has a typo in IAP"
In the Troubleshooting GKE page section called `Changing the OAuth client used by IAP `

[code]

should be

[code]

Describing the ingress shows this error

[code]

It would also be useful to have a note to restart the `cloud-endpoints-controller` pod to force the controller to check new credentials.

Finally, a very frustrating issue is giving users IAP access using service accounts. They need to

[2019-09-30 15:38] muscovitebob opened #1183 "Getting started with Minikube script is outdated"
[This page](https://github.com/kubeflow/website/blob/master/content/docs/other-guides/virtual-dev/getting-started-minikube.md) describes quick setup using a script located [here](https://raw.githubusercontent.com/kubeflow/kubeflow/master/scripts/setup-minikube.sh). However, this appears to assume an installation process that is outdated and has been removed in [this commit](https://github.com/kube

[2019-09-30 15:46] muscovitebob commented on #1183
I see that there appears to be a major refactoring going on with the whole process being handled by a [new tool](https://github.com/kubeflow/kfctl), which I did not see before.

[2019-09-30 23:05] butuzov opened #1184 "Broken Links"
Using my (dummy and non perfect) tool https://github.com/butuzov/deadlinks I was able to find some dead links on the website. I can split them into 4 categories.

1)  internal and external links - that wasn't fixed in time or just added (PR ready).
2) dead component - `/docs/components/ksonnet/`
3) multiple occurrences at `kubeflow/pipelines` repository.
4) other.

I have prepared a PR for 1st ite

[2019-10-01 01:52] walkerjian opened #1186 "Options for installing KubeFlow"
The options as displayed are confusing. At least label them 1 2 3, a b c, option 1, 2, 3 etc. Perhaps indicate if they are compatible or mutually exclusive as well - these are to be used for trialling solutions and education, so maximum flexibility is desired, I have been frustrated many times by unintended consequences and dead ends, especially when trying to learn. K8s was intended to remove thi

[2019-10-01 01:52] #1186 closed

[2019-10-01 02:44] dhruvpratapsingh opened #1187 "[ERROR] Microk8s for Kubeflow"
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/

Throws below error on step: `kubeflow-tools/install-kubeflow.sh`
[code]

[2019-10-01 02:53] sarahmaddox commented on #995
Doc design is here: https://bit.ly/2OX11vw
I've created separate issues for each item that needs tackling. See label [release/v1.0](https://github.com/kubeflow/website/labels/release%2Fv1.0).

/close

[2019-10-01 02:53] #995 closed

[2019-10-01 05:17] sarahmaddox commented on #1187
Related:
* https://github.com/kubeflow/website/issues/1113
* https://github.com/kubeflow/website/issues/1163

[2019-10-01 05:27] sarahmaddox commented on #793
/assign

[2019-10-01 05:27] sarahmaddox commented on #1139
/assign

[2019-10-02 00:13] sarahmaddox commented on #1184
/assign @butuzov

[2019-10-02 00:35] sarahmaddox commented on #1139
I've set the website server to use the new Netlify “Xenial” build image. The Netlify build works for the deployment preview of my PR: https://github.com/kubeflow/website/pull/1190 (small fix just to test the build). When that PR is approved, that will trigger the production build of the website using the new image.

If there are any problems with the build, we can set the website back to the old N

[2019-10-02 05:28] butuzov commented on #1184
Cool, I will back, after sort out where all pipelines are.

[2019-10-02 08:08] jdumm commented on #1165
An update with some more details:  When we install docker, we can run `docker ps` to see that the daemon isn't running:
```Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?```

When we try running `dockerd`, we get an error about iptables (same error as when we try to run `sudo dockerd`:
[code]

[2019-10-02 15:04] kbhawkey commented on #1139
👍

[2019-10-02 19:33] karthikv2k commented on #1165
/assign @b0noI

[2019-10-02 19:33] karthikv2k commented on #1165
@b0noI

can you please look into this issue?

[2019-10-02 23:58] #793 closed

[2019-10-03 00:00] sarahmaddox commented on #1139
/close

[2019-10-03 00:00] #1139 closed

[2019-10-03 00:00] sarahmaddox commented on #1137
/assign

[2019-10-03 00:35] sarahmaddox opened #1196 "Update the website README"
Docsy has moved its user guide and changed its recommended Hugo version. And the page that we use as example for front matter has disappeared.

[2019-10-03 00:35] sarahmaddox commented on #1196
/assign

[2019-10-03 10:38] #1196 closed

[2019-10-04 04:36] sarahmaddox commented on #477
I've investigated this while doing the latest Docsy upgrade. We do need to keep the custom version of `layouts/partials/sidebar-tree.html` because it places the class definition in a slighly different place, to cater for the larger-than-usual Kubeflow logo. Other than that, the Docsy file is now the same as our custom file.

/close

[2019-10-04 04:36] #477 closed

[2019-10-04 05:34] sarahmaddox commented on #1137
These Docsy fixes since we last updated may need action on my part:
* DONE: https://github.com/google/docsy/issues/118 Add link icons to headers for easy link-grabbing
See Bobgy’s PRs for Kubeflow https://github.com/kubeflow/website/pull/1039/files and for Docsy: https://github.com/google/docsy/pull/123/files
Can remove file from Kubeflow: layouts/partials/hooks/body-end.html
* DONE: https://githu

[2019-10-04 13:43] butuzov opened #1200 "Ensure updating of documentation when updating code"
As followback of the #1184, i spend some time trying to cleanup and provide actual links to moved components in `kubeflow/piplines` (see PR #1199).

its partially ready, but what I understand that there absolutely should be rule, once you change some component (pipelines or any other kf component), you should change documentation as well.  I am not sure who makes rules, but its **must have** (at l

[2019-10-04 20:58] GilGonong commented on #754
Windows support is still not complete on my side as well:

kfctl build works
kfctl init and generate all work
kfctl apply all has path issues
I am using Windows Subsystem for Linux (WSL):

Download kfctl Linux binary from the release page
In WSL, set the env variable KUBECONFIG to /mnt/C/Users/[USER]/.kube/config
Now run kfctl from WSL. Once deployed you don't need WSL anymore.

[2019-10-06 02:56] sarahmaddox commented on #1200
Thanks @butuzov and +1 to your comment that updating the docs should be part of the task of updating the code for a feature.

In the [design doc for Kubeflow v1.0 docs and processes](https://bit.ly/2OX11vw) I suggested that we should adhere to the pattern where *doc is part of the [definition of done](https://www.scruminc.com/definition-of-done/)*: The development team must create or update the do

[2019-10-06 05:59] ElijahMingLiu opened #1201 "Install Kubeflow on EKS got wrong"
Can not install on EKS.
I followed the instruction on https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
But, when I run `kfctl generate all -V`, I got an error:
couldn't generate KfApp:  (kubeflow.error): Code 500 with message: coordinator Generate failed for aws:  (kubeflow.error): Code 400 with message: Could not generate cluster configs under aws_config Error: Could not copy /home/ec2-

[2019-10-06 17:44] sarahmaddox commented on #1201
Thanks for reporting this error!
@Jeffwan Is this something you can resolve?
/assign @Jeffwan

[2019-10-06 18:36] sarahmaddox opened #1202 "Pipelines TFX tutorial for taxi cab classification"
Walk through the code to build a pipeline using the TFX DSL/CLI and to submit the resulting pipeline to Kubeflow Pipelines.
Sample pipeline: https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow.py

[2019-10-06 18:45] sarahmaddox opened #1203 "Pipelines TFX guide: Custom, generic container-based component"
Describe the new custom, container-based component to be added to TFX, to support Kubeflow generic components.
* Add a short description and link in the [TFX guide](https://www.tensorflow.org/tfx/guide).
* Add a guide in the [TFX guides section](https://www.tensorflow.org/tfx/guide), describing the new component type. The guide should follow the pattern of the other component guides, such as Examp

[2019-10-06 18:50] sarahmaddox opened #1204 "Update the existing Kubeflow-related TFX guides"
Update the following existing guides in the TensorFlow TFX docs:

* [TFX: Kubeflow section of the main TFX user guide](https://www.tensorflow.org/tfx/guide#creating_a_tfx_pipeline_with_kubeflow): Remove the content and replace it with a link to “Orchestrating Pipelines with Kubeflow” described below. Note: Ideally the main TFX user guide should treat Kubeflow and Airflow equally. So, the Airflow d

[2019-10-06 18:56] sarahmaddox opened #1205 "Introduce the TFX DSL in the Kubeflow Pipelines docs"
Add a new page in the Kubeflow Pipelines DSL docs introducing the TFX DSL.

Title of doc: “New DSL for Building Pipelines”.

A new doc in this section: [Building Pipelines with the SDK](https://www.kubeflow.org/docs/pipelines/sdk/).

Include in the doc:
* Overview of the TFX DSL and the fact that you can use it to build a pipeline then run the pipeline on Kubeflow.
* Link to the TFX docs on the TF

[2019-10-06 19:05] sarahmaddox opened #1206 "Add reference docs for Metadata SDK"
Add reference docs for the [Metadata SDK](https://github.com/kubeflow/metadata/tree/master/sdk/python#python-client). (We have reference docs for the [Metadata REST API](https://www.kubeflow.org/docs/reference/metadata/v1alpha1/kubeflow-metadata-api-spec/) but not for the Python SDK.)

[2019-10-06 19:06] sarahmaddox opened #1207 "Explain Metadata implemention and usage in Pipelines vs Kubeflow core"
Update the [Metadata overview](https://www.kubeflow.org/docs/components/misc/metadata/): There are discussions about merging the metadata UI (see section in the metadata overview) into the Pipelines UI - we need to design docs for UI metadata support. Contact: ajaygopinathan, prodonjs

[2019-10-06 19:08] sarahmaddox opened #1208 "Pipelines: Docs for CI/CD integration and pipeline versioning"
Engineering contact: jingzhangjz
These are very popularly requested features and the plan is to deliver them in  Q4.

[2019-10-06 19:11] sarahmaddox commented on #996
See [Remote deployment of Kubeflow Pipelines](http://amygdala.github.io/kubeflow/ml/2019/08/22/remote-deploy.html)

[2019-10-06 19:18] sarahmaddox opened #1209 "Use Google Analytics to drive our changes in info architecture and high-priority doc updates"
Continue the initiative from Q2/Q3 to use Google Analytics to drive our changes in info architecture and high-priority doc updates.

[2019-10-06 19:20] sarahmaddox opened #1210 "Implement the new docs team planning process"
Set up infrastructure (spreadsheet, mirroriing of GitHub issues). Create doc issues with the required fields for estimates etc. Build monthly sprint backlogs.

[2019-10-07 22:07] joeliedtke opened #1211 "Restyle links on home page tiles"
Currently the links on the home page tiles have low contrast from the page text, which can be a usability and accessibility issue. Please update the link style to correct this issue. For example, please add the bold style to _index.html line 173:

[code]

[2019-10-08 03:11] sarahmaddox opened #1212 "Pipelines: Add docs for Python-based visualizations"

[2019-10-08 03:15] sarahmaddox commented on #579
I'm going to close this one as obsolete.

/close

[2019-10-08 03:15] #579 closed

[2019-10-08 04:29] sarahmaddox opened #1213 "Pipelines on GCP: UI now supports Kubeflow v0.6.2"
https://deploy.kubeflow.cloud/#/deploy

Update the supported version in the docs.

[2019-10-08 04:29] sarahmaddox commented on #1213
/assign

[2019-10-08 04:55] sarahmaddox opened #1215 "Pipelines: GCP Deployment UI no longer offers option for creating permanent storage"
GCP Deployment UI no longer offers the option to create permanent storage:
https://deploy.kubeflow.cloud/#/deploy

In our [docs](https://www.kubeflow.org/docs/gke/deploy/deploy-ui/) we say:

We need to fix the deployment guide.

PR https://github.com/kubeflow/website/pull/1177 addresses the upgrade guide.

[2019-10-08 13:13] rgupta1234 opened #1216 "Install Kubeflow"
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Getting:

INFO[0000] Processing application: istio-ingress         filename="kustomize/kustomize.go:606"
Error: couldn't generate KfApp:  (kubeflow.error): Code 500 with message: kfApp Generate failed for kustomize: kustomize generate failed Error:  (kubeflow.error): Code 500 with message: couldn't copy application istio-ingress
Usage:

[2019-10-08 13:57] #1213 closed

[2019-10-08 20:59] #1137 closed

[2019-10-08 21:48] Jeffwan commented on #1201
Let's track the code changes here.

https://github.com/kubeflow/kubeflow/issues/4199

[2019-10-08 22:04] sarahmaddox commented on #1216
Related: https://github.com/kubeflow/website/issues/1201
/assign @Jeffwan

[2019-10-09 02:17] sarahmaddox opened #1217 "Pipelines: Multi-user support"
Document the multi-user support feature in Kubeflow Pipelines. Targeting end Q4 for release.
Contact: ianand@ and ngao@

[2019-10-09 02:22] sarahmaddox commented on #1215
/assign

[2019-10-09 03:38] sarahmaddox opened #1218 "GCP deployment UI no longer offers the option to set up endpoint later"
The latest GCP deployment webapp (https://deploy.kubeflow.cloud/), released for Kubeflow v0.6.2, no longer offers the option: **Setup Endpoint later**. We should remove it from the docs:
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/

[2019-10-09 03:39] sarahmaddox commented on #1218
/assign

[2019-10-09 04:01] #1215 closed

[2019-10-09 04:01] #1218 closed

[2019-10-09 04:57] sarahmaddox commented on #1175
@lluunn Are you happy to create the doc for workload identity management (I see you commented on https://github.com/kubeflow/kubeflow/issues/3638#issuecomment-525520248)? If you like, you can either point me at a draft in a Google Doc, or send a PR.

[2019-10-09 05:40] sarahmaddox commented on #1066
@krishnadurai Please could you link to the specific docs that need moving to the website? I've found the following:

* [Kubeflow Authentication and Authorization Prototype](https://github.com/kubeflow/manifests/blob/master/dex-auth/README.md)
* [Using Examples to enable RBAC](https://github.com/kubeflow/manifests/blob/master/docs/dex-auth/examples/README.md)
* [Kustomize Best Practices](https://gi

[2019-10-09 05:49] sarahmaddox commented on #1066
In the [page about deploying Kubeflow on a K8s cluster](https://www.kubeflow.org/docs/started/k8s/overview/], we currently offer two options:
* [Kubeflow Deployment with kfctl_k8s_istio](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)
* [Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/)

Are we now adding a

[2019-10-09 17:36] amygdala opened #1221 "update 'End-to-end Kubeflow on GCP' tutorial as necessary"
https://www.kubeflow.org/docs/gke/gcp-e2e/
Looks like we'll probably need to update this -- as per Dan, it only works on KF 0.5, but 0.5 deployment is now unsupported via the C2D app.  Creating placeholder to investigate.
(The docs do say to use 0.6 -- it's not clear to me whether the example breaks with 0.6.2...?)

[2019-10-09 17:37] amygdala commented on #1221
kind/bug

[2019-10-09 17:38] amygdala commented on #1221
/kind bug

[2019-10-09 21:13] sarahmaddox opened #1222 "Change website version to v0.7"
When the first v0.7 RC is available, change the version number in the website heading to "v0.7".

Also change the version number shortcode:
https://github.com/kubeflow/website/blob/master/layouts/shortcodes/kf-latest-version.html

And make sure all relevant pages use the shortcode in the link to the release page (see PR https://github.com/kubeflow/website/pull/1250).

[2019-10-09 21:19] wdhorton opened #1223 "Reference to `ks` in AWS documentation"
The "Storage Options" section of the AWS deploy documentation (https://www.kubeflow.org/docs/aws/storage/) still refers to `ks` commands, even though Kubeflow has moved away from `ksonnet`. I think this should be updated with the appropriate commands to run with the current tools.

[2019-10-09 21:20] sarahmaddox opened #1224 "Update all CONFIG paths for kfctl command to the v0.7 paths"
Update `CONFIG` paths for kfctl command in the following files:
* https://github.com/kubeflow/website/blob/master/layouts/shortcodes/config-uri-gcp-basic-auth.html
* https://github.com/kubeflow/website/blob/master/layouts/shortcodes/config-uri-gcp-iap.html
* https://github.com/kubeflow/website/blob/master/layouts/shortcodes/config-uri-k8s-istio.html
* https://github.com/kubeflow/website/blob/maste

[2019-10-09 21:31] sarahmaddox opened #1225 "Change the website "releases" links to point to the kubeflow/kfctl repo"
Various pages in the docs currently point to the following page for downloading kfctl:
https://github.com/kubeflow/kubeflow/releases
See [search](https://github.com/kubeflow/website/search?q=%22https%3A%2F%2Fgithub.com%2Fkubeflow%2Fkubeflow%2Freleases%22&unscoped_q=%22https%3A%2F%2Fgithub.com%2Fkubeflow%2Fkubeflow%2Freleases%22
)

According to issue https://github.com/kubeflow/kfctl/issues/7, we'r

[2019-10-09 21:47] sarahmaddox opened #1226 "Update docs for new kfctl semantics"
We're replacing the kfctl `init` and `generate` commands with `kfctl build`.
See https://github.com/kubeflow/kubeflow/issues/3518

We need to update all the docs that describe kfctl usage.
[Search init](https://github.com/kubeflow/website/search?q=%22kfctl+init%22&unscoped_q=%22kfctl+init%22)
[Search generate](https://github.com/kubeflow/website/search?q=%22kfctl+generate%22&unscoped_q=%22kfctl+ge

[2019-10-09 21:49] sarahmaddox commented on #1226
v0.7 demo script: http://bit.ly/demo-v0-7

[2019-10-09 21:49] sarahmaddox commented on #1175
v0.7 demo script: http://bit.ly/demo-v0-7

[2019-10-09 21:55] wdhorton commented on #1223
I also see there's a reference to `kfctl.sh` on this page: https://master.kubeflow.org/docs/aws/customizing-aws/.

[2019-10-09 22:01] sarahmaddox commented on #1223
/assign @Jeffwan

[2019-10-09 22:10] sarahmaddox commented on #1225
/assign

[2019-10-09 22:11] sarahmaddox commented on #1222
/assign

[2019-10-09 22:16] sarahmaddox commented on #1226
/assign

[2019-10-10 13:41] krishnadurai commented on #1066
@sarahmaddox
These docs will be removed or modified for 0.7 and be replaced with a website doc.

* [Kubeflow Authentication and Authorization Prototype](https://github.com/kubeflow/manifests/blob/master/dex-auth/README.md)
* [Using Examples to enable RBAC](https://github.com/kubeflow/manifests/blob/master/docs/dex-auth/examples/README.md)

I'll raise a PR for it.

[2019-10-10 13:47] krishnadurai commented on #1066
The Kubernetes RBAC configuration enabling will be a separate document as any on-prem installation with Dex should be able to use this configuration. This can be a separate section on recommending using Dex to authenticate and authorize Kubernetes requests based on the above two documents.

[2019-10-10 17:41] Jeffwan commented on #1223
@wdhorton I will have a clean up and file PR by this week.

[2019-10-10 18:08] sarahmaddox commented on #1066
Excellent, thanks @krishnadurai
/assign @krishnadurai

[2019-10-10 19:43] amygdala commented on #1221
Just some notes on things that need to be addressed:

- existing web ui service spec uses ClusterIP and won't provide external IP
  - related: could it make sense to add routing so that they can go through IAP endpoint?
- this line showing edits in web ui deployment.yaml: `- image: gcr.io/<your-project>/<your-deployment-name>` should be `- image: gcr.io/<your-project>/<your-deployment-name>-web-ui

[2019-10-10 22:35] amygdala commented on #1221
Even using the prebuilt web ui image I get the following error -- do you see this, Dan?
![image](https://user-images.githubusercontent.com/115093/66611477-91b78280-eb73-11e9-8854-8d376b8282a2.png)

[2019-10-11 19:02] DanSanche commented on #1221
hmm no I didnt see that when I ran through the codelab! It seems like theres an issue with the service. I can run through the doc again if that would help

[2019-10-12 11:52] nrchakradhar commented on #1224
The links were referring to kubeflow/kubeflow git. They would need to refer to manifests from 0.7 onwards.
https://github.com/kubeflow/manifests/tree/v0.7.0-rc.0/kfdef

[2019-10-12 16:58] sarahmaddox commented on #1212
/close

[2019-10-12 16:58] #1212 closed

[2019-10-12 17:16] marcredhat commented on #33
If  it helps, I'm doing some testing with OpenShift 4.2/CodeReady Containers:
https://github.com/marcredhat/crcdemos/blob/master/kubeflow/README.adoc
video at http://bit.ly/33nwbi0

[2019-10-12 18:44] sarahmaddox commented on #1210
Done.

/close

[2019-10-12 18:44] #1210 closed

[2019-10-12 21:02] amygdala commented on #1221
I wonder if it could be IAP-related (which the tutorial indicates to use but the codelab does not). I tried with a fresh (IAP-enabled) cluster and the prebuilt webui image and got the same result again.  Hmm. I'll try with a basic auth endpoint next.

[2019-10-12 21:54] amygdala commented on #1221
I think I figured it out -- the tutorial sets the tf-serving service name via
`kustomize edit add configmap mnist-map-serving   --from-literal=name=mnist-gcs-dist`  — which sets the service name to `mnist-gcs-dist`, but the flask app assumes the service name will be `mnist-service`— which is what the codelab uses.
So I don't see how the tutorial variant actually worked previously. 😬

[2019-10-13 00:37] amygdala commented on #1221
put in this PR to pin the TF version used for the web UI image: https://github.com/kubeflow/examples/pull/658  (Tests are breaking for reasons unrelated to my change).

[2019-10-13 22:09] sarahmaddox commented on #1226
Status: I've done some investigation and posed some questions on this issue: https://github.com/kubeflow/kubeflow/issues/3518#issuecomment-541451359

[2019-10-14 09:57] sarahmaddox commented on #1221
/assign @amygdala
Thanks Amy!

[2019-10-14 10:34] BBK-PiJ-2015-41 opened #1233 "Unable to connect to kubeflow dashboard having used kfctl_existing_arrikto config to deploy kubeflow"
After successfully deploying Kubeflow to an existing GCP cluster using the kfctl_existing_arrikto.0.6.2.yaml config file I was initially able to connect to the kubeflow dashboard.
However, I'm now unable to connect - istio ingress gateway is refusing connection.
The only thing that has changed is that I'm trying to connect from a different network.

Any suggestions?

[2019-10-14 10:52] sarahmaddox commented on #1233
@yanniszark Please would you take a look at this issue?
/assign @yanniszark

[2019-10-14 16:03] yanniszark commented on #1233
Hi @BBK-PiJ-2015-41.
Thanks for trying out Kubeflow, I'd be happy to help you out in setting up the existing_arrikto config.

The problem you're describing is a bit generic and a lot of things could be at fault, so let me ask for a bit more information.

Can you follow the [Troubleshooting section](https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#troubleshooting) of the existing_a

[2019-10-14 17:32] lluunn commented on #1175
/assign

[2019-10-14 18:00] sarahmaddox opened #1235 "Design communication of differences between Kubeflow Pipelines lightweight vs Kubeflow deployments"
When people install the lightweight deployment of Kubeflow Pipelines, some aspects of the deployment will behave differently from a full Kubeflow deployment.

For example:
* Lightweight deployments will not have access to a notebook server in the deployment. People will need to use an external notebook server, such as Cloud Notebooks.
* Authentication will differ (Istio vs IAP) e.g. when triggerin

[2019-10-14 18:00] sarahmaddox commented on #1235
/assign

[2019-10-14 18:11] sarahmaddox commented on #1129
/assign

[2019-10-14 18:23] sarahmaddox opened #1236 "Design a solution for marking apps and deployment solutions included in Kubeflow v1.0"
Discuss with community and stakeholders: _How should we mark the apps and deployment solutions that are considered part of Kubeflow v1.0?_

Options:
* We could just go with a version matrix.
* But having a badge on the doc page for each app will serve two functions: Give clarity to readers, and be seen as a badge of honor by the qualified apps.

To decide:
1. Shall we add such a badge of honor?
1.

[2019-10-14 18:23] sarahmaddox commented on #1236
/assign

[2019-10-14 18:35] sarahmaddox commented on #1207
From further discussions: Users will need metadata functionality for experimentation as well as for pipelines. It's possible that metadata will be implemented as an independent service that can be included in both pipelines and Kubeflow core. The UX team is working on a design for how the metadata service/UI will be exposed to users.

[2019-10-14 22:11] sarahmaddox commented on #1226
Status: Work in progress - currently doing the GCP guides. See the above-referenced PR 1234.

[2019-10-15 08:34] BBK-PiJ-2015-41 commented on #1233
Good Morning Yannis,
I've since deleted the cluster (GKE)in question, so will create a new one and send you the outputs you've requested.Needless to say I did follow the Troubleshooting section and did not notice any 'errors'. As I mentioned,I was able to log in after initially deploying kubeflow.

[2019-10-15 08:47] BBK-PiJ-2015-41 opened #1238 "Deploying Kubeflow to an existing GKE Cluster fails"
Good Morning,
Does the command **kfctl apply k8s -V** work with an existing GKE Cluster created using other means (terraform, for example)?

I've so far failed to get the deployment succeed even after creating all gcp resources handled by the deployment manager before hand and have also created the k8s secrets for the three services accounts created by the deployment manager including the OAuth cl

[2019-10-15 10:34] BBK-PiJ-2015-41 commented on #1233
Please find the curl output below
<pre>
curl -k https://35.242.159.80/ -v
*   Trying 35.242.159.80...
* TCP_NODELAY set
* Connected to 35.242.159.80 (35.242.159.80) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/cert.pem
  CApath: none
*

[2019-10-15 10:37] sarahmaddox commented on #1238
@jlewi Can you suggest someone to help @BBK-PiJ-2015-41 with this question?

[2019-10-15 10:37] BBK-PiJ-2015-41 commented on #1233
<pre>
kubectl get services -n istio-system istio-ingressgateway -o yaml
....
status:
  loadBalancer:
    ingress:
    - ip: 35.242.159.80
</pre>

[2019-10-15 10:42] BBK-PiJ-2015-41 commented on #1233
<pre>
kubectl get virtualservices -n kubeflow
NAME                         GATEWAYS             HOSTS   AGE
argo-ui                      [kubeflow-gateway]   [*]     13m
auth-virtual-services        [kubeflow-gateway]   [*]     13m
centraldashboard             [kubeflow-gateway]   [*]     13m
jupyter-web-app              [kubeflow-gateway]   [*]     12m
katib-ui                     [kubeflow-gatew

[2019-10-15 10:44] yanniszark commented on #1233
@BBK-PiJ-2015-41 the output of curl seems normal.
It is initiating an OIDC flow by redirecting you to Dex in order to login.

Are you able to connect now?
I should also mention that this is a public IP and other people can log into your cluster if you haven't changed the default passwords.

[2019-10-15 10:48] BBK-PiJ-2015-41 commented on #1233
No, I'm not able to connect.I get the error message below:
<pre>
This site can’t be reached

35.242.159.80 refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

</pre>

It's a new cluster I've just created and I'm not aware of any firewall rule that should block the connection.

[2019-10-15 10:57] yanniszark commented on #1233
@BBK-PiJ-2015-41 can you reach the Dex login screen?
Visiting the website from my browser works as expected and I get the Dex login screen.

[2019-10-15 11:10] BBK-PiJ-2015-41 commented on #1233
Thanks for the update.Will try and connect from a different network to test & will update you.
In the meantime, do you have any documentation on how to configure ingress resource to use a third-party tls certificate?

[2019-10-15 11:15] yanniszark commented on #1233
@BBK-PiJ-2015-41 not yet unfortunately.
We use the file mount approach on the istio ingress gateway: https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/

The self-signed cert is a secret ( I believe istio-ingressgateway-certs) in the istio-system namespace.
You have to change that in order to work.

[2019-10-15 13:09] BBK-PiJ-2015-41 commented on #1233
@yanniszark, possibly one last question - adding a new static user
I've just added a new static user - joeblogs2 as per your guide and also shown below
<pre>
staticPasswords:
- email: joeblogs@gmail.com
  # BCrypt Hash
  hash: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  username: joeblogs
  userID: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
- email: joeblogs2@gmail.com
  hash: "x

[2019-10-15 14:51] yanniszark commented on #1233
@BBK-PiJ-2015-41 Dex loads the static users in memory when it first starts, so it needs to be restarted for the changes to take effect.
I will make sure to amend the docs to reflect that.

[2019-10-15 16:07] sarahmaddox opened #1239 "Give users guidance on the various serving platforms like Seldon vs TFServing etc"
Kubeflow supports a few serving platforms: https://www.kubeflow.org/docs/components/serving/

We need an **overview** doc in the serving section, giving users guidance on the various serving platforms and which one to choose for their use case.

Example: A question came up in [Kubeflow discuss](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubeflow-discuss/yyxE734xg1s/9E

[2019-10-15 16:29] BBK-PiJ-2015-41 commented on #1233
Regarding restarting a pod, if I'm correct,I think you scale first scale it to 0 and then back to the original replica number
kubectl scale deployment dex  --replicas=0 -n kubeflow
kubectl scale deployment dex  --replicas=1 -n kubeflow.

But anyway, thank you very much for your help

[2019-10-15 16:29] #1233 closed

[2019-10-15 16:40] sarahmaddox commented on #1239
Suggested location for doc (does not yet exist):
https://www.kubeflow.org/docs/components/serving/overview/

In GitHub:
`https://github.com/kubeflow/website/edit/master/content/docs/components/serving/overview.md`

[2019-10-15 16:41] sarahmaddox commented on #1239
/assign @cliveseldon

[2019-10-16 02:33] jlewi commented on #1238
Please follow these instructions to deploy on an existing cluster
https://www.kubeflow.org/docs/started/k8s/

You need to specify a config file that provides the appropriate configuration that you want to deploy.

[2019-10-16 07:27] #1184 closed

[2019-10-16 10:19] sarahmaddox commented on #1184
Thanks @butuzov!

[2019-10-16 13:25] yarcyarc opened #1243 "what's prescribed for gke kubeflow doesn't work. There is an open bug filed from July 15th."
The recipe and/or url on https://www.kubeflow.org/docs/started/cloud/getting-started-gke/ leading to https://deploy.kubeflow.cloud doesn't work.

There is a bug filed https://github.com/kubeflow/kubeflow/issues/3659.

[2019-10-16 16:46] yanniszark commented on #1233
@BBK-PiJ-2015-41 since you closed the issue, I assume that the problem is resolved?
If yes, that's great.
Could you give a bit more info on what was wrong and why you couldn't access the Istio gateway from your network?

[2019-10-16 19:10] navado opened #1246 "Kubeflow Deployment with kfctl_k8s_istio doesn't contain updated way to install Kubeflow on existing cluster"
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Te documentation is irrelevant for kfctl v0.6.2.
`kfctl init` reports that it's deprecated and `kfctl apply` should be used.
However `kfctl apply -f https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_k8s_istio.0.6.2.yaml` doesn't work with an error:
[code]

The error message is messy too, but it's proba

[2019-10-17 01:59] jtanios opened #1247 "Pipelines Quickstart - Note on GKE cluster functionality"
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

It looks like both issues mentioned above were fixed and their respective PR's merged recently.

[2019-10-17 02:26] themummy opened #1248 "Set up a GCP Project - Missing required APIs"
https://www.kubeflow.org/docs/gke/deploy/project-setup/

The following APIs are also required:
* Cloud Filestore API
* Cloud Machine Learning Engine

[2019-10-17 07:44] shaunc commented on #318
Indeed -- its odd that the MacOS page doesn't say anything about how to install if you already have Kubernetes installed. It seems to promise to at the top of the page but then it peters out after MiniKube install instructions. What about Kubeflow itself!? :)

[2019-10-17 09:45] damejovanoski opened #1249 "More information regarding the artifacts storage"
Reading the documentation it is unclear how and where are the artifacts stored. What can be used as an artifacts storage?

[2019-10-17 10:25] sarahmaddox commented on #1248
Thanks for reporting this, @themummy.
@abhi-g Have we added a dependency on the Filestore and CMLE APIs? AFAIK, Filestore is an optional addition. Not sure about CMLE.

[2019-10-17 10:29] sarahmaddox commented on #1247
Thanks @themummy that's good to know. The issues are still open, though the PRs are merged. Let's wait until the issues are marked as fixed, in case additional work is required. I'll come back and check in a week's time.

[2019-10-17 10:51] BBK-PiJ-2015-41 commented on #1233
@yanniszark, it turned out the network security team at our office has blocked access to gcp public ip addresses

[2019-10-17 11:02] krishnadurai commented on #1246
@navado it looks like the kfctl bundle you have downloaded is an RC for v0.7.0. Could you check if `kfctl version` outputs v0.6.2?

You can download 0.6.2 here:
https://github.com/kubeflow/kubeflow/releases/tag/v0.6.2

I can see that the documentation is now pointing to this link:
https://github.com/kubeflow/kubeflow/releases

Rather than the one above. I'll fix this soon.

Thanks for reporting th

[2019-10-17 15:24] sarahmaddox opened #1252 "Improve guidance around KFAPP for application name and directory name"
Pasting suggestion from PR  https://github.com/kubeflow/website/pull/1234#discussion_r335756101:

[code]

We need to update all the docs that use the semantics of `${KFAPP)` at the same time, otherwise people will get confused when moving from one doc to another.

Let's do this outside the scope of a particular release - so, when the docs for Kubeflow v0.7 are safely bedded down.

[2019-10-17 16:58] abhi-g commented on #1248
I believe we do enable the CMLE and Filestore APIs are part of the installation process.
cc @kunmingg

When deploying with kfctl or through the WebApp deployer on GCP, the deployer application will automatically enable all required APIs. We can probably document as the list of APIs that are enabled. Kunming, please correct me if I am wrong about kfctl enabling the APIs.

[2019-10-17 18:11] kunmingg commented on #1248
The apis enabled during kubeflow setup: https://github.com/kubeflow/kubeflow/blob/1d811f737d7555782dbeab09eb88795a84aeded9/bootstrap/pkg/kfapp/gcp/gcp.go#L2186

[2019-10-17 22:29] sarahmaddox opened #1253 "Update Pipelines standalone deployment to describe generic standalone (as well as GCP)"
https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/

[2019-10-18 11:10] BBK-PiJ-2015-41 commented on #1238
Thank you

[2019-10-18 11:10] #1238 closed

[2019-10-18 16:15] TiraO opened #1257 "Pipelines API Reference"
https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

It would be useful to link to https://github.com/kubeflow/pipelines/blob/master/backend/api/filter.proto

where it says 'see filter.proto' in the pipelines documentation.
e.g. (see [filter.proto](https://github.com/kubeflow/pipelines/blob/master/backend/api/filter.proto))

[2019-10-19 00:08] sarahmaddox commented on #1257
Good point. @OfficePop This may be worth investigating as part of your work on the API reference docs.

[2019-10-20 15:50] sarahmaddox commented on #1223
ksonnet (ks) is also referenced on this page:
https://www.kubeflow.org/docs/aws/troubleshooting-aws/

[2019-10-20 20:58] sarahmaddox opened #1258 "Update the Kubeflow upgrade guide for kfctl v0.7"
https://www.kubeflow.org/docs/upgrading/upgrade/

[2019-10-20 21:01] sarahmaddox commented on #724
This issue is now resolved, as the guide no longer uses ksonnet.
https://www.kubeflow.org/docs/components/serving/tfserving_new/

/close

[2019-10-20 21:01] #724 closed

[2019-10-20 21:03] sarahmaddox opened #1259 "Remove the gitops guide as it does not work for Kubeflow v0.7 onwards"
https://www.kubeflow.org/docs/use-cases/gitops-for-kubeflow/

The guide needs updating for Kubeflow v0.6 and v0.7 - it should use kustomize instead of ksonnet, and should use the new kfctl binary rather than `kftcl.sh`.

[2019-10-20 21:05] sarahmaddox commented on #1259
@dthomson25 Is this something you can take a look at?

[2019-10-21 15:38] OfficePop commented on #1257
Thanks @sarahmaddox, I will look into it!

[2019-10-22 03:23] jlewi commented on #1243
Duplicate of kubeflow/kubeflow#3659

[2019-10-22 03:23] #1243 closed

[2019-10-22 03:33] jlewi opened #1261 "Update monitor IAP section for 0.7"
https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/

This page needs to be updated for 0.7 in particular

* Instructions for cetificate need to be updated to use GKE managed certificate
* We should provide a step for checking the JWT policy

[2019-10-23 13:04] sarahmaddox commented on #1247
I've added a comment to both the referenced issues, asking if they can now be closed.

[2019-10-23 14:17] sarahmaddox opened #1263 "Remove the 'version' param from config.toml if unused"
The `version` param is set in our `config.toml` but I don't think it's used any more.
To verify, search the repo for 'params "version"'.

Try removing the param and test the website.

[2019-10-23 14:17] sarahmaddox commented on #1263
/assign

[2019-10-23 19:59] sarahmaddox commented on #1226
This is now done (apart from the Kubeflow upgrade guide - PR under review).

/close

[2019-10-23 19:59] #1226 closed

[2019-10-23 23:37] sarahmaddox commented on #912
Hallo @batigooal I've just installed Kubeflow v0.7.0 RC5, and managed to successfully create a notebook server. I think this issue may have been a temporary issue, perhaps caused by a specific environment.

If the problem occurs again, please would you open an issue in the [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/issues) issue tracker, as the problem doesn't seem to be related to t

[2019-10-23 23:37] #912 closed

[2019-10-23 23:38] Jeffwan opened #1267 "Links for 0.7 manifest kfctl files are broken"
In kfctl version cherry-pick PR https://github.com/kubeflow/manifests/pull/565,

For example, file was renamed from
`https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_aws.yaml`
to
`https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_aws.0.7.0.yaml`

Seems we did this in v0.6.2 as well. Want to double make sure if this is right pattern, we may exp

[2019-10-23 23:38] Jeffwan commented on #1267
/cc @sarahmaddox @jlewi

[2019-10-23 23:39] sarahmaddox commented on #617
@zabbasi Can we close this issue, as I think the docs currently cover creating notebooks in specific namespaces?
https://www.kubeflow.org/docs/notebooks/setup/#create-a-jupyter-notebook-server-and-add-a-notebook

/assign

[2019-10-23 23:43] sarahmaddox opened #1268 "Document the Configurations and Extra Resources fields in the Notebooks setup screen"
Document the **Configurations** and **Extra Resources** fields in the Notebooks setup screen. (We currently mention **Extra Resources** when discussing GPUs, but we should document other available options too.)

Doc to update:
https://www.kubeflow.org/docs/notebooks/setup/#create-a-jupyter-notebook-server-and-add-a-notebook

Screenshot:
![image](https://user-images.githubusercontent.com/6138251/67

[2019-10-23 23:43] sarahmaddox commented on #1268
/help-wanted

[2019-10-23 23:45] sarahmaddox commented on #1268
Guide to updating the docs:
https://github.com/kubeflow/website/blob/master/README.md

[2019-10-24 00:35] sarahmaddox commented on #1267
@Jeffwan That's correct. The manifest file names are changing incrementally for the various cloud/on-prem configs. And yes, they're version-specific, so we'll need to update them again for v0.7.1.

Would you like to send a PR to update them for AWS, now that we have the final URL for v0.7.0? These are the two doc files that need updating:
* https://github.com/kubeflow/website/blob/master/layouts/s

[2019-10-24 00:35] sarahmaddox commented on #1267
/assign @Jeffwan

[2019-10-24 00:57] #1258 closed

[2019-10-24 08:44] Jeffwan commented on #1267
I will take the one for aws.

[2019-10-24 12:51] #1267 closed

[2019-10-24 14:34] jlewi opened #1272 "Document that Kubeflow 0.7 doesn't work with K8s 1.16 and has only been tested on 1.14"
See kubeflow/manifests#375

We know that Kubeflow doesn't work with Kubernetes 1.16.
We haven't tested Kubeflow on Kubernetes 1.15 so we don't really know.
We test Kubeflow on GKE with 1.14.

We should document this on the docs and point to it.

I might suggest creating a page with some sort of compatibility matrix.

We have other versioning that we want to document; e.g. ISTIO version; knative ve

[2019-10-24 15:13] sarahmaddox commented on #1272
Thanks @jlewi

I think we should tackle this in 2 stages.

First, let's get the K8s requirements sorted out.

* We currently list the minimum K8s version here: https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements
* We should add the info about the tested version and the incompatible version to the same bullet point in the above page. We should use shortcodes to contain t

[2019-10-24 15:31] sarahmaddox commented on #1224
This is now done.

[2019-10-24 15:31] #1224 closed

[2019-10-24 15:34] sarahmaddox opened #1273 "Config files created by kfctl now include version number in file name"
The config files created by kfctl now include version number in the file name. We've adjusted all the config URIs but we also need to adjust the file names as referred to in the docs. For example, this:

[code]

Should become:

[code]

Create the relevant shortcodes to future-proof this change throughout the deployment guides and other docs.

[2019-10-24 16:31] #1252 closed

[2019-10-24 23:17] #1175 closed

[2019-10-24 23:49] #1273 closed

[2019-10-25 05:53] SaschaHeyer commented on #853
@GarethLewin
The pull requests is merged

[2019-10-25 07:08] shanidchamal commented on #1268
CPU, RAM and GPU are the main resources for cluster. for gpu, nvidia is common and amd also i think. the plugin set for extending Kubernetes are listed [here](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/). based on that, if somebody uses those plugins, then they may add those resources as extra. Also, [enabling gpu and tpu](https://www.kubeflow.org/docs

[2019-10-25 12:24] sarahmaddox commented on #1257
/assign @OfficePop

[2019-10-25 12:36] BeneaAlinAndrei opened #1279 "Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto; unknown shorthand flag -f"
While trying to install Kubeflow following the steps in the tutorial bellow, i encountered the following problem:

I run: `kfctl apply -V -f ${CONFIG_FILE}`

And i received the error: `Error: unknown shorthand flag: 'f' in -f`

The flag  `- f`   does not exist in the documentation of kfctl command.

https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2019-10-25 12:41] krishnadurai opened #1280 "Add user doc to setup Dex based Kubernetes API Authentication"
Current setups with Dex Auth enabled at Istio Gateway should be supported with docs for Authentication at Kubernetes API level too. Add a doc to setup and troubleshoot a setup with Dex auth enabled at Kubernetes API.

/assign @krishnadurai

[2019-10-25 12:53] sarahmaddox opened #1281 "Document the compatible/incompatible/tested versions of various dependencies"
Create a page with a compatibility matrix showing compatible/incompatible/tested versions of various dependencies, including:
* K8s,
* ISTIO,
* knative,
* KFServing,
* and maybe others....

Distinguish between:

* What we test/support
* What we know doesn't work
* What we haven't tested (maybe this can be specified implicitly by not listing it).

For example, for K8s:
* We know that Kubeflow doesn

[2019-10-25 12:55] sarahmaddox commented on #1272
I've created issue https://github.com/kubeflow/website/issues/1281 to gather information about the version matrix and track the creation of the doc.

Let's use this current issue to track the K8s version requirements since that's the P0 for v0.7.

[2019-10-25 13:14] jlewi opened #1283 "[GCP] Document IAM and multi-user"
To share a cluster on GCP people need to be granted appropriate IAM roles.

We should document this.

To access the UI viap IAP they need http accessor role

[code]

To be able to do `gcloud get credentials` and see logs in stackdriver they will need viewer access on the project

[code]

[2019-10-25 14:56] sarahmaddox commented on #1280
@krishnadurai Is this the doc that you're referring to?
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

[2019-10-25 15:00] sarahmaddox commented on #1279
@BeneaAlinAndrei This could be a problem with the Kubeflow version - which version of kfctl have you downloaded? The docs refer to Kubeflow v0.7.0. The `-f` flag is new in kfctl.

If you're looking for the Kubeflow v0.6 docs, you can find them here:
https://v0-6.kubeflow.org/
(You can also access the docs for other versions from the release number dropdown on the docs website.)

[2019-10-25 15:00] sarahmaddox commented on #1279
/cc @yanniszark

[2019-10-25 15:04] yanniszark commented on #1279
This seems like a wrong kfctl version.
@BeneaAlinAndrei can you give us the output of `kfctl version`?
You should download this version: https://github.com/kubeflow/kubeflow/releases/tag/v0.7.0-rc.6
or a newer one if available.

[2019-10-25 15:05] krishnadurai commented on #1280
@sarahmaddox I'm looking to document how to setup Dex Authentication with Kubernetes API server - which authenticates kubectl commands. The doc you are referring to sets it up for Istio ingress gateway - for the Kubeflow Web UI.

[2019-10-25 18:21] #1272 closed

[2019-10-25 19:48] sarahmaddox commented on #577
We now have an API reference generated from the code. It's not continuously built, but it's auto-generated in that the doc emerges from the code comments. I'm going to close this issue.

/close

[2019-10-25 19:48] #577 closed

[2019-10-25 19:49] sarahmaddox commented on #734
FYI @OfficePop

[2019-10-25 19:49] sarahmaddox commented on #617
@zabbasi I'm going to close the issue. Please do re-open it if more work is needed.

/close

[2019-10-25 19:49] #617 closed

[2019-10-25 20:22] #1279 closed

[2019-10-25 20:23] BeneaAlinAndrei commented on #1279
Yup, the version was outdated, thanks a lot!

[2019-10-27 20:58] sarahmaddox commented on #1281
Related issue: https://github.com/kubeflow/website/issues/1129

[2019-10-27 21:18] sarahmaddox commented on #1222
Awaiting final version before branding from v0.7RC to just v0.7.

[2019-10-27 21:21] sarahmaddox commented on #1225
Removed the P0 and v0.7 labels, as the move to the `kfctl` repo is no longer blocking for v0.7.0. We'll update the docs when the move happens. Leaving this issue open until then.

[2019-10-27 21:27] sarahmaddox commented on #1261
@lluunn Is this something you can tackle?

[2019-10-28 01:44] lluunn commented on #1261
/assign

[2019-10-29 15:47] amygdala opened #1288 "c2d info now needs to include additional instrs on enabling APIs"
Placeholder issue so I don't forget. Turns out that we now need to have people enable two apis in their GCP project prior to running the c2d app, otherwise deployment will fail:
https://console.cloud.google.com/apis/api/iam.googleapis.com/overview
https://console.developers.google.com/apis/api/cloudresourcemanager.googleapis.com/overview

This might be a recent change in how GCP projects are set u

[2019-10-29 15:49] sarahmaddox commented on #1288
Thanks @amygdala Do people need to enable these APIs only if using C2D? Also, currently C2D doesn't yet support v0.7. Do you know if the requirement for these APIs will apply when C2D supports v0.7 too?

[2019-10-29 15:53] sarahmaddox commented on #1288
Related (but different APIs): https://github.com/kubeflow/website/issues/1248

[2019-10-29 15:56] sarahmaddox commented on #1288
Ah, here's where Kubeflow requests the APIs:
https://github.com/kubeflow/kubeflow/blob/1d811f737d7555782dbeab09eb88795a84aeded9/bootstrap/pkg/kfapp/gcp/gcp.go#L2186

From the above, it looks as if we need the user to enable them for either the CLI deployment or C2D - is that a correct assumption?

[2019-10-29 16:16] sarahmaddox commented on #1288
I see we do already tell them to enable the IAM API. I'll include a section in the C2D guide asking people to check the requirements. I'll also add the Cloud Resource Manager API to the list.

[2019-10-30 03:08] arun-gupta opened #1290 "Update the complete name of Amazon EKS"
Amazon EKS complete name is `Amazon Elastic Kubernetes Service`. https://www.kubeflow.org/docs/started/cloud/getting-started-aws/ is still using older name "Amazon Elastic Container Service for Kubernetes".

// @Jeffwan

[2019-10-30 09:55] grischa opened #1292 "GitOps For Kubeflow Using Argo CD uses old kfctl"
https://www.kubeflow.org/docs/use-cases/gitops-for-kubeflow/

It still uses kfctl init and generate and refers to a non-existent script.

Would be great to have up to date documentation on using Argo with the new kfctl version 0.7.x and kustomise.

[2019-10-30 12:18] sarahmaddox commented on #1292
Thanks for raising this issue! The need to update the doc is recorded in issue https://github.com/kubeflow/website/issues/1259. I'll close this one, and we'll use the earlier issue to track the task.

/close

[2019-10-30 12:19] #1292 closed

[2019-10-30 12:48] sarahmaddox opened #1293 "Broken links to Dockerfile locations"
On this page:
https://www.kubeflow.org/docs/reference/images/

The following links are broken:
https://github.com/datawire/ambassador/blob/master/Dockerfile
https://github.com/kubeflow/kubeflow/blob/master/components/jupyterhub/docker/Dockerfile

[2019-10-30 12:54] sarahmaddox commented on #1246
/close

[2019-10-30 12:54] #1246 closed

[2019-10-30 13:00] sarahmaddox commented on #1247
Still chasing this down. One of the issues is now closed, but I'm awaiting a response on the container registry issue.

[2019-10-30 16:41] shanidchamal commented on #1290
please find PR #1294

[2019-10-30 16:44] sarahmaddox commented on #1290
/assign @shanidchamal

Thanks @shanidchamal

[2019-10-30 18:04] thavlik opened #1295 "dsl-compile immediately crashes"
Installed with `pip3 install https://storage.googleapis.com/ml-pipeline/release/latest/kfp.tar.gz --upgrade --user`.
[code]
Invocation results in immediate segfault:
[code]
From zsh:
[code]

Platform: Mac Mini 2018
Mac OSX 10.15.1 (Catalina)

[2019-10-30 19:05] sarahmaddox commented on #1295
/assign @Ark-kun

@Ark-kun Please would you take a look at this issue with the DSL?

[2019-10-30 19:15] Ark-kun commented on #1295
There might be some problem with your python or OS environment (as the error does not show any python stack trace).
Can you verify the environment?

[code]

[code]

P.S. You can get help faster is you open issues in the https://github.com/kubeflow/pipelines repo.

[2019-10-30 20:05] hongzhao-signifyd opened #1296 "Improve the documents of storage options"
This doc is using ksonnet commands. I think it should provide other options like kustomize, kubectl commands.

https://www.kubeflow.org/docs/aws/storage/

[2019-10-30 20:32] sarahmaddox commented on #1296
Thanks for raising this issue! It's also reported in issue https://github.com/kubeflow/website/issues/1223. I'll close this issue and we can use the earlier issue to track the task.

/close

[2019-10-30 20:32] #1296 closed

[2019-10-31 02:27] #1065 closed

[2019-10-31 02:27] #1248 closed

[2019-10-31 02:27] #1288 closed

[2019-10-31 15:49] #1165 closed

[2019-11-01 01:07] sarahmaddox commented on #1247
It looks like the fix for https://github.com/kubeflow/pipelines/issues/1700 is still not complete. We should change the note to mention just one issue, not both.

/good-first-issue

[2019-11-01 19:38] alecglassford opened #1302 "WtD fixit: Readability improvements for Kubeflow on Linux"
https://www.kubeflow.org/docs/started/workstation/getting-started-linux/

Fix typo: "guid" --> "guide"

(This issue is actually being addressed ahead of the fixit to test out the [fixit guide](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Fixit-at-Write-the-Docs-AU-2019).)

[2019-11-01 22:00] thavlik commented on #1295
[code]
[code]
(abort trap 6 in bash, still)
Roger on opening the issue elsewhere. Totally didn't realize this was the website! I'm about to leave for the weekend so I'll take care of it Monday. I will close this for now.

[2019-11-01 22:00] #1295 closed

[2019-11-01 22:20] Ark-kun commented on #1295
Can you also try `python3 -m pip install kfp --upgrade --user`?

[2019-11-02 02:45] sarahmaddox commented on #1302
/assign @alecglassford

[2019-11-02 02:47] #1302 closed

[2019-11-04 00:05] sarahmaddox commented on #1281
@mameshini @jlewi I think we have two different types of version matrix under discussion:

* In this issue (https://github.com/kubeflow/website/issues/1281), we're looking at **dependencies** such as K8s, Istio, and so on. Users need to know which version of each dependency they should use with each version of Kubeflow.
* In issue https://github.com/kubeflow/website/issues/1129, we're looking at *

[2019-11-04 04:03] sarahmaddox commented on #418
I think this requirement is now covered by the following set of docs:
https://www.kubeflow.org/docs/started/k8s/overview/

I'll close this issue, but please do re-open it if more work is needed.

/close

[2019-11-04 04:03] #418 closed

[2019-11-04 04:05] sarahmaddox opened #1309 "Remove obsolete overview sections from the reference docs index page"
The reference docs index page:
https://www.kubeflow.org/docs/reference/

still includes some obsolete sections which are now duplicated in the overview page:
https://www.kubeflow.org/docs/reference/overview/

The index page need only contain a list of pages in the reference section.

[2019-11-04 06:13] mameshini commented on #1281
@sarah yes please assign the matrix discussed in this issue (#1281) to me and Arun - we will update https://kubernetes.io/docs/home/supported-doc-versions/ as well as other relevant pages.
We will need to delay the matrix about dependencies (Istio, dex, etc) until we get this information, may be via Kubeflow discussion list.  For example, I am currently using Kubeflow with Istio 1.3.3, but it's no

[2019-11-04 12:47] BeneaAlinAndrei opened #1311 "Kubeflow Deployment with kfctl_k8s_istio"
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

[2019-11-04 12:47] #1311 closed

[2019-11-04 12:54] BeneaAlinAndrei opened #1312 "Kubeflow Deployment with kfctl_k8s_istio on Kubernetes 1.16"
Hello,

Running the commands in the tutorial, when i try to run the command `kfctl apply -V -f ${CONFIG_FILE}` i got an error with the **Code: 500** on the installation part:

` Encountered error during apply:  (kubeflow.error): Code 500 with message: Apply.Run  Error error when creating "/tmp/kout216361902": CustomResourceDefinition.apiextensions.k8s.io "seldondeployments.machinelearning.seldon.i

[2019-11-04 13:04] krishnadurai commented on #1312
@BeneaAlinAndrei Thanks for reporting this.
Currently we are testing our manifests against Kubernetes 1.14 and it is known that Kubernetes 1.16 is not supported.
To try Kubeflow, I would suggest you downgrade Kubernetes version to 1.14.

[2019-11-04 13:20] jlewi opened #1313 "Update profile docs to v1beta1 and 0.7"
https://www.kubeflow.org/docs/other-guides/multi-user-overview/#manual-profile-creation

Its still referencing v1alpha1 but this should now be v1beta1.

/assign @kunmingg

[2019-11-04 13:30] jlewi commented on #1312
Duplicate of kubeflow/manifests#375

[2019-11-04 13:30] #1312 closed

[2019-11-04 17:55] #1309 closed

[2019-11-04 18:55] jlewi commented on #1283
@sarahmaddox yup I think that's a good place for the docs at least for now.
https://www.kubeflow.org/docs/other-guides/multi-user-overview/#pre-requisite-grant-user-minimal-kubernetes-cluster-view-access

[2019-11-04 18:58] jlewi opened #1315 "[0.7] Remove reference to Ambassador Service In Connecting To Jupyter Docs"
The docs here mention Ambassador
https://www.kubeflow.org/docs/notebooks/setup/#install-kubeflow-and-open-the-kubeflow-ui

We no longer use Ambassador so we should update that doc.

Rather than duplicating the instructions for accessing the Kubeflow UIs I think we should just link to the page
https://www.kubeflow.org/docs/other-guides/accessing-uis/

[2019-11-04 19:09] jlewi commented on #1293
@sarahmaddox should we remove this page? I think its going to be difficult to keep this up to date.

[2019-11-04 19:18] jlewi opened #1316 "Update samples page to show which version of Kubelow each sample works with"
This page
https://www.kubeflow.org/docs/examples/kubeflow-samples/

lists a lot of samples that I don't think are updated for 0.7.

* Should we remove samples until they have been updated for 0.7?
* Should we add the [xgboost_synthetic](https://github.com/kubeflow/examples/tree/master/xgboost_synthetic) ?

   * That is probably the sample most up to date for 0.7

* [code_search](https://github.com

[2019-11-04 19:32] jlewi commented on #1316
@sarahmaddox suggested not removing the list of samples but instead with each one listing the Kubeflow versions they work with.

[2019-11-04 20:44] sarahmaddox commented on #1222
Done by https://github.com/kubeflow/website/pull/1314

/close

[2019-11-04 20:44] #1222 closed

[2019-11-04 20:45] sarahmaddox commented on #1316
/good-first-issue

[2019-11-04 20:46] sarahmaddox commented on #1315
/good-first-issue

[2019-11-04 20:47] sarahmaddox commented on #1290
/close

[2019-11-04 20:47] #1290 closed

[2019-11-04 20:48] sarahmaddox commented on #1293
@JavaDerek What are your thoughts on keeping this page up to date?

[2019-11-04 20:57] sarahmaddox commented on #1281
/assign @mameshini

To gather the information, I'd suggest creating a Google doc with a partially complete matrix, then circulate it via kubeflow-discuss. You could also mention it in a community meeting. When you have (most of) the info in the matrix, you can move it to a PR.

[2019-11-04 21:12] amygdala opened #1317 "Pipelines: add a link to this codelab: https://g.co/codelabs/kfp-gis"
As requested :) -- add a link somewhere to the github summarization *pipelines* codelab: https://g.co/codelabs/kfp-gis
cc @sarahmaddox
(not to be confused with the 'non-pipelines' GH summarization example & codelab...)

[2019-11-04 21:16] sarahmaddox commented on #1317
Add the link on this page:
https://www.kubeflow.org/docs/pipelines/tutorials/cloud-tutorials/

/good-first-issue

[2019-11-04 23:38] sarahmaddox commented on #1206
/assign @zhenghuiwang

[2019-11-04 23:53] sarahmaddox commented on #996
/assign @amygdala

[2019-11-05 04:06] amygdala commented on #1317
Actually, it turns out that this example does not (yet) run in 0.7 (related to some service account permissions changes, apparently).  I'll need to put in a PR to fix that before we list it for the new release.

[2019-11-06 01:45] sarahmaddox commented on #1225
From today's Kubeflow community meeting:

`kubeflow/kfctl` is now the location of kfctl going forward.

In the docs: Leave the binary download link as is (pointing to `kubeflow/kubeflow`, but point general links to kubeflow/kfctl now.

[2019-11-06 11:08] shanidchamal commented on #1315
please see PR #1322 suggest changes if needed.

[2019-11-06 13:16] shanidchamal opened #1323 "add pvc/authservice-pvc on on-prem kubeflow installation doc"
Kubeflow v0.7.0 has unbound pvc on istio-system namespace on on-prem kubeflow installation.
Doc to be updated : [https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/#in-case-of-existing-kubeflow-installation](https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/#in-case-of-existing-kubeflow-installation)
![Screenshot from 2019-11-06 18-36-51](https://user-i

[2019-11-06 13:17] shanidchamal commented on #1323
/assign

[2019-11-06 17:31] #1281 closed

[2019-11-06 17:47] sarahmaddox commented on #1315
/assign @shanidchamal

Thanks @shanidchamal

[2019-11-07 18:03] sarahmaddox commented on #1315
/close

Closed byhttps://github.com/kubeflow/website/pull/1322

[2019-11-07 18:03] #1315 closed

[2019-11-07 19:45] kkasravi opened #1324 "getting-started-minikube references non-existent script"
this page https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/#quick-setup references setup-minikube.sh which was removed in v0.6.2

[2019-11-07 19:46] kkasravi commented on #1324
/area docs

[2019-11-07 19:47] kkasravi commented on #1324
/platform minikube

[2019-11-07 21:15] sarahmaddox commented on #1324
Thanks for raising this issue! We already have issue https://github.com/kubeflow/website/issues/1324 which reports the same problem. I'll close this issue, and we can use the earlier issue to track work.

/close

[2019-11-07 21:15] #1324 closed

[2019-11-07 21:16] sarahmaddox commented on #1183
/help-wanted

[2019-11-07 21:26] kkasravi commented on #1324
#1324 is this issue.

[2019-11-07 21:29] sarahmaddox commented on #1324
Oops sorry! Here's the right link: https://github.com/kubeflow/website/issues/1183

[2019-11-07 21:35] jlewi commented on #1261
@lluunn Do you have an ETA for a PR?

[2019-11-07 21:51] janeman98 commented on #1316
@sarahmaddox Is there an easy way to find out what version these sample work with?

I have a quick look on these samples, most of them just point to "Getting Started with Kubeflow"
Semantic code search -- > Getting Started with Kubeflow (https://www.kubeflow.org/docs/started/getting-started/)
Financial time series --> KUBEFLOW_VERSION=0.2.5 ??
GitHub issue summarization --> v0.4.0-rc.2.
MNIST imag

[2019-11-08 00:37] sarahmaddox commented on #1316
@texasmichelle and @amygdala Can you help identify the Kubeflow version for each sample?

[2019-11-08 00:43] sarahmaddox commented on #1183
PR https://github.com/kubeflow/website/pull/1325 deletes the script section from the page. Since the script section was intended as a quick installation option, this solves this particular issue.

Still to be determined is how well the full installation of mini-kube works.

I'll close this issue for now, as the particular point it raises has been addressed. Thanks for reporting it and thanks to th

[2019-11-08 00:43] #1183 closed

[2019-11-08 02:46] sarahmaddox commented on #1225
I've searched the docs and cannot find any general inks to kfctl. All the links point to the binary for download, which remains in `kubeflow/kubeflow` for now. I'll therefore close this issue. We can re-open it when we need to update the download links.

/close

[2019-11-08 02:46] #1225 closed

[2019-11-08 12:36] BeneaAlinAndrei opened #1328 "Kubeflow Deployment with kfctl_k8s_istio - <none> External IP"
Hello,

After i successfully deployed Kubeflow on my master node, i noticed that **`istio-ingressgateway `** is showing **`<none>`** **`EXTERNAL-IP `**, which is blocking the communication between the front end and the back end.

i will mention that i have Kubernetes 1.14 and Kubeflow version 0.7. I had deployed the cluster on my master node.

 I missed a step, and is  there any way to resolve thi

[2019-11-08 16:32] indranilr opened #1329 "Error running katacoda kubeflow deployment scenario"
Getting below error while running katacode kubeflow deployment scenario.See screen shot below.

kubeflow get pods returns no resources afterwards.

![image](https://user-images.githubusercontent.com/13346906/68494003-9dca5900-0273-11ea-82f0-250475034970.png)

[2019-11-08 18:47] sarahmaddox commented on #1329
Hallo @indranilr

I think you're using the Katacoda tutorials at this location:
https://www.katacoda.com/kubeflow/scenarios/deploying-kubeflow

From your screenshot, it looks like the tutorial is quite out of date. It seems to be deploying Kubeflow v0.2.5, while the latest version of Kubeflow is v0.7.

May I suggest that you follow one of the deployment guides here:
https://www.kubeflow.org/docs/s

[2019-11-08 22:05] sarahmaddox commented on #1328
@jlewi Who is the best person to look into this issue?

[2019-11-08 23:08] #1313 closed

[2019-11-08 23:51] sarahmaddox commented on #1283
@jlewi I think PR https://github.com/kubeflow/website/pull/1318 addressed this issue. Can we close this issue now or is there still work to do?

[2019-11-09 17:55] amygdala commented on #1316
I should have some time to tackle it week after next.  (Most aren't "mine" and I don't know their current status).
The github summarization/pipelines one _is_ mine, and has been updated to work with 0.7. (Note: that's the `pipelines` subdir of that example.)

[2019-11-10 02:23] sarahmaddox commented on #75
I'll take this one as part of the work I'm doing to create a diagrammatic overview of Kubeflow.

[2019-11-10 02:24] sarahmaddox commented on #573
Related issue: https://github.com/kubeflow/website/issues/75

[2019-11-10 02:25] sarahmaddox commented on #573
I'm starting this work now.

[2019-11-10 02:25] sarahmaddox commented on #532
I'm starting this work now.

[2019-11-10 02:33] sarahmaddox opened #1331 "Remove or fix link to devstats.kubeflow.org"
On this page:
https://www.kubeflow.org/docs/about/contributing/#joining-the-kubeflow-github-org

In this text:

There's a link to the following URL, which gives a privacy error due to an out of date cert:
https://devstats.kubeflow.org/d/13/developers-table?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-period=y10

If you push pass the privacy error, you get a view that doesn't

[2019-11-10 02:35] sarahmaddox commented on #1331
/cc @theadactyl

@abhi-g Do you know whether we can fix the devstats site, replace the link, or should we remove the link altogether?

I can get this fixed during the upcoming doc fixit, if we know the answer.

[2019-11-10 02:45] sarahmaddox opened #1332 "Change "good first issue" and "help wanted" links in contrib guide to include all of Kubeflow org"
On this page:
https://www.kubeflow.org/docs/about/contributing/#starter-issues

Change the link for **good first issue** to include all of Kubeflow org, not just kubeflow/kubeflow: use this link
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+org%3Akubeflow

Similarly for the **help wanted** label.

[2019-11-10 02:47] sarahmaddox commented on #1332
FYI - this answers a question that came up a few times at the contributor summit
/cc @theadactyl
/cc @abhi-g
/cc @jlewi

[2019-11-11 03:03] sarahmaddox opened #1333 "Website home page should not mention Ambassador"
The website home page mentions Ambassador, but I think Kubeflow v0.7 onwards no longer uses Ambassador:
https://www.kubeflow.org/

[2019-11-11 03:04] sarahmaddox commented on #1333
@jlewi Is it correct to say we should remove Ambassador from the home page? If yes, I can get this done during an upcoming doc fixit this week.

[2019-11-11 14:09] BeneaAlinAndrei commented on #1328
Found the solution. In order to make it work you need to install an external load balancer.

A good solution for this problem is in the other tutorial: https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

Just running the "Expose Load Balancer" step will resolve this problem. Maybe is an idea to put this step also in this tutorial.

[2019-11-11 14:09] #1328 closed

[2019-11-11 14:31] BeneaAlinAndrei opened #1337 "No healthy upstream trying to connect to the Jupyter Notebook"
Hello,

After creating an Jupyter Notebook, one with every docker image i had, without persistent volume, i receive the message `No healthy upstream`.

The kubectl command says that is running 1/2 from the pod.

Where should i look to resolve this problem?

[2019-11-11 14:35] BeneaAlinAndrei commented on #1337
Nvm i found out that is becouse of the Persistent Volume, they need the permission not to be root.

[2019-11-11 14:35] #1337 closed

[2019-11-11 16:47] theadactyl commented on #1331
Right now @jlewi has a notebook he's running stats from -- can we link to
that until we have a better public alternative? I dont think we have
resources to fix devstats in the near term.

On Sat, Nov 9, 2019 at 6:35 PM Sarah Maddox <notifications@github.com>
wrote:

[2019-11-11 17:01] abhi-g commented on #1332
Thanks for creating the issue @sarahmaddox. I agree we should update it.

[2019-11-11 20:28] zhenghuiwang commented on #1206
I'm updating the SDK right now: https://github.com/kubeflow/metadata/pull/156. More improvements to the SDK are coming.

I will update the doc once these changes are done. (probably in a week or two)

[2019-11-12 02:20] sarahmaddox opened #1338 "Include matrix of platforms and configs in deployment guide"
Our deployment guide should include  matrix of platforms and configs something like this (copied from another draft doc before deleting the section):

[code]

The table should also include a link to the docs for each platform/config. And the page should include a link to the upcoming page of support details.

[2019-11-12 03:30] jlewi commented on #1331
One option is to link to the http version
http://devstats.kubeflow.org/

We should try to get the cert fixed but its low priority.

[2019-11-12 03:43] jlewi commented on #1333
The mention I see as "We also integrate with Istio and Ambassador for ingress,"
We still use Ambassador in some cases as part of external authentication so its not entirely untrue.

It would be good to have a way of crediting all the technologies and projects we build upon without getting into the specifics.

[2019-11-12 03:45] sarahmaddox commented on #1333
Thanks Jeremy, that's good enough for now. I'll close this issue.

/close

[2019-11-12 03:45] #1333 closed

[2019-11-12 03:54] sarahmaddox commented on #1331
OK, let's link to the HTTP version. To make sure there are some meaningful figures rather than an empty page, how about linking to the developer stats (since that's what the doc page mentions):
http://devstats.kubeflow.org/d/9/developers-summary

[2019-11-12 08:04] rmgogogo commented on #996
/cc rmgogogo

[2019-11-12 13:54] jlewi commented on #1283
PR #1318 updated the instructions about workload identity; this covers how people run workloads that authenticate to GCP.
https://www.kubeflow.org/docs/gke/authentication/

The instructions mentioned in the initial comment cover sharing access to the cluster. We have some instructions here
https://www.kubeflow.org/docs/other-guides/multi-user-overview/#pre-requisite-grant-user-minimal-kubernetes-c

[2019-11-14 02:26] deeptikorwar opened #1341 "WtD fixit: Readability improvements for: Microk8s for Kubeflow"
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/

Things to fix:
"* Change in-page headings to sentence case.
* Change ""setup"" to ""set up"" when it used as a verb (for example, in headings).
* Change the heading ""Where to go next"" to ""Next steps"" (in order ot match other documents) and increase the heading level so it doesn't nest under ""Access Kubeflow"""

[2019-11-14 02:26] elenimou opened #1342 "WtD fixit: Readability improvements for End-to-End Pipeline Example on Azure"
https://www.kubeflow.org/docs/azure/azureendtoend/

* ""This guide allows you to"" is not accurate. Change to ""This guide shows you how to"" or similar.
* Under the ""Build Images"" heading, move the commandline examples to code blocks instead of inline text.

[2019-11-14 02:27] unexpectedpanda opened #1343 "WtD fixit: Readability improvements for KFServing"
https://www.kubeflow.org/docs/components/serving/kfserving/

* Change in-page headings to sentence case.
* Change passive voice to active voice.
* Change ""Serving"" to lower case in the page description: ""Model serving using KFServing"".
* Change ""serverless"" to lower case in first sentence.
* Fix capitalization ""TensorFlow"" in first sentence and anywhere else it occurs.
* Fix brand name ""s

[2019-11-14 02:28] EClaydon opened #1344 "WtD fixit: Readability improvements for Kubeflow on Linux"
https://www.kubeflow.org/docs/started/workstation/getting-started-linux/

"* Remove the TODO comment.
* Change headings to sentence case."

[2019-11-14 02:29] mbelton37 opened #1345 "WtD fixit: Readability improvements for TensorFlow Training (TFJob)"
https://www.kubeflow.org/docs/components/training/tftraining/

Add a description in the page metadata, for consistency with other pages and for clarity: "Using TFJob to train a model with TensorFlow"

[2019-11-14 02:30] dnavale opened #1346 "WtD fixit: Readability improvements for IBM Cloud Private for Kubeflow"
https://www.kubeflow.org/docs/started/cloud/getting-started-icp/

"* Change ""This guide is a quick start to deploy Kubeflow"" to ""This guide is a quick start to deploying Kubeflow"".
* Change the first 4 headings from level 3 to level 2.
* Expand abbreviation on first use: ""platform as a service (PaaS)"".
* Change ""Setup NFS Server"" to ""Set up NFS Server"".
* Change ""export one or more path

[2019-11-14 02:30] pconrad-fb opened #1347 "WtD fixit: Readability improvements for Kubeflow on MacOS"
https://www.kubeflow.org/docs/started/workstation/getting-started-macos/

* Fix caps "macOS".
* Change headings to sentence case.

[2019-11-14 02:33] VilmaZubak opened #1348 "WTD FixIt - Change headings to sentence case https://www.kubeflow.org/docs/started/workstation/getting-started-windows/"
https://www.kubeflow.org/docs/started/workstation/getting-started-windows/
change headings to sentence case

[2019-11-14 02:33] deafdave opened #1349 "WtD fixit: Readability improvements for "About KubeFlow""
https://www.kubeflow.org/docs/about/kubeflow/

The page description no longer describes the purpose of the page. Change "Quickly get running with your ML Workflow" to "An introduction to Kubeflow".

[2019-11-14 02:34] bermudezmt opened #1351 "Address review comments on PR #975"
#975 has unresolved comments that need to be addressed.

[2019-11-14 02:34] drewylui opened #1352 "WtD fixit: Readability improvements for Contributing to Kubeflow"
https://www.kubeflow.org/docs/about/contributing/

* Change "must be accompanied by a Contributor License Agreement" to "must be accompanied by a Contributor License Agreement (CLA)".
* Change to two sentences and remove the word "simply": "You (or your employer) retain the copyright to your contribution, this simply gives us permission to use and redistribute your contributions as part of the pro

[2019-11-14 02:35] nkrish1983 opened #1353 "WtD fixit: Readability improvements for Overview of Kubeflow Fairing"
https://www.kubeflow.org/docs/fairing/fairing-overview/

Make the bulleted list under "What is Kubeflow fairing" easier to read by bolding the opening clause

[2019-11-14 02:37] deafdave opened #1355 "WtD fixit: Readability improvements for a typo issue"
https://www.kubeflow.org/docs/upgrading/upgrade/
* Remove extra colon ("::") typo

[2019-11-14 02:38] pconrad-fb opened #1357 "WtD fixit: Readability improvements for Troubleshooting"
https://www.kubeflow.org/docs/other-guides/troubleshooting/

* Add colon after ""We recommend increasing the amount of resources Minikube allocates""
* Replace period with colon in ""You would want to recreate your Minikube with the appropriate resource settings.""
* Rewrite ""If you encounter a jupyter-xxxx pod in Pending status, described with:"" to be a complete sentence. Maybe: ""You might enc

[2019-11-14 02:40] shimdude opened #1360 "WtD fixit: Readability improvements for "Install Kubeflow""
https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/

* Change in-page headings to sentence case.
"

[2019-11-14 02:41] #1345 closed

[2019-11-14 02:43] EClaydon opened #1361 "WtD fixit: Readability improvements for Set Up Your Notebooks"
https://www.kubeflow.org/docs/notebooks/setup/

"* Change this: ""When Kubeflow is running, access the Kubeflow UI as described in the getting-started guide for your chosen environment. Follow accessing Kubeflow UIs guide for instructions on how to connect to Kubeflow UI.""
To this: ""When Kubeflow is running, you can access the Kubeflow user interface (UI). If the getting-started guide for your c

[2019-11-14 02:47] clarizzafern opened #1365 "WtD fixit: Readability improvements for <Overview of Jupyter Notebooks in Kubeflow>"
https://www.kubeflow.org/docs/notebooks/why-use-jupyter-notebook/

* Change all "Notebooks" to lower-case "n".
* Add a "Next steps" section, linking to the notebook setup guide: https://www.kubeflow.org/docs/notebooks/setup/ - use a relative link like this: "[PUT YOUR LINK ALIAS HERE](/docs/notebooks/setup/)"

[2019-11-14 02:48] drewylui opened #1366 "WtD fixit: Readability improvements for Community"
https://www.kubeflow.org/docs/about/community/

* Change capitalization to community lower case in page description: ""About the Kubeflow community""
* Fix broken link: ""#tf-operator""
* Remove ""etc..."" from the end of framework example list"

[2019-11-14 02:48] sxbfundi opened #1367 "WtD fixit: Readability improvements for Securing Your Clusters"
https://www.kubeflow.org/docs/gke/private-clusters/

* Expand abbreviations on first use.
* Add colons at end of all intro sentences.
* Add intro sentences where missing.
* Consider breaking up the very long numbered list.

[2019-11-14 02:49] pconrad-fb opened #1370 "WtD fixit: Readability improvements for Enable GPU and TPU"
https://www.kubeflow.org/docs/pipelines/sdk/gcp/enable-gpu-and-tpu/

* Add common abbreviation to page description: Change "Enable GPU and TPU for Kubeflow Pipelines on Google Kubernetes Engine" to "Enable GPU and TPU for Kubeflow Pipelines on Google Kubernetes Engine (GKE)"
* Change "the" to "a" in ""This page describes how to enable GPU or TPU for the pipeline on GKE".
* Change "To enable GPU an

[2019-11-14 02:49] EClaydon opened #1371 "WtD fixit: Readability improvements for Upgrading and Reinstalling"
https://www.kubeflow.org/docs/pipelines/upgrade/

"* Change the following sentence to two sentences: ""Note that upgrade isn’t currently supported for Kubeflow, check this issue for progress.""
* Change this: ""If you want latest Kubeflow Pipelines in Google Cloud Platform (GCP), we recommend deploying by Pipelines Standalone Deployment instead.""
To this: ""If you want the latest Kubeflow Pipelin

[2019-11-14 02:50] dnavale opened #1372 "WtD fixit: Readability improvements for How to write a recursive function"
https://www.kubeflow.org/docs/pipelines/sdk/dsl-recursion/#how-to-write-a-recursive-function

"* Remove ""And,"" from the sentence ""And, the decorator does not require any arguments.""
* Capitalize ""python"" in ""Define the function signature as a standard python function.""
"

[2019-11-14 02:50] bryanye97 opened #1373 "WtD fixit: Readability improvements for Manipulate Kubernetes Resources as part of pipeline"
https://www.kubeflow.org/docs/pipelines/sdk/manipulate-resources/

Change title to title case.

[2019-11-14 02:52] bermudezmt opened #1374 "Deploying Kubeflow on Existing Clusters"
https://www.kubeflow.org/docs/started/k8s/overview/

* Change title to “Overview of Deployment on Existing Clusters” so that people know this is an overview of deployment options, not one of the options.
* Change "cluster" to lower case in "The following tables list the options for installing Kubeflow on an existing Kubernetes Cluster".

[2019-11-14 02:54] nkrish1983 opened #1375 "WtD fixit: Readability improvements for Python Based Visualizations"
https://www.kubeflow.org/docs/pipelines/sdk/python-based-visualizations/

Change this: "Python based visualizations are available in Kubeflow Pipelines version 0.1.29 and will be avaliable in Kubeflow version 0.7.0." to this: "Python based visualizations are available in Kubeflow Pipelines version 0.1.29 and later, and in Kubeflow version 0.7.0 and later."

[2019-11-14 02:55] #1352 closed

[2019-11-14 02:56] bermudezmt opened #1381 "GitOps For Kubeflow Using Argo CD"
https://www.kubeflow.org/docs/use-cases/gitops-for-kubeflow/

* replace "kubernetes" with "Kubernetes" throughout
* Change heading "Going Forward" > "Going forward"

[2019-11-14 02:57] pconrad-fb opened #1382 "WtD fixit: Readability improvements for Authenticating Kubeflow to GCP"
https://www.kubeflow.org/docs/gke/authentication/

NOTE: OPPORTUNITY FOR WORKING TOGETHER: This page needs quite a bit of work. Suggestion: Have two people work together, One person forks the repo and does the first PR, then when it's merged the second person forks the repo (including the updates) and does a second PR with more changes. Below are some items to fix, but there are more on the page t

[2019-11-14 03:04] bermudezmt opened #1386 "Google Cloud for Kubeflow"
https://www.kubeflow.org/docs/started/cloud/getting-started-gke/

The video on this page is out of date:
https://www.kubeflow.org/docs/started/cloud/getting-started-gke/

It uses the following video, which installs Kubeflow 0.5:
https://www.youtube.com/watch?v=AF-WH967_s4

There've been a number of changes to the Kubeflow installation processes since v0.5, both in the deployment UI and in the CLI.

[2019-11-14 03:04] shimdude opened #1387 "WtD Fixit updates to Install Kubeflow"
https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/

Fixing heading to sentence case

[2019-11-14 03:06] nkrish1983 opened #1391 "WtD fixit: Readability improvements for Pipelines Standalone Deployment in GCP"
https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/

NOTE: OPPORTUNITY FOR WORKING TOGETHER: This page needs quite a bit of work. Suggestion: Have two people work together, One person forks the repo and does the first PR, then when it's merged the second person forks the repo (including the updates) and does a second PR with more changes. Below are some items to fix, but there are m

[2019-11-14 03:21] #1373 closed

[2019-11-14 03:21] #1343 closed

[2019-11-14 03:25] #1344 closed

[2019-11-14 03:27] #1357 closed

[2019-11-14 03:32] simmscg opened #1396 "WtD fixit: Readability improvements for KFServing"
https://www.kubeflow.org/docs/components/serving/kfserving/

* Change in-page headings to sentence case.
* Change passive voice to active voice.
* Change "Serving" to lower case in the page description: "Model serving using KFServing".
* Change "serverless" to lower case in first sentence.
* Fix capitalization "TensorFlow" in first sentence and anywhere else it occurs.
* Fix brand name "scikit-lea

[2019-11-14 03:33] #1341 closed

[2019-11-14 03:35] #1361 closed

[2019-11-14 03:39] #1365 closed

[2019-11-14 03:39] bermudezmt opened #1400 "Pipelines Standalone Deployment in GCP"
https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/

* Change "You can get kubectl from its official doc." to "Follow the [kubectl installation guide](LINK)." (With appropriate link.)
* Remove "(the kubectl apply -k option you will see below)".
* Change "You can reference Configuring cluster access for kubectl" to "See the Google Kubernetes Engine (GKE) guide to [configuring cluster

[2019-11-14 03:43] #1370 closed

[2019-11-14 03:47] sarahmaddox commented on #1355
/close

[2019-11-14 03:47] #1355 closed

[2019-11-14 03:49] #1346 closed

[2019-11-14 03:49] #1382 closed

[2019-11-14 03:49] #1349 closed

[2019-11-14 03:53] #1366 closed

[2019-11-14 03:59] #1381 closed

[2019-11-14 04:03] #1374 closed

[2019-11-14 04:07] #1386 closed

[2019-11-14 04:07] #1372 closed

[2019-11-14 05:01] #1396 closed

[2019-11-14 05:05] #1400 closed

[2019-11-14 05:07] sarahmaddox commented on #1342
/close

[2019-11-14 05:07] #1342 closed

[2019-11-14 05:07] sarahmaddox commented on #1347
/close

[2019-11-14 05:07] #1347 closed

[2019-11-14 05:08] sarahmaddox commented on #1348
/close

[2019-11-14 05:08] #1348 closed

[2019-11-14 05:09] sarahmaddox commented on #1351
/close

[2019-11-14 05:09] #1351 closed

[2019-11-14 05:09] sarahmaddox commented on #1353
/close

[2019-11-14 05:09] #1353 closed

[2019-11-14 05:11] sarahmaddox commented on #1360
/close

[2019-11-14 05:11] #1360 closed

[2019-11-14 05:12] sarahmaddox commented on #1367
Pull #1403 addresses this issue, but there are still more fixes to make - see the PR comment.

[2019-11-14 05:14] sarahmaddox commented on #1375
/close

[2019-11-14 05:14] #1375 closed

[2019-11-14 05:18] sarahmaddox commented on #1387
Duplicate of issue https://github.com/kubeflow/website/issues/1360

/close

[2019-11-14 05:18] #1387 closed

[2019-11-14 20:49] sarahmaddox commented on #1331
Thanks @drewylui!

/close

[2019-11-14 20:49] #1331 closed

[2019-11-14 20:52] sarahmaddox commented on #1331
/assign @drewylui

[2019-11-14 21:14] sarahmaddox commented on #1386
I've raised an issue in the `kubeflow/examples` repo to request the updating of the video and related sample: https://github.com/kubeflow/examples/issues/680

[2019-11-16 00:22] sarahmaddox commented on #1391
Thanks @nkrish1983!

/close

[2019-11-16 00:22] #1391 closed

[2019-11-16 00:23] #1371 closed

[2019-11-16 00:30] sarahmaddox commented on #1367
Thanks for the updates in your PR, @sxbfundi! I'll close this issue now, since we've finished the fixit. We'll tackle the remaining tidy-ups in our next fixit or random tech-writer read-through.

/close

[2019-11-16 00:30] #1367 closed

[2019-11-16 00:31] sarahmaddox commented on #1329
@indranilr I'm going to close this issue, as it doesn't relate to the Kubeflow docs themselves. Please do take a look at the suggestions in my previous comment.

/close

[2019-11-16 00:31] #1329 closed

[2019-11-16 07:00] sarahmaddox commented on #754
Here's a blog post that gets Kubeflow v0.6.2 running on Docker Desktop for Mac or Windows:
https://www.docker.com/blog/depend-on-docker-for-kubeflow/

[2019-11-17 22:22] sarahmaddox commented on #1239
Preview: https://deploy-preview-1405--competent-brattain-de2d6d.netlify.com/docs/components/serving/overview/

[2019-11-17 23:06] sarahmaddox commented on #1206
Thanks @zhenghuiwang! Let me know when the SDK reference docs are available on readthedocs.io. The next step is to add some links from the kubeflow website:
* In the [reference](https://www.kubeflow.org/docs/reference/) section, we should create a new page for Metadata, and that new page should link to the existing API reference and to the new SDK ref.
* We should add a link on the [Metadata compo

[2019-11-19 03:27] sarahmaddox commented on #1259
Hallo @dthomson25 just wondering if you have bandwidth to update the Kubeflow gitops guide to use the latest kfctl and config?
https://www.kubeflow.org/docs/use-cases/gitops-for-kubeflow/

[2019-11-21 01:42] sarahmaddox commented on #1209
Published the analytics report, November 2019:
https://docs.google.com/presentation/d/1j_Eg3b3FWIb_NhLEimAQQx1URZq1VnqkLAWHS_TXBOo/edit#slide=id.p

I'll wait for feedback, then raise issues corresponding to action items in the report.

/close

[2019-11-21 01:42] #1209 closed

[2019-11-21 01:43] sarahmaddox commented on #943
I'm closing this issue as there's been no activity on it for 4 months. If anyone would like to work on a ModelDB doc, please do re-open the issue.

/close

[2019-11-21 01:43] #943 closed

[2019-11-22 03:22] sarahmaddox commented on #260
@amygdala I'm tempted to close this issue as obsolete. WDYT? Here's the [doc](https://www.kubeflow.org/docs/gke/gcp-e2e/#access-the-web-ui-in-your-browser) and the related [sample README](https://github.com/kubeflow/examples/blob/master/mnist/README.md)

[2019-11-22 15:18] amygdala commented on #260
yes, IIRC that got addressed... let's close it.

[2019-11-22 17:53] sarahmaddox commented on #260
/close

[2019-11-22 17:53] #260 closed

[2019-11-23 01:13] jlewi commented on #1332
@deepak2431  unfortunately I think we need to revert #1406 . The link only works if you are a member of the kubeflow GitHub org

https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+org%3Akubeflow

You can try it in an incognito browser; I get a 404.

I don't know of anyway to search issues in an org without being a member of the org.

[2019-11-23 01:14] jlewi commented on #1332
@deepak2431 would you mind opening a PR to revert your change?

[2019-11-23 06:30] deepak2431 commented on #1332
@jlewi Hi, sure I will make a pull request by reverting back the changes. I have tested the link got the same error as you have mentioned above.
Thanks!

[2019-11-24 22:23] sarahmaddox commented on #1332
/assign

Thanks for the work on this, @deepak2431, and my apologies for not realizing that the suggested links work only for members of the Kubeflow org on GitHub.

I'll take this issue over. I think a good solution is to offer two versions of the "good first" issue link, for two different repos, and suggest that people look at the "good first issue" label in other repos too.

[2019-11-25 18:27] #1332 closed

[2019-11-26 04:25] sarahmaddox commented on #1109
/close

[2019-11-26 04:25] #1109 closed

[2019-11-26 04:25] sarahmaddox commented on #873
This is now done: https://www.kubeflow.org/docs/components/serving/kfserving/

/close

[2019-11-26 04:25] #873 closed

[2019-11-26 04:36] sarahmaddox opened #1412 "Expand the KFServing docs"
We have an initial guide to KFServing:
https://www.kubeflow.org/docs/components/serving/kfserving/

We plan to improve the docs iteratively.

With reference to the excellent presentation at KubeCon NA in November:
https://www.youtube.com/watch?v=saMkA4fIOH8

Here are some suggestions from a recent email discussion:

[2019-11-26 05:40] sarahmaddox commented on #1268
@lluunn Maybe you can help? We need to tell users (a) which options are supported, and (b) the format supported by the UI fields. If you have any useful info/links that you can add to this issue, then I can get started with a PR.

/assign

[2019-11-26 18:29] lluunn commented on #1268
cc @kimwnasptd

[2019-11-26 18:41] lluunn commented on #1268
For extra resource, the [value](https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/backend/kubeflow_jupyter/common/utils.py#L402) should be a json string value for container.resouces.limit: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container

For example: `{"memory": "128Mi", "cpu": "500m"}

[2019-11-26 18:46] lluunn commented on #1268
Configuration is a list of labels: https://github.com/kubeflow/kubeflow/blob/master/components/jupyter-web-app/backend/kubeflow_jupyter/common/utils.py#L365

It can be used to set [PodDefault](https://www.kubeflow.org/docs/gke/authentication/#poddefault-object). For example, to use the poddefault with:
[code]
Add configurations: `addgcpsecret`

[2019-11-26 18:47] lluunn commented on #1268
@kimwnasptd please correct me if there is anything wrong.
@sarahmaddox please let me know if you need more info

[2019-11-26 21:01] sarahmaddox commented on #1268
Thanks @lluunn! I'll work on a PR for this doc update.

[2019-11-26 21:20] sarahmaddox commented on #1261
Thanks @lluunn!

/close

[2019-11-26 21:20] #1261 closed

[2019-11-27 11:09] thundergolfer opened #1417 "Code is out of date on "Pipelines-Overview""
This page -> https://www.kubeflow.org/docs/pipelines/overview/pipelines-overview/

I was trawling the docs to find out whether Kubeflow's DSL could construct a DAG implicitly from the variables being passed around, and on the website it looked like it was, but then I looked at the code on `master` and it was using this newer `.after(...)` construct.

I think this page should be updated 🙂

[2019-11-28 02:25] sarahmaddox opened #1421 "Improve the Kubeflow getting-started experience [analytics-based]"
Action item from our [November doc analytics report](https://docs.google.com/presentation/d/1j_Eg3b3FWIb_NhLEimAQQx1URZq1VnqkLAWHS_TXBOo/edit#slide=id.g78f928ec47_1_116):  improve ratings for the [getting-started section](https://www.kubeflow.org/docs/started/) as a whole.

Recommended action: Work on a single, recommended flow for getting started quickly, focusing on a local installation for peop

[2019-11-28 02:30] sarahmaddox opened #1422 "Improve the "use cases" section [analytics-based]"
Action item from our [November doc analytics report](https://docs.google.com/presentation/d/1j_Eg3b3FWIb_NhLEimAQQx1URZq1VnqkLAWHS_TXBOo/edit#slide=id.g78f928ec47_1_141):  improve ratings for the [use cases section](https://www.kubeflow.org/docs/use-cases/) as a whole.

The “Use Cases” section has replaced “components” and “notebooks” in the top 10 most-viewed pages.

This potentially indicates th

[2019-11-28 02:36] sarahmaddox opened #1423 "Document the use of PodDefault"
Some info is coming in PR https://github.com/kubeflow/website/pull/1419

The above PR refers to a README, but we should have more comprehensive, user-focused docs.

Recommendation:

* Add a new page in the [further setup](https://www.kubeflow.org/docs/other-guides/) section of the docs.
* When ready, change the link in the notebook setup page (see above PR) to point to the new doc.
* Also link to

[2019-11-28 02:53] sarahmaddox opened #1425 "Improve the Katib (hyperparameter tuning) docs"
The Katib docs on the Kubeflow website don't do justice to the capabilities and UX provided by Katib:
https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/

The docs should be more visual, at least providing screenshots to get users oriented. Here's the current Katib starter page:
![image](https://user-images.githubusercontent.com/6138251/69773143-1757c600-11e6-11ea-988c-8

[2019-11-28 03:07] sarahmaddox opened #1426 "Pipelines: Improve the docs on passing data between pipeline components"
Kubeflow v0.7 simplified the file I/O for passing data between pipeline components.

Weave a better story in the docs, using the following information sources:
* https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components.ipynb
* https://www.kubeflow.org/docs/pipelines/sdk/component-development/#components-and-data-passing
* https://www.kubeflow.or

[2019-11-28 03:08] sarahmaddox commented on #1426
@Ark-kun and @paveldournov FYI we should do this soon. :)

[2019-11-28 03:16] sarahmaddox opened #1427 "Add RBAC details to the docs"
The [Kubeflow v0.7 blog post](https://medium.com/kubeflow/kubeflow-v0-7-delivers-beta-functionality-in-the-leadup-to-v1-0-1e63036c07b8) has details on aggregated RBAC. It would be good to include them in the docs.

Maybe on this page?
https://www.kubeflow.org/docs/other-guides/multi-user-overview/

[2019-11-28 03:20] sarahmaddox opened #1428 "Update the Fairing docs for new import in v0.7"
From the [Kubeflow v0.7 blog post](https://medium.com/kubeflow/kubeflow-v0-7-delivers-beta-functionality-in-the-leadup-to-v1-0-1e63036c07b8):

The Fairing Python SDK is now a subpackage in the kubeflow python namespace. This means it can now be imported as follows:

[code]

The fairing package still needs to be installed separately.

[2019-11-28 06:59] #1239 closed

[2019-11-28 18:52] sarahmaddox commented on #1206
/assign

The Metadata SDK ref docs are now available:
https://kubeflow-metadata.readthedocs.io/en/latest/

I'll link to them from the Kubeflow site.

[2019-11-28 20:31] sarahmaddox commented on #1221
This is fixed by PR https://github.com/kubeflow/website/pull/1240

/close

[2019-11-28 20:31] #1221 closed

[2019-11-28 20:33] sarahmaddox commented on #1421
Related issue: https://github.com/kubeflow/website/issues/1097

[2019-11-28 20:59] sarahmaddox commented on #1205
Related issue: https://github.com/kubeflow/website/issues/108

[2019-11-28 21:01] sarahmaddox commented on #1202
I'm closing this issue. Now that the decision is to maintain both the Kubeflow Pipelines DSL and the TFX DSL, we've handed over the documentation for the TFX side of things to the TFX team. We'll add info about the TFX DSL in the Kubeflow docs, and we'll give people a guide on when to use the TFX DSL and when to use the Kubeflow Pipelines DSL, but we won't provide detailed TFX tutorials in the Kub

[2019-11-28 21:01] #1202 closed

[2019-11-28 21:01] sarahmaddox commented on #1204
I'm closing this issue. Now that the decision is to maintain both the Kubeflow Pipelines DSL and the TFX DSL, we've handed over the documentation for the TFX side of things to the TFX team. We'll add info about the TFX DSL in the Kubeflow docs, and we'll give people a guide on when to use the TFX DSL and when to use the Kubeflow Pipelines DSL, but we won't provide detailed TFX tutorials in the Kub

[2019-11-28 21:01] #1204 closed

[2019-11-28 21:02] sarahmaddox commented on #1203
I'm closing this issue. Now that the decision is to maintain both the Kubeflow Pipelines DSL and the TFX DSL, we've handed over the documentation for the TFX side of things to the TFX team. We'll add info about the TFX DSL in the Kubeflow docs, and we'll give people a guide on when to use the TFX DSL and when to use the Kubeflow Pipelines DSL, but we won't provide detailed TFX tutorials in the Kub

[2019-11-28 21:02] #1203 closed

[2019-11-28 21:08] sarahmaddox opened #1429 "Pipelines: Add guide to implications and capabilities of each deployment method"
Organize the Kubeflow Pipelines docs so users can understand the various deployment options and the implications of each:
* Pipelines included in full Kubeflow deployment
* Pipelines Standalone deployment
* Cloud Marketplace

[2019-11-29 00:23] sarahmaddox commented on #1428
/assign @joeliedtke

@joeliedtke Do you have bandwidth to fix up the Fairing docs?

[2019-11-29 00:39] sarahmaddox commented on #1417
The screenshots of the pipeline graph and run are out of date too.

[2019-11-29 00:43] sarahmaddox commented on #1417
The following pages likely need an update too:
* https://www.kubeflow.org/docs/pipelines/sdk/build-component/
* https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

[2019-11-29 06:49] scottilee commented on #73
I will add the following to the `kubeflow/website section of the presubmits when https://github.com/kubernetes/test-infra/issues/14343 is resolved:
[code]

Although I'm not sure if it's okay if the image is not stored in gcr.io?

[2019-11-29 19:51] otaviocv opened #1433 "Minikube for Kubeflow: Installation instructions for brew are outdated."
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/

The documentation on the page above shows a cask to install minikube with brew but in the latest docs for minikube it shows a normal installation:

[code]

[2019-11-29 19:53] otaviocv commented on #1433
I can work in the issue if it is possible.

[2019-11-29 21:32] sarahmaddox commented on #1433
@otaviocv Thanks! Yes, it would be great if you could work on the Minikube guide.

/assign @otaviocv

[2019-12-02 00:22] sarahmaddox commented on #1247
I'll take this one.

[2019-12-02 09:06] karlschriek opened #1435 "AWS: Authentication and TLS Support"
https://www.kubeflow.org/docs/aws/authentication/

It would be very useful if there was a more comprehensive guide / some troubleshooting assistance for this. Setting up authenticated access is pretty far from trivial.

I have followed the steps above, but am unable to reach the authetication screen. This is very hard to troubleshoot, since the problem could be in any one of

   1. Cognito user po

[2019-12-02 18:12] sarahmaddox commented on #1435
@Jeffwan FYI

[2019-12-02 20:02] #1206 closed

[2019-12-02 21:21] joeliedtke commented on #1428
Sure, I'll put together a PR this week.

[2019-12-02 22:00] otaviocv opened #1437 "Kubeflow Deployment with kfctl_k8s_istio: kfctl deployment instructions use unknown flag"
Following the instructions in https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ to make a kubeflow deployment got an error for unknown shorthand flag.

In the [Set Up and Deploy Kubeflow](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#set-up-and-deploy-kubeflow) section there are the following lines:

[code]
When running the last line with kfctl v0.7.0 I got this error:
[code]

[2019-12-02 22:51] krishnadurai commented on #1437
@otaviocv I did a test on the website instructions and it seems to work fine at my end.

This error may normally happen when `${CONFIG_URI}` is not set or empty.

[2019-12-02 23:26] sarahmaddox commented on #1437
@otaviocv Could you double-check that you're using kfctl v0.7.0? The info in the error response `kfctl apply [all(=default)|k8s|platform] [flags]` indicates an older version of kfctl. If v0.7.0 is indeed giving that response, then there's a bug in kfctl.

[2019-12-03 00:32] #1433 closed

[2019-12-03 01:40] otaviocv commented on #1437
I've tried again on another computer a linux this time and it worked fine. The test above is on a macos, I will double check if this is a problem particular to a macos version.

[2019-12-03 13:10] otaviocv commented on #1437
Not sure what happened, it is working fine now.

[2019-12-03 13:10] #1437 closed

[2019-12-03 17:58] #1417 closed

[2019-12-03 21:56] Jeffwan commented on #1435
I will improve it by EOD. Sorry for the delay and we are in an aws conference and response will be slow..

[2019-12-04 03:47] sarahmaddox opened #1438 "Specify the minimum version of kustomize in more places"
We mention the minimum version of kustomize here:
https://www.kubeflow.org/docs/other-guides/kustomize/#installing-kustomize

We should include the minimum version in other places where we mention kustomize. Use the same shortcode as used in the above doc, to keep the version consistent.

[2019-12-04 04:08] #1268 closed

[2019-12-04 04:17] sarahmaddox commented on #1338
Note: Need to add a file at `layouts/shortcodes/config-file-existing-arrikto.html` containing the name and version of the latest arrikto config file. For example, in v0.7.0 the content of the file would be:
`kfctl_existing_arrikto.0.7.0.yaml`

[2019-12-04 04:26] sarahmaddox commented on #420
I'm closing this issue as obsolete. We don't use kfctl.sh any more.

/close

[2019-12-04 04:26] #420 closed

[2019-12-04 11:31] karlschriek commented on #1435
@Jeffwan , as always, thanks for the prompt response! Doesn't have to be today for my sake, I will likely only get back to this again next week at the earliest. Possibly even only in January

[2019-12-04 19:59] Ark-kun commented on #1426
@sarahmaddox
It would be great to do this.

The https://github.com/Ark-kun/kfp_samples/tree/master/2019-10%20Kubeflow%20summit/106%20-%20Creating%20components%20from%20command-line%20programs tutorial also demonstrates data passing for non-python components.

P.S. Please see the [Organize Pipelines samples and tutorials in an ordered curriculum](https://github.com/kubeflow/pipelines/issues/2490) f

[2019-12-04 20:10] Ark-kun opened #1439 "Pipelines: De-emphasize ContainerOp in documentation"
Many pages of our documentation use `ContainerOp` in examples.
`ContainerOp` usage has a number of problems, so we should probably de-emphasize it and replace with components wherever possible.

The main problem of `ContainerOp` is that it does not define a reusable component. By creating an instance of `ContainerOp`, the user creates an ad-hoc *task* object. That *task* is not a *component*. It c

[2019-12-04 20:30] sarahmaddox commented on #1426
@Ark-kun Is this issue something you can tackle? It's marked as P0 in the docs planning for this month.

[2019-12-04 22:26] #1247 closed

[2019-12-05 22:04] krishnadurai opened #1442 "Document customizing various fields in a KfDef configuration"
It would be great to have a doc entailing the structure of KfDef and the fields it supports. This may turn out to be a manual on *How to edit a KfDef?*

*Applications*
[code]

Especially a user might want to modify or configure the URIs of upstream repositories within fields.

*Repos*
[code]

[2019-12-06 00:17] IreneGi opened #1443 "need debugging help"
trying to run my workflow and getting
This step is in Pending state with this message: volume 'gcp-credentials-user-gcp-sa' not found in workflow spec
There is no documentation on how to do this

[2019-12-06 00:28] sarahmaddox commented on #1443
Hallo @IreneGi a good place to get debugging help is in the kubeflow-discuss mailing list or Slack. There are details about the community on this page in the docs: https://www.kubeflow.org/docs/about/community/

For bugs in Kubeflow itself, I'd recommend raising an issue in the kubeflow/kubeflow repo:
https://github.com/kubeflow/kubeflow

If you're asking for a specific doc, then this repo (kubefl

[2019-12-06 12:25] otaviocv opened #1444 "Visualize Results in the Pipelines UI: Outdated links for components examples"
https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

By the end of the page there are some links to components examples to show how to use the multiple methods of visualization. Some of them go to unknown pages:

* https://github.com/kubeflow/pipelines/blob/master/components/dataflow/predict/src/predict.py
* https://github.com/kubeflow/pipelines/blob/master/components/dataflow/tfma/src/mode

[2019-12-06 17:37] sarahmaddox commented on #1444
Thanks @otaviocv it would be great if you can fix these links.

/assign @otaviocv

[2019-12-06 20:58] joeliedtke commented on #1428
Currently, the Fairing docs rely on example notebooks to demonstrate how to import Fairing. The notebook example has already been updated to use this syntax.  :)

[2019-12-06 21:00] joeliedtke commented on #1428
/close

[2019-12-06 21:55] joeliedtke commented on #1428
/open

After taking another look at this, there may be some changes required to ensure that the Kubeflow notebook example works.

[2019-12-06 22:09] joeliedtke commented on #1428
/reopen

[2019-12-06 22:55] joeliedtke commented on #1428
In [Fairing issue 381](https://github.com/kubeflow/fairing/issues/381), a user reported having trouble with the Fairing Kubeflow Notebook example. This appears to be an issue with the notebook image referencing the old Fairing library.

I filed a bug for this as [Kubeflow issue 4551](https://github.com/kubeflow/kubeflow/issues/4551).

[2019-12-07 15:04] otaviocv commented on #1444
After checking the [components](https://github.com/kubeflow/pipelines/tree/master/components) folder on the pipelines repository I found that the _tfma_ component, the example about a web app, and the _dataflow predict_ are, now, pointing to a `deprecated` [folder](https://github.com/kubeflow/pipelines/tree/master/components/deprecated/dataflow/tfma).

After searching a bit on the components folde

[2019-12-07 17:44] yarongol opened #1445 "The section about "Using your own domain" is no longer accurate"
https://www.kubeflow.org/docs/gke/custom-domain/

It contains references to files which no longer exist such as cloud-endpoints.yaml, basic-auth-ingress.yaml

[2019-12-08 00:45] sarahmaddox commented on #1444
@gaoning777 Can you help with this question?

[2019-12-08 03:53] sarahmaddox commented on #832
I'm going to close this issue, as it's not relevant for the website docs. Please do re-create the issue in kubeflow/kubeflow to track work if need be.

/close

[2019-12-08 03:53] #832 closed

[2019-12-08 03:59] sarahmaddox commented on #802
@joeliedtke Should we close this issue as obsolete?

[2019-12-08 04:03] sarahmaddox commented on #750
Attention: For discussion with @katieole for upcoming doc sprint.

[2019-12-08 04:05] sarahmaddox commented on #760
I'm going to mark this issue as obsolete. Please do re-open it if you'd like to work on it.

/close

[2019-12-08 04:05] #760 closed

[2019-12-08 04:09] sarahmaddox commented on #737
I'm going to close this issue, as we've branched off a couple of specific TF models into separate issues, and this one is to broad to track work.

/close

[2019-12-08 04:09] #737 closed

[2019-12-09 05:15] sarahmaddox commented on #878
I'm going to close this issue as obsolete, and because the request is related to the contributor-focused docs (housed in repo README-type docs) rather than to Kubeflow users (housed on the website). Please do open an issue in the kubeflow/kubeflow repo if you'd like to work on this task.

/close

[2019-12-09 05:15] #878 closed

[2019-12-09 05:16] sarahmaddox commented on #1253
/assign

[2019-12-09 05:19] sarahmaddox opened #1448 "Move GCP-specific uses of the Pipelines SDK to the GCP section of the docs"
https://www.kubeflow.org/docs/pipelines/sdk/gcp/

[2019-12-09 05:19] sarahmaddox commented on #1448
/assign

[2019-12-09 05:21] sarahmaddox opened #1449 "Pipelines: Move GCP-specific upgrade steps to GCP section of the docs"
https://www.kubeflow.org/docs/pipelines/upgrade/

[2019-12-09 14:14] jlewi opened #1450 "Landscape diagram of Kubeflow applications"
I think a landscape diagram like  https://landscape.lfai.foundation/
might be a great way to start organizing and presenting the applications in Kubeflow.

Can we reuse the code used to generate image to generate our own landscape:
https://github.com/lfai/lfai-landscape

[2019-12-09 14:21] jlewi opened #1451 "Improved Architecture diagram that illustrates networking and multi-user"
I think we could use a better architecture diagram of Kubeflow.

I think we want something that combines the architecture diagram on the installing on existing installation page with
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

with what we have in this slide
https://docs.google.com/presentation/d/1WsrWhLpPzHQ_EkYxVXtIbWbCYbJ6CyyEhf__hlSClus/edit#slide=id.g64cc145417_7_375

I

[2019-12-09 20:32] jlewi commented on #1449
@sarahmaddox could you triage this issue please?
https://github.com/kubeflow/community/blob/master/proposals/issue_triage.md

[2019-12-10 00:32] sarahmaddox commented on #1253
From a discussion today: The standalone deployment guide currently describes a GCP-specific deployment. But only one part of the guide is GCP-specific (the inverting proxy) and the rest can be generic to allow deployment on another clouds e.g. AWS.

We should update the page so that it describes the generic deployment of Pipelines Standalone, with a GCP-specific section and guidelines for how othe

[2019-12-10 00:40] sarahmaddox opened #1453 "Pipelines: Need separate API reference for Pipelines standalone"
We currently have one API reference for Pipelines:
https://www.kubeflow.org/docs/pipelines/reference/
It reflects the Pipelines API that is integrated in the current version of Kubeflow.

However, the [Pipelines Standalone deployment](https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/) may offer a different (later) version of Pipelines.

We should have two references, one for the P

[2019-12-10 00:40] sarahmaddox commented on #1453
/assign @jingzhang36

@jingzhang36 Assigning this to you with thanks.

[2019-12-10 03:28] sarahmaddox commented on #1421
General guidance from the UX research team - what users want from the docs in general:
from the UX team: customer feedback of what they want from us:
* View from space.
* Give an opinion of the best path.
* Dive into the details of all options.

[2019-12-10 12:59] jlewi commented on #930
We should get this fixed for 1.0; so bumping the priority and adding to the 1.0 kanban board.

Does anyone want to do a pass over the docs and provide an updated status about what remaining pages need to be updated?

[2019-12-11 08:40] joncwong opened #1456 "Slack invite link expired"
The invite link for the Slack is no longer active. I would love to join it and contribute.

[2019-12-11 10:40] cspavlou commented on #1456
You can use this link: https://kubeflow.slack.com/join/shared_invite/enQtNDg5MTM4NTQyNjczLTdkNTVhMjg1ZTExOWI0N2QyYTQ2MTIzNTJjMWRiOTFjOGRlZWEzODc1NzMwNTMwM2EzNjY1MTFhODczNjk4MTk

We should update the website. The Slack invite link [here](https://www.kubeflow.org/docs/about/community/) is correct, but we haven't replaced the other one on the homepage.

[2019-12-11 10:56] cspavlou commented on #1456
I see that the Slack invite link was present in 2 pages:

- https://www.kubeflow.org/docs/about/community/
- https://www.kubeflow.org/

On the homepage, there were two occurrences of the out-of-date invite link, I will send a PR to fix this

[2019-12-11 11:05] cspavlou commented on #1456
I created a PR to fix this: https://github.com/kubeflow/website/pull/1457

[2019-12-11 11:41] vpavlin commented on #33
Hi, we have started working on creating `KFDef` file to deploy Kubeflow on OpenShift so that users do not have to run gazillion of commands and can easily follow the KF docs.

I am happy to join and contribute it as part of the Doc Sprint:)

[2019-12-11 17:23] sarahmaddox commented on #33
Thanks @vpavlin that's excellent news! I'm looking forward to working with you at the doc sprint in February.

/assign @vpavlin

[2019-12-11 17:23] sarahmaddox commented on #33
/unassign @pdmack

[2019-12-11 17:30] sarahmaddox commented on #1456
Thanks @cspavlou
/assign @cspavlou

[2019-12-11 20:57] sarahmaddox opened #1459 "Clarify the model serving overview"
The model serving overview could do with some clarification:
https://www.kubeflow.org/docs/components/serving/overview/

See the unaddressed review comments in this PR: https://github.com/kubeflow/website/pull/1405

[2019-12-11 20:57] sarahmaddox commented on #1459
/assign

I'll address this during fixit week.

[2019-12-11 21:01] sarahmaddox commented on #1456
/close

[2019-12-11 21:01] #1456 closed

[2019-12-13 04:10] #75 closed

[2019-12-13 04:10] #532 closed

[2019-12-13 04:10] #573 closed

[2019-12-13 23:14] amygdala opened #1464 "KFServing install -- more context on where to find the yaml file"
I think that this section:
https://www.kubeflow.org/docs/components/serving/kfserving/#kfserving-installation-using-kubectl
... could use a bit more context on where that yaml file is... and possibly should point to the GH url (along the lines of https://raw.githubusercontent.com/kubeflow/kfserving/master/install/0.2.1/kfserving.yaml)
rather than requiring them to clone the repo.

[2019-12-16 07:48] vimalkansal opened #1465 "Documentation needed for installing KubeFlow on Openshift 4.x on AWS"
Hi,

We need detailed documentation on deploying KubeFlow to an already provisioned Openshift cluster on AWS. I provisioned Openshift 4.2 cluster using IPI (Installer Provisioned Infrastructure) mechanism and followed the instructions to deploy KubeFlow on an already existing Kubernetes cluster - but failed. I did it multiple times and it failed. Openshift is one of the most popular distribution o

[2019-12-16 07:49] #1465 closed

[2019-12-17 00:22] sarahmaddox commented on #1426
From Pipelines team meeting today: @Ark-kun will own this. He has a notebook under development. He'll add a new doc specifically about passing data which introduces the concepts and summarises the steps, and then points to the notebook. He'll also merge content from existing pages and replace that content with a link to the new page.

/assign @Ark-kun

[2019-12-17 00:29] sarahmaddox commented on #1205
Timing: Q1 2020 to align with the new DSL Beta

/assign @joeliedtke

[2019-12-17 01:48] sarahmaddox commented on #1338
Starting work on this now.

[2019-12-17 01:49] #1459 closed

[2019-12-17 02:56] sarahmaddox commented on #1429
/assign

Starting work on this now.

[2019-12-19 00:43] sarahmaddox commented on #1422
Starting work on this now.

[2019-12-19 02:04] sarahmaddox commented on #1422
As described in the issue comment, the first step is to move the existing guides out of the **use cases** section into a more appropriate section, so that we don't disappoint readers by presenting content that they're not expecting.

As a second step, our upcoming [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Focus-areas-and-goals) will focus on use cases. In the runup to the spri

[2019-12-19 02:09] sarahmaddox commented on #1425
/assign

Starting work on this now.

[2019-12-19 02:11] #1422 closed

[2019-12-19 15:46] dlahlou opened #1474 "Authenticating Kubeflow to GCP"
https://www.kubeflow.org/docs/gke/authentication/
In step number 4 : Manually create a profile for user1 and specify the GCP service account to bind in plugins field
How can I do this? I tried the following command :

[code]

But I get the following error
`Error from server (Forbidden): error when creating "STDIN": profiles.kubeflow.org is forbidden: User "system:serviceaccount:kubeflow-phaidara:d

[2019-12-19 17:38] sarahmaddox commented on #1474
@kunmingg Can you help with this question?

[2019-12-19 17:48] kunmingg commented on #1474
Only cluster admin can create profile.
Can you verify you login account permission?

[2019-12-20 04:31] #1338 closed

[2019-12-20 09:41] chpmoreno commented on #1128
I am interested in working on Spanish documentation for Kubeflow. I have never contributed to this kind of projects but I would be happy to start with. Let me know how I can contribute and if you have some guidelines about the documentation.

[2019-12-20 16:38] dlahlou commented on #1474
This solves the problem

[2019-12-20 16:39] #1474 closed

[2019-12-20 16:55] dlahlou opened #1476 "Authenticating Kubeflow to GCP"
https://www.kubeflow.org/docs/gke/authentication/

In [starting-in-kubeflow-v0-7-google-kubernetes-engine-gke-workload-identity](https://www.kubeflow.org/docs/gke/authentication/#starting-in-kubeflow-v0-7-google-kubernetes-engine-gke-workload-identity), step 4 : **Manually create a profile for user1 and specify the GCP service account to bind in plugins field**, I believe the yaml text is not well

[2019-12-20 17:58] sarahmaddox commented on #1128
Thanks @chpmoreno that's good to know. We haven't yet started designing the website to handle multiple languages. We'll let you know when we do. Our current priority is the launch of Kubeflow v1.0, scheduled for early 2020. We'll start looking at designing for translated docs some time after that.

[2019-12-20 18:50] sarahmaddox commented on #1253
Note: PR https://github.com/kubeflow/website/pull/1472 moves the doc to a new location (without changing the content). The new location is at https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/

[2019-12-20 21:45] #1033 closed

[2019-12-20 21:49] joeliedtke opened #1477 "Tech writer review needed for Fairing Azure guide"
The contributor was not available to work on feedback to [PR #1144](https://github.com/kubeflow/website/pull/1144). The files merged in this PR need tech writer review and updates to use the Kubeflow website structure.

[2019-12-20 21:49] joeliedtke commented on #1477
/assign @joeliedtke

[2019-12-21 01:09] #1429 closed

[2019-12-23 03:24] sarahmaddox opened #1481 "Hyperparameter tuning: Add the Katib API reference to the website docs"
We have a generated API reference for Katib in the GitHub repo:
https://github.com/kubeflow/katib/blob/master/pkg/apis/manager/v1alpha3/gen-doc/api.md

We should move it to the website, in this section:
https://www.kubeflow.org/docs/reference/

As an example, see the [Metadata reference](https://www.kubeflow.org/docs/reference/metadata/) already in the above section.

[2019-12-23 03:28] sarahmaddox commented on #321
Things have moved on since we created this issue. I'm currently tackling a major update of the Katib docs in issue https://github.com/kubeflow/website/issues/1425. I'll close this issue now, and track the updates in # 1425.

/close

[2019-12-23 03:28] #321 closed

[2019-12-23 04:30] sarahmaddox opened #1482 "Remove extra lines from version-number files"
Some of our version-number shortcodes have acquired extra, empty lines at the end of the file. This causes formatting problems like this:
* https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#prepare-your-environment
* https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#prepare-your-environment

[2019-12-23 04:30] sarahmaddox commented on #1482
/assign

[2019-12-23 17:03] adriangay opened #1486 "Installing and running Kubeflow on OSX could be explained better"
Assume a lot of base knowledge. Was looking for a step-by-step install of Kubeflow on OSX which has minikube already installed.

[2019-12-23 17:57] #1482 closed

[2019-12-27 15:39] saksham93 commented on #1476
I wish to work on this issue.

/assign

[2019-12-29 02:58] sarahmaddox commented on #1476
Thanks @saksham93
/close

[2019-12-29 02:58] #1476 closed

[2019-12-30 16:24] jlewi opened #1493 "FAQ Kubeflow without ISTIO"
A common question is whether Kubeflow can be used without ISTIO.

A good response is illustrated here.
https://github.com/kubeflow/kubeflow/issues/4586#issuecomment-568762546

We should consider creating an FAQ and adding this to it.

[2019-12-31 03:35] sarahmaddox commented on #841
There are no longer any upgrade instructions at https://github.com/kubeflow/pipelines/tree/master/manifests or https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize

The upgrade guide on the website is up to date: https://www.kubeflow.org/docs/pipelines/upgrade/

I'm closing this issue, but please do re-open it if there's still work to do.
/close

[2019-12-31 03:35] #841 closed

[2019-12-31 03:36] sarahmaddox commented on #1235
This is now done:
https://www.kubeflow.org/docs/pipelines/installation/overview/

/close

[2019-12-31 03:36] #1235 closed

[2020-01-01 00:17] sarahmaddox commented on #1449
/assign

[2020-01-01 22:30] sarahmaddox commented on #1066
@krishnadurai What's the status of this issue?

[2020-01-01 22:31] sarahmaddox commented on #1280
@krishnadurai What's the status of this issue?

[2020-01-01 22:33] sarahmaddox commented on #1123
@kunmingg What's the status of this issue?

[2020-01-01 22:34] sarahmaddox commented on #1124
/assign @kunmingg

@kunmingg What's the status of this issue?

[2020-01-01 23:14] sarahmaddox commented on #1443
There's been no activity on this issue for a while, so I'm going to close it as "answered". Please do re-open the issue if there's any doc work to be done.

/close

[2020-01-01 23:14] #1443 closed

[2020-01-01 23:18] sarahmaddox commented on #1442
This would be good as an follow up of the existing doc on [kfctl and kustomize](https://www.kubeflow.org/docs/other-guides/kustomize/)

[2020-01-01 23:26] sarahmaddox commented on #1323
Fixed by https://github.com/kubeflow/website/pull/1409

/close

[2020-01-01 23:26] #1323 closed

[2020-01-01 23:28] sarahmaddox commented on #1317
/assign @amygdala

@amygdala How's it going with the codelab update - is it safe to link to it from the docs yet?

[2020-01-01 23:50] sarahmaddox commented on #948
I'm closing this issue, as there's been no activity for a while, it's not clear which doc caused the issue, and most of the docs have moved away from ksonnet.

/close

[2020-01-01 23:50] #948 closed

[2020-01-01 23:55] sarahmaddox commented on #1201
@Jeffwan Can we close this issue?

[2020-01-01 23:55] sarahmaddox commented on #1216
@Jeffwan Can we close this issue?

[2020-01-02 00:01] sarahmaddox commented on #1181
This is the page: https://www.kubeflow.org/docs/gke/troubleshooting-gke/#changing-the-oauth-client-used-by-iap

[2020-01-02 00:05] sarahmaddox commented on #1445
Thanks for reporting this problem @yarongol. There's an existing issue that describes the problem: https://github.com/kubeflow/website/issues/1166

I'll close this issue, and we'll track the updates on the existing issue.

/close

[2020-01-02 00:05] #1445 closed

[2020-01-02 00:10] sarahmaddox commented on #1113
See further info in the following two issues:
* https://github.com/kubeflow/website/issues/1163
* https://github.com/kubeflow/website/issues/1187

I'll close those issues and we'll track the work on this issue, since it's the first one raised.

[2020-01-02 00:11] sarahmaddox commented on #1187
Let's track the work on the first-raised issue:
https://github.com/kubeflow/website/issues/1113

/close

[2020-01-02 00:11] #1187 closed

[2020-01-02 00:12] sarahmaddox commented on #1163
Let's track the work on the first-raised issue:
https://github.com/kubeflow/website/issues/1113

/close

[2020-01-02 00:12] #1163 closed

[2020-01-02 00:16] sarahmaddox commented on #1097
Here's the issue requesting an update to the Microk8s docs: https://github.com/kubeflow/website/issues/1113

[2020-01-02 00:26] sarahmaddox commented on #931
I'm going to close this issue, as it's been a while since there was any activity on the issue and we've significantly updated the installation process since the issue was reported.

/close

[2020-01-02 00:26] #931 closed

[2020-01-02 00:40] sarahmaddox commented on #930
The following docs still need updating from ksonnet to kustomize:
* https://www.kubeflow.org/docs/components/training/chainer/
* https://www.kubeflow.org/docs/components/training/mxnet/
* https://www.kubeflow.org/docs/components/serving/istio/
* https://www.kubeflow.org/docs/components/serving/trtinferenceserver/
* https://www.kubeflow.org/docs/components/serving/pytorchserving/
* https://www.kube

[2020-01-02 00:53] sarahmaddox commented on #1421
Some related ideas here: https://github.com/kubeflow/website/issues/889

[2020-01-02 01:58] sarahmaddox commented on #880
This is done:
https://www.kubeflow.org/docs/azure/azureendtoend/

/done

[2020-01-02 02:01] sarahmaddox commented on #1421
More related ideas here: https://github.com/kubeflow/website/issues/877

[2020-01-02 02:09] sarahmaddox commented on #853
Thanks @SaschaHeyer!
/close

[2020-01-02 02:09] #853 closed

[2020-01-02 02:23] SaschaHeyer commented on #853
You're welcome 🙂

[2020-01-02 02:30] sarahmaddox commented on #826
We now have many serving examples described in or linked from these pages:
* https://www.kubeflow.org/docs/components/serving/seldon/
* https://www.kubeflow.org/docs/components/serving/kfserving/
* https://www.kubeflow.org/docs/components/serving/tfserving_new/

/close

[2020-01-02 02:30] #826 closed

[2020-01-02 02:39] sarahmaddox commented on #749
It looks like PR https://github.com/sighupio/fury-images/pull/27 fixed the problem. Also, the Kubeflow installation docs have been substantially rewritten and no longer recommend kind. I'm closing this issue, but please do re-open it if more doc work is required.

/close

[2020-01-02 02:39] #749 closed

[2020-01-02 02:43] sarahmaddox commented on #745
I'm closing this issue, as it's been a while since there was any activity, and the AWS installation docs have changed considerably since Kubeflow v0.5. Please do re-open the issue if there's still doc work to do.

/close

[2020-01-02 02:43] #745 closed

[2020-01-02 03:21] sarahmaddox commented on #576
This is done:
https://www.kubeflow.org/docs/pipelines/reference/sdk/

/close

[2020-01-02 03:21] #576 closed

[2020-01-02 03:22] sarahmaddox commented on #560
I'm closing this issue as there's been no activity on it for 9 months. If anyone would like to work on a ModelDB doc, please do re-open the issue.

/close

[2020-01-02 03:22] #560 closed

[2020-01-02 03:29] sarahmaddox commented on #454
We should add a link from this section of the website, where we mention the code of conduct:
https://www.kubeflow.org/docs/about/contributing/#follow-the-code-of-conduct

[2020-01-02 03:32] sarahmaddox commented on #370
We now have a Kubeflow overview, linked from the "About Kubeflow" doc:
https://www.kubeflow.org/docs/started/kubeflow-overview/

/close

[2020-01-02 03:32] #370 closed

[2020-01-02 03:33] sarahmaddox commented on #327
We've had a couple of PRs suggesting the containerized workflow for doc updates, but we've decided the current workflow is simpler.

/close

[2020-01-02 03:33] #327 closed

[2020-01-02 03:35] sarahmaddox commented on #230
We now have docs for multinode cluster installation:
https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/

/close

[2020-01-02 03:35] #230 closed

[2020-01-02 03:42] sarahmaddox commented on #178
We now have a guide to TPUs here:
https://www.kubeflow.org/docs/gke/customizing-gke/#add-cloud-tpus-to-your-cluster

/close

[2020-01-02 03:42] #178 closed

[2020-01-02 03:44] sarahmaddox commented on #115
@lluunn Do we still need this doc?

/assign @lluunn

[2020-01-02 03:45] sarahmaddox commented on #139
/assign @richardsliu

@richardsliu Do you have an answer to this question, and is it something we should document?

[2020-01-02 03:51] sarahmaddox commented on #240
We now have this doc on the website: https://www.kubeflow.org/docs/components/serving/tfserving_new/#sending-prediction-request-through-ingress-and-iap

TODO:
* Compare the info and see if anything needs to be added to the website.
* Remove the content from the repo and link to the website doc instead.

[2020-01-02 03:56] sarahmaddox commented on #24
We now have samples linked from the Seldon guide:
https://www.kubeflow.org/docs/components/serving/seldon/

We also have KFServing examples here:
https://www.kubeflow.org/docs/components/serving/kfserving/

I'm going to close this issue, but pease do re-open it if there's more work to be done.

/close

[2020-01-02 03:56] #24 closed

[2020-01-02 03:59] sarahmaddox commented on #23
We now have this doc:
https://www.kubeflow.org/docs/components/serving/tfserving_new/

And a few examples of different ways to serve a TF model

I'm going to close this issue, but please do re-open it if there's more work to be done or a specific example that would be useful.

/close

[2020-01-02 03:59] #23 closed

[2020-01-02 04:01] sarahmaddox commented on #22
We now have a detailed guide, which links to an end-to-end example:
https://www.kubeflow.org/docs/components/training/tftraining/

I'm going to close this issue, but please do re-open it if there's more work to be done or a specific example that would be useful.

/close

[2020-01-02 04:01] #22 closed

[2020-01-02 14:16] erkolson commented on #178
Thanks!

[2020-01-02 18:47] richardsliu commented on #139
@wukong1992 Which version of Katib are you using? In v1alpha2 and later, this is controlled by this parameter: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1alpha3/experiment_types.go#L39

[2020-01-02 23:05] krishnadurai commented on #1066
@sarahmaddox I had been waiting for the fix kubeflow/kubeflow#4517 to go in. Since now its in, I need to make some minor modifications to our manifests to support OIDC plugin for kubernetes.

I'll be able to move and publish these documents thereafter. Expect this to be done within 1.0.

[2020-01-02 23:05] krishnadurai commented on #1280
Refer comment: https://github.com/kubeflow/website/issues/1066#issuecomment-570390498

@sarahmaddox I had been waiting for the fix kubeflow/kubeflow#4517 to go in. Since now its in, I need to make some minor modifications to our manifests to support OIDC plugin for kubernetes.

I'll be able to move and publish these documents thereafter. Expect this to be done within 1.0.

[2020-01-02 23:42] sarahmaddox commented on #1280
Thanks @krishnadurai

[2020-01-02 23:43] sarahmaddox commented on #1066
Thanks @krishnadurai

[2020-01-03 00:01] janeman98 commented on #1464
/assign @janeman98

[2020-01-03 00:22] sarahmaddox commented on #139
Thanks @richardsliu! I've documented the `parallelTrialCount ` field in the latest Katib doc update - see PR https://github.com/kubeflow/website/pull/1480, which is currently under review. The doc preview is here: https://deploy-preview-1480--competent-brattain-de2d6d.netlify.com/docs/components/hyperparameter-tuning/experiment/#configuration-spec

@wukong1992 The doc update will appear when the a

[2020-01-03 00:23] #139 closed

[2020-01-03 00:55] Jeffwan commented on #1216
@sarahmaddox We have groups of people testing instruction in the workshop and it's working fine. We can close this issue.

[2020-01-03 00:55] Jeffwan commented on #1216
/close

[2020-01-03 00:55] #1216 closed

[2020-01-03 00:56] Jeffwan commented on #1201
@sarahmaddox Code has been merged already and we can close this issue.

/close

[2020-01-03 00:56] #1201 closed

[2020-01-03 18:21] #1449 closed

[2020-01-03 18:27] sarahmaddox commented on #1477
/close

[2020-01-03 18:27] #1477 closed

[2020-01-04 20:46] chpmoreno commented on #1128
Perfect. Let me know when I can help.

[2020-01-05 19:45] jtfogarty commented on #1486
/area docs
/priority p2

[2020-01-05 19:48] jtfogarty commented on #1435
/priority p2

[2020-01-05 19:51] jtfogarty commented on #1426
/area docs
/priority p2

[2020-01-05 19:52] jtfogarty commented on #1423
/area docs
/priority p2

[2020-01-05 19:53] jtfogarty commented on #1211
/area docs
/priority p2

[2020-01-05 19:54] jtfogarty commented on #1208
/area docs
/priority p2

[2020-01-05 19:55] jtfogarty commented on #1200
/area docs
/priority p2

[2020-01-05 19:58] jtfogarty commented on #240
/area docs
/priority p2

[2020-01-05 20:03] jtfogarty commented on #889
/area docs
/priority p2

[2020-01-05 20:03] jtfogarty commented on #1421
/area docs
/priority p2

[2020-01-05 20:03] jtfogarty commented on #877
/area docs
/priority p2

[2020-01-05 20:05] jtfogarty commented on #1207
/area docs
/priority p2

[2020-01-05 20:07] jtfogarty commented on #1205
/area docs
/priority p2

[2020-01-05 20:08] jtfogarty commented on #1166
/area docs
/priority p2

[2020-01-05 20:09] jtfogarty commented on #1131
/area docs
/priority p2

[2020-01-05 20:10] jtfogarty commented on #1130
/area docs
/priority p2

[2020-01-05 20:12] jtfogarty commented on #1129
/area docs
/priority p2

[2020-01-05 20:14] jtfogarty commented on #1128
/area docs
/priority p2

[2020-01-05 20:16] jtfogarty commented on #1127
/area docs
/priority p2

[2020-01-05 20:21] jtfogarty commented on #1126
/area docs
/priority p2

[2020-01-05 20:42] jtfogarty commented on #1081
/area docs
/priority p2

[2020-01-05 20:43] jtfogarty commented on #1124
/area docs
/priority p2

[2020-01-05 20:44] jtfogarty commented on #1123
/area docs
/priority p2

[2020-01-05 21:56] jtfogarty commented on #1113
/area docs
/priority p2

[2020-01-05 21:58] jtfogarty commented on #1048
/area docs
/priority p2

[2020-01-05 21:59] jtfogarty commented on #1019
/area docs
/priority p2

[2020-01-05 22:01] jtfogarty commented on #997
/area docs
/priority p2

[2020-01-05 22:02] jtfogarty commented on #996
/area docs
/priority p2

[2020-01-05 22:04] jtfogarty commented on #974
/area docs
/priority p2
/doc-sprint

[2020-01-05 22:12] jtfogarty commented on #964
/area docs
/priority p2

[2020-01-05 22:25] jtfogarty commented on #959
/area docs

[2020-01-05 22:32] jtfogarty commented on #894
/area docs
/priority p2

[2020-01-05 23:00] jtfogarty commented on #886
/area docs
/priority p2

[2020-01-06 02:03] #1464 closed

[2020-01-06 02:33] jtfogarty commented on #859
/area docs
/priority p2

[2020-01-06 02:34] jtfogarty commented on #856
/area docs
/priority p2

[2020-01-06 02:36] jtfogarty commented on #851
/area docs
/priority p2

[2020-01-06 02:39] jtfogarty commented on #836
/area docs
/priority p2

[2020-01-06 02:41] jtfogarty commented on #824
/area docs
/priority p2

[2020-01-06 08:13] #1425 closed

[2020-01-06 17:33] jtfogarty commented on #240
/kind feature

[2020-01-06 17:36] jtfogarty commented on #824
/kind feature

[2020-01-06 19:05] jtfogarty commented on #1097
/kind bug

[2020-01-06 19:08] jtfogarty commented on #1094
/kind feature

[2020-01-06 19:19] jtfogarty commented on #18
/kind feature

[2020-01-06 19:29] jtfogarty commented on #454
/kind feature

[2020-01-06 19:33] jtfogarty commented on #1317
/area docs
/priority p2

[2020-01-06 19:37] jtfogarty commented on #880
/area docs

[2020-01-06 20:07] jtfogarty commented on #822
/area docs
/priority p2

[2020-01-06 20:08] jtfogarty commented on #802
/area docs
/priority p2

[2020-01-06 20:09] jtfogarty commented on #876
/area docs
/priority p2

[2020-01-06 20:10] jtfogarty commented on #866
/priority p2

[2020-01-06 20:11] jtfogarty commented on #819
/area docs
/priority p2

[2020-01-06 20:12] jtfogarty commented on #754
/area docs
/priority p2
/kind feature

[2020-01-06 20:13] jtfogarty commented on #746
/area docs
/priority p2

[2020-01-06 20:14] jtfogarty commented on #734
/area docs
/priority p2

[2020-01-06 20:15] jtfogarty commented on #623
/area docs
/priority p2

[2020-01-06 20:25] sarahmaddox commented on #880
Ooops, I meant
/close

[2020-01-06 20:25] #880 closed

[2020-01-06 20:29] jtfogarty commented on #33
/area docs
/priority p2
/kind feature

[2020-01-06 20:44] jtfogarty commented on #208
/kind feature

[2020-01-06 21:23] jtfogarty commented on #994
/priority p2

[2020-01-06 21:23] jlewi commented on #1124
Bump to P0 because we need this for 1.0.

@kunmingg could you provide an update on what docs are still missing? It looks like we have docs here
https://www.kubeflow.org/docs/other-guides/multi-user-overview/

[2020-01-06 21:24] jtfogarty commented on #450
/area doc
/kind feature

[2020-01-06 21:29] jtfogarty commented on #318
/area docs
/kind feature
/priority p2

[2020-01-06 21:31] jtfogarty commented on #210
/kind feature
/priority p2

[2020-01-06 22:23] jlewi commented on #1107
@avdaredevil could you please provide an update? What docs if any are missing for the central dashboard?

[2020-01-06 22:26] #1448 closed

[2020-01-06 23:16] jlewi opened #1500 "Delete the TFServing ISTIO doc page"
Ref: #930

I think we can just delete the page

https://www.kubeflow.org/docs/components/serving/istio/

This page has multiple subsections which I think should be revised; I might suggest the following

* [Routing with ISTIO vs. Ambassador](https://www.kubeflow.org/docs/components/serving/istio/#routing-with-istio-vs-ambassador)
   * I think we can just delete this subsection since we no longer u

[2020-01-06 23:19] jlewi commented on #1259
I would suggest just deleting this page. Our gitops story is incomplete so my suggestion would be to just delete this page until we have a more complete story for gitops and as part of that add documentation.

[2020-01-06 23:21] jlewi commented on #959
Bump to P0 we should get the doc updated for KF 1.0.

[2020-01-06 23:26] jlewi opened #1501 "Update the PyTorch Serving docs for 1.0"
This page is outdated
https://www.kubeflow.org/docs/components/serving/pytorchserving/

At a minimum we should remove the reference to ksonnet before 1.0.

For KF 1.0, should we continue to use Seldon to serve PyTorch models or can we switch to KFServing?

/cc @animeshsingh @ellis-bigelow @cliveseldon

[2020-01-06 23:30] jlewi opened #1502 "Delete the TensorFlow batch predict page"
This page is very outdated
https://www.kubeflow.org/docs/components/serving/tfbatchpredict/

e.g. it is referencing ksonnet.

batch prediction is not in scope for Kubeflow 1.0 and its not clear exactly what our batch prediction story is.

The batch predict code hasn't been updated in over a year and its not clear what the path forward is.
https://github.com/kubeflow/batch-predict

@sarahmaddox any

[2020-01-06 23:36] jlewi opened #1503 "Update or delete the chainer doc page"
The chainer page is outdated
https://www.kubeflow.org/docs/components/training/chainer/

It is still referencing ksonnet

I think we need to get this page updated for Kubeflow 1.0

Here are a couple options

1. Delete the page since chainer is not in scope for 1.0
1. Update the docs to be accurate
1. Include a banner at the top of the page explaining that chainer is not in scope for 1.0 and that t

[2020-01-06 23:41] jlewi opened #1504 "Update the mxnet doc to use kustomize"
Ref: #930

This page
https://www.kubeflow.org/docs/components/training/mxnet/

Is still referring to ksonnet which is no longer used. There is a kutomize manifest here
https://github.com/kubeflow/manifests/tree/master/mxnet-job/mxnet-operator

So it should be pretty straightforward to update the docs to use kustomize instead of ksonnet to deploy.

/cc @Jeffwan

[2020-01-06 23:42] jlewi commented on #930
Thanks @sarahmaddox ; all of the pages you mentioned above now have their own issue. So I'm going to close this issue and we can use the individual issues to track.

[2020-01-06 23:42] #930 closed

[2020-01-06 23:47] sarahmaddox commented on #1502
My 2c is that, since the batch-predict repo exists as a component of Kubeflow, we should have a page describing it in the docs. But we should put a warning on the page (similar to the ones we've put for Alpha features) saying that this component is still in incubation and has minimal support.

See an example of an Alpha notice here:
https://www.kubeflow.org/docs/components/misc/metadata/

[2020-01-06 23:48] sarahmaddox commented on #930
Thanks @jlewi!

[2020-01-07 01:30] joeliedtke opened #1505 "Fix Markdown in Python Based Visualizations"
Currently, the lists and code blocks in the **Using custom visualizations** and **Known limitations** sections are rendering incorrectly. Need to update the Markdown to ensure that the lists and code blocks render as intended.

[2020-01-07 01:31] joeliedtke commented on #1505
Affected sections of the page:

https://www.kubeflow.org/docs/pipelines/sdk/python-based-visualizations/#using-custom-visualizations
https://www.kubeflow.org/docs/pipelines/sdk/python-based-visualizations/#known-limitations

[2020-01-07 01:41] sarahmaddox commented on #1481
@janeman98 has offered to work on this issue.

/assign @janeman98

[2020-01-07 12:30] avizmil opened #1507 "Unable to run example code in "Experiment with your notebook" section"
I followed all steps but when I run the example code I get:
`ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-f591bfcf84f5> in <module>
----> 1 from tensorflow.examples.tutorials.mnist import input_data
      2 mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)
      3
      4 import tensorflow as tf
      5

ModuleNotFoundError: No module na

[2020-01-07 19:30] jtfogarty commented on #1481
/area docs
/priority p2

[2020-01-07 21:26] sarahmaddox commented on #1507
This needs investigation. The doc is here:
https://www.kubeflow.org/docs/notebooks/setup/#experiment-with-your-notebook

[2020-01-07 23:27] sarahmaddox opened #1508 "Consider the docs IA - why are some components by themselves in the left nav?"
In the left-hand nav, the following components have a top-level entry:
* Jupyter Notebooks
* Pipelines
* Fairing

All other components are listed under the "Components of Kubeflow" section.

Consider re-organizing to give all components equal weight.
* Either move the above three components under the "Components of Kubeflow" section,
* Or move all components out into the top-level nav - but that w

[2020-01-08 15:45] jtfogarty commented on #1508
/area docs
/kind enhancement

[2020-01-08 20:01] joeliedtke commented on #1505
[PR 1509](https://github.com/kubeflow/website/pull/1509) fixed the code sample formatting portion of this issue. The list formatting still needs work, which could require additional changes to the code sample formatting as well.

[2020-01-08 23:07] jbottum commented on #1507
@avizmil I have triaged the issue, which hopefully will provide an owner.   Note - I have not used this example, but sometimes the owner of the data moves it to another directory.

[2020-01-09 00:14] sarahmaddox commented on #1508
Dropped the priority from P1 to P2, as the current information architecture seems to be working (we haven't had complaints AFAICT) and we have higher-priority items to finish for v1.0.

[2020-01-09 00:22] sarahmaddox commented on #1131
/assign

Starting work on this now.

[2020-01-09 20:33] sarahmaddox opened #1511 "Update website for Kubeflow v0.7.1"
kfctl v0.7.1 is now available:
https://github.com/kubeflow/kubeflow/releases

[2020-01-09 20:37] sarahmaddox commented on #1511
/assign

[2020-01-09 21:11] sarahmaddox commented on #1503
My recommendation is to keep the page and put a banner at the top explaining that Chainer is not supported in this version of Kubeflow. (This applies to **Kubeflow v0.7**, which is the currently-documented version on kubeflow.org, as well as the upcoming **Kubeflow v1.0**). The banner should also link to the [Chainer GitHub repo](https://github.com/kubeflow/chainer-operator) for further details. K

[2020-01-09 21:17] sarahmaddox opened #1513 "Prep for Kubeflow v1.0: Create the Kubeflow v0.7 docs archive"
A few days before the launch of Kubeflow v1.0, we must create the archive branch for the v0.7 docs.

See section **Versioning the website** in the [Kubeflow release procedures](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md).

[2020-01-09 21:26] #1511 closed

[2020-01-09 21:43] sarahmaddox commented on #1508
I've moved this issue out of the list of v1.0 doc requirements. Reasons why we shouldn't tackle this issue before v1.0:
* We don't have bandwidth to discuss and implement any changes.
* Large-scale changes to docs information architecture will affect the Google Analytics that we see in the docs. We want to track the doc usage around the launch of v1.0.

[2020-01-09 23:10] jspenc72 commented on #1503
Just to confirm, we should indicate that chqiner is only working in kubeflow 0.6 and below?

[2020-01-09 23:12] sarahmaddox commented on #1503
From a docs point of view: The docs that we currently have do not work for Kubeflow v0.7.0 onwards.

[2020-01-09 23:14] jspenc72 commented on #1503
Is there further discussion needed beyond that? I will specify kubeflow 0.6 in the docs? Is continued development on chainer relevant to  this decision if it's not in scope for 1.0?

[2020-01-09 23:18] richardsliu commented on #1130
@sarahmaddox This should be done now: https://www.kubeflow.org/docs/upgrading/upgrade/

[2020-01-10 02:54] sarahmaddox commented on #1503
@jspenc72 Let's give @jlewi the opportunity to reply to recent comments.

[2020-01-10 05:11] sarahmaddox commented on #1113
@ammarn911 is tackling this issue

[2020-01-10 13:26] vpavlin commented on #33
FYI we are mostly done with https://github.com/opendatahub-io/manifests/pull/4 - there are still a few bits to be enabled and polished, but KFDef and manifests from that PR seem to mostly work for us

[2020-01-10 20:25] sarahmaddox commented on #1503
@jspenc72 Let's go ahead now. :) I've reviewed your PR.

[2020-01-10 21:25] #1503 closed

[2020-01-10 21:30] sarahmaddox commented on #1502
Here's a pattern to follow for deleting the content of this page and adding a "not supported" note:
https://www.kubeflow.org/docs/components/training/chainer/
(PR https://github.com/kubeflow/website/pull/1516)

[2020-01-10 21:37] sarahmaddox commented on #1259
+1 to deleting this page. That is, remove the file entirely. I've searched the docs for references to this page. There's just one reference - we should remove the following line:
https://github.com/kubeflow/website/blob/master/content/_redirects#L101

[2020-01-10 21:38] sarahmaddox commented on #1500
+1 to deleting this page. That is, remove the file entirely. I've searched the docs for references to this page. When deleting the page, we must also remove the following references:

https://github.com/kubeflow/website/search?q=%22%2Fserving%2Fistio%2F%22&unscoped_q=%22%2Fserving%2Fistio%2F%22

[2020-01-11 00:05] jspenc72 commented on #1502
@sarahmaddox What version of the

@sarahmaddox Should we add the Alpha notice in the 0.7 docs? and remove with the "not supported" note in v1.0?

[2020-01-13 03:12] sarahmaddox opened #1521 "Kubeflow Slack info needs updating"
The Slack info on the [community page](https://www.kubeflow.org/docs/about/community/) is lacking a few channels. It'd also be clearer to separate the Slack info into a new section, so that we can link to it more easily. In particular, the new v1.0 support page needs to link to the Slack info.

[2020-01-13 03:13] sarahmaddox commented on #1521
/assign

[2020-01-13 04:10] sarahmaddox commented on #1502
/assign @jspenc72

Thanks for taking this one on @jspenc72! Let's continue the discussion in your PR https://github.com/kubeflow/website/pull/1517

[2020-01-13 04:46] sarahmaddox commented on #1130
/assign

Thanks @richardsliu. All that remains is to remove the **alpha** notice when we launch Kubeflow v1.0. I'll do that when the time comes. We'll leave this issue open until then.

[2020-01-13 04:49] sarahmaddox commented on #1126
/assign

[2020-01-13 04:50] sarahmaddox commented on #1126
We should also add a note to the release processes, telling the release team how to add the note to the version that they're archiving.

[2020-01-13 04:50] sarahmaddox commented on #1126
Starting work on this now.

[2020-01-13 04:55] sarahmaddox commented on #1500
/assign

[2020-01-13 05:00] sarahmaddox commented on #1500
Thanks @jlewi. We do have some platform-specific guidelines already:
* https://www.kubeflow.org/docs/gke/monitoring/
* https://www.kubeflow.org/docs/aws/logging/

[2020-01-13 05:15] sarahmaddox commented on #1259
/assign

[2020-01-13 20:55] kbhawkey commented on #1505
Hello @joeliedtke ,
Just looked at the pages listed above. Is there still a rendering problem?
The yaml code block is not in the list (separate div), so appears left rendered.
Also, on my laptop, the screencast overflows the area, for example:
![screen_cast_pipeline_viz_2020-01-13 154847](https://user-images.githubusercontent.com/1696019/72291277-0986c480-361d-11ea-9b09-03de2390860e.png)

[2020-01-13 21:19] joeliedtke commented on #1505
The formatting for the code samples has been improved, however the list formatting is still broken in the sections indicated. Including your feedback about the screencast, here are the known formatting issues in this page:

- List formatting broken in **Using custom visualizations** and **Known limitations**. The code sample type (yaml, golang) may be contributing to the formatting issue along wit

[2020-01-13 21:22] kbhawkey commented on #1505
I moved the code blocks in 8 spaces, though, there appears to be a styling issue when the code block attribute == `yaml`. Noted that other pages are not specifying a code block attribute.

[2020-01-13 23:39] #1502 closed

[2020-01-14 02:59] #1259 closed

[2020-01-14 03:07] #1500 closed

[2020-01-14 12:43] sakaia opened #1530 "Pipelines: would you add yaml spec and its flow?"
it would be helpful to add the doc about yaml spec and its  flow

[2020-01-14 17:54] sarahmaddox commented on #1530
@sakaia Thanks for raising this issue! I'm guessing that the YAML file you're referring to is the kustomize KfDef config - is that right? If so, then this issue may be a duplicate of the existing issue https://github.com/kubeflow/website/issues/1442

[2020-01-14 19:43] jtfogarty commented on #1530
/area docs
/priority p2

[2020-01-14 20:18] jtfogarty commented on #1263
/area docs
/priority p2

[2020-01-14 20:19] jtfogarty commented on #950
/area docs
/priority p2

[2020-01-14 20:22] jtfogarty commented on #834
/area usage
/priority p2

[2020-01-14 20:22] jtfogarty commented on #817
/area docs
/priority p2

[2020-01-14 20:23] jtfogarty commented on #812
/area docs
/priority p2

[2020-01-14 20:25] jtfogarty commented on #73
/area engprod
/priority p1
/kind bug

[2020-01-14 22:39] jlewi commented on #1107
Some notes from meeting with @avdaredevil

* 1 paragraph about centraldashboard
* Some description about managing namespaces and adding contributors

[2020-01-14 22:46] sarahmaddox commented on #1107
Thanks @jlewi! For the bit about namespaces and contributors, we can have a high-level overview and link to this doc for details:
http://kubeflow.org/docs/other-guides/multi-user-overview/

[2020-01-15 03:58] sarahmaddox opened #1532 "Explain the usage of Istio within Kubeflow"
We need to better describe the use of Istio in Kubeflow. This came up in a discussion of docs to focus on for the February 2020 Kubeflow Doc Sprint.

To determine:

* What questions should the doc answer?
* Which concepts should the doc explain?

[2020-01-15 04:02] sarahmaddox commented on #1532
Related issue: https://github.com/kubeflow/manifests/issues/644

[2020-01-15 04:13] sarahmaddox commented on #1207
@animeshsingh  Does this issue capture the required updates that you mentioned in today's Kubeflow community call?

@joeliedtke Is there someone from the Pipelines team who can comment from a Pipelines point of view?

@zhenghuiwang has done some excellent work on this doc to date. Zhenghui can you comment on the status of the doc (could it do with further updating) and also on the relationship to

[2020-01-15 05:43] sakaia commented on #1530
I am looking around kubeflow/pipeline code and recognized that it simply generate yaml file.

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/compiler.py#L657

I hope any document between kubeflow and pipeline interface.

[2020-01-15 07:01] benjamintanweihao commented on #1532
1. Why do we need Istio? Use case with examples would be very helpful.
2. Can we install Kubeflow _without_ Istio?
3. An initial explanation of Istio without too much jargon would be great too.

[2020-01-15 16:57] jtfogarty commented on #1532
/area docs
/kind feature
/priority p2

[2020-01-15 17:35] sarahmaddox commented on #1493
Note: We also have issue https://github.com/kubeflow/website/issues/1532 which requests a page about Istio. If we create such a page, we should put the info about Kubeflow without Istio onto that page, and the FAQ page should just link to that page.

[2020-01-15 17:36] sarahmaddox commented on #1532
Thanks @benjamintanweihao that's very useful. There's a related issue requesting FAQ info on whether we can install Kubeflow without Istio: https://github.com/kubeflow/website/issues/1493. I've commented on that issue saying that if we create a page about Istio, that info should be on the page rather than in an FAQ.

[2020-01-15 17:51] sarahmaddox commented on #1530
/cc @joeliedtke
/cc @Bobgy

@Bobgy Do you have any pointers about how we could document this?

[2020-01-15 20:59] sarahmaddox commented on #33
Adding some info from a [kubeflow-discuss thread](https://groups.google.com/d/msgid/kubeflow-discuss/7298be12-cce6-412b-aa7c-d0c98b88ecee%40googlegroups.com):

Work is currently in progress in a fork, which will be contributed to the Kubeflow repositories soon.

To use Kubeflow on OpenShift, you should be able to use https://github.com/opendatahub-io/manifests/ with Kubeflow v0.7 and this kfdef fi

[2020-01-15 23:43] #1521 closed

[2020-01-16 00:19] Bobgy commented on #1530
Short answer, the spec is an implementation detail that should not be used directly.

Anyway, it is just argo workflow spec with some kubeflow pipeline metadata in annotations.

[2020-01-16 03:28] sakaia opened #1534 "Pipelines: Question about multi-arch CPU or multi-storage-type node support"
Is there any limitation document about multi-arch CPU and other support?

For me specify, If Kubernetes Nodes have multiple configuration (multi-arch or multi-storage-type).
Can we specify the kubeflow component level or the kubeflow pipeline level to the kubernetes nodes?

[2020-01-16 03:43] sarahmaddox commented on #1263
Also need to search for `.Params.description`

[2020-01-16 07:46] sakaia opened #1536 "Troubleshooting on TensorFlow AVX is obsolate"
Following description for v0.7.0 is obsolate
https://www.kubeflow.org/docs/other-guides/troubleshooting/#tensorflow-and-avx

Following link is broken (since v0.7.0 does not have such file)
https://github.com/kubeflow/kubeflow/blob/master/scripts/gke/deployment_manager_configs/cluster.jinja#L105

The patch is follows
https://github.com/kubeflow/kubeflow/commit/2f15d8dbe85f0081652c1e5363f6a8c547a3e5

[2020-01-16 08:52] sakaia commented on #1534
From seeing the code.
amd64 and aarch64 switch code is apiserver and docker files.

And  kubeflow/pipeline component corresponds to container image (i.e. 1 to 1)
https://www.kubeflow.org/docs/pipelines/sdk/build-component/

Is Kubeflow/pipeline  component corresponds to kubernetes pod?
or kubeflow/pipeline pipeline corresponds to kubernetes pod?
(Since I want to know the each component can specify

[2020-01-16 09:06] Bobgy commented on #1530
Yes, I also think that will help contributors. Thanks for the idea. Can you create an issue in kubeflow/pipelines repo, so we can track it.

[2020-01-16 11:43] sakaia commented on #1530
I create issue.

https://github.com/kubeflow/pipelines/issues/2857

[2020-01-16 12:29] ivryan opened #1537 "Deploy using UI"
Hi,
I'm encountering some issue to deploy kubeflow with 0.7.0 and 0.6.2 version using UI on GCP

After one hour this log appears on the console and nothing happens on GCP:

This is what I see on console:

2020-00-1613:25:02.739:Deploymentstatus:operationpending.
2020-00-1613:25:09.320:Deploymentstatus:operationpending.

Could you help me?

[2020-01-16 16:03] jtfogarty commented on #1537
Are you following these steps https://www.kubeflow.org/docs/gke/deploy/

You need to setup the project correctly, i.e. billing and api
then you can deploy with the UI

[2020-01-16 16:04] jtfogarty commented on #1537
/area docs
/kind question
/priority p2

[2020-01-16 16:14] jtfogarty commented on #1536
/area docs
/priority p2

[2020-01-16 16:17] jtfogarty commented on #1534
/area docs
/priority p2

[2020-01-16 17:20] sarahmaddox commented on #1534
/assign @Ark-kun
/cc @joeliedtke

@Ark-kun Can you help with this question?

[2020-01-16 17:33] ivryan commented on #1537
I've resolved using cli deploy method with kfctl_v1.0-rc.1-0 version

[2020-01-16 17:34] sarahmaddox commented on #1530
/assign @Bobgy
/close

Thank you @sakaia and @Bobgy! I'll close this issue now, since we're tracking the request for developer docs in the pipelines repo with issue https://github.com/kubeflow/pipelines/issues/2857.

[2020-01-16 17:34] #1530 closed

[2020-01-16 17:37] sarahmaddox commented on #1537
Thanks for letting us know, @ivryan. I'll close this issue, as we don't have enough info for a doc update. Please do re-open the issue if there's work to be done on the docs.

/close

[2020-01-16 17:37] #1537 closed

[2020-01-16 17:46] #1481 closed

[2020-01-16 20:52] sarahmaddox commented on #33
More info from [another kubeflow-discuss thread](https://groups.google.com/d/msgid/kubeflow-discuss/7cde5365-071f-4bd9-9163-73ca3e255b26%40googlegroups.com?utm_medium=email&utm_source=footer):

If you want to deploy to OpenShift, make sure you have kfctl version 0.7, then clone the manifests (https://github.com/opendatahub-io/manifests) and run

[code]

Assuming you are logged into an OpenShift cl

[2020-01-16 23:51] sarahmaddox commented on #1263
I've searched the site for `params "version"` and `.Params.version`. Neither of those text strings currently appears anywhere.
However, I plan to use the `version` parameter in the fix for issue https://github.com/kubeflow/website/issues/1126, so I'll update the parameter description in `config.toml` as part of the fix for that issue.

[2020-01-19 19:00] sarahmaddox commented on #1504
Thanks @EDGsheryl
/close

[2020-01-19 19:00] #1504 closed

[2020-01-20 00:48] yanniszark opened #1539 "kfctl: explain use of set-image-name"
A new kfctl command was introduced in https://github.com/kubeflow/kfctl/pull/30 to help users do mass image mirrorings.
This is very useful in on-prem, airgapped installations.
We should include a doc explaining its use along with a couple of use-cases.

https://github.com/kubeflow/kubeflow/pull/4222

cc @xaniasd @sarahmaddox
This is also a good candidate for the doc sprint!

[2020-01-20 01:12] sarahmaddox opened #1540 "Consider JavaScript for logic around adding a banner to archived doc sets"
For discussion - opinions welcome! **TL;DR:** Should we write a Javascript routine for the logic around adding a banner to our archived doc sets, or should we stick to the proposed simple implementation? With JavaScript we could use URL pattern matching instead of a true/false flag.

PR https://github.com/kubeflow/website/pull/1535 adds logic to create a banner on archived doc sets. The banner app

[2020-01-20 03:17] jtfogarty commented on #1540
/area docs
/priority p2

[2020-01-20 03:19] jtfogarty commented on #1539
/area docs
/priority p2

[2020-01-20 03:24] sarahmaddox commented on #1539
Thanks @yanniszark - added to the doc-sprint list.

[2020-01-20 16:12] charlesparasa opened #1541 "AWS: Authentication and TLS Support"
https://www.kubeflow.org/docs/aws/authentication/

Aws does not provide with ARN for the custom domain has the auth.us-east-1.amazoncognito.com belongs to AWS and the document does not say how to configure the Custom Domain ARN.

And the cognitoUserPoolDomain : field parameter is confusing. domain/your-pool-name
for eaxmple : kubeflow.example.com/kubeflow (our pool name)

[2020-01-20 17:26] sarahmaddox commented on #1541
/cc @Jeffwan

[2020-01-21 13:19] jlewi commented on #1501
@animeshsingh @ellis-bigelow @cliveseldon can anyone take a look at this?

[2020-01-21 14:04] jlewi opened #1542 "Add an "Alpha" banner to the private GKE docs page"
The docs are here:
https://github.com/kubeflow/website/blob/6f0cc17a639a96444f64cfb097a22d827d679bf7/content/docs/gke/private-clusters.md

We should add a banner to the top of the page indicating private GKE is still in Alpha.

We can add a banner like the one on the upgrade page.
https://github.com/kubeflow/website/blob/master/content/docs/upgrading/upgrade.md

We might also want to add links to

[2020-01-21 15:39] msteffen opened #1543 "Component Specification: example can't be parsed by the kfp SDK"
I've been trying to write my own kubeflow pipeline components using the documentation at https://www.kubeflow.org/docs/pipelines/reference/component-spec/#example-of-a-component-specification, and have found that the example yaml on that page may need to be updated (in particular, it doesn't seem to compile with the kfp SDK v2.0).

When I create a pipeline with a single component based on that exa

[2020-01-21 15:44] jtfogarty commented on #1543
/area pipelines
/priority p2

[2020-01-21 19:27] jtfogarty commented on #1542
Another apparent blocker
[kubeflow/kfctl#158](https://github.com/kubeflow/kfctl/issues/158)

[2020-01-21 23:56] sarahmaddox opened #1546 "Upgrade to Hugo v0.6+ and latest Docsy"
The Kubeflow website currently uses Hugo version 0.55.6. (See the [netlify config file](https://github.com/kubeflow/website/blob/master/netlify.toml#L6).

To consider when we update to a new version of Docsy and to Hugo v0.6 or later:

* Hugo has switched to the Goldmark Markdown processor in version 0.60.
https://gohugo.io/getting-started/configuration-markup#goldmark

* Check the Docsy issue tra

[2020-01-22 02:39] sarahmaddox commented on #1542
/assign

[2020-01-22 17:23] amygdala opened #1548 "KFP: document upper limit on size of component i/o"
We should be precise in documenting what sized strings can be passed between components. (Not sure where that should best go... [here](https://www.kubeflow.org/docs/pipelines/sdk/build-component/#create-a-python-class-for-your-component)?)

[This tutorial](https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components.ipynb) just says that 'Small data

[2020-01-22 21:24] #1542 closed

[2020-01-22 22:09] sarahmaddox commented on #1263
Fixed by PR https://github.com/kubeflow/website/pull/1535

/close

[2020-01-22 22:09] #1263 closed

[2020-01-22 23:07] avdaredevil opened #1549 "[CentralDashboard] Doc Merging"
#### seed comment: https://github.com/kubeflow/website/pull/1538/files#r369342516
#### add-on to: #1538

## About
This issue is a task placeholder for merging docs together for UI setup and central-dashboard docs.

### Meta
/area centraldashboard
/area front-end
/priority p1
/assign @sarahmaddox
/cc @kwasi @avdaredevil

[2020-01-23 02:06] #1107 closed

[2020-01-23 15:34] yanniszark opened #1551 "existing_arrikto: Add note about storage requirements"
In the existing_arrikto guide, add a note on the storage requirements (default storage class) and point to the [dynamic provisioning guide](https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/) the user can follow if they don't have it in their environment.

/cc @cspavlou

[2020-01-23 19:01] animeshsingh commented on #1501
@jlewi @sarahmaddox letme take a look

[2020-01-23 19:06] animeshsingh commented on #1501
ok this should be removed. Both Seldon and KFServing have support for PyTorch, so an independent section doesn't make sense to me

[2020-01-23 22:17] amygdala opened #1553 "End-to-end Kubeflow on GCP: remove requirement to use old v. of kustomize"
For this tutorial: https://www.kubeflow.org/docs/gke/gcp-e2e/ , this requirement: "Make sure you have version 2.0.3 of kustomize" seems problematic, especially since people are probably going to have an existing current install that they will need to be careful not to stomp on. (I've installed kustomize via homebrew, which gives me version 3.5.4... which still throws an error on this config).

The

[2020-01-24 00:19] amygdala opened #1554 "End-to-end example needs to be changed to deploy tfjob into user profile namespace"
https://www.kubeflow.org/docs/gke/gcp-e2e/
(I'll file a kubeflow/examples bug too).

Looks like this example is broken right now; looks like the tfjob needs to be deployed into a user profile namespace now. The quick workaround is to just direct the output of 'kustomize build' to a yaml file rather than piping directly to kubectl; then editing that file to change the namespace, then applying it.

[2020-01-24 01:17] Ark-kun commented on #1548
The limit is cumulative and hard to quantify exactly.
The JSON-serialized workflow object (including the workflow spec, all templates, all input and output parameter data, all artifact URIs and the status of all nodes) cannot exceed 512KiB in older versions of Kubernetes and 1MiB in newer versions.

I think this would be a rather confusing statement if we put it in that doc.

[2020-01-24 02:42] amygdala commented on #1554
Also, I assume that we need to update the tfjob docs as well (https://www.kubeflow.org/docs/components/training/tftraining/).  Looks like either they need to deploy into a `kubeflow-<user>` namespace, or the `default-editor` k8s service account needs to be added to the namespace they want to use.
(Perhaps this should be a separate bug).

[2020-01-24 02:43] sarahmaddox commented on #1501
Thanks @animeshsingh that makes sense. I'll remove the page and redirect incoming links to the [serving overview](https://www.kubeflow.org/docs/components/serving/overview/), which directs people to either Seldon or KFServing.

/assign

[2020-01-24 03:06] sarahmaddox commented on #1501
@animeshsingh Please would you review this PR and add /lgtm if you're happy with it:
https://github.com/kubeflow/website/pull/1555

[2020-01-24 03:34] jj-794 commented on #1293
Here https://www.kubeflow.org/docs/reference/images/ we have a broken link: https://github.com/datawire/ambassador/blob/master/Dockerfile

[2020-01-24 06:39] sarahmaddox commented on #1126
Just one more archived doc set to go: **v0.2**. I'll tackle that tomorrow.

[2020-01-24 15:06] amygdala commented on #1548
Maybe we could just say something to give the ballpark idea, like 'the total input and output parameter data, plus other workflow config, can never exceed 1MB (and in older versions is restricted to 512K). If you exceed the limit, you will see an error like `<error description>`".

(Ideally the error message could be a bit better in surfacing what happened, as report of an unmarshalling error is n

[2020-01-24 19:00] sarahmaddox commented on #1126
PR in progress to update the release procedures for website versioning: https://github.com/kubeflow/kubeflow/pull/4665
I'll test the procedure when creating the v0.7 archive branch of the docs, then submit the PR for review.

[2020-01-26 00:33] sarahmaddox commented on #1513
/assign

[2020-01-26 00:56] sarahmaddox commented on #1513
Netlify URL for the v0.7 doc branch:
https://wonderful-montalcini-a23d81.netlify.com/

The v0.7 branch of the docs is now serving content:
https://v0-7.kubeflow.org/
It does not yet show the archive banner, as we're awaiting merge of PR # 1561.

[2020-01-26 02:27] sarahmaddox commented on #1126
This is now done.
/close

[2020-01-26 02:27] #1126 closed

[2020-01-26 02:28] sarahmaddox commented on #1513
This is now done.
/close

[2020-01-26 02:28] #1513 closed

[2020-01-26 03:04] jtfogarty commented on #1554
/area docs
/priority p2

[2020-01-26 03:06] jtfogarty commented on #1553
/area docs
/priority p2

[2020-01-26 03:23] jtfogarty commented on #1551
/area docs
/priority p2

[2020-01-26 03:25] jtfogarty commented on #1548
/area docs
/priority p2

[2020-01-26 03:53] jtfogarty commented on #1546
/area docs
/priority p2

[2020-01-26 18:52] amygdala commented on #1554
I'd put this as a 'p0' since it's the "getting started" tutorial.

[2020-01-26 20:19] sarahmaddox commented on #1131
Status: The PR (# 1520) is ready for LGTM and approval. I'll retain the hold on the PR until we're ready to launch the v1.0 docs, and in particular the v1.0 versioning policy doc.

[2020-01-26 20:24] sarahmaddox opened #1564 "Automate the updating of the application version matrix (Kubeflow v1.0 onwards)"
From Kubeflow v1.0 onwards, the docs contain an application version matrix: https://master.kubeflow.org/docs/reference/version-policy/#kubeflow-application-matrix

The table shows, for each application, the application version that is in the manifest at the time when  the current version of Kubeflow (such as Kubeflow v1.0.0) was released.

It would be nice to automate the updating of the version n

[2020-01-26 23:31] #1501 closed

[2020-01-27 01:26] jtfogarty commented on #1564
/area docs

[2020-01-27 03:22] sarahmaddox commented on #1129
Status: Just one thing left to do in PR https://github.com/kubeflow/website/pull/1308: Add the **version numbers for each application** in the table. These must be the version numbers that are included in the manifests with the Kubeflow v1.0.0 launch.

[2020-01-27 03:23] sarahmaddox commented on #1236
Design of this solution is complete. I'm going to close this issue now, and track the implementation on issue https://github.com/kubeflow/website/issues/1129

/close

[2020-01-27 03:23] #1236 closed

[2020-01-27 08:00] jal06 commented on #1554
When I run the examples for Katib (doc https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/ ), they run in the namespace kubeflow. Looks like they also must also run in a user namespace. Do you agree ? Do we need to open another ticket ? (sorry for asking those questions, I am new to kubeflow)

[2020-01-28 02:57] sarahmaddox commented on #1421
Working on this now.

[2020-01-28 18:37] amygdala opened #1567 "add info on how the KFP InputPath and OutputPath should be specified in python code."
We need to add some documentation on how the KFP InputPath and OutputPath should be specified in python code. This would be a good docs sprint task.

Adding some notes to remind myself:

- In the 'producer' component definition, add an arg like this, **using the 'path' suffix** in the arg name:
[code]
and do *not* add it to the output tuple for that component's function definition. In the componen

[2020-01-28 18:38] amygdala commented on #1567
(I'd call this a bug, not a feature, since it's pretty hard to figure this out otherwise).

[2020-01-29 02:17] sarahmaddox commented on #959
/assign @pdmack

@pdmack I'm assigning this to you, based on an earlier Slack conversation. (The issue includes an example of a YAML spec, but that may be out of date by now.) This issue is a P0 for Kubeflow v1.0. Let me know if you can't address it.  In that case, I'll remove the content of the page (leaving the page in place) and say that NVIDIA Inference Server is not supported beyond Kubeflow

[2020-01-29 03:06] jlewi opened #1568 "Add to GKE troubleshooting Guide - Managed Certificates can fail if service management API not enabled"
kubeflow/kubeflow#4694 provides an example of the problem.

We should add appropriate troubleshooting information to the docs.

[2020-01-29 09:31] tomalbrecht opened #1570 "please provide a working installation guide"
Please provide a working setup guide (ubuntu 18.04 lts)

I've tried several instructions provided on your page. Only GCP does fully work. The following instructions do not work on Ubuntu 18.04 LTS

https://www.kubeflow.org/docs/started/workstation/getting-started-linux/
-> microk8s Version
-> MiniKF
-> Workstation

There are multiple problems, from kustomize bugs to certification errors (already r

[2020-01-29 12:20] jlewi opened #1571 "Add deprecation notice about basic auth on GKE"
We should add a deprecation notice about basic auth support on GKE.

We will likely remove basic auth in a future release after making some simplifications in the use of IAP.

We should add notices:

Before the CLI instructions
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/#authenticating-with-username-and-password

Before the UI instructions
https://www.kubeflow.org/docs/gke/deploy/deploy-ui

[2020-01-29 17:57] jlewi commented on #1571
The diagram is awesome by the way.

[2020-01-29 21:24] sarahmaddox opened #1573 "Add links to SVG diagrams"
A while ago, links in SVG images worked on our website. At some stage, they stopped working: Hugo or Netlify removes the link before serving the image.

It'd be nice to add links to SVG diagrams. In particular, the diagrammatic overview of installation options on the Kubeflow installation page could have links from the blue boxes down to the relevant sections on the same page:
https://www.kubeflow

[2020-01-29 22:14] #1549 closed

[2020-01-30 03:17] sarahmaddox commented on #1113
Status: PR https://github.com/kubeflow/website/pull/1469 has added an **alpha** banner to the Microk8s installation doc. There are still some questions to resolve - see comments in the PR, so I'll leave this issue open.

[2020-01-30 03:32] sarahmaddox opened #1574 "Investigate and design the translation/internationalization of the Kubeflow docs"
Investigate what needs doing, create a design doc, and discuss with the community.

The design doc should include technical as well as organizational requirements, including at least the following:
* Restructuring the website repo (https://github.com/kubeflow/website/issues/1127).
* Community managers for the non-English versions of the docs (https://github.com/kubeflow/website/issues/18 and https

[2020-01-30 13:46] szinck1 opened #1576 "Error on page Submit Kubernetes Resources"
https://www.kubeflow.org/docs/notebooks/submit-kubernetes/

`Kubeflow assigns the jupyter-notebook service account to the Jupyter notebook Pods. This service account is bound to the jupyter-notebook role, which has namespace-scoped permissions to the following Kubernetes resources:`

But as of 0.7, pods run as `default-editor` and are assigned the cluster role `kubeflow-edit`.

The role is also no

[2020-01-30 15:50] jlewi commented on #1568
Some information we should include in the guide.

1. Run the following command to check your certificate

[code]

    * The certificate status should be Active or Provisioning(means its not ready yet)
    * More info [here](https://cloud.google.com/load-balancing/docs/ssl-certificates?hl=en_US&_ga=2.164380342.-821786221.1568995229#certificate-resource-status)
    * Make sure the domain is correct

[2020-01-30 23:10] animeshsingh opened #1577 "Update ICP and IKS docs layout"
Follow-on for @sarahmaddox comments - to be addressed in a subsequent PR.

Does this content make the existing guide to IBM Cloud Private redundant?
https://www.kubeflow.org/docs/started/cloud/getting-started-icp/

If yes, then I'd recommend changing the content of the existing guide to just link to your new guide, following the pattern of the other cloud docs like this one:
https://www.kubeflow.o

[2020-01-30 23:10] animeshsingh commented on #1577
/assign @animeshsingh

[2020-01-31 04:08] jlewi commented on #1568
Also it looks like a major cause of "PROVISIONING_FAILED" errors could be LetsEncrypt rate limiting. I don't think this is working as intended; I believe lets encrypt rate limiting is supposed to be surfaced as a FAILED_RATE_LIMITED [docs](https://cloud.google.com/load-balancing/docs/ssl-certificates).

In the interim, we should probably let people know that PROVISIONING_FAILED could be interprete

[2020-01-31 14:52] jlewi opened #1581 "Publish v1-0 version of the docs"
We'd like to do the following

1. Start publishing master on v1-0.kubeflow.org
1. Have www.kubeflow.org continue to direct to the v0.7 version of the docs
1. When the docs on master are ready redirect www.kubeflow.org to the v1 version of the docs.

I think doing the above should be fairly straightforward based on the [docs](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#cr

[2020-01-31 14:55] jlewi commented on #1581
In Netlify I used [deploy contexts](https://docs.netlify.com/site-deploys/overview/#deploy-contexts)
to switch the production branch from master to v0-7

I also enabled branch deploys for all branches

[2020-01-31 15:02] jlewi commented on #1581
I believe the current [process](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#creating-a-website-branch-for-the-latest-major-or-minor-release) is creating a new netlify site for each branch. I'm not sure we want to do that. I think all of those cites are being owned by the individuals who created them; they don't show up in my netlify team when I log in.

[2020-01-31 15:14] jlewi commented on #1581
I enabled deploy branches but they don't seem to be deployed; maybe we need to push a commit to trigger deploy?

At the very least the production version of the website www.kubeflow.org is now pointing to the v0.7-branch so we should be able to push changes to master.

[2020-01-31 15:33] jlewi commented on #1581
When I pushed a commit to the v0.5-branch that triggered a deploy but it doesn't appear to be showing up at https://v0.5-branch--competent-brattain-de2d6d.netlify.com/

Could the period in the name be problematic?

[2020-01-31 15:39] jlewi commented on #1581
Looks like the period is the problem. I pushed a commit to the branch will-may and that branch is now visible at
https://will-may--competent-brattain-de2d6d.netlify.com/

So I think next steps

* It looks like https://master--competent-brattain-de2d6d.netlify.com/ is already available
* I updated the CNAME record for v1-0.kubeflow.org so it should point to master
* I think we need to update our [p

[2020-01-31 15:44] jlewi commented on #1581
I take it back looks like netlify just replaces "." with "-"
https://v0-5-branch--competent-brattain-de2d6d.netlify.com/

[2020-01-31 15:54] jlewi commented on #1581
It looks like Netlify doesn't create a branch for the site set to production;
i.e.
https://v0-7-branch--competent-brattain-de2d6d.netlify.com/ doesn't exist. That's probably because in the deploy settings I set the production branch to v0.7-branch.

I'm going to change it back to master.

[2020-01-31 16:01] jlewi commented on #1581
https://v0-7-branch--competent-brattain-de2d6d.netlify.com/ is now live.

I've updated the CNAME records as below.
![cnames](https://user-images.githubusercontent.com/777219/73553948-ae681680-43ff-11ea-86f1-d6e066cd246c.png)

Here are the results of nslookup.

[code]

[2020-01-31 16:01] jlewi commented on #1581
So we should be good to go to be begin pushing 1.0 changes to master.

[2020-01-31 16:10] jlewi commented on #1581
Hmm. Looks like https://v1-0.kubeflow.org/ doesn't work. We get an SSL certificate error. We should still be able to access them at
competent-brattain-de2d6d.netlify.com

In Netlify I added a domain alias for "v1-0.kubeflow.org" That worked; but I think it might be pointing to the v0.7 branch now.

[2020-01-31 16:26] mapsacosta commented on #959
Any progress on this? Can someone provide hints on how to deploy this through a non-deprecated tool, namely,  kustomize? This is a critical step for us.

[2020-01-31 16:41] jlewi commented on #1581
Looks like master might still be showing up on www.kubeflow.org. I merged #1520 which should only show up master.

The v0-7.kubeflow.org appears to be correctly pointing the v0.7 branch

The following URLs return 404 since #1520 is not on the branch
https://v0-7.kubeflow.org/docs/other-guides/support/
https://v0-7-branch--competent-brattain-de2d6d.netlify.com/docs/other-guides/support/

https://v0

[2020-01-31 16:44] jlewi commented on #1581
I suspect we may need to enable branch subdomains with Netlify.

[2020-01-31 17:35] jlewi commented on #1581
Here's the original issue when we setup Netlify
https://github.com/kubeflow/website/issues/5#issuecomment-389037774

* I don't think we are actually using Netlify DNS; I think our nameservers are still pointing at googedomains and clouddns
* In Netlify I changed the Deploy settings to make v0.7-branch the production branch to see if we can use that to redirect www.kubeflow.org to 0.7

[2020-01-31 17:38] jlewi commented on #1581
I triggered a redeploy;
www.kubeflow.org now appears to be pushing to v0.7-branch because
https://www.kubeflow.org/docs/other-guides/support/ - is no longer accessible

[2020-01-31 17:45] jlewi commented on #1581
https://master.kubeflow.org/docs/other-guides/support/ is not accessible so it doesn't appear to be pointing to the master branch.

In Netlify it appears to be configured as a domain alias.

https://v0-6.kubeflow.org/docs/gke/deploy/deploy-cli/
This is correctly pointing to the v0.6 branch; the header at the top shows its the archive version.

[2020-01-31 17:49] jlewi commented on #1581
Lets try changing the cname record in Cloud DNS to point to
master--competent-brattain-de2d6d.netlify.com.

[2020-01-31 18:06] jlewi commented on #1581
[code]

So right now

* www.kubeflow.org is correctly mapped to v0.7-branch
* https://master--competent-brattain-de2d6d.netlify.com/docs/other-guides/support/ is redirecting to master branch

This is workable for now.

* It looks like the problem with setting up CNAME records for subdomains is the Netlify doesn't know about them and generate certs for them.
  * I suspect the reason the other subdo

[2020-01-31 18:46] jlewi commented on #1581
I think what we have is good enough for now.

To summarize

1. In Netlify we use Deploy contexts to switch the branch production is pointing to
1. We can access a branch using `http://${BRANCH}---competent-brattain-de2d6d.netlify.com`
1. TODO: We still need to figure out how to map a subdomain like ${BRANCH}.kubeflow.org to a branch like `http://${BRANCH}---competent-brattain-de2d6d.netlify.com`

[2020-01-31 18:51] jlewi commented on #1581
I tried removing master.kubeflow.org as an alias in Netlify. We'd like to use branch subdomains for that.

[2020-01-31 18:58] jlewi commented on #1581
master is now listed in branch subdomains.
When I try to access: https://master.kubeflow.org/
I get an HTTPs error. I think we may need to wait for the DNS record to propogate and then in Netlify renew the certificate.

Right now in Netlify under https it doesn't show a certificate for master.kubeflow.org

[2020-01-31 19:37] jlewi opened #1582 "Update Docs To Point To 1.0 RC"
We need to update the kubeflow website docs to put to the 1.0 RC

I.e we want the docs to point to the "v1.0.0" yaml files and the 1.0 RC for kfctl.

See docs:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#updating-version-numbers-etc-for-the-upcoming-release-major-minor-or-patch

[2020-01-31 20:53] jlewi commented on #1581
It looks like the DNS entry is set but the certificate still isn't valid

If I do the following I get the page as expected

[code]

Could this be the issue mentioned in the [docs](https://community.netlify.com/t/common-issue-how-to-use-netlify-s-branch-deploy-feature-without-netlify-dns/128) about SSL support and external DNS?

Why is the v0-7 subdomain still redirecting  to

[code]

[2020-02-01 01:07] sarahmaddox commented on #1581
@jlewi The website at www.kubeflow.org now declares itself to be an unmaintained version of the docs, and gives people a link for up to date docs which points them back to the same place:

![image](https://user-images.githubusercontent.com/6138251/73584248-f2810880-444b-11ea-8250-335b53f50805.png)

[2020-02-01 01:15] sarahmaddox commented on #1581
My recommendation is to keep www.kubeflow.org reflecting the master, without needing to do any redirects. When we're ready to start publishing the docs for an RC (in this case, the v1.0.0 RCs) then we should (a) make sure we've already created the archive version for the current docs (in this case v07. which we have created) and (b) change the version number on the master and on www.kubeflow.org t

[2020-02-01 01:16] sarahmaddox commented on #1582
We need to fix the versioning of the doc site first. See issue https://github.com/kubeflow/website/issues/1581

[2020-02-01 20:54] jlewi commented on #1581
@sarahmaddox Can we just remove the banner on the v0.7-branch?

When people go to www.kubeflow.org they should see the v0.7 version of the docs.
I would rather not direct users to 1.0 docs and then force them to redirect. If we show 1.0 docs on www.kubeflow.org that is an invitation for people to try it out and get frustrated when things don't work.

[2020-02-01 20:58] jlewi commented on #1581
The master version of the docs are now available on
https://master.kubeflow.org/
But you will get a

`NET::ERR_CERT_COMMON_NAME_INVALID

This server could not prove that it is master.kubeflow.org; its security certificate is from *.netlify.com. This may be caused by a misconfiguration or an attacker intercepting your connection.
`

In chrome you should be able to click on advanced and then just pr

[2020-02-01 21:11] jlewi opened #1586 "Invalid SSL Certificates on master.kubeflow.org"
in #1581 we started taking advantage of Netllfy's branch publishing feature to publish the website

As a result

* The master branch is now available on master.kubeflow.org
* When we create a release branch for the docs, we can configure Netlify to use that branch for
   www.kubeflow.org
* This is intended to allow docs for the upcoming release to be developed on master and viewed
   on master.kub

[2020-02-01 21:12] jlewi commented on #1581
v0-7-branch.kubeflow.org still redirects to master.kubeflow.org I wonder if this is because we've configured kubeflow.org to direct to the the v0.7 branch?

kubeflow/website#1586 for the cert error.

[2020-02-01 21:22] sarahmaddox commented on #1581
I cannot access master.kubeflow.org on either my corp or my personal account in Chrome. I can access it in incognito.

Having the site show old, unmaintained docs is bad UX for contributors, whether we show the banner or not - they'll see a version of the docs that doesn't reflect what's in the repo. When their pull requests are merged, they won't see the update reflected in the docs. IMO we there

[2020-02-01 21:54] jlewi commented on #1581
@sarahmaddox what about https://master--competent-brattain-de2d6d.netlify.com/?

I agree its bad for contributors but what about users? If we start publishing 1.0 docs at www.kubeflow.org and showing them to users isn't that exposing users to our experiments?

My concern is that users will go to www.kubeflow.org try out 1.0, complain about it, and then we will tell them its not ready and to try v0

[2020-02-01 22:33] sarahmaddox commented on #1581
Yes, I can access https://master--competent-brattain-de2d6d.netlify.com/.

This also now works: https://v0-7.kubeflow.org/

I don't have a way to automatically merge all the PRs when we're ready, nor to atomically publish all the v1.0 docs at once. I still favor the solution of showing the experimental version on the main doc site when we have a reasonably stable RC, and publishing the docs serial

[2020-02-02 00:25] jlewi commented on #1581
@sarahmaddox I think we can separate this into two questions

1. What do we for PRs that are aimed at the upcoming release
1. What do we show to users

We can either point www.kubeflow.org at the v0.7-branch or at master.

The reason I think we should point www.kubeflow.org at the v0.7-branch is that this unblocks 1.0 development on master.

The alternative would be to treat master as "v0.7" and d

[2020-02-02 00:34] jlewi commented on #1581
For the SSL certificate issue; the [docs](https://community.netlify.com/t/common-issue-how-to-use-netlify-s-branch-deploy-feature-without-netlify-dns/128) say to contact technical support. So I submitted a request.

[2020-02-02 03:01] jlewi commented on #1586
For the SSL certificate issue; the [docs](https://community.netlify.com/t/common-issue-how-to-use-netlify-s-branch-deploy-feature-without-netlify-dns/128) say to contact technical support. So I submitted a request.

[2020-02-02 03:03] jlewi commented on #1586
Docs can also be accessed at
https://master--competent-brattain-de2d6d.netlify.com/

[2020-02-02 04:06] jlewi commented on #1586
Contacting support worked. A new SSL certificate was published and I can now access it at
https://master.kubeflow.org/

[2020-02-02 04:06] #1586 closed

[2020-02-02 04:07] jlewi commented on #1581
Certificate has been fixed by netlfiy support.

I was able to access https://master.kubeflow.org/  with no more warnings.

kubeflow/kubeflow#4717 is pending to update instructions.

[2020-02-02 04:39] abhi-g commented on #1581
Awesome.

I think for Kubeflow Users the current release version is 0.7.x until we
release 1.0. Therefore www.kubeflow.org should be pointing to stable docs
from 0.7.

From developer perspective:
 - 0.7 docs are mostly stable and shouldn't need changes. If in off cases
they do, then the developers can merge cherry picks, or make modifications
in 0.7 branch.
- they should have easy way to update do

[2020-02-02 12:52] sarahmaddox commented on #1581
Thanks @abhi-g and @jlewi

[2020-02-02 15:31] sarahmaddox commented on #1540
We're using the true/false parameter in the Kubeflow docs and it's working well.

I'm going to close this issue as answered. Please do re-open it if you'd like to discuss it further.

/close

[2020-02-02 15:31] #1540 closed

[2020-02-02 18:24] sarahmaddox opened #1587 "Change website version to v1.0RC"
Now that we have some [v1.0 RCs](https://github.com/kubeflow/kfctl/releases) available, we should update the master version of the website to indicate that the docs are moving towards a v1.0 release. The updates will appear on master.kubeflow.org only, as www.kubeflow.org is currently pointed at the v0.7 doc archive.

[2020-02-02 18:24] sarahmaddox commented on #1587
/assign

[2020-02-02 18:35] sarahmaddox opened #1588 "Remove our version banner customization when included in Docsy"
When PR https://github.com/google/docsy/pull/189 is merged into Docsy, we should remove our customizations for the version banner (see PR https://github.com/kubeflow/website/pull/1535) and use the theme templates instead.

[2020-02-03 12:35] krishnadurai opened #1592 "Update documentation for kfctl_istio_dex.yaml in website"
Documentation for yaml config kfctl_istio_dex in the website needs to be updated in order to:

1. Accommodate comments removed from the KfDef config files. (kubeflow/manifests#826)
1. Convert naming to kfctl_istio_dex (kubeflow/manifests#599)

/assign @krishnadurai
/cc @yanniszark @johnugeorge
/area docs
/priority p1

Relates to #1582

[2020-02-03 12:40] krishnadurai commented on #1551
@yanniszark I've opened an issue kubeflow/website#1592 for making the naming convention of the configuration to kfctl_istio_dex.yaml

[2020-02-03 14:00] cloudbow opened #1593 "Offline book format (Kindle/EPUB/PDF) for website"
There needs to be a kindle book avaialable for this documentation as its too tedious to read this for a offline reference