[2019-04-30 04:20] gyliu513 commented on #333
/assign @jinchihe

[2019-04-30 04:20] gyliu513 commented on #333
Thanks @sarahmaddox , @jinchihe will start work for this.

[2019-04-30 04:52] sarahmaddox opened #673 "GCP doc on deployment UI should describe new basic auth rather than "skip IAP""
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/

The "skip IAP" option has been replaced by 3 options:

* Log in with IAP
* Log in with username / password
* Set up endpoint later

[2019-04-30 04:52] sarahmaddox commented on #673
/assign

[2019-04-30 04:59] sarahmaddox opened #674 "GCP doc on deployment UI should explain the "create permanent storage" option"
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/

[2019-04-30 04:59] sarahmaddox commented on #674
/assign

[2019-04-30 05:10] sarahmaddox commented on #673
At the same time, fix up the CLI and UI deployment guides so they give more of a clue about where the user made the choice between IAP and basic auth.

[2019-04-30 05:33] sarahmaddox commented on #673
Also fix up the guide to monitoring IAP:
http://localhost:1313/docs/gke/deploy/monitor-iap-setup/

[2019-04-30 05:45] sarahmaddox opened #675 "The GCP deployment docs need some tech writing love"
https://www.kubeflow.org/docs/gke/deploy/

The GCP deployment docs have been reworked and updated a few times recently, and need a bit of attention from a tech writer

[2019-04-30 05:45] sarahmaddox commented on #675
/assign

[2019-04-30 08:14] jinchihe commented on #333
Will draft that after Labor holidays. Thanksl

[2019-04-30 19:56] mmuppidi opened #677 "Initial cluster setup for existing cluster"
When running the following command

```${KUBEFLOW_SRC}/scripts/kfctl.sh generate platform```

It raises the following error
[code]

I think in the documentation  "AWS_NODE_GROUP_ROLE_NAMES" should be changed to "AWS_NODEGROUP_ROLE_NAMES"

Ref: https://www.kubeflow.org/docs/aws/deploy/existing-cluster/
Ref: https://github.com/kubeflow/kubeflow/blob/master/scripts/aws/util.sh#L39

[2019-05-01 01:11] sarahmaddox commented on #677
/cc @Jeffwan

[2019-05-01 21:51] Jeffwan commented on #677
@mmuppidi Thanks a lot for reporting this issue. I was carelessly bring in error.  I filed a PR to address it.

[2019-05-02 00:19] sarahmaddox commented on #677
/close

[2019-05-02 00:19] #677 closed

[2019-05-02 00:22] #675 closed

[2019-05-02 04:40] jlewi opened #679 "GCP troubleshooting guide for credentials"
A common failure mode for deploying on GCP is people not having sufficient privileges.
Another failure mode is people not understanding what credentials they are using (i.e running on a GCE VM and using the service account).

We should provide instructions on how people can test/troubleshoot this process

e.g.

1. Running gcloud config list to see what account they are using
1. Checking they have

[2019-05-02 12:08] #670 closed

[2019-05-02 12:08] #671 closed

[2019-05-02 21:42] sarahmaddox commented on #674
Note that the above PR does NOT attempt to address this issue. It just references the issue.

[2019-05-02 21:42] sarahmaddox commented on #673
Note that the above PR does NOT attempt to address this issue. It just references the issue.

[2019-05-03 21:05] kbhawkey opened #680 "Styling of reference docs - PyTorchJob api reference: text colors, size"
- Field names, descriptions are hard to read (choose a darker gray?)
- The table has gray on gray (gray text and gray row color)
- In general, pale blue color is hard to read
- PyTorchReplicaType (string alias), string is light gray in the method signature -- difficult to read
- Why is PyTorchReplicaType listed at the bottom of the page? Link up?
- Could you add a link to the api reference generat

[2019-05-03 22:25] sarahmaddox opened #681 "Improve auth docs"
Fix up the CLI and UI deployment guides so they give more of a clue about where the user made the choice between IAP and basic auth.

Do a tech writer refactor of  the guide to monitoring IAP:
http://localhost:1313/docs/gke/deploy/monitor-iap-setup/

(I've branched these two tasks off from issue https://github.com/kubeflow/website/issues/673.)

[2019-05-03 22:25] sarahmaddox commented on #681
/assign

[2019-05-03 22:31] sarahmaddox commented on #673
I've branched off the additional tasks in comments to another issue (see the above referenced issue). This current issue covers the updates to the deployment UI guide for auth options and storage options only.

@jay-saldanha is working on this issue.

[2019-05-03 22:32] sarahmaddox commented on #674
@jay-saldanha is working on this issue.

[2019-05-08 06:33] gyliu513 commented on #333
FYI @khahmed

[2019-05-08 17:14] joeliedtke commented on #649
/close

[2019-05-08 17:14] #649 closed

[2019-05-09 11:56] #333 closed

[2019-05-09 20:01] sarahmaddox opened #690 "Enhance the Kubeflow.org top-level page [analytics-based]"
Based on the analytics report for the Kubeflow.org top-level page (https://www.kubeflow.org/), March 1 to April 19:

* Bounce rate 41% is good but we want to drop it even lower

    * **Action:** Improve the information content of this page

* Time on page 1.13 is good for a top-level page with low level of tech content
* Num views for this page is highest across the doc set

    * **Action:** Ens

[2019-05-09 20:02] sarahmaddox commented on #690
/assign @iyera

[2019-05-10 00:08] sarahmaddox commented on #623
@theadactyl has suggested that the community wiki would be a good place for the events page.

[2019-05-10 00:35] sarahmaddox opened #692 "Optimise the links on the "about Kubeflow" page [analytics-based]"
Based on analytics report for the [about Kubeflow](https://www.kubeflow.org/docs/about/kubeflow/) page, March 1 to April 19:

* Bounce rate is 63%. That’s higher than average (average is ~ 41 to 55 percent). Given that this page is just an introduction and our intention is to draw people in to get more info about Kubeflow, we need to lower the bounce rate.

    * **Action:** Optimize the links on

[2019-05-10 00:39] sarahmaddox opened #693 "Improve the ksonnet page [analytics-based]"
Analytics strategy: Pick the most popular docs, and the docs where people spend most time, and look at feedback (“helpful” / “not helpful”). If people came to a page and then marked it as “not helpful” we need to fix that.

Page analysed:
https://www.kubeflow.org/docs/components/ksonnet/

The page received 2/4 positive votes.
The votes were as follows:
March 11 - not helpful
March 19 - helpful
Mar

[2019-05-10 00:39] sarahmaddox commented on #693
/help-wanted

[2019-05-10 00:41] sarahmaddox commented on #693
/help

[2019-05-10 00:42] sarahmaddox commented on #693
@iyera This is another issue you could help with.

[2019-05-10 00:51] sarahmaddox opened #694 "Create the docs archive for Kubeflow v0.5"
I think it's time to create the v0.5 branch of the docs and hook it up to the version dropdown on the website.

This is the only outstanding issue that claims to be relevant to v0.5:
https://github.com/kubeflow/website/issues/650

Pretty soon we'll start adding v0.6 features.

[2019-05-10 00:52] sarahmaddox commented on #694
/assign @abhi-g

/cc @jlewi
/cc @paveldournov

What do you folks think?

[2019-05-12 19:36] sarahmaddox commented on #469
/assign

Starting work on this now. The style guide is needed for the Kubeflow Doc Sprint as well as to guide contributors in general.

[2019-05-13 14:06] jlewi commented on #694
lgtm

[2019-05-14 02:11] #681 closed

[2019-05-14 02:20] sarahmaddox commented on #669
/assign

[2019-05-14 05:18] sarahmaddox commented on #647
Thanks for raising this issue! The [CLI deployment guide](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) now includes the following command:

[code]

/close

[2019-05-14 05:18] #647 closed

[2019-05-14 05:20] sarahmaddox commented on #611
/close

[2019-05-14 05:20] #611 closed

[2019-05-14 22:50] #669 closed

[2019-05-15 02:40] sarahmaddox commented on #575
/assign

[2019-05-15 03:24] jlewi commented on #650
#702 needs to be cherry-picked onto the v0.5-branch before we close this.

[2019-05-15 03:29] jlewi opened #703 "Grant sarah and abhishek access to netlify"
It looks like netlify allows access to be shared with individuals
You should be able to login with SSO (e.g. github) if it matches your email

Currently @jlewi and @richardsliu are members

I'm adding @sarahmaddox and @abhi-g

I needed to upgrade to paid plan to add more members

[2019-05-15 03:29] jlewi commented on #703
With the current plan we can have up to 5 members

[2019-05-15 05:37] sarahmaddox opened #704 "Remove 2 sentences that imply Pipelines is available only on GCP"
On page:
https://www.kubeflow.org/docs/pipelines/pipelines-overview/

Remove these 2 sentences:

"You can try it currently with a Kubeflow deployment on GKE in Google Cloud Platform (GCP). See the guide to deploying Kubeflow on GCP."

[2019-05-15 05:37] sarahmaddox commented on #704
/good-first-issue

[2019-05-15 05:59] sarahmaddox commented on #694
This task is in progress. We've created the v0.5 archive and hooked it up to the version dropdown on the website. The remaining task is to get an SSL certificate.

[2019-05-15 06:06] sarahmaddox commented on #575
On re-examining the Pipelines docs, I think we cover the UI well enough. I'd prefer not to have exhaustive docs on the UI, as a UI should be self-explanatory.

We have the quickstart, which introduces most of the UI:
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

We have the overview, which includes some of the UI as an explanation of the concepts of pipelines:
https://www.kubeflow

[2019-05-15 06:08] sarahmaddox commented on #574
/assign

[2019-05-15 06:09] sarahmaddox commented on #648
/assign

[2019-05-15 06:47] sarahmaddox opened #706 "Move the guide to preemptible VMs/GPUs into the Pipelines SDK section"
These 2 docs are closely related and should be in the same section of the docs:

* https://www.kubeflow.org/docs/pipelines/preemptible/
* https://www.kubeflow.org/docs/pipelines/sdk/enable-gpu-and-tpu/

Note also that they're both GCP-specific.

[2019-05-15 18:05] aronchick opened #707 "Add documentation about pipelines for how to change the label on an image"
From here: https://kubeflow.slack.com/messages/CE10KS9M4/convo/CE10KS9M4-1557868198.070200/

Is there a way to specify the sha256 for a container as a parameter of the pipeline, so that when iterating on the containers in development I don’t need to recompile and upload the pipeline? So far I’ve been hardcoding the full address for the compiled container (on google cloud registry) and then compili

[2019-05-15 18:05] aronchick opened #708 "Add documentation on how to kick off a pipeline via API/CLI/SDK"
Even if it's just how to generate swagger and create a client from that

[2019-05-15 18:20] paveldournov commented on #575
My vote is to prioritize the UI programmability, i.e. the way users can generate visualizations for the data, integrate with tensorBoard, generate traceable metrics, and logs. It is an intersection between DSL and UI.

[2019-05-16 00:40] sarahmaddox commented on #574
Related: https://github.com/kubeflow/website/issues/708

[2019-05-16 01:09] sarahmaddox commented on #575
Related docs:

* https://www.kubeflow.org/docs/pipelines/metrics/output-viewer/
* https://www.kubeflow.org/docs/pipelines/metrics/pipelines-metrics/

[2019-05-16 01:11] sarahmaddox commented on #469
/close

[2019-05-16 01:11] #469 closed

[2019-05-16 22:30] #648 closed

[2019-05-17 00:11] joeliedtke commented on #594
Per karthikv2k in Fairing issue 248
--------
Yes, you can use docker hub. You need to run "docker login" to get the right creds to push.

If you are using KF notebooks then you need to run "docker login" within the container or copy your docker config (~/.docker/config.json) from your laptop to the notebook instance.

You may need to install docker client in the container to run "docker login" in

[2019-05-17 04:36] sarahmaddox commented on #421
The CLI deployment doc now explains how to set up basic auth:
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

/close

[2019-05-17 04:36] #421 closed

[2019-05-17 04:52] sarahmaddox commented on #694
SSL up and running. Thanks all!

/close

[2019-05-17 04:52] #694 closed

[2019-05-17 04:52] sarahmaddox commented on #703
Thanks @jlewi !

/close

[2019-05-17 04:52] #703 closed

[2019-05-17 04:54] sarahmaddox commented on #650
/close

[2019-05-17 04:54] #650 closed

[2019-05-17 05:50] #632 closed

[2019-05-17 09:14] karlschriek opened #714 "Guide for installing Kubeflow on EKS does not work"
This guide (https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/) currently does not work. The step ` ${KUBEFLOW_SRC}/scripts/kfctl.sh generate platform` creates a template using `ksctl.io/v1alpha4` which is not compatible with the newest version of `eksctl `.

The generated template needs to be manually changed to `ksctl.io/v1alpha5`.

Yesterday, after making that change the rest the worked

[2019-05-17 17:26] chupman commented on #635
Found the [commit](https://github.com/kubeflow/pytorch-operator/commit/bcb6a34087319c2393c54ea6a6da4c7fa7df0ae1#diff-bfebe34154a0dfd9fc7b447fc9ed74e9) that broke the link. I'll submit a PR to fix.

[2019-05-17 18:52] sarahmaddox commented on #714
/cc @Jeffwan

[2019-05-17 19:25] Jeffwan commented on #714
@karlschriek Thanks for reporting this issue.
We recently have one PR merged into upstream and brings a bug here.

Please check https://github.com/kubeflow/kubeflow/pull/3302.  You can manually change value in `${KUBEFLOW_SRC}/${KFAPP}/ks_app/vendor/kubeflow/aws/istio-ingress.libsonnet` this file before it merged.

For eksctl version problem, we talked with eksctl team and add backward compatibili

[2019-05-17 19:40] #635 closed

[2019-05-17 20:40] michelle192837 opened #716 ".gitattributes path "resource/" is not correctly parsed"
Hi! Getting a error in Prow: "error parsing pattern: directory patterns are not matched recursively, use path/** instead: <resources/>"

Parsing code: https://github.com/kubernetes/test-infra/blob/1b4923af3b1b6de999f7f5d8e946ddd398233f40/prow/gitattributes/gitattributes.go#L90

Think someone should just need to use 'resources/**' instead of 'resources/' in the .gitattributes file.

[2019-05-17 20:56] sarahmaddox commented on #716
Hallo @michelle192837 Just checking, as I don't know much about this area: Is Prow complaining about a parsing error that originates in the kubeflow/website repo?

[2019-05-17 20:59] michelle192837 commented on #716
I believe that's the case! The error is reported by hook, specifically for https://github.com/kubeflow/website/pull/715

[2019-05-18 00:24] Jeffwan commented on #714
@karlschriek  Please have another try. I tested it and it's working well now.

[2019-05-20 04:45] sarahmaddox opened #723 "Add sample code and screenshot for Pipelines Markdown output viewer"
This page will soon show code snippets and images for all the Pipelines output viewer types except the `markdown` type:
https://www.kubeflow.org/docs/pipelines/metrics/output-viewer/

We should add a code snippet and screenshot showing the `markdown` option for an output viewer.

[2019-05-20 07:48] animeshsingh commented on #704
Can be closed with #721

[2019-05-20 09:20] karlschriek commented on #714
Yes, this works thanks. There is however no guarantee that it won't break because of some other upstream change. Wouldn't it make sense to change this guide to work with specificly defined versions of `ekctl`, `kfctl` etc. rather than using master?

[2019-05-20 09:42] karlschriek opened #724 "TensorFlow Serving `ks generate tf-serving-service mnist-service` prototype name not found"
I am working through the following guide: https://www.kubeflow.org/docs/components/tfserving_new/

The very first step here fails (`ks generate tf-serving-service mnist-service`).

Firstly, if used exactly as above this will result in the following error:

`ERROR finding app root from starting path: : unable to find ksonnet project `

So it is necessary to first create a ks project and cd to the p

[2019-05-20 10:46] karlschriek opened #725 "AWS: TensorFlow Serving: "Sending prediction request" does not work"
I'm going through the following guide: https://www.kubeflow.org/docs/components/tfserving_new/

I've managed to get the guide running up to this point: "Sending prediction request directly" (see my issue here: https://github.com/kubeflow/website/issues/724)

Running `kubectl get svc mnist-service` will return the external IP to use. But the line that follows will not work:

`curl -X POST -d @input

[2019-05-20 15:03] xaoo opened #726 "mysql Backup&Restore procedure"
Hey,

we are trying to restore kubeflow mysql db. Is a mysql dump enogh to backup?

we are dealing with the current error after restore:
Error: failed to generate Pipeline graph.
An error occurred
Cannot read property 'spec' of undefine

[2019-05-20 17:51] Jeffwan commented on #714
@karlschriek The original plan was use 0.5 branch as stable branch and new coming changes are against master. At the same time, I am working on golang version and it will be release soon and we will change to that version and get ride of libs management. Let me double check schedule, if that's going to be available soon, we will do a doc upgrade. If it comes later, I will change documentation to

[2019-05-20 18:52] sarahmaddox commented on #726
/assign @IronPan

[2019-05-20 18:53] karlschriek opened #727 "AWS: TensorFlow Serving: 0/1 nodes are available: 1 Insufficient nvidia.com/gpu."
When following this guide, https://www.kubeflow.org/docs/components/tfserving_new/, I am unable to serve a model using `ks param set ${MODEL_COMPONENT} numGpus 1`. Doing so results in an error `0/1 nodes are available: 1 Insufficient nvidia.com/gpu.`, which presumably means that the `nvidia.com/gpu` plugin has not been deployed. I am at a loss as to exactly how this should be done. Documentation o

[2019-05-20 18:58] sarahmaddox commented on #704
/close

Thanks!

[2019-05-20 18:58] #704 closed

[2019-05-21 05:44] sarahmaddox commented on #399
/assign

I'll tackle this as part of PR https://github.com/kubeflow/website/pull/712

[2019-05-21 11:41] xaoo commented on #726
I found that if I add a pipeline, backup the mysql DB, delete the pipeline then restore, that pipeline will return the erro above.

all the other pipelines, which were not deleted, just backed and restored, are ok.

[2019-05-22 00:08] #673 closed

[2019-05-22 00:08] #674 closed

[2019-05-22 00:10] sarahmaddox commented on #399
/close

[2019-05-22 00:10] #399 closed

[2019-05-22 05:54] sarahmaddox opened #730 "Code formatting embedded in tables is hard to read"
Need to increase the contrast or add a background.
This affects the Docsy theme too.
See similar change already fixed:
https://github.com/google/docsy/issues/60

[2019-05-24 00:51] sarahmaddox commented on #730
/assign

[2019-05-24 19:07] sarahmaddox commented on #631
To fix, add a "Next steps" section which includes a link to this page:
https://www.kubeflow.org/docs/other-guides/accessing-uis/

[2019-05-27 12:37] xaoo commented on #726
Hey guys, any suggestions?
I need to know what that delete button does when a pipeline is deleted.
Because it's sure deletes more than something in mysql.

In this way I can prepare some consistent backups.

TY
//George

[2019-05-27 22:49] sarahmaddox commented on #680
Issue https://github.com/kubeflow/website/issues/730 addresses the styling of code within a table.

For the overall table styling, I recommend we use Bootstrap table styling. This will get rid of the alternating grey and white rows, add a border, and add a background to the header row. Example:

[code]

[2019-05-28 03:27] #730 closed

[2019-05-28 20:58] kbhawkey commented on #680
👍

[2019-05-28 23:42] sarahmaddox opened #734 "Create a minimal usage example for the Kubeflow Pipelines API"
For documenting the Kubeflow Pipelines API, we need a minimal example using the API. Suggestion: A bash script that uses curl to call the API with some parameters, highlighting the primary use case for the API.

We'll use the example in a doc that introduces the API and links to the generated API reference.

[2019-05-28 23:43] sarahmaddox commented on #734
/assign @IronPan

[2019-05-29 01:46] #575 closed

[2019-05-29 05:08] sarahmaddox opened #737 "Pipelines: Convert an existing TensorFlow tutorial to a pipeline and use prebuilt components"
Convert an existing TensorFlow tutorial to a pipeline - see some of the new, fun TensorFlow 2.0 tutorials listed below - and where feasible use Kubeflow Pipelines reusable components in the pipeline.

Notes:

* We'll probably need to develop one or more reusable components as well as building the tutorial, to fill any gaps in our current supply of reusable components.
* These are the “hot” areas o

[2019-05-29 05:14] sarahmaddox opened #738 "Pipelines: Create a pipeline-oriented Katib tutorial"
Create a pipeline-oriented hyperparameter tuning (Katib) example, and use one or more prebuilt (reusable) Kubeflow Pipelines components.

We probably need to develop a reusable component as well as the tutorial, to fill any gaps in our current supply of reusable components.

[2019-05-29 05:42] sarahmaddox commented on #578
Discussed with @IronPan today. We'll shelve this task for the moment, since the CLI is not up to date. The primary ways to use Kubeflow Pipelines are the UI, the Python SDK/DSL, and the REST API.

/assign
/unassign @vicaire
/close

[2019-05-29 05:42] #578 closed

[2019-05-31 14:09] brussell757 opened #745 "istio-ingress is not a component or module"
After installing Kubeflow via [kfctl_v0.5.0_linux.tar.gz](https://github.com/kubeflow/kubeflow/releases/tag/v0.5.0) and following the guide at [https://www.kubeflow.org/docs/aws/authentication/](https://www.kubeflow.org/docs/aws/authentication/) when running the following commands: <br>
`ks param set istio-ingress CognitoUserPoolArn arn:aws:cognito-idp:us-west-2:xxx:userpool/xxx
ks param set istio

[2019-05-31 14:43] haresh-chudgar opened #746 "Run trigger doc is vague"
The Run trigger documentation references a flag but there's no documentation on how that flag should be set in the pipeline and no examples are linked.

[2019-05-31 16:03] kbhawkey commented on #680
Closing. Re-open as needed.

[2019-06-02 12:00] masonlr opened #749 "Kubeflow on Kubernetes: subPath dynamic volume provisioning broken"
The Kubeflow on Kubernetes getting started docs indicate [kind](https://github.com/kubernetes-sigs/kind#installation-and-usage) as a recommended tool for local development and testing (introduced in https://github.com/kubeflow/website/commit/1a95986c4c1c2b8adbe5655ed7de94050492de23).

@gyliu513, I'm new to kubeflow and having difficulty deploying using kind due to, I think, a kind issue with the `

[2019-06-02 18:49] sarahmaddox commented on #749
/assign @gyliu513

[2019-06-02 20:28] sarahmaddox commented on #680
The tables in the ref docs could still do with some style improvements:
https://www.kubeflow.org/docs/reference/tfjob/v1/common/

In particular, it'd help to add borders, highlight the header row, and remove the alternating gre/white rows. See earlier comment for styling suggestion.

[2019-06-03 00:16] sarahmaddox commented on #723
/doc-sprint

[2019-06-03 00:19] sarahmaddox commented on #714
Thanks @Jeffwan and @karlschriek It looks as if this issue is solved for now. I'll close it, but please do re-open it if there's still work to be done at this time.

/close

[2019-06-03 00:19] #714 closed

[2019-06-03 00:22] sarahmaddox commented on #656
/close

[2019-06-03 00:22] #656 closed

[2019-06-03 00:24] sarahmaddox commented on #617
@zabbasi Would you like to tackle this issue during the Kubeflow Doc Sprint (July 10-12)?

[2019-06-03 00:26] sarahmaddox commented on #616
/close - see comments on PR https://github.com/kubeflow/website/pull/627

[2019-06-03 00:26] sarahmaddox commented on #616
/close

[2019-06-03 00:26] #616 closed

[2019-06-03 00:28] sarahmaddox commented on #560
@mvartakAtVerta Would you like to tackle this issue during the [Kubeflow Doc Sprint (July 10-12)](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint)?

[2019-06-03 00:30] sarahmaddox commented on #746
I think this is the page that the issue refers to:
https://www.kubeflow.org/docs/pipelines/concepts/run-trigger/

[2019-06-03 00:58] sarahmaddox opened #750 "Curate and document the Pipelines "cookbook" examples"
In contrast to end-to-end examples, the "cookbook" examples are specific tasks that people want to do. We have a list of such tasks collected from customers. In particular some of the community members attending the [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint) have expertise in these areas.

TODO: Sort out the list of cookbook examples and then build the exam

[2019-06-03 01:07] sarahmaddox opened #751 "Pipelines: Create a tutorial using the Python SDK"
Create a Python SDK tutorial for Kubeflow Pipelines:

* creating experiments
* uploading pipelines, and
* running runs.

[2019-06-03 01:09] sarahmaddox opened #752 "Pipelines: Document the new pipeline template"
Includes doc plus sample code.

[2019-06-03 01:27] sarahmaddox opened #753 "Docs for operating Kubeflow"
Once Kubeflow is deployed, what are the administration / operations tasks? This should include scaling, as well as what is monitored.

@carmine Thanks for this suggestion!

[2019-06-03 01:33] sarahmaddox opened #754 "Getting started with Kubeflow on Docker Desktop (on prem)"
Create a getting-started guide for running Kubeflow on [Docker Desktop](https://www.docker.com/products/docker-desktop)

TODO: Are there any issues running Kubeflow using a Docker For Desktop Cluster?

Thanks for suggesting this guide, @DanSanche!

Related: https://blog.docker.com/2018/07/kubernetes-is-now-available-in-docker-desktop-stable-channel/

[2019-06-03 01:34] sarahmaddox commented on #754
/assign @DanSanche

Dan will tackle this during the [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint).

[2019-06-03 01:39] sarahmaddox opened #755 "A tutorial on serving using Cloud Run"
The MNIST sample would be a good starting point. REplace tf-serving component with a Cloud Run version.

Thanks @DanSanche for suggesting this doc!

[2019-06-03 01:41] sarahmaddox opened #756 "A guide to batch prediction through Kubeflow"
Thanks @DanSanche for suggesting this doc!

[2019-06-03 01:48] sarahmaddox opened #757 "Kubeflow Pipelines Volume examples"
The Kubeflow Pipelines DSL was recently extended to include `PipelineVolume` and `PipelineVolumeSnapshot`. These are an abstraction for the user to manipulate PVCs and VolumeSnapshots for data management purposes, also exposing dependencies according to their usage.

See PR https://github.com/kubeflow/pipelines/pull/926 for further details.

We need and example and doc covering the above feature.

[2019-06-03 01:51] sarahmaddox opened #758 "Guide to launching persistent Kubernetes resources through Kubeflow Pipelines"
Using a pipeline step to launch long-lived Kubernetes resources seems to be the standard way of doing certain tasks, like launching web servers. If this is recommended, it should be explained in the docs. If there's a better way, it should be mentioned (https://github.com/kubeflow/examples/blob/21f76812ec2e0f1e98827b9dede5350080b7e5d3/pipelines/mnist-pipelines/mnist_pipeline.py#L62)

Thanks @DanSa

[2019-06-03 01:53] sarahmaddox opened #759 "Guide to setting environment variables in Kubeflow Pipelines"
Setting environment variables is very common in container-based workflows. It is supported in Kubeflow Pipelines, but you have to dig through the code to find out how: https://github.com/kubeflow/pipelines/blob/8110de0419b943a0666fe8dc759fe70f7e0517cc/sdk/python/kfp/dsl/_container_op.py#L338

We should create a guide explaining how to do it.

Thanks to @DanSanche for suggesting this doc.

[2019-06-03 01:55] sarahmaddox opened #760 "Use lightweight Python components (in a notebook) to solve a specific problem"
Build a workflow using lightweight Python components to receive data; filter; split into train and test; train; predict; analyse the results. Tie the steps together in a pipeline and run on a cluster.

Thanks @Ark-kun for suggesting this doc!

[2019-06-03 01:56] sarahmaddox commented on #760
/assign @Ark-kun

@Ark-kun will work on this doc during the [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint).

[2019-06-03 02:10] sarahmaddox commented on #752
Turns out this task isn't feasible right now. I'll close the issue, and we may open it again later.

/close

[2019-06-03 02:10] #752 closed

[2019-06-03 14:27] leafmulch opened #761 "KSonnet being archived / Kubeflow on Kubernetes"
The tool ks is being archived https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware.

[2019-06-03 17:56] #643 closed

[2019-06-03 18:04] joeliedtke commented on #595
/close

[2019-06-03 18:04] #595 closed

[2019-06-03 18:05] #594 closed

[2019-06-04 00:11] elikatsis commented on #757
Hi there!
The initial design has changed after the review process.
For example, `PipelineVolumeSnapshot`s don't exist. Also, the manipulation of any Kubernetes Resource is available via `ResourceOp` class.

The final implementation is closer to [this design](https://github.com/kubeflow/pipelines/issues/801#issuecomment-477395555). The merged PR has just a few minor enhancements (it doesn't diverge

[2019-06-04 00:28] sarahmaddox commented on #757
Thanks @elikatsis! Would you like to take part in the doc sprint, to help create the docs? July 10-12. You can take part on site (Kirkland) or online.

Here's the [Kanban board for the Kubeflow Doc Sprint](https://github.com/orgs/kubeflow/projects/21?fullscreen=true).

Full details are on the [doc sprint wiki](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint).

Here's the [signup form]

[2019-06-04 01:42] sarahmaddox commented on #693
I'm going to close this issue, since we're moving from ksonnet to kustomize due to the upcoming archival of ksonnet.

/close

[2019-06-04 01:42] #693 closed

[2019-06-04 02:58] sarahmaddox commented on #726
/cc @paveldournov Do you have any suggestions for this problem? Many thanks, Sarah

[2019-06-04 03:05] sarahmaddox commented on #539
/close

[2019-06-04 03:05] #539 closed

[2019-06-04 03:14] sarahmaddox commented on #432
/close

[2019-06-04 03:14] #432 closed

[2019-06-04 03:17] sarahmaddox commented on #432
Fixed by https://github.com/kubeflow/website/pull/712

[2019-06-04 03:24] sarahmaddox commented on #631
This is the current location of the page that needs updating:
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-06-04 03:39] sarahmaddox commented on #320
The page is now here:
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

[2019-06-04 03:40] sarahmaddox commented on #320
Note: The content should not assume that the person is using Kubeflow on GCP, except in the section where we run a GCP-specific ML example.

[2019-06-04 03:47] sarahmaddox commented on #232
/assign
/close

Fixed in https://github.com/kubeflow/website/pull/633

See [how to configure a custom notebook](https://www.kubeflow.org/docs/notebooks/custom-notebook/) and related pages.

[2019-06-04 03:47] #232 closed

[2019-06-04 03:50] sarahmaddox commented on #202
/assign
/close

I'm going to close this issue, because the devstats dashboard is no longer working. Please do re-open the issue if there's work to be done in the docs.

[2019-06-04 03:50] #202 closed

[2019-06-04 03:54] sarahmaddox commented on #210
The doc is now here: https://www.kubeflow.org/docs/started/getting-started-minikube/

[2019-06-04 03:57] sarahmaddox commented on #81
@gaocegege Does this error still occur?

[2019-06-04 03:58] sarahmaddox commented on #75
This is the page: https://www.kubeflow.org/docs/about/kubeflow/

[2019-06-04 04:01] sarahmaddox commented on #56
/assign

[2019-06-04 04:05] sarahmaddox commented on #56
Our docs now showcase the pattern of including a "Next steps" section to help people go somewhere after deploying Kubeflow. For example:

*  [Resources and troubleshooting sections in "getting started"](https://www.kubeflow.org/docs/started/getting-started/)

* [Next steps section in GCP getting started docs](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#next-steps)

* [Next steps section i

[2019-06-04 04:05] #56 closed

[2019-06-04 04:10] sarahmaddox commented on #211
/assign

[2019-06-04 04:11] sarahmaddox commented on #211
We now have this doc:
https://www.kubeflow.org/docs/gke/monitoring/

I think that covers this issue, so I'm going to close the issue. Please do re-open it if there's still doc work to be done.

/close

[2019-06-04 04:11] #211 closed

[2019-06-04 04:11] sarahmaddox commented on #52
/assign

[2019-06-04 04:11] sarahmaddox commented on #52
We now have this doc:
https://www.kubeflow.org/docs/gke/monitoring/

I think that covers this issue, so I'm going to close the issue. Please do re-open it if there's still doc work to be done.

/close

[2019-06-04 04:11] #52 closed

[2019-06-04 05:04] gaocegege commented on #81
Nope, thanks for the fix. It seems that we are using https://code.jquery.com/jquery-3.3.1.min.js

/close

[2019-06-04 05:04] #81 closed

[2019-06-04 23:23] sarahmaddox opened #769 "Broken link to Pipelines SDK docs"
On this page:
https://www.kubeflow.org/docs/pipelines/reference/

PR https://github.com/kubeflow/website/pull/740 attempted to add a link to the Pipelines SDK docs, but the PR added the link in the wrong place. The result is no link.

[2019-06-04 23:23] sarahmaddox commented on #769
/assign

[2019-06-04 23:25] sarahmaddox commented on #769
We can also close issue https://github.com/kubeflow/website/issues/345 when this one is resolved.

[2019-06-04 23:25] sarahmaddox commented on #345
/assign

[2019-06-05 00:16] sarahmaddox opened #771 "Broken formatting and link to Pipelines API reference docs"
There's an empty bullet point on the Pipelines reference index page:
https://www.kubeflow.org/docs/pipelines/reference/

And the navigation of the website is broken by the Pipelines API reference (generated HTML):
https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

See what we can do to improve the situation, given that the HTML file is auto-generated from Swagger.

[2019-06-05 00:16] sarahmaddox commented on #771
/assign

[2019-06-05 00:19] #769 closed

[2019-06-05 00:19] #345 closed

[2019-06-05 07:05] xaoo commented on #726
Hey Sarah, thank you, that would be really helpful to find out the missing dependency when we delete a pipeline

[2019-06-05 08:53] IronPan commented on #726
just to double check did you follow up this instruction or some other ways
https://www.kubeflow.org/docs/pipelines/upgrade/

[2019-06-05 13:06] xaoo commented on #726
aha, so I can get a backup of all pipeline with _Reinstalling Kubeflow Pipelines_ ?
I just did a mysql dump, deleted a pipeline, and restore the dump, and I saw the delete pipeline is not consistent after restore.

[2019-06-05 21:13] sarahmaddox commented on #320
/assign

[2019-06-05 21:40] sarahmaddox commented on #320
The same issue occurs on this page (no instruction to install kubectl):
https://www.kubeflow.org/docs/other-guides/accessing-uis/

[2019-06-05 22:01] sarahmaddox commented on #422
/assign

[2019-06-05 22:46] #422 closed

[2019-06-05 22:50] #320 closed

[2019-06-05 23:09] sarahmaddox commented on #443
/assign

[2019-06-06 00:20] sarahmaddox commented on #716
/assign

[2019-06-06 00:32] #443 closed

[2019-06-06 01:04] sarahmaddox commented on #725
Related: https://github.com/kubeflow/website/issues/727

[2019-06-06 01:08] sarahmaddox commented on #725
Note that this issue refers to an AWS deployment. The [TensorFlow Serving guide](https://www.kubeflow.org/docs/components/tfserving_new/) should explain the situation in general terms (for clouds other than AWS) and can give an AWS-specific example where useful.

I'm marking this issue for the **doc sprint**. It will take some testing to ensure the updates are correct.

[2019-06-06 01:08] sarahmaddox commented on #727
Note that this issue refers to an AWS deployment. The [TensorFlow Serving guide](https://www.kubeflow.org/docs/components/tfserving_new/) should explain the situation in general terms (for clouds other than AWS) and can give an AWS-specific example where useful.

I'm marking this issue for the **doc sprint**. It will take some testing to ensure the updates are correct.

[2019-06-06 04:11] sarahmaddox commented on #631
/assign

[2019-06-06 04:20] sarahmaddox commented on #692
/assign

[2019-06-06 04:54] sarahmaddox commented on #771
Fixed by https://github.com/kubeflow/website/pull/772

[2019-06-06 04:55] sarahmaddox commented on #771
/close

[2019-06-06 04:55] #771 closed

[2019-06-06 14:29] #726 closed

[2019-06-06 17:18] #716 closed

[2019-06-06 22:11] #631 closed

[2019-06-07 00:10] sarahmaddox opened #782 "Index/landing pages for each section need improvement"
Up until recently, the Docsy theme provided a rudimentary layout for the pages at the start of each section in the docs:
https://github.com/google/docsy/blob/master/layouts/docs/list.html

For Kubeflow, I ended up creating my own layout:
https://github.com/kubeflow/website/blob/master/layouts/docs/list.html

My layout doesn't do a good job of handling the situation where a section includes single

[2019-06-07 00:10] sarahmaddox commented on #782
/assign

[2019-06-07 18:53] sarahmaddox commented on #782
/close

[2019-06-07 18:53] #782 closed

[2019-06-07 21:20] rem20806 commented on #32
Hi! There is an intern team here at Microsoft (consisting of myself, Maanav Dalal, and Mohona Ahmed) that is working to get these docs started if you would like to assign us this issue.

[2019-06-07 21:21] rem20806 commented on #32
We also plan to attend the doc sprint in a few weeks to continue work on this issue.

[2019-06-08 00:36] sarahmaddox commented on #32
/assign

Thanks @rem20806! I've assigned this issue to myself, so people know someone is working on it. Thanks to all three of you for taking it on. And it will be great to see you at the doc sprint too!

[2019-06-08 19:53] tarrade opened #785 "Typo in Documentation/Kubeflow on GCP/Deploying Kubeflow/Deploy using CLI"
Hi there,

I guess in the doc, there is a typo  in Documentation/Kubeflow on GCP/Deploying Kubeflow/Deploy using CLI (on GCP)
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

${PROJECT} - the _name_ of the GCP project where you want Kubeflow deployed.

it should be

${PROJECT} - the **PROJECT_ID** of the GCP project where you want Kubeflow deployed.

It is no the name of the project on GCP th

[2019-06-10 04:27] #692 closed

[2019-06-10 19:17] joeliedtke commented on #592
/assign joeliedtke

[2019-06-11 05:27] sarahmaddox commented on #262
/assign

[2019-06-11 19:39] kbhawkey opened #793 "Upgrade site to latest version of Hugo"
Update the hugo version in netlify.toml to v0.53 or later.
Seems as if Netlify now supports Hugo 0.53 extended on Ubuntu xenial 16.04.
https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify

[2019-06-12 00:57] sarahmaddox opened #795 "Outdated pipelines SDK guide"
The guide to creating a pipeline component instructs people to create a class that inherits from `dsl.ContainerOp` - `class TrainerOp(dsl.ContainerOp)`
https://www.kubeflow.org/docs/pipelines/sdk/build-component/#create-a-python-class-for-your-component

But the related sample has since been updated to use a function that returns a ContainerOp:
https://github.com/kubeflow/pipelines/blob/master/sam

[2019-06-12 04:02] sarahmaddox commented on #262
The docs currently mention Let's Encrypt here:
https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/

[2019-06-12 21:23] galebm1004 opened #797 "kubeflow codelab ui Troubleshooting"
❗ Exception making request: <_Rendezvous of RPC that terminated with: status = StatusCode.UNAVAILABLE details = "Name resolution failure" debug_error_string = "{"created":"@1560374449.373584765","description":"Failed to create subchannel","file":"src/core/ext/filters/client_channel/client_channel.cc","file_line":2706,"referenced_errors":[{"created":"@1560374449.373579829","description":"Name resol

[2019-06-12 21:27] sarahmaddox commented on #797
Hallo @galebm1004 Is this a bug in the documentation?

* If yes, please add a link to the relevant page, or explain any addition required to the docs.
* If no, please raise this issue in the relevant repository, which may be https://github.com/kubeflow/kubeflow/issues or https://github.com/kubeflow/examples/issues

[2019-06-13 04:24] mameshini opened #799 "Pipelines: End-to-end Tutorial on Agile Stacks"
Provide an end-to-end tutorial for Kubeflow Pipelines available as a pipeline template via Agile Stacks.  A well-organized machine learning project template should modularize data processing, model definition, model training, validation, and inference tasks.  We are using this tutorial to demonstrate how to share code, data sets, and other artifacts between notebooks and pipeline steps. It can be

[2019-06-13 05:16] sarahmaddox commented on #799
This looks excellent @mameshini. Will you tackle this during the upcoming doc sprint? If so, I'll add it to the doc-sprint label and Kanban board.

[2019-06-13 17:09] joeliedtke opened #802 "Fairing: Add tutorials for single node and distributed training with LightGBM"
Currently, we have example notebooks for single node and distributed training with LightGBM but we do not have any documentation. Add a tutorial that describes how to use Fairing to train and predict with LightGBM, based on the example notebooks.

Single node training:
https://github.com/kubeflow/fairing/blob/master/examples/lightgbm/simple-training.ipynb

Distributed training:
https://github.com/

[2019-06-13 17:10] joeliedtke commented on #802
/label doc-sprint

[2019-06-13 17:25] joeliedtke commented on #802
The example notebooks were written for using Fairing and LightGBM to train on Kubeflow on GKE. Assuming that the code is not revised with instructions for using LightGBM in general, this tutorial should go in the following folder:

/docs/fairing/gcp/tutorials/

[2019-06-14 06:57] jariolehtonen opened #804 "No success, no error message either"
Tried to follow the instructions. The graph was not shown as in the instruction, only one node instead. I tried with some wrong project etc. names and those did not cause any error messages to appear.

[2019-06-14 19:20] sarahmaddox commented on #262
/close

[2019-06-14 19:20] #262 closed

[2019-06-14 19:49] sarahmaddox commented on #797
/assign @texasmichelle

@texasmichelle Please would you take a look at this codelab issue?

[2019-06-14 19:49] sarahmaddox commented on #785
/good-first-issue

[2019-06-14 20:02] sarahmaddox opened #806 "The "Create issue" feature should auto-include doc URL"
The "Create issue" feature should auto-include the relevant doc URL in the created issue, but I suspect it doesn't. See this issue, which I suspect was created when the user clicked "Create issue": https://github.com/kubeflow/website/issues/804

It's possible that Docsy doesn't inject the doc URL - if so, raise a Docsy issue. Alternatively, there may be a particular site config in Kubeflow that's

[2019-06-14 20:02] sarahmaddox commented on #806
/assign

[2019-06-14 21:41] mameshini commented on #799
@sarahmaddox Yes please add doc-sprint label to this issue.  The goal is to have it completed prior to the upcoming doc sprint so we can just review, fine tune, and publish it.

[2019-06-14 23:32] sarahmaddox commented on #806
The issue creation may also be happening via the feedback widget.

[2019-06-14 23:33] sarahmaddox commented on #799
Great, thanks @mameshini

[2019-06-14 23:34] sarahmaddox commented on #799
/assign @mameshini

[2019-06-16 02:03] sarahmaddox commented on #806
I've raised an issue for Docsy:
https://github.com/google/docsy/issues/91

[2019-06-16 02:05] sarahmaddox commented on #804
Hallo @jariolehtonen thanks for raising this issue! Please would you add a link to the doc page that you were following when you encountered this problem?

Many thanks
Sarah

[2019-06-16 14:49] blaisethom opened #808 "Suggested update to Kubeflow on Kubernetes doc"
I think it would be good to note that Kubeflow requires Kubernetes v1.11+ (https://github.com/kubeflow/kubeflow/issues/2487). In particular, the current Docker for Mac stable release is on v1.10 so these users will encounter an issue unless they upgrade their Kubernetes.

(In this doc https://www.kubeflow.org/docs/started/getting-started-k8s/)

[2019-06-16 22:29] sarahmaddox opened #809 "Pipelines: Add an overview of the SDK including the DSL"
Add an overview of the Pipelines SDK and the various ways you can use it to build and interact with pipelines.

Replace the following doc, which is a little messy in that it declares itself to be an overview of the DSL but includes other parts of the SDK, and it also doesn't give the full picture:
https://www.kubeflow.org/docs/pipelines/sdk/dsl-overview/

[2019-06-16 22:30] sarahmaddox commented on #809
/assign

[2019-06-16 22:30] sarahmaddox commented on #809
Related to issue https://github.com/kubeflow/website/issues/574

[2019-06-16 22:32] sarahmaddox opened #810 "Pipelines DSL overview - replace links to ref docs"
In the following doc:
https://www.kubeflow.org/docs/pipelines/sdk/dsl-overview/

Now that we have generated reference docs for the Pipelines SDK, we should replace the links to the DSL/SDK repo with links to the generated ref docs.

[2019-06-16 22:33] sarahmaddox commented on #810
/assign

I'll do this as part of tackling issue https://github.com/kubeflow/website/issues/809

[2019-06-17 05:12] sarahmaddox opened #812 "Define "task" in the context of Kubeflow Pipelines"
In the concepts for Kubeflow Pipelines, we currently define a *step* as follows:

(See [doc](https://www.kubeflow.org/docs/pipelines/concepts/step/).)

But I've also heard people talking about a *task* which may have the same or a similar meaning. See for example the [search results for the ref docs](https://kubeflow-pipelines.readthedocs.io/en/latest/search.html?q=task&check_keywords=yes&area=def

[2019-06-17 05:13] sarahmaddox commented on #812
FYI @joeliedtke

[2019-06-17 21:35] sarahmaddox commented on #680
Thank you @kbhawkey for the fix. The generated ref docs look sooo much better! See [improved styling](https://www.kubeflow.org/docs/reference/tfjob/v1beta2/common/) versus [original styling](https://v0-5.kubeflow.org/docs/reference/tfjob/v1beta2/common/).

[2019-06-17 21:35] sarahmaddox commented on #680
/close

[2019-06-17 21:35] #680 closed

[2019-06-18 18:44] adepuravikrishna commented on #785
Hi, I created a PR for this issue.  Could you please review?
https://github.com/kubeflow/website/pull/813

[2019-06-19 00:19] sarahmaddox commented on #737
@zanedurante is interested in working on the "Neural style transfer" tutorial during the doc sprint.

[2019-06-19 13:22] mastrogiovanni opened #814 "Add Getting started use case for Kubeflow in on-prem kubernetes multi-node cluster"
In on-prem multi-node kubernetes cluster Volume provisioning can be a problem since KubeFlow deploy some PersistentVolumeClaims that need to be binded to some Persistent Volume.

Since HostPath Volumes cannot be used in multi-node scenario a basic use case (Getting Started) example could be written using Dynamic Volume Provisioning with a simple NFS Volume.

[2019-06-19 23:02] #809 closed

[2019-06-19 23:02] #810 closed

[2019-06-19 23:21] sarahmaddox commented on #814
This sounds to me like a very useful addition to the docs. @Michele Mastrogiovanni would you like to create the doc as part of the upcoming [Kubeflow Doc Sprint](https://github.com/kubeflow/website/wiki/Kubeflow-Doc-Sprint)? You can take part online or on site in Kirkland, WA.

[2019-06-20 04:08] sarahmaddox commented on #708
An update:

* I've created the intro to the Pipelines SDK, which covers the SDK side of things:
https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/

* The Pipelines CLI isn't complete - we've decided not to document it at this stage.

* That leaves just the Pipelines API.

[2019-06-20 04:31] sarahmaddox opened #817 "Split out the architecture overview from the Pipelines overview"
Move the diagram and associated text from [this section of the Pipelines overview](https://www.kubeflow.org/docs/pipelines/pipelines-overview/#architectural-overview) into a new doc called "architectural overview". Update and improve the diagram and associated text.

[2019-06-20 04:32] sarahmaddox opened #818 "Refactor the navigation for the Pipelines docs"
We've created quite a few Pipelines docs recently. It's time to refactor the left-hand navigation panel for Pipelines. This will affect the index pages for each section too.

Existing structure:

* Overview of Kubeflow Pipelines
* Pipelines Quickstart
* Concepts ...
* Samples and Tutorials
* Building Pipelines with the SDK
  * Install the Kubeflow Pipelines SDK
  * Introduction to the Pipelines SD

[2019-06-20 04:32] sarahmaddox commented on #818
/assign

[2019-06-20 04:35] sarahmaddox commented on #708
I'm going to close this issue, as a duplicate of https://github.com/kubeflow/website/issues/734

/close

[2019-06-20 04:35] #708 closed

[2019-06-20 04:36] sarahmaddox commented on #734
Suggestion from https://github.com/kubeflow/website/issues/708:
"Even if it's just how to generate swagger and create a client from that"

[2019-06-20 04:40] sarahmaddox opened #819 "Pipelines: Update SDK references to point to the generated docs on Read The Docs"
We now have auto-generated SDK ref docs on *Read The Docs*:
https://kubeflow-pipelines.readthedocs.io/en/latest/

We should search for all references in the pages on kubeflow.org that point to the GitHub repo for the SDK, and point to the relevant Read The Docs link instead.

[2019-06-20 15:39] mastrogiovanni commented on #814
Of course! I already registered on the event for online partecipation. Please add this issue to the Kanban.

[2019-06-20 21:57] sarahmaddox opened #822 "Pipelines: Convert the TF "Image Captioning with Attention" tutorial to a pipeline"
Convert the TensorFlow [Image Captioning with Attention](https://www.tensorflow.org/beta/tutorials/text/image_captioning) tutorial to a pipeline and where feasible use Kubeflow Pipelines reusable components in the pipeline.

[2019-06-20 21:58] sarahmaddox commented on #822
@zanedurante will work on this tutorial as part of the Kubeflow Doc Sprint

/doc-sprint

[2019-06-20 22:09] joeliedtke opened #823 "Install Pipelines SDK - SDK Install depends on jq"
The following code sample depends on `jq` which is not installed in the default notebook images. JQ is an open source project, and may not be available in most cases.

`
latest_version=$(curl --silent https://api.github.com/repos/kubeflow/pipelines/releases/latest | jq -r .tag_name)
pip install https://storage.googleapis.com/ml-pipeline/release/${latest_version}/kfp.tar.gz --upgrade
`

Resolution

[2019-06-20 22:23] sarahmaddox commented on #814
Great! I've added this issue to the Kanban board for the doc sprint:
https://github.com/orgs/kubeflow/projects/21

/assign @mastrogiovanni

[2019-06-21 01:52] #818 closed

[2019-06-21 17:58] hamelsmu opened #824 "History Section"
https://www.kubeflow.org/docs/about/kubeflow/

For newcomers this section triggers many questions:

[code]

The natural question for a newcomer is why is that a separate project now and how do they relate?  This is a question people often ask me when they land on this website.  It might be worth fleshing this one out more.  I would make a PR but I don't know the deep history on how these two proje

[2019-06-21 19:44] sarahmaddox commented on #824
Thank you for this question @hamelsmu. Asking people who were in at the start of Kubeflow: @jlewi and @aronchick Do you have an context that we can add to the doc? Please plus in anyone else who may have input.

[2019-06-21 21:36] SinaChavoshi opened #825 "Change doc "Customizing Kubeflow on GKE" to use kustomize not ks"
https://www.kubeflow.org/docs/gke/customizing-gke/

Has out dated reference to ks

Example:
cd ${KF_APP}/ks_app
ks param set jupyter disks "kubeflow-gcfs"

[2019-06-22 20:25] sarahmaddox commented on #574
Starting work on this now.

[2019-06-22 21:17] sarahmaddox commented on #825
We've updated the end-to-end GCP tutorial to use kustomize, but we haven't yet updated the other docs. We should find all docs that need updating, test all the updates, and apply the updates where the test results are good.

[2019-06-22 21:32] sarahmaddox commented on #823
I'm thinking it's perhaps not a good idea to fetch the latest version of pipelines, as that version may not be stable.

We could consider going back to the code that we had prior to PR https://github.com/kubeflow/website/pull/688/files

The prior code relied on a variable which we need to manually update (shortcode `pipelines-sdk-version`) and which is intended for use across the docs. Here's the

[2019-06-23 19:45] sarahmaddox opened #826 "Add examples for serving a model with Kubeflow"
Request from the KFServing team: Add more examples and docs for serving models with Kubeflow.

Comment from sarahmaddox: We do have a couple of tutorials in the docs that include serving, and some serving examples on GitHub. At a minimum, we can create a page that links all the serving-related info from one place.

[2019-06-23 19:53] sarahmaddox commented on #806
/close

[2019-06-23 19:53] #806 closed

[2019-06-23 19:55] sarahmaddox commented on #804
@jariolehtonen I'm closing this issue, as it's not reproducible unless we know which page gave the problem. Please do re-open the issue if you can provide more detail.

/close

[2019-06-23 19:55] #804 closed

[2019-06-23 19:56] sarahmaddox commented on #785
/cose

[2019-06-23 19:56] sarahmaddox commented on #785
/close

[2019-06-23 19:56] #785 closed

[2019-06-23 19:59] sarahmaddox commented on #797
/unassign @texasmichelle

@galebm1004  I'm closing this issue, as it's not reproducible unless we know which page/codelab gave the problem. Please do re-open the issue if you can provide more detail.

/close

[2019-06-23 19:59] #797 closed

[2019-06-24 00:17] sarahmaddox commented on #817
Another version of an architectural overview, in a deck from the Kubeflow Contributor Summit:
https://docs.google.com/presentation/d/1aMmJUz7r7Toky4nGZ1bItWKfXW4kSMbs4cofFeyKE-M/edit#slide=id.g51fdcb77c7_0_2689

[2019-06-24 01:39] sarahmaddox commented on #574
After discussion with the Pipelines team, we've decided not to document the CLI. It's incomplete, and work on it has paused indefinitely.

[2019-06-24 02:07] sarahmaddox opened #830 "Change 'source activate' to 'conda activate' throughout the docs"
We should change all occurrences of `source activate` to `conda activate` in the docs. See the  [StackOverflow report ](https://stackoverflow.com/questions/49600611/python-anaconda-should-i-use-conda-activate-or-source-activate-in-linux).

Docs to fix: See [search for 'source activate' in our docs](https://github.com/kubeflow/website/search?q=%22source+activate%22&unscoped_q=%22source+activate%22)

[2019-06-24 03:16] sarahmaddox commented on #830
@Tabrizian will take this issue on.

[2019-06-24 03:53] #830 closed

[2019-06-24 14:27] JavaDerek opened #832 "Could use a walk-through on building Kubeflow from source"
Maybe for the doc sprint?

If someone wants to contribute to the Open Source effort, there's not a clear overall starting point in the documentation for them.  It would be really useful to have a document that says "clone these repos, build this first, now build this, now here's how you deploy what you just built, here's the overall build process, etc."

[2019-06-24 20:54] KamalAman opened #834 "Build Reusable Components - Component parameters are invalid"
For Kubeflow 0.5.1, the input/output parameters for the dummy `component.yaml` are out of sync in [Component Development](https://www.kubeflow.org/docs/pipelines/sdk/component-development/):

When running the provided example `component.yaml` with `description='GCS path to Input 1'` i get the following error:
`__init__() got an unexpected keyword argument 'description='GCS path to Input 1''`

Afte

[2019-06-24 22:40] sarahmaddox commented on #832
Hallo @JavaDerek This is a great task to tackle during the doc sprint!

Some thoughts: I think such a guide for Kubeflow contributors belongs in the [Kubeflow GitHub repo](https://github.com/kubeflow/kubeflow) in one or more README files, rather than on kubeflow.org. Up to now, at least, we're viewing kubeflow.org as docs for Kubeflow users, whereas the docs for Kubeflow developers go with the cod

[2019-06-24 22:40] sarahmaddox commented on #832
/assign @JavaDerek

[2019-06-24 22:44] JavaDerek commented on #832
Cool -- we'll run with this! :-)

[2019-06-25 07:52] aktivalux opened #835 "Kubeflow on Kubernetes - "Unknown variable: x" error"
I tried to install kubeflow v0.5.1 on an existing K8s "cluster" (it is a single node microk8s cluster on an Ubuntu Host) by following the instructions from this page: [https://www.kubeflow.org/docs/started/getting-started-k8s/](https://www.kubeflow.org/docs/started/getting-started-k8s/). At least for me the instructions seem to not work.

I am trying to deploy kubeflow from my laptop onto the micr

[2019-06-25 08:01] aktivalux commented on #835
moved this to kubeflow/kubeflow as it seems to be a better fit.

[2019-06-25 08:01] #835 closed

[2019-06-25 13:56] jonin opened #836 "AWS IAM prerequisites are not explained"
Cannot install Kubeflow according to these instructions:
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

The exact set of required IAM permissions is missing from the page.

[2019-06-26 04:21] sarahmaddox commented on #836
/cc @Jeffwan

[2019-06-26 14:15] jonin opened #838 "Clarify "Wait for all the resources to become ready in the kubeflow namespace.""
In
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

it says:
5. Wait for all the resources to become ready in the kubeflow namespace.
kubectl -n kubeflow get all

How does one know when all the resources are 'ready'?

E.g. 'kubectl -n kubeflow get all | grep ready' gives blank answer

[2019-06-26 14:16] #838 closed

[2019-06-26 14:17] jonin commented on #838
I suppose READY shoud be 1. Well, 5 hours 43 minutes and still none are ready...

NAME                                                                  DESIRED   CURRENT   READY   AGE
replicaset.apps/aae-controller-78bb7d84c5                             1         0         0       5h43m
replicaset.apps/alb-ingress-controller-6c7c68fbd7                     1         0         0       5h43m
replicas

[2019-06-26 19:51] edmeister opened #840 ""Kubeflow on Kubernetes" refers to file not yet in master"
https://www.kubeflow.org/docs/started/getting-started-k8s/

The page refers to a file that is not yet in master, but in [a PR that is still in heavy debate](https://github.com/kubeflow/kubeflow/pull/3538).

[code]

[2019-06-26 21:01] strangemonad-faire opened #841 "Conflicting pipelines upgrade instructions"
The instructions here https://www.kubeflow.org/docs/pipelines/upgrade/
do not match the instructions here https://github.com/kubeflow/pipelines/tree/master/manifests

[2019-06-26 21:16] jessiezcc opened #842 "Kubeflow Filestore documentation is out dated"
see https://github.com/kubeflow/pipelines/issues/1564 for original issue.

Documentation instructions refer to using KS.. this can be simply done with Kubectl and directly deploying yamls for pv / and pvc.

Documentation link: https://www.kubeflow.org/docs/gke/cloud-filestore/

Example for out dated documentation :
cd //${KFAPP}/ks_app
ks generate google-cloud-filestore-pv google-cloud-filestore-p

[2019-06-26 21:19] jessiezcc opened #843 "customization step refers to using KS which is deprecated"
pls refer to https://github.com/kubeflow/pipelines/issues/1560 for original issue.
https://www.kubeflow.org/docs/gke/customizing-gke/

----> To customize the Kubeflow resources running within the cluster you can modify the ksonnet app in ${KFAPP}/ks_app. For example, to mount additional physical volumes (PVs) in Jupyter:

cd ${KF_APP}/ks_app
ks param set jupyter disks "kubeflow-gcfs"
You can then

[2019-06-27 01:17] sarahmaddox commented on #840
@yanniszark can you update this to a config file that's in production, or should we revert PR https://github.com/kubeflow/website/pull/833?

/assign @yanniszark

[2019-06-27 05:00] sarahmaddox commented on #706
Done.

/close

[2019-06-27 05:00] #706 closed

[2019-06-27 05:02] sarahmaddox opened #844 "Test and update the GCP end to end Kubeflow tutorial."
Test and update the GCP end to end Kubeflow tutorial. Many of the docs have been updated since we last tested it, including the OAuth docs. We need to make sure the tutorial works end to end.

https://www.kubeflow.org/docs/gke/gcp-e2e/

[2019-06-27 05:03] sarahmaddox commented on #844
I've marked this one for tackling during the Kubeflow Doc Sprint. This is a good task for a tech writer to tackle during the doc spritn.

[2019-06-27 05:04] sarahmaddox opened #845 "Merge requirements into getting-started page"
Merge the "requirements" page (https://www.kubeflow.org/docs/started/requirements/) into the getting-started guide (https://www.kubeflow.org/docs/started/getting-started/) and add the appropriate redirect.

[2019-06-27 05:04] sarahmaddox commented on #845
I've marked this one for tackling during the Kubeflow Doc Sprint. This is a good task for a tech writer to tackle during the sprint.

[2019-06-27 05:07] sarahmaddox commented on #825
See details of the `customizing-gke` page in https://github.com/kubeflow/website/issues/843

We also need to check the rest of the docs, so I'm leaving both issues open.

[2019-06-27 05:09] sarahmaddox commented on #819
I've marked this one for tackling during the doc sprint. It's a good one for a tech writer to tackle.

[2019-06-27 05:13] sarahmaddox commented on #761
Thanks for raising this issue! I'm closing it as a duplicate of https://github.com/kubeflow/website/issues/825, which now has more detail.

/close

[2019-06-27 05:13] #761 closed

[2019-06-27 15:06] yanniszark commented on #840
Hi @sarahmaddox thanks for the heads-up!
I forgot to add /hold to the PR.

Given that PR https://github.com/kubeflow/kubeflow/pull/3538 will be in 0.6 and 0.6 will be released very soon, we can either revert it or keep it for a little bit longer until the PR is merged.

[2019-06-27 18:33] #574 closed

[2019-06-27 23:45] sarahmaddox commented on #840
Hallo @yanniszark I think we should revert PR https://github.com/kubeflow/website/pull/833 until the change is ready for use in 0.6. The "master" version of the docs does describe v0.6 (we've already archived a branch for v0.5) but even so the docs should describe the available functionality, not future functionality.

Will you revert the PR, or let me know if you'd like me to revert it? Then you

[2019-06-27 23:47] charlesccychen opened #847 "Kubeflow on Kubernetes bootstrap URL broken"
https://www.kubeflow.org/docs/started/getting-started-k8s/

Looks like the bootstrap config url is broken: https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config/kfctl_platform_existing.yaml

[2019-06-27 23:52] sarahmaddox commented on #847
Thanks for reporting this issue! I'm closing it as a duplicate of https://github.com/kubeflow/website/issues/840

/close

[2019-06-27 23:52] #847 closed

[2019-06-28 04:00] texasmichelle opened #849 "kfctl instructions need KUBEFLOW_TAG"
Instructions on the [kfctl page](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) are missing the requirement to set the environment variable KUBEFLOW_TAG=0.5.1. Add this before CLIENT_ID and use it in place of the text "`<release tag>`".

When this env var is not set, strange error messages occur on `kfctl apply`, which do not reference this environment variable, making it impossible to trou

[2019-06-28 04:15] sarahmaddox commented on #840
/assign

Fixed by PR https://github.com/kubeflow/website/pull/848 (reverts previous PR). @yanniszark Please do resubmit the original PR when the software is available for use.

/close

[2019-06-28 04:15] #840 closed

[2019-06-28 06:00] maniappan opened #850 "How to shutdown and restart the kubeflow instances.."
The steps are very detailed and excellent. Was able to create the instances and get into the kubeflow dashboard and create the notebook server and build models. However there is no instruction on how to shutdown the cluster, AWS/Azure/GCP instances and bring it back up. Please add it to the end of the section after the troubleshooting link.

[2019-06-28 06:20] sarahmaddox commented on #850
/cc @Jeffwan

[2019-06-28 07:55] maniappan opened #851 "AWS: Document manual steps for ASG/EC2 deletion"
Kubeflow on AWS: After deleting EKS cluster and removing the EKS cluster in the AWS, the instances are still getting created, how do we stop the same?

[2019-06-29 03:23] sarahmaddox commented on #851
/cc @Jeffwan

[2019-06-30 00:55] jlewi commented on #849
@texasmichelle Can you describe what you did and what errors you saw?

I'm pretty sure the kfctl go binary no longer uses that tag.
https://github.com/kubeflow/kubeflow/search?q=KUBEFLOW_TAG&unscoped_q=KUBEFLOW_TAG

I believe its only the kfctl.sh shell scripts that use that environment variable.

The instructions you linked to are using the go binary.

[2019-06-30 00:57] jlewi opened #852 "[GCP] Update ingress troubleshooting/monitoring page for 0.6"
The page
https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/

Needs to be updated for 0.6

* We are now using ISTIO
* Ingress is in the istio-system namespace

[2019-07-01 15:59] texasmichelle commented on #849
When I tried to reproduce, turns out KUBEFLOW_TAG is not the problem. Closing this issue to open one in kubeflow/kubeflow.

[2019-07-01 15:59] #849 closed

[2019-07-01 21:38] sarahmaddox opened #853 "End-to-end example of Named Entity Recognition model with Keras and AI Platform"
The example covers the following topics:

* Demonstrate how to use Keras only models
* Demonstrate how to train a Named Entity Recognition model
* Demonstrate how to train the model with Kubeflow
* Demonstrate how to use a custom prediction routine
* Demonstrate how to use serve the model with AI Platform
* Demonstrate how to use Kubeflow metrics
* Demonstrate how to use Kubeflow visualizations

[2019-07-01 23:51] sarahmaddox commented on #853
Sascha Heyer will develop this tutorial during the Kubeflow Doc Sprint.

[2019-07-02 03:26] sarahmaddox opened #855 "Why use Jupyter notebooks in Kubeflow"
Useful information in this discussion thread:
https://groups.google.com/forum/#!msg/kubeflow-discuss/v1jwuGIjetk/4tdYZqw9BgAJ

[2019-07-02 03:28] sarahmaddox opened #856 "FAQ for enterprise use cases"
Useful info in this thread:
https://groups.google.com/forum/#!msg/kubeflow-discuss/BRIRd7SAwlM/EQ7BE8jzBQAJ

[2019-07-02 03:54] SaschaHeyer commented on #853
Hi @sarahmaddox
great thank you for adding the issue.

[2019-07-03 13:00] bd12 commented on #844
hi there,
I've just recently tried to deploy kf on GCP and want to share my experiences. I tried one time per GUI and one time per cli. Both happened over the course of the last two weeks and unfortunately both shots were not successful.
Here's what I have faced following the docs:
1. shot: gui approach included usage of IAP --> Seemed like gke creation and kf deployment were successful, but the I

[2019-07-04 00:35] kbhawkey opened #858 "kubectl version requirements"
Document the suggested or minimum version of kubectl required to run the examples.
Also, if I understand correctly, what version is preinstalled in the `jupyter-notebook` k8s Service?

[2019-07-04 01:00] joeliedtke opened #859 "Kubeflow Pipelines - create guide for moving an existing training script to KFP"
Data-scientists don't necessarily have a lot of experience with Docker, so it can be daunting to take a monolithic training script and build a pipeline.

This guide should help users with the following:

1.  Containerize their training script and build an MVP pipeline, this pipeline will use a single component in a single container. Then validate that the script works as expected.
1.  Refactor the

[2019-07-04 01:00] joeliedtke commented on #859
/assign joeliedtke

[2019-07-04 01:13] joeliedtke opened #860 "Update the KFP end-to-end tutorial"
Recently I have received some feedback on challenges that users are running into when getting started with KFP. The [end-to-end tutorial][e2e] is a terrific resource, and it would be great to update it to reduce the friction that has been identified:

1.  Update the docs to recommend installing the latest version of KF on deploy.kubeflow.cloud.
1.  Revise the instructions to use Cloud Shell instea

[2019-07-07 19:16] sarahmaddox commented on #858
More info:

The Kubeflow [requirements](https://www.kubeflow.org/docs/started/requirements/) page states the minimum Kubernetes version. (Note that the page uses a shortcode `{{% kubernetes-min-version %}}` for the min version.)

The [kubectl docs](https://kubernetes.io/docs/tasks/tools/install-kubectl/) state the following:

Kubeflow issue https://github.com/kubeflow/website/issues/845 requests t

[2019-07-08 17:41] jlewi commented on #379
Here's the demo/release script for multi-user Jupyter
https://bit.ly/2UOzzxB

That's probably a good place to start for updating the docs.

[2019-07-08 18:00] jlewi opened #862 "Create and tag issues related to updating the docs for 0.6"
The purpose of this issue is to make sure we have a list of P0s and P1 issues that need to be fixed to update the docs for 0.6.

Here's a [list](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubeflow+project%3Akubeflow%2F5+is%3Aopen+label%3Aarea%2Fdocs+) of issues related to updating the docs for 0.6.

Currently there are only 2 issues. I'm guessing there are more.
We can close this issue once

[2019-07-08 19:09] jlewi commented on #862
/assign @richardsliu

[2019-07-08 21:52] richardsliu opened #863 "Update Kubeflow Katacoda example"
The Katacoda example for Kubeflow is outdated, and still refers to deprecated components like kubeflow-core: https://www.katacoda.com/kubeflow/scenarios/deploying-kubeflow-with-ksonnet

This should be updated to the v0.6 instructions.

[2019-07-08 22:00] richardsliu opened #864 "Remove ksonnet references from deployment pages"
GKE: https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
Azure: https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
AWS: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

All 3 are currently still referencing ksonnet.

[2019-07-08 22:04] richardsliu opened #865 "Update katib documentation for v1alpha2"
Documentation is out of date: https://www.kubeflow.org/docs/components/hyperparameter/

[2019-07-08 22:05] richardsliu opened #866 "Create documentation for xgboost operator"
Should be added here: https://www.kubeflow.org/docs/components/

[2019-07-08 22:06] richardsliu commented on #866
/assign @merlintang

[2019-07-08 22:08] richardsliu opened #867 "Remove ksonnet page from "Components of Kubeflow""
This page is no longer necessary: https://www.kubeflow.org/docs/components/ksonnet/

We should consider adding a page about Kustomize.

[2019-07-08 22:15] richardsliu opened #868 ""Components of Kubeflow" can be better organized"
Consider refactoring the page, by organizing them along functional lines:
- Training (TFJob, PytorchJob, MPI, MXNet, Chainer)
- Serving (TF serving, Seldon, Batch Predict)
- Pipelines
- Hyperparameter Tuning
- Data

[2019-07-08 22:19] richardsliu opened #869 "Update the guides in section "Other Guides""
https://www.kubeflow.org/docs/other-guides/upgrade/

Documentation is out of date (still refers to v1alpha1 TFJobs). Also the page makes references to ksonnet which is deprecated.

We should just remove the section completely until upgrade is supported.

Similarly, these pages also contain references to ksonnet:
https://www.kubeflow.org/docs/other-guides/troubleshooting/
https://www.kubeflow.org/d

[2019-07-08 22:36] richardsliu opened #870 "Update kubeflow requirements"
https://www.kubeflow.org/docs/started/requirements/

Ksonnet is deprecated. Need to add kustomize as a dependency.

[2019-07-08 22:45] richardsliu opened #871 "Update Github Issue summarization codelab"
This is still referencing ksonnet:
https://codelabs.developers.google.com/codelabs/cloud-kubeflow-e2e-gis/index.html#5

[2019-07-08 23:03] richardsliu opened #873 "Create documentation for kfserving"
kfserving documentation should be on the Kubeflow website: https://www.kubeflow.org/docs/components/

[2019-07-08 23:03] richardsliu commented on #873
/assign @ellis-bigelow

[2019-07-08 23:11] richardsliu commented on #862
Opened a few more issues:
https://github.com/kubeflow/website/issues?q=is%3Aopen+is%3Aissue+project%3Akubeflow%2F5

[2019-07-09 00:38] merlintang commented on #866
thanks @richardsliu , I am so glad to write this document.

[2019-07-09 13:04] sarahmaddox commented on #832
Adding some info from an email conversation:

Creating individual developer guides (for each Kubeflow application) that people can follow would be very valuable. ideally they would be guides like this [README](https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard#development) that live side by side with the application and provide focused instructions for how to run it.

If

[2019-07-09 13:19] sarahmaddox commented on #868
Thanks for raising this issue! I'm closing it as a duplicate of https://github.com/kubeflow/website/issues/572

[2019-07-09 13:20] sarahmaddox commented on #572
Some suggested sections, copied from duplicate issue https://github.com/kubeflow/website/issues/868

* Training (TFJob, PytorchJob, MPI, MXNet, Chainer)
* Serving (TF serving, Seldon, Batch Predict)
* Pipelines
* Hyperparameter Tuning
* Data

[2019-07-09 13:22] sarahmaddox commented on #869
I think we should update the guides, rather than removing the section. The guides are needed, but are out of date.

[2019-07-09 13:22] sarahmaddox commented on #868
/close

[2019-07-09 13:22] #868 closed

[2019-07-09 13:25] sarahmaddox commented on #871
/assign @texasmichelle please would you take a look at this issue and assign it to someone else if appropriate.

[2019-07-09 13:26] sarahmaddox commented on #572
Related issue: https://github.com/kubeflow/website/issues/868

[2019-07-09 13:31] sarahmaddox commented on #863
@richardsliu @abhi-g Do you know who in the Kubeflow community is responsible for the Katacoda docs?

Until they're updated, I recommend that we remove the reference to them from this page:
https://www.kubeflow.org/docs/started/getting-started/

[2019-07-09 14:52] jlewi commented on #862
Thanks @richardsliu; is there more to do here or can we close this?

[2019-07-09 23:10] richardsliu commented on #871
/cc @texasmichelle

[2019-07-10 00:13] Jeffwan commented on #851
@maniappan Could you provide more details? Do you mean the existing instances? Or worker nodes? Have you deleted worker node group before you remove EKS cluster?

[2019-07-10 00:13] Jeffwan commented on #851
Sorry for late response. I just come back from vacation.

[2019-07-10 00:15] Jeffwan commented on #850
For aws, https://www.kubeflow.org/docs/aws/deploy/ We have a step to uninstall kubeflow. Does it meet your need?

I do think Azure and GCP have it as well.

[2019-07-10 00:18] Jeffwan commented on #836
@jonin

Thanks. I will add minimum permissions to make sure you can go through tutorials.

[2019-07-10 00:21] maniappan commented on #850
I am looking for instructions to shutdown and restart and not uninstall. I want to save some $$ when the infra is not in use.

--Mani.

________________________________
From: Jiaxin Shan <notifications@github.com>
Sent: Wednesday, July 10, 2019 5:45:52 AM
To: kubeflow/website
Cc: Maniappan R; Author
Subject: Re: [kubeflow/website] How to shutdown and restart the kubeflow instances.. (#850)

For aw

[2019-07-10 00:25] maniappan commented on #851
I followed the uninstall instructions. There was some exception in the process, so wen ahead and removed the worker nodes and eks clusters. However the worker nodes were constantly spun up even after terminating.. whole sequence of shutdown process may have to be verified.

--Mani.

________________________________
From: Jiaxin Shan <notifications@github.com>
Sent: Wednesday, July 10, 2019 5:43:38

[2019-07-10 00:33] Jeffwan commented on #850
@maniappan Do you install kubeflow with new eks cluster or existing cluster?
If you install with new cluster, uninstallation will shutdown EKS cluster. If you install with existing cluster, it's user's responsibility to shutdown the cluster since kubeflow scripts can not make the decision for user.

[2019-07-10 00:37] Jeffwan commented on #851
How do you remove the nodes? from EC2? for Cloud Formation?

Sounds like the instances are still controlled by ASG? Have you deleted ASG?

[2019-07-10 00:58] maniappan commented on #850
Created a new one, first time installation in a new AWS account.

--Mani.

________________________________
From: Jiaxin Shan <notifications@github.com>
Sent: Wednesday, July 10, 2019 6:03:13 AM
To: kubeflow/website
Cc: Maniappan R; Mention
Subject: Re: [kubeflow/website] How to shutdown and restart the kubeflow instances.. (#850)

@maniappan<https://github.com/maniappan> Do you install kubeflow w

[2019-07-10 01:07] Jeffwan commented on #850
Thanks for the feedbacks. Do you still have uninstallation logs? I can help debug the issue.

[2019-07-10 01:18] maniappan commented on #851
Deleted ec2, eks clusters and asg. Asg deletion was not happening due some circular dependendency.

--Mani.

________________________________
From: Jiaxin Shan <notifications@github.com>
Sent: Wednesday, July 10, 2019 6:07:45 AM
To: kubeflow/website
Cc: Maniappan R; Mention
Subject: Re: [kubeflow/website] EC2 instances getting created even after deleting the EKS cluster. (#851)

removed the worker

[2019-07-10 01:31] richardsliu commented on #862
Still waiting to see if we need to update docs for fairing and pipelines. I've pinged the relevant owners on Kubeflow chat.

[2019-07-10 09:01] SaschaHeyer commented on #853
@sarahmaddox
Pull request created

[2019-07-10 12:05] sarahmaddox commented on #853
That looks great, thanks @SaschaHeyer! I've asked @texasmichelle to review the PR.

[2019-07-10 14:48] boniek83 opened #875 "Kubeflow on Kubernetes"
https://www.kubeflow.org/docs/started/getting-started-k8s/
kfctl version 0.5.1 init has no --config flag - cannot proceed with installation.
[code]

[2019-07-10 14:52] sarahmaddox commented on #875
Hallo @boniek83, the master version of this page is for use with Kubeflow v0.6. Please try the following page for Kubeflow v0.5:
https://v0-5.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-10 15:03] fdasilva59 commented on #737
Hi @sarahmaddox I am checking this issue regarding the KF doc sprint that's about to start :)

I am using KF 0.5 on GKE, and I have previously implemented a demo of [Pix2Pix with TF1.12 on KF/GKE](https://github.com/fdasilva59/Pix2Pix-Kubeflow-Demo).

My pipeline is composed of 3 tasks : download dataset, prepare dataset (create TFRecord from the pictures), and train pix2pix (use a tf.data pipelin

[2019-07-10 15:17] sarahmaddox opened #876 "Pipelines: Create a tutorial for Pix2Pix with TF2.0"
Create a Kubeflow Pipelines tutorial that uses the TensorFlow 2.0 [Pix2Pix model](https://www.tensorflow.org/alpha/tutorials/generative/pix2pix)

[2019-07-10 15:19] sarahmaddox commented on #876
/assign  @fdasilva59

@fdasilva59 will work on this during the Kubeflow Doc Sprint

[2019-07-10 15:20] sarahmaddox commented on #737
Thanks @fdasilva59 that sounds great. I've created an issue to track your work:
https://github.com/kubeflow/website/issues/876

[2019-07-10 15:25] kbhawkey opened #877 "online training, learning links"
It may be helpful to have a separate page specifically for early learners.
The [Getting Started](https://www.kubeflow.org/docs/started/getting-started/) page lists the links to online training in the `Next steps`. Possibly group these links with the Mini/Micro install instructions or maintain a separate page.

[2019-07-10 15:34] fdasilva59 commented on #876
From [#737](https://github.com/kubeflow/website/issues/737#issuecomment-510100233) : I can confirm that CUDA 10 is working fine on GKE : I am able to run my code on a GPU with a TF 1.13.1 image.

Let's see how to uses the [TensorFlow 2.0 Pix2Pix model](https://www.tensorflow.org/alpha/tutorials/generative/pix2pix) in the pipeline !

[2019-07-10 16:46] texasmichelle commented on #623
SGTM! Easily editable without the overkill of requiring PRs. I'm in favor of not removing old events since it's helpful to have a record of videos and decks. Because the list is in reverse chronological order, adding a section break by year would make things a bit clearer.

To resolve this issue:

- [ ] Create a wiki page for events
- [ ] Migrate existing content from https://www.kubeflow.org/docs

[2019-07-10 17:09] carmine commented on #832
I'm interested in this topic as well. It'd be great to have a Developer Setup. I'll create a separate issue for that and link to his.

[2019-07-10 17:12] carmine opened #878 "Create a Getting Started for Developers"
This page should guide developers to getting started. It is related to #832 and may surround that. This issue will tackle a holistic view, starting from windows / mac / linux, through to compiling from source, and then to deploying locally.

[2019-07-10 17:16] theadactyl commented on #623
I'll tackle this in docs sprint how about :)

On Wed, Jul 10, 2019 at 9:46 AM Michelle Casbon <notifications@github.com>
wrote:

[2019-07-10 17:17] texasmichelle commented on #623
/assign @theadactyl

[2019-07-10 17:18] texasmichelle commented on #853
/assign @SaschaHeyer

[2019-07-10 17:25] OfficePop commented on #845
This one seems like a good place to get started, please assign it to me when you have a chance!

[2019-07-10 17:28] OfficePop commented on #860
I'll work on this one.

[2019-07-10 17:29] isaacmg commented on #826
I can work on adding a couple of serving examples with Seldon.

[2019-07-10 17:39] gogasca commented on #844
I will take a look at this one

[2019-07-10 17:55] sarahmaddox commented on #844
/assign @gogasca

[2019-07-10 17:57] sarahmaddox commented on #826
/assign @isaacmg

Thanks @isaacmg that's great!

[2019-07-10 17:58] sarahmaddox commented on #860
/assign @OfficePop

Thanks @OfficePop !

[2019-07-10 17:58] zhenghuiwang opened #879 "Create doc for metadata"
Metadata documentation should be on the Kubeflow website: https://www.kubeflow.org/docs/components/

[2019-07-10 17:58] joeliedtke commented on #823
/assign

[2019-07-10 17:59] sarahmaddox commented on #845
/assign @OfficePop

[2019-07-10 17:59] zhenghuiwang commented on #879
/assign @zhenghuiwang

[2019-07-10 18:01] zhenghuiwang commented on #879
/doc-sprint

[2019-07-10 18:03] rebeccamcfadden opened #880 "Create End-to-end MNIST/ML Pipeline tutorial on Azure"

[2019-07-10 18:09] sarahmaddox commented on #880
/assign @rem20806

[2019-07-10 18:12] pdmack commented on #33
/assign

[2019-07-10 18:22] sarahmaddox commented on #623
Great! I've added the issue to the Kanban board.

[2019-07-10 18:23] krishnadurai commented on #751
/assign @krishnadurai

[2019-07-10 18:27] kbhawkey opened #881 "move kfctl downloads page from reference section"
- Is the [reference section](https://www.kubeflow.org/docs/reference/) the right place for information about downloading `kfctl`
- Is there a reference guide for `kfctl`
- Could the kfctl download page be moved to the Getting Started/requirements section; update information about `how to get a kubeflow release` with `how to get kfctl`

[2019-07-10 18:28] rileyjbauer commented on #723
I can take this

[2019-07-10 18:31] lluunn commented on #852
/assign

[2019-07-10 18:35] sarahmaddox commented on #723
/assign @rileyjbauer

Thanks @rileyjbauer!

[2019-07-10 18:45] sarahmaddox commented on #881
+1 to the suggestion of moving the kfctl download info into the getting-started section.

@kbhawkey is this something you'd like to tackle during the doc sprint?

[2019-07-10 18:48] kbhawkey commented on #881
Sure!

[2019-07-10 18:54] sarahmaddox commented on #881
/assign @kbhawkey

[2019-07-10 20:08] fdasilva59 commented on #876
Let's define some specifications !

1. location:  this tutorial
   - will have to be listed [here](https://www.kubeflow.org/docs/examples/resources/)
   - and will be hosted in this [kubeflow/examples repo](https://github.com/kubeflow/examples)

2. Proposed Specifications (inspired by [my previous work](https://github.com/fdasilva59/Pix2Pix-Kubeflow-Demo/) but reusing [TF 2.0 Pix2Pix example](http

[2019-07-10 20:18] thedriftofwords opened #886 "Pipelines: Create a tutorial that uses components for Dataflow, AI Platform training and prediction"
[This issue is in response to #639, for which there are multiple possibilities.]

Translate [this Cloud Dataflow tutorial](https://cloud.google.com/dataflow/docs/samples/molecules-walkthrough) to use KFP.

1. Test the existing tutorial and see if it works with TF 1.14.
2. Leverage [existing components](https://www.kubeflow.org/docs/pipelines/sdk/reusable-components/).

[2019-07-10 20:52] sarahmaddox commented on #876
Thanks @fdasilva59

@texasmichelle Do you have any feedback on the proposal?

From me: +1 to the suggestion for the location of the tutorial:

[2019-07-10 21:28] thedriftofwords commented on #886
/assign sirtorry

[2019-07-10 21:36] #870 closed

[2019-07-10 21:37] sarahmaddox commented on #886
/assign @sirtorry

[2019-07-10 21:37] sarahmaddox commented on #886
/assign @thedriftofwords

@thedriftofwords I've assigned this to you, since the assignment to @sirtorry didn't work.

[2019-07-10 21:55] sarahmaddox opened #889 "Refactor the Kubeflow getting-started section"
Restructure the entries into groups:
* Cloud
* Local
* On prem

[2019-07-10 21:55] sarahmaddox commented on #889
/assign @DanSanche

[2019-07-10 22:14] #852 closed

[2019-07-10 22:19] OfficePop commented on #860
I have submitted [kubeflow/website PR 890](https://github.com/kubeflow/website/pull/890) in response to this issue, thanks!

[2019-07-10 22:31] thedriftofwords commented on #886
Where to add this in the kubeflow repo:

- Code in kubeflow/examples
- Links to docs: [Examples and tutorials](https://www.kubeflow.org/docs/examples/resources/),[Pipelines tutorials](https://www.kubeflow.org/docs/pipelines/tutorials/), and the "What's next" section of the Dataflow tutorial on cloud.google.com.

[2019-07-10 23:24] OfficePop commented on #845
Changes have been added to [kubeflow/website PR 890](https://github.com/kubeflow/website/pull/890).

[2019-07-10 23:47] MaanavD commented on #690
/assign MaanavD

[2019-07-10 23:47] mohona17 commented on #690
/assign mohona17

[2019-07-10 23:51] zanedurante opened #891 "Add Simple Notebook Pipeline"
Add a simple notebook pipeline for new users in `kubeflow/examples/pipelines`.  Also, add a link to the simple notebook pipeline in the docs.

[2019-07-10 23:51] zanedurante commented on #891
@sarahmaddox add doc sprint label

[2019-07-11 03:24] Daniel-Sanche opened #894 "Improve Sidebar Style"
I find the sidebar on the Kubeflow docs page difficult to read. font weights are used both to distinguish folders from files, and to highlight the selected page. Additionally, indents are small, so it's hard to determine the page heirarchy

We inheritted these issues from the [docsy theme](https://github.com/google/docsy), but it looks like we can make local downstream changes to the theme [using

[2019-07-11 03:25] DanSanche commented on #894
👍

[2019-07-11 07:50] scottilee commented on #867
@sarahmaddox I can work on removing the ksonnet page and adding a kustomize page that at the least explains what it is and how to install it.

[2019-07-11 07:53] scottilee commented on #864
@sarahmaddox Can I get a confirmation that kubeflow no longer has any dependencies on ksonnet? The reason I am asking is that a few weeks ago I ran into an issue installing kubeflow on Minikube and the fix was to bump the version of ksonnet (https://github.com/kubeflow/kubeflow/issues/3410).

Once I get the confirmation I can remove references to ksonnet from the GKE, Azure, and AWS pages.

[2019-07-11 13:43] sarahmaddox commented on #864
@richardsliu Can you answer @scottilee's question?

[2019-07-11 16:15] sarahmaddox commented on #891
/assign @zanedurante

[2019-07-11 16:27] richardsliu commented on #867
@scottilee Please feel free to reference this page: https://github.com/kubeflow/manifests/blob/master/README.md

[2019-07-11 16:34] richardsliu commented on #864
@scottilee Yes we no longer depend on ksonnet in the latest release. I will work on updating the gke instructions, can you help with AWS and Azure?

[2019-07-11 16:39] texasmichelle opened #899 "Add video to GCP deployment guide"
Add [From Zero to Kubeflow](https://www.youtube.com/watch?v=AF-WH967_s4) to the [GCP getting started guide](https://www.kubeflow.org/docs/gke/deploy/).

[2019-07-11 16:40] texasmichelle commented on #899
/assign @texasmichelle

[2019-07-11 16:41] texasmichelle commented on #899
/label doc-sprint

[2019-07-11 16:46] texasmichelle commented on #899
/area doc-sprint

[2019-07-11 16:48] texasmichelle commented on #899
/pony

[2019-07-11 16:48] texasmichelle commented on #899
/joke

[2019-07-11 17:21] sarahmaddox opened #900 "Broken link in PyTorch serving doc"
On this page:
https://www.kubeflow.org/docs/components/pytorchserving/

The Seldon link is broken:
https://github.com/SeldonIO/seldon-core/blob/master/docs/wrappers/python.md

[2019-07-11 17:22] sarahmaddox commented on #900
/assign @isaacmg

[2019-07-11 17:39] sarahmaddox commented on #653
/assign @yanniszark

@yanniszark Please would you take a look at this issue?

[2019-07-11 17:41] sarahmaddox opened #901 "Kubeflow on Kubernetes guide: add instructions for connecting with LDAP/AD"
Kubeflow on Kubernetes guide: add instructions in the arrikto section for connecting with LDAP/AD:
https://www.kubeflow.org/docs/started/getting-started-k8s/

[2019-07-11 17:52] kbhawkey commented on #894
I agree that the left nav item text is bold and non-bold at times. The contrasting text does not help navigation. For instance, if I select `Pipelines`, this header item is _strong_ bold; the first item, `Pipelines Quickstart` is regular text, the next two items are medium bold, the next item `Upgrading and Reinstalling` is regular text, and the last two items are medium bold. I think eliminating

[2019-07-11 17:53] Jeffwan commented on #851
Eksctl will delete worker node group cloud formation template first and then eks cluster cloud formation.  EC2 instances will be delete along with ASG deletion.

If you delete ec2 separately, new instance will be created because ASG has to maintain at desired count.

[2019-07-11 17:55] maniappan commented on #851
Thanks, will it be possible to have the manual steps documented?.

--Mani.

________________________________
From: Jiaxin Shan <notifications@github.com>
Sent: Thursday, July 11, 2019 11:23:25 PM
To: kubeflow/website
Cc: Maniappan R; Mention
Subject: Re: [kubeflow/website] EC2 instances getting created even after deleting the EKS cluster. (#851)

Deleted ec2, eks clusters and asg. Asg deletion was

[2019-07-11 18:07] DanSanche commented on #679
I'll take a look at this next

[2019-07-11 18:16] scottilee commented on #864
@richardsliu Yes, I will try to finish it by tonight.

[2019-07-11 18:17] scottilee commented on #867
@richardsliu Will do, will have a pull request later today.

[2019-07-11 18:27] sarahmaddox commented on #679
/assign @DanSanche

[2019-07-11 19:01] sarahmaddox opened #904 "Break up the examples page into 4 pages"
We should break up the examples page into 4 separate pages (one for each section on the page).
https://www.kubeflow.org/docs/examples/resources/

Also add an _index page, following the pattern of the other doc directories.

This will solve 2 problems:

* The examples page is getting a little long.
* The link to the examples page in the left-hand nav looks odd, because all other links are to sectio

[2019-07-11 19:01] DanSanche commented on #679
@jlewi I wrote a draft of some content I want to cover. Before I go much further, does this look like what you had in mind?

[2019-07-11 19:02] sarahmaddox commented on #904
/cc @mameshini
/cc @DanSanche

This is a great issue for a tech writer to handle during the Kubeflow Doc Sprint. I'll publicize it as such in Slack.

[2019-07-11 19:06] DanSanche opened #905 "Organize "Components" section"
Right now, the components section is hard to navigate, with all components thrown in together in alphabetical order. I think it would be helpful to add folders to the components list. Maybe "Training", "Serving", "Preprocessing", etc. This would make it easier for users to evaluate the different training options, and it would emphasize all the different use cases Kubeflow can help with.

Thoughts?

[2019-07-11 19:13] alecglassford commented on #894
Haven't had a chance to dive deep into this but my initial reactions:

1. The increased indentation is big improvement! Have you checked that it shows up alright on mobile devices / small screens?

2. Your example has opted not to use bolding at all, right? I do think this is less confusing (the example @kbhawkey is quite confusing due to the nested bolding). However, in your screenshot it becomes

[2019-07-11 20:09] sarahmaddox commented on #905
Thanks for raising this issue! I'm closing it as a duplicate of https://github.com/kubeflow/website/issues/572

[2019-07-11 20:10] sarahmaddox commented on #905
/close

[2019-07-11 20:10] #905 closed

[2019-07-11 20:52] sarahmaddox commented on #901
/assign @yanniszark

[2019-07-11 21:01] sarahmaddox commented on #867
/assign @scottilee
Great! Thanks @scottilee and @richardsliu

[2019-07-11 21:02] sarahmaddox commented on #864
Related issue: https://github.com/kubeflow/website/issues/867

[2019-07-11 21:03] sarahmaddox commented on #864
/assign @richardsliu
/assign @scottilee

Thanks both!

[2019-07-11 21:04] sarahmaddox commented on #855
Location for the doc: A new page in this section: https://www.kubeflow.org/docs/notebooks/

[2019-07-11 21:05] sarahmaddox commented on #855
Recommended reviewer for the PR: @abhi-g

[2019-07-11 21:40] sarahmaddox commented on #679
@DanSanche Do you have a link :)

[2019-07-11 21:54] DanSanche commented on #679
@sarahmaddox haha thanks, completely missed that! https://docs.google.com/document/d/15bQmPPkmUW7BehQjpdderifv7ONatISeHtj-vR9TdyA

[2019-07-11 22:20] #865 closed

[2019-07-11 22:37] sarahmaddox commented on #799
/close

[2019-07-11 22:37] #799 closed

[2019-07-11 22:42] swapnilogale commented on #855
@sarahmaddox Happy to look at this at some point today. Thanks for the link to the resources.

[2019-07-11 22:50] sarahmaddox commented on #855
/assign @swapnilogale

Great, thanks Swapnil! Looking forward to the PR. :)

[2019-07-11 23:01] DanSanche opened #910 "Out-dated GCP service account names"
The [docs say](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#gcp-service-accounts)) that the service account should be called ${KFAPP}-user. I thought the name should be `user-gcp-sa`, independent of the KFAPP name, and [YAML files](https://github.com/kubeflow/examples/blob/master/mnist/training/GCS/Chief_patch.yaml) I've found shows the same. Is the doc out of date, or is it my knowledge?

[2019-07-11 23:32] sarahmaddox commented on #910
My Kubeflow v0.5.1 deployment has the three service accounts described in the docs, including `${KFAPP}-user`. I wonder if `user-gcp-sa` is a different type of account? Alternatively, this could be a Kubeflow v0.6 change that I haven't heard about.

[2019-07-11 23:35] sarahmaddox commented on #910
/assign
/close

@DanSanche and I have discussed this issue. The YAML file hasn't been updated since May, which means it isn't a v0.6 change. The docs are correct.

[2019-07-11 23:35] #910 closed

[2019-07-11 23:52] Tabrizian commented on #814
May I work on this as a part of doc sprint if @mastrogiovanni is not working on it?

[2019-07-12 00:16] sarahmaddox commented on #904
I think @DanSanche is working on this issue. @DanSanche please would you confirm? If not, I may have a tech writer to work on it.

[2019-07-12 00:19] sarahmaddox commented on #814
Hallo @Tabrizian and welcome to the Kubeflow Doc Sprint! @mastrogiovanni is working on this issue, but would you like to work on another instead?

Here's a fairly meaty issue that involves restructuring a section of the docs:
* https://github.com/kubeflow/website/issues/572

Here's another  - keep an eye on it to see if Dan responds to the comment I added, and if he's not tackling it then add a co

[2019-07-12 00:33] Tabrizian commented on #814
Sure, I can work on #572.

[2019-07-12 01:40] batigooal opened #912 "Set Up Your Notebooks"
https://www.kubeflow.org/docs/notebooks/setup/

there is not any response when the button "+ new server" is clicked

[2019-07-12 01:46] sarahmaddox commented on #572
/assign @Tabrizian

@Tabrizian  Thanks for volunteering to tackle this issue. Please add a comment to this issue, then I can assign it to you properly.

[2019-07-12 01:58] Tabrizian commented on #572
I want to work on this issue.

[2019-07-12 02:44] sarahmaddox commented on #572
/assign @Tabrizian

[2019-07-12 04:37] scottilee commented on #864
Pull request is up: https://github.com/kubeflow/website/pull/911

[2019-07-12 08:45] elikatsis commented on #757
@sarahmaddox, Hello Sarah !

Unfortunately, I couldn't make it for this doc sprint and I am really sorry I didn't mention it earlier.
I've already begun working on some basic documentation with the PR kubeflow/pipelines#1433 (I'll ping the PR thread to see what's need to be done to get it merged).

I believe I will be able to contribute to the documentation within the next few weeks!

[2019-07-12 09:02] elikatsis commented on #758
@sarahmaddox,

There is some other way as well!
Creating (or, in general, manipulating) K8s resources can be performed using `ResourceOp` entity of the DSL.

In my opinion, both techniques are good in their own way.
The one you mention, via some `ContainerOp`, is good and easy when there is such image for the desired resource creation and the arguments cover the case.
The other, using `ResourceOp`

[2019-07-12 09:26] scottilee commented on #867
I made a pull request here: https://github.com/kubeflow/website/pull/913

@sarahmaddox or @richardsliu could you please review and give me some feedback?

[2019-07-12 11:12] cspavlou commented on #653
Hi @subramankala,

This seems to be a technical issue. I think that you are trying to download an older version of MiniKF. However, only the latest version of MiniKF is available on Vagrant Cloud, in order to ensure that users get all the latest fixes. We propose to follow the upgrade procedure described in the [MiniKF guide](https://www.kubeflow.org/docs/started/getting-started-minikf/)

Could yo

[2019-07-12 11:23] sarahmaddox commented on #757
/assign @elikatsis

Thanks @elikatsis it's great to know that you'll be able to tackle the docs. No worries that it won't be within the timeframe of the doc sprint.

[2019-07-12 11:27] sarahmaddox commented on #758
Thanks @elikatsis! I'll assign this issue to you for tackling along with # 787 as you mentioned.

/assign @elikatsis

[2019-07-12 16:09] DanSanche commented on #904
I believe @mameshini was looking at this? I'm happy to review, but not looking at this currently

[2019-07-12 16:31] DanSanche commented on #894
I agree that the triangles would be a better option, but there is an issue: Users expect to be able to click on a triangle to collapse or expand a section, but here they only work to expand a section, not collapse. I had a prototype with triangles, but I found myself trying to click to collapse and getting disappointed when it didn't work

I did open an [issue in docsy](https://github.com/google/d

[2019-07-12 17:04] DanSanche commented on #679
I opened a PR related to this here: https://github.com/kubeflow/website/pull/916

[2019-07-12 17:36] mameshini commented on #904
/assign @mameshini

[2019-07-12 19:11] OfficePop commented on #845
Did someone else resolve this issue? Had to remove the related updates from my original PR because it was causing merge conflicts. If it's still outstanding, let me know and i'll submit a separate PR for it once the original is handled.

[2019-07-12 19:17] sarahmaddox commented on #845
This issue is not yet resolved. The page is still in the docs:
https://www.kubeflow.org/docs/started/requirements/

As far as I know there's no PR in flight to move the content to the getting-started page.

There was a change to the requirements page, that swapped ksonnet to kustomize. That change probably caused the merge conflict.

Please do go ahead with this change, if you have the bandwidth.

[2019-07-12 19:39] DanSanche commented on #889
I opened a [PR addressing this](https://github.com/kubeflow/website/pull/888), but we couldn't get consensus on how to organize this section, so I'm closing it and hoping we can use this bug to discuss how to improve the Getting Started experience.

I think creating a clear path for new users through the Getting Started guide should be a top priority. As it stands, the number of docs in the gettin

[2019-07-12 20:17] OfficePop commented on #845
Excellent, I've edited the previous comment with current PR.

[2019-07-12 20:22] joeliedtke commented on #845
Glad to be wrong on this, thanks for adding that change in OfficePop

[2019-07-12 20:24] kbhawkey commented on #889
I agree with both points. I am new to Kubeflow and am familiar with k8s, minikube, etc. I have minikube and Kubeflow installed locally, but the generate all script refers to ksonnet. Will see if I can get this patched up.

[2019-07-12 20:27] scottilee commented on #864
The pull request was merged, thanks @sarahmaddox and @richardsliu!

[2019-07-12 20:54] #864 closed

[2019-07-12 20:54] richardsliu commented on #864
Thanks @scottilee for your contribution!

[2019-07-12 20:56] carmine commented on #889
I'm curious if things fall along the lines of "Installers", "Appliances" and "Managed", or something like that.  For instance, with kubernetes, I think you'd characterize GKE, AKS, EKS as managed kubernetes offerings, and things like kubeadm or charmed kubernetes as installers / distributions.

Agree that a better organization is strongly desired.

I think it starts with either "Where do you want

[2019-07-12 20:59] carmine commented on #889
I wonder if a table would be the best way to present options to the user. With a table we could determine what goes on both axis and then provide links to specific solutions.

[2019-07-12 21:29] #899 closed

[2019-07-12 21:56] Jeffwan commented on #851
I will wrote more docs in 0.6 release. AWS still have some changes in pending for 0.6

[2019-07-12 22:07] #904 closed

[2019-07-12 22:13] #843 closed

[2019-07-12 23:02] mameshini commented on #889
I think a table of Kubeflow Providers would be very helpful, as this list will keep growing.

We can list Kubeflow providers in a table with the following intro:

The following production environment solutions table lists the providers and the solutions that they offer.
In the table we can add a column for supported deployment options: GCP, AWS, Azure, on-prem.

[2019-07-12 23:25] #723 closed

[2019-07-13 00:20] Tabrizian commented on #814
I guess this issue can be closed now as #897 is merged.

[2019-07-13 00:52] richardsliu commented on #867
This is done.

[2019-07-13 00:52] #867 closed

[2019-07-13 01:06] richardsliu opened #929 "Update ksonnet instructions in miscellaneous GKE guides"
https://www.kubeflow.org/docs/gke/custom-domain/
https://www.kubeflow.org/docs/gke/private-clusters/
https://www.kubeflow.org/docs/gke/deploy/monitor-iap-setup/

[2019-07-13 01:12] richardsliu opened #930 "Remove ksonnet from training/serving guides"
See latest comments for the list of docs that need updating.

[2019-07-13 06:50] vigosser opened #931 "Deploy Kubeflow on Kubernetes"
https://www.kubeflow.org/docs/started/getting-started-k8s/

Here is the problem.

[code]

The problem  occured when I follow the step of "Kubeflow on Kubernetes", and typing the `kfctl apply all -V` commond. Seems kfctl failed get istio-ingressgateway Service ExternalIP.  The status of istio as fllow.
[code]

[2019-07-13 13:33] #879 closed

[2019-07-13 13:47] sarahmaddox commented on #814
Thanks @Tabrizian you're right. Closing this issue.

/close

[2019-07-13 13:47] #814 closed

[2019-07-13 14:26] sarahmaddox opened #932 "Update stable version to v0.51"
https://github.com/kubeflow/website/blob/master/layouts/shortcodes/kf-stable-tag.html

[2019-07-13 14:26] sarahmaddox commented on #932
/assign

[2019-07-13 17:21] sarahmaddox commented on #845
/close

[2019-07-13 17:21] #845 closed

[2019-07-14 02:45] #572 closed

[2019-07-14 19:54] sarahmaddox commented on #900
/close

[2019-07-14 19:54] #900 closed

[2019-07-14 21:46] sarahmaddox commented on #653
Hallo @yanniszark and @subramankala Since this is a tech issue and seems to be not related to the docs, I'll close the issue. Please do open it again if there's doc work required.

/close

[2019-07-14 21:47] #653 closed

[2019-07-14 21:50] sarahmaddox commented on #33
Hallo @pdmack How are you doing with this guide? (Have you earned a doc sprint T-shirt? ;) )

[2019-07-14 21:55] sarahmaddox commented on #32
This is done.

/close

[2019-07-14 21:55] #32 closed

[2019-07-14 21:56] sarahmaddox commented on #823
This is done.

/close

[2019-07-14 21:56] #823 closed

[2019-07-14 21:56] sarahmaddox commented on #881
This is done.

/close

[2019-07-14 21:56] #881 closed

[2019-07-14 22:00] sarahmaddox commented on #855
Fixed by PR https://github.com/kubeflow/website/pull/914

/close

[2019-07-14 22:00] #855 closed

[2019-07-15 00:39] jlewi commented on #862
@richardsliu Any update can we go ahead and close this?

[2019-07-15 15:51] jlewi opened #935 "Troubleshooting guide; why didn't jupyter notebook start"
We need a trouble shooting guide to explain how people should troubleshoot why their notebooks didn't start.

The basic steps would be something like

[code]

  * Look for errors why it didn't start

If the notebook looks good then look at the statefulset

[code]

  * Look for errors such as problems binding PV/PVCs

If that looks good then look at the pod

[code]

   * Is the container running?

[2019-07-15 16:56] DanSanche commented on #889
I think you made a good point about separating the Quickstart guides from the Production Installer Guides. These are targeted at very different audiences, and they are currently both under the "Getting Started" header. Maybe we should add a new "Installers" section, and move some pages in there? That would be a good place to include a table

[2019-07-15 17:57] #932 closed

[2019-07-15 23:33] Tabrizian commented on #935
I can work on this issue.

[2019-07-16 00:09] sarahmaddox commented on #935
/assign @Tabrizian
Thanks @Tabrizian!

[2019-07-16 00:29] #869 closed

[2019-07-16 01:05] sarahmaddox commented on #891
@zanedurante Awesome work in getting your kubeflow/examples PR merged! Once you've added the doc link, this issue will be ready to close.

[2019-07-16 04:20] hchiuzhuo opened #940 "Setting up OAuth for Cloud IAP: Need to get client ID after entering URI"
https://www.kubeflow.org/docs/gke/deploy/oauth-setup/
Question:
If i haven't create  OAuth client ID, how do i fill in <CLIENT_ID> in this stage?

![Screen Shot 2019-07-16 at 12 19 37 PM](https://user-images.githubusercontent.com/26019397/61265709-0329a400-a7c4-11e9-9478-dcdef617c9a8.png)

[2019-07-16 16:04] sarahmaddox commented on #940
Hallo @hchiuzhuo The alternative to using OAuth is to authenticate with username and password ("basic authentication"). Here are some docs to help:
https://www.kubeflow.org/docs/gke/deploy/deploy-ui/#authenticating-with-username-and-password

[2019-07-16 16:06] sarahmaddox commented on #940
We should add a link to the basic auth info from this page.

[2019-07-16 21:21] zanedurante commented on #891
@sarahmaddox Just sent out the PR for the doc link

[2019-07-16 21:37] sarahmaddox commented on #891
/close

[2019-07-16 21:37] #891 closed

[2019-07-16 22:44] richardsliu commented on #862
This can be closed.
/close

[2019-07-16 22:44] #862 closed

[2019-07-17 01:42] hchiuzhuo commented on #940
Hi, my question is when I fill Authorized redirect URIs, I have not generate client ID and client secret yet; then, how do I fill the <CLIENT_ID> in this stage? (My workaround is to fill up a whatever uri, after I got client ID and client secret, I came back and fill in again)

[2019-07-17 02:12] richardsliu commented on #929
/close

[2019-07-17 02:12] #929 closed

[2019-07-17 07:49] marrrcin commented on #560
Is this planned to be done soon?

[2019-07-17 12:04] sarahmaddox opened #943 "Create a guide to the ModelDB component"
We had a guide to the the ModelDB component. PR https://github.com/kubeflow/website/pull/942 removed the guide, because it was out of date. Google Analytics shows that readers viewed the guide reasonably often (1,500 views over the last two months, compared with Katib (1,800) and Jupyter notebooks (1,700) and Pipelines component page (1,000)).

We should add an up-to-date guide to the ModelDB comp

[2019-07-17 12:06] sarahmaddox commented on #940
Ah thanks @hchiuzhuo I misunderstood. PR https://github.com/kubeflow/website/pull/942 has updated the page - your workaround is the right one.

[2019-07-17 12:08] sarahmaddox commented on #940
/close

[2019-07-17 12:10] #940 closed

[2019-07-17 12:21] sarahmaddox commented on #560
Related issue: https://github.com/kubeflow/website/issues/943

[2019-07-17 12:23] sarahmaddox commented on #943
@mvartakAtVerta Will you be able to tackle these docs?

[2019-07-17 20:16] OfficePop commented on #795
I'd like to contribute on this article next, @sarahmaddox  if you could assign when you have a chance. Thanks!

[2019-07-18 00:57] jlewi opened #946 "[GCP] Describe creating service accounts and using pod defaults"
0.6 is designed to allow users to consume Kubeflow in their own namespace.

* When they create a new namespace; they will need to install GCP credentials into that namespace. This means running a bunch of gcloud and kubectl commands to create a service account, download the key and install it in the cluster.
* They will also want to create a PodDefault object in order to automatically attach the c

[2019-07-18 00:58] jlewi commented on #946
@DanSanche any chance you could pick this up?

[2019-07-18 01:02] jlewi commented on #946
We can add the info to the existing authentication guide: #916

[2019-07-18 01:17] jlewi commented on #946
One thing we should document is how people can copy a secret from one namespace to another using
the CLI

[code]

[2019-07-18 01:29] jlewi commented on #946
The other path we should document is as follows

1. Create a service account with desired roles

[code]

1. Download a json service account key

[code]

1. Upload as a secret to the cluster.

[code]

[2019-07-18 13:09] sarahmaddox commented on #795
Thanks @OfficePop

/assign @OfficePop

[2019-07-18 14:02] sarahmaddox commented on #679
/close

[2019-07-18 14:02] #679 closed

[2019-07-18 14:08] sarahmaddox commented on #754
Thanks for tackling this issue in the doc sprint, @josiemundi! Please would you add a comment on this issue, then I can assign it to you properly.

[2019-07-18 14:22] sarahmaddox commented on #901
/close

[2019-07-18 14:22] #901 closed

[2019-07-18 15:08] brussell757 opened #948 ""Istio-ingress" is not a component or a module"
when attempting to apply the ks params i receive the following error for each param

'ERROR could not find component: extracting module and component names from istio-ingress: "istio-ingress" is not a component or a module'

[2019-07-18 15:12] doschkinow opened #949 ""kfctl init ${KFAPP} --config=${CONFIG} -V" does not work"
Hi,

the init command "kfctl init ${KFAPP} --config=${CONFIG} -V" does not work. It says:

$ kfctl init ${KFAPP} --config=${CONFIG} -V
Error: unknown flag: --config
Usage:
  kfctl init <[path/]name> [flags]
....
The kfctl vrsion I am using is:
$ kfctl version
v20181207-4e7f4ed-198-gaeea303e-dirty-03e65e

Please advise how to proceed.
Thanks!

[2019-07-18 15:58] mattnworb opened #950 "Deploy using CLI - unclear which service to `kubectl port-forward` to"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

A small improvement to these docs would be to explicitly mention which service to `kubectl port-forward` to while waiting for the `endpoints.<project>.cloud.goog` URI to become available.

[2019-07-18 16:59] DanSanche commented on #946
@jlewi did you have a timeline in mind for this? I should be able to help, but I likely won't have the bandwidth for a couple weeks

[2019-07-18 18:55] sarahmaddox commented on #948
Hallo @brussell757 please would you provide a link to the page on which you encountered this error? Most of Kubeflow has moved away from ksonnet, to kustomize. It'd also be helpful to know which version of Kubeflow you're using.

[2019-07-18 18:58] sarahmaddox commented on #949
Related: https://github.com/kubeflow/website/issues/875

[2019-07-18 19:01] sarahmaddox commented on #875
/assign @yanniszark

@yanniszark Please would you take a look at this issue.

[2019-07-18 19:01] sarahmaddox commented on #949
/assign @yanniszark

@yanniszark Please would you take a look at this issue.

[2019-07-18 19:07] boniek83 commented on #875
It works now, although this is very unexpected and confusing. Probably the best way would be like documentation for [kafka](https://kafka.apache.org/documentation/) - each version has it's own page

[2019-07-18 19:38] sarahmaddox commented on #875
Thanks @boniek83 and I'm sorry the experience was confusing. I'll close this issue, as we've solved the problem, but I'll think about site design to make the individual versions more accessible.

[2019-07-18 19:38] sarahmaddox commented on #875
/close

[2019-07-18 19:38] #875 closed

[2019-07-18 19:38] sarahmaddox commented on #875
/assign

/unassign @yanniszark

[2019-07-18 19:43] sarahmaddox commented on #949
/assign
/unassign @yanniszark

Hallo @doschkinow The master version of the docs are for Kubeflow v0.6. You can get the latest version of kfctl here:
https://github.com/kubeflow/kubeflow/releases

Alternatively, if you want to continue using an older version of Kubeflow, such as v0.5, you can choose the corresponding version of the docs from the version dropdown near the top right of the page.

[2019-07-18 20:11] doschkinow commented on #949
Many thanks for the hint! I'll try this and come back.

[2019-07-19 01:01] vigosser commented on #931
The problem solved by rasing the server's memory form 2G to 8G.

[2019-07-19 01:25] sarahmaddox opened #952 "Docs should state relevant Kubeflow version clearly at top of every page"
Our docs at www.kubeflow.org currently reflect Kubeflow v0.6. People can find earlier versions by clicking the version dropdown in the top menu bar. In general, the docs reflect the Kubeflow **master** version.

We should state clearly at the top of each page which version the docs refelct. Currently, the word "master" is not clear enough.

(We have a shortcode which we use as a variable containin

[2019-07-19 01:28] sarahmaddox opened #953 "Update docs to show version v0.6"
We've just released Kubeflow v0.6: https://github.com/kubeflow/kubeflow/releases

The docs currently state that the latest version is v0.6.0-rc.0.

Update this file:
https://github.com/kubeflow/website/blob/master/layouts/shortcodes/kf-latest-version.html

[2019-07-19 01:28] sarahmaddox commented on #953
/assign

[2019-07-19 05:35] #953 closed

[2019-07-19 08:00] doschkinow commented on #949
I noticed, that the v0.5 relies on ksonnet which is deprecated, so I decided to go with the latest version (v0.6, just released a couple of hours ago). However I hit a Makefile problem when trying to build kfctl, as described in the "Getting Started":

(base) [opc@bastion ~]$ cd  kubeflow-0.6.0/bootstrap/
(base) [opc@bastion bootstrap]$ make build-kfctl-container
**Makefile:85: *** missing target

[2019-07-19 08:48] doschkinow commented on #949
It turned out that in my env I had a GOPATH variable which had a ":" inside. So the syntax for the target in line 85 was incorrect. Unsetting GOPATH before  calling "make build-kfctl-container" solved my problem.

This could be considered as a bug in the Makefile.

[2019-07-19 08:48] #949 closed

[2019-07-19 17:29] sarahmaddox commented on #690
Fixed by PR https://github.com/kubeflow/website/pull/951

[2019-07-19 17:29] sarahmaddox commented on #690
/close

[2019-07-19 17:29] #690 closed

[2019-07-20 23:44] scottilee commented on #808
This page (https://www.kubeflow.org/docs/started/getting-started/) states that Kubernetes 1.8 is the minimum required version.

@sarahmaddox who can help us figure out the minimum Kubernetes version required to run Kubeflow?

[2019-07-21 01:06] scottilee commented on #946
@jlewi I made a pull request here https://github.com/kubeflow/website/pull/957, let me know what you think.

[2019-07-21 01:12] scottilee commented on #930
@richardsliu These docs are pretty integrated with ksonnet as they use it to either create configurations or for deployment. I can take this up but I would need a resource that explains alternative steps or tools. Is something like that available?

[2019-07-21 07:28] richardsliu commented on #930
@scottilee Which docs are you thinking of taking up? Some of these (e.g. chainer, MPI) don't even have kustomize manifests yet.

[2019-07-22 00:08] jlewi commented on #946
@DanSanche I was hoping to get it done this week.

@scottilee Thanks! I'll take a look.

[2019-07-22 00:46] jlewi commented on #379
@abhi-g How is #903 coming?

[2019-07-22 00:50] jlewi opened #958 "TFServing docs needed to be updated for 0.6"
The docs here
https://www.kubeflow.org/docs/components/serving/tfserving_new/

Still reference ksonnet.

The updated docs should just include sample YAML for a Deployment using TFServing that people can copy and paste.

/cc @ellis-bigelow @lluunn

[2019-07-22 00:55] jlewi commented on #958
/project ksonnet-turndown

[2019-07-22 00:57] jlewi opened #959 "NVIDIA inference server docs need to be updated to not use ksonnet"
https://www.kubeflow.org/docs/components/serving/trtinferenceserver/

Docs still use ksonnet.

For serving, I think its simpler than rather than provide kustomize manifests, our docs just contain example YAML specs that people can copy and paste in order to create a deployment.

@pdmack Any interest in picking this up?

[2019-07-22 03:03] sarahmaddox commented on #808
@IronPan Please would you confirm: Based on https://github.com/kubeflow/kubeflow/issues/2487#issuecomment-469817860, it seems that the minimum version of Kubernetes is **v1.11** for Kubeflow v0.6+ (unless people want to disable the Pipelines component, which isn't something we should recommend in the docs).

Related issue: https://github.com/kubeflow/website/issues/858

Note that we use a shortcod

[2019-07-22 03:17] sarahmaddox opened #960 "Move the GCP pipelines tutorial into the GCP section of the docs"
We currently have a GCP-specific tutorial in the pipelines docs:
https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/

We should move the tutorial into the GCP section of the docs:
https://www.kubeflow.org/docs/gke/

And we should add a page in the [pipelines samples/tutorials section](https://www.kubeflow.org/docs/pipelines/tutorials/) that lists the tutorials we have - currently

[2019-07-22 17:17] abhi-g commented on #379
in review with kunming.

[2019-07-22 18:05] BonavincciAI2020 opened #962 "Getting Started with Kubeflow"
https://www.kubeflow.org/docs/started/getting-started/

[2019-07-22 19:07] jlewi commented on #958
/assign @lluunn

[2019-07-22 19:09] jlewi commented on #946
/assign @jlewi
/assign @abhi-g
/assign @scottilee

@jlewi and @abhi-g  to review the PR

[2019-07-22 21:51] dwightjl commented on #844
I went through this tutorial and encountered an issue with the "Train the model on GKE" section. I get the following error when I run `kustomize build . |kubectl apply -f -`:

[code]

I'm not familiar with kustomize, so I suspect it might an issue with one of the .yaml files that kustomize uses. I'm pretty sure I followed the earlier steps correctly.

[2019-07-22 22:10] sarahmaddox opened #963 "Fix typo on Pipelines SDK overview page"
"pipeline zipe file" > "pipeline zip file"
https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/

[2019-07-22 22:10] sarahmaddox commented on #963
/good-first-issue

[2019-07-23 03:26] sarahmaddox commented on #962
Hallo @BonavincciAI2020 Please would you describe the problem that you found on the linked page? If there's no problem, please close this issue.

[2019-07-23 10:13] rummens opened #964 "Update documentation to take care of two default storage classes after NFS Provisioner instalation"
I would propose an additional comment regarding the fact that the NFS Provisioner installation can end up in two default storage classes. This causes the Kubeflow installation to fail, it is very obvious but still unexperienced people might appreciate an additional comment.

One can just follow these [instruction](https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/).

[2019-07-23 12:26] rummens commented on #964
Running on Azure there is even a bigger problem because of this [thing ](https://github.com/Azure/AKS/issues/118) I cannot change the default storage class, so I had to change the actual kustomize code before deploying. The documentation should reflect this.

Also I am sure if I used the correct IP address and path in the `/etc/exports` file and the helm command. Maybe someone could clarfiy which

[2019-07-23 13:39] pdmack opened #966 "Kubeflow on Kubernetes"
https://www.kubeflow.org/docs/started/getting-started-k8s/

Should it say `make build-kfctl`?

[2019-07-23 22:06] #379 closed

[2019-07-24 09:33] yanniszark commented on #966
Hi @pdmack.
`make build-kfctl` builds in the host machine while `make build-kfctl-container` builds inside a container.
The difference is that `build-kfctl-container` only requires Docker as a dependency and is a very easily reproducible way of building.
`make build-kfctl` make break depending on the host's go configuration, if they have set up the v2 folder, etc.

[2019-07-24 09:35] yanniszark commented on #931
Hi @vigosser.
The installation requires access to a working LoadBalancerService, as mentioned by the Prerequisites.
You can use [MetalLB](https://metallb.universe.tf/) or try it out in a compliant GKE cluster, using the script provided in the guide.

[2019-07-24 20:02] numerology commented on #844
@dwightjl Same issue.

[2019-07-24 20:02] numerology opened #968 "Kubeflow version issue in Pipelines End-to-end on GCP"
https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/

In the 'Deploy Kubeflow' section it said to use Kubeflow version > 0.6. However it's currently not available in the UI-based deployment yet. (Currently supporting v0.5)

[2019-07-24 20:59] numerology opened #969 "Pipelines End-to-end on GCP"
https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/

After following the steps the web UI does not seem to work properly.
[This ](https://screenshot.googleplex.com/DkSMO3QqS4m)is what I got.

The root cause seems to be that mnist-service model cannot be added to bucket correctly. See [here](https://screenshot.googleplex.com/7ZhmNOaCx1k).

[2019-07-24 21:15] numerology commented on #969
Sorry for bothering. The cause is missing '/export' in the model-export-dir parameter.

[2019-07-24 21:15] #969 closed

[2019-07-24 21:41] sarahmaddox commented on #966
/assign @yanniszark

Thanks @yanniszark.

I'll close this issue as I think it's answered, but please do re-open it if any work is required.

[2019-07-24 21:41] sarahmaddox commented on #966
/close

[2019-07-24 21:41] #966 closed

[2019-07-24 21:45] #946 closed

[2019-07-25 04:51] OfficePop commented on #795
[PR 971](https://github.com/kubeflow/website/pull/971) created for this issue.

[2019-07-25 11:12] vanillakola opened #973 "TensorFlow Serving"
https://www.kubeflow.org/docs/components/serving/tfserving_new/
i use s3 to store models, but my tf-serving has error:
Found secret key
Pool grown by 2
Connection has been released. Continuing.
Curl returned error code 35.

what is problem? i can access s3 by my s3 client.

[2019-07-25 18:30] Ark-kun opened #974 "Deprecate PipelineParam in docs"
https://www.kubeflow.org/docs/pipelines/sdk/parameters/

There is no need for the end-user to use `PipelineParam` at this moment (and for a long time).
Although they're used under the hood, the user never needs to create them directly.
We should remove this doc and remove most mentions of PipelineParam in other places.

P.S. Default values for pipeline parameters are specified using pythonic way:

[2019-07-25 21:24] zanedurante commented on #822
@sarahmaddox Since I was already working on this project with the pipelines team, the pipeline was merged [here](https://github.com/kubeflow/pipelines/tree/master/samples/notebooks/image-captioning-gcp) in the pipelines samples repo (instead of `kubeflow/examples`).

PR here: https://github.com/kubeflow/pipelines/pull/1591

[2019-07-25 21:46] zanedurante commented on #751
@sarahmaddox the [simple notebook tutorial](https://github.com/kubeflow/examples/blob/master/pipelines/simple-notebook-pipeline/Simple%20Notebook%20Pipeline.ipynb) I created at the doc sprint does all of these.
It creates a pipeline, uploads it, creates an experiment, and then creates a run (all using the SDK).  It seems like a perfect match WDYT?

[2019-07-26 01:00] #973 closed

[2019-07-26 09:50] KikiCS opened #976 "TensorFlow Serving: deployment and service VS GPU example"
Hi everybody,
this issue is just some feedback on the documentation, while I'm studying it to hopefully make it work in my lab.
This [page](https://www.kubeflow.org/docs/components/serving/tfserving_new/) says that serving a model will require a **service** and a **deployment**, which can be generated respectively with the commands:
`ks generate tf-serving-service servicename`
and
`ks generate tf-

[2019-07-26 19:52] rajesh-chawla commented on #935
I attempted to create a notebook called 'test1'. Following the suggestions above, I executed the command:

`kubectl describe statefulsets test1`

shows the following error:

    Type     Reason        Age                     From                    Message
    ----     ------        ----                    ----                    -------
    Warning  FailedCreate  2m19s (x26 over 7m39s)  statefuls

[2019-07-26 20:40] rajesh-chawla commented on #935
I can create a notebook successfully after I create a service account named 'default-editor' clusteradmin rights.

[2019-07-27 07:05] sarahmaddox opened #978 "Update website version to v0.6.1"
https://github.com/kubeflow/kubeflow/releases

[2019-07-27 07:08] sarahmaddox commented on #968
Thanks for reporting this issue @numerology

For general discussion: It seems to be a confusing experience for the user if we release a Kubeflow version without supporting that version in the UI-based deployment. @jlewi and @abhi-g is there any way we can hold off on the Kubeflow release until the deployment UI supports the same version?

[2019-07-27 07:10] sarahmaddox commented on #962
I'm going to close this issue since there's not enough information to act upon. Please do re-open it if there's work to do on the issue.

/close

[2019-07-27 07:10] #962 closed

[2019-07-27 20:19] #952 closed

[2019-07-27 20:23] #978 closed

[2019-07-27 21:13] sarahmaddox opened #982 "Fix typo "alternately" -> "alternatively""
https://www.kubeflow.org/docs/started/getting-started-gke/

[2019-07-27 21:14] sarahmaddox commented on #982
/good-first-issue

[2019-07-28 21:36] sarahmaddox commented on #968
/assign

[2019-07-28 21:37] sarahmaddox commented on #978
/assign

[2019-07-28 21:37] sarahmaddox commented on #952
/assign

[2019-07-28 22:48] sarahmaddox opened #983 "Kubeflow getting-started guide should link to tutorials page rather than listing a subset"
The **Next steps** section of this page:
https://www.kubeflow.org/docs/started/getting-started/

Should link to here:
https://www.kubeflow.org/docs/examples/

Instead of listing a subset of the available tutorials etc.

The current duplication of links is confusing and leads to problems with maintenance.

[2019-07-28 22:59] sarahmaddox commented on #863
I've pinged the #community channel on Slack to see who can take on the Katacoda updates.

(Note issue https://github.com/kubeflow/website/issues/983 which proposes that we move all the tutorial links (not just Katacoda) from the getting-started page to the section devoted to tutorials/codelabs/etc. The Katacode tutorials are already linked in that section.)

I'm going to close this issue, as we ca

[2019-07-28 22:59] #863 closed

[2019-07-28 23:27] sarahmaddox commented on #858
/assign

[2019-07-28 23:27] sarahmaddox commented on #808
/assign

[2019-07-29 20:32] #808 closed

[2019-07-29 20:32] #858 closed

[2019-07-29 21:58] numerology opened #986 "Multiple stale links on section: 'Customizing Kubeflow on GKE'"
https://www.kubeflow.org/docs/gke/customizing-gke/

Hi! I found multiple stale links on this section.

[2019-07-29 22:42] sarahmaddox commented on #963
/close

[2019-07-29 22:42] #963 closed

[2019-07-29 22:42] sarahmaddox commented on #982
/close

[2019-07-29 22:42] #982 closed

[2019-07-29 23:28] sarahmaddox commented on #968
I'm closing this issue as fixed, but the discussion item in comment https://github.com/kubeflow/website/issues/968#issuecomment-515659423 remains valid.

/close

[2019-07-29 23:28] #968 closed

[2019-07-30 00:08] jlewi commented on #968
The Click To Deploy is GCP only. We don't want to hold up releases for vendor/platform specific solutions.

We are working on fixing click to deploy so we can sim ship with the OSS stack.

[2019-07-30 01:14] sarahmaddox commented on #986
/assign @numerology

[2019-07-30 01:22] sarahmaddox commented on #878
Hallo @carmine how are you going with this doc? I'm thinking the developer-focused getting-started guide belongs in the kubeflow/kubeflow repo on GitHub, so it'd make sense to move this issue to that repo. Or, if the update is already done, we can close this issue now. :)

[2019-07-30 01:23] sarahmaddox commented on #832
Hallo @javaderek I'm thinking the developer-focused getting-started guide belongs in the kubeflow/kubeflow repo on GitHub rather than on the website, so it'd make sense to move this issue to that repo. WDYT?

[2019-07-30 01:26] sarahmaddox commented on #844
Hallo @gogasca How are you doing with testing and updating this tutorial? I'd like to have it working in v0.6 before we archive off the v0.6 doc branch.

[2019-07-30 01:26] sarahmaddox commented on #860
/close

[2019-07-30 01:26] #860 closed

[2019-07-30 01:30] sarahmaddox commented on #930
See specific issue https://github.com/kubeflow/website/issues/958 for TFServing.

[2019-07-30 01:40] sarahmaddox commented on #825
The doc "Customizing Kubeflow on GKE" now uses kustomize not ksonnet.

We'll track other docs with individual issues.

/close

[2019-07-30 01:40] #825 closed

[2019-07-30 01:49] sarahmaddox opened #989 "ksonnet-to-kustomize migration: Add a note to component docs that are not yet converted"
Add a note to the component docs for components that are not yet converted to kustomize or documented. In the note, link to the issue tracking the conversion: https://github.com/kubeflow/manifests/issues/176

[2019-07-30 01:51] sarahmaddox commented on #930
See engineering issue tracking the needed manifests:
https://github.com/kubeflow/manifests/issues/176

[2019-07-30 01:53] sarahmaddox opened #990 "Update docs for v0.6 UI"
Update the guide to accessing the Kubeflow UIs, to reflect the new UI in Kubeflow v0.6:
https://www.kubeflow.org/docs/other-guides/accessing-uis/

[2019-07-30 01:56] sarahmaddox opened #991 "Enhance the docs for the Metadata component"
Kubeflow v0.6 introduced metadata tracking for ML artifacts. We have an overview in the docs: https://www.kubeflow.org/docs/components/misc/metadata/. We should expand that overview to include:

* more how-to and conceptual information,
* an introduction to the metadata UI (screenshot and concepts),
* links to reference docs (which we don't yet have).

Sources:

* Blog post: https://medium.com/@jo

[2019-07-30 03:23] sarahmaddox opened #992 "Update the auto-generated ref docs for the Pipelines API"
We need to update the auto-generated [ref docs for the Pipelines API](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/) - latest release is v0.1.25 whereas docs have v0.1.20

[2019-07-30 03:25] sarahmaddox commented on #992
/assign @IronPan

@IronPan Would you be able to tackle this issue or assign someone else to do it?

[2019-07-30 03:29] sarahmaddox opened #993 "Link to multi-user docs from Notebooks docs"
We have a guide that explains the new [multi-user support](https://www.kubeflow.org/docs/other-guides/multi-user-overview/) in Kubeflow v0.6. The doc uses notebooks as an example use case.

We should link from the notebooks docs to the above doc, so notebooks users can find the information.

[2019-07-30 03:50] sarahmaddox opened #994 "Foster creation of auto-generated API docs for all Kubeflow apps"
Document the tooling and processes for creating Swagger specs and request that each Kubeflow app follows the processes and creates generated ref docs.

Guides should go here:
https://github.com/kubeflow/website/tree/master/gen-api-reference

Source of this requirement: Developer users need a list of all HTTP endpoints exposed by Kubeflow. (From a community member during community meeting on June 1

[2019-07-30 04:06] sarahmaddox opened #995 "Design the docs solution for Kubeflow 1.0"
Develop a doc design and architecture for Kubeflow 1.0. By end of Q3, want to be code ready from an engineering point of view. We need to start defining the docs during Q3, and finish in Q4.

V1.0 will consist of a subset of components that are mature. For example, candidates include Notebooks, central dashboard, Fairing, TFJob, Pytorch, serving, Pipelines, and so on.

We also need to consider upg

[2019-07-30 04:16] sarahmaddox opened #996 "Pipelines: Document how to set up scheduled pipelines that can read a sliding window of data"
We'd like a guide that shows how to set up a scheduled pipeline that can read a sliding window of data.

It’s already clear how to set up a pipeline that will read the exact same source data each time it runs. For scheduled pipelines users often want some way (such as a regex) to specify how to read a sliding window of data. This capability exists, but needs to be documented.

A good place for the

[2019-07-30 04:20] sarahmaddox opened #997 "Pipelines: Document how to include a notebook into your Kubeflow pipeline"
Document how to include a notebook into your Kubeflow pipeline.

Update and repurpose content from here:
https://towardsdatascience.com/how-to-deploy-jupyter-notebooks-as-components-of-a-kubeflow-ml-pipeline-part-2-b1df77f4e5b3

[2019-07-30 09:01] carmine commented on #878
@sarahmaddox I'll submit the update today. I think there is value in putting this on the website proper for those evaluating the project. I'll add the PR later today and we can use that determine best place. Will that work?

[2019-07-30 10:02] MeisterUrian opened #998 "Minikube deployment error: unable to recognize "default.yaml": no matches for kind "VirtualService" in version "networking.istio.io/v1alpha3""
Get started: https://www.kubeflow.org/docs/started/getting-started-minikube/

after
[code]

such output:

[code]

As result - I have no deployments in minikube dashboard

[2019-07-30 18:47] sarahmaddox commented on #878
Sounds good.

On Tue., 30 Jul. 2019, 19:01 Carmine Rimi, <notifications@github.com> wrote:

[2019-07-31 01:17] hamelsmu opened #1000 "Fairing documentation does not exist despite a suggestion that there are docs"
The kubeflow website has a link on the sidebar discussing documentation for fairing, however, documentation does not exist.

The [readme for the fairing repo](https://github.com/kubeflow/fairing#documentation) mentions there are docs but that points to the same website without documentation.

My suggestion is to clarify that documentation is WIP, and official docs for the api does not exist yet so

[2019-07-31 01:43] sarahmaddox commented on #1000
Hallo @hamelsmu

The docs for Fairing are here:
https://www.kubeflow.org/docs/fairing/

The README for the Fairing repo points to this page, which is within the above section:
https://www.kubeflow.org/docs/fairing/fairing-overview/

Is it a particular feature of Fairing that's missing from the docs? If that's right, then yes please, a PR is most welcome. :)

[2019-07-31 02:06] hamelsmu commented on #1000
I’m going to close this issue as I am going to contribute to the docs where I think some things are missing - got connected in the slack channel

[2019-07-31 02:06] #1000 closed

[2019-07-31 03:34] sarahmaddox commented on #993
/assign

[2019-07-31 03:50] sarahmaddox commented on #983
/assign

[2019-07-31 04:17] sarahmaddox opened #1002 "Qwiklabs are unaccessible"
We link to various Qwiklabs from the getting-started guide and the tutorials page:

https://www.qwiklabs.com/catalog_lab/933
https://www.qwiklabs.com/catalog_lab/1046
https://qwiklabs.com/focuses/960?locale=en&parent=catalog
https://qwiklabs.com/focuses/1257?locale=en&parent=catalog

All of them give response that the resource cannot be found or access denied.

We should remove the links from our

[2019-07-31 04:17] sarahmaddox commented on #1002
/assign

[2019-07-31 04:37] scottilee commented on #455
Seeing as how this event date has passed, the issue should be closed.

/close

[2019-07-31 04:37] #455 closed

[2019-07-31 04:44] scottilee commented on #836
@Jeffwan any update on this?

[2019-07-31 05:00] sarahmaddox commented on #986
/close

[2019-07-31 05:00] #986 closed

[2019-07-31 05:22] #983 closed

[2019-07-31 05:22] #1002 closed

[2019-07-31 05:27] sarahmaddox commented on #960
/assign

[2019-07-31 08:08] futeng commented on #931
Hi @yanniszark
The problem still there after installed MetalLB.

After try `kfctl apply all -V`. Really need help.

[code]

- docker: 19.03
- Kubernetes：v1.15.1

[code]

[code]

[2019-07-31 08:50] yanniszark commented on #931
@futeng please see this comment:
https://github.com/kubeflow/kubeflow/issues/3737#issuecomment-516700738

[2019-07-31 09:50] KikiCS commented on #976
The issue #958 already addresses the problem related to what I was pointing out, so I will close this.

[2019-07-31 09:50] #976 closed

[2019-07-31 17:15] Tabrizian commented on #935
Thanks for pointing out @rajesh-chawla! I included this in the troubleshooting guide.

[2019-07-31 17:18] #993 closed

[2019-08-01 02:54] scottilee commented on #819
@sarahmaddox it looks this has been taken care of in some pull requests like https://github.com/kubeflow/website/pull/770/files. I did a search of the docs repo and couldn't find any other references of the SDK that pointed to Github. Let me know if I'm mistaken.

[2019-08-01 03:00] scottilee commented on #793
@sarahmaddox how often should Hugo be updated? As of today, the most recent version is `0.56.3`. Is it as simple as updating the two `HUGO_VERSION` lines in https://github.com/kubeflow/website/blob/master/netlify.toml?

If it should be updated frequently maybe we can get some automation, in the form of a bot, that continuously checks for Hugo releases and sends a pull request?

[2019-08-01 03:17] sarahmaddox commented on #819
There are still some left. I haven't done an exhaustive search, but [this search](https://github.com/kubeflow/website/search?q=%22%2Fkubeflow%2Fpipelines%2Ftree%2Fmaster%2Fsdk%22&unscoped_q=%22%2Fkubeflow%2Fpipelines%2Ftree%2Fmaster%2Fsdk%22) and [this search](https://github.com/kubeflow/website/search?q=%22github.com%2Fkubeflow%2Fpipelines%2F%22&unscoped_q=%22github.com%2Fkubeflow%2Fpipelines%2F%

[2019-08-01 04:02] scottilee commented on #73
/assign

[2019-08-01 04:04] scottilee commented on #623
@sarahmaddox I can take care of this if I can get permissions to edit https://github.com/kubeflow/website/wiki?

[2019-08-01 04:26] sarahmaddox commented on #623
Thanks @scottilee! The plan is actually to move the info to the community wiki rather than the website wiki:
https://github.com/kubeflow/community/wiki/Kubeflow-Community-Events-&-Programs

@theadactyl can you give @scottilee access to the community wiki. (I have read access only.)

[2019-08-01 04:44] scottilee commented on #819
@sarahmaddox I was trying to help with this but I wasn't quite clear on the mapping. For instance, the first result from https://github.com/kubeflow/website/search?q=%22github.com%2Fkubeflow%2Fpipelines%2F%22&unscoped_q=%22github.com%2Fkubeflow%2Fpipelines%2F%22, is [content/docs/pipelines/sdk/reusable-components.md](https://github.com/kubeflow/website/blob/3c584ba13e260db1c6b2ed0a298146eb0e04f190

[2019-08-01 05:21] sarahmaddox opened #1010 "Add a page for shared resources"
This page will offer a place where we can help users find shared ML resources.

A good place for such a page is  in the [Tutorials and Samples](https://www.kubeflow.org/docs/examples/) section.

At this point we can include:

* AI Hub (shared notebooks and pipelines)
* Pipelines repo (reusable components)

The page offers the opportunity to include other hubs/websites too. Anywhere where people ca

[2019-08-01 13:26] #960 closed

[2019-08-01 21:18] temporafugiunt opened #1012 "Test and fix the end-to-end Kubeflow on GCP Tutorial"
https://www.kubeflow.org/docs/gke/gcp-e2e/

The **End-to-end Kubeflow on GCP** tutorial is having issues and is probably using outdated python tutorial code no longer compatible with the default version of TensorFlow in the Jupyter notebook environment setup by default. The issue related to section **(Optional) Test the code in a Jupyter notebook**

Here are the steps I took to before having the i

[2019-08-01 21:21] temporafugiunt commented on #1012
I did also add a `print(args)` statement, which is what you see first in the second run detail.

[2019-08-01 21:22] temporafugiunt commented on #1012
Text based output of the run if that is helpful:

`Namespace(f='/home/jovyan/.local/share/jupyter/runtime/kernel-3cf0407c-c1c2-4149-a60e-291f1335e518.json', tf_batch_size=100, tf_data_dir='/tmp/data/', tf_export_dir='mnist/', tf_learning_rate=0.01, tf_model_dir=None, tf_model_type='CNN', tf_train_steps=200)
INFO:tensorflow:TF_CONFIG {}
INFO:tensorflow:cluster=None job_name=None task_index=None
INF

[2019-08-01 21:24] temporafugiunt commented on #1012
And contents of %tb:

[code]

[2019-08-01 22:29] abhi-g opened #1013 "Document GCP role required of user for deploying Kubeflow"
We should clearly document as pre-requisite the GCP project role a user must have in order to be able to successfully deploy Kubeflow in their GCP project.

It will also be useful to document why this role is required.

[2019-08-01 23:04] sarahmaddox commented on #1013
+1

We currently do say that people need the **owner** role, on the following pages:
* https://www.kubeflow.org/docs/gke/deploy/deploy-ui/
* https://www.kubeflow.org/docs/gke/pipelines-tutorial/

We should put the information into the GCP setup guide as well:
* https://www.kubeflow.org/docs/gke/deploy/project-setup/

[2019-08-01 23:09] sarahmaddox commented on #1013
@scottilee Is this an issue that you can take on?

[2019-08-01 23:09] sarahmaddox commented on #1013
Oh wait, sorry, I see that @abhi-g  has taken it on.

[2019-08-01 23:38] sarahmaddox commented on #989
@scottilee is this something you could take on? Basically, we need to check all the components in this section that are not yet converted to kustomize:
https://www.kubeflow.org/docs/components/

And map them to the comments and related issues mentioned on this issue:
https://github.com/kubeflow/manifests/issues/176

Then add a note to the doc for each affected component, saying that the component

[2019-08-01 23:54] scottilee commented on #989
@sarahmaddox Sure, will take a look.

/assign

[2019-08-02 01:04] scottilee commented on #989
@sarahmaddox I don't see an issue for https://www.kubeflow.org/docs/components/serving/tfbatchpredict/ or https://www.kubeflow.org/docs/components/training/pytorch/. Otherwise my pull request covers the rest although I was unsure about https://www.kubeflow.org/docs/components/serving/pytorchserving/ since it also didn't have an explicit issue but it seemed related to Seldon so I added that issue.

[2019-08-02 05:15] #935 closed

[2019-08-02 18:09] ricoms opened #1017 "video tutorial does not show commands applied"
video shared here: https://www.kubeflow.org/docs/started/getting-started-gke/

A suggestion would be to write down the commands applied below the video.

[2019-08-02 19:12] sarahmaddox commented on #1017
/assign @texasmichelle

@texasmichelle This is an interesting point, which will apply to all videos. The videos need to provide enough tech info for people to be able to follow up on them. Even just a doc link would be good enough, I think.

[2019-08-02 19:30] texasmichelle commented on #1017
The sentence directly in front of the video includes a link to all the commands used ("All code used in this video can be found in the [examples repository](https://github.com/kubeflow/examples/tree/master/videos/from_zero_to_kubeflow)"). If this is what you're looking for, is there clearer language we could use to make that more obvious or prominent?

[2019-08-02 19:43] #1013 closed

[2019-08-02 20:04] kbhawkey commented on #793
hi! I raised this issue to upgrade the production site to >= hugo v0.53 *extended*. I have not evaluated the latest version of hugo ext. with netlify. Would this version upgrade simplify the CSS generation (no git check in of generated files to source)?

[2019-08-02 21:16] ricoms commented on #1017
@texasmichelle , you are correct. Sorry, I opened directly the kubeflow examples repository when you mentioned them at the video, and later I thought that link ("examples repository") would direct me here to main https://github.com/kubeflow/examples

Thanks a lot for all your great work, I'm learning a lot.

[2019-08-02 21:16] #1017 closed

[2019-08-03 20:11] sarahmaddox commented on #793
Hallo both! I think we need to update our site to the latest Netlify, to pick up support for Hugo extended.

These updates (Netlify, Hugo, and also Docsy) are on my radar, but we have some content updates that take higher priority at the moment. Any update of the site infrastructure needs careful testing of the whole site.

[2019-08-04 04:30] Tabrizian commented on #997
I can work on this issue but I need limited access to GCP to create a Kubeflow. I am running out of my free tier account on GCP.

[2019-08-04 17:13] yuval-yaari opened #1019 "Ambassador service is not being created - Azure deployment"
Either the documentation is out of date, or there is an issue with the installation.
I'm trying to follow the Azure installation instructions, and it states to expose a service called `ambassador`.
Such service is not created in the kubeflow namespace.

[2019-08-04 19:14] sarahmaddox commented on #995
/assign

[2019-08-04 19:14] sarahmaddox commented on #990
/assign

[2019-08-04 19:24] sarahmaddox commented on #997
Actually, for this particular doc it'd be great to offer a solution that doesn't rely on GCP. So, perhaps using Kubeflow on prem or local. Our docs are becoming a little heavy on the GCP side. If you create a guide that uses Kubeflow on a generic Kubernetes cluster, readers can move it to GCP or another cloud if they wish.

(About the access to GCP in a more general sense: I'll enquire about the s

[2019-08-04 20:44] Tabrizian commented on #997
Thanks @sarahmaddox!

Sure, I can start working on it but I don't promise. I try my best to add it.

[2019-08-04 20:48] sarahmaddox commented on #997
Great!

/assign @Tabrizian

[2019-08-04 23:04] jlewi commented on #958
@lluunn Any plans to pick this up this week?

[2019-08-05 00:24] sarahmaddox opened #1020 "Test and fix up the GCP deployment instructions for CLI (Kubeflow v0.6)"
Run through the GCP deployment process using the CLI for v0.6 and fix up any hiccups in the docs.

Small thing:
Fix typo "instructons" on this page:
https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

[2019-08-05 00:25] sarahmaddox commented on #1020
/good-first-issue

[2019-08-05 00:31] sarahmaddox commented on #1020
Further improvements on the page:

Change this list item and sub-item:

To a single list item which says:

[2019-08-05 00:33] sarahmaddox commented on #1020
And change this:

To something like this:

[2019-08-05 00:38] sarahmaddox commented on #1020
Actually, I'll take this as there are other things that need fixing in the GCP deployment docs.

/assign

[2019-08-05 01:04] pdmack commented on #33
I am doing poorly due to other commitments. Still would like the XXL t-shirt though.

[2019-08-05 01:22] sarahmaddox commented on #33
You got it! I've just sent you your code by email. Claim the T-shirt by August 9th.

[2019-08-05 13:02] jlewi opened #1023 "minikube instructions for 0.6 shouldn't use kfctl.sh"
The minikube instructions need to be updated
https://www.kubeflow.org/docs/started/getting-started-minikube/

We should no longer tell users to use kfctl.sh; that script will no longer work since its using ksonnet.

Instead the instructions should be

1. Setup minikube
1. Follow the instructions for installing Kubeflow on an existing cluster

For the latter we can probably just link to the appropr

[2019-08-05 17:22] Jeffwan opened #1024 "Update AWS documentation to use 0.6 branch"
We need to update kubeflow aws documentation to 0.6

1. Use kfctl golang instead of kfctl.sh
2. Use kustomize package manager.

[2019-08-06 02:12] ricoms commented on #844
I'm following [this tutorial](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#2). I'm pretty sure I followed the instructions correctly and I reached the same problem at step `kustomize build .`
[code]

I installed `kustomize` from "Quickly curl the latest" [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md)

my versi

[2019-08-06 02:12] ricoms commented on #844
I'm following [this tutorial](https://codelabs.developers.google.com/codelabs/kubeflow-introduction/index.html?index=..%2F..index#2). I'm pretty sure I followed the instructions correctly and I reached the same problem at step `kustomize build .`
[code]

I installed `kustomize` from "Quickly curl the latest" [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md)

my versi

[2019-08-06 02:39] #989 closed

[2019-08-06 03:55] #1020 closed

[2019-08-06 04:23] sarahmaddox commented on #990
Pages with screenshots, and possibly surrounding text, to update:

* https://www.kubeflow.org/docs/other-guides/accessing-uis/
* https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/
* https://www.kubeflow.org/docs/gke/pipelines-tutorial/
* https://www.kubeflow.org/docs/gke/gcp-e2e/ (let's wrap this update into issue https://github.com/kubeflow/website/issues/1012)
* https://www.kubeflow.o

[2019-08-06 09:49] vjrantal opened #1033 "Add documentation for the Fairing KubeflowAzureBackend sample"
The PR at https://github.com/kubeflow/fairing/pull/322 will bring support to using `fairing.backends.KubeflowAzureBackend` from sample notebooks such as the ones here https://github.com/kubeflow/fairing/tree/fd87ddcd668de0929c67490280fda3c897957496/examples/prediction.

This issue is to track creating documentation about the Azure-specific steps required to run such notebooks, such as how to set t

[2019-08-06 13:01] jlewi commented on #935
Thanks @Tabrizian for the guide.

[2019-08-06 16:04] ShyamSubramanian opened #1034 "MiniKF with HyperV"
Docker Desktop for Windows requires HyperV
MiniKF requires VirtualBox

For a dev env setup in Windows machines, we need MiniKF and Docker Desktop for Windows. Since  they cannot co-exist, what is the solution?

Is Docker toolbox the only option? or can MiniKF run with HyperV?

[2019-08-06 16:14] #1034 closed

[2019-08-06 18:29] ricoms commented on #844
[this](https://github.com/kubeflow/examples/issues/609) thread might help

[2019-08-06 18:42] ricoms commented on #844
At the end of "Deploying the UI" it says: "Now in your Cloud Shell interface, press the web preview button and select "Preview on port 8080" to open the web interface in your browser:"... but I'm running everything on my local shell, and I was not warned that I should use Cloud Shell the entire time.

I accessed `http://localhost:8080/` and I could see the UI, although I'm not sure: Am I serving i

[2019-08-06 23:56] #1010 closed

[2019-08-07 00:39] sarahmaddox opened #1036 "Options in top menu turn white and version dropdown no longer works"
There are 2 problems in the top menu bar that have surfaced recently:

* The version dropdown no longer works. When you hover over it, it shows an anchor link for a heading on the current page.

* On the landing page (https://www.kubeflow.org/) the menu bar text turns white when you scroll down. It should change to light blue, so that the white text shows up nicely.

For intended behaviour, compar

[2019-08-07 00:40] sarahmaddox commented on #1036
/assign @Bobgy

@Bobgy Please would you take a look at this?

[2019-08-07 00:44] sarahmaddox opened #1037 "Is multi-user isolation currently only available in Notebooks?"
Is multi-user isolation currently only available in Notebooks?

If yes, we should make that clear in the following doc:
https://www.kubeflow.org/docs/other-guides/multi-user-overview/

[2019-08-07 00:45] sarahmaddox commented on #1037
@abhi-g Do you know the answer to this question? I've heard discussions that imply that multi-user isolation is only implemented for notebooks in v0.6.

[2019-08-07 01:25] sarahmaddox commented on #1033
Thanks @vjrantal! I'll assign this doc issue to you. Let me know if that's not OK!

/assign @vjrantal

[2019-08-07 01:48] abhi-g commented on #1037
The notebooks service is the first application to be fully integrated with multi-user isolation. Resources created by the notebooks (eg. Training jobs and deployments) will also inherit the same visibility.

Metadata and Pipelines or any other applications currently don't have full fledged integration with isolation, though they will have access to the user identity through the headers of the inco

[2019-08-07 01:52] sarahmaddox commented on #1037
Yes, it's a good idea to add an explicit statement of the current state. This will reduce confusion. Also the fact that each application/commponent should implement the feature is useful info.

[2019-08-07 01:57] abhi-g commented on #1037
Can you please suggest a title for this section?

[2019-08-07 02:32] #1036 closed

[2019-08-07 03:29] sarahmaddox commented on #1037
How about this title: **Current integration and limitations**

Also, I think we should move this sentence from paragraph 1 into the new section:
"Note that the isolation support in Kubeflow doesn’t provide any hard security guarantees against malicious attempts by users to infiltrate other user’s profiles."

[2019-08-07 03:30] sarahmaddox commented on #1037
@abhi-g I'll assign this issue to you, but feel free to unassign it if you don't have bandwidth to do the update.

/assign @abhi-g

[2019-08-07 18:33] amygdala opened #1041 "port-forwarding instructions for v06"
I *think* this command: `kubectl port-forward svc/ambassador -n kubeflow 8080:80` (from https://www.kubeflow.org/docs/other-guides/accessing-uis/) needs to be `kubectl port-forward svc/ambassador -n istio-system 8080:80` for 0.6
(but namespace needs to stay as is for earlier versions)

[2019-08-07 18:42] amygdala opened #1042 "port-forwarding does work for IAP clusters AFAICT"
https://www.kubeflow.org/docs/other-guides/accessing-uis/
I believe this line is incorrect:

It's true for basic auth, but I'm reaching the dashboard okay with forwarding on an IAP cluster— I don't think there is any kind of port-forwarding issue with IAP?  Do you know why that qualifier was added originally?

[2019-08-07 19:19] carmine opened #1043 "Create "Kubeflow for Windows" Getting Started Guide"
Similar to the public pages, "[ AWS | Azure | Google Cloud ] for Kubeflow" pages, it will be useful to create a page specific to launching Kubeflow on the Windows platform.

[2019-08-07 19:23] carmine opened #1045 "Create "Kubeflow for MacOS" Getting Started Guide"
Similar to #1043, create a getting started that is specific to the MacOS platform.

[2019-08-07 19:29] carmine opened #1046 "Create "Kubeflow for Linux" Getting Started Guide"
Similar to #1043 and #1045, create a page that is specific to installing Kubeflow on Linux.

[2019-08-07 21:13] Tabrizian commented on #935
You’re welcome!

[2019-08-08 00:49] amygdala opened #1048 "Is it possible to get rid of ads in site search?"
e.g. a search for 'metadata' returns with the following. I think it doesn't help with site clarity. Don't know how search is set up, so possibly we're stuck with it.
![image](https://user-images.githubusercontent.com/115093/62667195-6f1ea880-b93b-11e9-82ef-576cab0e529b.png)

[2019-08-08 01:48] GarethLewin commented on #853
Any update on this PR?

[2019-08-08 02:01] sarahmaddox commented on #795
Congrats and thanks @OfficePop!

/close

[2019-08-08 02:01] #795 closed

[2019-08-08 03:00] sarahmaddox commented on #1041
/assign

I'm updating the screenshot and UI text references on this page. I'll take this one on too.

[2019-08-08 03:01] sarahmaddox commented on #1042
/assign

I'm updating the screenshot and UI text references on this page. I'll take this one on too.

[2019-08-08 04:19] #1037 closed

[2019-08-08 18:39] Jeffwan opened #1050 "Merge aws docs for Kubeflow on new cluster and existing cluster"
Right now, aws users get confused about steps and raise several questions on the documentation. The major reason is we have process to create a new cluster in the kfctl and documentation is not clear enough for two different group of users.

We consider to remove logic to spin up cluster for users in `kfctl` and then we can merge the
`new cluster` and `existing cluster` to one page. I think it wil

[2019-08-08 21:43] gogasca commented on #844
@sarahmaddox Zane @zanedurante  will be taking over this PR.

[2019-08-09 00:38] sarahmaddox commented on #844
Great, thanks @gogasca

/assign @zanedurante

[2019-08-09 00:39] sarahmaddox commented on #844
@zanedurante Please would you comment on this issue so that I can assign it to you?

[2019-08-09 04:43] sarahmaddox commented on #1024
/close

[2019-08-09 04:43] #1024 closed

[2019-08-09 04:47] sarahmaddox commented on #991
/assign

[2019-08-09 04:52] sarahmaddox commented on #930
I've removed the v0.6 label from this issue. The components still need updating to kustomize, but we've added a note in the docs on each component, letting folks know that the component is not yet updated for the switch from ks to kustomize. This issue therefore no longer blocks us from creating the v0.6 archive of the docs.

[2019-08-09 05:00] zhenghuiwang commented on #580
/assign @zhenghuiwang

[2019-08-09 05:16] Bobgy opened #1053 "Update docs for v0.6 KFP"
For details, see https://github.com/kubeflow/pipelines/issues/1604

[2019-08-09 19:34] zanedurante commented on #844
Sure thing--I'll work on this for the remainder of my internship.

[2019-08-09 19:55] sarahmaddox commented on #844
/assign @zanedurante

That's great news! Thanks Zane.

[2019-08-09 20:51] #990 closed

[2019-08-09 20:51] #1042 closed

[2019-08-09 23:35] #958 closed

[2019-08-10 03:37] sarahmaddox opened #1059 "Update the Pipelines upgrade guide for Kubeflow v0.6"

[2019-08-10 03:46] sarahmaddox commented on #1059
/assign @Bobgy

[2019-08-10 06:53] scottilee commented on #623
@theadactyl here's the markdown you can use to create an events page that fulfills @texasmichelle requirements: https://gist.githubusercontent.com/scottilee/0b1e92c3cb67f5c02031a4f17902e826/raw/35a972beb47f58f058d3f691f0f61f901daee47a/Kubeflow-Community-Events-&-Programs.md

[2019-08-10 20:32] sarahmaddox commented on #889
Pasting a comment from @jlewi on https://github.com/kubeflow/website/pull/1051#issuecomment-520098589

[2019-08-11 23:43] #1043 closed

[2019-08-12 00:04] jlewi commented on #1023
The instructions were partially updated in #1051
https://www.kubeflow.org/docs/reference/virtual-dev/getting-started-minikube/

The instructions now point users at installing on existing kubernetes clusters but the link is broken

The port-forwarding command also looks incorrect.

Users need to port-forward to the ISTIO gateway not to the Ambassador service.

@abhi-g Are you working on updating th

[2019-08-12 00:25] abhi-g commented on #1023
I am also working on getting the minikube setup script working. Currently
it's running installing Kubeflow with existing k8s configs. I specifically
tried k8s with istio config. That hasn't worked so far. I am trying to
create a trimmed down config for minikube.

On Sun, Aug 11, 2019 at 5:04 PM Jeremy Lewi <notifications@github.com>
wrote:

[2019-08-12 03:31] sarahmaddox commented on #1046
/close

[2019-08-12 03:31] #1046 closed

[2019-08-12 03:31] sarahmaddox commented on #1045
/close

[2019-08-12 03:31] #1045 closed

[2019-08-12 03:54] sarahmaddox opened #1062 "Refactor "Other Guides" and "Use Cases""
The naming of the ["Other Guides"](https://www.kubeflow.org/docs/other-guides/) section of the docs needs clarification now that the rest of the docs have grown to contain more than just setup.

There's also overlap/confusion between the "Other Guides" section and the ["Use Cases"](https://www.kubeflow.org/docs/use-cases/) section.

Lastly, some guides currently in the "Reference" section belong r

[2019-08-12 03:54] sarahmaddox commented on #1062
/assign

[2019-08-12 04:00] sarahmaddox opened #1063 "Add redirects and fix links to refactored getting-started section"
We recently refactored the getting-started section of the docs. As a result, some links give a 404 when coming in from the Kubeflow UI, blog posts, GitHub repos, bookmark,s and other places. ([Example](https://www.kubeflow.org/docs/started/getting-started-minikf/).)

We should add redirects to catch links coming in from outside, and also fix all links within our docs, for all the pages that we mov

[2019-08-12 04:00] sarahmaddox commented on #1063
/assign

[2019-08-12 14:08] doschkinow opened #1065 "Deploy using CLI - insufficient GCP project quota"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

Following this guide I get following error:

ERRO[0034] Updating kfapp error: &{Code:RESOURCE_ERROR Location:/deployments/kfapp/resources/kfapp Message:{"ResourceType":"gcp-types/container-v1beta1:projects.locations.clusters","ResourceErrorCo
de":"403","ResourceErrorMessage":{"code":403,"message":"Insufficient project quota to satisfy request:

[2019-08-12 16:15] #1062 closed

[2019-08-12 16:15] #1063 closed

[2019-08-12 19:26] krishnadurai opened #1066 "Move docs for On Premise Authorization to Website from manifests/docs"
/area docs
/priority p2

Example Authorization scrips and RBAC rules are now maintained in manifests/docs and they need to be moved to website before 0.7 release.

**Related Issues:**

kubeflow/manifests#195

[2019-08-12 23:43] jlewi commented on #1041
Reopening this because port-forwarding to Ambassador is not the right thing to do.
The correct thing to do see kubeflow/kubeflow#3618 is to port-forward to the istio gateway

[code]

We no longer install Ambassador except in the basic auth case. port-forwarding isn't guaranteed to work in the event user sets up Auth.

If users want to do port-forwarding they should follow the instructions to setup

[2019-08-13 00:14] amygdala commented on #1041
yeah, I just belatedly realized this today too.  If you're putting in a PR to change it I'll hold off.

[2019-08-13 00:41] #580 closed

[2019-08-13 01:33] #1041 closed

[2019-08-13 01:43] jlewi commented on #1041
Thanks @amygdala #1067 should just have been merged.

[2019-08-13 02:17] jlewi opened #1068 "Troubleshooting notebook credentials and poddefaults; notebook startup"
We need better documentation around how to troubleshoot the use of PodDefaults to inject credentials and other information into jupyter pods.

This comment is a good place to start
https://github.com/kubeflow/kubeflow/issues/3571#issuecomment-520660278

[2019-08-13 05:32] JunPyoL22 commented on #1065
For deploying kubeflow on GCP, I changed on both "cpu-pool-machine-type" and " gpu-pool-machine-type"  from **n1-standard-8** to **n1-standard-4** in cluster-kuberflow.yaml which is in my project folder because of initial quota limit assigned my free GCP account.

I think this would be helpful.

[2019-08-13 07:03] #991 closed

[2019-08-13 09:25] doschkinow commented on #1065
Thanks fo the hint.
I tried **n1-standard-4** and **n1-standard-2** but both failed with a error message, saying that the required node image is not available:

ERRO[0035] Updating kfapp error: &{Code:RESOURCE_ERROR Location:/deployments/kfapp/resources/kfapp Message:{"ResourceType":"gcp-types/container-v1beta1:projects.locations.clusters","ResourceErrorCode":"400","ResourceErrorMessage":{"code":4

[2019-08-13 09:53] doschkinow opened #1069 "Deploy using CLI - errors with kfapp storage / metadata"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

If I set e.g. ZONE=europe-west3-a and do:

kfctl apply all -V

I get following error:
INFO[0005] Updating kfapp-storage status: RUNNING (op = operation-1565689589282-58ffc83cc3779-1b411f0c-fb977655)  filename="gcp/gcp.go:352"
ERRO[0009] Updating kfapp-storage error: &{Code:NO_METHOD_TO_UPDATE_FIELD Location: Message:No method found to update fi

[2019-08-13 11:26] JunPyoL22 commented on #1065
Both types should be same.  "n1-standard-"
Sorry for mistyping  on the above comment
But, you need to check your quota on static ip addresses global. This should be 2 if you want deploy kubeflow with 2 nodes.

[2019-08-13 17:20] yanniszark opened #1070 "pin config links to v0.6-branch instead of master"
Links to kfctl config files for v0.6 should point to v0.6-branch instead of master.
eg.
`https://raw.githubusercontent.com/kubeflow/kubeflow/master/bootstrap/config/kfctl_aws.yaml`
->
`https://raw.githubusercontent.com/kubeflow/kubeflow/v0.6-branch/bootstrap/config/kfctl_aws.yaml`

/assign @yanniszark

[2019-08-14 02:57] sarahmaddox commented on #1050
/assign @Jeffwan

[2019-08-14 18:26] zanedurante commented on #844
Since this is my last week, I don't think I'll be able to finish fixing this tutorial.  However, I did run into the same problems that many people mentioned.  IAP integration gave me an error as was mentioned by @bd12 (however I could still connect to the endpoint despite receiving the IAP error in the GUI deployer).  I ran into the same issues as @ricoms when using the newest Kustomize version as

[2019-08-14 20:57] jlewi commented on #1068
We also need troubleshooting information about notebooks not starting because the required service accounts aren't found in the requested namespace.

See kubeflow/kubeflow#3902

[2019-08-14 20:58] jlewi opened #1075 "auto-deployed clusters from master not accessible via IAP"
Tried accessing the following

https://kf-vmaster-n01.endpoints.kubeflow-ci-deployment.cloud.goog

Get
ERR_CONNECTION_CLOSED

[2019-08-14 21:25] sarahmaddox commented on #1075
Thanks @jlewi! Should this issue be in `kubeflow/kubeflow` or is there also a doc update required?

[2019-08-14 21:54] jlewi commented on #1075
@sarahmaddox sorry Filed this in the wrong repo will move it.

[2019-08-15 04:44] sarahmaddox commented on #1012
I'm closing this as a duplicate of issue https://github.com/kubeflow/website/issues/844

/close

[2019-08-15 04:44] #1012 closed

[2019-08-15 04:44] sarahmaddox commented on #1012
/assign

[2019-08-15 04:45] sarahmaddox commented on #844
See also the comments on issue https://github.com/kubeflow/website/issues/1012

[2019-08-15 04:48] sarahmaddox commented on #844
I'll work through this tutorial and liaise with @texasmichelle if the sample needs fixing.

/assign

[2019-08-15 04:49] sarahmaddox commented on #992
/close

[2019-08-15 04:49] #992 closed

[2019-08-15 04:56] sarahmaddox commented on #1023
PR https://github.com/kubeflow/website/pull/1067 fixed the port forwarding instructions.

@abhi-g How's it going with the script?

[2019-08-15 05:00] sarahmaddox commented on #959
We've added a comment in the doc, saying that it still uses ksonnet and needs updating:
https://www.kubeflow.org/docs/components/serving/trtinferenceserver/#kubernetes-generation-and-deploy

It'd be good to get this updated before we archive the v0.6 branch of the docs.

@pdmack is this something you could take on?

[2019-08-15 06:55] sarahmaddox commented on #844
I've run through the tutorial at https://www.kubeflow.org/docs/gke/gcp-e2e/ using a Kubeflow v0.6.1 installation (installed via the CLI). I verify that I encountered the problems reported by others:

1. When attempting to run `model.py` in a notebook ([this _optional_ step](https://www.kubeflow.org/docs/gke/gcp-e2e/#optional-test-the-code-in-a-jupyter-notebook)), I get the same error as reported i

[2019-08-15 09:38] JunPyoL22 commented on #1065
@doschkinow
I think I wrote wrong answer.
Machine types doesn't matter. I might think the error message relate to inconsistency on cpu pool machine-type and  its properties you requested.
Did you just change both machine types from default config in your cluster-kuberflow.yaml?

[2019-08-15 23:54] whillas opened #1081 "Usecases would help"
Some use-cases for each of the options would help someone to figure out which of the three setup options is relevant

[2019-08-16 00:42] sarahmaddox commented on #1050
/close

[2019-08-16 00:42] #1050 closed

[2019-08-16 00:56] sarahmaddox opened #1082 "Clarify the port-forwarding situation for GCP deployments in Kubeflow v0.6.1+"
For GCP deployments with IAP or basic auth:

The kfctl v0.6.1 deployment with IAP doesn't install an Ambassador service (in any namespace). Port-forwarding with the IAP deployment therefore doesn't work. (The command  `kubectl -n istio-system port-forward svc/istio-ingressgateway  8080:80` makes the connection, but when you try to hit `localhost:8080` in the browser, you get an error: `Origin auth

[2019-08-16 00:58] sarahmaddox commented on #1082
/assign

[2019-08-16 13:37] jlewi opened #1084 "Update spartakus docs to reflect kustomize"
The instructions
https://www.kubeflow.org/docs/other-guides/usage-reporting/

Need to be updated for kustomize.

To prevent Spartakus from being deployed; users should do the following before running `kfctl apply`.

* Edit ${KFAPP}/app.yaml
* Delete the entry in KfDef.Spec.Applications for spartakus

[code]

see for example
https://github.com/kubeflow/kubeflow/blob/f32b3ee37f2649f2a8c72d80b46ed9eb

[2019-08-16 14:29] xauthulei commented on #1084
@jlewi, I am will to modify that later and thanks for your trust here.

[2019-08-16 15:56] doschkinow commented on #1065
Yes, I changed only the machine types that end with -8(two occurrences). Once with -4 and once with -2, but neither worked. Right now I do not have access to my env, but on Monday I will.
Many thanks!

[2019-08-16 20:38] #1082 closed

[2019-08-17 03:16] #1070 closed

[2019-08-17 20:05] sarahmaddox commented on #1084
/close

[2019-08-17 20:05] #1084 closed

[2019-08-17 20:09] sarahmaddox commented on #1081
Thanks for raising this issue @whillas! Could you give us more context about the area of the setup docs that you were visiting when you realized the docs could do with use cases. I think maybe it was the getting-started section (https://www.kubeflow.org/docs/started/getting-started/) but I'd like to confirm that.

[2019-08-17 20:13] sarahmaddox commented on #1069
/assign @zhenghuiwang

@zhenghuiwang Please would you take a look at this error. It seems to be related to the metadata feature.

[2019-08-17 20:28] sarahmaddox commented on #1048
The search uses Google Custom Search Engine:
https://cse.google.com/cse/

I've investigated removing the ads, but I don't think it's possible unless we change to a different search mechanism.

We use the Docsy theme on top of Hugo static site generator. Hugo mentions a few search options:
https://gohugo.io/tools/search/

If we do decide to implement a different search, we should consider contribut

[2019-08-17 20:29] sarahmaddox commented on #1048
/help-wanted

[2019-08-20 03:43] sarahmaddox commented on #1059
/close

[2019-08-20 03:43] #1059 closed

[2019-08-20 19:51] liorshk opened #1089 "Link doesn't work in - Minikube for Kubeflow installation"
The above link doesn't work on [this page](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/)

Link should be changed to https://www.kubeflow.org/docs/started/k8s/overview/

[2019-08-21 04:53] sarahmaddox opened #1091 "Remove mention of TFJob dashboard from the docs"
We've stopped supporting the tfjob dashboard, so it is entirely possible that it is broken in Kubeflow v0.6+.

Remove mention of the TFJob dashboard from the docs:
* https://www.kubeflow.org/docs/components/training/tftraining/#accessing-the-tfjob-dashboard
* https://www.kubeflow.org/docs/other-guides/accessing-uis/#next-steps

[2019-08-21 04:55] sarahmaddox commented on #1091
/good-first-issue

[2019-08-21 04:58] sarahmaddox opened #1092 "Give more guidance on Kubeflow config and kustomize"
Move the [kustomize](https://www.kubeflow.org/docs/components/misc/kustomize/) page to the "Further setup" section and add more info to the page.

Reasons:
* kustomize isn't really a component of Kubeflow, but rather the configuration manager. The guide therefore doesn't belong in the "components" section.
* People need more guidance on how to manage their Kubeflow config.

[2019-08-21 04:58] sarahmaddox commented on #1092
/assign

[2019-08-21 05:08] SinaChavoshi commented on #844
@ricoms regarding:

Could shell is just like your local environment, it is basically a VM running on the cloud.  So the instructions should work similarity regardless on local dev as long as you have setup gcloud.

The UI itself is hosted on the k8 cluster, when you run kubectl port-forward svc/web-ui 8080:80 it creates a tunnel so you can access the UI via localhost:8080 from your local machine.

[2019-08-21 05:13] SinaChavoshi commented on #844
@ricoms  & @dwightjl  regarding the issue with `kustomize build .` I'm going through the sample I should be able to share an update shortly.

In the mean time just FYI, kustomize simply allows to mix and match  yamls based on the name space. though the core logic of what is happening is kept in the YAML files, you can modify and run them separately.

[2019-08-21 09:09] krishnadurai commented on #751
@zanedurante @sarahmaddox Looks like the example referred to here covers this use-case. I'll go ahead and close this issue.

/close

[2019-08-21 09:09] #751 closed

[2019-08-21 11:40] yanniszark commented on #931
@futeng did you manage to successfully install MetalLB and subsequently, `kfctl_existing_arrikto` ?

[2019-08-21 23:20] DanSanche commented on #844
@sarahmaddox

I [opened a PR](https://github.com/kubeflow/examples/pull/625) to partially address this. I think we should also change [the docs](https://github.com/kubeflow/examples/pull/625) to instruct readers to use a specific image for the notebook server (maybe 1.13?), so we can ensure that everyone is using a compatible version. I don't know of any incompatible ones, but it might be good to

[2019-08-22 02:16] sarahmaddox commented on #1065
@doschkinow Do the comments and the new feature request answer your questions, or is there something we need to add to the docs? If there's no doc work to be done, we can close this issue and move comments over to the feature request in the kubeflow/kubeflow repo.

[2019-08-22 02:29] sarahmaddox commented on #1019
This is the likely doc:
https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/

We've updated the portforwarding instructions for other deployments:
https://www.kubeflow.org/docs/other-guides/accessing-uis/#using-kubectl-and-port-forwarding
`kubectl port-forward -n istio-system svc/istio-ingressgateway 8080:80`

/assign @gopitk

[2019-08-22 02:32] sarahmaddox commented on #1023
/assign @abhi-g

[2019-08-22 02:33] sarahmaddox commented on #998
Thanks for reporting this error. The Minikube docs are out of date. A doc update is in progress. Please take a look at this issue for further info, including a quick guide to what the doc should say:
https://github.com/kubeflow/website/issues/1023

[2019-08-22 02:34] sarahmaddox commented on #998
I'll close this issue, as it's a duplicate of https://github.com/kubeflow/website/issues/1023

/close

[2019-08-22 02:34] #998 closed

[2019-08-22 02:35] jinchihe commented on #844
This is a bug for kustomize, pls use kustomize v2.0.3, thanks.

[2019-08-22 02:39] sarahmaddox commented on #844
Thanks @jinchihe! I saw the chain of issues that led to the conclusion we should use kustomize v2.0.3, but that doesn't seem like a sustainable solution. kustomize is already at [v3.1.0](https://github.com/kubernetes-sigs/kustomize/releases). Do you know when the kustomize issue will be fixed so that kustomize behavior suits what we want? From reading the issues, it seems this may never happen?

[2019-08-22 02:55] sarahmaddox commented on #1068
Here's the place to add the info:
https://www.kubeflow.org/docs/notebooks/troubleshoot/

[2019-08-22 03:06] jinchihe commented on #844
@sarahmaddox The bug of kustomize exists on Kustonize V2.1 and V3.0, I'm not sure is that fixed in the new version, but will confirm with kustomize dev or check code once get chance, thanks.

[2019-08-22 03:15] sarahmaddox commented on #1068
@jlewi Do we still need the troubleshooting info around the injection of credentials? I see that https://github.com/kubeflow/kubeflow/pull/3926 is merged, which (I think) fixes the specific problem that gave rise to this request.

Regarding the service accounts, the docs have some info around creating a service account named `default-editor` here:
https://www.kubeflow.org/docs/notebooks/troublesho

[2019-08-22 03:18] sarahmaddox commented on #450
@jlewi Is it still true to say that people can define their resources using whatever K8s tooling they want? We seem to be pretty heavily invested in kustomize. Do we still get the question about helm support?

[2019-08-22 03:23] sarahmaddox commented on #546
I'm going to close this issue as obsolete, as we haven't had any user feedback that the current setup causes any problems.
/close

[2019-08-22 03:23] #546 closed

[2019-08-22 03:49] zhenghuiwang commented on #1069
The problem seems to be related to Kubeflow storage in general. Not specific to metadata.

@doschkinow Did you deploy Kubeflow to a zone where there is already a deployment?

The error seems to indicate there is already an instance template for `compute.v1.disk` in the zone. The deployment of Kubeflow uses a different template to update it but failed to do so, because "it is not possible to update

[2019-08-22 08:34] doschkinow commented on #1065
Yes, but this means that with a free GCP trial you can not test kubeflow on GCP. Please note this in the docs on getting statrted with kubeflow on GCP, so free trial GCP users do not lose time.
Thanks.

[2019-08-22 09:17] doschkinow commented on #1069
after deleting the deployments I had, this error disappears but then I am hitting again https://github.com/kubeflow/website/issues/1065

It is a pitty that the default k8s cluster config, needed for kubeflow needs more ressources then allowed for a free GCP trial account. Please either adapt accordingly the default k8s cluster config or document how to adapt it to work for a free GCP trial account

[2019-08-22 09:17] #1069 closed

[2019-08-22 20:01] jlewi commented on #450
@sarahmaddox People can use whatever resourcing they want to create Kubeflow resources (e.g. TFJob, Seldon Deployments, Notebooks, they want).

Kubeflow's deployment infrastructure is closely tied to kustomize.

[2019-08-22 23:53] jlewi commented on #1068
@sarahmaddox yes I think we should still have troubleshooting docs around credentials.

Even though kubeflow/kubeflow#3926 is fixed when people create new namespaces they may run into this issue.

[2019-08-23 00:09] jlewi opened #1094 "[Developer Docs] Explain rebasing vs. merging"
A lot of contributors run into problems because they try to pull in the latest changes on master by doing a merge.

This leads to problems because when they create a PR they end up trying to recommit changes that were already merged onto master.

It manifests in the PR by a commit history showing a lot of changes unrelated that have already been committed.

Instead contributors should do a rebase.

[2019-08-23 00:27] sarahmaddox commented on #1094
Thanks @jlewi! Just a note that we host our developer-focused docs in the GitHub repo (https://github.com/kubeflow/kubeflow) rather than on the website. Suggestion: We should either place this doc in the [docs_dev](https://github.com/kubeflow/kubeflow/tree/master/docs_dev) directory in that repo, or create a more general developer-docs directory in the same repo.

[2019-08-23 00:33] jlewi commented on #1094
@sarahmaddox Could we add this information to the contributing guide>
https://www.kubeflow.org/docs/about/contributing/#owners-files-and-pr-workflow

We already have a section there on the PR workflow.

Leaving aside for now whether it makes sense to split the developer docs into two locations right now there is a reasonable difference between the docs on the website and the docs_dev.

The docs on

[2019-08-23 01:55] sarahmaddox commented on #1065
@doschkinow Thanks for raising this issue and following through with it! You're right - the docs need updating.

This section mentions quotas already - we need to update it, to reflect the fact that with a free trial can't try Kubeflow using the default GCP installation:
https://www.kubeflow.org/docs/gke/deploy/project-setup/
The doc should refer to this feature request for tracking a fix: https:/

[2019-08-23 02:08] sarahmaddox commented on #1094
Hmm. I'm uncomfortable about documenting something as complex as git rebasing on our website. The docs in the contributor's guide (https://www.kubeflow.org/docs/about/contributing/#owners-files-and-pr-workflow) talk about Kubeflow-specific dev workflow (owners files, bots, review process) rather than generic git skills.

If we add git-related guides to the above page, it will become very long. We'

[2019-08-23 05:02] sarahmaddox commented on #844
@DanSanche

Thanks so much! This fixed the problem. I've updated the tutorial in my PR to reflect the new behaviour.

[2019-08-23 05:04] sarahmaddox commented on #1012
Thanks @DanSanche for fixing the problem that cause the `model.py` code to error out when copied and pasted into a notebook! See PR https://github.com/kubeflow/examples/pull/625

[2019-08-23 13:57] jlewi commented on #1094
Good point; lets just put it in docs_dev for now.
I'm not that worried about the location; I just want something I can link to on PRs

[2019-08-23 19:49] ispmarin opened #1099 "Link for examples on page `https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/` is broken"
The link in the the [existing kubernetes](https://master.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/) deployment page example "Run a sample machine learning workflow" is [broken](https://master.kubeflow.org/docs/examples/resources/).

[2019-08-25 04:48] chaosxeras opened #1096 "Broken Images"
the images here are broken

https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/

[2019-08-26 10:40] andaag opened #1097 "Test and fix the local installation guides"
So I've been trying to get kubeflow up and running, to play with it as a dev. I have kubernetes experience as a user, as we (like very many other companies I can imagine) have a team that takes care of kubernetes. I'm not going to ask them to set this up until I can compare it with other solutions, and I imagine that's a fairly common case.

So far I've tried 4 different install instructions, and

[2019-08-27 19:12] sarahmaddox commented on #1099
/good-first-issue

[2019-08-27 21:55] abhi-g opened #1102 "Update multi-user docs for sharing profiles"
Update multi-user docs to include:
  - Instructions for sharing profiles
  - automatic profile creation flow
  - usage of Manage Contributors web page

[2019-08-28 13:44] jlewi opened #1107 "1.0 Docs for centraldashboard"
We currently don't have application docs for the central dashboard.
https://www.kubeflow.org/docs/components/

We should have docs for each application that goes 1.0. So we will need some documentation for centraldashboard. This can probably be pretty simple since the central dashboard is pretty self explanatory.

We do have this documentation about accessing UIs
https://www.kubeflow.org/docs/othe

[2019-08-28 23:11] #1102 closed

[2019-08-29 04:25] asispatra commented on #959
Do this document available for `kustomize` ?

[2019-08-29 10:24] svnoesis commented on #959
We are trying to setup Nvidia TensorRT Inference Server Image on Kubernetes/Kubeflow. Looking at the readme instructions in the github, it talks about ksonnet.
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/nvidia-inference-server#kubernetes-generation-and-deploy

Is there any updated steps for using kustomize for deploying nvidia-inference-server?
Could anyone please help ?

[2019-08-29 14:26] johnugeorge opened #1109 "Add documentation for KFServing component"
Currently, documentation is missing for KFServing component. Add samples for Tensorflow from KFServing repo- https://github.com/kubeflow/kfserving/tree/master/docs/samples/tensorflow

[2019-08-30 00:22] jinchihe commented on #1099
/assign @janeman98

[2019-08-30 02:30] Bobgy commented on #1053
/close
This is done

[2019-08-30 02:30] #1053 closed

[2019-08-30 03:58] janeman98 commented on #1099
/assign @janeman98

[2019-08-30 18:10] amygdala opened #1110 "don't we still need the --use_basic_auth flag in the basic auth init?"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

[code]

When the command above was recently updated with KF062 config info, it lost the `--use_basic_auth` flag.  Shouldn't it be re-added?  Or did something change that I'm not aware of?

[2019-08-30 18:32] amygdala commented on #1110
Update: no, Jeremy says the flag should no longer be needed.  Closing this for now.

[2019-08-30 21:09] amygdala commented on #1110
Update: re-opening, as it seems (via tests by Dan S) that the flag *is* needed.

[2019-08-30 22:08] amygdala commented on #1110
Update 2: fixed by https://github.com/kubeflow/website/pull/1112

[2019-08-30 22:08] #1110 closed

[2019-08-31 15:02] trackq commented on #653
For anyone experiencing this. Check your vagrant version, maybe it's outdated.

[2019-09-01 06:18] shouryaotta opened #1113 "Test and fix the guide to Microk8s/Multipass for Kubeflow installation"
I need to use the latest mlpipelines released in 0.6.2 and am using a desktop to try it out. I have installed microk8s using the instructions at
`https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/`

I used the latest executable for 0.6.2 with the following instructions.

[code]
I get the following error message :

[code]

Earlier the templates were using argoproj.io.

[2019-09-03 06:58] sarahmaddox opened #1115 "Use variables (shortcodes) for config URIs"
When installing Kubeflow via the CLI, users need to specify a URI of a config file in `--config` argument.

Example:
`kfctl init ${KFAPP} --project=${PROJECT} --config="https://raw.githubusercontent.com/kubeflow/kubeflow/c54401e/bootstrap/config/kfctl_gcp_iap.0.6.2.yaml" -V`

* There are multiple config files available, each for a specific use case (e.g. GCP with IAP, GCP with basic auth, existing

[2019-09-03 06:58] sarahmaddox commented on #1115
/assign

[2019-09-03 07:00] sarahmaddox opened #1116 "Fix the kfctl init commands across various docs"
With Kubeflow v0.6.2 we added a requirement for the `--config` argument in all `kctl init` commands. We fixed the main installation docs but a few other docs still use the old format of the command.

[2019-09-03 07:00] sarahmaddox commented on #1116
/assign

[2019-09-03 07:01] sarahmaddox opened #1117 "Update the Kubeflow version in the docs to v0.6.2"

[2019-09-03 07:01] sarahmaddox commented on #1117
/assign

[2019-09-03 07:02] sarahmaddox opened #1118 "Remove the ksonnet-min-version shortcode as it's no longer used"

[2019-09-03 07:02] sarahmaddox commented on #1118
/assign

[2019-09-03 14:39] elikatsis commented on #757
Hello!

Right now we've got kubeflow/website#837 merged ([link](https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/) to the official website) and there are also several examples in kubeflow/pipelines repo:
* [samples/core/resource_ops](https://github.com/kubeflow/pipelines/tree/master/samples/core/resource_ops)
* [samples/core/volume_ops](https://github.com/kubeflow/pipelines/tree/master/sam

[2019-09-03 16:35] janeman98 commented on #1089
@lionshk
I try today and the link works properly for me. Can you please retry?

[2019-09-03 17:33] liorshk commented on #1089
Yeah, it works now

[2019-09-03 17:33] #1089 closed

[2019-09-03 23:34] #1115 closed

[2019-09-03 23:34] #1116 closed

[2019-09-03 23:34] #1117 closed

[2019-09-03 23:34] #1118 closed

[2019-09-04 05:05] janeman98 commented on #1099
/close

[2019-09-04 05:19] sarahmaddox commented on #1099
/close

[2019-09-04 05:19] #1099 closed

[2019-09-04 05:34] sarahmaddox commented on #757
Thanks @elikatsis! The information is a little scattered at the moment. We have:

* The [SDK overview on the website](https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/) which links to the `VolumeOp` etc in the SDK reference docs.
* The [SDK reference docs](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.VolumeOp) which have very limited info.
* The READMEs a

[2019-09-04 05:36] sarahmaddox commented on #1091
/assign @kbhawkey

[2019-09-04 05:40] #1091 closed

[2019-09-04 08:30] SunilManika opened #1121 "multipass shell kubeflow fails with Timeout connecting error"
I am trying to install kubeflow on MacOS.
`OS Details: macOS Mojave
Version: 10.14.6`

Based on the documentation, I have installed Multipass.
`multipass version
multipass  0.8.0+mac
multipassd 0.8.0+mac`

Post this I was able to launch a VM with below commands.

`multipass launch bionic -n kubeflow -m 8G -d 40G -c 4
Launched: kubeflow

multipass list
Name                    State             IPv4

[2019-09-04 08:32] SunilManika commented on #1121
👍

[2019-09-04 09:27] #1121 closed

[2019-09-04 23:25] kunmingg opened #1123 "Profile & Kfam: API Reference docs"
Profile & Kfam: API Reference docs

[2019-09-04 23:25] kunmingg opened #1124 "Profile & Kfam: Application docs"
Profile & Kfam:
Update docs for kubeflow multi-tenancy v1.0.
* explain expected user experience and what's happening on the backend.
* clarity supported scenario and prerequisite.
* how to integrate and extend

[2019-09-05 01:41] sarahmaddox opened #1125 "Link to new Azure tutorial from Pipelines cloud-tutorials page"
PR https://github.com/kubeflow/website/pull/956 has added a new Azure tutorial:
https://www.kubeflow.org/docs/azure/azureendtoend/

We should add a link to the new tutorial on this page:
https://www.kubeflow.org/docs/pipelines/tutorials/cloud-tutorials/
And at the same time remove the wording: "_We currently have only a GCP tutorial for Kubeflow Pipelines. A tutorial for Microsoft Azure is on its

[2019-09-05 01:43] sarahmaddox commented on #1123
Thanks @kunmingg - Please would you expand the title and description of this issue to give more context about what *Profile & Kfam* are.

[2019-09-05 01:44] sarahmaddox commented on #1124
Thanks @kunmingg - Please would you expand the title and description of this issue to give more context about what *Profile & Kfam* are.

[2019-09-05 01:44] sarahmaddox commented on #1125
/good-first-issue

[2019-09-05 05:16] sarahmaddox opened #1126 "In archived docs, add note that this is an unmaintained snapshot"
In the archived snapshot of docs for each major version (e.g. https://v0-5.kubeflow.org/, https://v0-4.kubeflow.org/): Add a note at the top of every page to let readers know that they’re seeing a snapshot rather than the latest docs:

Investigate usage of a variable to make the above link point to the specific page on which the user clicked the link (if that page exists in the archived doc set) r

[2019-09-05 05:19] sarahmaddox opened #1127 "Update the docs structure to support internationalization of the docs"
Update the docs structure to support internationalization of the docs.

See the Kubeflow i18n requirements doc: http://bit.ly/kubeflow-i18n

[2019-09-05 05:26] sarahmaddox opened #1128 "Find Kubeflow community manager for other-language versions of the docs"
The Kubeflow docs are currently available only in English. We should ask the Kubeflow community if anyone is interested in managing versions of the docs in other languages.

The non-English version may consist of a subset of the docs, such as conceptual info or getting-started guide only.

See details in the requirements doc: http://bit.ly/kubeflow-i18n

[2019-09-05 05:32] sarahmaddox opened #1129 "Explain Kubeflow versioning and include a version matrix - Kubeflow v1.0"
Add summary info about Kubeflow versioning in the [getting-started guide](https://www.kubeflow.org/docs/started/getting-started/).
* Explain that some applications and platforms/deployments are mature enough to be v1.0 while others are not yet at a v1.0 release. Summarise the support/upgrade implications.
* Explain what you get by following the getting-started guide.
* Link to the detailed page fo

[2019-09-05 05:35] sarahmaddox opened #1130 "Update the upgrade guide for Kubeflow v1.0 - remove alpha notice"
Ensure the upgrade guide is complete and clear, including the versioning implications for Kubeflow v1.0. See related issue https://github.com/kubeflow/website/issues/1129.
Define the boundaries for upgrades - what is supported, the constraints, and where users can go for help.

_Note:_ This is a requirement for **Kubeflow v1.0**.

Source: _Kubeflow v1.0 Docs and Processes Design_ ([bit.ly/2OX11vw]

[2019-09-05 05:37] sarahmaddox opened #1131 "Add a support guide"
Add a support guide. The docs must clearly state how much support people can expect for Kubeflow and its applications, and where they can get that support.
One suggestion is: create a flowchart showing where people can get support depending on platform (GCP, AWS, etc) going down to the level of Slack and email group for community-supported applications.

_Note:_ This is a requirement for **Kubeflo

[2019-09-06 05:10] #757 closed

[2019-09-06 05:10] #758 closed

[2019-09-06 05:20] sarahmaddox commented on #1125
/close

Thanks @rem20806!

[2019-09-06 05:20] #1125 closed

[2019-09-08 23:03] jlewi commented on #1023
The instructions
https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/

No longer reference kfctl.sh. The instructions have been updated to tell people to use kfctl.

So this has been fixed.

[2019-09-08 23:03] #1023 closed

[2019-09-08 23:19] jlewi commented on #959
@svnoesis Here's a sample Kubernetes spec (I generated it using the ksonnet commands) for deploying the NVIDIA inference server.

[code]

You should just modify that spec as needed to make it work for your use case; i.e change model-store to point to your model.

It would be great if someone would open up a PR updating the docs.
https://www.kubeflow.org/docs/components/serving/trtinferenceserver/

[2019-09-08 23:25] jlewi commented on #842
We can just link to these docs.
https://cloud.google.com/filestore/docs/accessing-fileshares

[2019-09-09 02:06] sarahmaddox opened #1137 "Update the Kubeflow website to the latest version of Docsy"
This is largely a housekeeping task: Update the Kubeflow website to the latest version of Docsy.

The last time we updated our Docsy templates was in June (PR https://github.com/kubeflow/website/pull/781). Docsy has had a few good updates since then.

**Note:** When updating to the latest Docsy, we need to check all our customizations and remove/update them as required for compatibility with the D

[2019-09-09 02:09] sarahmaddox opened #1138 "Create archive of Kubeflow v0.6 docs and brand website as v0.7"

[2019-09-09 02:10] sarahmaddox commented on #1137
Check: Can we remove this customization? https://github.com/kubeflow/website/issues/477

[2019-09-09 02:23] sarahmaddox opened #1139 "Upgrade the Kubeflow website to latest version of Netlify to get support for Hugo extended"
Upgrade the Kubeflow website to latest version of Netlify to get support for Hugo extended.

From https://www.netlify.com/blog/2019/03/14/a-more-flexible-build-architecture-with-updated-linux/:

Meanwhile, existing sites will continue running on the same “Trusty” image they always have. But what if you want to upgrade, too? We’ve got a button for that.

See https://github.com/netlify/build-image/i

[2019-09-09 02:25] sarahmaddox commented on #793
I've added https://github.com/kubeflow/website/issues/1139 for the Netlify upgrade.

[2019-09-09 23:10] #842 closed

[2019-09-10 08:41] dalvarezsmiet opened #1140 "Broken link"
There's a broken link in the text:
[lightweight Python component basics](https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/Lightweight%20Python%20components%20-%20basics.ipynb)
It leads to a 404 message

[2019-09-10 21:27] sarahmaddox commented on #1140
/close

[2019-09-10 21:27] #1140 closed

[2019-09-11 06:02] asispatra opened #1142 "Please update NVIDIA TensorRT Inference Server document for kustomize"
Please update [NVIDIA TensorRT Inference Server](https://www.kubeflow.org/docs/components/serving/trtinferenceserver/) document for kustomize. Still the document uses ksonnet.

Thanks.

[2019-09-11 06:22] sarahmaddox commented on #1142
This is a duplicate of https://github.com/kubeflow/website/issues/959

/close

[2019-09-11 06:22] #1142 closed

[2019-09-11 06:27] asispatra commented on #1142
@sarahmaddox, Is anyone really working on #959 to update the document?

Thanks.

[2019-09-11 08:16] trn84 opened #1143 "Multi-user, auth-enabled Kubeflow with kfctl_existing_arrikto"
https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/

TL;DR: The guide is not working for me, but maybe I am doing something wrong. There are couple poten. issues here:

[code]

I guess there are typos in there? Should this not look like:

[code]

Removing the tabs from the LDAP example config would help as well. Anyways it is not working also:

`kubectl create configmap --from-file=d

[2019-09-11 18:34] sarahmaddox commented on #1143
@yanniszark Is this something you can take a look at?

/assign @yanniszark

[2019-09-11 21:58] yanniszark commented on #1143
@sarahmaddox thanks for the heads up!

@trn84 I located the problem in this command:

`kubectl create configmap --from-file=dex-config-final.yaml -n kubeflow | kubectl apply -f -`

which should be:

`kubectl create configmap dex --from-file=config.yaml=dex-config-final.yaml -n kubeflow | kubectl apply -f -`

I will make a PR for this.