[2020-02-03 16:45] dilzeem commented on #1435
Hi @karlschriek did you end up solving this. I am getting similar issues.

-  My ALB endpoint is exposed publically. I would like to make this private, and allow users to only use cognito.

- My ALB doesn't seem to have HTTPS working. I have tried to a HTTPS listener to the ALB, and configure it to authenticate requests using cognito.

[2020-02-03 17:46] jlewi commented on #1582
@sarahmaddox I think that's fixed?
https://master.kubeflow.org should be pointing to master
https://www.kubeflow.org should be to pointing to the v0.7-branch

So I think we're good to start merging PRs to master updating the docs to use the 1.0 RC.

[2020-02-03 17:47] scottilee commented on #73
@jlewi are you okay with the plan in my previous comment?

[2020-02-03 17:48] jlewi commented on #1581
Downgrading to P1 because I don't think the remaining work is blocking 1.0.
Remaining work is to get kubeflow/kubeflow#4717 merged updating the process for releasing the docs.

[2020-02-03 17:54] sarahmaddox commented on #1582
@jlewi Agreed - issue # 1581 is good, and we can start merging docs to master to use the 1.0 RC. We should be careful, however, when merging docs to master - don't merge a doc that has dependencies on things that are not yet ready to merge, or that contains TODOs. If merging a doc that needs further work, do so only if the doc itself has integrity, and make sure to add a P0 or P1 issue for the rem

[2020-02-03 18:02] sarahmaddox opened #1594 "Help people find the Kubeflow roadmap and other info on what's coming next"
One of the top requests in recent user surveys is for the docs to help people find the Kubeflow roadmap and other information on what's coming next. We should add links to the Kubeflow roadmap and any other component roadmaps.

Recommended location for the links: a new section on the [About Kubeflow](https://www.kubeflow.org/docs/about/kubeflow/) page.

[2020-02-03 18:03] jlewi commented on #959
@mapsacosta see my comment above
https://github.com/kubeflow/website/issues/959#issuecomment-529252728

You can just create K8s YAML specs to deploy the NVIDIA inference server.

[2020-02-03 18:09] sarahmaddox opened #1595 "Add a community panel to the Kubeflow front page"
From a recent user survey we learned that people don't easily find the links to Slack, the mailing list, or other community resources.

To make it easier to find this and other community info, we could add a new panel on the Kubeflow front page (https://www.kubeflow.org/), perhaps underneath the list of components. The panel should be similar to the **What is Kubeflow** panel that's already on the

[2020-02-03 18:11] sarahmaddox commented on #1595
/cc @theadactyl

[2020-02-03 18:12] sarahmaddox commented on #1594
/cc @theadactyl

[2020-02-03 19:22] sarahmaddox opened #1596 "Add a "Use Cases" page to the Kubeflow docs"
From the January user survey, this is the type of information people expect to see in a "Use Cases" section of the docs:

**Why/when to use Kubeflow** - this is the purpose of a doc that describes use cases. The doc helps people decide whether Kubeflow is the right solution for their ML workload.

**Use cases to list** - these are the use cases that Kubeflow enables. For each use case, we should p

[2020-02-03 19:22] sarahmaddox commented on #1596
/cc @theadactyl

[2020-02-03 20:16] sarahmaddox commented on #1130
We've decided that we need to keep the upgrade labeled as **alpha** for now. I'll close this issue now.

/close

[2020-02-03 20:16] #1130 closed

[2020-02-03 20:22] sarahmaddox commented on #1081
I'm tackling this as part of issue https://github.com/kubeflow/website/issues/1421

I'll close this issue now and use # 1421 to track the work.

/close

[2020-02-03 20:22] #1081 closed

[2020-02-03 22:42] sarahmaddox commented on #1577
Hallo @animeshsingh I've given this issue a P1 priority, because there's a good chance people will either be confused by the double set of docs, or miss one of the doc sets entirely.

Is this something you'd like to tackle during the doc sprint? :)

[2020-02-03 22:43] animeshsingh commented on #1577
I will try and find time this weekend. We will remove ICP from the mix.

[2020-02-03 23:44] jlewi commented on #1554
@jal06 please open a separate issue for katib examples.

[2020-02-03 23:45] jlewi commented on #1554
Bump to P0 because we should fix for 1.0.

[2020-02-03 23:47] sarahmaddox commented on #1532
@abhi-g can take this on for the doc sprint

/assign @abhi-g

[2020-02-03 23:49] jlewi commented on #1553
Bump to P0 because we should fix the E2E guide for 1.0.

Perhaps we can just change the example somehow to work around the kustomize bug?

Related issue #1554

[2020-02-04 00:12] amygdala opened #1598 "clarify webapp section of "Visualize Results in the Pipelines UI""
https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#web-app

In this section, I'm wondering what the "storage" metadata field does, and whether specifying 'storage': 'gcs'' like the example does, requires that the source be a GCS URL.  (and if so, are there other allowed values for 'storage').

It would be helpful to elaborate a bit.

[2020-02-04 01:29] sarahmaddox commented on #1554
@amygdala Are you working on this tutorial and if so, can I assign this issue to you?

[2020-02-04 01:29] sarahmaddox commented on #1553
@amygdala Are you working on this tutorial and if so, can I assign this issue to you?

[2020-02-04 04:18] amygdala commented on #1553
Dan S was the original author.  I think I'll check whether he has time to address it.  If not I can tackle it.  I'm not a kustomize expert, but worst case we can change the example to directly edit the yaml or something.

[2020-02-04 04:39] #1587 closed

[2020-02-04 06:20] jal06 opened #1599 "Katib examples needs to be changed to be deployed and run in a user namespace"
[doc https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/](url)

When I run the examples for Katib, they run in the namespace kubeflow. Looks like they must be deployed and run in a user namespace.

[2020-02-04 06:24] jal06 commented on #1554
Thanks for your answer
I open a new issue for Katib : [https://github.com/kubeflow/website/issues/1599](url)

[2020-02-04 12:51] sarahmaddox commented on #1553
/cc @DanSanche

[2020-02-04 12:53] sarahmaddox commented on #1554
/cc @DanSanche

@DanSanche I'm cc-ing you on this bug about the end-to-end tutorial (not the afore-mentioned Katib issue). @amygdala is planning to chat to you about it.

[2020-02-04 12:54] sarahmaddox commented on #1554
Related issue in the kubeflow/samples repo: https://github.com/kubeflow/examples/issues/713

[2020-02-04 14:11] sarahmaddox commented on #959
/unassign @pdmack

Unassigning this issue in case someone else can pick it up.

[2020-02-04 17:49] #1129 closed

[2020-02-04 20:19] #1582 closed

[2020-02-04 20:44] kbhawkey commented on #1113
A couple of thoughts about deploying kubeflow on workstations/appliances:

There are a number of places in the kubeflow docs that start to outline how to deploy kubeflow in a single node cluster (and workstation/appliance) and finish in another set of instructions. This can be confusing.

I tried to install kubeflow on a microk8s cluster and Ubuntu; I followed the instructions from https://master.

[2020-02-05 01:07] #1131 closed

[2020-02-05 01:54] sarahmaddox commented on #1113
Thanks @kbhawkey that's super useful feedback.

/cc @jlewi
/cc @ammarn911

[2020-02-05 02:21] jlewi opened #1604 "Job Scheduling Paged Should be Marked As Alpha"
This page
https://www.kubeflow.org/docs/other-guides/job-scheduling/

Should have a banner indicating that it is alpha.

[2020-02-05 02:27] jlewi opened #1605 "Add banner to all doc pages which are out of date for 1.0"
We should define a common banner that we add to any pages which are not up to date for Kubeflow 1.0.

We can look at the banner that we put on archived versions of the docs for an example.

@sarahmaddox any suggestions about how we should create the banner and what it should say?

[2020-02-05 02:27] jlewi commented on #1605
Some pages that are out of date:
https://www.kubeflow.org/docs/gke/custom-domain/

[2020-02-05 16:23] sarahmaddox commented on #1568
Here's the doc to update: https://master.kubeflow.org/docs/gke/troubleshooting-gke/

[2020-02-05 16:49] sarahmaddox commented on #1605
I think it'd be good to add a tempate (shortcode) for the banner here:
https://github.com/kubeflow/website/tree/master/layouts/shortcodes

We could call it `needs-update.html`.

Format should be similar to this shortcode:
https://github.com/kubeflow/website/tree/master/layouts/shortcodes

But change `alert-primary` to `alert-warning` in the div styling.

Suggested wording:

[code]

**Note:** I'm r

[2020-02-05 18:08] janeman98 commented on #454
I will tackle this for the doc sprint.

[2020-02-05 18:17] sarahmaddox commented on #454
Thanks @janeman98

/assign @janeman98

[2020-02-05 18:34] hefedev commented on #959
@mapsacosta  There's also a  chart repository  you can  look into  https://www.kubeflow.org/docs/other-guides/kustomize/#apply-config

[2020-02-05 18:41] #1604 closed

[2020-02-06 14:24] vpavlin commented on #33
@sarahmaddox With the above comment, I'd say we kind of finished our initial work for KF 0.7 on OpenShift. We will go over our changes and propose them also to KF master, but I wanted to ask - what would you think about adding a "how to install" section to kubeflow website pointing to our fork until the changes get back to the KF repositories?

I am not sure what the policies for content of websit

[2020-02-06 18:32] jlewi commented on #1570
@ammarn911 recently updated the docs for MicroK8s

#1113 is tracking fixing the MicroK8s guide.

So I'm going to close this as a duplicate of that issue.

Duplicate of #1113

[2020-02-06 18:32] #1570 closed

[2020-02-06 18:35] sarahmaddox commented on #33
@vpavlin Yes, it will be great if you add an installation section on kubeflow.org. It's fine for the installation page(s) to point to your fork until the changes are merged into the Kubeflow repositories. For Kubeflow users, it's good to have the installation guides in one place.

Looking forward to seeing you at the doc sprint!

[2020-02-06 18:37] jlewi commented on #1113
@ammarn911 I think we discussed this at the community meeting. I think you said you have testing in place?

The other Canonical engineer mentioned that there is testing in this repo
https://github.com/juju-solutions/bundle-kubeflow/

Is that covering the current installation guide

I think the updated docs are now visible here
https://master.kubeflow.org/docs/other-guides/virtual-dev/getting-start

[2020-02-07 04:42] jlewi commented on #959
@sarahmaddox I think we can close this after #1608 is merged. I don't think there is any more immediate work.

[2020-02-07 13:25] jlewi commented on #1113
See https://github.com/kubeflow/website/pull/1609#issuecomment-583255010

Do we need to add that to the instructions?

Also it looks like there is a reference to Ambassador in the guide
https://github.com/kubeflow/website/blob/master/content/docs/other-guides/virtual-dev/getting-started-multipass.md#2-enable-kubeflow

That needs to be updated.

/cc @knkski

[2020-02-07 13:51] sarahmaddox commented on #959
Thanks @jlewi Agreed that there's no immediate work required. But I think it would be good to add more info to this page if we can. I've labeled this issue for the doc sprint, in case anyone wants to pick it up then.

For people interested in picking up this issue: There's useful info in the comments on the issue. In addition, you may find useful content (though out of date) in the [Kubeflow v0.6

[2020-02-07 15:11] amygdala opened #1611 "Pipelines End-to-end on GCP: fix example & update screenshots"
https://www.kubeflow.org/docs/gke/pipelines/pipelines-tutorial/

got a reminder from someone (doing a hosted pipelines-related bug bash) that the screenshots here need to be updated.  And maybe more tweaks? Let's check it during the docs sprint.  I'll try to do it.

[2020-02-07 15:11] amygdala commented on #1611
/kind bug

[2020-02-07 15:18] hefedev commented on #959
This is what you need to get this working with yaml spec posted above, I'd wait for kustomize build since it offers better integration with kubeflow

[code]

[2020-02-07 17:20] sarahmaddox commented on #1611
/assign @amygdala

Thanks @amygdala!

[2020-02-07 19:44] stomplee opened #1612 "Unable to update kustomize/istio-install/kubectl image"
I'm trying to update kubeflow images to point to a private registry due to company security requirements and I've been able to successfully update the image location for all kubeflow images save for one.

The one in question is the docker.io/istio/kubectl image configured in the /kustomize/istio-install/base/kustomization.yaml file.

ie:
[ec2-user@ip-10-0-0-170 Kubeflow]$ cat kustomize/istio-insta

[2020-02-07 19:53] sarahmaddox commented on #1612
@richardsliu @jlewi This issue is probably one for kubeflow/kubeflow rather than for the website.

[2020-02-07 19:56] stomplee commented on #1612
Apologies, I should have raised it in the correct spot.

[2020-02-07 20:04] sarahmaddox opened #1613 "Refactor the guide to multi-user isolation"
The guide to multi-user isolation could use some attention. This page has grown since it was first created, and is now a mix of conceptual overviews, usage information, and tech prerequisites. We need to analyse the content, decide how to split it into separate pages, and work on the style of the content.
https://www.kubeflow.org/docs/other-guides/multi-user-overview/

* The language needs changin

[2020-02-07 20:08] sarahmaddox opened #1614 "Refactor the guide to user registration flow"
The guide to the user registration flow needs some attention. It needs to follow our style guide.
https://www.kubeflow.org/docs/components/central-dash/registration-flow/

Also consider how best to flow from this guide to the more indepth guide on multi-user isolation mentioned in issue https://github.com/kubeflow/website/issues/1613. Consider whether this page becomes redundant or should be merge

[2020-02-07 20:14] sarahmaddox opened #1615 "Fix a few doc style issues in the Seldon guide"
https://master.kubeflow.org/docs/components/serving/seldon/

The Seldon doc needs a bit of tech writer attention:
* Remove the first heading, as it's a duplication of the page title.
* Change passive to active: ""Full documentation for running Seldon inference is provided within the Seldon documentation site.""
* Change heading to sentence case: ""Kubeflow Specifics"".
* Change the numbered list t

[2020-02-07 20:36] amygdala opened #1616 "KFP on GCP: clarify when it's necessary to use the 'use_gcp_secret' annotation"
With the hosted pipelines beta, users will see the following checkbox.  It gives the all-cloud-platform scope to the cluster VMs (using the default vm service account). If the user does this, they do not need to separately set up and mount a service account secret.

![Screenshot 2020-02-07 12 08 25](https://user-images.githubusercontent.com/115093/74063856-3e7d0180-49a6-11ea-91fd-0ad6d73c52ba.png)

[2020-02-07 20:37] amygdala commented on #1616
/kind bug

[2020-02-07 21:38] hefedev commented on #1316
I'd like to jump on this one if possible.
To figure out which version works, I'll look at the CONFIG_FILE url and which master branch it points toward. This is always worked for me before.

[2020-02-07 22:19] stomplee commented on #1612
This should be moved to kubeflow/kubeflow.  I was able to work around the problem by deleting the newName: and newTag: entries related to kubectl image from the ./kustomize/istio-install/base/kustomization.yaml file and to edit ./kustomize/istio-install/base/istio-noauth.yaml directly to update the image to point to a new location.  Seems to be some bug in the way kustomize tries to update the ima

[2020-02-07 23:03] sarahmaddox commented on #1316
/assign @hefedev

Thanks @hefedev!

[2020-02-08 16:23] sarahmaddox opened #1618 "Standardise the alpha notices in the docs"
We've recently added a shortcode (a template) that we can use to insert alpha notices on pages where relevant. Some pages already have alpha notices that don't use the shortcode. We'd like to replace the existing alpha notices with the shortcode.

To add the alpha notice to a page, include the following at the top of the page, replacing `LINK TO ISSUE TRACKER` with a link to the relevant issue tra

[2020-02-08 16:33] sarahmaddox commented on #1611
@amygdala I've moved this issue to **In progress** in the [doc sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), because the issue is assigned to you. Happy sprinting!

[2020-02-08 16:34] sarahmaddox commented on #1532
@abhi-g I've moved this issue to **In progress** in the [doc sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), because the issue is assigned to you. Happy sprinting!

[2020-02-08 16:36] sarahmaddox commented on #1493
/assign @abhi-g

@abhi-g I've assigned this issue to you, as you're tackling the related issue for the doc sprint. If you create a page about Istio, we don't need the FAQ. Instead, you can roll the info from this issue into the new page, and knock off both issues at once.

[2020-02-08 16:36] abhi-g commented on #1532
Thanks Sarah. Looking forward to the doc sprint.

On Sat, Feb 8, 2020 at 8:34 AM Sarah Maddox <notifications@github.com>
wrote:

[2020-02-08 16:37] sarahmaddox commented on #1316
@hefedev I've moved this issue to **In progress** in the [doc sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), because the issue is assigned to you. Happy sprinting!

[2020-02-08 16:41] sarahmaddox commented on #1223
@Jeffwan Will you be tackling this issue during the doc sprint?

[2020-02-08 16:48] sarahmaddox commented on #886
@thedriftofwords I'm going to close this issue, as there hasn't been any activity on it for a while. Please do re-open it if there's existing work that we can pick up.

/close

[2020-02-08 16:48] #886 closed

[2020-02-08 16:50] sarahmaddox commented on #859
@joeliedtke Do you plan to pick up work on this project for the February 2020 doc sprint?

[2020-02-08 17:02] sarahmaddox commented on #623
@theadactyl Looking at the history of this issue, I'm thinking that we need to define the purpose of the page before deciding where it should go and who should maintain it.

Suggestion: Let's discuss this at an upcoming Kubeflow community meeting.
* Discuss the purpose of the page - what do we want to get out of it, who is the audience, do we really need a running list of events, and how long shou

[2020-02-08 17:04] sarahmaddox commented on #454
@janeman98 I've moved this issue to **In progress** in the [doc sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), because the issue is assigned to you. Happy sprinting!

[2020-02-08 17:05] sarahmaddox commented on #33
@vpavlin I've moved this issue to **In progress** in the [doc sprint Kanban board](https://github.com/orgs/kubeflow/projects/21), because the issue is assigned to you. Happy sprinting!

[2020-02-08 17:16] sarahmaddox commented on #754
See preliminary work done in PR https://github.com/kubeflow/website/pull/945, which was based on Kubeflow v0.6.

It'd be great to have this tutorial for Kubeflow v1.0.

[2020-02-08 20:39] sarahmaddox commented on #1573
I've got this working locally and in Netlify preview. See test PR https://github.com/kubeflow/website/pull/1619. It should also work on the prod website.

The links work with the HTML `object` element, but not with the `img` element. The code looks like this:

[code]

[2020-02-08 22:40] sarahmaddox commented on #1573
I've added the links to the diagram in this PR: https://github.com/kubeflow/website/pull/1566

The images on the landing page are PNGs, not SVGs, so it's not easy to add links to those. Now that we know that the links work, even when the SVG is generated from a Google Slides slide, we can add links when we need them.

/close

[2020-02-08 22:40] #1573 closed

[2020-02-08 23:22] sarahmaddox commented on #1593
@cloudbow That's an interesting idea. A Kindle format (mobi), or EPUB, PDF,  or some other offline format would be a very nice feature to add to the website. I'd like to see an option for users to generate and download the content at the time they need it (rather than the documentation maintainers needing to generate and maintain a static copy of the docs).

I think the generated file needs to:

*

[2020-02-08 23:29] sarahmaddox commented on #1581
@jlewi PR https://github.com/kubeflow/kubeflow/pull/4717 is now merged. I think we can close this issue now.

We'll need to repoint www.kubeflow.org to master at some point, but I think the main goal of this particular issue was to publish the v1.0 docs on master.kubeflow.org, which is now done.

Please do re-open this issue if there's still work to do on it.

/close

[2020-02-08 23:29] #1581 closed

[2020-02-08 23:56] hefedev commented on #1316
Thank you @sarahmaddox for the opportunity, I submitted my first changes for feedback. I'll get back on this asap.

[2020-02-09 00:18] joeliedtke commented on #859
Yes, I plan to work on this during the doc sprint.

[2020-02-09 17:53] sarahmaddox opened #1621 "Fix list formatting on the GKE CLI deployment page"
The list numbering is broken here:
https://master.kubeflow.org/docs/gke/deploy/deploy-cli/#alternatively-set-up-your-configuration-for-later-deployment

Strategies that usually work:
* First check the indentation.
* If the indentation is good, try removing the language indicators (such as `bash`) next to the three ticks that start code formatting.

[2020-02-09 18:03] sarahmaddox commented on #1612
Thanks @stomplee I don't have access to move this issue to kubeflow/kubeflow. Please could you take a look to see if any of the following issues cover the problem you're seeing:
https://github.com/kubeflow/kubeflow/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+private+kfctl+image

If not, please would you raise an issue in https://github.com/kubeflow/kubeflow/issues

I'll close this issue in the we

[2020-02-09 18:03] #1612 closed

[2020-02-09 22:30] theofpa commented on #208
Tensorboard is an istio virtualservice:

`$ kubectl describe virtualservice tensorboard -n kubeflow | grep Prefix
        Prefix:  /tensorboard/tensorboard/
$ kubectl get svc istio-ingressgateway -n istio-system
NAME                   TYPE           CLUSTER-IP     EXTERNAL-IP
istio-ingressgateway   LoadBalancer   <intenal-ip>   <external-ip>
`
so visiting http://<external-ip>/tensorboard/tensorboa

[2020-02-09 22:36] joeliedtke opened #1622 "Tech writer revisions needed - Pipelines standalone installation"
Page: [KFP standalone installation guide](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/)

Here are a few issues that I noticed while reviewing this page. It may benefit from additional polish as well.
- Brand name usage and terminology:
  - github should be GitHub
  - repo should be repository
- [Deploying KFP from scratch](https://www.kubeflow.org/docs/pipelines/inst

[2020-02-09 22:55] joeliedtke opened #1623 "Tech writer revisions needed - Overview of Kubeflow Pipelines"
Page: [Overview of Kubeflow Pipelines](https://www.kubeflow.org/docs/pipelines/overview/pipelines-overview/)

Here are a few issues that I noticed while reviewing this page:

- [What is Kubeflow Pipelines](https://www.kubeflow.org/docs/pipelines/overview/pipelines-overview/#what-is-kubeflow-pipelines): This section describes Kubeflow Pipelines (KFP) as being a part of Kubeflow. I'd recommend revis

[2020-02-09 23:02] joeliedtke opened #1624 "Link Pipeline concepts page to relevant concept docs"
Page: https://www.kubeflow.org/docs/pipelines/overview/concepts/pipeline/

The Pipeline concept page relies on a number of terms that are defined in other concept docs. Add links to these docs for the first instance of:
- Component
- Step

Also, it would be great to update the last sentence to specify that pipelines can be uploaded using the UI or the Kubeflow Pipelines SDK.

[2020-02-09 23:24] joeliedtke opened #1625 "Tech writer revisions needed: Component concept guide"
Page: https://www.kubeflow.org/docs/pipelines/overview/concepts/component/

Please discuss this issue with @joeliedtke  or the Kubeflow Pipelines team before working on it.

- [Component code](https://www.kubeflow.org/docs/pipelines/overview/concepts/component/#component-code): I'm not sure that I understand the distinction that is being made between client and runtime code. My initial interpretat

[2020-02-09 23:31] joeliedtke opened #1626 "Graph concept guide"
Page: https://www.kubeflow.org/docs/pipelines/overview/concepts/graph/

- Revise to describe a _graph_ as a directed-acyclic-graph
- Revise to describe the workflow as either a direct this-then-that definition, or a graph inferred from the component dependencies. Consider adding an example that illustrates how the graph is built.

[2020-02-09 23:35] sarahmaddox commented on #1622
@joeliedtke Let's discuss the following two points (in this issue and similar issues):

Currently the docs use kustomize with lower case (unless at the start of the sentence) because the kustomize docs follow that pattern. I think the brand is with a lower case.

The docs also use kfctl in plain text rather than code font, unless part of a code snippet. kfctl is actually the name of the binary/too

[2020-02-09 23:48] joeliedtke commented on #1626
This will also need to describe how looping components work. (They are components that call themselves recursively to create a loop.)

/assign

[2020-02-10 02:04] ofaz opened #1627 "GCP Hosted ML Pipelines Mailing List - Address Not Found"
The link to apply for Alpha access to GCP Hosted ML pipelines at https://www.kubeflow.org/docs/pipelines/installation/overview/#gcp-hosted-ml-pipelines returns:

`550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at https://support.google.com/mail/?p=NoSuchUser w11si699990wmk.0 -

[2020-02-10 04:28] ofaz commented on #1627
@sarahmaddox @joeliedtke - as per Sarahs Slack message I have opened this ticket. It would seem that I'm unable to assign the ticket to Joe directly however. (https://kubeflow.slack.com/archives/CA4M298LD/p1581285707007400)

[2020-02-10 12:39] sarahmaddox commented on #1627
/assign @joeliedtke

[2020-02-10 12:46] sarahmaddox commented on #1627
I see that this PR addresses the issue of the mailing list: https://github.com/kubeflow/website/pull/1628

[2020-02-10 13:21] #1316 closed

[2020-02-10 14:49] alan-krumholz commented on #1627
This also affects us. We also want to request access to this Alpha release :)

[2020-02-10 16:53] joeliedtke commented on #1622
Interesting, Kustomize is upper-case on Kustomize.io and lowercase in the docs. I think it is fair for the docs usage to win in this case.

Do you think that it would be confusing for users if Kubeflow styles kfctl and kubectl differently? It seems like that may be the case.

I'll remove the tasks to update Kustomize and kubectl usage.

[2020-02-10 17:07] kbhawkey commented on #1615
Hello @sarahmaddox . If this issue is still open, I can start working on the changes.

[2020-02-10 17:10] sarahmaddox commented on #1615
Great, thanks @kbhawkey

/assign @kbhawkey

[2020-02-10 17:13] jlewi commented on #1571
I will pick this up as part of the doc sprint.

[2020-02-10 17:19] sarahmaddox commented on #1571
Thanks @jlewi!

/assign @jlewi

[2020-02-10 17:35] joeliedtke commented on #1627
Thank you for raising this issue, this has been corrected in [kubeflow/website pull #1628](https://github.com/kubeflow/website/pull/1628). Changes to the Kubeflow website are currently being published to master.kubeflow.org, here is the updated [Installation options](https://master.kubeflow.org/docs/pipelines/installation/overview/) page. The correct email address to request access to the alpha is

[2020-02-10 17:37] #1627 closed

[2020-02-10 18:11] meizabel commented on #1568
I'd like to work on this issue. Can someone please assign me to it?

[2020-02-10 18:23] sarahmaddox commented on #1207
/assign @zhenghuiwang

[2020-02-10 18:32] sarahmaddox commented on #1568
Thanks @meizabel!

/assign @meizabel

[2020-02-10 18:47] jlewi commented on #1554
I might suggest that we create a notebook to run this mnist example. Similar to what we do for [xgboost_synthetic](https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb)

The guide would then be

1. Deploy Kubeflow
1. Start a notebook
1. Clone kubeflow/examples
1. Open the notebook
1. Run the notebook

This has a couple advantages

1. It should make it easier

[2020-02-10 18:53] janeman98 commented on #1618
/assign @janeman98

[2020-02-10 18:56] jbottum commented on #1596
@sarahmaddox I will start to work on some content for this

[2020-02-10 18:57] amygdala commented on #1316
I'm not sure this should be closed yet? I believe we're still testing many of these examples with the KF 1 RC.
cc @velascoluis, who is helping with this.

[2020-02-10 19:05] Swikar commented on #1621
Hello @sarahmaddox I am going to work on fixing this issue. Would you please assign to me? Thanks Swikar

[2020-02-10 19:05] amygdala commented on #1554
A notebook SGTM; leaving this issue open.

[2020-02-10 19:12] simmscg commented on #1595
@sarahmaddox I'll take a swing at this one.

[2020-02-10 19:13] amygdala commented on #1553
See https://github.com/kubeflow/website/issues/1554 — converting this to a notebook-based example that uses raw yaml will address this issue as well (by rendering it obsolete).

[2020-02-10 19:19] JohanWork commented on #639
HI @sarahmaddox
Checked the tutorial wish list, have experience from build a pipeline extracting data from a sql database, transforming it saving it to a bucket, reading from a bucket and training a model. If i would create a tutorial of this would it be of interest and would it be fine if it has the form of a notebook with python light weight components? Or is it preferred in another shape?

[2020-02-10 19:35] sarahmaddox commented on #1621
Thanks @Swikar!

/assign @Swikar

[2020-02-10 19:39] sarahmaddox commented on #1596
Thanks @jbottum - @elviraux is working on this one too. The two of you should chat. I'm looking forward to seeing this page as it's high-value to Kubeflow users, especially people exploring and evaluating Kubeflow.

[2020-02-10 19:41] elviraux commented on #1596
@jbottum https://docs.google.com/document/d/1emDtEXJ4CKqYq1evjDW4laLTlKml8U1bKfL-Aw6ubok/edit#

[2020-02-10 19:43] sarahmaddox commented on #1316
Thanks @amygdala that's excellent news. Let's keep this issue as closed, because it originally related to v0.7 and because @hefedev has implemented a solution using Hugo block parameters and the GitHub API.

How about raising another issue for v1.0. If we need to manually override the results from the API, we can do that via the parameters that feed into the block.

[2020-02-10 19:46] sarahmaddox commented on #1595
Great, thanks @simmscg!

/assign @simmscg

[2020-02-10 20:07] JohanWork commented on #759
Hi thinking about taking this one. But would like som guidance, do you have any similare tutorials that I can see the structure, and where in the repository would be a good place to put the turotial?
Cheers
Johan

[2020-02-10 20:09] fediazgon commented on #1166
I'm taking this one!

/assign @fediazgon

[2020-02-10 20:20] amygdala commented on #1611
This example no longer runs properly either; will look into it.  Getting some kind of memory reference error related to ksonnet (!).

[2020-02-10 20:20] crobby commented on #1293
/assign @crobby

[2020-02-10 20:31] #1181 closed

[2020-02-10 20:35] jlewi commented on #1571
Fixed by #1630

[2020-02-10 20:35] #1571 closed

[2020-02-10 20:47] amygdala commented on #1611
hi @jinchihe , not sure if you're the right one to ping on this: when I tried running the example, I got the following ksonnet-related segfault error in the `serve` step.
I don't have visibility as to what's going on in the docker image that this step is using (`gcr.io/ml-pipeline/ml-pipeline-kubeflow-deployer:7775692adf28d6f79098e76e839986c9ee55dd61`)

Are you the right person to look into this?

[2020-02-10 20:52] amygdala commented on #1611
Update: I'll try this more recent component definition: https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/deployer/component.yaml to see if that helps.

[2020-02-10 21:12] sarahmaddox commented on #1577
/assign @janeman98

[2020-02-10 21:32] swiftdiaries commented on #208
/assign @swiftdiaries

[2020-02-10 22:00] sarahmaddox commented on #759
Hallo @JohanWork sure! Are you registered to take part in the doc sprint, or would you like to tackle this outside of the doc sprint?

You can find a guide to working in the doc sprint here:
https://github.com/kubeflow/website/wiki/Sprinter's-Guide
Make sure you're registered by filling out the registration form (link is on the above guide), so that we can send you all the details.

If you'd like

[2020-02-10 22:32] jbottum commented on #1593
@sarahmaddox I think this request is interesting.   I have a few questions - how much time will it take to convert the format and scrub the results into something that can be published?  Is this a low, medium or high work effort ?   Will get easier for the next release?  and how many people will use it ?   and how will they use it i.e. for offline reading and/or as a guide in configuration, debugg

[2020-02-10 22:57] OfficePop opened #1643 "Website Generation Instructions for Pipeline API"
Flagging this issue as something I plan to work on during the Kubeflow Spring 2020 Doc Sprint.

The goal will be to create a set of instructions users can follow in order to generate the [Pipelines API Reference](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/) when there is a need for updates.

SMEs for the process include @IronPan.

@sarahmaddox could you apply

[2020-02-10 23:15] amygdala commented on #1316
Just a note so it doesn't get lost: https://github.com/kubeflow/examples/blob/master/pipelines/mnist-pipelines/mnist_pipeline.py turns out to be broken (in 0.7 too, I believe, given the nature of the probs).

[2020-02-10 23:15] simmscg commented on #1594
I'll grab this one.

[2020-02-10 23:17] joeliedtke commented on #759
Hello,
I would recommend creating a guide like one of the following:

- [Build components and pipelines](https://master.kubeflow.org/docs/pipelines/sdk/build-component/)
- [Building lightweight components](https://master.kubeflow.org/docs/pipelines/sdk/lightweight-python-components/)

I would recommend adding this doc to `/docs/pipelines/sdk`.

In general, guides like this describe:

1. What the f

[2020-02-10 23:18] sarahmaddox commented on #1594
/assign @simmscg

[2020-02-10 23:18] richardsliu commented on #1599
/close

[2020-02-10 23:18] #1599 closed

[2020-02-10 23:25] zhenghuiwang commented on #1207
I went through the metadata doc section with KF1.0 and updated it in https://github.com/kubeflow/website/pull/1641. The major change is to update the backend instruction to use gRPC service.

I think this covers how current Kubeflow metadata SDK, UI and backend work. I would leave it to @joeliedtke or @neuromage for Pipeline's view.

[2020-02-10 23:39] #1577 closed

[2020-02-11 00:29] sarahmaddox commented on #1643
Thanks @OfficePop

/assign @OfficePop

[2020-02-11 00:39] andersonvc commented on #639
I can add a hello world example that incorporates some of the reusable pipeline components.

[2020-02-11 00:42] sarahmaddox commented on #1605
Closing this issue, as we've created the template and added it to the mentioned page. If we identify other pages that need the banner, we should open a new issue.

/close

[2020-02-11 00:42] #1605 closed

[2020-02-11 00:44] sarahmaddox commented on #639
Thanks @andersonvc

/assign @andersonvc

[2020-02-11 00:56] janeman98 commented on #240
@sarahmaddox , I can work on this.

[2020-02-11 01:09] sarahmaddox commented on #1621
/close

[2020-02-11 01:09] #1621 closed

[2020-02-11 02:02] amygdala commented on #1611
related: https://github.com/kubeflow/pipelines/issues/3037

[2020-02-11 03:00] amygdala commented on #1611
in addition to the probs with the serving step, the webapp step of the pipeline is getting a ksonnet-related seg fault.
(I believe it's using an image built for the non-pipelines version of the mnist example, which makes me think that the webapp part of _that_ example doesn't work either...
Will try to check that soon as well).

[2020-02-11 14:02] crobby commented on #1293
/close

[2020-02-11 14:07] sarahmaddox commented on #1293
Thanks @crobby!

/close

[2020-02-11 14:07] #1293 closed

[2020-02-11 16:14] sarahmaddox opened #1651 "Update the metadata docs for Kubeflow v1.0"
Update the metadata doc section for KF1.0 . The major change is to update the backend instruction to use gRPC service.

[2020-02-11 16:15] sarahmaddox commented on #1651
/assign @zhenghuiwang

[2020-02-11 16:19] sarahmaddox commented on #1207
Thanks @zhenghuiwang your Metadata update is great. I've created issue https://github.com/kubeflow/website/issues/1651 to cover the Metadata update for KF1.0. I think your PR can close that issue. Let's restyle this current issue to request a doc explaining the Metadata implemention and usage in Pipelines vs Kubeflow core.

/assign @neuromage
/unassign @zhenghuiwang
/cc @joeliedtke

[2020-02-11 16:44] joeliedtke commented on #1611
Chatted with @amygdala and @sarahmaddox: since this tutorial does not currently work, I will remove this tutorial from the site while it is being revised.

[2020-02-11 16:57] janeman98 commented on #1624
/assign janeman98

[2020-02-11 18:35] theofpa commented on #1435
There are some more details on how to setup cognito with route53, CM and istio in an end to end guide for aws I’m working on.

[2020-02-11 18:47] simmscg commented on #1614
I'll take a look at this one.

[2020-02-11 18:48] sarahmaddox commented on #1435
Related issue: https://github.com/kubeflow/website/issues/1541

[2020-02-11 18:50] sarahmaddox commented on #1614
Thanks @simmscg! Does that mean you're also up to tackling https://github.com/kubeflow/website/issues/1613? I think they may go hand in hand.

[2020-02-11 18:51] sarahmaddox commented on #240
Thanks @janeman98

/assign @janeman98

[2020-02-11 19:02] JohanWork commented on #759
Thansk! I am not registred for the doc-sprint my plane was to finish this during the sprint but the work came in between. So If some one wants to take this task feel free otherwise I will takle it ouside and create a tutorial!

[2020-02-11 19:04] #1554 closed

[2020-02-11 19:47] amygdala opened #1653 "document how to define metadata file outputs from the KFP SDK"
See https://github.com/kubeflow/pipelines/issues/2995 . I can take this on, once I learn how to do it :)

[2020-02-11 19:48] amygdala commented on #1653
/kind bug
...as it doesn't work without explicit declaration of output(s)

[2020-02-11 19:50] simmscg commented on #1614
Oh gosh, TBA. I'm not sure if #1613 will fit into the sprint time that's left. In saying that, #1614 looks like it needs a lot of extra context, so I think you're right. I'll do a bit more reading.

[2020-02-11 19:50] fediazgon commented on #734
Taking this one! /assign @fediazgon

[2020-02-11 19:54] kbhawkey commented on #1564
Hello @sarahmaddox .
Just reviewing this issue and wondering if you have further suggestions or a list of requirements?
Thanks!

[2020-02-11 19:56] Jeffwan commented on #1541
`cognitoUserPoolDomain` is the cognito pool name. `Custom Domain ARN` will be addressed in #1435

[2020-02-11 20:06] #1618 closed

[2020-02-11 20:07] elviraux opened #1655 "Rename Training to Frameworks for Training"
and Serving to Tools for Serving

[2020-02-11 20:07] sarahmaddox commented on #1653
/assign @amygdala

Thanks @amygdala

[2020-02-11 20:09] sarahmaddox commented on #734
Thanks @fediazgon

/assign @fediazgon

[2020-02-11 20:25] hefedev commented on #1564
This is not my template, I this this is a good start to see what might come handy in the future.

https://github.com/kaushalmodi/ox-hugo/blob/master/test/site/content/real-examples/multifractals-in-ecology-using-r.md

[2020-02-11 20:28] sarahmaddox commented on #1564
Hallo @kbhawkey this issue came up in a discussion with @jlewi and @abhi-g and @jbottum . The version numbers of the applications are held in the manifest files in this repo:
https://github.com/kubeflow/manifests

We'd need some script to run (perhaps as part of the Kubeflow release process) that pulls the relevant number out of the relevant file and plugs the number into the page. We'd probably n

[2020-02-11 20:56] simmscg commented on #1614
After talking with Sarah, I'm going to keep these both on unassigned -- there are a few steps that need to happen before they get tackled, and they may not happen before the doc sprint finishes.

[2020-02-11 20:57] Jeffwan commented on #1435
@theofpa I appreciate the help and please include me in the PR and I can help on review

[2020-02-11 22:32] #33 closed

[2020-02-11 22:34] sarahmaddox opened #1659 "Add a section for Kubeflow integrations"
From a discussion with @jbottum, @elviraux, @abhi-g and @jlewi:

We should add a section to the docs that lists solutions which integrate with Kubeflow. In particular, it's valuable to describe integrations that close gaps in the Kubeflow story. For example, solutions like Rok provide **data versioning**, which is a popular feature but which Kubeflow does not yet provide.

Suggested location for t

[2020-02-11 22:35] sarahmaddox commented on #1659
Interested in input from the community, including @jbottum, @elviraux, @abhi-g, @jlewi, and anyone else.

[2020-02-11 22:36] #1166 closed

[2020-02-11 22:44] #1596 closed

[2020-02-11 22:51] daniel-bejarano opened #1660 "Minikube: Error in "kubectl apply -V -f ${CONFIG_FILE}""
Hi there!

I've been following the steps outlined in Kubeflow's docs to run kubeflow locally. After installing kubectl and minikube, and running a minikube cluster (4 cpus, 8096 of memory, and 40G of size) I get an error when installing kubeflow on my cluster. I did as outlined [here](https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikube/) and [here](https://www.kubeflow.

[2020-02-11 22:57] kbhawkey commented on #1623
Hello @joeliedtke ,
If this issue is open, would you assign me. I may need to ask for some more details.
Thanks!

[2020-02-11 22:57] sarahmaddox commented on #1655
This issue refers to the section titles on these pages:
* https://www.kubeflow.org/docs/components/serving/
* https://www.kubeflow.org/docs/components/training/

[2020-02-11 23:32] sarahmaddox commented on #210
I'm going to close this issue as outdated, because Kubeflow has changed its installation process significantly since 2018. We have another issue reported with Minikube, and I think we need to test and update the process based on that issue:
https://github.com/kubeflow/website/issues/1660

/close

[2020-02-11 23:32] #210 closed

[2020-02-11 23:48] sarahmaddox opened #1662 "Remove the Minikube installation guide"
Based on recent testing, discussions, and bug reports, we think that the deployment of Kubeflow on Minikube is no longer feasible.

One example: Thanks to @daniel-bejarano for reporting the issues they encountered:
https://github.com/kubeflow/website/issues/1660

We should therefore remove this page, and fix any links that point to it from within the docs, and add a redirect to catch incoming link

[2020-02-11 23:49] sarahmaddox commented on #1660
Thanks so much for reporting this issue @daniel-bejarano! We've held some discussions and decided we should remove the Minikube guide, as it's no longer feasible to deploy Kubeflow on Minikube in the way originally envisaged.

I've created issue https://github.com/kubeflow/website/issues/1662 requesting that we remove the page, so that we're no longer misleading people.

[2020-02-11 23:50] sarahmaddox commented on #1660
/assign

[2020-02-11 23:51] sarahmaddox commented on #1660
I'll close this issue as answered. Thanks again for trying the deployment. You may like to use one of the following solutions instead:
* https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/
* https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-minikf/

/close

[2020-02-11 23:51] #1660 closed

[2020-02-12 00:15] Jeffwan commented on #1435
@karlschriek @dilzeem Please check if the end to end guide address your concern. If not, we can file separate PR to address it.

[2020-02-12 00:18] Jeffwan commented on #1541
@charlesparasa Can you check if #1661 is clear enough for you?

[2020-02-12 00:21] Jeffwan commented on #1223
@sarahmaddox Yeah, I will file a PR to address it.

[2020-02-12 00:49] richardsliu commented on #871
@amygdala Do you know who owns this codelab?

[2020-02-12 04:10] #1624 closed

[2020-02-12 12:35] theofpa opened #1665 "AWS: third party user pool federation"
Later on, we can add more docs to talk about third party user pool federation. This is good enough now.

_Originally posted by @Jeffwan in https://github.com/kubeflow/website/pull/1661_

[2020-02-12 12:50] sarahmaddox commented on #1595
/close

[2020-02-12 12:50] #1595 closed

[2020-02-12 12:52] sarahmaddox commented on #1211
/close

[2020-02-12 12:52] #1211 closed

[2020-02-12 13:03] sarahmaddox commented on #1662
Another example of issues encountered with Kubeflow on Minikube: Thank you to @dkurt for the thorough testing! https://github.com/kubeflow/website/pull/1609

[2020-02-12 13:32] sarahmaddox commented on #1594
/close

[2020-02-12 13:32] #1594 closed

[2020-02-12 14:36] jlewi commented on #1553
There is a notebook pending in kubeflow/examples#723
It doesn't use Kustomize.
After that is merged we need to update the docs to tell users to use that notebook.

[2020-02-12 15:29] amygdala commented on #871
Unfortunately, it no longer has an owner amongst people who work on KF.  (I'm the owner of the one in the 'pipelines' subdir, but not this one). @velascoluis was just testing it and said it didn't work properly. Luis, could you add the details of how it broke, to this bug?

We may need to just deprecate it for now, and possibly move the pipelines subdir one to under the 'pipelines' dir at the top

[2020-02-12 15:29] meizabel commented on #1568
@sarahmaddox Could you please move this issue into "PRs in Progress" column on a doc-sprint Kanban board? I appreciate your time and help!

[2020-02-12 15:46] sarahmaddox commented on #1568
Done. Thanks @meizabel! I see the PR too, and have marked it as in progress for the doc sprint.

[2020-02-12 16:00] meizabel commented on #1568
@sarahmaddox Thank you! I'll wait for your review.

[2020-02-12 16:46] sarahmaddox commented on #1568
@jlewi Are we still using Let's Encrypt certificates in the GCP deployment?

[2020-02-12 18:37] janeman98 commented on #1655
/assign @janeman98

[2020-02-12 18:54] sarahmaddox commented on #1651
/close

[2020-02-12 18:54] #1651 closed

[2020-02-12 19:01] Jeffwan opened #1667 "[AWS] Add IAM for service account instruction"
Need a guidance for users to understand [IAM for service account](https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html) feature in Kubeflow 1.0 and how users can customize IAM roles for different kubernetes users.

Related changes:
- https://github.com/kubeflow/kfctl/pull/225
- https://github.com/kubeflow/kubeflow/pull/4751

[2020-02-12 19:01] Jeffwan commented on #1667
/cc @Jeffwan

[2020-02-12 19:10] Jeffwan opened #1669 "[AWS] Add instruction to use external mysql database for metadata and pipeline"
Currently, we use PersistVolume based mysql database for these projects and upgrade becomes a challenges. One solution is to use external mysql database to host data.

We already have a change https://github.com/kubeflow/manifests/pull/906 here.

[2020-02-12 19:12] Jeffwan opened #1670 "[AWS] Add instruction to use S3 directly to host pipeline data"
Changes need to be done on the argo workflow controller configmap side, pipeline apiServer and frontend side.

I am preparing an overlay which can simplify setups.

[2020-02-12 19:15] Jeffwan opened #1671 "[AWS] Explains AWS AuthN and AuthZ Flow"
AWS use [alb-ingress-controller](https://github.com/kubernetes-sigs/aws-alb-ingress-controller) to manage external traffic and authentication is done on this layer.

As we add authorization support in 1.0, we need to add more details and make sure user understand the flow and it will be helpful if user want to make some customization.

[2020-02-12 19:25] Jeffwan opened #1672 "[AWS] OIDC authentication example"
Manifest https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_aws_cognito.v1.0.0.yaml
uses Cognito on ALB for authentication. Based on our observation, a group of users like to use OIDC directly on ALB instead of via Coginito.

We want to give an example to use Github Login.

[2020-02-12 19:30] #1655 closed

[2020-02-12 19:31] janeman98 commented on #1662
/assign @janeman98

[2020-02-12 19:42] #240 closed

[2020-02-12 19:47] sarahmaddox opened #1674 "Move the components section higher in the left-hand nav"
The left-hand nav has recently acquired many options, which makes the **Components** section hard to find. Let's move the **Components** section up, to immediately below **Getting Started**.

https://www.kubeflow.org/docs/components/

Note: We should do this entirely by changing the `weight` of the relevant page(s). We should not make any changes which result in changes to URLs.

[2020-02-12 19:48] sarahmaddox commented on #1674
/cc @elviraux

From our discussion yesterday :)

[2020-02-12 19:50] amygdala commented on #871
Apparently Drew is working on a related qwiklabs replacement -- they pulled the qwiklabs version of this. (for googlers: https://buganizer.corp.google.com/issues/146655130)
Drew, is there a GH issue for your new work? @dhodun

[2020-02-12 20:10] simmscg commented on #1211
I think this might be a bit more complicated than at first glance.

- Setting everything to bold removes the capability to selectively add bold to text within a paragraph.
- The font weights for Open Sans aren't being loaded correctly, so we can't select an intermediate weight.
- Contrast fails WCAG AA at normal text sizes, but the complication isn't the text color, it's the background color, whic

[2020-02-12 20:21] simmscg opened #1675 "Cards on home page fail WCAG AA for contrast, Open Sans font isn't loading all weights"
Was looking at #1663, and it alerted me to something else.

- For the card descriptions on the front page, contrast fails WCAG AA at normal text sizes. The background color needs to be darker, the text perhaps lighter.
- The font weights for Open Sans aren't being loaded correctly, so we can't select as many weights as we should be able to.

[2020-02-12 20:51] dhodun commented on #871
We replaced the qwiklab with the current end-to-end with digit classification and did not update the github summarization code.

[2020-02-12 20:57] richardsliu commented on #871
Should we just deprecate this codelab then?

[2020-02-12 21:02] dhodun commented on #871
Potentially? It's pretty old at this ponit and seemed to serve the same purpose as https://www.kubeflow.org/docs/gke/gcp-e2e/

At cursory glance, only major differences were use-case and seldon core for serving vs tf serving.

[2020-02-12 21:04] Swikar commented on #450
Hello @sarahmaddox Would you please assign this issue to me? I will take care this.

[2020-02-12 21:06] #1421 closed

[2020-02-12 21:10] sarahmaddox commented on #450
Thanks @Swikar!
/assign @Swikar

[2020-02-12 21:11] janeman98 commented on #1674
/assign @janeman98

[2020-02-12 21:28] sarahmaddox commented on #1675
/assign @simmscg

[2020-02-12 21:34] #1124 closed

[2020-02-12 21:48] #1532 closed

[2020-02-12 22:04] wdhorton commented on #1669
I'm going to work on this issue

[2020-02-12 22:08] amygdala commented on #871
Thanks, Drew (Unfortunately, https://www.kubeflow.org/docs/gke/gcp-e2e/ is currently broken too.)

[2020-02-12 22:12] #1576 closed

[2020-02-12 22:20] #851 closed

[2020-02-12 22:24] sarahmaddox commented on #1669
Thanks @wdhorton!

/assign @wdhorton

[2020-02-12 22:25] #1674 closed

[2020-02-12 22:40] #1662 closed

[2020-02-12 23:27] sarahmaddox commented on #1675
/close

[2020-02-12 23:27] #1675 closed

[2020-02-13 00:33] zhenghuiwang opened #1683 "Invalid URLs in kubeflow/website"
I wrote a [script](https://github.com/kubeflow/website/pull/1684) to scan all `.md` files in this repository, extract `http/https` URLs, and ping them for validation.

Out of 1300+ URLs, here is a list of URLs that seem to be invalid. **Warning: false negative is possible.** All file path is under
`kubeflow/website/content/docs`

**Feel free to remove any URL from this list, if it is found valid.*

[2020-02-13 01:24] abhi-g commented on #1683
Thanks Zhenghui, this is quite useful. I don't think there is an automated
way to update the links, but periodically running this script can be super
informative to track hygiene. Hopefully we can have the links fixed up even
if it is a manual effort. Could this issue be a good candidate for "help
wanted"?

On Wed, Feb 12, 2020 at 4:33 PM issue-label-bot[bot] <
notifications@github.com> wrote:

[2020-02-13 02:11] sarahmaddox commented on #1683
Thanks @zhenghuiwang This is very useful indeed.

@abhi-g Good idea: I've labeled this issue as "help wanted".

[2020-02-13 03:46] TristansCloud opened #1685 "Link to algorithms that can be used"

[2020-02-13 07:18] JohanWork commented on #759
@sarahmaddox I have started to work on it, to clarify. When I have been using env variables in Kubeflow piplines it has mostly been true kubernetes secrets is that the same thought as here, the process then normally is.
1. You create a secret (for example usernamen and password for a database)
2. You pass it in to the container in the pipline  through the  .add_env_variable

[2020-02-13 08:14] eterna2 commented on #1670
I have some overlays on my repo too. Abit outdated thou.

Just to add. U might want to add in the configmap so that tensorboard viewer can access the tf logs from s3.

https://github.com/e2fyi/kubeflow-aws

[2020-02-13 13:28] sarahmaddox opened #1686 "Update remaining examples on Katib page to use namespace as in the first example"
Page: https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/

In PR https://github.com/kubeflow/website/pull/1633, we updated the [first example](https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/#example-using-random-algorithm) to show how to specify a namespace before applying the YAML file. We should follow the same pattern for the other 2 exa

[2020-02-13 13:39] sarahmaddox commented on #1685
Hallo @TristansCloud Thanks for raising this issue. Please could you add more detail about the request. For example, does the request apply to a specific page in the docs, or perhaps the information is missing entirely?

If I understand the request correctly, you're looking for examples of various ML algorithms running on Kubeflow - is that right?

We've just created the use cases page - does this

[2020-02-13 13:47] sarahmaddox commented on #759
@JohanWork I'm not sure if the username/password is a typical use case. @Ark-kun can you add some clarity here?

In case they're useful, here are some examples from the SDK code:
* https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L128 (hello world)
* https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L1138

/cc @joeliedtke

[2020-02-13 13:49] sarahmaddox commented on #759
Thanks for taking this one @JohanWork!
/assign @JohanWork

If you'd like to register for the doc sprint (link in previous comment) then we can still count this work as part of the doc sprint.

[2020-02-13 14:14] JohanWork commented on #759
Realised now that something like the hello world would be a much easier example. Will do something like that @sarahmaddox.

[2020-02-13 14:20] sarahmaddox commented on #759
Thanks @JohanWork! I also just realised that @rmgogogo may have good input on use cases too.

[2020-02-13 14:58] karlschriek commented on #1435
Cool, this looks fairly comprehensive. Once a stable version of 1.0 is released I'll go through the steps as described. (I did manage to get it all up and running on 0.7.1, so will leave that as it is for now).

[2020-02-13 16:03] benmathes opened #1687 "Two Custom KFP component links 404"
On https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

The link to the TFMA component 404s
The link to the dataflow predict component also 404s

Note both are in `.../components/dataflow/...`

![image](https://user-images.githubusercontent.com/545846/74453555-69000c00-4e37-11ea-8e7c-b5c53c28482e.png)

[2020-02-13 19:15] Jeffwan commented on #1435
@karlschriek @dilzeem BTW, authorization has been added https://github.com/kubeflow/manifests/pull/908 here.  Do you frequently use Cognito with your IDP or use OIDC directly?

[2020-02-13 19:23] dilzeem commented on #1435
We use cognito here. Thanks for the work so far!

I am still getting a missing ALB 443 listener and target, but I think it
might be because I am deploying via terraform. Was able to manually add it
and it worked fine.

On Thu, 13 Feb 2020, 20:15 Jiaxin Shan, <notifications@github.com> wrote:

[2020-02-13 19:38] Jeffwan commented on #1435
@dilzeem It would be great if you can file a new file issue and I will help resolve this problem. If we set configs correctly, HTTP 443 listener should be added. Target group is still HTTP now.  secure way has been addressed here. https://github.com/kubeflow/manifests/pull/653/files

[2020-02-13 19:43] dilzeem commented on #1435
Sure will do, when I get back to work tomorrow.  Thanks again for being
very responsive.

On Thu, 13 Feb 2020, 20:38 Jiaxin Shan, <notifications@github.com> wrote:

[2020-02-13 21:05] sarahmaddox commented on #454
/close

[2020-02-13 21:05] #454 closed

[2020-02-13 21:58] fediazgon commented on #1539
Taking this one. Seems something I can finish before the weekend. Please @sarahmaddox, assign me.

[2020-02-13 22:16] sarahmaddox commented on #1539
/assign @fediazgon

thanks @fediazgon!

[2020-02-14 02:26] sarahmaddox commented on #1622
/assign @kbhawkey

[2020-02-14 02:26] sarahmaddox commented on #1622
@kbhawkey If you add a comment to this issue, I'll be able to assign it to you.

[2020-02-14 02:29] sarahmaddox commented on #450
Fixed by PR https://github.com/kubeflow/website/pull/1681

/close

[2020-02-14 02:29] #450 closed

[2020-02-14 10:00] karlschriek commented on #1435
For the moment we simply create and manage user pools via Cognito. I'm not sure I entirely follow what kubeflow/manifests#908 is doing. Would that allow managing authorisation directly within Kubeflow (i.e. no need to use Cognito)?

[2020-02-14 10:01] NikeNano commented on #756
Something for you maybe @JohanWork?

[2020-02-14 12:22] velascoluis commented on #871
Hi, following step by step the issues I found are related to ksonnet.
The code itself works good  inside the notebook.
For googlers here is ks error ouput and the log from the execution inside the notebook: https://docs.google.com/spreadsheets/d/12eo6sc1S_tKAyBpi1iMPeoixOt4UfmMrNnImXaxWxQM/edit#gid=0

[2020-02-14 13:08] sarahmaddox commented on #756
Note that the TensorFlow batch predict option isn't supported beyond [Kubeflow v0.6](https://v0-6.kubeflow.org/docs/components/serving/tfbatchpredict/).

@jlewi should we close this issue, or is there some other way that we want to recommend for doing batch prediction?

[2020-02-14 14:27] kbhawkey commented on #1622
Hello @sarahmaddox ,
Yes, it is okay to assign me to this issue, though, if someone else needs to jump
in that is fine too!

[2020-02-14 16:37] sarahmaddox commented on #1622
Thanks @kbhawkey I'll assign it to you, since you're already working on a PR. No pressure to get this done quickly!

/assign @kbhawkey

[2020-02-14 19:37] vpavlin commented on #1465
@vimalkansal Just wanted to let yo know that OpenShift is not documented on Kubeflow.org - https://www.kubeflow.org/docs/openshift/

Hope it helps

[2020-02-14 22:58] sarahmaddox opened #1691 "The Kubeflow website currently hangs when you open a new page"
The Kubeflow website currently hangs when you open a new page. If you hit refresh, the page then loads.

The problem doesn't seem to occur in Firefox, but it does occur in Chrome.

DevTools shows this error in the console, which may be related:
`DevTools failed to parse SourceMap: chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/sourcemaps/onloadwff.js.map`

To investigate:

We've recently adde

[2020-02-14 23:00] sarahmaddox commented on #1691
/cc @jlewi

/assign @zhenghuiwang

@zhenghuiwang Could you investigate?

[2020-02-14 23:06] sarahmaddox commented on #1691
However, the problem is most likely to be Netlify, even tho the [Netlify status page](https://www.netlifystatus.com/) currently doesn't show any issues. I'm pretty sure I've successfully loaded doc pages since the above-mentioned PR was submitted.

[2020-02-15 00:34] zhenghuiwang commented on #1691
The website is working fine for me right now. Is it still happing?

[2020-02-15 01:51] sarahmaddox commented on #1691
Thanks @zhenghuiwang it's working fine now. I'll close this issue.
/close

[2020-02-15 01:51] #1691 closed

[2020-02-15 20:55] andaag opened #1694 "Getting started multipass feedback"
The guide for setting up virtual environment has improved drastically since the last time I tried. My first experience was mostly me trying to debug istio instead of me trying to test the product.

This time it almost worked instantly. (Following https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/ on ubuntu 18.04)

The only things that did not work where listed in the

[2020-02-16 05:38] janeman98 commented on #1687
It seems the files are deleted in [issue #2203](https://github.com/kubeflow/pipelines/issues/2203) / [PR #2161](https://github.com/kubeflow/pipelines/pull/2161)

/cc @gaoning777

[2020-02-16 05:51] janeman98 commented on #1683
The first two broken links are reported in issue #1687 as well.

@sarahmaddox , I can help on this.

[2020-02-16 08:40] JohanWork commented on #756
@NikeNano my knowledge on tensorFlow is a bit limited at the moment and working on other contributions to kubeflow.

[2020-02-16 18:54] sarahmaddox commented on #1683
Thanks @janeman98
/assign @janeman98

[2020-02-16 19:11] sarahmaddox commented on #1694
Thanks for the feedback @andaag this is great to hear.

@ammarn911 Congratulations and thank you! Your update has significantly improved the UX for getting started with Kubeflow using MicroK8s on Linux.

+1 to the suggestion to add info about the MicroK8s common issues and inspection tool.

This MicroK8s doc includes some common issues and info about the inspection tool:
https://microk8s.io/docs/t

[2020-02-16 19:16] sarahmaddox commented on #1097
Thanks for testing and reporting the getting-started guides @andaag. We've done a fair bit of work recently to improve the getting-started experience.

I've streamlined the getting-started process as a whole in PR https://github.com/kubeflow/website/issues/1421.

Thanks also for your feedback on the MicroK8s experience in particular, on issue https://github.com/kubeflow/website/issues/1694.

We've

[2020-02-16 19:16] #1097 closed

[2020-02-17 23:00] wdhorton commented on #1662
@sarahmaddox is there any plan to bring back Minikube support in the future? I'm trying to understand if it was some fundamental incompatibility or just too many bugs and errors to be supported right now.

[2020-02-17 23:38] sarahmaddox commented on #1662
@wdhorton I think the issues stem from the resources that Kubeflow requires, which make it infeasible to run Kubeflow on Minikube on a desktop/laptop at this point. @abhi-g can probably give more details.

[2020-02-18 00:37] abhi-g commented on #1662
@wdhorton As Sarah mentions, generally installing various Kubeflow components end up consuming enough CPU resources that locally on the laptops its unusable with minikube. Also, I have been unable to get Istio setup working in Minikube. Given that we are not maintaining the minikube setup, we can't recommend it to users anymore. On single machine there are a few other options: microk8s, miniKF, an

[2020-02-18 02:17] sarahmaddox commented on #889
We've made a number of changes to the getting-started section since this issue was raised. I'm going to close the issue now. If anyone wants to discuss the new organization of the getting-started section, please raise a new issue.
/close

[2020-02-18 02:17] #889 closed

[2020-02-18 02:33] sarahmaddox opened #1696 "Do a tech writing review of the MNIST notebook (kubeflow/examples)"
The Kubeflow docs currently have a tutorial based on a codelab. The tutorial page is the **End-to-end Kubeflow on GCP**:
https://www.kubeflow.org/docs/gke/gcp-e2e/

Instead of walking through the codelab example, we should link to the new notebook in the kubeflow/examples repo:
https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb

TODO:
* Do a tech writing review of the [notebook

[2020-02-18 02:33] sarahmaddox commented on #1696
/assign

/cc @jlewi

[2020-02-18 12:14] portellaa opened #1700 "Build against the manifest previously downloaded instead of repository one"
Hi,

I have a question about which "file" use to build the google cloud platform deployment.

Shouldn't we use the manifest that we previously downloaded from the github and customized?
I have been doing it like that and it seems to be working. From my interpretation from the built package, it is already configured using our values in the manifest instead of need to configure it again.

What i'm t

[2020-02-18 15:00] jlewi commented on #1553
kubeflow/examples#723 has been merged. I need to update the website to point people to use the new example.

[2020-02-18 15:01] jlewi commented on #1592
@yanniszark @krishnadurai is anyone working on this?

[2020-02-18 15:31] yanniszark commented on #1592
I believe @krishnadurai said he was working on it a couple of days ago.
@krishnadurai does that still hold?
I can take it up if you're too overloaded.

[2020-02-18 18:26] janeman98 commented on #1687
Hi @gaoning777 , @sarahmaddox ,

Should we restore these 2 files? If not, maybe,  delete these 2 links in the [website](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/)?

[2020-02-18 20:49] sarahmaddox commented on #1700
Thanks @portellaa You are right. This is a copy-paste error. The line should be as you suggest:

[code]

[2020-02-18 21:51] sarahmaddox commented on #1696
PR https://github.com/kubeflow/website/pull/1701 updates the website doc to point to the new notebook.

[2020-02-18 22:15] amygdala commented on #871
For now we're in the process of 'hiding' this codelab from the codelab index, and have also marked the text 'deprecated' for those who had the link bookmarked.
We should similarly mark the readme in kf/examples -- I'll put in a PR for that shortly.

[2020-02-18 22:24] #1553 closed

[2020-02-18 22:36] portellaa commented on #1700
@sarahmaddox thank you. can i send a PR to fix this?

[2020-02-18 22:43] sarahmaddox commented on #1700
Yes please  :)
/assign @portellaa

[2020-02-18 22:52] portellaa commented on #1700
@sarahmaddox should i close the issue or is it up to you? 😊

[2020-02-18 23:02] sarahmaddox commented on #1700
@portellaa You can do the honours. :)

A tip for next time: In your PR comment you can add wording like this:
[code]

And then the bot will mark the issue as fixed when the PR is merged.

[2020-02-18 23:05] portellaa commented on #1700
thank you @sarahmaddox i did the fix #1700 to refer the link, but i didn't knew about that, i didn't read all the commands that the bot accepts 😇

thanks 🙏

[2020-02-18 23:05] #1700 closed

[2020-02-19 01:01] jlewi opened #1705 "[GCP] Update docs for private clusters and VPC service controls for 1.0"
The docs on using VPC Service controls to secure Kubeflow on GCP need to be updated.
https://www.kubeflow.org/docs/gke/private-clusters/#enable-vpc-service-controls-in-your-project

Related issues:

kubeflow/kubeflow#3210 - Replicating images to private GKE
kubeflow/kubeflow#3650 - ISTIO on private GKE

[2020-02-19 03:58] richardsliu commented on #1613
/close

[2020-02-19 03:58] #1613 closed

[2020-02-19 10:11] krishnadurai commented on #1592
@jlewi @yanniszark I apologise for delaying this. I've made a PR #1707 to address this issue. PTAL.

[2020-02-19 14:05] Svendegroote91 opened #1709 "Deploy using CLI - specify APIs to be enabled before deploying"
It would be great if it would be specified which APIs you need to enable (Compute Engine, Deployment manager, IAM, Kubernetes Engine API) before you can actually run the kubeflow deployment script.

https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

[2020-02-19 16:14] JohanWork commented on #1507
@avizmil I just tested the tutorial and works fine to me. There are some warnings but it do run and give the  Accuracy:  0.9018. Could it be the version of tensorflow?

[2020-02-19 18:42] javajon commented on #1662
Kubernetes flourishes because of its portability. Kubeflow benefits from this as well as stated on the [front page](https://www.kubeflow.org/docs/about/kubeflow/), it reads

With the removal of Minikube, the words _anywhere_ and _should_ becomes misleading. On the [Minimum system requirements page](https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements) it states:

With so

[2020-02-19 22:42] sarahmaddox commented on #1709
Thanks for raising this issue @Svendegroote91. We do have an item in the "Before you start" section of the CLI guide, saying that the GCP project must meet the minimum requirements described in the [project setup guide](https://www.kubeflow.org/docs/gke/deploy/project-setup/). The setup guide lists the required APIs. It's tricky to repeat all the info in the CLI guide, as it would make the guide r

[2020-02-19 22:42] #1709 closed

[2020-02-19 23:25] amygdala opened #1712 "document how to run the kfctl executable on MacOS Catalina"
via Boris L in kf-discuss:
"the kfctl executable is not signed, as a result, by default, Mac with OS Catalina and above will not run it. Look here https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac for a solution. Either kfctl should be signed, or this link should be added to documentation."

[2020-02-19 23:26] amygdala commented on #1712
/cc @sarahmaddox

[2020-02-20 00:37] sarahmaddox commented on #1669
@wdhorton Did you make any progress on this doc update?

[2020-02-20 01:51] amygdala commented on #871
The codelab has been 'deprecated' for now (& hidden in the index), but let's leave this open as a reminder to decide whether to update it or phase it out if we get more bandwidth.

[2020-02-20 02:10] Jeffwan opened #1714 "[AWS] Deprecate Private Access and Logging"
We didn't add private access and logging control plane settings on EKS at the time we move from shell based kfctl to golang based kfctl.

This is pretty straightforward setting on EKS side, we don't have to integrate into kfctl. The plan is to have these docs there but change the `awscli` way rather than configs in `cluster_feature.yaml`

[2020-02-20 07:44] darkopevec opened #1717 "microk8s guide should specify min version"
On a clean ubuntu 18.4 appliance, when I try to enable kubeflow on microk8s 1.14 (according to https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/), I get
[code]

[2020-02-20 12:52] darkopevec opened #1718 "microk8s.enable kubeflow does not print access ports"
This is the output I get when successfully running microk8s.enable kubeflow:
‘‘‘
Congratulations, Kubeflow is now available.
The dashboard is available at https://localhost/

    Username: admin
    Password: E9V2T81JOT6KTX02KXG27SOS3WT8AA

To see these values again, run:

    microk8s.juju config kubeflow-gatekeeper username
    microk8s.juju config kubeflow-gatekeeper password
‘‘‘
But I have no

[2020-02-20 19:27] amygdala commented on #1712
some screenshots that might be useful (depending upon how detailed we want to get)
The  first is what they'll see if they try to run kfctl from the command line.

![Screenshot 2020-02-20 11 23 04](https://user-images.githubusercontent.com/115093/74970739-bd752f80-53d3-11ea-8246-934e65fc9730.png)
If they go to the file in the Finder and right-click, then select 'open', they'll see this, and can cli

[2020-02-20 19:55] sarahmaddox opened #1720 "Add a page about Kubeflow on GKE on-premises using Anthos"
Add a page in the [GCP section](https://www.kubeflow.org/docs/gke/) about deploying Kubeflow on GKE on-premises, using Anthos. Say that interested people should email @ google-kubeflow-support.

[2020-02-20 21:09] sarahmaddox commented on #1667
/assign @Jeffwan

[2020-02-20 21:18] sarahmaddox commented on #1662
Thanks @javajon for this feedback. I have a request. :)  Would you be able to put together a guide for deploying Kubeflow on Minikube and running a simple task to verify that the deployment is working? If you have bandwidth to do this, I'll open a new issue to track the work.

The guide would go into this section:
https://www.kubeflow.org/docs/started/workstation/
Here's the source on GitHub:
http

[2020-02-20 21:34] janeman98 commented on #1662
@sarahmaddox  @javajon
I can write a tutorial starting from installing minikube and Kubeflow, compiling a pipeline example, uploading the complied application to Pipeeline UI, and  executing the uploaded application. Will that help?

[2020-02-20 22:27] abhi-g commented on #1662
That would be great. Please try out the mnist example once you have
Kubeflow deployed to ensure everything is functional.

On Thu, Feb 20, 2020 at 1:34 PM Jane Man <notifications@github.com> wrote:

[2020-02-21 00:40] Jeffwan opened #1722 "[AWS] Optimize installation flow"
Currently, we `kfctl build -V -f ${CONFIG_URI}` (https://github.com/kubeflow/website/blame/master/content/docs/aws/deploy/install-kubeflow.md#L107) and then make some customization, in order to build latest kustomize files, we have to `rm -rf kustomize/ ` (https://github.com/kubeflow/website/blame/master/content/docs/aws/deploy/install-kubeflow.md#L166)

As we need to setup cluster name and role,

[2020-02-21 04:16] #734 closed

[2020-02-21 18:36] #1714 closed

[2020-02-21 23:28] nepalineupane commented on #1165
@jdumm, can you update, how you fixed this issue. I have encountered the same problem.

[2020-02-22 02:02] sarahmaddox commented on #1712
/assign

[2020-02-22 02:30] sarahmaddox commented on #1671
/assign @Jeffwan

[2020-02-22 02:30] sarahmaddox commented on #1722
/assign @Jeffwan

[2020-02-22 15:43] mageirakos commented on #1317
/assign

[2020-02-22 19:00] #1712 closed

[2020-02-23 07:17] Jeffwan commented on #1672
/cc @PatrickXYS

[2020-02-23 07:57] Jeffwan commented on #1667
PR has been merged and this can be closed.

[2020-02-23 07:57] #1667 closed

[2020-02-23 07:58] Jeffwan commented on #1665
We will submit a PR to resolve this one and #1672. They belong to same improvement.

[2020-02-23 07:59] Jeffwan commented on #1665
/cc @PatrickXYS

[2020-02-23 19:35] Jeffwan commented on #1722
PR has been merged and we can close the issue.

[2020-02-23 19:35] #1722 closed

[2020-02-23 19:35] Jeffwan commented on #1671
PR has been merged and we can close the issue.

[2020-02-23 19:35] #1671 closed

[2020-02-23 19:40] Jeffwan commented on #1435
@karlschriek
You can either use Cognito or OIDC on ALB. It totally depends on where is your user pool and how do you like to connect IDP to kubeflow. For example, if you use Github, Google IDP, then they makes no difference, most enterprise identity providers are supported by both of them. If you like to use AWS organizations or SSO issues, I think Cognito may brings more features.

That feature b

[2020-02-23 19:48] sarahmaddox commented on #1317
Thanks @mageirakos!
/close

[2020-02-23 19:48] #1317 closed

[2020-02-23 20:00] Jeffwan commented on #1435
Revisit this issue

I think Cognito website has more details on this. Since we use ALB ingress controller to provision ALB, I also find some doc there.
https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/cognito/setup/#cognitio-configuration

In this example, we add user directly in Cognito. In real world environment, most of the time we connect with some other IDP which makes tutor

[2020-02-23 20:03] Jeffwan commented on #1541
This has been address in #1661 and it's also a duplicate of #1435. I think we can close this one and track in #1435

/close

[2020-02-23 20:03] #1541 closed

[2020-02-23 20:08] Jeffwan commented on #850
Revisit this issue. Actually, I think what users want is scale down cluster to 0 instance and scale up when needed. This is probably a question should not be addressed here. Technically, you can scale down node groups to 0 and all pods won't be scheduled. Whenever user want to come back working on it, scale up node group. Pod will be scheduled on new coming nodes and service will behave correctly.

[2020-02-23 20:08] #850 closed

[2020-02-23 20:11] Jeffwan commented on #727
AWS by default install `nvidia-device-plugin` for 0.7.  We can close this issue.

/close

[2020-02-23 20:11] #727 closed

[2020-02-23 20:13] Jeffwan commented on #725
I think this is related to https://github.com/kubeflow/website/issues/727, we can close the issue. Device plugin is installed by default in 0.7 and we will make it optional in 1.0 with clear docs. These improvements are tracked in 1.0 doc stories.

We can close this one, feel free to reopen.

/close

[2020-02-23 20:13] #725 closed

[2020-02-23 20:17] Jeffwan commented on #1683
It's plain text, just a custom domain example. This can be skipped.

This link need user to login AWS console and can be skipped as well.

[2020-02-23 23:11] Klaven commented on #1686
may I please do this? new here, just looking for some ways to contribute, will go ahead and start working working on this later this week... unless I hear otherwise! :)

[2020-02-23 23:34] sarahmaddox commented on #1686
Yes please!
/assign @Klaven

[2020-02-24 01:38] joeliedtke opened #1732 "Tech writer fixes: /docs/pipelines/sdk/enviroment_variables/"
- Check line lengths in code samples
- Update text to Learn more about (add "lightweight pipeline components") link

[2020-02-24 01:38] joeliedtke commented on #1732
/assign

[2020-02-24 02:39] AndrewMcFarren opened #1734 "Error with kfctl build -V -f ${CONFIG_URI} using kfctl_aws.v1.0.0.yaml"
Error:  (kubeflow.error): Code 400 with message: Error creating KfApp from config file:  (kubeflow.error): Code 400 with message: invalid config: version not supported; supported versions: v1alpha1, v1beta1, got v1

_**Did the following:**_

wget https://github.com/kubeflow/kfctl/releases/download/v1.0-rc.4/kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz

tar -xvf kfctl_v1.0-rc.3-1-g24b60e8_linux.tar.gz

[2020-02-24 03:00] sarahmaddox commented on #1734
@Jeffwan This may have something to do with the recent doc updates. Could you have a look?

/assign @Jeffwan

[2020-02-24 11:01] karlschriek commented on #1435
Thanks. The explanations in the new "end-to-end" guide is much easier to follow!

Ok, that is something we have definitely been waiting for! How should I imagine this working? If I look in with a user "karl.schriek@someemailaddress.com", then in the central dashboard is use will have an isolated namespace as opposed to using "anonymous" or some other arbitrary namespace?

[2020-02-24 12:06] #1720 closed

[2020-02-24 12:18] karlschriek opened #1735 "TensorFlow Serving"
https://www.kubeflow.org/docs/components/serving/tfserving_new/

I've come accross the following problems on this page:

- This example uses the configmaps "mnist-v1-config" and "s3-config" in the example YAML scripts. However, the resource definitions for the config maps are not included and no explanation is provided for what they should look like.

- the S3 example has the following annotation

[2020-02-24 16:35] Jeffwan commented on #1435
1. Cluster admin should create a profile like this. Then profile controller will create a namespace `karl` and RBAC side will try to recognize `kubeflow-userid` header with value `karl.schriek@someemailaddress.com`

[code]

2. karl login central dashboard, since auth adaptor can retrieve email from user claim, it will append the header. central dashboard will notice this user has auth and workgrou

[2020-02-24 17:13] Jeffwan opened #1736 "AWS install kubeflow page format issue"
My code changes bring a format issue here. I notice they behave differently in upstream and my local dev env. Not sure if that's the problem of we use different hugo version. I need to fix this problem first.

https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
![image](https://user-images.githubusercontent.com/4739316/75174557-a0976f80-56e5-11ea-921c-0c404e757082.png)

http://localhost:131

[2020-02-24 18:32] Jeffwan commented on #1734
If user use 1.0-rc kfctl, converters  map should have `v1` supported. Based on the logs, it's very possible user still use old kfctl version.

https://github.com/kubeflow/kfctl/blob/94c35cfa53235961a329cefd144ecf524fe5cea4/pkg/kfconfig/loaders/loaders.go#L141-L158

Please check `kfctl version` and `which kfctl`, try to see if you latest one is under your path and being used.

[2020-02-24 18:49] zhenghuiwang commented on #1683
Removed from the list. Thanks

[2020-02-24 19:54] krishnadurai opened #1738 "Remove migration notification page for kfctl_existing_arrikto"
The page `/docs/started/k8s/kfctl-existing-arrikto/` has this notice:

[code]

This issue is to track the removal of this migration notice in the future 1.1 release for Kubeflow.

/assign @sarahmaddox
/cc @yanniszark

[2020-02-24 20:41] Jeffwan commented on #1736
/assign @Jeffwan

[2020-02-24 20:55] AndrewMcFarren commented on #1734
Thank you for the support!  I had kftctl still in /usr/local/bin that I needed to remove.

[2020-02-24 20:55] #1734 closed

[2020-02-25 00:17] jodavis-suse commented on #1662
After-the-fact-feedback: I came back to my notes on the minikube (k8s 1.14) & kubeflow deployment I did just 11 days ago and now find the directions I followed are no longer posted online.  Pretty frustrating.

[2020-02-25 10:36] jdumm commented on #1165
@nepalineupane, I think the specific error about "docker: command not found" can be ignored.  I was able to move past it and still generate Docker files from the notebook.  It hasn't been easy though, and I would hesitate to recommend Kubeflow at this point.

[2020-02-25 17:16] rawkintrevo opened #1742 "Path in Cloudfile Store Instructions out of date."
The path listed at
https://www.kubeflow.org/docs/gke/cloud-filestore/

refers to `.cache/manifests/manifests-${VERSION}/deployment/gke/deployment_manager_configs/gcfs.yaml`
which has changed to
`.cache/manifests/manifests-${VERSION}/gcp/deployment_manager_configs/gcfs.yaml`

[2020-02-25 17:21] rawkintrevo commented on #1742
ah, my bad. this is solved by #1658 It just hasn't made it to the website yet. closing.

[2020-02-25 17:21] #1742 closed

[2020-02-25 19:17] wdhorton commented on #1669
@sarahmaddox Sorry for the delay, I'm currently working on it and expect to have some docs written in the next couple of days

[2020-02-26 00:32] janeman98 commented on #1662
@sarahmaddox
I have finished the initial draft in [PR1743](https://github.com/kubeflow/website/pull/1743)  - which cover installation of minikube (+ other components) + kubeflow, setting up dev env, compilation of a pipeline sample (sequential.py), upload of compiled application to Kubeflow UI, and execution of the uploaded application.  Questions:
1. do we need to add doc-sprint tag to PR1743?
2.

[2020-02-26 01:36] sarahmaddox commented on #1592
This is done.
/close

[2020-02-26 01:36] #1592 closed

[2020-02-26 18:34] joeliedtke commented on #1732
/close

[2020-02-26 18:34] #1732 closed

[2020-02-26 21:30] sarahmaddox opened #1744 "Change website version from v1.0RC4 to v1.0"
The kfctl 1.0 release is now available:
https://github.com/kubeflow/kfctl/releases/tag/v1.0

We should change the version number on the website and the kfctl version shortcode accordingly, so that people download the correct version of kfctl.

[2020-02-26 21:30] sarahmaddox commented on #1744
/assign

[2020-02-26 21:31] sarahmaddox opened #1745 "Mark the v0.7 archive site as archived"
Now that we're pointing www.kubeflow.org to the master branch (that is, to the v1.0 docs) we can mark the v0.7 branch as archived.
https://v0-7.kubeflow.org/docs/

[2020-02-26 21:31] sarahmaddox commented on #1745
/assign

[2020-02-26 21:55] #1744 closed

[2020-02-26 22:30] janeman98 commented on #1662
@abhi-g
[MNIST example ](https://github.com/kubeflow/examples/tree/master/pipelines/mnist-pipelines) is NOT working properly. I get the same ksonnet-related segfault error in the serve step as reported in [issue 1611](https://github.com/kubeflow/website/issues/1611).  It maybe better to have a non-ksonnet implementation.

[2020-02-27 18:45] berndverst opened #1750 "Kubeflow deploy instructions do not match kfctl 1.0 release"
`kfctl` 1.0 no longer has a `-f` flag for specifying the CONFIG URI. See bug at https://github.com/kubeflow/kfctl/issues/256

Instructions for all Kubeflow deployments need to be updated or `kfctl` needs to be fixed.

[2020-02-27 19:00] berndverst commented on #1750
Never mind -- I had another outdated `kfctl` earlier in my path. It seems to be working fine.

[2020-02-27 19:00] #1750 closed

[2020-02-27 19:45] Jeffwan commented on #1672
https://github.com/kubeflow/manifests/issues/945 this issue has been resolved and this can be unblocked.

[2020-02-27 19:48] Jeffwan commented on #1672
@PatrickXYS

Connect Github to Auth0,
https://auth0.com/docs/connections/social/github

Setup up ALB with Auth0,
https://medium.com/@sandrinodm/securing-your-applications-with-aws-alb-built-in-authentication-and-auth0-310ad84c8595

With this, you can successfully setup auth flow from ALB -> Auth0 -> Github, I tested it and it's working, need you to help on the doc change. Here's an example on ALB

[2020-02-27 20:55] sarahmaddox opened #1751 "Investigate Kubeflow on Minikube and document the installation if feasible"
In issue https://github.com/kubeflow/website/issues/1662, we removed the guide for running Kubeflow on Minikube. The reasons were that the way we'd documented the deployment of Kubeflow on Minikube was no longer feasible, and we'd had no success in creating a new guide.

The original guide to Minikube still exists in the [Kubeflow v0.7 docs](https://v0-7.kubeflow.org/docs/other-guides/virtual-dev/

[2020-02-27 20:55] sarahmaddox commented on #1751
/assign @janeman98

@janeman98 I'm assigning this to you with thanks :) as you've already started this work in PR https://github.com/kubeflow/website/pull/1743

[2020-02-27 21:05] sarahmaddox commented on #1662
@janeman98 Thanks for your work on this so far!

You are right that the MNIST Pipelines example is not working. See issues https://github.com/kubeflow/examples/issues/727 and https://github.com/kubeflow/website/issues/1611 (which you already mentioned). We need to find a different example to test the deployment.

I've created a new issue https://github.com/kubeflow/website/issues/1751 to track ong

[2020-02-27 23:38] janeman98 commented on #1751
@sarahmaddox

PR #1743 include the instruction for installation of minikube, Kubeflow 1.0, compilation of  a pipeline sample (sequential.py), upload of  compiled pipeline application,  and **execution of such application in the Kubeflow central dashboard**. Will that be good enough to test the deployment is good?

[2020-02-27 23:42] sarahmaddox commented on #1751
@abhi-g Please would you give your take on this question?

[2020-02-27 23:59] abhi-g commented on #1751
@janeman98 In general, compilation of a pipeline sample, upload and execution should be a good test for the deployment. Unfortunately sequential.py Pipeline is not a good pipeline to test KF functionality because it doesn't invoke any of the ml operations. It simply downloads a file from GCS and prints it to the logs.

I think when I mentioned mnist example, I meant this notebook: https://github.c

[2020-02-28 03:17] sarahmaddox commented on #1745
This is done
/close

[2020-02-28 03:17] #1745 closed

[2020-02-28 03:32] sarahmaddox commented on #1685
Closing this issue, as there's currently not enough information to act upon it. Please do re-open the issue if you have more details.
/close

[2020-02-28 03:32] #1685 closed

[2020-02-28 03:39] sarahmaddox commented on #1493
We now have a [page about Istio](https://www.kubeflow.org/docs/other-guides/istio-in-kubeflow/) that answers the question posed in this issue and gives details about Istio.
/close

[2020-02-28 03:39] #1493 closed

[2020-02-28 03:43] sarahmaddox commented on #1551
@yanniszark The new page is here: [kfctl-istio-dex](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/). Do we still need to add a note about storage requirements?

[2020-02-28 03:50] sarahmaddox opened #1754 "Investigate changed scrolling behavior on Kubeflow website pages"
The scrolling behavior has recently changed on the Kubeflow website pages: Instead of moving directly to a linked heading or when the user does Ctrl-F/Cmd-F to find text, the website now scrolls noisily down to the relevant section.

A possible cause is this new line in the project CSS variables:
https://github.com/kubeflow/website/blob/master/assets/scss/_variables_project.scss#L8

The following

[2020-02-28 03:51] sarahmaddox commented on #1754
@simmscg Do you have any info that may help diagnose/fix this issue?

[2020-02-28 04:05] simmscg commented on #1754
The change isn't required for accessibility. The line was removed as internal CSS from `_index.html` and moved to scss as part of #1676 to keep things clean. I hadn't realised the effect was intended to be limited to the home page, so it's currently operating globally.

Looking into a fix now.

[2020-02-28 04:37] simmscg commented on #1754
PR: https://github.com/kubeflow/website/pull/1755

[2020-02-28 05:22] magick93 opened #1756 "Openshift 3.11"
Please describe how to install on Openshift 3.11 as this is still widely used.

[2020-02-28 05:41] magick93 opened #1757 "error - Filename too long"
Hello

I'm trying to follow the instructions for installing kubeflow on Openshift.

Step 2 says:

This last command significantly increases the disk space used - the `manifest` folder jumps in size to over 7 gigs!

And it errors with the following:

[code]

[2020-02-28 06:21] #1757 closed

[2020-02-28 18:48] joeliedtke opened #1758 "Kubeflow Pipelines SDK Docs need to be updated"
The Pipelines SDK appears to be missing docs for usage like:  `kfp.Client().runs.delete_run()`

[2020-02-28 18:49] joeliedtke commented on #1758
/assign

[2020-02-29 03:34] sarahmaddox commented on #1754
This is fixed.
/close

[2020-02-29 03:34] #1754 closed

[2020-02-29 03:35] sarahmaddox commented on #1756
@vpavlin Please would you comment on this request?
/assign @vpavlin

[2020-02-29 06:17] janeman98 commented on #1751
@abhi-g

Thanks for the notebook url. When I run the notebook, I am hitting problems here and there and I will document the solutions/workaround on the side.  I do have a question: I am hitting following problem while running this notebook,
`FileNotFoundError: [Errno 2] No such file or directory: '/var/run/secrets/kubernetes.io/serviceaccount/namespace'`

Which pod is I should look into?
`notebook

[2020-03-02 04:46] sarahmaddox commented on #1507
/assign

[2020-03-02 04:55] sarahmaddox commented on #1507
Thanks @avizmil and @JohanWork I've also just run the example code successfully on a Kubeflow 1.0 installation.

I used the following image when setting up my notebook server in Kubeflow: `tensorflow-1.15.2-notebook-cpu:1.0.0`.

I see that one thing has changed since the doc was written: There is no longer a default image selected. You have to choose an image. The doc still assumes that the defaul

[2020-03-02 05:31] sarahmaddox opened #1761 "Notebook setup UI has changed for Kubeflow 1.0.0"
A number of options have changed in the notebook setup for Kubeflow 1.0.0. We need to update the [docs](https://www.kubeflow.org/docs/notebooks/setup/) accordingly.

[2020-03-02 05:32] sarahmaddox commented on #1761
/assign

[2020-03-02 21:23] #1696 closed

[2020-03-03 03:39] sarahmaddox opened #1764 "Clarify that GCP basic auth is not supported and remove most references"
The basic auth (username/password) option on GCP is already marked as not supported in the docs, but we currently give people instructions on how to use it if they want to. This is leading to problems for some, where the option does not work.

Instead, we should just say it's not supported, without giving usage instructions. In addition, we should remove most references to the basic auth config, l

[2020-03-03 03:39] sarahmaddox commented on #1764
/assign

[2020-03-03 17:36] janeman98 commented on #1687
Hi @gaoning777 , @sarahmaddox

Any update on this? I can restore these 2 files or just delete these 2 links in the website.  Please let me know which way is better.

[2020-03-03 20:37] #1764 closed

[2020-03-04 04:07] sarahmaddox commented on #1687
/assign @joeliedtke

@joeliedtke Would you be able to answer @janeman98's question?

[2020-03-04 16:46] anifort opened #1769 "Securing Your Clusters = missing cert-manager.yaml file"
https://www.kubeflow.org/docs/gke/private-clusters/

It seems that this documentation is not compatible with KFv1. Following the instructions step 7 under Deploy Kubeflow with Private GKE

Remove components which are not useful in private clusters:
cd ${KF_DIR}/kustomize
kubectl delete -f cert-manager.yaml

There is not such a file -> cert-manager.yaml

[2020-03-04 18:46] sarahmaddox commented on #1705
Related: https://github.com/kubeflow/website/issues/1769

[2020-03-04 18:57] sarahmaddox commented on #1705
/assign @zhenghuiwang

@zhenghuiwang I'm assigning this to you, as I understand you're working on a solution for the config of private clusters. Let me know when you're ready to work with me on the updating of the website docs. We'll take a look and decide whether we need more than one doc, based on your findings.

[2020-03-04 18:58] sarahmaddox commented on #1769
/assign @zhenghuiwang

Assigning this to @zhenghuiwang as he's working on an update to the docs for private GKE clusters.

[2020-03-04 19:33] Jeffwan commented on #1672
[code]

[2020-03-04 21:44] sarahmaddox commented on #1614
I'll take this one on.

[2020-03-04 23:09] janeman98 opened #1772 "Investigate Kubeflow 0.7 gke-monitoring docs to add to current doc"
As per discussion of [PR #1748](https://github.com/kubeflow/website/pull/1748#issuecomment-594317273), we need to investigate whether there's any useful info we can grab from [gke-monitoring in the Kubeflow v0.7 docs](https://www.kubeflow.org/docs/gke/monitoring/) (that is, an older version of this page).

/assign @kunmingg

[2020-03-05 01:40] sarahmaddox commented on #1615
This is done
/close

[2020-03-05 01:40] #1615 closed

[2020-03-05 01:41] sarahmaddox commented on #1736
This is done
/close

[2020-03-05 01:41] #1736 closed

[2020-03-05 02:31] sarahmaddox opened #1773 "Clean up the links to samples, codelabs, and tutorials"
* The list of [Kubeflow samples](https://www.kubeflow.org/docs/examples/kubeflow-samples/) on the website is nicely formatted and clearly indicates the last-updated date for each sample. Even so, this page may mislead people as some of the samples listed are very out of date and won't work with any recent version of Kubeflow.
* The Katacoda scenarios on the [codelabs/tutorials page](https://www.ku

[2020-03-05 02:31] sarahmaddox commented on #1773
/assign

[2020-03-05 09:34] gtarcoder opened #1775 "Kubeflow Deployment with kfctl_k8s_istio"
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Failed to install kubeflow on an existing k8s cluster.  After I installed kubeflow following these docs https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/ , https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/ . I can not access to centralboard.
Executing `kubectl get pods -n kubeflow` ,  gets following results:
NAME

[2020-03-05 09:50] krishnadurai commented on #1775
Hello @gtarcoder, can we get the output of
[code]

[2020-03-05 09:59] gtarcoder commented on #1775
@krishnadurai here is the output
Name:               centraldashboard-869f55ddbd-mwkg4
Namespace:          kubeflow
Priority:           0
PriorityClassName:  <none>
Node:               45.255.133.241/45.255.133.241
Start Time:         Thu, 05 Mar 2020 17:30:03 +0800
Labels:             app=centraldashboard
                    app.kubernetes.io/component=centraldashboard
                    app.kub

[2020-03-05 10:31] krishnadurai commented on #1775
@gtarcoder is the central-dashboard the only pod failing or is it the same with most or all pods in Kubeflow namespace.
Could you please provide more information on your setup?

Kubernetes version:
Platform: (Microk8s with Linux/ GKE etc)
Cluster description:

Could you see if there are other pods failing and if they are failing, can you post their logs?

[2020-03-05 10:59] gtarcoder commented on #1775
only the central-dashboard pod fail. Here is the snapshot.
![image](https://user-images.githubusercontent.com/11898942/75975343-4b443500-5f13-11ea-8fab-24cc826b9bd7.png)

my setup configurations:
Kubeflow version: (version number can be found at the bottom left corner of the Kubeflow dashboard): 1.0
kfctl version: (use kfctl version): v1.0-0-g94c35cf
Kubernetes platform: (e.g. minikube) rancher
Ku

[2020-03-05 14:47] liorshk commented on #754
I have successfully been able to run kubeflow v1.0 docker for windows and documented the steps needed here: https://github.com/liorshk/kfctl

[2020-03-05 19:43] PatrickXYS commented on #1672
One issue here:

[code]

[2020-03-05 21:38] sarahmaddox commented on #1568
This is now fixed. Thank you @meizabel!
/close

[2020-03-05 21:38] #1568 closed

[2020-03-05 22:21] Jeffwan commented on #1672
@PatrickXYS Yeah, a copy paste error. should be ACM cert arn

[2020-03-06 17:58] meizabel commented on #1412
@sarahmaddox Sarah, can I take this issue and elaborate the current version of the KFServing guide?

[2020-03-06 18:09] meizabel commented on #1427
@sarahmaddox Sarah, and can I take this issue too?

[2020-03-06 19:37] swiftdiaries opened #1778 "kfctl dex_istio config API Server flags has to be documented"
Kubeflow deployment with the kfctl_istio_dex config and Istio 1.3.1 requires these flags to be set
https://github.com/istio/istio/blob/master/prow/config/trustworthy-jwt.yaml#L12
This should be documented in the website deployment instructions
/assign

[2020-03-06 20:31] sarahmaddox commented on #1427
Actually, we've already updated the docs during the doc sprint, but we tracked the work in a different issue. Thanks for drawing my attention to this one, @meizabel  - I'll close this issue now.

/close

[2020-03-06 20:31] #1427 closed

[2020-03-06 20:52] sarahmaddox commented on #1412
/assign @meizabel

Thanks @meizabel It will be excellent to have your input here. The KFServing docs are marked in our plan for improving this month (March).

@animeshsingh and @ellis-bigelow do you have any more links to info that @meizabel can use as input? (Animesh and Ellis will be the tech reviewers for this update.)

We'd also like to find out what gaps there are - to what extent does the cu

[2020-03-06 20:59] #1507 closed

[2020-03-06 20:59] #1761 closed

[2020-03-06 21:45] meizabel commented on #1412
@sarahmaddox Thanks a lot for clarifications! I'll try to do my best. Also, please let me know how else I can help this month. Maybe there is also a bunch of small but important fixes...

[2020-03-06 22:05] PatrickXYS commented on #1665
Will help on this issue from now.

[2020-03-06 22:17] alforik opened #1782 "Do we no need to prepare a storage class for the kubeflow_1.0_kfctl_istio_dex_installation?"
The kubeflow_1.0_kfctl_istio_dex_installation
https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/   does not have a storage class description.

The kubeflow_1.0_kfctl-k8s-istio_installation
https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/    have a storage class description.

Do we no need to prepare a storage class for the kubeflow_1.0_kfctl_istio_dex_installation?

[2020-03-06 22:27] #1769 closed

[2020-03-07 17:15] sarahmaddox commented on #1775
/assign @krishnadurai

[2020-03-07 17:17] sarahmaddox commented on #1782
/assign @krishnadurai

@krishnadurai Please would you take a look at this question?

[2020-03-09 18:22] krishnadurai commented on #1782
@alforik if you are looking to install this on an on-premise Kubernetes installation, you would need to prepare the storage class.

Let me modify the documentation to reflect this.

[2020-03-09 18:55] sarahmaddox commented on #1412
@meizabel I haven't had any response to my post on kubeflow-discuss, so let's go ahead with what we have. Let me know if there's enough for you to work with on this issue. You can chat with community members in Kubeflow Slack, to ask questions and verify assumptions while working on the doc.

[2020-03-09 22:40] joeliedtke commented on #1687
These two components are deprecated. I'll dig into this to see if the pipeline was revised using different components, or if the example needs to be revised.

TFMA - https://github.com/kubeflow/pipelines/tree/dc5aab6687c7dee37834b3f4be1ca6851a59337a/components/deprecated/dataflow/tfma/src

Dataflow predict -
https://github.com/kubeflow/pipelines/tree/dc5aab6687c7dee37834b3f4be1ca6851a59337a/compon

[2020-03-09 22:52] joeliedtke commented on #1616
Users need to be able to understand when to use use_gcp_secret(), and why. Consider adding a doc for pipeline components that authenticate with external resources. This could give users an overview of the general case, and direct users to cloud specific guides.

[2020-03-09 23:13] amygdala opened #1788 "KFP lightweight components: document 'packages_to_install' arg for func_to_container_op"
A customer was trying to figure out how to support the functionality provided by 'packages_to_install', and I don't think we've documented it on kubeflow.org.  Here's an example that shows it in action: https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/mnist/04_Reusable_and_Pre-build_Components_as_Pipeline.ipynb

[2020-03-10 00:01] #1773 closed

[2020-03-10 00:17] sarahmaddox commented on #1128
/assign

[2020-03-10 00:31] sarahmaddox commented on #18
/assign

[2020-03-10 03:37] sarahmaddox commented on #1622
This is done.
/close

[2020-03-10 03:37] #1622 closed

[2020-03-10 03:39] sarahmaddox commented on #1623
@kbhawkey and @joeliedtke Can we close this issue or is there still work to do?

[2020-03-10 03:40] sarahmaddox commented on #1623
/assign @kbhawkey

[2020-03-10 03:44] sarahmaddox commented on #1686
@Klaven How are you progressing with this issue? If you don't have bandwidth to do it, I'll assign it to @meizabel since she's able to start work on it.

[2020-03-10 05:05] shichengsg001 opened #1789 "questions on how fairing ClusterBuilder finds the source"
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-9-5ecb290db21d> in <module>
      8                                                  pod_spec_mutators=[fairing.cloud.gcp.add_gcp_credentials_if_exists],
      9                                                  context_source=cluster.gcs_context.GCSContextSource())
---> 10 cluster_builder.build()
     11 log

[2020-03-10 05:17] sarahmaddox commented on #1789
@shichengsg001 Thanks for reporting this error. Please would you add a link to the doc page where you found the notebook, or to the notebook itself, to help us troubleshoot the problem?

[2020-03-10 05:55] shichengsg001 commented on #1789
Hi. Sarah. thank you for fast reply, the example I am using this note books mnist/mnist_gcp.ipynb
ti is from this repo:
https://github.com/kubeflow/examples.git

it failed at this step. complaining about Dockerfile.model not found
Run the next cell and wait until you see a message like Built image gcr.io/<your-project>/fairing-job/mnist:<1234567>.

[2020-03-10 06:14] sarahmaddox commented on #1789
Thanks for the additional info @shichengsg001

@amygdala Do you have any idea what's going wrong here? @shichengsg001 is encountering the error in section **Use Kubeflow Fairing to build the Docker image** of this notebook:
https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb

/assign @amygdala

[2020-03-10 09:30] jingzhang36 opened #1790 "Documentation of api client usage and cicd usage"

[2020-03-10 09:33] jingzhang36 commented on #1790
I opened in the wrong repo. Closing it.

[2020-03-10 09:33] #1790 closed

[2020-03-10 12:33] imskr commented on #1788
Where I have to add about it? I would like to add it.

[2020-03-10 16:20] amygdala commented on #1788
great!  Adding Joe (who owns the docs) for guidance.
/cc @joeliedtke

[2020-03-10 16:25] amygdala commented on #1789
hi  @shichengsg001 , the `Dockerfile.model` file is in the same directory as that notebook.  Do you have the full contents of that directory checked out/downloaded?

[2020-03-10 20:58] kbhawkey commented on #1623
👀

[2020-03-11 07:28] shichengsg001 commented on #1789
HI. @amygdala , thank your for your reply, seems like I need to upload the content under /examples/mnist to the notebook server, but it is not mentioned in the notebook.

Now I am hitting this error:
Forbidden: 403 POST https://storage.googleapis.com/storage/v1/b?project=XXXXX Insufficient Permission

Could you please explain who is calling this url? and what permission should I get?

[2020-03-11 15:54] amygdala commented on #1789
hi @shichengsg001 ,
That's good feedback to add some info to the notebook regarding needing the other content.  I'll create a separate issue to do that.

That 403 error looks like a GCS (Cloud Storage) permissions issue— perhaps the GCS bucket is not created, or you're accessing one in a project for which you don't have permissions.  To double check: you should run this example from a [Kubeflow no

[2020-03-11 17:28] cspavlou opened #1793 "Slack invite link expired"
The [invite link](https://kubeflow.slack.com/join/shared_invite/enQtNDg5MTM4NTQyNjczLTdkNTVhMjg1ZTExOWI0N2QyYTQ2MTIzNTJjMWRiOTFjOGRlZWEzODc1NzMwNTMwM2EzNjY1MTFhODczNjk4MTk) for the Kubeflow Slack workspace is no longer active

@jlewi is it possible to create a link that doesn't expire?

[2020-03-11 20:20] sarahmaddox opened #1794 "Netlify changes to redirects behavior: Check and fix redirects where necessary"
Text copied from the email from Netlify:

___

**Changes coming to your redirects**

We’ve recently fixed a bug in Netlify’s redirect handling, and we’ve identified one or more redirect rules on www.kubeflow.org that will begin to behave differently after the bug fix is applied on April 7th.

For more information on the nature of the bug and how it affects redirect rules, please visit the Communit

[2020-03-11 20:55] sarahmaddox commented on #1793
Just checked the Slack docs: You need to be a Workspace Owner or Admin in order to create an invitation link. I don't have the right access, and I therefore can't see the options in the *expiry* menu when creating a new invitation link.

[2020-03-11 21:00] sarahmaddox commented on #1793
@abhi-g Do you have access to create a new Slack invitation link for Kubeflow, and to check what the expiry options are?

[2020-03-11 21:07] abhi-g commented on #1793
/cc @theadactyl @jlewi
I don't have access to slack administration

[2020-03-11 22:12] #1778 closed

[2020-03-11 23:41] sarahmaddox opened #1796 "Update website for Kubeflow v1.0.1"
https://github.com/kubeflow/kfctl/releases/tag/v1.0.1

[2020-03-11 23:42] sarahmaddox commented on #1796
/assign

[2020-03-12 00:58] #1796 closed

[2020-03-12 14:30] shichengsg001 commented on #1789
Hi, @amygdala
Thank you for your reply,
I do have access to GCS, Could you explain what is the storage for? And what piece of code is for setting the bucket?

Best Regards

[2020-03-12 16:34] joeliedtke opened #1800 "Update references to GCP standalone pipelines stage to beta"
GCP standalone pipelines are now in beta. Update pages that refer to the launch status.

https://www.kubeflow.org/docs/pipelines/installation/overview/

[2020-03-12 16:34] joeliedtke commented on #1800
/assign

[2020-03-12 18:32] jlewi commented on #1793
@sarahmaddox I made you a slack owner as well.

[2020-03-12 18:54] sarahmaddox commented on #1793
Fixed by https://github.com/kubeflow/website/pull/1802
/close

[2020-03-12 18:54] #1793 closed

[2020-03-12 18:56] Jeffwan opened #1803 "Failed to start hugo local server"
`hugo server -D` failed to start. Seems it's making calls to `kubeflow/examples` and even the response code is not 20x/30x, it should not fail the server startup.

[code]

[2020-03-12 23:42] #1672 closed

[2020-03-13 01:23] Jeffwan commented on #1665
As this PR https://github.com/kubeflow/website/pull/1780is merged, we can close this issue

/close

[2020-03-13 01:23] #1665 closed

[2020-03-13 04:02] gtarcoder opened #1805 "Use customized files in Kubeflow pipeline"
I have read through this documentation https://www.kubeflow.org/docs/pipelines/sdk/,
but have no idea how to implement the following requirement:
I have several py and txt  files in my ml pipeline, these files will be used in pipeline execution, how can the k8s pods get these files when scheduled on kubeflow since I find that the pipeline is compiled into a single yaml file.

[2020-03-13 10:29] cspavlou commented on #1793
@sarahmaddox , we have to update the Slack links on the website. Currently, only the [community page](https://www.kubeflow.org/docs/about/community/) has the correct link. I will make a PR to fix all the links. Does the new link expire or is it permanent?

[2020-03-13 17:48] sarahmaddox commented on #1793
Thanks for the PR @cspavlou
The new link is permanent, according to the GitHub "invitations" UI.

[2020-03-14 22:59] Jeffwan opened #1808 "Claim that Kubeflow in not available on AWS EKS with Fargate"
Get users asks on this.

Here's the considerations.
https://docs.aws.amazon.com/eks/latest/userguide/fargate.html#fargate-considerations

[2020-03-15 06:49] shichengsg001 commented on #1789
Hi. @amygdala

I think this line doesn't work,
credentials = GoogleCredentials.get_application_default()

I installed Kubeflow with this file: kfctl_k8s_istio.v1.0.1.yaml

I tried to read the documentation about ClusterBuilder, but I didn't find anything useful

Could you please tell me what is the context_source parameter expecting?

Best Regards

[2020-03-15 07:17] shichengsg001 opened #1809 "Fairing: explain how to use the clusterBuilder class to set the context"
I have been trying to set my own context_source, and I encounter the following error, I tried to dig thought the documentation, but I can't find anything to explain how to use the clusterBuilder class to set the context.

cluster_builder = cluster.cluster.ClusterBuilder(registry=DOCKER_REGISTRY,
                                                 base_image="", # base_image is set in the Dockerfile

[2020-03-15 23:01] sarahmaddox commented on #1794
I've read the material fro Netlify carefully, and have decided we don't need to make any changes. The bug that they've fixed was that Netlify would redirect past a file, based on the redirect rule, even if the file existed. Now Netlify will no longer redirect past an existing file unless we force the redirect.

Our policy is only to add redirects if we remove a file. If there's an existing file, t

[2020-03-15 23:01] #1794 closed

[2020-03-15 23:44] rduan opened #1811 "Please update https://www.kubeflow.org/docs/gke/private-clusters/ - no iap-ingress.yaml"
I tried to deploy KF to private-cluster as the document says.

But I got errors when deploying after remove kustomizeConfig cert-manager, cert-manager-crds and cert-manager-kube-system-resources.

Besides, there is no file called iap-ingress.yaml to set privateGKECluster !!

I found this privateGKECluster from manifestes repo, in a params.env of folder /gcp/basic-auth-ingress/base/params.env
But I

[2020-03-16 05:42] sarahmaddox commented on #1705
Related: https://github.com/kubeflow/website/issues/1811

[2020-03-16 05:46] sarahmaddox commented on #1811
@rduan Thank you for reporting this issue. We have a P1 issue (https://github.com/kubeflow/website/issues/1705) to update the doc for private clusters and VPC service controls.

@zhenghuiwang Do you have an input on this specific question from @rduan?

[2020-03-16 11:11] Klaven commented on #1686
I am so sorry. :bow: I am going to get this done today. My life kind of got really crazy and honestly I forgot about it. Again, very sorry. Working on it right now. :bow:

[2020-03-16 11:13] Klaven commented on #1686
hopefully @meizabel has not started working on it. if you have. I apologize even more. I'm a terrible person. again sorry @sarahmaddox.

[2020-03-16 12:09] Klaven commented on #1686
I posted the above PR. :bow: again I apologize this took me so long! Will pick up another one later this week!

[2020-03-16 12:18] j-wezel opened #1814 "Set up a GCP Project"
I think in https://www.kubeflow.org/docs/gke/deploy/project-setup/, step 4 should mention to enable
Cloud Build API.

[2020-03-16 15:58] amygdala commented on #1789
Ah, I believe that this example notebook [requires the IAP on GKE ](https://github.com/kubeflow/examples/tree/master/mnist#mnist-on-kubeflow-on-gcp) installation.  E.g. the IAP config described [here](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#prepare-your-environment).
This will set up your GCP credentials properly.  For other installations, you would have to do a bit more extra work to

[2020-03-16 18:40] zhenghuiwang commented on #1811
Can you paste the error message? thanks

(I think the error is related to KFServing, but want to confirm it. If that's the case, you may have to remove it similarly to removing cert-manager)

But I cannot find anywhere it is used, it seems that it is just created in configMap but not used anywhere. Please correct me if I am wrong.

Seems you are deploying with basic auth. I would recommend deployi

[2020-03-16 21:32] sarahmaddox commented on #1686
Fixed by https://github.com/kubeflow/website/pull/1813
Thanks @Klaven
/close

[2020-03-16 21:32] #1686 closed

[2020-03-16 21:44] sarahmaddox commented on #1705
This PR proposes an update to the private clusters page too: https://github.com/kubeflow/website/pull/1563
There hasn't been any activity on the PR for a while. It may be worth checking in with the author.

[2020-03-16 21:48] rduan commented on #1811
Hi Zhenghui,

Thanks for your reply.

I got errors as below when I was doing setp 7:

   1.

   Remove components which are not useful in private clusters:

Open ${KF_DIR}/kfctl_gcp_iap.v1.0.0.yaml and remove kustomizeConfig
cert-manager, cert-manager-crds, and cert-manager-kube-system-resources. 1.
Create the deployment:

cd ${KF_DIR}
kfctl apply -V -f ${CONFIG_FILE}

BTW, there is no statement a

[2020-03-16 22:09] joepeskett commented on #1811
I had an issue with CloudEndpoint deploying correctly on privateGKE with IAP_v1.0.0 (the controller would set up but then no endpoint would be set up)- is this not the general experience? To remedy, we removed the cloud endpoint controller from KustomizeConfig, set an endpoint using `gcloud endpoints services deploy openapi.yaml` then used this as the host name in `iap-ingess/base/params.env`. Not

[2020-03-16 23:53] rduan commented on #1811
Hi Joepeskett,

I am not very understanding your points because I just started to
use/deploy kubeflow.

The thing I noticed is that  "privateGKECluster=false" was defined in
params.env , but I cannot find this parameter is used anywhere.

Could you tell me how this parameter is used when deploying KF?

Thanks,

Richard

On Tue, 17 Mar 2020 at 09:09, joepeskett <notifications@github.com> wrote:

[2020-03-17 01:53] imskr commented on #1814
Can I add that?

[2020-03-17 02:05] sarahmaddox commented on #1814
@j-wezel I installed Kubeflow 1.0.0 rc4 on GCP without enabling the Cloud Build API. Could you give us more information about why we need to enable it. For example, is it a new requirement for Kubeflow 1.0.1, or did you get an error when running a particular Kubeflow application?

[2020-03-17 08:02] j-wezel commented on #1814
Well you will need it later on when Fairing builds containers with models to be served. Fair enough, it's not required per se, so that should go into the description.

[2020-03-17 14:48] Klaven commented on #1694
@sarahmaddox I dont mind doing this one! I'll even try and get it done faster then the last one! :) Missed the community meeting this morning, but plan to be there next week!

[2020-03-17 18:22] sarahmaddox commented on #1814
Thank you for the additional information @j-wezel

@imskr Yes, please do create a PR to add the requirement for enabling the API, with a note that it's required if you plan to use [Fairing](https://www.kubeflow.org/docs/fairing/) in your Kubeflow cluster.

/assign @imskr

[2020-03-17 18:24] sarahmaddox commented on #1694
Thanks @Klaven
/assign @Klaven

[2020-03-17 21:13] #1814 closed

[2020-03-18 06:23] shichengsg001 commented on #1789
HI. @amygdala

Thank you for your reply, but actually I am more interested in how to use the fairing library, I couldn't found any useful documents online, appreciate if you enlighten me how to set the context for ClusterBuilder. My company wants to use Kubeflow across different plateform, so the IAP way is not applicable to us.

[2020-03-18 11:26] natalytvinova commented on #1718
Hitting the same issue

[2020-03-18 17:33] amygdala commented on #1789
hi @shichengsg001 ,
Here is some documentation on fairing: https://www.kubeflow.org/docs/fairing/.
If you don't want to use the Kubeflow GKE IAP install, in particular you might be interested in these pages that go through more detail on credentials setup:
https://www.kubeflow.org/docs/fairing/gcp/configure-gcp/,  and
https://www.kubeflow.org/docs/fairing/azure/

(cc @jlewi , the notebook author,

[2020-03-18 18:12] sarahmaddox commented on #1718
@carmine Please would you take a look at this issue?

[2020-03-18 21:58] joeliedtke opened #1819 "Tech writer updates to sdk-examples.md"
Update sdk-examples for terms, grammar, and clarity.

[2020-03-18 21:58] joeliedtke commented on #1819
/assign

[2020-03-19 15:38] jlewi commented on #1789
@shichengsg001 if you'd like more information about fairing and the ClusterBuilder in particular could you please open up a new issue and cc @jinchihe  (primary fairing author) with as much information as you could provide about what you would like to do and what your question is.

[2020-03-19 15:56] wardVD opened #1821 "Application code components creation outdated"
The section "Creating components within your application code" seems to be outdated. It refers to a function `build_python_component` which is deprecated. There is also a link to a notebook here: https://github.com/kubeflow/pipelines/blob/master/samples/core/container_build/container_build.ipynb but this does't work.

[2020-03-19 16:54] jtfogarty commented on #1821
/area docs
/area pipelines
/priority p1

[2020-03-19 16:55] jtfogarty commented on #1819
/priority p1

[2020-03-19 19:39] jtfogarty commented on #1811
/area gcp
/area docs
/kind bug
/priority p1

[2020-03-19 19:40] jtfogarty commented on #1811
/platform gcp

[2020-03-19 19:42] jtfogarty commented on #1809
/area docs
/priority p1

[2020-03-19 19:43] jtfogarty commented on #1808
/area docs
/platform aws
/priority p1

[2020-03-19 21:24] janeman98 commented on #1683
@zhenghuiwang , @sarahmaddox

I have visited and fixed all the broken urls. The only open issue is [1687](https://github.com/kubeflow/website/issues/1687) . Can we close this issue?

[2020-03-19 21:30] jtfogarty commented on #1805
/kind question
/priority p1

[2020-03-19 21:32] jtfogarty commented on #1803
/area hugo
/priority p1

[2020-03-19 21:33] jtfogarty commented on #1800
/priority p1

[2020-03-19 21:52] sarahmaddox commented on #1683
Thanks @janeman98!
/close

[2020-03-19 21:52] #1683 closed

[2020-03-19 21:57] janeman98 commented on #1683
Thanks @sarahmaddox !

[2020-03-20 00:15] jinchihe commented on #1789
The `Dockerfile.model`  do exist here https://github.com/kubeflow/examples/tree/master/mnist

@shichengsg001 I think you are not run Jupyter Notebook in the `mnist` directory, in other directory? please check that.

By the way, if have more problem, i suggest log the issue under `kubeflow/examples`

[2020-03-20 00:42] sarahmaddox commented on #1574
The product requirements doc is ready for review: http://bit.ly/kubeflow-i18n

I've scheduled it for discussion in the Kubeflow community meeting on March 24, PT.

[2020-03-20 00:42] sarahmaddox commented on #1127
The product requirements doc is ready for review: http://bit.ly/kubeflow-i18n

I've scheduled it for discussion in the Kubeflow community meeting on March 24, PT.

[2020-03-20 00:43] sarahmaddox commented on #1128
The product requirements doc is ready for review: http://bit.ly/kubeflow-i18n

I've scheduled it for discussion in the Kubeflow community meeting on March 24, PT.

[2020-03-20 00:44] sarahmaddox commented on #18
The product requirements doc is ready for review: http://bit.ly/kubeflow-i18n

I've scheduled it for discussion in the Kubeflow community meeting on March 24, PT.

[2020-03-20 01:09] sarahmaddox commented on #1412
@meizabel How are you doing on this issue, and have you managed to make contact with people on Kubeflow Slack? If you have a partial update ready, it's fine to start a WIP PR in order to start gathering feedback. Let me know if you need any help.

[2020-03-20 08:48] shichengsg001 commented on #1789
Hi. @jinchihe

I have upload all content to /home/jovyan in the notebook container

Now the issue is how to set the context_source? I suppose the context_source is to pick up dockerfile and files which are needed to be built into the image. so I tried to set context_source='dir:///home/jovyan' for for ClusterBuilder to pickup the files from local. but it doesn't work

could you please explain how

[2020-03-20 10:04] wardVD opened #1825 "Build Components and Pipelines"
https://www.kubeflow.org/docs/pipelines/sdk/build-component/

Under "Create a container image for each component" we are linked to a Docker file for XGBoost that is located in a "deprecated" folder on Github.

[2020-03-20 13:22] wardVD opened #1826 "Create Reusable Components"
https://www.kubeflow.org/docs/pipelines/sdk/component-development/

program.py doesn't work, suggested change:

[code]

[2020-03-20 13:31] wardVD opened #1827 "Create Reusable Components"
https://www.kubeflow.org/docs/pipelines/sdk/component-development/

Error in `build_image.sh`

Change last line to ```docker inspect --format="{{index .RepoDigests 0}}" "${full_image_name}"```

[2020-03-20 14:56] #1614 closed

[2020-03-20 16:21] janeman98 commented on #1827
/assign

[2020-03-20 16:59] wardVD opened #1828 "Kubeflow Samples"
https://www.kubeflow.org/docs/examples/kubeflow-samples/

The MNIST example is way too complex. Either a lot more examples should be shown here (not scattered around everywhere on the Documentation page like it is now) or it should be simplified a lot.

[2020-03-20 18:40] #1827 closed

[2020-03-22 06:06] janeman98 commented on #1826
/assign

Original program.py will give the following error when number of line request is more than the actual number of line in the input file:

`Traceback (most recent call last):
  File "program.py", line 27, in <module>
    do_work(input1_file, output1_file, args.param1)
  File "program_old.py", line 8, in do_work
    line = next(input1_file)
StopIteration`

[2020-03-23 04:14] sarahmaddox commented on #1803
@Jeffwan Are you still getting this error? My Hugo server is working. I can't think why yours is trying to access the `kubeflow/examples` repo.

[2020-03-23 04:16] sarahmaddox commented on #1782
@krishnadurai Are you able to send a PR to update the docs for this issue?

[2020-03-23 04:17] sarahmaddox commented on #1775
@krishnadurai and @gtarcoder do you have any updates on this issue?

[2020-03-23 04:19] sarahmaddox commented on #1756
@vpavlin Please would you give your opinion on this request?

[2020-03-23 04:27] gtarcoder commented on #1775
https://github.com/kubeflow/kubeflow/issues/4832

[2020-03-23 04:28] gtarcoder commented on #1775
kubeflow/kubeflow#4832 here is the same issue, I close this issue now since it can be resolved, thanks.

[2020-03-23 04:29] gtarcoder commented on #1775
kubeflow/kubeflow#4832 here is the same issue, I close this issue now since it can be resolved, thanks.

[2020-03-23 04:29] #1775 closed

[2020-03-23 04:53] sarahmaddox commented on #1659
Collecting input in this doc: https://docs.google.com/document/d/1xyldaV2LTjIdjedsX5bJpTwyAen2NZgYrDrPBwwhPc8/edit#

Please comment on this issue or in the doc if you know of an integration that we should add.

[2020-03-23 05:00] imskr commented on #1588
@sarahmaddox Is anyone working on this?

[2020-03-23 05:03] sarahmaddox commented on #1588
@imskr I'll address this one myself when I next upgrade our version of Docsy. It's a bit of a complex process to upgrade and test the theme. Thanks for your interest though!

[2020-03-23 05:07] sarahmaddox commented on #1588
@imskr Are you looking for a meaty issue to get your teeth into? Issue # 1735 (**TensorFlow Serving** - specifically not linked from this issue as the two are not related) requires quite a bit of work, delving into samples to see if we have any that successfully use TFServing and then updating the page accordingly. I'd be happy with at least GCP or AWS working well.

[2020-03-23 05:09] imskr commented on #1735
@sarahmaddox I can get my hands dirty on this!

[2020-03-23 05:17] sarahmaddox commented on #1735
Excellent, thanks @imskr!
/assign @imskr

[2020-03-23 05:23] Jeffwan commented on #1803
@sarahmaddox I recently changed my laptop and don't have this issue now. It's weird to me and I was thinking there's some reference to `kuebflow/example` repo. Anyway, I will resolve this issue. If I happen to see this again, I will reopen it

[2020-03-23 05:23] #1803 closed

[2020-03-23 08:41] tall-josh opened #1833 "But what is a pipeline version?"
I've read the [sdk-overview](https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/) and [Using the SDK to create a pipeline and a pipeline version ](https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/) but I am still none-the-wiser regarding what pipeline version is. The name suggests its iterative changes on an existing pipeline. But what is a `pipeline version yaml` where do I le

[2020-03-23 09:50] krishnadurai commented on #1782
Hello @sarahmaddox,

Thanks for the reminder, I have now added the necessary changes the docs in #1834.

[2020-03-23 17:05] joeliedtke commented on #1819
/close

[2020-03-23 17:05] #1819 closed

[2020-03-23 18:59] #1782 closed

[2020-03-24 18:27] sarahmaddox commented on #1694
This is now done.
/close

[2020-03-24 18:27] #1694 closed

[2020-03-25 04:27] chongkong opened #1840 "Standalone deployment does not work"
Following from https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/

I cannot do [Deploying Kubeflow Pipelines](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines) part.

[code]

I think command should be changed.

[2020-03-25 19:02] daikeshi commented on #1123
Having API Reference docs available will be super helpful! We are considering using kfam API to add contributors to a given profile programmatically.

[2020-03-27 10:11] millstx opened #1847 "Storage Options in AWS docs"
https://www.kubeflow.org/docs/aws/storage/

Hi Im running 1.0.1 for aws and ks doesnt exist as a command and kfctl generate no longer exists and is replaced with build.

also the efs_csi driver of kf_app directory doesnt exist

i think this needs updating

how can i get efs working in kubeflow in 1.0.1, im running kfctl v1.0.1-0-gf3edb9b

thanks

Tony

[2020-03-27 18:13] sarahmaddox commented on #1223
Related: https://github.com/kubeflow/website/issues/1847

[2020-03-27 18:14] sarahmaddox commented on #1847
@millstx thanks for raising this issue.

@Jeffwan would you be able to take a look? This issue is also related to https://github.com/kubeflow/website/issues/1223

/assign @Jeffwan

[2020-03-27 21:07] Jeffwan commented on #1847
I ask my teammate to fix that. It needs some code change and it should be fixed by next week

[2020-03-29 01:07] janeman98 commented on #1751
See PR #1743.

[2020-03-29 01:15] sarahmaddox commented on #1751
We can close this one now!

On Sun, 29 Mar 2020, 12:07 Jane Man, <notifications@github.com> wrote:

[2020-03-29 01:53] #1751 closed

[2020-03-30 00:50] sarahmaddox commented on #959
@deadeyegoodwin Do you have bandwidth to update the [Triton Inference Server docs](https://www.kubeflow.org/docs/components/serving/tritoninferenceserver/) to include the info provided in the comments on this issue?

If you don't have bandwidth, I'll close this issue now, since the docs no longer reference ksonnet. (They just link to the NVIDIA docs without providing additional info.)

[2020-03-30 02:28] sarahmaddox opened #1849 "Doc design for Kubeflow on Anthos"
Design the information architecture and specify the topics required for documenting Kubeflow on Anthos, both on GKE and on-prem. Split out the doc tasks into separate issues.

[2020-03-30 02:37] sarahmaddox commented on #1574
I've circulated the doc and discussed at the Kubeflow community meeting.
Next step: Create separate issues for each task. Then I can close this issue and track the tasks individually.

[2020-03-30 03:45] sarahmaddox commented on #1283
/assign

Started work on this.

[2020-03-30 16:07] janeman98 commented on #1751
Thanks @sarahmaddox and @abhi-g !

[2020-03-30 20:36] mengdong commented on #959
@sarahmaddox  would you be more specific on what you request for Triton Inference Server docs? Thanks. Would the helm chart the sufficient to you or you would prefer a different example?

[2020-03-30 23:28] #1283 closed

[2020-03-30 23:43] gautamkmr commented on #1253
I think there is more in that doc which is sort of mis-placed.
For e.g.  section `Before you get started ` has sub section `setup your cluster`. I think in that sub section we can add reference to creation of cluster from `AWS`, `Azure` and `GCP` pages or just assume that user has cluster.

[2020-03-31 00:53] sarahmaddox commented on #1546
/assign

I'll start looking at this shortly. We should upgrade to the latest version of Docsy before we internationalize the website (issue https://github.com/kubeflow/website/issues/1127) because Docsy has updated its handling of multiple languages recently.

Related issue: https://github.com/kubeflow/website/issues/1588

[2020-03-31 03:57] sarahmaddox commented on #959
@mengdong I'd be happy for someone from NVIDIA to confirm that the [Triton Inference Server deployment using Helm](https://github.com/NVIDIA/triton-inference-server/tree/master/deploy/single_server) is the best one for integration with Kubeflow. If that's the case, then no further work needed. In that case, I'll close this issue.

Otherwise, if someone is able to develop and document a kustomize d

[2020-03-31 05:29] gautamkmr commented on #1253
This section is also very specific to `gcp`.

[code]
We can modify the instruction to be generic.

[2020-03-31 06:40] mengdong commented on #959
Okay, thanks for clarifying. I am from NVIDIA. We can document a basic kustomize deployment for Triton Inference server. I will keep you posted

[2020-03-31 18:22] sarahmaddox commented on #959
Thanks, that's excellent news.

[2020-04-01 04:36] sarahmaddox commented on #1438
/assign

[2020-04-01 04:37] sarahmaddox commented on #1438
Pages which need clarification of kustomize version number / installation process:
* https://www.kubeflow.org/docs/other-guides/kustomize
* https://www.kubeflow.org/docs/started/getting-started/
* https://www.kubeflow.org/docs/gke/customizing-gke/

[2020-04-01 21:22] #1438 closed

[2020-04-02 03:24] sarahmaddox commented on #1659
/assign

[2020-04-02 04:09] sarahmaddox opened #1856 "Section on virtual dev environments is misplaced"
The [section on virtual dev environments](https://www.kubeflow.org/docs/other-guides/virtual-dev/) is misplaced and incomplete. We've moved other docs around in the time since that section was created. The docs in that section belong better with the getting-started docs than in the "further configuration" section.

Eventually we plan to re-org the entire left-hand nav, but for now I think it's bes

[2020-04-02 04:09] sarahmaddox commented on #1856
/assign

[2020-04-02 07:42] DesmondH0 opened #1858 "Failed to delete app when following Delete using CLI Page"
When following `[Delete using CLI](https://www.kubeflow.org/docs/gke/deploy/delete-cli/)` page

It will have the following error when trying to remove app:
couldn't delete KfApp:  (kubeflow.error): Code 500 with message: kfApp Delete failed for kustomize:  (kubeflow.error): Code 400 with message: cannot find ClusterName within KfDef, this may cause error deletion to clusters.

I am now deleting th

[2020-04-03 01:37] #1659 closed

[2020-04-03 02:47] #1856 closed

[2020-04-03 12:14] JohanWork opened #1862 "Update Kubeflow Pipelines Standalone Deployment documentation to refrense to the latest version"
Today the document refrences to 0.2.5 but 0.3.0 is out .
https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/

Happy to make a contribute if you point me to the right direction!

[2020-04-03 15:52] kweinmeister opened #1863 "Add Kubeflow introductory video to website"
This feature request is to add the [Kubeflow 101 video](https://www.youtube.com/watch?v=cTZArDgbIWw) to the [About Kubeflow page](https://www.kubeflow.org/docs/about/kubeflow/).

[2020-04-03 16:04] janeman98 commented on #1862
@JohanWork

You can follow the instruction in https://github.com/kubeflow/website#creating-and-updating-the-kubeflow-docs

[2020-04-03 17:43] sarahmaddox commented on #1862
Thanks @JohanWork! The version number for Pipelines is held in this file:
https://github.com/kubeflow/website/blob/master/layouts/shortcodes/pipelines/latest-version.html

/cc @Bobgy
/cc @rmgogogo
/cc @joeliedtke

[2020-04-03 21:04] joeliedtke commented on #1833
/assign

In Kubeflow Pipelines 0.2.5 and higher, you can add a new version of a pipeline rather than creating a completely new pipeline record for each version. Here is an example that [uses the SDK to create a pipeline and then add a new version of that pipeline](https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/#creating-a-pipeline-and-a-pipeline-version-using-the-sdk).

[2020-04-03 21:13] joeliedtke commented on #1840
/cc @rmgogogo

@rmgogogo would know more than I do, but here are a couple quick questions that might help:

- What version of `kubectl` are you using? To get the version, run `kubectl version`.
- Have you tried running this script in bash? I'm not terribly familiar with zsh, and I don't think that zsh would affect this command, but after a search I did come across some similar cases where switchin

[2020-04-03 22:33] #1826 closed

[2020-04-04 17:31] Heena-PyCloud commented on #1863
I will work on this.
/assign

[2020-04-04 18:05] Heena-PyCloud commented on #1863
@sarahmaddox
Hi Sarah,
Should I place the video in last line of section **Getting started with Kubeflow** in this page
https://www.kubeflow.org/docs/about/kubeflow/
To be specific, below line 21 in kubeflow.md.

[2020-04-04 19:01] sarahmaddox commented on #1863
/assign @Heena-PyCloud

Thanks @Heena-PyCloud! Your suggested location looks great.

[2020-04-05 16:22] JohanWork commented on #1862
Thnx @sarahmaddox pushed a pr for it [here](https://github.com/kubeflow/website/pull/1866)

[2020-04-05 18:49] sarahmaddox commented on #1863
Fixed by PR https://github.com/kubeflow/website/pull/1865

/close

[2020-04-05 18:49] #1863 closed

[2020-04-06 15:33] abdulsalama opened #1872 "Profile doesn't work with Group ownership"
Does profiles currently work with Group ownership?

I have kubeflow auth setup with dex and okta saml connector. Things works perfectly for user owned profiles.

However, when I create profile with the owner as a Group. e.g.
apiVersion: kubeflow.org/v1beta1
kind: Profile
metadata:
name: group1-ns
spec:
owner:
kind: Group
name: group1

I'm not able to get this to work although I see groups attribut

[2020-04-06 17:45] lalithvaka opened #1873 "UPGRADE_SPEC is not defined"
Could define ${UPGRADE_SPEC} and what it should be

[2020-04-06 18:19] janeman98 opened #1874 "Triton example link is broken"
In https://www.kubeflow.org/docs/components/serving/kfserving/#examples
Triton -> https://github.com/kubeflow/kfserving/tree/master/docs/samples/triton ->404

Look like the change in website is introduced in [PR 1846](https://github.com/kubeflow/website/pull/1846/files)
![image](https://user-images.githubusercontent.com/52723717/78590760-2d5e3e80-77f7-11ea-97bd-627711d56459.png)

Unfortunately,
ht

[2020-04-06 18:22] janeman98 commented on #1874
Look like there is a [WIP PR ](https://github.com/kubeflow/kfserving/pull/747) in KFServing repo to address this.

/close

[2020-04-06 18:22] #1874 closed

[2020-04-06 21:08] abdulsalama commented on #1872
Moved to kubeflow

[2020-04-06 21:08] #1872 closed

[2020-04-07 01:41] jtfogarty commented on #1567
/priority p2

[2020-04-07 01:43] jtfogarty commented on #1840
/priority p1

[2020-04-07 01:44] jtfogarty commented on #1825
/priority p2

[2020-04-07 01:46] jtfogarty commented on #1788
/priority p2

[2020-04-07 01:47] jtfogarty commented on #1758
/priority p2

[2020-04-07 01:49] jtfogarty commented on #1687
/priority p2

[2020-04-07 01:50] jtfogarty commented on #1653
/priority p2

[2020-04-07 01:52] jtfogarty commented on #1626
/priority p2

[2020-04-07 01:54] jtfogarty commented on #1625
/priority p2
/kind feature

[2020-04-07 01:56] jtfogarty commented on #1598
priority p2

[2020-04-07 01:57] jtfogarty commented on #1623
/priority p2

[2020-04-07 01:58] jtfogarty commented on #1616
/priority p2

[2020-04-07 02:00] jtfogarty commented on #1611
/priority p2

[2020-04-07 05:37] navo1194 opened #1878 "Kubeflow resource requirement"
It would be really helpful if resource(cpu, memory) requirement is also given for kubeflow.

[2020-04-07 12:11] gtarcoder commented on #1805
![image](https://user-images.githubusercontent.com/11898942/78666191-91712780-7909-11ea-8ae3-28d29d04f843.png)
Hello, does it mean that the kubeflow pipeline zip package can not contain my customize files? @jtfogarty

[2020-04-07 22:56] aaronsssya opened #1880 "Create a Custom Jupyter Image"
from: https://www.kubeflow.org/docs/notebooks/custom-notebook/

May I have dockerfile sample?
Thanks

[2020-04-08 00:23] #1880 closed

[2020-04-08 02:55] sakaia opened #1881 "[MicroK8s] On "Access Kubeflow" access URL is still correct?"
On "Access Kubeflow"
Following document is still correct or it is specific to some version?

[https://github.com/kubeflow/website/blob/8d1235ef6c312105f2fb0a999e29c4756c3e089f/content/docs/started/workstation/getting-started-multipass.md](https://github.com/kubeflow/website/blob/8d1235ef6c312105f2fb0a999e29c4756c3e089f/content/docs/started/workstation/getting-started-multipass.md)

[2020-04-08 04:08] sakaia commented on #1881
It is also helpful to write AWS case. (not local server)

[2020-04-08 09:57] anifort opened #1882 "Securing Your Clusters - kfctl apply fails due to Seldom Component"
https://www.kubeflow.org/docs/gke/private-clusters/

Following the instructions to setup a private cluster on Google Cloud GKE, I reached the point of kfctl apply were i get the following error:

failed to apply:  (kubeflow.error): Code 500 with message: kfApp Apply failed for kustomize:  (kubeflow.error): Code 500 with message: Apply.Run  Error [unable to recognize "/tmp/kout242652420": no matche

[2020-04-08 11:44] anifort opened #1884 "Securing Your Clusters - iap-ingress privateGKECluster parameter config"
https://www.kubeflow.org/docs/gke/private-clusters/

The following instructions are wrong as the structure is not different. There is no iap-ingress.yaml and also I cannot find the privateGKECluster parameter in iap-ingress/kustomization.yaml (on any yaml within the iap-ingress directory)

[2020-04-08 11:57] NicoG94 opened #1885 "Deploy using UI"
https://deploy.kubeflow.cloud/ does not let me check into my Google Account using Firefox 74.0.1 (64-Bit)
with Chrome it works

[2020-04-08 14:34] jlewi commented on #1884
Duplicate of #1881

[2020-04-08 14:34] #1884 closed

[2020-04-08 14:35] jlewi commented on #1811
The steps to modify the IAP ingress and the certificate should no longer be needed because we are using GKE managed certificates.

[2020-04-08 22:55] #1811 closed

[2020-04-09 17:03] janeman98 commented on #1878
Will this help?
https://www.kubeflow.org/docs/started/k8s/overview/#minimum-system-requirements

[2020-04-09 17:29] elviraux opened #1888 "Update Auth information on the website"
Add https://github.com/kubeflow/manifests/tree/master/dex-auth docs
and more detailed information around profiles and groups

https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#batch-creation-of-user-profiles here we need to show that multiple users can be added to a single profile

[2020-04-09 19:07] lalithvaka commented on #1888
Here are some of the detailed topics that needs additional documentation
- Enabling Low level kubectl access for AuthN/AuthZ ,
        - is it enabled by default along with profile creation?
        - how can this be enabled for each user? Examples?
        - Is it enabled in 1.0.0 or 1.0.1?
- Profile capacity limit possibilities and examples
        - add examples
        - link to the spec
- Aut

[2020-04-10 00:58] kbhawkey commented on #1623
Hi! I _think_ most or all of the points noted by @joeliedtke are completed?

[2020-04-10 02:27] jtfogarty commented on #1885
/area gcp
/priority p2

[2020-04-10 02:40] navo1194 commented on #1878
Hi,

The link which you have sent is the minimum resource requirement for
kubernetes, I need resource requirement for kubeflow.
Please help me with this.

Regards,
Navodita Jaiswal

On Thu, Apr 9, 2020, 10:33 PM Jane Man <notifications@github.com> wrote:

[2020-04-10 03:05] jtfogarty commented on #1878
/area docs
/priority p2

[2020-04-10 04:35] navo1194 commented on #1878
Could you please clarify this address path for me?

On Fri, Apr 10, 2020, 8:36 AM Jeff Fogarty <notifications@github.com> wrote:

[2020-04-10 19:19] jtfogarty commented on #1888
If a user logs into Kubeflow via DEX/AD where this user has;

- never logged in before
- is not a contributor on any namespace

The system prompts the user to create a namespace.

If the user has been assigned as a contributor to a namespace, the system also prompt them to create a namespace the first time they log in.

[2020-04-10 19:32] renat-abbyazov commented on #1611
Had no experience with segfault error but got 'No Major.Minor.Patch elements found', fixed by adding --api-spec=version:v1.15.0 to all ks commands
[code]
after that had webserving app deployed successfully.

[2020-04-10 19:51] jtfogarty commented on #1888
@lalithvaka can you define what 'Low level kubectl access' means

[2020-04-10 21:44] Jeffwan commented on #836
@PatrickXYS Can you help on this issue?

[2020-04-10 22:06] PatrickXYS commented on #836
Sure,  I'll take it after v1.0.2 released.

/assign

[2020-04-10 22:09] lalithvaka commented on #1888
@jtfogarty Jeff, was referring to the concepts laid out in  https://docs.google.com/presentation/d/1j5tBrCkLNG-QxTl44iv-x5KpCapnczpxCbUzSciA2l8/edit#slide=id.g70b2208acc_1_807 slide 19 through 25

[2020-04-10 22:16] lalithvaka commented on #1888
@krishnadurai , based on this verification by @jtfogarty every user is getting a new profile created on a successful authN even if the user is not an admin and already assigned as a contributor to another namespace created by the admin. Should this be treated as a defect and shall I create an issue? or is this the expected behavior? Can this be disabled for the short term and where is this logic?

[2020-04-12 04:18] sarahmaddox opened #1891 "Tracking issue: Rendering oddities cause by change to Goldmark renderer"
We're upgrading to the latest version of the Docsy theme and to Hugo 0.68.3. From Hugo 0.60 onwards, the default Markdown renderer is Goldmark rather than the current default BlackFriday (see [Hugo docs](https://gohugo.io/getting-started/configuration-markup#goldmark)). We can choose to force the use of BlackFriday rather than Goldmark if necessary, but we're told that Goldmark gives a better over

[2020-04-12 04:18] sarahmaddox commented on #1891
/assign

[2020-04-12 04:18] sarahmaddox commented on #1891
/cc @joeliedtke and @abhi-g

[2020-04-12 23:59] lalithvaka commented on #1888
Whats the difference between Kubernetes quota vs resource quota spec on Kubeflow? Are all objects https://kubernetes.io/docs/concepts/policy/resource-quotas/#viewing-and-setting-quotas listed here (compute-resources / object-counts) is supported in Kubeflow profiles (assuming these are namespaces)? or just the ones listed in the example below?

https://github.com/kubeflow/kubeflow/blob/master/comp

[2020-04-13 07:32] hassanzia32 commented on #1717
I resolved this by upgrading microk8s to version [1.18](https://microk8s.io/docs/release-notes) since this the earliest version that support the kubeflow add-on.

[2020-04-13 18:32] janeman98 commented on #1891
Numbered list is broken here : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/central-dash/overview/#using-kubectl-and-port-forwarding

[2020-04-13 18:37] janeman98 commented on #1891
Link for "feedback" display source in [Beta section](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/metadata/)
![image](https://user-images.githubusercontent.com/52723717/79148875-1aa9b380-7d7b-11ea-9b6b-04eefa863ea8.png)

[2020-04-13 20:03] sarahmaddox commented on #1717
Microk8s release notes: https://microk8s.io/docs/release-notes

Thanks @darkopevec. We should update the [Kubeflow doc](https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/) to specify a minimum version of Microk8s.

[2020-04-13 20:42] janeman98 commented on #1891
Same for [Alpha section](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/training/chainer/):

![image](https://user-images.githubusercontent.com/52723717/79159182-79c3f400-7d8c-11ea-9541-f377a76991ac.png)

[2020-04-13 20:50] janeman98 commented on #1891
Content outside the code block [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/training/tftraining/#troubleshooting):
![image](https://user-images.githubusercontent.com/52723717/79159795-914fac80-7d8d-11ea-9a24-5b97d90976c7.png)

[Current/correct version](https://www.kubeflow.org/docs/components/training/tftraining/#troubleshooting):
![image](https://user-

[2020-04-13 20:54] janeman98 commented on #1891
Numbered list are broken here : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/hyperparameter-tuning/hyperparameter/#tensorflow-example

[2020-04-13 21:03] janeman98 commented on #1891
Table is not displayed properly [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/serving/overview/#multi-framework-serving-with-kfserving-or-seldon-core):
![image](https://user-images.githubusercontent.com/52723717/79160930-7bdb8200-7d8f-11ea-8048-d9dd2f752478.png)

[2020-04-13 21:06] janeman98 commented on #1891
Numbered list is broken here: https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/components/serving/kfserving/#use

[2020-04-13 21:36] janeman98 commented on #1891
Numbered list is broken after # 7 : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/notebooks/setup/#create-a-jupyter-notebook-server-and-add-a-notebook

[2020-04-13 21:39] janeman98 commented on #1891
Numbered list is broken here : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/pipelines-quickstart/#deploy-kubeflow-and-open-the-pipelines-ui

[2020-04-13 22:28] janeman98 commented on #1891
Italic text is not displayed properly [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/overview/concepts/run/)
![image](https://user-images.githubusercontent.com/52723717/79166903-01186400-7d9b-11ea-8611-40fffad60e54.png)

From the source, look like this happen after adding an id?
`<a id=recurring-run>
A *recurring run* , or job in the Kubeflow Pipelines [ba

[2020-04-13 22:32] janeman98 commented on #1891
Numbered list is broken here : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/sdk/install-sdk/#set-up-python

[2020-04-13 22:35] janeman98 commented on #1891
Subtitle does not displayed properly [here:](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/sdk/best-practices/)
![image](https://user-images.githubusercontent.com/52723717/79167507-6587f300-7d9c-11ea-82d3-8cf28c643147.png)

[2020-04-13 22:42] janeman98 commented on #1891
Text in **source** row is not display properly [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/sdk/output-viewer/):
![image](https://user-images.githubusercontent.com/52723717/79167852-4b024980-7d9d-11ea-833c-5dacf934b085.png)

[2020-04-13 22:47] janeman98 commented on #1891
Numbered list is broken after bullet 4 [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/pipelines/upgrade/#reinstalling-kubeflow-pipelines).

[2020-04-13 23:18] janeman98 commented on #1891
Numbered list after bullet 2 is broken [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/gke/customizing-gke/#customizing-kubernetes-resources).

[2020-04-13 23:23] janeman98 commented on #1891
Additional ``` [here](https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/gke/customizing-gke/#customizing-kubernetes-resources)

![image](https://user-images.githubusercontent.com/52723717/79170059-12fe0500-7da3-11ea-9aef-b55fce2597e8.png)

[2020-04-13 23:39] janeman98 commented on #1891
Numbered list is broken after bullet 2  here : https://deploy-preview-1870--competent-brattain-de2d6d.netlify.com/docs/upgrading/upgrade/#upgrades-from-earlier-versions-of-kubeflow

[2020-04-13 23:44] janeman98 commented on #1891
@sarahmaddox
Above is a long list, feel free to let me know if there is anything I can help with.

[2020-04-14 06:27] sarahmaddox commented on #1891
Thanks for this excellent investigative work @janeman98

I've now fixed some of the worst problems as part of PR https://github.com/kubeflow/website/pull/1870:

* Fixed list formatting in kfctl/kustomize guide, just to prove that it's possible to fix this type of list rendering issue.
* Fixed layouts for alpha and beta banners.
* Fixed table in the serving overview page.
* Fixed italics and links

[2020-04-14 06:27] sarahmaddox commented on #1891
/assign @janeman98

Assigning @janeman98 for further help with this issue.

[2020-04-14 15:59] janeman98 commented on #1891
@sarahmaddox
Sure, I will start fixing the rest after PR 1870 is merged.

[2020-04-14 18:00] rzgry commented on #1717
I can make a PR for this

[2020-04-14 18:43] sarahmaddox commented on #1717
Thanks @rzgry
/assign @rzgry

[2020-04-14 20:58] #1717 closed

[2020-04-14 22:12] #1546 closed

[2020-04-14 22:12] #1588 closed

[2020-04-15 20:21] tholop opened #1900 "Component Specification: How to produce output by value with a reusable component?"
The documentation page about [Component Specification](https://www.kubeflow.org/docs/pipelines/reference/component-spec/) shows in particular how to:
- consume inputs by value
- consume inputs by file
- produce outputs by file

This page does not explain how to produce outputs by value (i.e. `outputValue` placeholder) when creating a reusable component from a Yaml specification. The [data passing

[2020-04-16 01:13] sarahmaddox commented on #1900
@Ark-kun Do you have any examples handy? :)
/cc @joeliedtke

[2020-04-16 02:06] #1891 closed

[2020-04-16 03:10] Ark-kun commented on #1900
Thank you for your interest in reusable components and the lighweight components feature.

`outputValue` does not exist in the ComponentSpec schema or in any other place in the SDK.

The standard interface of a command-line program does not really provide a way to do that in a universal way. The only data that the program kind of outputs is the contents of `STDOUT`and `STDERR`, but usually this is

[2020-04-16 03:24] Ark-kun commented on #1534
`ContainerOp` objects support `.node_selector` and `.affinity`. I think you can use those for scheduling each task to the correct node.

[2020-04-17 04:46] sarahmaddox commented on #1849
Internal design doc created. I'm stopping work on this for now, to focus on other priorities.
/unassign

[2020-04-17 11:19] #1223 closed

[2020-04-17 14:04] yanniszark opened #1903 "Istio in Kubeflow diagram is not accurate"
/bug

Hi all.
I was at this page in docs (https://www.kubeflow.org/docs/other-guides/istio-in-kubeflow/) and bumped into this diagram:

![Istio in Kubeflow](https://www.kubeflow.org/docs/images/Istio-in-KF.svg)

It is a very nice diagram, but the last parts of it (4 and 5) aren't exactly accurate.

What really happens is:
3. The request is validated and an identity header is attached to the http r

[2020-04-17 14:24] tholop commented on #1900
Thank you for the detailed answer, it makes more sense now.

I'll just use `outputPath`. I was a bit confused by the UI, which makes a clear distinction between `Output parameters` and `Output artifacts`.

Thanks again.

![Screenshot](https://user-images.githubusercontent.com/32133147/79578351-1be92200-8094-11ea-822e-5410322bc103.png)

[2020-04-17 16:10] Jeffwan commented on #1847
Please check details here. https://www.kubeflow.org/docs/aws/storage/

Feel free to reopen if above guidance can not solve your problem

[2020-04-17 16:10] #1847 closed

[2020-04-17 16:46] jtfogarty commented on #1903
/area docs
priority p1

[2020-04-17 17:06] abhi-g commented on #1903
@jtfogarty the underlying diagram is available in Kubeflow team drive > Doc Diagrams > Istio in KF. Please feel free to update.

Also consider how much of detail to abstract out to make it easier to understand vs. adhering to explicit details for correctness.

[2020-04-17 19:14] yanniszark commented on #1903
@abhi-g thanks! :smile:
Also a PR for this could include the consequences of not using Istio:
https://github.com/kubeflow/kubeflow/issues/4935#issuecomment-615256808

[2020-04-17 20:38] jtfogarty commented on #1900
/kind feature
/area docs
/priority p2

[2020-04-17 21:08] jtfogarty commented on #1593
\priority p2

[2020-04-17 21:11] jtfogarty commented on #1643
/priority p2

[2020-04-17 21:26] jtfogarty commented on #1669
/area docs
/priority p2

[2020-04-17 21:28] jtfogarty commented on #1670
/area docs
/priority p2

[2020-04-17 22:10] jtfogarty commented on #1735
/area docs
/priority p2

[2020-04-17 22:58] Jeffwan opened #1906 "Update docs to use v1.0.2"
v1.0.2 has been release. We need to update to latest version.

https://github.com/kubeflow/kubeflow/issues/4929#issuecomment-615497468

[2020-04-19 19:02] sarahmaddox commented on #1906
/assign

[2020-04-19 19:10] sarahmaddox commented on #1906
I'll take this one on.

[2020-04-19 23:23] sarahmaddox commented on #1127
/unassign

[2020-04-20 00:04] jlewi commented on #1123
Please see discussion
https://groups.google.com/forum/m/#!topic/kubeflow-discuss/whS_j4RlEJo

kfam is probably not the right thing to use.

[2020-04-20 00:05] jlewi commented on #1113
Has this been fixed can we close it?

[2020-04-20 00:07] jlewi commented on #1019
Ambassador is no longer used. We now use ISTIO.
Closing this as obsolete.

[2020-04-20 00:07] #1019 closed

[2020-04-20 01:06] sarahmaddox commented on #1113
I think the Microk8s/Multipass doc still needs some work. For example, it still refers to Ambassador:
https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/

[2020-04-20 02:35] sakaia opened #1911 "[PyTorchJob] Example document should be modified"
I am trying to execute kubeflow 1.0.1 with microk8s 1.15. following errors are appeared.

1. label name should be fixed.
Following command is working. but document is written as `pytorch_job_name`.

[code]

2. Following file does not exist `pytorch_job_mnist.yaml`
Of course, it refers distributed example. But it is inconsistent with example.
Hopefully the file `pytorch_job_mnist.yaml` is supplied

[2020-04-20 03:21] sarahmaddox commented on #1900
Thanks @Ark-kun and @tholop! I'm going to close this issue as answered. If there's still doc work to do, please do re-open the issue and/or send a PR. :)

/close

[2020-04-20 03:21] #1900 closed

[2020-04-20 03:25] sarahmaddox commented on #1551
I'm closing this issue as obsolete, because the existing_arrikto config has now migrated to kfctl_istio_dex. Please do re-open this issue if there's still doc work to be done.
/close

[2020-04-20 03:25] #1551 closed

[2020-04-20 03:27] sarahmaddox commented on #1888
Related:
https://github.com/kubeflow/website/issues/1066
https://github.com/kubeflow/website/issues/1280

[2020-04-20 03:29] sarahmaddox commented on #1885
Thanks for raising this issue @NicoG94. I'd recommend that you raise it in the https://github.com/kubeflow/kubeflow repo, as it's not something we can fix in the docs.

[2020-04-20 03:32] sarahmaddox commented on #1881
Thanks for reporting this @sakaia! I'm closing this issue as a duplicate of https://github.com/kubeflow/website/issues/1113
/close

[2020-04-20 03:32] #1881 closed

[2020-04-20 03:35] sarahmaddox commented on #1873
This is the page to update:
https://www.kubeflow.org/docs/upgrading/upgrade/

/assign

[2020-04-20 04:23] #1906 closed

[2020-04-20 04:28] sarahmaddox commented on #1574
We now have a comprehensive requirements doc: http://bit.ly/kubeflow-i18n
I'm therefore closing this issue. We'll track the individual tasks by creating separate issues.
/close

[2020-04-20 04:28] #1574 closed

[2020-04-20 04:29] sarahmaddox commented on #1508
/unassign

[2020-04-20 04:32] sarahmaddox commented on #1094
I'm closing this issue, as it's not one we'll tackle in the website docs.
/close

[2020-04-20 04:32] #1094 closed

[2020-04-20 04:33] sarahmaddox commented on #994
I'm closing this issue. We now have auto-generated API docs for some of the apps, and we've made the inclusion of reference docs a prerequisite for moving to v1.0 of the app.
/close

[2020-04-20 04:33] #994 closed

[2020-04-20 08:18] discordianfish commented on #746
This relevant

[2020-04-20 16:19] jtfogarty commented on #738
/area docs
/priority p2

[2020-04-20 16:21] jtfogarty commented on #592
/area docs
/kind feature

[2020-04-20 21:51] amygdala commented on #1439
Should this remain open?...

[2020-04-21 00:16] #1873 closed

[2020-04-21 03:24] #1127 closed

[2020-04-21 03:33] sarahmaddox commented on #1128
/unassign

[2020-04-21 03:33] sarahmaddox commented on #18
/unassign

[2020-04-21 12:55] JohanWork opened #1915 "[KFP] kubeflow stand alone deployment with vpc"
Would it be of interest to add instruction on how to set up a stand alone deployment with a vpc cluster? Let me know and if yes I can added had a hard time getting it right my self the first time. I guess it would be in this instruction file [here](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/)

[2020-04-21 15:11] Can-Sahin commented on #1435
**Not working for me either!**

I followed the docs and I couldn't get the ALB authentication working with Cognito. It constantly says 401 when cognito calls the callback with `https://xxxxx.eu-west-1.elb.amazonaws.com/oauth2/idpresponse?code=xxxxxx` which should work according to the docs.

I am also using an unrelated pre-existing `certArn` and docs says it will warn(in the browser) but still wo

[2020-04-21 18:49] sarahmaddox commented on #1915
/cc @joeliedtke

[2020-04-21 20:21] arshashi opened #1917 "Step in Installing kustomize throws an error"
Following the link https://www.kubeflow.org/docs/other-guides/kustomize/ to install kustomize.

when I tried to run the mv command mentioned below, throws an error.  It looks like tar ball is not extracting with the name of the file. Instead i noticed that it extracts as the file "kustomize" under the current directory.

Error:
$ mv kustomize_*_${opsys}_amd64 ${HOME}/bin/kustomize
mv: cannot stat

[2020-04-22 07:07] abhiverma1924 opened #1918 "Facing Issue while running mnist_gcp.ipynb"
While following the step given in the mnist tutorial I was trying to run mnist_gcp.ipynb some error occurred while running first few blocks.
Command '['pip3', 'install', '--user', '-r', 'requirements.txt']' returned non-zero exit status 1.
I am unable to find the a way to solve this can anyone take a look at it.

[2020-04-22 16:40] janeman98 commented on #1917
Thanks @arshashi . Very good catch!

/assign

[2020-04-22 17:15] lalithvaka commented on #1888
@sarahmaddox  would be great to have the following addressed in the manual profile creation https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#batch-creation-of-user-profiles

Profile capacity limit possibilities and examples
add examples
link to the supported capacity limit spec

I see a small example here - https://github.com/kubeflow/kubeflow/blob/master/components/profile-

[2020-04-22 22:04] Jeffwan commented on #1435
@Can-Sahin unrelated `certArn` should be fine to get ALB work, but the certificate is invalid. browser will definitely complain about it.

It would be better to show your configurations and we can help debug.

[2020-04-23 00:11] daikeshi commented on #1123
thanks @jlewi! Yeah, we didn't go that route. We are now working on a controller to config contributors for profiles.

[2020-04-23 04:21] #1917 closed

[2020-04-23 06:30] Can-Sahin commented on #1435
This is my config yaml

[code]

And after that I create `profile.yaml` too

[code]

The problem I see is even though ALB has a rule to authenticate with Cognito when I browse the ALB address it just keeps loading forever. Shouldn't it forward to cognito ?

I use callback url to my signin page as described: `https://DNS_NAME/oauth2/idresponse`

and after the signin it calls with `https://DNS_NAME/o

[2020-04-23 06:32] Can-Sahin commented on #1435
There are some other bugs I saw while debugging this.

1) `kfctl delete` does not delete ALB and target groups. So deleting cluster also fails since these are using the VPC

2) Changing `certArn` and `kfctl build` then `kfctl deploy` doesnot change the `certArn` in ALB. It still logs the old `certArn`. I had to uninstall kubeflow and re-install again.

[2020-04-23 14:14] JakeTheWise opened #1922 "deploy.kubeflow.cloud not working"
Upon navigating to this url, a modal appears with this text:
"Config loading Error
Failed to load user config from a18d7b07/bootstrap/config/kfctl_gcp_iap.0.6.2.yaml"
and the "Create Deployment" is greyed out and remains greyed out even if the form is filled out properly.

[2020-04-23 15:00] #1922 closed

[2020-04-23 21:10] terrytangyuan opened #1924 "The current tool for API docs generation is unusable"
The current tool we use, [gen-crd-api-reference-docs](https://github.com/ahmetb/gen-crd-api-reference-docs), is unusable right now for updating existing API reference docs or generating new API reference for new controllers. We need to fix the existing issues or create an alternative solution. A couple of existing issues are outlined below:
* The obscure error message `type invalid type has kind=U

[2020-04-23 21:14] sarahmaddox commented on #866
We should keep this issue open, as we're currently working on graduating XGBoost to v1.0. See https://github.com/kubeflow/xgboost-operator/issues/44

[2020-04-24 17:38] Jeffwan commented on #1435
@Can-Sahin Please check kubeflow website. The configuration details are there.

kfctl does have the logic to delete `istio-ingress` first, ALB ingress controller will delete ALB.  What's the deletion logs?

can you try `kfctl apply` ?

[2020-04-24 17:49] Can-Sahin commented on #1435
I meant `kfctl apply`(not `kfctl deploy`). It doesn't update the `certArn`. I also manually remove the pod with `kubectl delete xxx` and check the logs afterward and it still spawns with old the `certArn`.

I saw the ALB deletion logic in kubeflow but after the logs says `Waiting xx seconds for ALB to delete`(something similar) it continues to remove the other parts but ALB still survives. There a

[2020-04-25 05:31] theofpa commented on #1435
@Can-Sahin the callback url you are using has a typo, instead of `/oauth/idresponse` it should be `/oauth/idpresponse`.

[2020-04-25 06:24] Can-Sahin commented on #1435
Woow can't be serious 😟

Both [this](https://www.kubeflow.org/docs/aws/aws-e2e/) and [this](https://www.kubeflow.org/docs/aws/authentication/) says `oauth2` in the url. If its really the url mistake then docs needs to be updated.

I will try monday since I deleted my cluster and don't wanna spend my weekend on it.

[2020-04-25 06:44] theofpa commented on #1435
I wanted to focus on the `idpresponse` typo

[2020-04-25 06:47] Can-Sahin commented on #1435
I made a typo here sorry. Just realized. It is `idpresponse` in my cognito anyway. I was checking those 10 times while debugging. Sorry for that.

[2020-04-26 19:26] sarahmaddox commented on #1849
Design doc for the Kubeflow on Anthos docs (internal draft, visible to Googlers only): https://docs.google.com/document/d/1UP5l3fOE-63c28OEcWuuUGGCJXVyQU4K3Dl4qcckyzw/edit#

[2020-04-26 23:39] Jeffwan commented on #1435
I think @theofpa contributed e2e docs and I also make some improvements there. It has all screenshot and require info to launch a secure cluster. I will close this issue. Feel free to reopen if it's still a problem

[2020-04-26 23:39] #1435 closed

[2020-04-27 01:29] sarahmaddox commented on #1918
@abhiverma1924 Can you give more details of the issue you encountered? Are you running this version of [mnist_gcp.ipynb](https://github.com/kubeflow/examples/blob/master/mnist/mnist_gcp.ipynb)?

[2020-04-27 01:31] sarahmaddox commented on #115
/close

[2020-04-27 01:31] #115 closed

[2020-04-27 07:11] #1217 closed

[2020-04-27 07:11] #1442 closed

[2020-04-27 07:11] #1486 closed

[2020-04-27 07:11] #1426 closed

[2020-04-27 07:11] #1423 closed

[2020-04-27 07:11] #1208 closed

[2020-04-27 07:11] #1200 closed

[2020-04-27 07:11] #877 closed

[2020-04-27 07:11] #1048 closed

[2020-04-27 07:11] #997 closed

[2020-04-27 07:11] #996 closed

[2020-04-27 07:11] #974 closed

[2020-04-27 07:11] #964 closed

[2020-04-27 07:11] #894 closed

[2020-04-27 07:11] #824 closed

[2020-04-27 07:11] #822 closed

[2020-04-27 07:11] #876 closed

[2020-04-27 07:11] #819 closed

[2020-04-27 07:11] #318 closed

[2020-04-27 07:11] #1505 closed

[2020-04-27 07:11] #950 closed

[2020-04-27 07:11] #834 closed

[2020-04-27 07:11] #817 closed

[2020-04-27 07:11] #812 closed

[2020-04-27 07:12] #1536 closed

[2020-04-27 10:56] #108 closed

[2020-04-27 10:56] #341 closed

[2020-04-27 10:56] #515 closed

[2020-04-27 10:56] #557 closed

[2020-04-27 10:56] #596 closed

[2020-04-27 10:56] #707 closed

[2020-04-27 10:56] #753 closed

[2020-04-27 10:56] #755 closed

[2020-04-27 10:56] #1068 closed

[2020-04-27 10:56] #750 closed

[2020-04-27 10:56] #1450 closed

[2020-04-27 10:56] #1451 closed

[2020-04-27 10:56] #1453 closed

[2020-04-27 10:56] #1428 closed

[2020-04-27 10:57] #1444 closed

[2020-04-27 10:57] #1257 closed

[2020-04-27 10:57] #1249 closed

[2020-04-27 18:19] #1543 closed

[2020-04-28 18:57] btphan95 commented on #1918
I'm having the same error while running the notebook following this Google Colab:
https://codelabs.developers.google.com/codelabs/kubeflow-introduction

The command notebook_setup.notebook_setup() gives this error:
[code]

[2020-04-29 15:39] Jeffwan opened #1929 "Guidance on compute resources kubeflow need for AWS users"
https://github.com/kubeflow/kubeflow/issues/4972#issuecomment-620941016

It's better for us to mention what kind of instance type and how many instances are needed to run kubeflow on AWS.

User won't meet resource problems.

[2020-04-30 06:38] abhiverma1924 commented on #1918
@btphan95 @sarahmaddox yes, I am talking about the same issue.

[2020-04-30 06:50] abhiverma1924 commented on #1918
Yes, I am taking about the same file.

[2020-05-01 02:08] #73 closed

[2020-05-01 03:57] sarahmaddox commented on #1738
/unassign

[2020-05-03 19:29] arshyasharifian commented on #489
I am noticing that the GKE group instances are not being deleted. And I am getting an error trying to delete these instances.  I am going to try and use the google cloud cli to delete groups. Seems to be an ongoing issue when [I googled it.](https://stackoverflow.com/questions/48975408/how-to-delete-an-instance-group-from-google-cloud-compute-for-all-zones)
![Screen Shot 2020-05-03 at 12 26 25 PM]

[2020-05-03 19:43] arshyasharifian commented on #489
To delete the group instances, you have to delete the underlying backend services that these groups are still using. To do so, go to gcp console > network services > load balancing and delete those backend services. Then you can go back and delete the group instances.

[2020-05-05 09:20] radhakrishnang opened #1940 "End-to-end Kubeflow on AWS"
https://www.kubeflow.org/docs/aws/aws-e2e/
In general those who work as data scientist, need not be a expert in docker, AWS, kubernets,
the kubeflow setup on AWS is bit vauge and not clear, please create a documentation for Kubeflow on AWS with the simple use case and scheduling of the pipeline

[2020-05-05 21:32] aoliu95 opened #1941 "Pipelines API Reference Documentation Typo"
https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

Issue with GET /apis/v1beta1/runs Requested Parameter Description

Example should be

Instead of

[2020-05-06 01:24] #1548 closed

[2020-05-06 16:50] janeman98 commented on #1941
/assign @joeliedtke
Please unassign if you don't have bandwidth to work on this.

[2020-05-07 17:36] joeliedtke commented on #1862
/close

This doc is now referencing 0.5.1.

[2020-05-07 17:36] #1862 closed

[2020-05-08 21:28] jtfogarty commented on #1941
/priority p2

[2020-05-09 16:07] marwan116 opened #1945 "Katib - no mention of how metrics are collected from a container"
How does Katib collect metrics from a container? This part is missing from the docs.

[2020-05-11 03:14] azadehatfxtl opened #1946 "Install kfctl on private GKE"
issue #

[2020-05-11 03:17] snowlover173 opened #1947 "Install kubeflow on private GKE"
As the documentation is not ready yet, I put information here for anyone who might be looking for it.
If you try to install kubeflow with cli:

1-follow the link below except the line kfctl apply:
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
instead of kfctl apply please run :
kfctl build -V -f ${CONFIG_URI}

a)       Kfctl build -V -f ${CONFIG_URI}
b)       After running build, inside the

[2020-05-11 03:20] azadehatfxtl commented on #1946
deleting the issue as there was one already created.

[2020-05-11 03:20] #1946 closed

[2020-05-11 16:41] ptitzler opened #1948 "Install Kubeflow on IBM Cloud instructions - "ibmcloud cs cluster config" fails"
In https://www.kubeflow.org/docs/ibm/install-kubeflow/ step 4:

[code]

results in

[code]

My IBM Cloud CLI setup:

[code]

To make this work I had to run

[code]

Please note that there have been changes to the plugin that render the following instruction invalid too

[code]

[2020-05-11 16:41] ptitzler commented on #1948
@Tomcli @janeman98 fyi

[2020-05-11 16:59] YPCC opened #1949 "Tutorial: End-to-end Kubeflow on GCP"
https://www.kubeflow.org/docs/gke/gcp-e2e/
The example doesn't work. Missing variables. Please update

[2020-05-11 19:52] janeman98 commented on #1948
Thanks @ptitzler.
In the past, I normally used GUI to create my kubernetes cluster in IBM cloud. Now, I have lost my environment to test/verify this.
Would you mind submitting a PR to fix this?

[2020-05-11 20:35] ptitzler commented on #1948
Certainly, will do!

[2020-05-11 21:04] Tomcli commented on #1948
I checked the [IBM Cloud docs](https://cloud.ibm.com/docs/containers?topic=containers-cs_cluster_tutorial) and looks like the new version of the IBM Cloud is using `ibmcloud ks cluster config --cluster CLUSTER`. @ptitzler would you mind also change the `cs` part to `ks` as well?

[2020-05-11 22:26] ptitzler commented on #1948
It appears that there are some major changes that I'll have to incorporate as well in the update. Many of the listed commands don't work as is anymore, as outline [here](https://cloud.ibm.com/docs/containers?topic=containers-cs_cli_changelog#10).

[2020-05-12 20:24] jtfogarty commented on #1947
I have the added issue of having no default networks in the gcp project.
I believe the below is causing an error
[code]

[2020-05-12 22:11] jtfogarty commented on #1947
you have bad characters in the subnet
[code]
vs `'`
[code]

[2020-05-12 23:36] #1948 closed

[2020-05-13 16:11] janeman98 commented on #1949
Thanks @YPCC for reporting this.
Would you mind letting us know which part is not working and which variables are missing?

[2020-05-13 16:16] janeman98 commented on #1945
/cc @YujiOshima @gaocegege @richardsliu @hougangliu @johnugeorge @andreyvelich

[2020-05-13 20:43] amygdala opened #1953 "FR: we should document dsl.ExitHandler and exit_op usage"
As seen used on this page without explanation, but not mentioned anywhere else:
https://www.kubeflow.org/docs/pipelines/overview/pipelines-overview/

(a customer is asking...)

[2020-05-13 20:48] amygdala opened #1954 "doc set_*_request as well as set_*_limit annotations"
https://www.kubeflow.org/docs/gke/pipelines/enable-gpu-and-tpu/

Here and elsewhere we mention specifying k8s limits, e.g. `set_gpu_limit`.  We should mention that `set_xxx_request` also works.  e.g. https://github.com/kubeflow/pipelines/blob/62e33c711b12ebeb60d5fb393e9484f2b297bcac/sdk/python/kfp/dsl/_container_op.py#L249

(from a customer query)

[2020-05-14 16:08] janeman98 commented on #1953
/cc @joeliedtke

[2020-05-14 16:12] janeman98 commented on #1954
/cc @joeliedtke

[2020-05-15 12:21] knlp opened #1956 "Access Control for Azure Deployment"
https://www.kubeflow.org/docs/azure/authentication/

The correct way to edit external firewall is to run:
kubectl edit -n istio-system svc/istio-ingressgateway

And add:
  loadBalancerSourceRanges:
  - 10.0.0.0/8
for internal LB
or
  loadBalancerSourceRanges:
  - 130.211.204.1/32
  - 130.211.204.2/32
for external LB

So it would look like this:
  selector:
    app: istio-ingressgateway
    istio:

[2020-05-15 15:24] janeman98 commented on #1956
/cc @berndverst, @vjrantal

[2020-05-16 00:55] #1280 closed

[2020-05-16 00:55] #1066 closed

[2020-05-16 00:55] #802 closed

[2020-05-16 00:55] #623 closed

[2020-05-16 00:55] #859 closed

[2020-05-16 20:15] jlewi commented on #756
Closing as stale.

[2020-05-16 20:15] #756 closed

[2020-05-18 08:15] EsaFazal72 opened #1958 "Pod requires volume podmetadata which is of an unsupported type"
I've installed Kubeflow in Azure Kubernetes Services (AKS) cluster. I created a simple test pipeline to execute in Kubeflow, however, I keep getting an error when I run the pipeline. Following is the error and the pipeline code:

**Error**
`This step is in Failed state with this message: Pod kassandra-9xdk5-901437002 requires volume podmetadata which is of an unsupported type`

**Pipeline Code**
[

[2020-05-18 14:20] jlewi opened #1959 "Lineage tracking docs and examples"
Lineage tracking was introduced back in Kubeflow 1.0. I don't think we have docs or examples highlighting this feature.

It would be great to document its use both  in the context of Kubeflow pipelines and standalone (i.e. using the metadata SDK) to record metadata.

In the context of KFP I believe there are some differences in what data is tracked depending on whether people are using the KFP SDK

[2020-05-18 17:59] jlewi opened #1960 "Add docs for GCP blueprints"
We will want to add documentation to the website for deploying Kubeflow on GCP using blueprints.
Basically these means migrating the relevant markdown docs in the repo to the website.
https://github.com/kubeflow/gcp-blueprints

[2020-05-19 01:03] #1564 closed

[2020-05-19 01:12] animeshsingh commented on #1207
/reopen
related discussion in https://github.com/kubeflow/metadata/issues/225

[2020-05-19 03:49] berndverst commented on #1956
Makes sense to me since Kubeflow cannot be installed without Istio. @knlp would you like to make the PR to the page and tag me for review?

https://github.com/kubeflow/website/blob/master/content/en/docs/azure/authentication.md

[2020-05-20 14:35] #759 closed

[2020-05-20 16:20] janeman98 commented on #1958
/cc @berndverst

[2020-05-20 17:17] berndverst commented on #1958
@EsaFazal72 I think this is the first time I've seen Azure Container Instances used in a Kubeflow Pipeline. Very cool.

Seems like you are still encountering some limitation of ACI. I'll investigate (need to spin up a test cluster with virtual kubelet). Won't get to it until next week unfortunately.

I assume regular AKS nodes work fine?

/assign berndverst

[2020-05-20 17:22] aadityak33 commented on #1611
Hi, Attached is the pipeline with the latest docker images for train, serve, and web-ui. Getting the following error in the web-ui.

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x456452]
goroutine 1 [running]:
github.com/ksonnet/ksonnet/vendor/github.com/ksonnet/ksonnet-lib/ksonnet-gen/ksonnet.parsePaths(0xc42

[2020-05-20 21:35] #856 closed

[2020-05-20 22:35] #1539 closed

[2020-05-21 00:51] jbottum commented on #1705
@zhenghuiwang Hi Zhenghui - We have two users (US Bank and Raymond James) who are tracking this development.   Will this be available in Kubeflow 1.1?  Should we set-up a meeting to discuss the status with the potential users?

[2020-05-21 06:20] EsaFazal72 commented on #1958
@berndverst Thank you so much for acknowledging this issue. Indeed the issue is with ACI. I created another GitHub issue under MicrosoftDocs regarding the same issue but in a different context. I used a YAML Pod spec file to do the same deployment without Kubeflow.  This is the reference to the [issue](https://github.com/MicrosoftDocs/azure-docs/issues/54915).

Also to answer your question: Yes, r

[2020-05-21 18:44] berndverst commented on #1958
@EsaFazal72 I started an internal thread with the PM for Virtual Kubelet. That's probably where the issue lies. We'll take a look.

[2020-05-21 18:48] berndverst commented on #1958
@rbitia See anything not supported by Virtual Kubelet here?

[2020-05-21 18:53] berndverst commented on #1958
@EsaFazal72 since virtual Kubelet does not support GPU nodes with ACI per the referenced issue, what happens if you remove the line regarding the GPU limit?

[2020-05-22 06:00] hayato-maki opened #1966 "Dead links in Visualize Results in the Pipelines UI"
The following links in [Visualize Results in the Pipelines UI](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#introduction), Section **Source of examples on this page** are dead, maybe because of https://github.com/kubeflow/pipelines/pull/2161

- The [tfma component](https://github.com/kubeflow/pipelines/blob/master/components/dataflow/tfma/src/model_analysis.py) which writes out the d

[2020-05-22 11:07] EsaFazal72 commented on #1958
@berndverst Thank you for looking into the issue. I did try the deployment without specifying any GPU limits and it would create the ACI but eventually the container would fail due to lack of CUDA drivers. Indeed it takes exactly 8-10 mins to create the container group. Following are some logs and error messages from the K8s dashboard:

**Logs:**
[code]
**Container Status:**
[code]

[2020-05-22 15:50] janeman98 commented on #1966
Thanks @hayato-maki for reporting this.
It seems this is already reported in issue #1687 and @joeliedtke is working on this.

/assign @joeliedtke

[2020-05-23 03:56] berndverst commented on #1958
@EsaFazal72 so why are you trying to run a GPU image on ACI via Virtual Kubelet if Virtual Kubelet does not support GPUs?

Can you make a different image besides this one dremnio.azurecr.io/platform-poc/ktrain-gpu:latest?

Your alternative is of course bringing up a GPU node.

[2020-05-24 17:26] jlewi commented on #1705
@zhenghuiwang isnt working on this.

We are trying to get docs for using VPC-SC with blueprints ready for 1.1. I give it about 50% confidence that it will land for 1.1

[2020-05-24 17:33] jlewi commented on #1705
Related issue: kubeflow/pipelines#3347

[2020-05-26 10:32] JohnRobinv commented on #1539
May I ask where is the guide to use kfctl set-image-name?

[2020-05-26 19:48] jlewi opened #1968 "[GCP] Document no UI Deployment story for KF 1.1"
There are currently no plans to support Click To Deploy for Kubeflow 1.1 on GCP.
So as part of the Kubeflow 1.1. release we should update the website documentation to point people to deploy using the CLI.

[2020-05-27 09:23] #1958 closed

[2020-05-27 09:24] EsaFazal72 commented on #1958
@berndverst Thanks for the help.

[2020-05-27 12:09] #871 closed

[2020-05-30 08:06] linpingta opened #1973 ""NOVOPRIME" UI seen after kubeflow deploy finish"
Hi guys,

I try to deploy kubeflow with the tutorial https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ ,  after I run "kfctl apply -V -f ${CONFIG_FILE}" and finally I see "Applied the configuration Successfully!",  then I wait half an hour and try to visit "https://<KF_NAME>.endpoints.<project-id>.cloud.goog/" as tutorial described.

However, when I visit  my url, "http://chutkubeflow.endpoints

[2020-05-31 16:52] jbottum commented on #1973
@linpingta Hi Chu - Thanks for your note.   We need more info i.e. which platform, which version of  Kubeflow, which version of K8s, etc.    thanks.

[2020-06-01 09:21] linpingta commented on #1973
@jbottum , thanks for your help.

Platform:  Google Cloud Platform
kubeflow version: kfctl v1.0.2-0-ga476281
k8s version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-20T12:52:00Z", GoVersion:"go1.13.9", Compile
r:"gc", Platform:"linux/amd64"}

please tell me if not enough

[2020-06-01 14:24] jbottum commented on #1973
@linpingta Hi, I dont think that we are formally support KF on K8s 1.18.   Can you use K8s 1.15 or 1.16 ?

[2020-06-02 01:40] linpingta commented on #1973
Actually, I don't configure k8s version, I just configure step by step as https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ described, could you tell me how to change the version of k8s?

[2020-06-02 21:20] amygdala commented on #1941
/assign @amygdala

[2020-06-03 10:11] linpingta commented on #1973
Hi @jbottum , I find I am wrong about URL, because it should be "https://chukubeflow.endpoints.tchu-test.cloud.goog" instead of "https://chutkubeflow.endpoints.tchu-test.cloud.goog",  however, when I visit the new url, it tells "the site can't be reached".

And I try to "curl -k https://chukubeflow.endpoints.tchu-test.cloud.goog -v" , it tells :

    * Rebuilt URL to: https://chukubeflow.endpoints

[2020-06-03 11:41] andreyvelich commented on #1945
Hi @marwan116.

Sorry for the long reply.
This information: https://www.kubeflow.org/docs/components/hyperparameter-tuning/experiment/#metrics-collector doesn't help to enough describe Katib metrics collector?
Also, you can find information about implementation here: https://github.com/kubeflow/katib/blob/master/docs/proposals/metrics-collector.md.

[2020-06-03 15:22] amygdala commented on #1941
The fix is in, but the ref docs need to be regenerated and the site updated.  Not sure of the process for that.
/assign @joeliedtke

[2020-06-03 19:05] marwan116 commented on #1945
Hi @andreyvelich  - thank you for the links - they are quite helpful! I am closing this issue as I wasn't aware of them initially.

[2020-06-04 15:32] finalspy opened #1978 "Missing how to connect to Pipeline REST API for MiniKF on GCP"
I followed the tutorial to install MiniKF on GCP :
https://www.kubeflow.org/docs/started/workstation/minikf-gcp/

Hoping to be able to try the Pipelines REST API in V1.0 but unfortunately this part is missing in the documentation and I can't get it to work.

Please could you help on this by adding some documentation ?

[2020-06-04 15:44] collinarnett opened #1979 "Microk8s for Kubeflow"
https://www.kubeflow.org/docs/started/workstation/getting-started-multipass/

Accessing kubeflow section is out of date since kubeflow now uses is istio as far as I know.

[2020-06-04 16:28] #1979 closed

[2020-06-04 19:32] jbottum commented on #1978
@cspavlou Hey Chris, could you please comment on this?

[2020-06-05 02:38] linpingta commented on #1973
it seems my problem, I try with a new oAuth and a new app, it works now, thanks.

[2020-06-05 02:38] #1973 closed

[2020-06-08 09:06] somnath1077 opened #1980 "An example of recurring pipeline"

[2020-06-08 13:17] jlewi opened #1981 "Docs pointing at FEAST"
We should probably add a link in our docs pointing people at FEAST for a feature store.

One place this could go would be under:
https://www.kubeflow.org/docs/components/

We could either create a new sub page for it or we could just add a link to the FEAST docs on
https://www.kubeflow.org/docs/components/misc/

/assign @woop

[2020-06-08 13:34] woop commented on #1981
Thanks for creating this. Just adding a comment so that I can be assigned.

[2020-06-08 15:21] janeman98 commented on #1980
/cc @joeliedtke

[2020-06-09 03:42] jlewi commented on #1981
@woop If you send me a PR adding yourself to
https://github.com/kubeflow/internal-acls/blob/6451842c1a35ff4794dfe26bcfb02587e252edf9/github-orgs/kubeflow/org.yaml#L230

You can join the Kubeflow ORG so issues can be assigned to you.

[2020-06-09 03:51] woop commented on #1981
Created here: https://github.com/kubeflow/internal-acls/pull/259

[2020-06-09 13:43] jlewi opened #1984 "[Release 1.1] Release Website 1.1"
Opening this issue to track doing a release of the website for Kubeflow 1.1

* We still need to find an owner to drive this (see kubeflow/kubeflow#5022)

* The first step is cutting a 1.0 branch from master providing a stable link to the docs so we can begin updating the docs on master.

* Docs for versioning the website: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#versi

[2020-06-09 13:51] jlewi commented on #1885
Closing this issue. In addition to @sarahmaddox 's comment
deploy.kubeflow.cloud is now deprecated and we recommend folks use the CLI.

[2020-06-09 13:51] #1885 closed

[2020-06-09 13:52] jlewi commented on #1858
Closing this issue because we are moving to blueprints for GCP and not using kfctl.
So you would delete Kubeflow just by running appropriate kubectl commands.
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow

[2020-06-09 13:52] #1858 closed

[2020-06-09 19:33] yashjakhotiya opened #1985 "Service Management API not listed in Deploying Kubeflow on GCP guide"
I had to face an issue related to endpoints for weeks. It turned out that I did not have the Service Management API enabled on my GCP project which I got to know from another issue. The 'Kubeflow on GCP/Deploying Kubeflow/Set up a GCP Project' doc does not list Service Management API as an API to be enabled. The troubleshooting docs generally give only checks to perform and do not necessarily advi

[2020-06-09 20:17] yashjakhotiya opened #1987 "NVIDIA Tesla K80 Accelerators not mentioned in the main Deploy via CLI webpage"
The default GCP configuration needs NVIDIA Tesla K80 Accelerators and zones which provide this accelerator need to be selected. This info is not mentioned in the main Deploy via CLI webpage and is in the Customizing Kubeflow on GKE webpage. Even though a user does not wish to customize their deployments, they need to know this info.

[2020-06-10 11:12] jlewi commented on #1984
It looks like we might want to branch 1.0 on
https://github.com/kubeflow/website/tree/61b5ed89590fe961c26d18da30969f3841dbf93a

After that it looks like we start getting commits related to 1.1

[2020-06-10 20:16] pepecura opened #1996 "Installation Options for Kubeflow Pipelines"
https://www.kubeflow.org/docs/pipelines/installation/overview/

AI Platform pipelines is now beta!

[2020-06-11 13:18] imskr commented on #1981
@jlewi If no one is working. I can work on this!

[2020-06-11 13:20] imskr commented on #1960
/assign @imskr

[2020-06-11 17:32] janeman98 commented on #1996
Thanks @pepecura for opening this issue.
Is there something that we need to address for this issue?

[2020-06-11 21:26] Swikar commented on #1968
/swikar

[2020-06-11 21:27] Swikar commented on #1968
/assign @Swikar

[2020-06-11 21:51] Swikar commented on #1968
You mean delete "Deploy using UI" section completely from doc? https://www.kubeflow.org/docs/gke/deploy/deploy-ui/

[2020-06-12 16:51] RFMVasconcelos commented on #1984
Hi Jeremy,

As soon as I get access to the repo I'll push that branch up.

As far as netlify, is that automatic or are there any additional steps?

[2020-06-12 22:10] mmwebster opened #1997 "Troubleshooting guide directs to delete the wrong thing"
In [troubleshooting instructions for deleting the GKE Certificate](https://www.kubeflow.org/docs/gke/troubleshooting-gke/#gke-certificate-fails-to-be-provisioned), the listed command is `kubectl -n istio-system delete ingress envoy-ingress`, rather than `kubectl -n istio-system delete managedcertificate gke-certificate`

[2020-06-14 15:44] pingsutw commented on #1128
I am interested in working on Chinese documentation for Kubeflow.

[2020-06-15 01:40] gaocegege commented on #1128
@pingsutw Thanks for your interest!

@jlewi

Hi, do we have the owner for the website? Who can help us promote this?

[2020-06-15 13:23] jlewi commented on #1128
@gaocegege What do you mean by OWNER? There are people listed in the OWNERs file but right now we don't have anyone spending 50-100% of their time working on the docs.

[2020-06-15 13:45] jlewi commented on #1984
@RFMVasconcelos

Please read:
https://groups.google.com/forum/#!topic/kubeflow-discuss/pGflW6m9Xrg

And please file PRs.

Is what automatic?

[2020-06-15 13:58] jlewi commented on #1705
Updated docs are here:
https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/deploy_private.md

We either need to copy this over to the website or update the website to point at those docs.

[2020-06-15 14:06] 8bitmp3 commented on #1705
@jlewi I can assist with updating the site (Hugo). Copying it over makes sense, so there's less clicks/friction in terms of user experience. cc @sarahmaddox

[2020-06-15 15:46] janeman98 commented on #1997
Thanks @mmwebster for submitting this issue.
/cc @abhi-g

[2020-06-16 10:26] RFMVasconcelos commented on #1984
Hi @jlewi, thank you for the guidance!!

I'm going through all the guidelines. Signed CLA, ready to start contributing :)

Will do! Started out with this one: https://github.com/kubeflow/website/pull/1999

I haven't used netlify before. Was wondering what I needed to know to render the website, or if it was automatic.

[2020-06-16 11:48] 8bitmp3 commented on #1984
Hey @RFMVasconcelos I left some suggestions in your PR https://github.com/kubeflow/website/pull/1999. (I'm not an official editor but a few things may need to be reviewed by you before the official PR review.)

[2020-06-16 12:32] jlewi commented on #1984
@RFMVasconcelos The website is automatically updated once PR is merged.

Checkout the quickstart: https://github.com/kubeflow/website#quickstart

When you create a PR it will automatically create preview for you of the rendered website.

[2020-06-16 15:23] shawnzhu opened #2000 "[IBM cloud] provides doc on how to secure kubeflow deployment"
The default deployment via `kfctl_ibm.yaml` will result a gateway exposed via HTTP instead of HTTPS. while there is method to make HTTPS possible with also other tweaks to achieve a secure multi-tenant setup, including:

* [Direct encrypted traffic from IBM Cloud Kubernetes Service Ingress to Istio Ingress Gateway](https://istio.io/latest/blog/2020/alb-ingress-gateway-iks/)
* [Be able to authentic

[2020-06-16 16:25] janeman98 commented on #2000
Thanks @shawnzhu for submitting issue.
Will you be interested in submitting a PR to add such info?

[2020-06-16 17:35] 8bitmp3 commented on #1984
@jlewi Will you be open to accepting PRs about streamlining Kubeflow's [Getting Started](https://www.kubeflow.org/docs/started/getting-started/) section? I think it was @LyleHenkeman who posted about it [here](https://groups.google.com/forum/#!topic/kubeflow-discuss/G0aDNvCBm-U).  If you are open to improvements, I can work on it and submit a PR. @LyleHenkeman - I did spend a bit of time working t

[2020-06-16 17:36] shawnzhu commented on #2000
Yes, was going to create a PR soon

[2020-06-16 22:23] jlewi commented on #1984
@8bitmp3 Yes; would you mind opening an issue and maybe outlining your changes before getting started on a PR?

[2020-06-16 22:25] jlewi commented on #1984
V1.0-branch has been cut:
https://github.com/kubeflow/website/tree/v1.0-branch
at
https://github.com/kubeflow/website/tree/61b5ed89590fe961c26d18da30969f3841dbf93a

[2020-06-16 22:26] jlewi commented on #1984
Next steps is to follow:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#creating-and-publishing-a-website-branch-for-vxy

To get the branch deployed

[2020-06-16 22:29] jlewi commented on #1984
The deployment on the `v1.0-branch` is failing.

[code]

[2020-06-16 22:32] jlewi commented on #1984
Not sure why that's only happening on the branch. We will need to get that fixed.
Does anyone want to investigate?

[2020-06-16 23:38] jlewi opened #2001 "Deploy failing for v1.0 branch missing npm package"
Per #1984 I cut a 1.0 branch. Netlify auto-triggered a deploy but the deploy is failing. The logs are
below.

It looks like an npm package `postcss-cli` is missing.

So far it looks like PR previews and master is deploying fine. Not sure why that is.

[code]

[2020-06-16 23:40] jlewi commented on #2001
@joeliedtke @RFMVasconcelos  @rmgogogo @Bobgy @animeshsingh does someone want to investigate?

Deploying from master works just fine.

[2020-06-17 12:45] woop commented on #1981
@imskr I've started working on this, but happy to collaborate if you want. I'm on the Kubeflow Slack if you want to discuss.

[2020-06-17 23:20] joeliedtke commented on #2001
/assign

I'll look into this.

[2020-06-18 12:10] Bobgy opened #2003 "[gcp] granting users to kubeflow permission doc can hardly be found"
Here's the doc
https://www.kubeflow.org/docs/gke/customizing-gke/#add-users-to-kubeflow

IMO, it should probably belong to a doc by itself to make sure people don't miss it.

[2020-06-18 12:10] Bobgy commented on #2003
/cc @jlewi

[2020-06-19 03:28] ctrahey opened #2005 "Install Kubeflow AWS Instructions Missing Key Information"
https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

This page mentions setting `$AWS_CLUSTER_NAME`, but my research shows that more is necessary to get Kubeflow to play nicely with EKS. Specifically, the `metadata.name` field in the applied yaml must exactly match the EKS cluster name, in order for the installation to understand that the cluster is indeed an EKS cluster, even if the `$AWS_

[2020-06-19 03:30] ctrahey commented on #2005
More specifically, `metadata.name` is passed to [this AWS API url](https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeCluster.html) (via the AWS Go SDK). I'm not certain if that mean an exact match, or if some mutation happens along the way.

[2020-06-19 03:33] ctrahey commented on #2005
[Here is a Slack thread](https://kubeflow.slack.com/archives/CKBA5D0MU/p1591907416318600) with a little more context.
Also adding this to improve the discoverability of the solution for any searchers:

Ensuring that `metadata.name` is the same as your EKS cluster name solves this error:
[code]

[2020-06-19 13:44] PatrickXYS commented on #2005
Thanks for proposing the issue, I'll help here.

/assign

[2020-06-19 14:07] jlewi opened #2006 "Update contributor guide with responsibilities of PR authors about reviewers"
We should capture the information in this comment
https://github.com/kubeflow/kubeflow/issues/4889#issuecomment-646316171

In the contributor guide

/assign @lalithvaka

[2020-06-19 21:00] joeliedtke commented on #2001
/close

The deploy is working now that the configuration has been updated for branch deployments.

[2020-06-19 21:00] #2001 closed

[2020-06-19 21:35] jlewi commented on #1984
#2001 is fixed. v1-0-branch is now serving
https://v1-0-branch--competent-brattain-de2d6d.netlify.app/

There was an existing cname record

For v1.0.kubeflow.org ; it was point at
https://master--competent-brattain-de2d6d.netlify.app/

I updated it to point at the v1-0 branch

There was a cname record for www.kubeflow.org pointing at 0.7; I updated it to point at master.
I'm not sure that CNAME re

[2020-06-19 21:38] jlewi commented on #1984
https://v1-0.kubeflow.org/

Giving a DNS error.
DNS_PROBE_FINISHED_NXDOMAIN

[code]

Lets give it a bit more time to propogate

[2020-06-19 21:48] jlewi commented on #1984
There is a typo in the CNAME record; there should be a trailing "/" on the value. I fixed that; still waiting for it to propogate.

[2020-06-19 21:50] jlewi commented on #1984
[code]

Returning 404

[2020-06-19 22:08] jlewi commented on #1984
Filed a support request to the certificate updated; still no idea why I'm still getting 404s.

[2020-06-19 22:12] 8bitmp3 commented on #1984
Same, "Not Found".

[2020-06-19 22:17] 8bitmp3 commented on #2003
Hey @Bobgy, do you think the _Add Users to Kubeflow on GKE_ section deserves its own page, such as _Authenticating Kubeflow to GCP_, which lives here: https://www.kubeflow.org/docs/gke/authentication/? I ran "add users to kubeflow" in the internal search powered by Google and there was nothing on page 1:

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/19637339/8518326

[2020-06-19 23:43] jlewi commented on #1984
The 404 is fixed. Netlify told me that I had the subdomain name wrong; it needs to match the branch name so the cname record needs to be "v1-0-branch"
https://v1-0-branch.kubeflow.org/

This is now accessible but with an SSL error. Will ask Netlify to take care of the certificate

[2020-06-20 01:02] jlewi commented on #1984
Certificate should be fixed as well.

[2020-06-20 01:17] jlewi commented on #1984
I followed
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#changing-the-version-wwwkubefloworg-points-to

to change www.kubeflow.org to point at the v1-0-branch

It looks like  www.kubeflow.org was still pointing at master; so I triggered a deploy.

Looks like it is now pointing at the v1.0-branch
https://www.kubeflow.org/docs/components/serving/kfserving/#install-with-kubef